﻿@{
    Layout = null;
    var lstBrandProduct = ViewBag.ListBrandProduct as List<LOS.DAL.DTOs.BrandProductDetail>;
}
<link href="~/css/form.css?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS" rel="stylesheet" />
<style>

    .m-font-danger {
        color: red;
    }
</style>
<div class="modal fade" id="modal_create_car" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="header_create_car">Thêm mới xe </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form class="m-form m-form--fit m-form--label-align-right" id="form_create_car">
                <div class="modal-body">
                    <div class="m-portlet__body">
                        <input type="hidden" name="Id" id="hdd_create_productId" value="0" />
                        <div class="form-group m-form__group row">
                            <label for="example-text-input" class="col-3 col-form-label">Hãng sản xuất </label>
                            <div class="col-9">
                                <div class="m-form__control">
                                    <select class="form-control m-select2" name="BrandProductId" id="txt_create_brand_product_id">
                                        @if (lstBrandProduct != null && lstBrandProduct.Count > 0)
                                        {
                                            <option>Vui lòng chọn hãng sản xuất</option>
                                            foreach (var item in lstBrandProduct)
                                            {
                                                <option value="@item.Id">@item.Name</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group m-form__group row">
                            <label for="example-text-input" class="col-3 col-form-label">Loại xe </label>
                            <div class="col-9">
                                <div class="m-form__control">
                                    <select class="form-control m-select2 select2-selection__placeholder" name="ProductTypeId" id="txt_create_type_product_id">
                                        <option>Vui lòng chọn loại xe</option>
                                        <option value="@((int)LOS.Common.Extensions.EnumProductTypeId.XeGa)">@LOS.Common.Helpers.ExtentionHelper.GetDescription(LOS.Common.Extensions.EnumProductTypeId.XeGa)</option>
                                        <option value="@((int)LOS.Common.Extensions.EnumProductTypeId.XeSo)">@LOS.Common.Helpers.ExtentionHelper.GetDescription(LOS.Common.Extensions.EnumProductTypeId.XeSo)</option>
                                        <option value="@((int)LOS.Common.Extensions.EnumProductTypeId.XeCon)">@LOS.Common.Helpers.ExtentionHelper.GetDescription(LOS.Common.Extensions.EnumProductTypeId.XeCon)</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group m-form__group row">
                            <label for="example-text-input" class="col-3 col-form-label">Tên sản phẩm <span class="m-font-danger">*</span></label>
                            <div class="col-9">
                                <div class="m-input-icon m-input-icon--left">
                                    <input type="text" class="form-control m-input inputCreate" placeholder="Vui lòng nhập tên sản phẩm" name="Name" id="txt_create_name">
                                </div>
                            </div>
                        </div>

                        <div class="form-group m-form__group row">
                            <label for="example-text-input" class="col-3 col-form-label">Tên đầy đủ <span class="m-font-danger">*</span></label>
                            <div class="col-9">
                                <div class="m-input-icon m-input-icon--left">
                                    <input type="text" class="form-control m-input inputCreate" placeholder="Vui lòng nhập tên đầy đủ" name="FullName" id="txt_create_fullname">
                                    <div class="col-12" style="padding-top: 15px;" id="div-note">
                                        <span style="font-size: 14px; color: red;">Lưu ý***: </span> <label style="font-size: 14px; color: #808080;"><i> nhập tên đầy đủ theo cú pháp: Hãng xe + Tên xe + Năm sản xuất</i></label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @*<div class="form-group m-form__group row">
                                <label for="example-text-input" class="col-3 col-form-label">Giá <span class="m-font-danger">*</span></label>
                                <div class="col-9">
                                    <div class="m-input-icon m-input-icon--left">
                                        <input type="text" class="form-control m-input inputCreate inputAmountVND" name="strPrice" id="txt_create_price">
                                    </div>
                                </div>
                            </div>*@

                        <div class="form-group m-form__group row">
                            <label for="example-text-input" class="col-3 col-form-label">Năm sản xuất <span class="m-font-danger">*</span></label>
                            <div class="col-9">
                                <div class="m-input-icon m-input-icon--left">
                                    <input type="number" class="form-control m-input inputCreate" min="0" placeholder="Vui lòng nhập năm sản xuất" name="Year" id="txt_create_year">
                                </div>
                            </div>
                        </div>

                        <div class="form-group m-form__group row">
                            <label for="example-text-input" class="col-3 col-form-label">Loại phanh </label>
                            <div class="col-9">
                                <div class="m-form__control">
                                    <select class="form-control m-select2 select2-selection__placeholder" name="BrakeType" id="txt_create_brake_type">
                                        <option>Vui lòng chọn loại phanh</option>
                                        <option value="@((int)LOS.Common.Extensions.BrakeType.phanh_co)">@LOS.Common.Helpers.ExtentionHelper.GetDescription(LOS.Common.Extensions.BrakeType.phanh_co)</option>
                                        <option value="@((int)LOS.Common.Extensions.BrakeType.abs)">@LOS.Common.Helpers.ExtentionHelper.GetDescription(LOS.Common.Extensions.BrakeType.abs)</option>
                                        <option value="@((int)LOS.Common.Extensions.BrakeType.cbs)">@LOS.Common.Helpers.ExtentionHelper.GetDescription(LOS.Common.Extensions.BrakeType.cbs)</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group m-form__group row">
                            <label for="example-text-input" class="col-3 col-form-label">Loại vành </label>
                            <div class="col-9">
                                <div class="m-form__control">
                                    <select class="form-control m-select2 select2-selection__placeholder" name="RimType" id="txt_create_rim_type">
                                        <option>Vui lòng chọn loại vành</option>
                                        <option value="@((int)LOS.Common.Extensions.RimType.nan_hoa)">@LOS.Common.Helpers.ExtentionHelper.GetDescription(LOS.Common.Extensions.RimType.nan_hoa)</option>
                                        <option value="@((int)LOS.Common.Extensions.RimType.vanh_duc)">@LOS.Common.Helpers.ExtentionHelper.GetDescription(LOS.Common.Extensions.RimType.vanh_duc)</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group m-form__group row">
                            <label for="example-text-input" class="col-3 col-form-label">Tên ngắn <span class="m-font-danger">*</span></label>
                            <div class="col-9">
                                <div class="m-input-icon m-input-icon--left">
                                    <input type="text" class="form-control m-input inputCreate" placeholder="Vui lòng nhập tên ngắn" name="ShortName" id="txt_create_shortname">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-4">
                    </div>
                    <div class="col-8">
                        <button type="button" class="btn btn-primary" id="btn_save_car" onclick="ProductManageModule.AddOrUpdateProduct(this,event);">Lưu lại</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
