﻿@{
    ViewData["Title"] = "Báo cáo thống kê theo nguồn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@await Component.InvokeAsync("Breadcrumb", new { ModuleName = "JOB_MANAGER" })*@
<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        THỐNG KÊ NGUỒN
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <!--begin: Search Form -->
            <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                <div class="row align-items-center">
                    <div class="col-xl-8 order-2 order-xl-1">
                        <div class="form-group m-form__group row align-items-center">
                            <div class="col-md-4">
                                <div class="form-group m-form__group">
                                    <label>
                                        Tìm tên nguồn
                                    </label>
                                    <div class="m-input-icon m-input-icon--left">
                                        <input type="text" class="form-control m-input" placeholder="Tên nguồn" id="filterName">
                                        <span class="m-input-icon__icon m-input-icon__icon--left">
                                            <span>
                                                <i class="la la-search"></i>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group m-form__group">
                                    <label>
                                        Từ ngày
                                    </label>
                                    <div class="input-group date">
                                        <input type="text" class="form-control m-input" placeholder="Từ ngày" id="m_datepicker_1_modal">
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="la la-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group m-form__group">
                                    <label>
                                        Đến ngày
                                    </label>
                                    <div class="input-group date">
                                        <input type="text" class="form-control m-input" placeholder="Đến ngày" id="m_datepicker_2_modal">
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="la la-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<div class="col-md-2">
                                <div class="form-group m-form__group">
                                    <label>
                                        Tìm kiếm
                                    </label>
                                    <div class="input-group date">
                                        <input type="button" class="btn btn-success" value="Tìm kiếm" id="btnSearchDay">
                                    </div>
                                </div>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
            <!--end: Search Form -->
            <!--begin: Datatable -->
            <table class="m-datatable" width="100%"></table>
        </div>
    </div>
</div>
<div class="modal fade" id="m_modal_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" id="modelJob">
    </div>
</div>

@section Scripts
    {
    <script src="/js/MKTReportModule.js" type="text/javascript"></script>

}

