﻿/*
Copyright (c) 2003-2021, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.md or https://ckeditor.com/legal/ckeditor-oss-license
*/

/*
editor_gecko.css
==================
This file contains styles to used by all Gecko based browsers (Firefox) only.
*/

/* Base it on editor.css, overriding it with styles defined in this file. */
@import url("editor.css");

.cke_bottom {
    padding-bottom: 3px;
}

.cke_combo_text {
    margin-bottom: -1px;
    margin-top: 1px;
}
