﻿@using LOS.Common.Extensions;
@using LOS.DAL.DTOs;
@{
    Layout = null;
}
<style>
    .m-font-danger {
        color: red;
    }
</style>
<div class="modal fade" id="modal_create_document_type" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="header_create_document_type">Tạo mới danh mục chứng từ </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form class="m-form m-form--fit m-form--label-align-right" id="form_create_document_type">
                <div class="modal-body">
                    <div class="m-portlet__body">
                        <input type="hidden" name="Id" id="hdd_create_userID" value="0" />

                        <div class="form-group m-form__group row">
                            <div class="col-3"></div>
                            <div class="col-9" style="padding-top: 3px;">
                                <div class="m-radio-inline">
                                    <label class="m-radio m-radio--info">
                                        <input type="radio" name="Category" checked value="0" onclick="DocumentModule.ChangeCategory(this.value)"> Danh mục cha
                                        <span></span>
                                    </label>
                                    <label class="m-radio m-radio--info">
                                        <input type="radio" name="Category" value="1" onclick="DocumentModule.ChangeCategory(this.value)"> Danh mục con
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <!--<div class="form-group m-form__group row">
                            <label class="col-lg-3 col-form-label">
                                Sản phẩm<span class="m-font-danger">*</span>
                            </label>
                            <div class="col-lg-9">
                                <select class="form-control m-input m-select2" name="ProductId" id="sl_create_productId" onchange="DocumentModule.ShowChangeParent(this.value)">
                                    <option value="0">Chọn sản phẩm</option>
                                    <option value="@((int)EnumProductCredit.MotorCreditType_CC)">@LOS.Common.Helpers.ExtentionHelper.GetDescription(EnumProductCredit.MotorCreditType_CC)</option>
                                    <option value="@((int)EnumProductCredit.MotorCreditType_KCC)">@LOS.Common.Helpers.ExtentionHelper.GetDescription(EnumProductCredit.MotorCreditType_KCC)</option>
                                    <option value="@((int)EnumProductCredit.OtoCreditType_CC)">@LOS.Common.Helpers.ExtentionHelper.GetDescription(EnumProductCredit.OtoCreditType_CC)</option>
                                </select>
                                <span class="m-form__help" style="display:none">
                                </span>
                            </div>
                        </div>-->
                        <!-- Thêm hình thức sở hữu nhà và type quy tắc thẩm định công việc-->
                        <!--<div class="form-group m-form__group row">
                            <label class="col-lg-3 col-form-label">
                                Hình thức sở hữu nhà
                            </label>
                            <div class="col-lg-9">
                                <select class="form-control m-input m-select2" name="TypeOwnerShip" id="sl_typeOwnerShip">
                                    <option value="0" selected="selected">Chọn hình thức sở hữu</option>
                                    <option value="@((int)EnumTypeOwnerShipDocument.NSH)">@LOS.Common.Helpers.ExtentionHelper.GetDescription(EnumTypeOwnerShipDocument.NSH)</option>
                                    <option value="@((int)EnumTypeOwnerShipDocument.NT)">@LOS.Common.Helpers.ExtentionHelper.GetDescription(EnumTypeOwnerShipDocument.NT)</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-3 col-form-label">
                                Quy tắc thẩm định công việc
                            </label>
                            <div class="col-lg-9">
                                <select class="form-control m-input m-select2" id="sl_workRuleType" multiple="multiple">
                                    <option></option>
                                    <option value="@((int)EnumWorkRuleType.LamThueLuongChuyenKhoan)">@LOS.Common.Helpers.ExtentionHelper.GetDescription(EnumWorkRuleType.LamThueLuongChuyenKhoan)</option>
                                    <option value="@((int)EnumWorkRuleType.LuongTienMatCoBHXH)">@LOS.Common.Helpers.ExtentionHelper.GetDescription(EnumWorkRuleType.LuongTienMatCoBHXH)</option>
                                    <option value="@((int)EnumWorkRuleType.LuongTienMatKhongBHXH)">@LOS.Common.Helpers.ExtentionHelper.GetDescription(EnumWorkRuleType.LuongTienMatKhongBHXH)</option>
                                    <option value="@((int)EnumWorkRuleType.KinhDoanhCoDangKy)">@LOS.Common.Helpers.ExtentionHelper.GetDescription(EnumWorkRuleType.KinhDoanhCoDangKy)</option>
                                    <option value="@((int)EnumWorkRuleType.KinhDoanhKhongDangKy)">@LOS.Common.Helpers.ExtentionHelper.GetDescription(EnumWorkRuleType.KinhDoanhKhongDangKy)</option>
                                    <option value="@((int)EnumWorkRuleType.LaoDongTuDo)">@LOS.Common.Helpers.ExtentionHelper.GetDescription(EnumWorkRuleType.LaoDongTuDo)</option>
                                </select>
                            </div>
                            <input type="hidden" name="ObjectRuleType" id="ObjectRuleType" />
                        </div>-->
                        <!--End-->
                        <div class="form-group m-form__group row" id="div_create_parentId" style="display:none">
                            <label class="col-lg-3 col-form-label">
                                Danh mục<span class="m-font-danger">*</span>
                            </label>
                            <div class="col-lg-9">
                                <select class="form-control m-input m-select2" name="ParentId" id="sl_create_parentId">
                                </select>
                                <span class="m-form__help" style="display:none">
                                </span>
                            </div>
                        </div>



                        <div class="form-group m-form__group row">
                            <label for="example-text-input" class="col-3 col-form-label">Loại chứng từ <span class="m-font-danger">*</span></label>
                            <div class="col-9">
                                <input type="text" class="form-control m-input inputsearch" name="Name" id="txt_create_document_type_name" placeholder="Nhập loại chứng từ">
                            </div>
                        </div>
                        @*<div class="form-group m-form__group row">
                            <label for="example-text-input" class="col-3 col-form-label">Số ảnh </label>
                            <div class="col-9">
                                <input type="text" class="form-control m-input inputsearch" name="NumberImage" id="txt_create_document_type_number_image" placeholder="Nhập tối thiểu số ảnh phải upload">
                            </div>
                        </div>

                        <div class="form-group m-form__group row">
                            <label for="Status" class="col-3 col-form-label">Upload từ mobile <span class="m-font-danger">*</span></label>
                            <div class="col-9" style="padding-top: 3px;">
                                <div class="m-radio-inline">
                                    <label class="m-radio m-radio--success">
                                        <input type="radio" name="MobileUpload" checked value="@((int)LOS.Common.Extensions.EnumMobileUpload.All)"> Cả 2 hình thức
                                        <span></span>
                                    </label>
                                    <label class="m-radio m-radio--info">
                                        <input type="radio" name="MobileUpload" value="@((int)LOS.Common.Extensions.EnumMobileUpload.Album)"> Album
                                        <span></span>
                                    </label>
                                    <label class="m-radio m-radio--danger">
                                        <input type="radio" name="MobileUpload" value="@((int)LOS.Common.Extensions.EnumMobileUpload.Live)"> Chụp/quay trực tiếp
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>*@

                        <div class="form-group m-form__group row">
                            <label for="Status" class="col-3 col-form-label">Trạng thái <span class="m-font-danger">*</span></label>
                            <div class="col-9" style="padding-top: 3px;">
                                <div class="m-radio-inline">
                                    <label class="m-radio m-radio--success">
                                        <input type="radio" name="IsEnable" checked value="@((int)LOS.Common.Extensions.EnumStatusBase.Active)"> Kích hoạt
                                        <span></span>
                                    </label>
                                    <label class="m-radio m-radio--danger">
                                        <input type="radio" name="IsEnable" value="@((int)LOS.Common.Extensions.EnumStatusBase.Locked)"> Chưa kích hoạt
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group m-form__group row">
                            <label for="Status" class="col-3 col-form-label">Mô tả </label>
                            <div class="col-9" style="padding-top: 3px;">
                                <textarea id="txt_create_document_type_guide"></textarea>
                                <input type="hidden" id="hdd_Guide" name="Guide" />
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-4">
                    </div>
                    <div class="col-8">
                        <button type="button" class="btn btn-primary" onclick="DocumentModule.AddOrUpdate(this,event)">Lưu lại</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    </div>
                </div>   
                <input type="hidden" name="Version" id="Version"  />
                <input type="hidden" name="CreatedTime" id="CreatedTime"  />
            </form>
        </div>
    </div>
</div>
