﻿@using LOS.DAL.DTOs;
@using LOS.Common.Extensions;
@model LoanBriefContractFinancialAgreement
@{
    Layout = null;
}
<style>
    table, td, th {
        border: 1px solid black;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }
</style>
<div style="padding-top: 30px;">
    <div style="text-align: center;">
        <strong style="text-transform: uppercase; font-size: 16px;">PHỤ LỤC THỎA THUẬN CẦM CỐ TÀI SẢN</strong>
    </div>
    <div style="text-align: center; padding-top: 5px;">
        Ngày ................. tháng ................. năm .................
    </div>
    <div style="font-size: 13px; padding-top: 10px; padding-left: 15px;">
        <div>
            <strong>Các bên gồm:</strong>
        </div>
        <div style="padding-bottom: 3px;">
            <strong>ĐẠI DIỆN BÊN NHẬN CẦM CỐ: CÔNG TY CỔ PHẦN TẬP ĐOÀN TIMA (Bên A)</strong>
        </div>
        <div>Địa chỉ: Tầng 9, tòa nhà Gold Tower, số 275 đường Nguyễn Trãi, P. Thanh Xuân Trung, Q. Thanh Xuân, TP. Hà Nội, Việt Nam</div>
        <div>Đại diện bởi: ông TRẦN THẾ VĨNH &nbsp;&nbsp;	Chức vụ: TỔNG GIÁM ĐỐC</div>
        <div style="padding-bottom: 3px;">
            <strong>ĐẠI DIỆN BÊN CẦM CỐ: ÔNG/BÀ ………………………………………. (Bên B)</strong>
        </div>
        <div>
            Họ và tên: @Html.Raw(Model != null && !string.IsNullOrEmpty(Model.FullName) ? "<b>" + Model.FullName + "</b>" : "………………………………………………………………………..")
        </div>
        <div>
            Số CMND/CCCD/Hộ chiếu: @Html.Raw(Model != null && !string.IsNullOrEmpty(Model.NationalCard) ? "<b>" + Model.NationalCard + "</b>" : "……………………………………………………")
        </div>
        <div>
            Địa chỉ thường trú: @Html.Raw(Model != null && !string.IsNullOrEmpty(Model.HouseholdAddress) ? "<b>" + Model.HouseholdAddress + "</b>" : "………………………………………………………………")
        </div>
        <div>
            Địa chỉ hiện tại: @Html.Raw(Model != null && !string.IsNullOrEmpty(Model.ResidentAddress) ? "<b>" + Model.ResidentAddress + "</b>" : "…………………………………………………………………")
        </div>
        <div>
            Các bên đồng ý ký kết Phụ lục Thỏa thuận Thỏa thuận cầm cố tài sản này với điều kiện và điều khoản như sau:
        </div>
        <div>
            <div style="margin-left: -15px !important; float: left;">
                <strong>1.</strong>
            </div>
            <div style="float: left;">
                <strong>Mục đích cầm cố:</strong>
            </div>
        </div>
        <div style="width: 100%; float: left;">
            Bên B đồng ý cầm cố tài sản như mô tả tại Điều 2 để làm tài sản bảo đảm cho khoản vay của bên B theo Thoả thuận Tài chính cá nhân số ………………. Ký ngày ……… tháng …………năm ……………
        </div>
        <div style="width: 100%; float: left;">
            <div style="margin-left: -15px !important; float: left;">
                <strong>2.</strong>
            </div>
            <div style="float: left;">
                <strong>Tài sản cầm cố</strong>
            </div>
        </div>
        <div>
            <table style="font-size: 13px;">
                <tr>
                    <td>
                        Đăng ký xe số:
                    </td>
                    <td>
                        Biển số xe:
                        @if (Model.ProductId != null && Model.ProductId == (int)LOS.Common.Extensions.EnumProductCredit.OtoCreditType_CC)
                        {
                            <span>@Html.Raw(!string.IsNullOrEmpty(Model.PlateNumberCar) ? "<b>" + Model.PlateNumberCar + "</b>" : "")</span>
                        }
                        else
                        {
                            <span>@Html.Raw(!string.IsNullOrEmpty(Model.PlateNumber) ? "<b>" + Model.PlateNumber + "</b>" : "")</span>
                        }
                    </td>
                </tr>
                <tr>
                    <td colspan="2">Tên chủ xe:</td>
                </tr>
                <tr>
                    <td>
                        Nhãn hiệu:
                        @if (Model.ProductId != null && Model.ProductId == (int)LOS.Common.Extensions.EnumProductCredit.OtoCreditType_CC)
                        {
                            <span>@Html.Raw(!string.IsNullOrEmpty(Model.CarManufacturer) ? "<b>" + Model.CarManufacturer + "</b>" : "")</span>
                        }
                        else
                        {
                            <span>@Html.Raw(!string.IsNullOrEmpty(Model.BrandName) ? "<b>" + Model.BrandName + "</b>" : "")</span>
                        }
                    </td>
                    <td>Số loại:</td>
                </tr>
                <tr>
                    <td>Màu sơn xe: </td>
                    <td>Dung tích: </td>
                </tr>
                <tr>
                    <td>
                        Số khung:
                        @Html.Raw(!string.IsNullOrEmpty(Model.Chassis) ? "<b>" + Model.Chassis + "</b>" : "")
                    </td>
                    <td>
                        Số máy:
                        @Html.Raw(!string.IsNullOrEmpty(Model.Engine) ? "<b>" + Model.Engine + "</b>" : "")
                    </td>
                </tr>
                <tr>
                    <td>Ngày cấp:  </td>
                    <td>Nơi cấp: </td>
                </tr>
            </table>
        </div>

        <div>
            <div style="margin-left: -15px !important; float: left;">
                <strong>3.</strong>
            </div>
            <div style="float: left;">
                <strong>Xử lý tài sản bảo đảm</strong>
            </div>
        </div>

        <div>
            Ngay khi xảy ra một Sự Kiện Vi Phạm được quy định tại Thỏa Thuận Tài Chính, Đại diện Bên Nhận cầm cố có quyền xử ly Tài sản Bảo Đảm theo một trong các phương thức sau:
        </div>
        <div>
            -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	Bán Tài sản Bảo Đảm;
        </div>
        <div>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	Nhận chính Tài sản Bảo Đảm thay thế cho việc Bên B phải thanh toán Số Tiên Phải Thanh Toán;</div>
        <div>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	Các phương thức khác, bao gồm nhưng không giới hạn: cho thuê, cho phép bên thứ ba khai thác và sử dụng Tài sản Bảo Đảm mà không cần có sự đồng ý của Bên B.</div>
        <div>Bên B ủy quyên và không hủy ngang việc ủy quyền cho Bên A thay mặt và nhân danh Bên B ký kết các hợp đồng và tài liệu, thực hiện các công việc mà theo ý kiến của Bên A là cân thiết để xử lý Tài sản Bảo Đảm. Bên A và Bên B tại đây đồng ý rằng trong trường hợp số tiền thu được từ việc xử lý Tài sản Bảo Đảm nhỏ hơn SỐ tiền Phải Thanh Toán, số tiền chưa được thanh toán được xác định là nghĩa vụ không được bảo đảm ("Số Tiền Chưa Được Thanh Toán"). Bên B có nghĩa vụ (i) trả số Tiên Chưa Được Thanh Toán cho Bên A, hoặc (ii) bổ sung tài sản bảo đảm khác theo yêu câu cụ thể của Bên A.</div>
        <div>
            <div style="margin-left: -15px !important; float: left;">
                <strong>4.</strong>
            </div>
            <div style="float: left;">
                <strong>Gửi giữ Tài sản Bảo Đảm:</strong>
            </div>
        </div>
        <div style="width: 100%; float: left;">
            (i)	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sau khi Tài sản Bảo Đảm đã được Bên B chuyển giao hợp lệ cho Bên A theo quy định của pháp luật về cầm cố tài sản, Bên A đồng ý gửi Tài sản Bảo Đảm cho Bên B, và Bên B đồng ý giữ Tài sản Bảo Đảm cho Bên A theo quy định của Thỏa Thuận Tài Chính này và quy định của pháp luật có liên quan. Bên A là Bên Gửi Tài Sản, và Bên B là Bên Giữ tài sản.
            Thời hạn gửi giữ Tài sản Bảo Đảm: tương ứng với Thời hạn vay và các lần gia hạn của Thời hạn vay.
            Các Bên đồng ý rằng Bên Gửi Tài sản không phải trả tiền công, chi phí bảo quản Tài Sản Bảo Đảm hay bất kỳ lơi ích vật chất nào cho Bên Giữ Tài sản.
        </div>
        <div style="width: 100%; float: left;">
            (ii) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mặc dù có quy định về thời hạn gửi giữ, Bên Gửi Tài sản và Bên Giữ Tài sản đồng ý rằng Bên Gửi Tài sản có quyền yêu cầu lấy lại Tài sản Bảo Đảm, và Bên Giữ Tài sản phải giao lại Tài sản Bảo Đảm cho Bên Gửi tài sản ngay khi nhận được yêu cầu của Bên Gửi Tài sản tại bất kỳ thời điểm nào trong thời hạn gửi giữ. Nếu Tài Sản Bảo Đảm không được hoàn trả cho Bên Gửi Tài sản theo yêu cầu, Bên Gửi Tài Sản có toàn quyên tự mình thực hiện hoặc thuê một bên thứ ba tiến hành thu giữ Tài Sản Bảo Đảm. trong trường hợp này, Bên Giữ Tài sản phải hoàn toàn chịu trách nhiệm đối với bất kỳ thiệt hại, mất mát, hư tổn nào xảy ra đối với Tài sản Bảo Đảm, đồng thời chịu bồi thường thiệt hại theo quy định của pháp luật đối với bât kỳ thiệt hại, mất mát, hư tổn nào xảy ra với Tài sản Bao đảm do hành vi khônq giao trả Tài sản Bảo Đảm theo yêu cầu của Bên Gửi Tài sản, bao gôm cả chi phí Bên Gửi Tài sản phải trả cho bên thứ ba để tiến hành thu giữ Tài sản Bảo Đảm.
        </div>
        <div style="width: 100%; float: left;">
            <div style="margin-left: -15px !important; float: left;">
                <strong>5.</strong>
            </div>
            <div style="float: left;">
                <strong>Thỏa thuận khác</strong>
            </div>
        </div>
        <div style="width: 100%; float: left;">
            Trong mọi trường hợp, không cần sự đồng ý của Bên Giữ Tài Sản, Bên Gửi Tài Sản có quyền  kiểm  tra, xử lý, thu hồi tài sản mà không cần có sự đồng ý của Bên Giữ Tài Sản. Bên Gửi Tài sản được quyền tự do ra vào nơi giữ Tài sản Bảo Đảm, và/hoặc chỉ định, ủy quyền cho bất kỳ bên thứ ba nào thay mặt mình ra vào nơi giữ Tài sản Bảo Đảm để thực hiện công việc nêu trên
            Thỏa thuận này có hiệu lực kể từ ngày ký.
        </div>

        <div style="float: left; width: 50%; text-align: center;padding-top: 10px;">
            <div>
                <strong>ĐẠI DIỆN BÊN NHẬN CẦM CỐ</strong>
            </div>
            <div style="padding-top: 70px;">
                <strong>
                    Tổng Giám đốc<br />
                    Trần Thế Vĩnh
                </strong>
            </div>
        </div>
        <div style="float: right; width: 50%; text-align: center;">
            <div>
                <strong>ĐẠI DIỆN BÊN CẦM CỐ</strong>
            </div>
        </div>

    </div>
</div>
