﻿@using LOS.DAL.DTOs;
@model LoanBriefCommittedPaper
@{
    Layout = null;
}
<div style="padding-top: 30px;">
    <div style="text-align: center;">
        <strong style="text-transform: uppercase; font-size: 18px;">Giấy cam kết</strong>
    </div>
    <div style="text-align: center; padding-top: 30px;">
        <strong style="font-size: 16px;"><ins>Kính gửi</ins>: <label style="text-transform: uppercase;">CÔNG TY CỔ PHẨN TẬP ĐOÀN TIMA</label></strong>
    </div>
    <div style="font-size: 16px; padding-top: 30px;padding-left: 20px; text-align: justify;">
        <div style="padding-bottom: 5px;">Tên tôi là: (1) @Html.Raw(Model != null && !string.IsNullOrEmpty(Model.FullName) ? "<b>" + Model.FullName + "</b>" : ".........................................................................") </div>
        <div style="padding-bottom: 5px;">
            CMND số: (2) @Html.Raw(Model != null && !string.IsNullOrEmpty(Model.NationalCard) ? "<b>" + Model.NationalCard + "</b>" : "..................................................") do	(3) ...............................................................	cấp	ngày <br />
            (4) ............................................
        </div>
        <div style="padding-bottom: 5px;">Hộ khẩu thường trú: (4) @Html.Raw(Model != null && !string.IsNullOrEmpty(Model.HouseholdAddress) ? "<b>" + Model.HouseholdAddress + "</b>" : "...................................................................................")</div>
        <div style="padding-bottom: 5px;">SĐT liên hệ: (5) @Html.Raw(Model != null && !string.IsNullOrEmpty(Model.Phone) ? "<b>" + Model.Phone + "</b>" : "............................................................")</div>
        <div style="padding-bottom: 10px;">Tôi xin cam kết chiếc xe máy với thông tin sau là thuộc quyền sở hữu hợp pháp của Tôi cụ thể:</div>
        <div style="padding-bottom: 10px; padding-left: 30px;">Tên chủ xe: (6) .................................................................</div>
        <div style="padding-bottom: 10px; padding-left: 30px;">Địa chỉ: (7) ..........................................................................................................................</div>
        <div style="padding-bottom: 10px; float: left; width: 50%;">
            <div style="padding-bottom: 10px;">
                Hãng xe: (8)
                @if (Model.ProductId != null && Model.ProductId == (int)LOS.Common.Extensions.EnumProductCredit.OtoCreditType_CC)
                {
                    <span>@Html.Raw(!string.IsNullOrEmpty(Model.CarManufacturer) ? "<b>" + Model.CarManufacturer + "</b>" : "....................................................")</span>
                }
                else
                {
                    <span>@Html.Raw(!string.IsNullOrEmpty(Model.BrandName) ? "<b>" + Model.BrandName + "</b>" : "....................................................")</span>
                }

            </div>

            <div style="padding-bottom: 10px;">Mầu sơn: (10) ..................................................</div>

            <div style="padding-bottom: 10px;">Công suất: (12) ................................................</div>

            <div style="padding-bottom: 10px;">Số giấy đăng ký: (14) ......................................</div>

            <div style="padding-bottom: 10px;">
                Số khung: (16) @Html.Raw(!string.IsNullOrEmpty(Model.Chassis) ? "<b>" + Model.Chassis + "</b>" : ".................................................")
            </div>

        </div>

        <div style="padding-bottom: 10px; float: right; width: 50%;">

            <div style="padding-bottom: 10px;">
                Loại xe: (9)
                @if (Model.ProductId != null && Model.ProductId == (int)LOS.Common.Extensions.EnumProductCredit.OtoCreditType_CC)
                {
                    <span>@Html.Raw(!string.IsNullOrEmpty(Model.CarName) ? "<b>" + Model.CarName + "</b>" : "............................................")</span>
                }
                else
                {
                    <span>@Html.Raw(!string.IsNullOrEmpty(Model.ProductFullName) ? "<b>" + Model.ProductFullName + "</b>" : "............................................")</span>
                }
            </div>

            <div style="padding-bottom: 10px;">
                Biển số đăng ký: (11)
                @if (Model.ProductId != null && Model.ProductId == (int)LOS.Common.Extensions.EnumProductCredit.OtoCreditType_CC)
                {
                    <span>@Html.Raw(!string.IsNullOrEmpty(Model.PlateNumberCar) ? "<b>" + Model.PlateNumberCar + "</b>" : ".............................")</span>
                }
                else
                {
                    <span>@Html.Raw(!string.IsNullOrEmpty(Model.PlateNumber) ? "<b>" + Model.PlateNumber + "</b>" : ".............................")</span>
                }
            </div>

            <div style="padding-bottom: 10px;">Dung tích: (13) .......................................</div>

            <div style="padding-bottom: 10px;">Ngày cấp: (15) ......../............../................</div>

            <div style="padding-bottom: 10px;">Số máy: (17) @Html.Raw(!string.IsNullOrEmpty(Model.Engine) ? "<b>" + Model.Engine + "</b>" : "...........................................")</div>

        </div>

        <div style="padding-bottom: 10px;">
            Đây là chiếc xe Tôi mua và đã thanh toán đầy đủ 100% tiền mua chiếc xe này cho<br />
            (19).................................. Chiếc xe này của Tôi không phải là đối tượng hứa bán, tặng, cho,<br />
            trao đổi và không có bất kỳ tranh chấp nào. Tôi đang không dùng chiếc xe này để cầm cố, thế<br />
            chấp hoặc để đảm bảo cho bất kỳ nghĩa vụ tài chính nào.
        </div>
        <div style="padding-bottom: 10px;">
            Những lời cam kết của Tôi là đúng sự thật, nếu có sai sót gì Tôi xin hoàn toàn chịu  trách nhiệm <br /> trước pháp luật và các bên liên quan.
        </div>
        <div style="padding-bottom: 10px;">
            Trân trọng!
        </div>
        <div style="width: 60%; float: right;">
            .......... Ngày .......... tháng .......... năm ..........
            <br />
            &nbsp;
            <br />
            <strong style="text-transform: uppercase;padding-left: 77px;">NGƯỜI CAM KẾT</strong>
        </div>
    </div>
</div>