﻿@using LOS.DAL.DTOs;
@using LOS.Common.Extensions;
@model LoanBriefContractFinancialAgreement
@{
    Layout = null;
}
<style>
    table, td, th {
        border: 1px solid black;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }
</style>
<div>
    <div style="padding-top: 15px;">
        <div style="font-size: 12px; width: 33%; float: left; padding-left: 12px; ">
            <strong style="text-transform: uppercase;">Thỏa thuận hỗ trợ tài chính</strong><br />
            <span>Số: ...................... NGÀY THÁNG NĂM:</span>
        </div>
        <div style="width: 60%; float: right;padding-top: 15px;">
            <table style="width: 60%;">
                <tr style="height: 20px;">
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </table>
        </div>
    </div>
    <div style="padding-top: 45px;">
        <div style="width: 98%; float: left;">
            <table style="margin-left: 0px">
                <tr style="text-align: left; font-size: 7px;">
                    <th style="padding: 5px;">
                        <strong style="padding-left: 10px;">
                            Các bên bao gồm
                        </strong><br />
                        <strong style="text-transform: uppercase;padding-left: 10px;">Bên vay:</strong>
                        <table style="width: 90%; margin-top: 10px;">
                            <tr style="height: 20px;">
                                <th style="width: 12%; font-size: 12px !important; background: red; color: white; font-weight: 900 !important;text-align: left !important; padding-left: 10px;">Họ và tên</th>
                                @if (Model != null && !string.IsNullOrEmpty(Model.FullName))
                                {
                                    for (var i = 0; i < Model.FullName.Length; i++)
                                    {
                                        <th>@Model.FullName[i].ToString()</th>
                                    }
                                }
                                else
                                {
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                }
                            </tr>
                        </table>

                        <table style="width: 45%; float: left; margin-top: 15px; margin-bottom: 15px;">
                            <tr style="height: 20px;">
                                <th style="width: 22%; font-size: 12px !important; background: red; color: white;text-align: left !important; padding-left: 10px;">Ngày sinh</th>
                                @if (Model != null && !string.IsNullOrEmpty(Model.strDob))
                                {
                                    for (var i = 0; i < Model.strDob.Length; i++)
                                    {
                                        <th>@Model.strDob[i]</th>
                                    }
                                }
                                else
                                {
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                }
                            </tr>
                        </table>

                        <table style="width: 50%; float: right;  margin-top: 15px; margin-bottom: 15px;">
                            <tr style="height: 20px;">
                                <th style="width: 50%; font-size: 12px !important; background: red; color: white;text-align: left !important; padding-left: 10px;">Số CMND/CCCD/Hộ chiếu</th>
                                <th style="text-align: left !important; padding-left: 10px;">@Model.NationalCard</th>
                            </tr>
                        </table>

                        <table style="margin-top: 15px;">
                            <tr style="height: 20px;">
                                <th style="width: 17%; font-size: 12px !important; background: red; color: white;text-align: left !important; padding-left: 10px;">Địa chỉ thường trú</th>
                                <th style="text-align: left !important; padding-left: 10px;">
                                    @Model.HouseholdAddress
                                </th>
                            </tr>
                        </table>

                        <table style="margin-top: 15px;">
                            <tr>
                                <th style="width: 17%; font-size: 12px !important; background: red; color: white;text-align: left !important; padding-left: 10px;">Địa chỉ hiện tại</th>
                                <th style="text-align: left !important; padding-left: 10px;">
                                    @Model.ResidentAddress
                                </th>
                            </tr>
                        </table>

                        <table style="margin-top: 15px;">
                            <tr style="height: 20px;">
                                <th style="width: 40%; font-size: 12px !important;  background: red; color: white;text-align: left !important; padding-left: 10px;">Số tài khoản/Số thẻ-Tại ngân hàng-Chi nhánh</th>
                                <th style="text-align: left !important; padding-left: 10px;">
                                    @(!string.IsNullOrEmpty(Model.BankAccountNumber) ? Model.BankAccountNumber : "")
                                    @(!string.IsNullOrEmpty(Model.BankName) ? " - " + Model.BankName : "")
                                    @(!string.IsNullOrEmpty(Model.BankBranch) ? " - " + Model.BankBranch : "")
                                </th>
                            </tr>
                        </table>

                        <div style="margin-top: 15px; padding-left: 10px;">
                            <span style="font-size: 7px; font-weight: 400 !important;">
                                * Sau đây gọi tắt là “bên vay”.<br />
                                Và
                            </span>
                        </div>

                        <div style="padding-left: 10px;">
                            <div style="width: 50%; float: left;">
                                <div style="margin-bottom: 5px;">
                                    <input type="checkbox" style="height: 20px; width: 20px;">
                                    <span>Tổ chức</span>
                                </div>
                                <div style="margin-bottom: 5px;">
                                    Bên cho vay: .................................................................................................................................................................
                                </div>
                                <div style="margin-bottom: 5px;">
                                    Mã số thuế: ...................................................................................................................................................................
                                </div>
                                <div style="margin-bottom: 5px;">
                                    Đại diện bởi: .................................................................................................................................................................
                                </div>
                                <div style="margin-bottom: 5px;">
                                    Chức vụ: .......................................................................................................................................................................
                                </div>
                            </div>

                            <div style="width: 50%; float: right;">
                                <div style="margin-bottom: 5px;">
                                    <input type="checkbox" style="height: 20px; width: 20px;">
                                    <span>Cá nhân</span>
                                </div>
                                <div style="margin-bottom: 5px;">
                                    Bên cho vay: .................................................................................................................................................................
                                </div>
                                <div style="margin-bottom: 5px;">
                                    Địa chỉ: ..........................................................................................................................................................................
                                </div>
                                <div style="margin-bottom: 5px;">
                                    Số CMND/Hộ Chiếu/ CCCD: .....................................................................................................................................
                                </div>
                                <div>
                                    Số điện thoại: ......................................................................... Email: .........................................................................
                                </div>
                            </div>

                            <div style="float: left; width: 100%;">
                                <span style="font-size: 7px; font-weight: 400 !important;">
                                    * Sau đây gọi tắt là “bên vay”.
                                </span>
                            </div>

                            <div style="float: left; width: 100%;">
                                <span style="font-size: 7px; font-weight: 400 !important;">
                                    Và bên cung cấp dịch vụ: <span style="text-transform: uppercase;">Công ty cổ phần tập đoàn tima</span>
                                </span>
                            </div>
                            <div style="width: 80%; float: left;">
                                <span style="font-size: 7px; font-weight: 400 !important;">
                                    Địa chỉ: 207-01 tầng M, tòa nhà N01A Golden Land, số 275 Nguyễn Trãi, Phường Thanh Xuân Trung, Quận Thanh Xuân, Hà Nội
                                </span>

                            </div>
                            <div style="width: 20%; float: right;">
                                <span style="font-size: 7px; font-weight: 400 !important;">
                                    Điện thoại: 1900 633 688
                                </span>
                            </div>

                            <div style="float: left; width: 100%;">
                                <span style="font-size: 7px; font-weight: 400 !important; width: 30%; float: left;">
                                    Đại diện bởi: ông TRẦN THẾ VĨNH
                                </span>
                                <span style="font-size: 7px; font-weight: 400 !important; width: 70%; float: right;">
                                    Chức vụ: TỔNG GIÁM ĐỐC
                                </span>
                            </div>

                            <div style="float: left; width: 100%;">
                                <span style="font-size: 7px; font-weight: 400 !important;">
                                    * Sau đây gọi tắt là “Tima”.
                                </span>
                            </div>
                            <div style="float: left; width: 100%;">
                                <span style="font-size: 7px; font-weight: 400 !important;">
                                    Bên Vay, Bên Cho Vay và Tima sau đây cũng được gọi riêng là “Bên” và gọi chung là “Các Bên”
                                </span>
                            </div>
                            <div style="float: left; width: 100%;">
                                <span style="font-size: 7px; font-weight: 400 !important;">
                                    Các bên thỏa thuận và thống nhất các điều khoản của thỏa Thỏa Thuận Hỗ Trợ Tài Chính Cá Nhân(Sau đây gọi là "Thỏa Thuận Tài Chính") với các nội dung sau:
                                </span>
                            </div>
                        </div>
                    </th>
                </tr>
            </table>
        </div>
        <div style="width:2%; float: left;">
            <div style="transform: translateX(-50%) translateY(-50%) rotate(90deg);position: absolute;width: 50%;margin-top: 300px;margin-left: 10px;">
                <label>Ngày ban hành 15/12/2020</label>
            </div>
        </div>
    </div>

    <div style="padding-top: 10px; width: 55%; float:left; font-size: 7px; padding-left: 15px;text-align: justify; line-height: 1.5">
        <strong style="text-transform: uppercase;">I. Thông tin khoản vay</strong>
        <div style="margin-bottom: 5px; margin-top: 5px;">
            1. Số tiền đề nghị vay: .................................................................. VNĐ
        </div>
        <div style="margin-bottom: 5px;">
            2. Lãi suất: ......................... %/năm
        </div>
        <div style="margin-bottom: 5px;">
            3. Mục đích vay: ...........................................................................
        </div>
        <div style="margin-bottom: 5px;">
            4. Khoản vay: ............................................................................... VNĐ
        </div>
        <div style="margin-bottom: 5px;">
            5. Số tiền giải ngân: ...................................................................... VNĐ
        </div>
        <div style="margin-bottom: 5px;">
            6. Ngày giải ngân: .........................................................................
        </div>
        <div style="padding-bottom: 5px;">
            <div style="float: left; width: 40%;">
                7. Hình thức nhận tiền giải ngân
            </div>
            <div style="float: left; width: 60%; margin-top: -3px;">
                <div style="width: 30%; float: left;">
                    <input type="checkbox" style="height: 10px; width: 10px;">
                    <span>Tiền mặt</span>
                </div>
                <div style="width: 70%; float: left;">
                    <input type="checkbox" style="height: 10px; width: 10px;">
                    <span>Qua số thẻ/tài khoản Ngân hàng</span>
                </div>
            </div>
        </div>


        <div style="padding-top: 5px;">
            8. Thời hạn vay:
        </div>

        <div style="padding-top: 20px;">
            <div style="width: 25%; float: left; padding-bottom: 20px;">
                <table style="width: 80%;">
                    <tr style="height: 20px; padding: 10px;">
                        <th style="padding-left: 10px; width: 30%; font-size: 12px !important; background: red; color: white; border: 1px solid red;text-align: left !important;">1 tháng</th>
                        <th style="width: 10%;">
                            @if (Model != null && Model.LoanTime == (int)EnumLoanTime.OneMonth)
                            {
                                <span style="font-family: wingdings; font-size: 100%;">&#252;</span>
                            }
                        </th>
                    </tr>
                </table>
            </div>
            <div style="width: 25%;float: left;padding-bottom: 20px;">
                <table style="width: 80%;">
                    <tr style="height: 20px;">
                        <th style="text-align: left !important; padding-left: 10px;width: 30%; font-size: 12px !important; background: red; color: white; border: 1px solid red;">
                            2 tháng
                        </th>
                        <th style="width: 10%;">
                            @if (Model != null && Model.LoanTime == (int)EnumLoanTime.TwoMonth)
                            {
                                <span style="font-family: wingdings; font-size: 100%;">&#252;</span>
                            }
                        </th>
                    </tr>
                </table>
            </div>
            <div style="width: 25%; float: left; padding-bottom: 20px;">
                <table style="width: 80%;">
                    <tr style="height: 20px;">
                        <th style="text-align: left !important; padding-left: 10px;width: 30%; font-size: 12px !important; background: red; color: white; border: 1px solid red;">
                            3 tháng
                        </th>
                        <th style="width: 10%;">
                            @if (Model != null && Model.LoanTime == (int)EnumLoanTime.ThreeMonth)
                            {
                                <span style="font-family: wingdings; font-size: 100%;">&#252;</span>
                            }
                        </th>
                    </tr>
                </table>
            </div>
            <div style="width: 25%; float: left; padding-bottom: 20px;">
                <table style="width: 80%;">
                    <tr style="height: 20px;">
                        <th style="text-align: left !important; padding-left: 10px;width: 30%; font-size: 12px !important; background: red; color: white; border: 1px solid red;">
                            6 tháng
                        </th>
                        <th style="width: 10%;">
                            @if (Model != null && Model.LoanTime == (int)EnumLoanTime.SixMonth)
                            {
                                <span style="font-family: wingdings; font-size: 100%;">&#252;</span>
                            }
                        </th>
                    </tr>
                </table>
            </div>
        </div>

        <div style="padding-bottom: 20px;">
            <div style="width: 25%; float: left;">
                <table style="width: 80%;">
                    <tr style="height: 20px;">
                        <th style="text-align: left !important; padding-left: 10px;width: 30%; font-size: 12px !important; background: red; color: white; border: 1px solid red;">
                            9 tháng
                        </th>
                        <th style="width: 10%;">
                            @if (Model != null && Model.LoanTime == (int)EnumLoanTime.NineMonth)
                            {
                                <span style="font-family: wingdings; font-size: 100%;">&#252;</span>
                            }
                        </th>
                    </tr>
                </table>
            </div>
            <div style="width: 25%; float: left;">
                <table style="width: 80%;">
                    <tr style="height: 20px;">
                        <th style="text-align: left !important; padding-left: 10px;width: 50%; font-size: 12px !important; background: red; color: white; border: 1px solid red;">
                            12 tháng
                        </th>
                        <th style="width: 10%;">
                            @if (Model != null && Model.LoanTime == (int)EnumLoanTime.TwentyMonth)
                            {
                                <span style="font-family: wingdings; font-size: 100%;">&#252;</span>
                            }
                        </th>
                    </tr>
                </table>
            </div>
        </div>

        <div style="margin-bottom: 5px; float: left; width: 100%;padding-top: 5px;">
            <span style="font-weight: 400 !important;">
                9. Kỳ thanh toán:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Hàng tháng
            </span>
        </div>

        <div style="float: left; width: 100%;">
            <div style="float: left; width: 33%;">
                10. Phương thức thanh toán
            </div>
            <div style="float: left; width: 67%;margin-top: -3px;">
                <input type="checkbox" style="height: 10px; width: 10px;">
                <span>1. Thanh toán gốc cuối kỳ, lãi phí hàng tháng</span>
            </div>
        </div>

        <div style="float: left; width: 100%; padding-top: 5px">
            <div style="float: left; width: 33%;">
                (Đánh dấu “<span style="font-family: wingdings; font-size: 100%;">&#252;</span>” để chọn)
            </div>
            <div style="float: left; width: 67%;margin-top: -3px;">
                <input type="checkbox" style="height: 10px; width: 10px;">
                <span>2. Thanh toán gốc, lãi phí hàng tháng theo lịch trả nợ được thông báo</span>
            </div>

        </div>

        <div style="padding-bottom: 5px; float: left; width: 100%; padding-top: 5px;">
            <span style="font-weight: 400 !important;">
                11. Phí trả nợ trước hạn: Áp dụng theo quy định tại Thoả thuận chung
            </span>
        </div>
        <div style="float: left; width: 100%;padding-bottom: 3px;">
            <strong style="text-transform: uppercase;">IV. THÔNG TIN TÀI SẢN BẢO ĐẢM (Nếu có)</strong>
        </div>
        <div style="float: left;width: 100%;padding-bottom: 3px;">
            <span style="font-weight: 400 !important; width: 90%; line-height: 1.5;">
                Tại thời điểm ký Thỏa Thuận Tài Chính này, Tài sản Bảo Đảm thuộc quyền sở hữu hợp pháp của Bên Vay, có <br /> nguồn gốc hợp pháp, không có tranh chấp, không bị cơ quan nhà nước có thẩm quyên xử lý theo quy định của <br /> pháp luật, đang không được thế chấp, cầm cố, bảo lãnh ở bất kỳ nơi nào khác cho bât cứ bên thứ ba nào hoặc/và <br /> thông báo cho Bên Cho Vay về quyền của người thứ ba đối với Tài sản Bảo Đảm, nếu có.
            </span>
        </div>
    </div>

    <div style="padding-top: 10px; width: 40%; float: left; font-size: 7px;text-align: justify; line-height: 1.5">
        <strong style="text-transform: uppercase;">II. Thông tin phí tư vấn  quản lý</strong>
        <div style="padding-top: 3px;">
            1. Phí Tư Vấn Quản Lý là khoản phí mà Bên Vay thanh toán cho Tima để Tima cung cấp các dịch vụ được quy định chi tiết tại Thỏa Thuận Chung đính kèm Thỏa Thuận Tài Chính này.
        </div>
        <div>
            2. Phí Tư Vấn Quản Lý: áp dụng theo biểu phí chung do Tima quy định và/hoặc thông báo đến Bên Vay tại từng thời điểm.
        </div>
        <div>
            <strong style="text-transform: uppercase;">III. THÔNG TIN PHÍ BẢO HIỂM</strong>
        </div>
        <div>
            Các bên đồng ý rằng:
        </div>
        <div>
            1. Bên vay đồng ý tham gia bảo hiểm với Đơn Vị Bảo Hiểm mà Tima làm đại lý
        </div>
        <div>
            2. Là đại lý bảo hiểm của Đơn Vị Bảo Hiểm, Tima có nghĩa vụ: (i) Tư vấn cho Bên Vay sản phẩm Bảo Hiểm, Phí Bảo Hiểm, Quy Tắc Bảo Hiểm; (ii) Hỗ trợ Bên Vay đăng ký hồ sơ Bảo Hiểm và thu, nộp Phí Bảo Hiểm; (iii) Thực hiện việc chuyển Giấy Chứng Nhận Bảo Hiểm điện tử cho Bên Vay khi có yêu cầu của Bên Vay; (iv) Thực hiện các công việc khác theo yêu cầu của Bên Vay thuộc nghĩa vụ của Tima với vai trò là đại lý bảo hiểm.
        </div>
        <div>
            3. Phí Bảo Hiểm được xác định tại thời điểm giải ngân Khoản Vay, Bên Vay chỉ định Bên Cho Vay khấu trừ một khoản tiền tương ứng Phí Bảo Hiểm từ Khoản Vay để chuyển lại cho Tima thanh toán cho Đơn Vị Bảo Hiểm.
        </div>
        <div>
            4. Tỷ lệ Phí Bảo Hiểm:
        </div>
        <div>
            a. Tỷ lệ Phí bảo hiểm người vay tín dụng: 5% (x) [Khoản Vay + Lãi Trong Hạn]
        </div>
        <div>
            b. Tỷ lệ Phí bảo hiểm tổn thất toàn bộ xe Mô tô: 3% (x) số tiền bảo hiểm
        </div>
        <div>
            5. Phí Bảo Hiểm:
        </div>
        <div>
            a. Phí bảo hiểm người vay tín dụng:	.............................................................................. VND
        </div>
        <div>
            b. Phí bảo hiểm tổn thất toàn bộ xe Mô tô:	.................................................................... VND
        </div>
        <div>
            Tổng phí bảo hiểm:	......................................................................................................... VND
        </div>
        <div>
            6. Bên vay đồng ý khi có sự kiện bảo hiểm xảy ra thuộc phạm vi trách nhiệm bảo hiểm và không thuộc trường hợp bị loại trừ bảo hiểm, Đơn Vị Bảo Hiểm sẽ thanh toán cho người thụ hưởng thứ nhất là Bên cho vay với toàn bộ dư nợ còn lại nhưng không vượt quá số tiền bảo hiểm ghi trên Giấy chứng nhận bảo hiểm. Phần chênh lệch còn lại (nếu có), Đơn Vị Bảo Hiểm sẽ chi trả cho Người được bảo hiểm/ Người thừa kế hợp pháp của Người được bảo hiểm (trừ quy định tại Điều 8.2 Thỏa thuận chung kèm theo Thỏa thuận hỗ trợ tài chính này).
        </div>
    </div>

    <div style="font-size: 7px; float: left; width: 100%; padding-left: 15px; padding-top: 2px;">
        <strong>Thông tin đối với tài sản là Ô tô hoặc xe máy</strong>
    </div>

    <div style="font-size: 7px;width: 45%;float: left; padding-left: 15px;">
        <div style="width: 50%; float: left; margin-bottom: 15px;">
            <table style="width: 90%;">
                <tr style="height: 20px;">
                    <th style="width: 47%; font-size: 12px; background-color: red; color: white;text-align: left !important; padding-left: 10px;">Nhãn hiệu</th>
                    <th style="font-size: 9px; text-align: left !important; padding-left: 5px;">
                        @if (Model.ProductId == (int)LOS.Common.Extensions.EnumProductCredit.OtoCreditType_CC)
                        {
                            <span>@Model.CarManufacturer</span>
                        }
                        else
                        {
                            <span>@Model.BrandName</span>
                        }
                    </th>
                </tr>
            </table>
        </div>

        <div style="width: 50%; float: right; margin-bottom: 15px;">
            <table style="width: 90%;">
                <tr style="height: 20px;">
                    <th style="width: 47%; font-size: 12px; background-color: red; color: white;text-align: left !important; padding-left: 10px;">Model</th>
                    <th style="font-size: 9px; text-align: left !important; padding-left: 5px;">
                        @if (Model.ProductId == (int)LOS.Common.Extensions.EnumProductCredit.OtoCreditType_CC)
                        {
                            <span>@Model.CarName</span>
                        }
                        else
                        {
                            <span>@Model.ProductFullName</span>
                        }
                    </th>
                </tr>
            </table>
        </div>

        <div style="width: 50%; float: left; margin-bottom: 5px;">
            <table style="width: 90%;">
                <tr style="height: 20px;">
                    <th style="        width: 47%;
        font-size: 12px;
        background-color: red;
        color: white;
        text-align: left !important;
        padding-left: 10px;">Số khung</th>
                    <th style="font-size: 9px; text-align: left !important; padding-left: 5px;">@Model.Chassis</th>
                </tr>
            </table>
        </div>
        <div style="width: 50%; float: right; margin-bottom: 5px;">
            <table style="width: 90%;">
                <tr style="height: 20px;">
                    <th style="        width: 47%;
        font-size: 12px;
        background-color: red;
        color: white;
        text-align: left !important;
        padding-left: 10px;">Số máy</th>
                    <th style="font-size: 9px; text-align: left !important; padding-left: 5px;">@Model.Engine</th>
                </tr>
            </table>
        </div>
    </div>

    <div style="        font-size: 7px;
        width: 50%;
        float: left;
">
        <div style="width: 100%; margin-bottom: 15px;">
            <table style="width: 95%;">
                <tr style="height: 20px;">
                    <th style="width: 30%; font-size: 12px; background-color: red; color: white;text-align: left !important; padding-left: 10px;">Biển kiểm soát</th>
                    <th style="        font-size: 9px;
        text-align: left !important;
        padding-left: 5px;
">
                        @if (Model.ProductId == (int)LOS.Common.Extensions.EnumProductCredit.OtoCreditType_CC)
                        {
                            <span>@Model.PlateNumberCar</span>
                        }
                        else
                        {
                            <span>@Model.PlateNumber</span>
                        }
                    </th>
                </tr>
            </table>
        </div>


        <div style="width: 50%; float: left; margin-bottom: 5px;">
            <table style="width: 90%;">
                <tr style="height: 20px;">
                    <th style="width: 63.4%; font-size: 12px; background-color: red !important; color: white !important;text-align: left !important; padding-left: 10px;">Số giấy ĐK</th>
                    <th style="text-align: left !important;"></th>
                </tr>
            </table>
        </div>
        <div style="width: 50%;float: right;margin-bottom: 5px;">
            <table style="width: 90%;">
                <tr style="height: 20px;">
                    <th style="width: 47%; font-size: 12px; background-color: red; color: white;text-align: left !important; padding-left: 10px;">Cấp ngày</th>
                    <th style="        text-align: left !important;"></th>
                </tr>
            </table>
        </div>
    </div>

    <div style="font-size: 7px; float: left; width: 100%; padding-left: 15px;">
        <strong>V. QUY ĐỊNH CHUNG</strong>
    </div>
    <div style="float: left;width: 100%;padding-left: 15px;padding-bottom: 5px;">
        <span style="font-size: 7px; font-weight: 400 !important; line-height: 1.5">
            Thỏa Thuận Tài Chính là thỏa thuận của Các Bên về Khoản Vay và mối quan hệ giữa các bên theo bản Thỏa Thuận Chung đính kèm Thỏa Thuận Tài Chính này. Thỏa Thuận Chung là một phần không thể tách rời của Thỏa Thuận Tài Chính.<br /> Bằng việc  ký vào Thỏa Thuận Tài Chính, Các Bên xác nhận đọc, hiểu, đồng ý và chịu sự ràng buộc của quy định tại Thỏa Thuận Tài Chính và Thỏa Thuận Chung.
        </span>
    </div>

    <div style="        margin-bottom: 5px;
        font-size: 7px;
        padding-left: 15px;
        padding-bottom: 30px;
">
        <table style="width: 98%;">
            <tr>
                <th style="font-size: 7px; width: 28%; vertical-align: baseline;">
                    <span>Đại diện Tima</span> <br />
                    <span style="padding-left: 70px;font-size: 7px; padding-top: 90px; font-weight: 600 !important; float: left !important;">
                        Tổng Giám Đốc<br />
                        Trần Thế Vĩnh
                    </span>
                </th>
                <th style="font-size: 7px; width: 28%; vertical-align: baseline;">
                    <span>Bên cho Vay</span>
                </th>
                <th style="font-size: 7px; width: 44%; vertical-align: baseline;">
                    <span>Bên vay</span> <br />
                    <div style="padding: 10px; font-size: 5px; text-align: justify; font-weight: 400!important">
                        Tôi xác nhận tôi ký kết Thỏa Thuận Tài Chính này trên tinh thần tự nguyện, không bị bất kì ai ép buộc để ký Thỏa Thuận Tài Chính này và thông tin tôi cung cấp hoàn toàn chính xác. Tôi xin hoàn toàn chịu trách nhiệm trước pháp luật về thông tin tôi cung cấp và/hoặc nghĩa vụ thanh toán theo quy định của Thỏa Thuận Tài Chính này.
                    </div>
                </th>
            </tr>
        </table>
    </div>

    <div style="margin-bottom: 5px; font-size: 7px; text-align: center; width: 100%;">
        <strong>THỎA THUẬN CHUNG</strong>
    </div>

    <div style="width: 34%; float: left; font-size: 7px;text-align: justify; ">
        <div style="padding-right: 15px;">
            <div style="padding-bottom: 8px; padding-top: 8px;">
                <strong>I. NỘI DUNG CHUNG:</strong>
            </div>
            <div style="padding-bottom: 8px;">
                <strong>Điều 1. Định nghĩa:</strong>
            </div>
            <div style="padding-bottom: 8px;">
                1.1.	"Số Tiền Đề Nghị Vay": là một khoản tiền Bên Vay đề nghị được Bên Cho Vay giải ngân.
            </div>
            <div style="padding-bottom: 8px;">
                1.2.	"Khoản Vay": là số tiền vay gốc Bên Cho vay đồng ý cho Bên Vay vay, trên cơ sở đề nghị của Bên Vay. Khoản Vay có thể bằng hoặc nhò hơn Số Tiền Đề Nghị Vay.
            </div>
            <div style="padding-bottom: 8px;">
                1.3.	" Mục Đích Vay": là cam kết về mục đích sử dụng Khoản Vay của Bên Vay đối với Bên Cho Vay và Tima. Bên Vay hoàn toàn chịu trách nhiệm trước pháp luật về việc sử dụng Khoản Vay đúng mục đích
            </div>
            <div style="padding-bottom: 8px;">
                1.4.	"Số Tiền Giải Ngân": là số tiền thực tế Bên Cho Vay chuyển khoản cho Bên Vay sau khi trừ đi Phí Bảo Hiểm theo yêu cầu của Bên Vay (Số Tiền Giải Ngân = Khoản vay - Phí Bảo Hiểm).
            </div>
            <div style="padding-bottom: 8px;">
                1.5.	"Đơn Vị Bảo Hiểm": là Tổng Công ty Cổ Phần Bảo Minh, cung cấp cho Bên Vay bảo hiểm liên quan đến Khoản Vay
            </div>
            <div style="padding-bottom: 8px;">
                1.6.	"Phí Bảo Hiểm": là khoản tiền Bên Vay phải trả khi mua bảo hiểm liên quan đến Khoản Vay của Đơn Vị Bảo Hiểm thông qua Tima, bằng cách chỉ định cho Bên Cho Vay khấu trừ Phí Bảo Hiểm từ Khoản Vay tại thời điểm giải ngân Khoản Vay để chuyển cho Tima.
            </div>
            <div style="padding-bottom: 8px;">
                1.7.	"Ngày Giải Ngân": là ngày Bên Cho Vay hoặc Bên ủy quyền của Bên Cho Vay chuyển toàn bộ Số Tiền Giải Ngân cho Bên vay thông qua Phương Thức Giải Ngân Bên Vay lựa chọn tại Thỏa Thuận Tài Chính này.
            </div>
            <div style="padding-bottom: 8px;">
                1.8.	"Lãi Suất": là lãi suất áp dụng cho Khoản Vay theo một tỉ lệ được quy định tại Thỏa Thuận Tài Chính này.
            </div>
            <div style="padding-bottom: 8px;">
                1.9.	"Tiền Lãi": là tiền lãi tính trên dư nợ thực tế của Khoản Vay, được tính dựa trên Lãi Suất và số ngày vay thực tế đối với Khoản Vay chưa thanh toán kể từ Ngày Giải Ngân.
            </div>
            <div style="padding-bottom: 8px;">
                1.10.	"Lãi Trong Hạn": là số tiền lãi được tính theo Khoản Vay, Lãi Suất, Thời Hạn Vay và Phương Thức Thanh Toán được Bên Vay xác nhận tại Thỏa Thuận Tài Chính này.
            </div>
            <div style="padding-bottom: 8px;">
                1.11.	"Phí Trả Nợ Trước Hạn": là khoản phạt Bên Vay thanh toán cho Bên Cho Vay hoặc Tima theo thỏa thuận riêng giữa Bên Cho Vay và Tima, áp dụng tại mọi thời điểm Bên Vay thanh toán vượt quá số tiền gốc phải đóng theo lịch trả nợ và/hoặc Thông Báo Đến Bên Vay.
            </div>
            <div style="padding-bottom: 8px;">
                1.12.	"Phí Quản Lý Khoản Vay Chậm Trả": là khoản phí Bên Vay thanh toán cho Tima, áp dụng trong trường hợp Bên Vay không thanh toán đúng hạn các nghĩa vụ cần phải thanh toán phát sinh theo quy định tại Thoả Thuận Tài Chính này.
            </div>
            <div style="padding-bottom: 8px;">
                1.13.	"Số Tiền Phải Thanh Toán": là số tiền Bên Vay phải thanh toán đúng hạn cho Bên Cho Vay và/họặc Tima theo Thỏa Thuận Tài Chính này, bao gồm nhưng không giới hạn Khoản Vay, Tiền Lãi, Phí Trả Nợ Trước Hạn, Phí Tư Vấn quản lý, Phí Quản Lý Khoản Vay Chậm Trả, các chi phí, phí tổn và các khoản đến hạn khác phải thanh toán (nếu có)
            </div>
            <div style="padding-bottom: 8px;">
                1.14.	"Phí Tư Vấn Quản Lý": là khoản phí mà Bên Vay thanh toán cho Tima để được cung cấp các dịch vụ tư vấn quản lý tài chính được quy định cụ thể tại Thỏa Thuận Tài Chính này. Khoản phí này được thanh toán hàng tháng.
            </div>
            <div style="padding-bottom: 8px;">
                1.15.	"Thông Báo Đến Bên Vay": là các thông báo/chấp thuận/xác nhận (tùy từng trường hợp) của Bên Cho Vay và/hoặc Tima gửi cho Bên Vay về các nội dung nhất định theo Thỏa Thuận Tài Chính này, được thực hiện qua hình thức tin nhắn gửi đi từ tổng đài tin nhắn của Tima (hoặc thương hiệu tên gọi khác theo quyết định của Tima tùy từng thời điểm) và/hoặc gọi điện thoại trực tiếp qua số điện thoại di động của Bên Vay và/hoặc thông qua ứng dụng tima và/hoặc bằng hình thức khác mà Bên Cho Vay và/hoặc Tima cho là phù hợp.
            </div>
            <div style="padding-bottom: 8px;">
                1.16.	"Biểu Phí": là chi tiết các khoản phí được quy định (i) tại các điều khoản khác trong Thỏa Thuận Tài Chính này, và/hoặc (ii) trong biểu phí chung do Bên Cho Vay/ Tima/Đơn Vị Bảo Hiểm quy định tùy từng thời điểm tương ứng với từng khoản phí cho dịch vụ mỗi Bên cung cấp hoặc được quy định trong Thông Báo Đến Bên Vay. Bên Vay tại đây xác nhận đồng ý với bất kỳ thay đổi nào của Biểu Phí, hoặc bất kỳ phí nào được bổ sung bởi Bên Cho Vay/Tima/Đơn Vị Bảo Hiểm theo quy định của pháp luật hiện hành mà không cần được thông báo trước.
            </div>
            <div style="padding-bottom: 8px;">
                1.17.	"Ứng dụng Tima": là các ứng dụng/Website và/hoặc các phương tiện điện tử phù hợp do Tima sở hữu và vận hành với mục đích tư vấn quản lý tài chính giữa Bên Vay và Bên Cho Vay.
            </div>
            <div style="padding-bottom: 8px;">
                1.18.	Điều Khoản và Điều Kiện sử dụng ứng dụng Tima (hoặc cách gọi khác là "Điều Khoản và Điều Kiện"): là một thỏa thuận giữa Bên Cho Vay và Tima khi sử dụng ứng dụng Tima. Việc Bên Cho Vay nhắn "Tôi đồng ý với bản Điều khoản và Điều kiện" tại ứng dụng Tima, đồng nghĩa với việc Bên Cho vay đồng ý sử dụng và tuân thủ các quy trình, giao dịch được thiết lập thông qua ứng dụng Tima.
            </div>
            <div style="padding-bottom: 8px;">
                <strong>Điều 2. Mục đích của thỏa thuận chung giữa Các Bên</strong>
            </div>
            <div style="padding-bottom: 8px;">
                Các Bên đồng ý rằng, dựa trên sự tư vấn quản lý tài chính của Tima nhằm hỗ trợ tài chính cá nhân cho Bên Vay, Bên Cho Vay cho Bên Vay vay Khoản Vay. Bên Vay đồng thời mua bảo hiểm liên quan đến Khoản Vay của Đơn Vị Bảo Hiểm thông qua Tima với phương thức cụ thể được quy định tại Thỏa Thuận tài Chính này.
            </div>
            <div style="padding-bottom: 8px;">
                <strong>II. THỎA THUẬN GIỮA BÊN VAY VÀ BÊN CHO VAY </strong>
            </div>
            <div style="padding-bottom: 8px;">
                <strong>MỤC A. QUY ĐỊNH CHUNG</strong>
            </div>
            <div style="padding-bottom: 8px;">
                <strong>Điều 3. Thỏa thuận vay giữa Bên Vay và Bên Cho Vay</strong>
            </div>
            <div style="padding-bottom: 8px;">
                3.1.	Lãi Suất: Lãi Suất đối với một Khoản Vay là Lãi Suất tính theo năm, được xác định trên cơ sở 1 năm có 365 ngày.
            </div>
            <div style="padding-bottom: 8px;">
                3.2.	Tiền Lãi = (Dư nợ thực tế từng thời điểm của Khoản Vay X Lãi Suất/365 X Số ngày vay tương ứng Dư nợ thực tế từng thời điểm).
            </div>
            <div style="padding-bottom: 8px;">
                3.3.	Phương thức gỉải ngân Khoản Vay: Bên Cho Vay hoặc Bên được ủy quyền bởi Bên Cho Vay chuyển Số Tiền Giải Ngân cho Bên Vay thông qua Phương Thức Giải Ngân Bên Vay chọn tại Thỏa Thuận Tài Chính này.
            </div>
        </div>
    </div>

    <div style="margin-bottom: 5px; width: 32%; float: left; font-size: 7px;text-align: justify">
        <div style="padding-bottom: 5px;">
            3.4 Phí Trả Nợ Trước Hạn: Tại bất kỳ thời điểm nào của Thỏa Thuận, Bên Vay có thể trả trước một phần hoặc toàn bộ Khoản Vay kèm phí trả nợ trước hạn bằng 8% Nợ Gốc Trả Trước Hạn. Phí Trả Nợ Trước Hạn được thanh toán cùng thời điểm Bên Vay thanh toán Khoản Vay trước hạn cho Bên Cho vay. Phí Trả Nợ Trước Hạn thuộc về Bên Cho Vay hoặc Tima theo thỏa thuận riêng giữa Bên Cho Vay và Tima.
        </div>
        <div style="padding-bottom: 5px;">
            <strong>Điều 4. Phương thức thanh toán</strong>
        </div>
        <div style="padding-bottom: 5px;">
            4.1.	Thứ tự ưu tiên thanh toán: Thứ tự ưu tiên thanh toán theo thỏa thuận riêng giữa Tima và Bên Cho Vay
        </div>
        <div style="padding-bottom: 5px;">
            4.2.	Bên Vay sẽ thanh toán Số Tiền Phải Thanh Toán cho Bên Cho Vay qua tài khoản của Tima (theo ủy quyền của Bên Cho Vay), theo lịch trả nợ mà Bên Vay cam kết tại Thỏa Thuận Tài Chính này và/hoặc theo thông báo nhắc nợ của ứng dụng Tima hoặc hình thức nhắc nợ khác (nếu có).
        </div>
        <div style="padding-bottom: 5px;">
            <strong>Điều 5. Quyền và nghĩa vụ của Bên Cho Vay với Bên Vay</strong>
        </div>
        <div style="padding-bottom: 5px;">
            Bên Cho Vay/Bên được ủy quyền của Bên Cho Vay được toàn quyền ghi âm lại bất kỳ nội dung nào trao đổi qua điện thoại giữa Bên Cho Vay và Bên Vay, và Bên Vay tại đây thừa nhận và đồng ý rằng dữ liệu ghi âm đó là bằng chứng chứng minh việc Bên Vay cam kết thực hiện các nghĩa vụ liên quan đến Thỏa Thuận Tài Chính này.
        </div>
        <div style="padding-bottom: 5px;">
            5.2.	Yêu cầu Bên Vay phải thanh toán đầy đủ và đúng hạn Số Tiền Phải Thanh Toán theo Thỏa Thuận Tài Chính này.
        </div>
        <div style="padding-bottom: 5px;">
            5.3.	Tuân thủ các quy định đã cam kết trong Thỏa Thuận Tài Chính
        </div>
        <div style="padding-bottom: 5px;">
            <strong>Điều 6. Quyền và nghĩa vụ của Bên Vay với Bên Cho Vay</strong>
        </div>
        <div style="padding-bottom: 5px;">
            6.1. Thực hiện đầy đủ nghĩa vụ thanh toán Số Tiền Phải Thanh Toán khi đến hạn theo quy định của Thỏa Thuận Tài Chính này.
        </div>
        <div style="padding-bottom: 5px;">
            6.2.	Tuân thủ các quy định của pháp luật hiện hành liên quan đến việc thực hiện các nghĩa vụ của Bên Vay được quy định tại Thỏa Thuận Tài Chính này.
        </div>
        <div style="padding-bottom: 5px;">
            <strong>Điều 7. Sự Kiện Vi Phạm</strong>
        </div>
        <div style="padding-bottom: 5px;">
            7.1.	Mỗi sự kiện hoặc trường hợp trong các sự kiện/ trường hợp quy định sau đây được xem là một Sự Kiện Vi Phạm:
        </div>
        <div style="padding-bottom: 5px;">
            a)	Bên Vay không tuân thủ bất kỳ quy định nào của Thỏa Thuận Tài Chính này hoặc Thông Báo Đến Bên Vay hoặc văn bản, tài liệu khác liên quan đến Thỏa Thuận Tài <br />Chính này;
        </div>
        <div style="padding-bottom: 5px;">
            b)	Bên Vay vi phạm bất kỳ nghĩa vụ nào với bất kỳ bên thứ ba nào cung cấp dịch vụ liên quan đến việc cấp các Khoản Vay theo chỉ định của Bên Cho Vay theo Thỏa thuận Tài Chính này;
        </div>
        <div style="padding-bottom: 5px;">
            c)	Các thông tin hoặc giấy tờ liên quan đến Khoản Vay do Bên Vay cung cấp là không đúng, không chính xác, không trung thực
        </div>
        <div style="padding-bottom: 5px;">
            d)	Bất cứ sự kiện nào mà theo quan điểm của Bên Cho vay là có thể có ảnh hưởng bất lợi nghiêm trọng đến khả năng thanh toán Số Tiền Phải Thanh Toán của Bên Vay;
        </div>
        <div style="padding-bottom: 5px;">
            e)	Bên Vay không thanh toán đúng hạn bất kỳ khoản đến hạn nào trong Số Tiền Phải thanh Toán;
        </div>
        <div style="padding-bottom: 5px;">
            7.2.	Ngay khi và sau khi xảy ra một sự kiện Vi Phạm, Bên Cho Vay có quyền:
        </div>
        <div style="padding-bottom: 5px;">
            (a) Tuyên bố đến hạn thanh toán ngay toàn bộ hoặc bất cứ khoản nào của Số Tiền Phải Thanh Toán;
        </div>
        <div style="padding-bottom: 5px;">
            (b) Thu giữ và tiến hành xử lý Tài Sản Bảo Đảm (nếu có);
        </div>
        <div style="padding-bottom: 5px;">
            (c) Chấm dứt tất cả các nghĩa vụ cua Bên Cho Vay đối với Bên Vay theo Thỏa Thuận tài Chính này;
        </div>
        <div style="padding-bottom: 5px;">
            (d) Thực hiện tất cả các quyền và chế tài hợp lý của Bên Cho Vay theo quy định tại Thỏa Thuận Tài Chính này.
        </div>
        <div style="padding-bottom: 5px;">
            <strong>MỤC B: QUY ĐỊNH RIÊNG ĐỐI KHOẢN VAY CÓ TÀI SẢN BẢO ĐẢM </strong>
        </div>
        <div style="padding-bottom: 5px;">
            <strong>Điều 8. Thỏa thuận về biện pháp bảo đảm</strong>
        </div>
        <div style="padding-bottom: 5px;">
            8.1.	Bên Vay và Bên Cho Vay đông ý lựa chọn biện pháp bảo đảm là cầm cố tài sản thuộc sở hữu của Bên Vay để đảm bảo nghĩa vụ thánh toán Khoản Vay của Bên Vay đối với Bên Cho Vay.
        </div>
        <div style="padding-bottom: 5px;">
            8.2.	Xử lý Tài Sản Bảo Đảm:
        </div>
        <div style="padding-bottom: 5px;">
            Khi xảy ra sự kiện bảo hiểm thuộc phạm vi bảo hiểm và không thuộc trường hợp bị loại trừ bảo hiểm, Bên Cho vay có quyền nhận tiền bồi thường bảo hiểm cho tài sản đảm bảo bị tổn thất theo quy định tai Giấy chứng nhận bảo hiểm và Quy tắc bảo hiểm tương ứng. Bên cho vay là người thụ hưởng thứ nhất và thay mặt Bên vay nhận tiền bồi thường. Phần chênh lệch giữa số tiên bồi thường bảo hiểm và dư nợ còn lại giữa Bên cho vay và Bên vay (nếu có), Bên cho vay có trách nhiệm hoàn trả cho Bên vay tại thời điểm nhận được thanh toán tiền bôi thường của Đơn Vị Bao Hiểm.
        </div>
        <div style="padding-bottom: 5px;">
            Ngay khi và sau khi xảy ra một Sự Kiện Vi Phạm được quy định tại Thỏa Thuận Tài Chính này, Bên Cho Vay có quyền tự mình lựa chọn xử lý Tài sản Bảo Đảm theo các phương thức sau: (i) Bán Tài sản Bảo Đảm; và/hoặc (ii) Nhận chính Tài sản Bảo Đảm thay thế cho việc Bên Vay phải thanh toán Số Tiên Phải Thanh Toán; và/hoặc (ii) Các phương thức khác, bao gồm nhưng không giới hạn: cho thuê, cho phép bên thứ ba khai thác và sử dụng Tài sản Bảo Đảm mà không cần có sự đồng ý của Bên Vay.
        </div>
        <div style="padding-bottom: 5px;">
            Bên Vay ủy quyên và không hủy ngang việc ủy quyền cho Bên Cho Vay thay mặt và nhân danh Bên Vay ký kết các hợp đồng và tài liệu, thực hiện các công việc mà theo ý kiến của Bên Cho Vay là cân thiết để xử lý Tài sản Bảo Đảm. Bên Cho Vay và Bên Vay tại đây đồng ý rằng trong trường hợp số tiền thu được từ việc xử lý Tài sản Bảo Đảm nhỏ hơn Số tiền Phải Thanh Toán, Bên Vay vẫn có nghĩa vụ thanh toán đầy đủ Số Tiền Phải Thanh Toán.
        </div>
        <div style="padding-bottom: 5px;">
            8.3.	Gửi giữ Tài sản Bảo Đảm:
        </div>
        <div style="padding-bottom: 5px;">
            a)	Nội dung gửi giữ Tài sản Bảo Đảm:
        </div>
        <div style="padding-bottom: 5px;">
            - Sau khi Tài sản Bảo Đảm đã được Bên Vay chuyển giao hợp lệ cho Bên Cho Vay, Bên Cho Vay đồng ý gửi Tài sản Bảo Đảm cho Bên Vay, và Bên Vay đồng ý giữ Tài sản Bảo Đảm cho Bên Cho Vay Bên Cho Vay là Bên Gửi Tài Sản, và Bên Vay là Bên Giữ tài sản. Thời hạn gửi giữ Tài sản Bảo Đảm: tương ứng với Thời hạn vay và các lần gia hạn của Thời hạn vay.
        </div>
        <div style="padding-bottom: 5px;">
            - Các Bên đồng ý rằng Bên Gửi Tài sản không phải trả bất kỳ chi phí nào cho Bên Giữ Tài sản.
        </div>
        <div style="padding-bottom: 5px;">
            b)	Hoàn trả Tài sản bảo đảm: Mặc dù có quy định về thời hạn gửi giữ tại điểm a Điều 8.3 này, Bên Gửi Tài sản và Bên Giữ Tài sản đồng ý rằng Bên Gửi Tài sản có quyền yêu cầu lấy lại Tài sản Bảo Đảm, và Bên Giữ Tài sản phải giao lại Tài sản Bảo Đảm cho
        </div>
    </div>

    <div style="margin-bottom: 5px;width: 34%;float: right;font-size: 7px;text-align: justify; ">
        <div style="padding-left: 15px;">
            <div style="padding-bottom: 6px;">
                Bên Gửi tài sản ngay khi nhận được yêu cầu của Bên Gửi Tài sản tại bất kỳ thời điểm nào trong thời hạn gửi giữ. Nếu Tài Sản Bảo Đảm không được hoàn trả cho Bên Gửi Tài sản theo yêu câu, Bên Gửi Tài Sản có toàn quyền tự mình thực hiện hoặc thuê một bên thứ ba tiến hành thu giữ Tài Sản Bảo Đảm. Trong trường hợp này, Bên Giữ Tài sản phải hoàn toàn chịu trách nhiệm đối với bất kỳ thiệt hại, mất mát, nào xảy ra đối với Tài sản Bảo Đảm, đồng thời chịu bồi thường thiệt hại đối với bât kỳ thiệt hại, mất mát, hư tổn nào xảy ra với Tài sản Bao đảm do hành vi khônq giao trả Tài sản Bảo Đảm theo yêu cầu của Bên Gửi Tài sản, bao gôm cả chi phí Bên Gửi Tài sản phải trả cho bên thứ ba để tiến hành thu giữ Tài sản Bảo Đảm.
                Trong mọi trường hợp, không cần sự đồng ý của Bên Giữ Tài Sản, Bên Gửi Tài Sản có quyền  kiểm  tra, xử lý, thu hồi tài sản mà không cần có sự đồng ý của Bên Giữ Tài Sản. Bên Gửi Tài sản được quyền tự do ra vào nơi giữ Tài sản Bảo Đảm, và/hoặc chỉ định, ủy quyền cho bất kỳ bên thứ ba nào thay mặt mình ra vào nơi giữ Tài sản Bảo Đảm để thực hiện công việc nêu trên
            </div>
            <div style="padding-bottom: 6px;">
                <strong>Điều 9. Cam kết của Bên Vay với Bên Cho Vay về Tài sản Bảo Đảm</strong>
            </div>
            <div style="padding-bottom: 6px;">
                9.1.	Cam kết vô điều kiện và không hủy ngang chịu trách nhiệm bồi thường thiệt hại cho Bên Cho Vay trong trường hợp phát sinh bất kỳ thiệt hại, mất mát, hư tổn, chi phí nào liên quan đến Tài sản Bảo Đảm và việc giao Tài sản Bảo Đảm; và đồng ý rằng Bên Cho Vay được loại trừ khỏi tất cả các trách nhiệm nêu trên.
            </div>
            <div style="padding-bottom: 6px;">
                9.2.	Cam kết cung cấp và/hoặc bổ sung và/hoặc xuất trình bằng chứng về quyền sở hữu của Bên Vay đối với Tài sản Bảo Đảm và/hoặc nguồn gốc của Tài Sản Bảo Đảm  tại bất kỳ thời điểm nào mà Bên Cho Vay cho là phù hợp. Cam kết bổ sung, thay thế bất kỳ tài sản nào khác để bảo đảm nghĩa vụ thanh toán Khoản Vay theo thỏa Thuận Tài Chính tại bất kỳ thời điểm nào mà Bên Cho Vay cho là cần thiết.
            </div>
            <div style="padding-bottom: 6px;">
                <strong>III. THỎA THUẬN GIỮA BÊN VAY VÀ TIMA</strong>
            </div>
            <div style="padding-bottom: 6px;">
                <strong>Điều 10. Thỏa thuận tư vấn quản lý tài chính giữa Bên Vay và Tima</strong>
            </div>
            <div style="padding-bottom: 6px;">
                10.1. Bên Vay chỉ định và Tima đồng ý là đơn vị cung cấp dịch vụ tư vấn quản lý tài chính cho Bên vay liên quan đến Khoản Vay
            </div>
            <div style="padding-bottom: 6px;">
                10.2. Bên Vay phải thanh toán Phí Tư Vấn quản lý, Phí quản lý Khoản Vay Chậm Trả (nếu có) cho Tima theo quy định tại Thỏa Thuận Tài Chính này.
            </div>
            <div style="padding-bottom: 6px;">
                10.3. Phí Tư Vấn Quản Lý đối với Khoản Vay được quy định tại Thỏa Thuận Tài Chính này đã bao gồm VAT. Bên Vay và Tima đồng ý rằng Phí Tư Vấn Quản Lý trong các trường hợp khác sẽ được quy định tại Thông Báo Đến Bên Vay theo Biểu Phí do Tima áp dụng tại từng thời điếm.
            </div>
            <div style="padding-bottom: 6px;">
                10.4. Điều kiện thu Phí Tư Vấn quản lý: Phí Tư Vấn quản lý được thu đối với mỗi Khoản Vay được giải ngân thành công cho Bên Vay
            </div>
            <div style="padding-bottom: 6px;">
                10.5. Bên Vay thanh toán Phí Tư Vấn quản lý hàng tháng cho Tima. Phí Tư Vấn được thanh toán vào ngày Bên Vay đến hạn thanh toán Khoản Vay hàng tháng tương ứng và thứ tự ưu tiên thanh toán được quy định tại Thỏa Thuận Tài chính
            </div>
            <div style="padding-bottom: 6px;">
                10.6. Phí quản lý Khoản Vay Chậm Trả được tính là 400.000 đồng cho mỗi Kỳ Thanh Toán không đúng hạn các nghĩa vụ cần phải thanh toán phát sinh theo quy định tại Thỏa Thuận Tài Chính này.
            </div>
            <div style="padding-bottom: 6px;">
                <strong>IV. QUY ĐỊNH KHÁC</strong>
            </div>
            <div style="padding-bottom: 6px;">
                <strong>Điều 11. Thông Báo Đến Bên Vay</strong>
            </div>
            <div style="padding-bottom: 6px;">
                11.1. Bên Vay tại đây xác nhận đồng ý chịu sự ràng buộc và tuân thủ các Thông Báo Đến Bên Vay trong mọi trường hợp. Bất kỳ thông Báo Đến Bên Vay nào được gửi bằng hình thức tin nhắn đến số điện thoại đã đăng ký của Bên Vay sẽ được coi là đã gửi và Bên Vay đã nhận được.
            </div>
            <div style="padding-bottom: 6px;">
                11.2. Thông Báo Đến Bên Vay là phần không thể tách rời của Thỏa Thuận Tài Chính này. Trong trường hợp Thông Báo Đến Bên Vay vì lý do nào đó có một hoặc một vài thông tin bị lỗi và/hoặc sai sót, Tima và/hoặc Bên Cho Vay được quyền đính chính, chỉnh sửa thông tin đó bằng việc gửi một Thông Báo khác đến Bên Vay.
            </div>
            <div style="padding-bottom: 6px;">
                <strong>Điều 12. Cam kết, thừa nhận giữa Các Bèn</strong>
            </div>
            <div style="padding-bottom: 6px;">
                12.1. Bên Vay cam kết và thừa nhận rằng bất kỳ thông tin nào do Bên Vay cung cấp cho Bên Cho Vay và hoặc Tima trong quá trình giao kết và thực hiện Thỏa Thuận Tài Chính này là chính xác, trung thực. Bên Vay có trách nhiệm thông báo cho Bên Cho Vay và Tima ngay khi có thay đổi về bất kỳ thông tin nào của Bên Vay
            </div>
            <div style="padding-bottom: 6px;">
                12.2. Bên Vay đồng ý và cho phép Bên Cho Vay và/hoặc Tima được sử dụng, mã hóa, truyền tải, lưu trữ; chuyển giao và tiết lộ bất cứ thông tin nào liên quan đến Bên vay và/hoặc do Bên Vay cung cấp và/hoặc vấn đề, tài liệu liên quan đến Thỏa Thuận Tài Chính này cho bất kỳ bên thứ ba nào tại bất cứ thời điểm nào mà Bên Cho vay và/hoặc Tima cho là phù hợp mà không phải có thêm một sự chấp thuận nào khác của Bên Vay, đồng thời không phải chịu trách nhiệm với Bên Vay liên quan đến các hành vi này.
            </div>
            <div style="padding-bottom: 6px;">
                12.3. Bên Vay/Bên Cho Vay không là vợ, chồng, cha đẻ, cha nuôi, mẹ đẻ, mẹ nuôi, con đẻ, con nuôi, anh ruột, em ruột, chị ruột, anh rể, em rể, chị dâu, em dâu, cô, dì, chú, bác ruột của Bên Cho Vay/Bên Vay;
            </div>
            <div style="padding-bottom: 6px;">
                12.4. Bên Vay/Bên Cho Vay không là nhân viên, người lao động, người làm công ăn lương của Bên Cho Vay/Bên Vay và/hoặc Bên mua bảo hiểm.
            </div>
            <div style="padding-bottom: 6px;">
                12.5. Bên Cho vay, Bên Vay tại đây ủy quyền không hủy ngang cho Tima làm đại diện thực hiện các công việc liên quan đến việc thu thập Hồ sơ yêu cầu bồi thường bảo hiểm và thay mặt Bên Cho vay, Bên Vay thực hiện ký toàn bộ giấy tờ liên quan đến “Hồ sơ yêu cầu bồi thường bảo hiểm" gửi Đơn Vị Bảo Hiểm.
            </div>
            <div style="padding-bottom: 6px;">
                <strong>Điều 13. Các điều khoản khác</strong>
            </div>
            <div style="padding-bottom: 6px;">
                13.1. Mỗi Bên tự chịu trách nhiệm thanh toán, kê khai thuế, phí, và các chi phí khác thuộc nghĩa vụ của mình phát sinh liên quan đến Thỏa Thuận tài Chính
            </div>
            <div style="padding-bottom: 6px;">
                13.2. Trừ trường hợp có sự kiện bất khả kháng, nếu một Bên vi phạm  quy định tại Thỏa Thuận Tài Chính này dẫn đến việc gây ra thiệt hại, thì Bên vi phạm phải bồi thường toàn bộ thiệt hại đối với Bên bị thiệt hại. Ngoài các quy định về phạt vi phạm được quy định tại các điều khoản khác của Thỏa Thuận Tài Chính, đối với các trường hợp vi phạm còn lại thì Bên vi phạm sẽ chịu mức phạt vi phạm là 8% tổng giá trị nghĩa vụ bị vi phạm
            </div>
            <div style="padding-bottom: 6px;">
                13.4. Thỏa Thuận Tài Chính được chấm dứt khi các Bên đã hoàn thành tất cả các nghĩa vụ của mình theo Thỏa Thuận Tài Chính hoặc tự động chấm dứt khi Bên Cho Vay hoặc Bên ủy quyền của Bên Cho Vay không thực hiện giải ngân và/hoặc Thông Báo Đến Bên vay về việc không giải ngân Khoản vay.
            </div>
            <div style="padding-bottom: 6px;">
                Nếu bất kỳ điều khoản nào của Thỏa Thuận Tài Chính trở thành bất hợp pháp hoặc không thể thi hành, thì tính hợp pháp hoặc tính bắt buộc của những điều khoản còn lại của Thỏa Thuận Tài Chính sẽ không vì thế mà bị ảnh hưởng hay mất hiệu lực.
            </div>
        </div>

    </div>
</div>