﻿@{
    Layout = null;
    ViewData["Title"] = "Gửi tin nhắn cho khách hàng";
}

<input type="hidden" id="loanBriefId" value="@ViewBag.LoanBriefId">
<input type="hidden" id="phone" value="@ViewBag.Phone">

<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="color:#6C7293;">
            Gửi tin nhắn cho HĐ-@ViewBag.LoanBriefId
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
                ×
            </span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="message-text" class="form-control-label" style="color:#6C7293;">
                    Nội dung:
                </label>
                <textarea class="form-control" id="content"></textarea>
            </div>
        </form>
    </div>
    <div class="modal-footer" style="margin-top:-4%;border-top:none;">       
        <button type="button" onclick="SendSMSPost();" class="btn btn-primary" style="background: rgba(108, 114, 147, 1);border-color: rgba(108, 114, 147, 1);width: 110px;height: 40px;">
            Gửi
        </button>
    </div>
</div>
<script>

    function SendSMSPost() {
        //$("#NoteTHNModal").modal("hide");
        //$("#loading").css("display", "");
        var phone = $("#phone").val();
        var content = $("#content").val();

        if (content == "")
        {
            App.ShowErrorNotLoad('Nội dung tin nhắn không được để trống');
            return;
        }

        $.ajax({
            type: "POST",
            url: "/Utils/SendSMSFPT",
            data: { Phone: phone, Content: content },
            success: function (data) {
                if (data.status == 1) {
                    App.ShowSuccess(data.Message);
                    //$("#NoteTHNModal").modal("hide");
                    $("#Modal").css("display", "none");
                }
                else if (data.status == 0) {
                    App.ShowError(data.Message);
                    return;
                }
                //else if (data.Error == 2) {
                //    NotyA(data.Mess, 'error');
                //    return;
                //}
            },
            traditional: true
        });
    }

</script>