﻿@{
    Layout = null;
    ViewData["Title"] = "Nhật ký khoản vay";
}
    <style>
        #dtLoanNote{
            width:100%;
            /*margin: 0 5% 0 5%;*/
            font-weight: 400;
            font-style: normal;
            color: #6C7293;
        }
        .center{
            text-align:center;
        }
    </style>
<input type="hidden" id="loanBriefId" value="@ViewBag.LoanBriefId">
<input type="hidden" id="actionId" value="@ViewBag.ActionId">

<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="color:#6C7293;">
            Nhật ký
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
                ×
            </span>
        </button>
    </div>
    <div class="modal-body" style="padding: 25px 0 25px 0;">
        <form>
            <div class="form-group">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <textarea id="Note" placeholder="Nội dung ghi chú" rows="5" style="width:100%;padding-left:5px;border-color: #6C7293;"></textarea>  
                    @*<div class="summernote" id="m_summernote_1"></div>*@
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer" style="margin-top:-4%;border-top:none;padding:15px;">
        <button type="button" onclick="AddNote();" class="btn btn-primary" style="background: rgba(108, 114, 147, 1);border-color: rgba(108, 114, 147, 1);width: 110px;height: 40px;">
            Lưu
        </button>
    </div>
    <div class="m-portlet__body" style="margin-bottom: 1%;">

        <table class="m-datatable__table" id="dtLoanNote" style="display:none;">
            <thead class="m-datatable__head">
                <tr class="m-datatable__row" style="left: 0px;">
                    <th class="center m-datatable__cell m-datatable__cell--sort" style="width: 30px;"><span>STT</span></th>
                    <th class="center m-datatable__cell m-datatable__cell--sort" style="width: 100px;"><span>Ngày</span></th>
                    <th class="m-datatable__cell m-datatable__cell--sort" style="width: 100px;"><span>Tên Shop</span></th>
                    <th class="m-datatable__cell m-datatable__cell--sort" style="width: 100px;"><span>Người thao tác</span></th>
                    <th class="m-datatable__cell m-datatable__cell--sort" style="width: 200px;"><span>Nội dung</span></th>
                </tr>
            </thead>
            <tbody class="m-datatable__body" style="" id="dtLoanBriefNote">

            </tbody>
        </table>

    </div>
</div>
@*<script src="~/assets/demo/default/custom/components/forms/widgets/summernote.js"></script>*@

<script>
    $(document).ready(function () {

        var loanBriefId = $("#loanBriefId").val();
        //LoanBriefNoteModule.Init(loanBriefId);
        $.ajax({
            type: "POST",
            url: "/LoanBrief/GetNoteByLoanID",
            data: { loanBriefId: loanBriefId },
            success: function (data) {
                if (data.data.length > 0) {
                    $("#dtLoanNote").css("display", "");
                }
                //console.log(data);
                for (var i = 0; i < data.data.length; i++) {
                    var date = moment(data.data[i]['createdTime']);
                    $('#dtLoanBriefNote').append('<tr class="center m-datatable__row"><td class="m-datatable__cell">' + (i + 1)
                        + '</td><td class="center m-datatable__cell">' + date.format("DD/MM/YYYY") + "<br />" + date.format("HH:mm")
                        + '</td><td class="m-datatable__cell" style="text-align:left;">' +  "Credit"
                        + '</td><td class="m-datatable__cell" style="text-align:left;">' + data.data[i]['fullName']
                        + '</td><td class="m-datatable__cell" style="text-align:left;">' + data.data[i]['note']                           
                        + '</td></tr>')
                }
            }
            
        });
    });

    function AddNote() {

        var loanBriefId = $("#loanBriefId").val();
        var content = $('#Note').val();

        if (content == "")
        {
            App.ShowErrorNotLoad('Nội dung tin nhắn không được để trống');
            return;
        }

        $.ajax({
            type: "POST",
            url: "/LoanBrief/CreateLoanNote",
            data: { LoanBriefId: loanBriefId, Content: content },
            success: function (data) {
                if (data.status == 0) {
                    App.ShowSuccessNotLoad('Thêm note thành công');
                    //$("#NoteTHNModal").modal("hide");
                    $("#Modal").css("display", "none");
                }
                else if (data.status == 1) {
                    App.ShowErrorNotLoad('Thêm note thất bại');
                    return;
                }
            },
            traditional: true
        });
    }
</script>
