﻿@model LOS.DAL.DTOs.PropertyDTO;
@{
    Layout = null;
}
@if (Model.LinkObject == null && Model.Type == "String")
{
    // text box
    <div class="m-input-icon m-input-icon--right">
        @if (ViewBag.Data != null)
        {
            <input type="text" value="@ViewBag.Data" class="form-control m-input propertyValue" placeholder="@Model.Name">
        }
        else
        {
            <input type="text" class="form-control m-input propertyValue" placeholder="@Model.Name">
        }

    </div>
}
else if (Model.LinkObject == null && (Model.Type == "Integer" || Model.Type == "Long"))
{
    // text box
<div class="m-input-icon m-input-icon--right">
    @if (ViewBag.Data != null)
    {
        <input type="text" value="@(ViewBag.Data.ToString())" class="form-control m-input propertyValue inputAmountVND" style="padding-right: 15px; text-align: right" placeholder="@Model.Name">
    }
    else
    {
        <input type="text" class="form-control m-input propertyValue inputAmountVND" value="0" style="padding-right: 15px; text-align: right" placeholder="@Model.Name">
    }
</div>
}
else if (Model.LinkObject == null && Model.Type == "Boolean")
{
    <div class="m-input-icon m-input-icon--right">
        <select class="form-control m-bootstrap-select m_selectpicker col-lg-12 float-left propertyValue px-sm-0" @(Model.MultipleSelect == true ? "multiple data-selected-text-format=\"count > 3\"" : "")>
            <option value="1" selected>
                Đúng
            </option>
            <option value="0">
                Sai
            </option>
        </select>
    </div>
}
else if (Model.LinkObject == null && Model.Type == "DateTime")
{
    <div class="m-input-icon m-input-icon--right">
        @if (ViewBag.Data != null)
        {
            <input type="text" value="@ViewBag.Data" class="form-control m-input propertyValue" placeholder="@Model.Name">
        }
        else
        {
            <input type="text" class="form-control m-input propertyValue" placeholder="@Model.Name">
        }

    </div>
}
else if (Model.LinkObject != null && Model.Type == "Integer")
{
    if (ViewBag.LinkObjects != null)
    {
        <div class="m-input-icon m-input-icon--right">
            <select class="form-control m-bootstrap-select m_selectpicker col-lg-12 float-left propertyValue px-sm-0" @(Model.MultipleSelect == true ? "multiple data-selected-text-format=\"count > 3\"" : "")>
                <option value="0">
                    Chọn
                </option>
                @foreach (var obj in ViewBag.LinkObjects)
                {
                    if (Model.LinkObject == "PipelineState")
                    {
                        if (ViewBag.Data != null && obj.PipelineStateId == System.Convert.ChangeType(ViewBag.Data, typeof(int)))
                        {
                            <option selected="selected" value="@obj.PipelineStateId">@obj.Description</option>
                        }
                        else
                        {
                            <option value="@obj.PipelineStateId">@obj.Description</option>
                        }
                    }
                    else if (Model.LinkObject == "LoanStatus")
                    {
                        if ((Model.MultipleSelect == true && ((List<string>)ViewBag.Data).Contains(obj.Status.ToString())) || (Model.MultipleSelect != true && ViewBag.Data != null && obj.Status == (int)ViewBag.Data))
                        {
                            <option selected="selected" value="@obj.Status">@obj.Description</option>
                        }
                        else
                        {
                            <option value="@obj.Status">@obj.Description</option>
                        }
                    }
                    else if (Model.LinkObject == "Province")
                    {
                        if (ViewBag.Data != null && obj.ProvinceId == System.Convert.ChangeType(ViewBag.Data, typeof(int)))
                        {
                            <option selected="selected" value="@obj.ProvinceId">@obj.Name</option>
                        }
                        else
                        {
                            <option value="@obj.ProvinceId">@obj.Name</option>
                        }
                    }
                    else if (Model.LinkObject == "LoanProduct")
                    {
                        if (ViewBag.Data != null && obj.LoanProductId == System.Convert.ChangeType(ViewBag.Data, typeof(int)))
                        {
                            <option selected="selected" value="@obj.LoanProductId">@obj.Name</option>
                        }
                        else
                        {
                            <option value="@obj.LoanProductId">@obj.Name</option>
                        }
                    }
                }
            </select>
        </div>
    }
}
else
{
    <div class="m-input-icon m-input-icon--right">
        @if (ViewBag.Data != null)
        {
            <input type="text" value="@ViewBag.Data" class="form-control m-input propertyValue" placeholder="@Model.Name">
        }
        else
        {
            <input type="text" class="form-control m-input propertyValue" placeholder="@Model.Name">
        }

    </div>
}