﻿@{
    ViewData["Title"] = "Báo cáo hiệu suất làm việc";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var month = DateTime.Now.Month;
}
<link href="~/css/form.css?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS" rel="stylesheet" />
<style>
    #dtLoanBrief tbody {
        padding: 0 !important;
    }

    #linkName:hover {
        text-decoration: none !important;
    }

    .filter {
        float: left;
        margin-top: 30px;
        height: 40px;
        margin-bottom: 0px;
    }

    .filterSpan {
        font-family: 'Poppins Bold', 'Poppins Regular', 'Poppins', sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 12px;
        color: #6C7293;
    }

    .filter-border-button {
        border-bottom: 2px solid #716aca;
    }

    .custom-table-tima > .m-datatable__table > .m-datatable__head .m-datatable__row {
        height: 50px !important;
    }

    .m-portlet .m-portlet__body {
        padding: 0rem 2.2rem;
    }

    .form-group {
        margin-bottom: 0px;
    }

    .m-portlet .m-portlet__body {
        padding-bottom: 20px;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        position: relative;
        padding: 0.65rem 0rem;
        line-height: 1.25;
    }
</style>
<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Báo cáo hiệu suất làm việc
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <!--begin: Search Form -->
            <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                <div class="row align-items-center">
                    <div class="col-xl-8 order-2 order-xl-1">
                        <div class="form-group m-form__group row align-items-center">
                            <div class="col-md-2">
                                <div class="form-group m-form__group">
                                    <div class="m-form__control">
                                        <select class="form-control cus-form-control m-input m-input--square" id="sl_Month">
                                            @*<option value="0">Tất cả Hub</option>*@
                                            @for (int i = 1; i <= 12; i++)
                                            {
                                                <!option value="@i" @(month == i ? "selected=\"selected\"" : "")>Tháng @i</!option>
                                            }

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group m-form__group">
                                    <div class="m-form__control">
                                        <button type="button" class="chuyen-ho-tro" onclick="ExportExcel();">
                                            Xuất Excel
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 order-2 order-xl-1">
                        <div class="form-group m-form__group">
                            <div class="m-form__control" style="float:right;">
                                Tổng số đơn đẩy: <label id="totalLoanPush" style="color:red;"></label><br />
                                Tổng số đơn GN: <label id="totalLoanDis" style="color:red;"></label>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <!--end: Search Form -->
            <!--begin: Datatable -->
            <table class="m-datatable__table dtform" width="100%" id="dtReportApprove"></table>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="~/js/Report/ReportApproveModule.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            App.Init();
            ReportApproveModule.Init();
        });
        function ExportExcel() {
            var month = $("#sl_Month").val();
            window.location.href = "/Report/ExportReportApproveEmployee?month=" + month;
        }
    </script>
}

