﻿@model LOS.WebApp.Models.LoanBriefInit

<div class="m-section__content">
    <div style="margin-bottom: 5px; font-weight:bold">
        <span>
            Địa chỉ đang ở
        </span>
        <i class="la la-angle-double-right" style="font-size: 15px;"></i>
    </div>
    <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
        <input type="hidden" name="LoanBriefResident.LoanBriefResidentId" value="@Model.LoanBriefResident.LoanBriefResidentId" />
        <div class="custom-m-boder-box m-demo__preview">
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Thành phố:
                </label>
                <div class="col-4 box-group m-form__group-sub">
                    <select class="form-control cus-form-control  m-select2" id="sl_province_addresshome" name="LoanBriefResident.ProvinceId" onchange="AddressHomeModuleJS.GetDistrict(this.value, 0)">
                        @if (Model != null && Model.ListProvince != null && Model.ListProvince.Count > 0)
                        {
                            <option></option>
                            foreach (var item in Model.ListProvince)
                            {
                                if (item.ProvinceId == Model.LoanBriefResident.ProvinceId)
                                {
                                    <option value="@item.ProvinceId" selected="selected">
                                        @item.Name
                                    </option>
                                }
                                else
                                {
                                    <option value="@item.ProvinceId">@item.Name</option>
                                }
                            }
                        }
                    </select>
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Quận/ huyện:
                </label>
                <div class="col-4 box-group m-form__group-sub">
                    <select class="form-control cus-form-control  m-select2" id="sl_district_addresshome" name="LoanBriefResident.DistrictId" tabindex="3" onchange="AddressHomeModuleJS.GetWard(this.value, 0)">
                        <option></option>
                    </select>
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Phường/ xã:
                </label>
                <div class="col-4 box-group">
                    <select class="form-control cus-form-control  m-select2" id="sl_ward_addresshome" name="LoanBriefResident.WardId">
                        <option></option>
                    </select>
                    <input type="hidden" name="LoanBriefResident.WardId" value="@Model.LoanBriefResident.WardId" />
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Hình thức cư trú:
                </label>
                <div class="col-4 box-group">
                    <select class="form-control cus-form-control m-select2" id="sl_TypeOwnerShip" name="LoanBriefResident.ResidentType" tabindex="5" aria-hidden="true" onchange="LoancreditFormModuleJS.ShowProductDetail()">
                        <option></option>
                        <!option value="@LOS.Common.Extensions.EnumTypeofownership.KT1.GetHashCode()" @(Model.LoanBriefResident.ResidentType == LOS.Common.Extensions.EnumTypeofownership.KT1.GetHashCode() ? "selected=\"selected\"" : "")>KT1</!option>
                        <!option value="@LOS.Common.Extensions.EnumTypeofownership.KT3.GetHashCode()" @(Model.LoanBriefResident.ResidentType == LOS.Common.Extensions.EnumTypeofownership.KT3.GetHashCode() ? "selected=\"selected\"" : "")>KT3</!option>
                    </select>
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Thời gian sống
                </label>
                <div class="col-4">
                    <select class="form-control cus-form-control m-input m-input--square" id="sl_LivingTime" name="LoanBriefResident.LivingTime">
                        <option></option>
                        <!option value="1" @(Model.LoanBriefResident.LivingTime == 1 ? "selected=\"selected\"" : "")>Dưới 1 năm</!option>
                        <!option value="2" @(Model.LoanBriefResident.LivingTime == 2 ? "selected=\"selected\"" : "")>1 -3 năm</!option>
                        <!option value="3" @(Model.LoanBriefResident.LivingTime == 3 ? "selected=\"selected\"" : "")>3 - 10 năm</!option>
                        <!option value="4" @(Model.LoanBriefResident.LivingTime == 4 ? "selected=\"selected\"" : "")>Hơn 10 năm</!option>
                        <!option value="5" @(Model.LoanBriefResident.LivingTime == 5 ? "selected=\"selected\"" : "")>Dưới 6 tháng</!option>
                        <!option value="6" @(Model.LoanBriefResident.LivingTime == 6 ? "selected=\"selected\"" : "")>6 tháng</!option>
                        <!option value="7" @(Model.LoanBriefResident.LivingTime == 7 ? "selected=\"selected\"" : "")>Từ 7-12 tháng</!option>
                        <!option value="8" @(Model.LoanBriefResident.LivingTime == 8 ? "selected=\"selected\"" : "")>Từ 12-36 tháng</!option>
                        <!option value="9" @(Model.LoanBriefResident.LivingTime == 9 ? "selected=\"selected\"" : "")>Từ 36-72 tháng</!option>
                        <!option value="10" @(Model.LoanBriefResident.LivingTime == 10 ? "selected=\"selected\"" : "")>Trên 72 tháng</!option>
                    </select>
                    <input type="hidden" name="LoanBriefResident.LivingTime" value="@Model.LoanBriefResident.LivingTime" />
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Địa chỉ đang ở:
                </label>
                <div class="col-10">
                    <textarea class="form-control cus-form-control m-input" name="LoanBriefResident.Address" rows="3" placeholder="" style="background: none !important;">@Model.LoanBriefResident.Address</textarea>
                </div>
            </div>

            @*Bản đồ*@
            <div class="form-group m-form__group row-cus-script" style="text-align:center;">
                <div class="col-12 cus-border-right box-cus-row">
                    <label class="col-form-label" style="font-weight: bold">
                        Địa chỉ nơi ở
                    </label>
                </div>
                <div class="col-12 box-cus-row">
                    <div>
                        <input class="form-control cus-form-control m-input cus-input-script" style="background:none !important;" type="text" placeholder="Địa chỉ nơi ở trên bản đồ" name="LoanBriefResident.AddressGoogleMap" id="AddressGoogleMap" value="@(string.IsNullOrEmpty(Model.LoanBriefResident.AddressGoogleMap) ? Model.LoanBriefResident.Address : Model.LoanBriefResident.AddressGoogleMap)">
                    </div>

                    <div class="row" style="margin-top: 10px">
                        <div class="col-3">
                            <button class="btn  btn-tima" type="button" style="padding: 7px 30px; width: 100%" onclick="GoogleMapModule.SearchLocation('#boxGoogleMapAddress', '#AddressGoogleMap', '#boxCoordinateAddress')">Bản đồ</button>
                        </div>
                        <div class="col-9">
                            <input class="form-control cus-form-control m-input cus-input-script" style="background:none !important;" type="text" name="LoanBriefResident.AddressLatLng" value="@Model.LoanBriefResident.AddressLatLng" placeholder="Kinh độ, vĩ độ" id="boxCoordinateAddress">
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px">
                        <div class="col-9"></div>
                        <div class="col-3">
                            <button class="btn btn-tima" type="button" style="padding: 7px 30px; width: 100%;" onclick="ScriptMotobikeModuleJS_v2.HideGoogleMapAddressNew()">Ẩn bản đồ</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group m-form__group row-cus-script" id="boxGoogleMapAddress" style="height: 500px; margin: 15px 0px; display: none">
            </div>
        </div>

        
    </div>
</div>

