﻿@model LOS.WebApp.Models.LoanBriefInit
<div class="m-section__content">
    <div style="margin-bottom: 5px; font-weight:bold">
        <span>
            Thông tin doanh nghiệp
        </span>
        <i class="la la-angle-double-right" style="font-size: 15px;"></i>
    </div>
    <input type="hidden" name="LoanBriefCompany.LoanBriefId" value="@Model.LoanBriefCompany.LoanBriefId" />
    <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
        <div class="custom-m-boder-box m-demo__preview">
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Tên doanh nghiệp:
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input" type="text" name="LoanBriefCompany.CompanyName" value="@Model.LoanBriefCompany.CompanyName" readonly>
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Ngành nghề kinh doanh:
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input" type="text" name="LoanBriefCompany.CareerBusiness" value="@Model.LoanBriefCompany.CareerBusiness" readonly>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Ngày cấp giấy CNĐKD/CNĐKND
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input cus-datepicker" type="text" name="sBusinessCertificationDate" value="@(Model.LoanBriefCompany.BusinessCertificationDate.HasValue ? Model.LoanBriefCompany.BusinessCertificationDate.Value.ToString("dd/MM/yyyy"): "")" readonly>
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Nơi cấp giấy CNĐKD/CNĐKND:
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input" type="text" name="LoanBriefCompany.BusinessCertificationAddress" value="@Model.LoanBriefCompany.BusinessCertificationAddress" readonly>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Trụ sở theo đăng ký kinh doanh
                </label>
                <div class="col-10">
                    <textarea class="form-control cus-form-control m-input" rows="3" name="LoanBriefCompany.HeadOffice" readonly>@Model.LoanBriefCompany.HeadOffice</textarea>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Địa chỉ kinh doanh hiện tại:
                </label>
                <div class="col-10">
                    <textarea class="form-control cus-form-control m-input" rows="3" name="LoanBriefCompany.Address" readonly>@Model.LoanBriefCompany.Address</textarea>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Cổ đông góp vốn nhiều nhất:
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input" type="text" name="LoanBriefCompany.CompanyShareholder" value="@Model.LoanBriefCompany.CompanyShareholder" readonly>
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Ngày sinh:
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input cus-datepicker" type="text" name="sBirthdayShareholder" value="@(Model.LoanBriefCompany.BirthdayShareholder.HasValue ? Model.LoanBriefCompany.BirthdayShareholder.Value.ToString("dd/MM/yyyy"): "")" readonly>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Số CMND/CCCD/Hộ Chiếu:
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input" type="text" name="LoanBriefCompany.CardNumberShareholder" value="@Model.LoanBriefCompany.CardNumberShareholder" readonly>
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Nơi sinh:
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input" type="text" name="LoanBriefCompany.PlaceOfBirthShareholder" value="@Model.LoanBriefCompany.PlaceOfBirthShareholder" readonly>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Ngày cấp:
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input cus-datepicker" type="text" name="sCardNumberShareholderDate"  value="@(Model.LoanBriefCompany.CardNumberShareholderDate.HasValue ? Model.LoanBriefCompany.CardNumberShareholderDate.Value.ToString("dd/MM/yyyy"): "")" readonly>
                </div>

            </div>
        </div>
    </div>
</div>