﻿@model LOS.WebApp.Models.LoanBriefInit
<div class="m-section__content">
    <div style="margin-bottom: 5px; font-weight:bold">
        <span>
            Giải ngân
        </span>
        <i class="la la-angle-double-right" style="font-size: 15px;"></i>
    </div>

    <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
        <div class="custom-m-boder-box m-demo__preview">
            
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Nhận tiền bằng:
                </label>
                <div class="col-4">
                    <select class="form-control cus-form-control m-input m-input--square" id="sl_ReceivingMoneyType" name="ReceivingMoneyType">
                        <option></option>
                        <!option value="1" @(Model.ReceivingMoneyType == LOS.Common.Extensions.EnumTypeReceivingMoney.MoneyCash.GetHashCode() ? "selected=\"selected\"" : "")>Tiền mặt</!option>
                        <!option value="3" @(Model.ReceivingMoneyType == LOS.Common.Extensions.EnumTypeReceivingMoney.NumberAccount.GetHashCode() ? "selected=\"selected\"" : "")>Chuyển khoản Số tài khoản</!option>
                        @*<!option value="4" @(Model.ReceivingMoneyType == LOS.Common.Extensions.EnumTypeReceivingMoney.NumberCard.GetHashCode() ? "selected=\"selected\"" : "")>Số thẻ</!option>*@
                    </select>
                </div>

            </div>

            <div id="boxTranferBank" style="@(Model.ReceivingMoneyType == LOS.Common.Extensions.EnumTypeReceivingMoney.NumberAccount.GetHashCode() ||  Model.ReceivingMoneyType == LOS.Common.Extensions.EnumTypeReceivingMoney.NumberCard.GetHashCode() ? "" : "display: none")">
                <div class="form-group m-form__group row">
                    <label for="example-email-input" class="col-2 col-form-label">
                        Ngân hàng:
                    </label>
                    <div class="col-4">
                        <select class="form-control cus-form-control m-input m-input--square" id="sl_BankReceiveMoney" name="BankId">
                            @if (Model != null && Model.ListBank != null && Model.ListBank.Count > 0)
                            {
                                <option></option>
                                foreach (var item in Model.ListBank)
                                {
                                    <!option code="@item.BankValue" value="@item.BankId" @(Model.BankId == item.BankId ? "selected=\"selected\"" : "")> @(string.Format("{0}-{1}", item.BankCode, item.Name))</!option>
                                }
                            }
                        </select>
                    </div>
                    <label for="example-email-input" class="col-2 col-form-label">
                        Tên chủ thẻ:
                    </label>
                    <div class="col-4">
                        <input class="form-control cus-form-control m-input" type="text" style="background:none !important;" name="BankAccountName" value="@Model.BankAccountName">
                    </div>
                </div>
                <div class="form-group m-form__group row" id="boxAccountNumber" style="@(Model.ReceivingMoneyType == 3 ?  "" : "display: none")">
                    <label for="example-email-input" class="col-2 col-form-label">
                        Số tài khoản
                    </label>
                    <div class="col-4">
                        <input class="form-control cus-form-control m-input numberOnly" type="text" style="background:none !important;" value="@Model.BankAccountNumber" name="BankAccountNumber" id="BankAccountNumber">
                    </div>
                </div>
                <div class="form-group m-form__group row" id="boxCardAccountNumber" style="@(Model.ReceivingMoneyType == 4 ?  "" : "display: none")">
                    <label for="example-email-input" class="col-2 col-form-label">
                        Số thẻ
                    </label>
                    <div class="col-4">
                        <input class="form-control cus-form-control m-input numberOnly" style="background:none !important;" type="text" value="@Model.BankCardNumber" name="BankCardNumber" id="CardAccountNumber">
                    </div>
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Ghi chú
                </label>
                <div class="col-10">
                    <textarea class="form-control cus-form-control m-input" rows="3" name="LoanBriefComment" style="background:none !important;"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
