﻿@model LOS.WebApp.Models.LoanBriefInit
<div class="m-section__content">
    <div style="margin-bottom: 5px; font-weight:bold">
        <span>
            Khoản vay
        </span>
        <i class="la la-angle-double-right" style="font-size: 15px;"></i>
    </div>
    <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
        <div class="custom-m-boder-box m-demo__preview">
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Tiền đại lý cho vay:
                </label>
                <div class="col-4" style="padding-top: 10px">
                    <span>0</span>VNĐ
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Khách hàng mua bảo hiểm
                </label>
                <div class="col-4" style="padding-top: 10px">
                    <div class="m-checkbox-list">
                        <label class="m-checkbox m-checkbox--state-brand">
                            <input type="checkbox" @(Model.BuyInsurenceCustomer == true || Model.BuyInsurenceCustomer == null ? "checked=\"checked\"" : "") value="true" name="BuyInsurenceCustomer">
                            Có mua
                            <span></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Tiền khách cần vay:
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input inputAmountVND" type="text" name="LoanAmount" id="txtLoanAmount" value="@(Model.LoanAmount.HasValue? Model.LoanAmount.Value.ToString("##,#") : "")" style="text-align: right;background:none !important;">
                    <a title="Lịch sử thanh toán" onclick="LoanBriefTopup.ListPaymentTopup(@Model.CodeId)" style="float: right;" class="btn-action btn m-btn m-btn--icon btn-sm m-btn--icon-only">
                        <i class="fa fa-money" style="font-size: 26px; color: red;"></i>
                    </a>
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Phí bảo hiểm:
                </label>
                @*Lịch sử thanh toán*@

                <div class="col-4" style="padding-top: 10px">
                    <span id="FeeInsurrance"></span>
                </div>
            </div>
            <div class="m-loader m-loader--brand m-loader--left" style="margin-top: 20px;display: none;left: 50% !important;" id="Loading">
                <input type="text" class="form-control" style="width: 50px; border: none;">
            </div>
            <div class="col-12" id="ShowHide" style="display:none;">
                <div class="m-section" style="padding-top: 0; padding-left: 30px;" id="lstPaymentTopup">
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Thời gian vay:
                </label>
                <div class="col-4 box-group">
                    <select class="form-control cus-form-control m-input m-input--square" id="sl_LoanTimeTopup" name="LoanTime">
                        <!option value="6" @(Model.LoanTime == LOS.Common.Extensions.EnumLoanTime.SixMonth.GetHashCode() ? "selected=\"selected\"" : "")>6 tháng</!option>
                        <!option value="12" @(Model.LoanTime == LOS.Common.Extensions.EnumLoanTime.TwentyMonth.GetHashCode() ? "selected=\"selected\"" : "")>12 tháng</!option>
                    </select>
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Ngày đăng ký
                </label>
                <div class="col-4" style="padding-top: 10px">
                    @(Model.CreatedTime != null ? Model.CreatedTime.Value.ToString("dd/MM/yyyy") : DateTime.Now.ToString("dd/MM/yyyy"))
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Chu kỳ đóng lãi
                </label>
                <div class="col-4">
                    <select class="form-control cus-form-control m-input m-input--square" id="sl_Frequency" name="Frequency">
                        <option value="@LOS.Common.Extensions.EnumFrequency.OneMonth.GetHashCode()" selected="selected">Hàng tháng</option>
                    </select>
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Ngày tất toán:
                    <span style="font-size: 10px; color: #ADB0C2;width: 100%; float: left">
                        (Dự kiến)
                    </span>
                </label>
                <div class="col-4" style="padding-top: 10px" id="txtfinishLoan" disabled="disabled">
                    @(Model.ToDate != null ? Model.ToDate.Value.ToString("dd/MM/yyyy") : "")
                </div>
            </div>


            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Số kỳ trả:
                </label>
                <div class="col-4" style="padding-top: 10px" disabled="disabled">
                    <span>12</span> kỳ
                </div>
                @*<label for="example-email-input" class="col-2 col-form-label">
                        Phí bảo hiểm
                        <span style="font-size: 10px; color: #ADB0C2;width: 100%; float: left">
                            (Dự kiến)
                        </span>
                    </label>
                    <div class="col-4" style="padding-top: 10px">
                        <span id="FeeInsurrance"></span>
                    </div>*@
                <label for="example-email-input" class="col-2 col-form-label">
                    Tổng phí dịch vụ:
                    <span style="font-size: 10px; color: #ADB0C2;width: 100%; float: left">
                        (Dự kiến)
                    </span>
                </label>
                <div class="col-4" style="padding-top: 10px">
                    <span>0</span>VNĐ
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Lãi Phí trả hàng tháng:
                    <span style="font-size: 10px; color: #ADB0C2;width: 100%; float: left">
                        (K/Tr/Ngày)
                    </span>
                </label>
                <div class="col-4" style="padding-top: 10px">
                    <input class="form-control cus-form-control m-input inputAmountVND" type="text" name="RateMoney" id="RateMoney" value="@(Model.RateMoney != null ? Model.RateMoney.Value.ToString("##,#") : "2700")" readonly />
                    <span id="Percent"></span>
                    <input type="hidden" id="RatePercent" name="RatePercent" value="@(Model.RatePercent != null ? Model.RatePercent.ToString() : "98.55")" />
                </div>
            </div>

        </div>
    </div>
</div>
