﻿@model LOS.WebApp.Models.LoanBriefInit
@{
    var TypeProduct = 0;
    var lstInfomationProductDetail = ViewBag.ListInfomationProductDetail as List<LOS.DAL.DTOs.ProductDetailModel>;
}
<div class="m-section__content">
    <div style="margin-bottom: 5px; font-weight:bold">
        <span>
            Hình thức vay
        </span>
        <i class="la la-angle-double-right" style="font-size: 15px;"></i>
    </div>
    <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
        <div class="custom-m-boder-box m-demo__preview">
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Gói vay:
                </label>
                <div class="col-4 box-group">
                    <select class="form-control cus-form-control m-select2" id="sl_loan_product" onchange="LoadInfomationModuleJS.ChangeProduct(this.value)">
                        @if (Model != null && Model.ListLoanProduct != null && Model.ListLoanProduct.Count > 0)
                        {
                            <option></option>
                            foreach (var item in Model.ListLoanProduct)
                            {
                                //cập nhật đơn vay
                                if (Model.ProductId > 0)
                                {
                                    //Nếu là gói sản phẩm nhỏ => cho thay đổi với nhóm  telesale và hub

                                    if (Model.ProductType == (int)LOS.Common.Extensions.EnumTypeProduct.SmallProduct)
                                    {
                                        if (item.TypeProductId == (int)LOS.Common.Extensions.EnumTypeProduct.SmallProduct)
                                        {
                                            if (Model.ProductId == item.LoanProductId)
                                            {
                                                <option value="@item.LoanProductId" attr-type-product="@Model.ProductType" selected="selected">@item.Name</option>
                                            }
                                            else
                                            {
                                                <option value="@item.LoanProductId" attr-type-product="@Model.ProductType">@item.Name</option>
                                            }
                                        }
                                    }
                                    //Sản phẩm lớn
                                    else
                                    {
                                        <!option value="@item.LoanProductId" attr-type-product="@Model.ProductType" @(Model.ProductId == item.LoanProductId ? "selected=\"selected\"" : "")>@item.Name</!option>
                                    }
                                }
                                else
                                {
                                    if (item.Status == 1)
                                    {
                                        <!option attr-type-product="@item.TypeProductId" value="@item.LoanProductId" @(Model.ProductId == item.LoanProductId ? "selected=\"selected\"" : "")>
                                            @item.Name
                                        </!option>
                                    }

                                }
                            }
                        }
                    </select>
                    <input type="hidden" name="ProductId" value="@Model.ProductId" />
                </div>

                <label for="example-email-input" class="col-2 col-form-label">
                    Hình thức tính lãi:
                </label>
                <div class="col-4">
                    <select class="form-control cus-form-control m-input m-input--square" id="sl_RateType2" disabled="disabled">
                        @if (Model.RateTypeId > 0)
                        {
                            if (Model.RateTypeId == LOS.Common.Extensions.EnumRateType.RateMonthADay.GetHashCode() || Model.RateTypeId == LOS.Common.Extensions.EnumRateType.TatToanCuoiKy.GetHashCode())
                            {
                                <!option value="@LOS.Common.Extensions.EnumRateType.TatToanCuoiKy.GetHashCode()">Tất toán cuối kỳ</!option>
                            }
                            else
                            {
                                <!option value="@LOS.Common.Extensions.EnumRateType.DuNoGiamDan.GetHashCode()">Dư nợ giảm dần</!option>
                            }

                        }
                    </select>
                    <input type="hidden" name="RateTypeId" value="@Model.RateTypeId" />
                </div>


            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    <span>Gói vay chi tiết:</span>
                </label>
                <div class="col-4">
                    <select class="form-control cus-form-control m-input m-input--square" id="sl_InfomationProductDetail" name="ProductDetailId">
                        @if (lstInfomationProductDetail != null && lstInfomationProductDetail.Count > 0)
                        {
                            <option></option>
                            foreach (var item in lstInfomationProductDetail)
                            {
                                if (Model.ProductDetailId.HasValue && Model.ProductDetailId == item.InfomationProductDetailId)
                                {
                                    <option value="@item.InfomationProductDetailId" selected="selected">@item.Name</option>
                                }
                                else
                                {
                                    <option value="@item.InfomationProductDetailId">@item.Name</option>
                                }
                            }
                        }
                    </select>
                </div>

                <div id="disInsuranceProperty" class="col-6">
                    <label for="example-email-input" class="col-4 col-form-label" style="float:left;">
                        Mua bảo hiểm tài sản:
                    </label>
                    <div class="col-6" style="float:left;padding-left: 10px;">
                        <div class="m-checkbox-list" style="margin-top: 8px;">
                            <label class="m-checkbox m-checkbox--state-brand">
                                <input type="checkbox" name="LoanBriefProperty.BuyInsuranceProperty" value="true">
                                Có mua
                                <span></span>
                            </label>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
