﻿@model LOS.WebApp.Models.LoanBriefInit
<div class="m-section__content" id="MotoDisplay">
    <div style="margin-bottom: 5px; font-weight:bold">
        <span>
            Tài sản
        </span>
        <i class="la la-angle-double-right" style="font-size: 15px;"></i>
    </div>
    <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
        <input type="hidden"  value="@Model.LoanBriefProperty.LoanBriefPropertyId" name="LoanBriefProperty.LoanBriefPropertyId"/>
        <div class="custom-m-boder-box m-demo__preview">
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Hãng xe:
                </label>
                <div class="col-4">

                    <select class="form-control cus-form-control m-select2" id="sl_brand_product" disabled="disabled">
                        @if (Model != null && Model.ListBrandProduct != null && Model.ListBrandProduct.Count > 0)
                        {
                            <option></option>
                            foreach (var item in Model.ListBrandProduct)
                            {
                                <!option value="@item.Id" @(Model.LoanBriefProperty.BrandId == item.Id ? "selected=\"selected\"" : "")>@item.Name</!option>
                            }
                        }
                    </select>
                    <input type="hidden" name="LoanBriefProperty.BrandId" value="@Model.LoanBriefProperty.BrandId" />
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Giá trước thẩm định:
                </label>
                <div class="col-4" style="padding-top: 10px">
                    <span>0</span>VNĐ
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Tên xe:
                </label>
                <div class="col-4">
                    <select class="form-control cus-form-control m-select2" id="sl_product_name" name="LoanBriefProperty.ProductId" disabled="disabled">
                        <option></option>
                    </select>
                    <input type="hidden" name="LoanBriefProperty.ProductId" value="@Model.LoanBriefProperty.ProductId" />
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Giá sau thẩm định:
                </label>
                <div class="col-4" style="padding-top: 10px">
                    <span>0</span>VNĐ
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Biển số xe:
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input" type="text" name="LoanBriefProperty.PlateNumber" value="@(Model.LoanBriefProperty != null && Model.LoanBriefProperty.PlateNumber != null ? Model.LoanBriefProperty.PlateNumber : "")" />
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Xe gắn định vị:
                </label>
                <div class="col-4" style="padding-top: 10px">
                    <div class="m-checkbox-list">
                        <label class="m-checkbox m-checkbox--state-brand">
                            <input type="checkbox" @(Model.IsLocate == true ? "checked=\"checked\"" : "") " value="true" disabled="disabled">
                            Có gắn
                            <span></span>
                        </label>
                        <input type="hidden" name="IsLocate" value="@Model.IsLocate" />
                    </div>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Số khung:
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input" type="text" name="LoanBriefProperty.Chassis" value="@(Model.LoanBriefProperty != null && Model.LoanBriefProperty.Chassis != null ? Model.LoanBriefProperty.Chassis : "")" />
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Số máy:
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input" type="text" name="LoanBriefProperty.Engine" value="@(Model.LoanBriefProperty != null && Model.LoanBriefProperty.Engine != null ? Model.LoanBriefProperty.Engine : "")" />
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Họ tên chủ xe:
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input" type="text" name="LoanBriefProperty.OwnerFullName" value="@(Model.LoanBriefProperty != null && Model.LoanBriefProperty.OwnerFullName != null ? Model.LoanBriefProperty.OwnerFullName : "")" />
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Số đăng ký xe:
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input" type="text" name="LoanBriefProperty.MotobikeCertificateNumber" value="@(Model.LoanBriefProperty != null && Model.LoanBriefProperty.MotobikeCertificateNumber != null ? Model.LoanBriefProperty.MotobikeCertificateNumber : "")" />
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Ngày đăng ký xe:
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input" type="text" name="LoanBriefProperty.MotobikeCertificateDate" value="@(Model.LoanBriefProperty != null && Model.LoanBriefProperty.MotobikeCertificateDate != null ? Model.LoanBriefProperty.MotobikeCertificateDate : "")" />
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Nơi cấp đăng ký xe:
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input" type="text" name="LoanBriefProperty.MotobikeCertificateAddress" value="@(Model.LoanBriefProperty != null && Model.LoanBriefProperty.MotobikeCertificateAddress != null ? Model.LoanBriefProperty.MotobikeCertificateAddress : "")" />
                </div>
            </div>
        </div>
    </div>
</div>