﻿@model LOS.WebApp.Models.LoanBriefInit
<div class="m-section__content">
    <div style="margin-bottom: 5px; font-weight:bold">
        <span>
            Người thân - Đồng nghiệp
        </span>
        <i class="la la-angle-double-right" style="font-size: 15px;"></i>
    </div>
    <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
        <div class="custom-m-boder-box m-demo__preview">
            <input type="hidden" name="LoanBriefRelationship[0].Id" value="@(Model.LoanBriefRelationship != null && Model.LoanBriefRelationship.Count > 0 ? Model.LoanBriefRelationship.ToList()[0].Id : 0)"/>

            <div class="row" style="margin-top: -15px;">
                <label for="example-email-input" class="col-2 col-form-label" style="font-weight: bold; float: left;">
                    Người thân thứ nhất
                </label>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Mối quan hệ:
                </label>
                <div class="col-4">
                    <select class="form-control cus-form-control m-select2" id="sl_relative_family" name="LoanBriefRelationship[0].RelationshipType">
                        @if (Model != null && Model.ListRelativeFamilys != null && Model.ListRelativeFamilys.Count > 0)
                        {
                            <option></option>
                            foreach (var item in Model.ListRelativeFamilys)
                            {
                                <!option value="@item.Id" @(Model.LoanBriefRelationship.ToList() != null && Model.LoanBriefRelationship.Count > 0 && Model.LoanBriefRelationship.ToList()[0].RelationshipType == item.Id ? "selected=\"selected\"" : "") >@item.Name</!option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Họ tên:
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input" type="text" name="LoanBriefRelationship[0].FullName" value="@(Model.LoanBriefRelationship.ToList() != null && Model.LoanBriefRelationship.Count > 0 ? Model.LoanBriefRelationship.ToList()[0].FullName : "")" style="background:none !important;">
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Số ĐT người thân:
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input numberOnly" type="text" name="LoanBriefRelationship[0].Phone" value="@(Model.LoanBriefRelationship.ToList() != null  && Model.LoanBriefRelationship.Count > 0 ? Model.LoanBriefRelationship.ToList()[0].Phone : "")" style="background:none !important;">
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Địa chỉ cư chú người thân:
                </label>
                <div class="col-10">
                    <textarea class="form-control cus-form-control m-input" name="LoanBriefRelationship[0].Address" rows="3" style="background:none !important;">@(Model.LoanBriefRelationship.ToList() != null && Model.LoanBriefRelationship.Count > 0 ? Model.LoanBriefRelationship.ToList()[0].Address : "")</textarea>
                </div>
            </div>

            <input type="hidden" name="LoanBriefRelationship[1].Id" value="@(Model.LoanBriefRelationship != null && Model.LoanBriefRelationship.Count > 1 ? Model.LoanBriefRelationship.ToList()[1].Id : 0)"/>
            <div class="row" style="margin-top: -15px;">
                <label for="example-email-input" class="col-2 col-form-label" style="font-weight: bold; float: left;">
                    Người thân thứ hai
                </label>
            </div>

            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Mối quan hệ:
                </label>
                <div class="col-4">
                    <select class="form-control cus-form-control m-select2" id="sl_relative_family2" name="LoanBriefRelationship[1].RelationshipType">
                        @if (Model != null && Model.ListRelativeFamilys != null && Model.ListRelativeFamilys.Count > 0)
                        {
                            <option></option>
                            foreach (var item in Model.ListRelativeFamilys)
                            {
                                <!option value="@item.Id" @(Model.LoanBriefRelationship.ToList() != null && Model.LoanBriefRelationship.Count > 1 && Model.LoanBriefRelationship.ToList()[1].RelationshipType == item.Id ? "selected=\"selected\"" : "")>@item.Name</!option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Họ tên:
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input" type="text" name="LoanBriefRelationship[1].FullName" value="@(Model.LoanBriefRelationship.ToList() != null && Model.LoanBriefRelationship.Count > 1 ? Model.LoanBriefRelationship.ToList()[1].FullName : "")" style="background:none !important;">
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Số ĐT người thân:
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input numberOnly" type="text" name="LoanBriefRelationship[1].Phone" value="@(Model.LoanBriefRelationship.ToList() != null && Model.LoanBriefRelationship.Count > 1 ? Model.LoanBriefRelationship.ToList()[1].Phone : "")" style="background:none !important;">
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Địa chỉ cư chú người thân:
                </label>
                <div class="col-10">
                    <textarea class="form-control cus-form-control m-input" name="LoanBriefRelationship[1].Address" rows="3" style="background:none !important;">@(Model.LoanBriefRelationship.ToList() != null && Model.LoanBriefRelationship.Count > 1 ? Model.LoanBriefRelationship.ToList()[1].Address : "")</textarea>
                </div>
            </div>
        </div>
    </div>
</div>