﻿@model LOS.WebApp.Models.LoanBriefInit
<div class="m-section__content">
    <div style="margin-bottom: 5px; font-weight:bold">
        <span>
            Việc làm
        </span>
        <i class="la la-angle-double-right" style="font-size: 15px;"></i>
    </div>
    <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
        <input type="hidden" name="LoanBriefJob.LoanBriefJobId" value="@Model.LoanBriefJob.LoanBriefJobId" />
        <div class="custom-m-boder-box m-demo__preview">
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Nghề nghiệp:
                </label>
                <div class="col-4">
                    <select class="form-control cus-form-control m-select2" id="sl_jobId" name="LoanBriefJob.JobId">
                        @if (Model != null && Model.ListJobs != null && Model.ListJobs.Count > 0)
                        {
                            <option></option>
                            foreach (var item in Model.ListJobs)
                            {
                                <!option value="@item.JobId" @(item.JobId == Model.LoanBriefJob.JobId ? "selected=\"selected\"" : "")>@item.Name</!option>
                            }
                        }
                    </select>
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Tên công ty:
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input" type="text" name="LoanBriefJob.CompanyName" style="background: none !important;" value="@Model.LoanBriefJob.CompanyName">
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Số ĐT công ty:
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input numberOnly" type="text" name="LoanBriefJob.CompanyPhone" style="background: none !important;" value="@Model.LoanBriefJob.CompanyPhone">
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Mã số thuế Công ty:
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input" type="text" name="LoanBriefJob.CompanyTaxCode" style="background: none !important;" value="@Model.LoanBriefJob.CompanyTaxCode">
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Địa chỉ công ty:
                </label>
                <div class="col-4">
                    <select class="form-control cus-form-control m-select2" id="sl_province_work_company"  onchange="WorkInformationModuleJS.GetDistrict(this.value, 0)" name="LoanBriefJob.CompanyProvinceId">
                        @if (Model != null && Model.ListProvince != null && Model.ListProvince.Count > 0)
                        {
                            <option></option>
                            foreach (var item in Model.ListProvince)
                            {
                                <!option value="@item.ProvinceId" @(Model.LoanBriefJob.CompanyProvinceId == item.ProvinceId ? "selected=\"selected\"" : "")>@item.Name</!option>
                            }
                        }
                    </select>
                </div>

                <label for="example-email-input" class="col-2 col-form-label">
                    Quận/ Huyện:
                </label>
                <div class="col-4">
                    <select class="form-control cus-form-control m-input m-input--square" id="sl_district_work_company" onchange="WorkInformationModuleJS.GetWard(this.value, 0)" name="LoanBriefJob.CompanyDistrictId">
                        <option></option>
                    </select>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Phường/ xã:
                </label>
                <div class="col-4">
                    <select class="form-control cus-form-control m-select2" id="sl_ward_work_company" name="LoanBriefJob.CompanyWardId">
                        <option></option>
                    </select>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Địa chỉ chính xác:
                </label>
                <div class="col-10">
                    <textarea class="form-control cus-form-control m-input" style="background: none !important;" name="LoanBriefJob.CompanyAddress" rows="3">@Model.LoanBriefJob.CompanyAddress</textarea>
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Thu nhập:
                    <span style="font-size: 10px; color: #ADB0C2;width: 100%; float: left">
                        khách hàng cung cấp
                    </span>
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input inputAmountVND" style="text-align: right;background: none !important;" type="text" name="LoanBriefJob.TotalIncome" id="txtTotalIncome" value="@(Model.LoanBriefJob.TotalIncome.HasValue ? Model.LoanBriefJob.TotalIncome.Value.ToString("##,#") : "0")">
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Hình thức nhận lương:
                    <span style="font-size: 10px; color: #ADB0C2;width: 100%; float: left">
                        khách hàng cung cấp
                    </span>
                </label>
                <div class="col-4">
                    <select class="form-control cus-form-control m-input m-input--square"  id="sl_work_ReceivingMoney" name="LoanBriefJob.ImcomeType">
                        <option></option>
                        <!option value="@LOS.Common.Extensions.EnumImcomeType.ChuyenKhoan.GetHashCode()" @(Model.LoanBriefJob.ImcomeType == LOS.Common.Extensions.EnumImcomeType.ChuyenKhoan.GetHashCode() ? "selected=\"selected\"" : "")>
                            Nhận lương chuyển khoản
                        </!option>
                        <!option value="@LOS.Common.Extensions.EnumImcomeType.TienMat.GetHashCode()" @(Model.LoanBriefJob.ImcomeType == LOS.Common.Extensions.EnumImcomeType.TienMat.GetHashCode() ? "selected=\"selected\"" : "")>
                            Nhận lương tiền mặt
                        </!option>
                    </select>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Vị trí:
                </label>
                <div class="col-10">
                    <textarea class="form-control cus-form-control m-input" name="LoanBriefJob.Description" style="background: none !important;" rows="3">@Model.LoanBriefJob.Description</textarea>
                </div>
            </div>
        </div>
    </div>
</div>