﻿@{
    ViewData["Title"] = "Quản lý Job";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@await Component.InvokeAsync("Breadcrumb", new { ModuleName = "JOB_MANAGER" })*@
<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Danh sách công việc
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <!--begin: Search Form -->
            <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                <div class="row align-items-center">
                    <div class="col-xl-8 order-2 order-xl-1">
                        <div class="form-group m-form__group row align-items-center">
                            <div class="col-md-4">
                                <div class="m-input-icon m-input-icon--left">
                                    <input type="text" class="form-control m-input" placeholder="Tìm kiếm..." id="filterName">
                                    <span class="m-input-icon__icon m-input-icon__icon--left">
                                        <span>
                                            <i class="la la-search"></i>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 order-1 order-xl-2 m--align-right">
                        @*<a href="#"  class="btn btn-primary m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill" data-toggle="ajax-modal" data-target="#create-user" data-url="@Url.Action("_CreateJobModalPartial","Job")">*@
                        <button href="#" class="btn btn-success m-btn m-btn--icon" onclick="JobModule.ShowModel()">
                            <span>
                                <i class="la la-cart-plus"></i>
                                <span>
                                    Tạo công việc
                                </span>
                            </span>
                        </button>
                        @*</a>*@
                        <div class="m-separator m-separator--dashed d-xl-none"></div>
                    </div>
                </div>
            </div>
            <!--end: Search Form -->
            <!--begin: Datatable -->
            <table class="m-datatable" width="100%"></table>
        </div>
    </div>
</div>
<div class="modal fade" id="m_modal_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" id="modelJob">
    </div>
</div>



@section Scripts
    {
    <script src="/js/JobModule.js" type="text/javascript"></script>
}