﻿@model LOS.DAL.DTOs.SectionDTO;
@{
	Layout = null;
}
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" id="modalUpdate">
	<div class="modal-dialog modal-lg" role="document" id="modelJob">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">
					Thông tin bộ phận
				</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">
						&times;
					</span>
				</button>
			</div>
			<form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed">
				<div class="modal-body">
					<input type="hidden" name="PipelineId" id="PipelineId" value="@Model.PipelineId" />
					<input type="hidden" name="SectionId" id="SectionId" value="@Model.SectionId" />
					<div class="m-portlet__body">
						<div class="row align-items-center border-all">
							<div class="col-lg-6 m--padding-10">
								<span class="float-right">Tên bộ phận:</span>
							</div>
							<div class="col-lg-6 m--padding-10 border-l">
								<div class="m-input-icon m-input-icon--right">
									<input type="text" class="form-control m-input" value="@Model.Name" id="txtName" name="Name" placeholder="Tên bộ phận">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-metal col-lg-6" id="btnModalPrevious" data-dismiss="modal">
						Quay lại
					</button>
					<button type="button" class="btn btn-brand col-lg-6" id="btnModalNext" onclick="PipelineModule.CreateUpdateSection(this,event);">
						Lưu
					</button>					
				</div>
			</form>
		</div>
	</div>
</div>