﻿@model LOS.WebApp.Models.Request.IdOnlyReq;
@{
	Layout = null;
}

<div class="row border-all m--padding-10 disapproveContainer" data-index="@Model.index" style="margin:0;">
	<div class="col-lg-12" style="margin-bottom:10px;">
		<div class="col-lg-12" style="padding:0px;">
			<label>
				Điều kiện :
			</label>
			<div class="conditionValuesContainer">
				@{ await Html.RenderPartialAsync("DisapproveConditionValuePropertyPartial.cshtml", new LOS.WebApp.Models.Request.IdOnlyReq() { index = 0, id = @Model.index }); }
			</div>
			<button type="button" class="btn btn-secondary" style="margin-top:10px" onclick="PipelineModule.OnDisapproveAddConditionPropertyClick(@Model.index);">
				Thêm điều kiện
			</button>
		</div>
	</div>
	<hr style="border-top: 1px solid #808080!important;" />
	<div class="col-lg-12">
		<select class="form-control m-bootstrap-select m_selectpicker col-lg-6 float-left slDisapproveSection" onchange="PipelineModule.OnDisapproveSectionChanged(@Model.index);">
			<option value="0">
				Chọn hành động
			</option>
			@if (ViewBag.Sections != null && ViewBag.Sections.Count > 0)
			{
				foreach (var s in ViewBag.Sections)
				{
					if (s.PipelineId == Model.id)
					{
						<option value="@(s.SectionId)">
							@s.Name
						</option>
					}
				}
			}
		</select>		
		<select class="form-control m-bootstrap-select m_selectpicker col-lg-6 float-left slDisapproveSectionDetail">
		</select>		
	</div>
</div>

