﻿@model LOS.WebApp.Models.Request.IdOnlyReq;
@{
	Layout = null;
}
<div class="condition-value-container" data-index="@Model.index" style="margin-bottom:5px;">
	<div class="row" style="margin:0;">
		<div class="m-input-icon m-input-icon--right col-lg-5" style="padding-right:0!important;">
			<select class="form-control m-bootstrap-select m_selectpicker col-lg-12 float-left property" onchange="PipelineModule.OnDisapproveConditionPropertyChanged(@Model.id,@Model.index);">
				<option value="0">
					Chọn thuộc tính
				</option>
				@foreach (var property in ViewBag.Properties)
				{
					<option value="@(property.PropertyId)">
						@property.Name
					</option>
				}
			</select>
		</div>
		<div class="m-input-icon m-input-icon--right col-lg-2" style="padding-right:0!important;">
			<select class="form-control m-bootstrap-select m_selectpicker col-lg-12 float-left conditionOperator">
				<option value="EQUAL">=</option>
				<option value="NOT_EQUAL">!=</option>
				<option value="LESS_THAN"><</option>
				<option value="LESS_THAN_OR_EQUAL"><=</option>
				<option value="GREATER_THAN">></option>
				<option value="GREATER_THAN_OR_EQUAL">>=</option>
				<option value="IN">chứa</option>
				<option value="NOT_IN">không chứa</option>
			</select>
		</div>
		<div class="m-input-icon m-input-icon--right col-lg-5" style="padding-right:0!important;">
			<div class="valueContainer">
				<!-- Phụ thuộc vào type để generate đúng loại -->
			</div>
		</div>
	</div>
</div>