﻿@model LOS.DAL.DTOs.EditPropertyDTO;
@{
	Layout = null;
}
<div class="initial-value-container" data-index="@Model.Index" style="margin-bottom:5px;">
	<div class="row" style="margin:0;">
		<div class="m-input-icon m-input-icon--right col-lg-5" style="padding-right:0!important;">
			<input type="hidden" value="@Model.ActionType" class="hdType" />
			<select class="form-control m-bootstrap-select m_selectpicker col-lg-12 float-left property" onchange="PipelineModule.OnInitialPropertyChanged(@Model.Index, @Model.ActionType);">
				<option value="0">
					Chọn thuộc tính
				</option>
				@foreach (var property in ViewBag.Properties)
				{
					<!option value="@(property.PropertyId)" @(Model.PropertyId == property.PropertyId ? "selected" : String.Empty)>
						@property.Name
					</!option>

				}
			</select>
		</div>
		<div class="m-input-icon m-input-icon--right col-lg-2" style="padding-right:0!important;">
			<select class="form-control m-bootstrap-select m_selectpicker col-lg-12 float-left" id="slOperator">
				<option value="EQUAL" selected>=</option>
			</select>
		</div>
		<div class="m-input-icon m-input-icon--right col-lg-5" style="padding-right:0!important;">
			<div class="valueContainer">				
				@{ await Html.RenderPartialAsync("EditPropertyPartial.cshtml", Model); }
			</div>
		</div>
	</div>
</div>