@model LOS.DAL.DTOs.EditPropertyDTO;
@using Microsoft.AspNetCore.Http
@using LOS.WebApp.Helpers;
@using LOS.DAL.DTOs;
@inject IHttpContextAccessor HttpContextAccessor
@inject System.Net.Http.IHttpClientFactory clientFactory
@{
	Layout = null;
	if (Model.LinkObject != null)
	{
		// Get Link Object
		string token = HttpContextAccessor.HttpContext.Session.GetObjectFromJson<UserDetail>("USER_DATA").Result.Token;
		LOS.WebApp.Helpers.Ultility utils = new Ultility(clientFactory);
		var objects = utils.GetLinkObject(Model.LinkObject, token);
		ViewBag.LinkObjects = objects;
	}
}

@if (Model.LinkObject == null && (Model.Type == "String" || Model.Type == "Integer" || Model.Type == "Long"))
{
	// text box
	<div class="m-input-icon m-input-icon--right">
		<input type="text" class="form-control m-input propertyValue" placeholder="@Model.Name" value="@Model.Value">
	</div>
}
else if (Model.LinkObject == null && Model.Type == "Boolean")
{
	<div class="m-input-icon m-input-icon--right">
		<select class="form-control m-bootstrap-select m_selectpicker col-lg-12 float-left propertyValue">
			<!option value="1" @(Model.Value == "1" ? "selected" : String.Empty)>
				Đúng
			</!option>
			<!option value="0" @(Model.Value == "0" ? "selected" : String.Empty)>
				Sai
			</!option>
		</select>
	</div>
}
else if (Model.LinkObject == null && Model.Type == "DateTime")
{
	<div class="m-input-icon m-input-icon--right">
		<input type="text" class="form-control m-input propertyValue" placeholder="@Model.Name" value="@Model.Value">
	</div>
}
else if (Model.LinkObject != null && Model.Type == "Integer")
{
	if (ViewBag.LinkObjects != null)
	{
		<div class="m-input-icon m-input-icon--right">
			<select data-live-search="true" class="form-control m-bootstrap-select m_selectpicker col-lg-12 float-left propertyValue" @(Model.MultipleSelect == true ? "multiple data-selected-text-format=\"count > 3\"" : "")>
				<option value="0">
					Chọn
				</option>
				@{
					String[] values = Model.Value.Split(",");
					foreach (var obj in ViewBag.LinkObjects)
					{
						if (Model.LinkObject == "PipelineState")
						{
							<!option value="@obj.PipelineStateId" @(values.Contains(Convert.ToString((int)obj.PipelineStateId)) ? "selected" : String.Empty)>@obj.Description</!option>

						}
						else if (Model.LinkObject == "LoanStatus")
						{
							<!option value="@obj.Status" @(values.Contains(Convert.ToString((int)obj.Status)) ? "selected" : String.Empty)>@obj.Description</!option>
						}
						else if (Model.LinkObject == "Province")
						{
							<!option value="@obj.ProvinceId" @(values.Contains(Convert.ToString((int)obj.ProvinceId)) ? "selected" : String.Empty)>@obj.Name</!option>
						}
						else if (Model.LinkObject == "LoanProduct")
						{
							<!option value="@obj.LoanProductId" @(values.Contains(Convert.ToString((int)obj.LoanProductId)) ? "selected" : String.Empty)>@obj.Name</!option>
						}
						else if (Model.LinkObject == "HubType")
						{
							<!option value="@obj.HubTypeId" @(values.Contains(Convert.ToString((int)obj.HubTypeId)) ? "selected" : String.Empty)>@obj.Name</!option>
						}
						else if (Model.LinkObject == "EventConfig")
						{
							<!option value="@obj.Id" @(values.Contains(Convert.ToString((int)obj.Id)) ? "selected" : String.Empty)>@obj.EventName</!option>
						}
						else if (Model.LinkObject == "TypeRemarketing")
						{
							<!option value="@obj.Id" @(values.Contains(Convert.ToString((int)obj.Id)) ? "selected" : String.Empty)>@obj.Name</!option>
						}
						else if (Model.LinkObject == "District")
						{
							<!option value="@obj.DistrictId" @(values.Contains(Convert.ToString((int)obj.DistrictId)) ? "selected" : String.Empty)>@obj.Name</!option>
						}
						else if (Model.LinkObject == "InfomationProductDetail")
						{
							<!option value="@obj.Id" @(values.Contains(Convert.ToString((int)obj.Id)) ? "selected" : String.Empty)>@obj.Name</!option>
						}
						else if (Model.LinkObject == "DocumentException")
						{
							<!option value="@obj.Id" @(values.Contains(Convert.ToString((int)obj.Id)) ? "selected" : String.Empty)>@obj.Name</!option>
						}
					}
				}
			</select>
		</div>
	}
}
else
{
	<div class="m-input-icon m-input-icon--right">
		<input type="text" class="form-control m-input propertyValue" placeholder="@Model.Name" value="@Model.Value">
	</div>
}
