﻿@model LOS.DAL.DTOs.EditPropertyDTO;
@{
	Layout = null;
}
<div class="condition-value-container" data-index="@Model.Index" style="margin-bottom:5px;">
	<div class="row" style="margin:0;">
		<div class="m-input-icon m-input-icon--right col-lg-5" style="padding-right:0!important;">
			<select class="form-control m-bootstrap-select m_selectpicker col-lg-12 float-left property" onchange="PipelineModule.OnConditionPropertyChanged(@Model.ParentIndex,@Model.Index);">
				<option value="0">
					Chọn thuộc tính
				</option>
				@foreach (var property in ViewBag.Properties)
				{
					<!option value="@(property.PropertyId)" @(Model.PropertyId == property.PropertyId ? "selected" : String.Empty)>
						@property.Name
					</!option>
				}
			</select>
		</div>
		<div class="m-input-icon m-input-icon--right col-lg-2" style="padding-right:0!important;">
			<select class="form-control m-bootstrap-select m_selectpicker col-lg-12 float-left conditionOperator">
				<!option value="EQUAL" @(Model.Operator == "EQUAL" ? "selected" : String.Empty)>=</!option>
				<!option value="NOT_EQUAL" @(Model.Operator == "NOT_EQUAL" ? "selected" : String.Empty)>!=</!option>
				<!option value="LESS_THAN" @(Model.Operator == "LESS_THAN" ? "selected" : String.Empty)><</!option>
				<!option value="LESS_THAN_OR_EQUAL" @(Model.Operator == "LESS_THAN_OR_EQUAL" ? "selected" : String.Empty)><=</!option>
				<!option value="GREATER_THAN" @(Model.Operator == "GREATER_THAN" ? "selected" : String.Empty)>></!option>
				<!option value="GREATER_THAN_OR_EQUAL" @(Model.Operator == "GREATER_THAN_OR_EQUAL" ? "selected" : String.Empty)>>=</!option>
				<!option value="IN" @(Model.Operator == "IN" ? "selected" : String.Empty)>chứa</!option>
				<!option value="NOT_IN" @(Model.Operator == "NOT_IN" ? "selected" : String.Empty)>không chứa</!option>
			</select>
		</div>
		<div class="m-input-icon m-input-icon--right col-lg-5" style="padding-right:0!important;">
			<div class="valueContainer">
				@{ await Html.RenderPartialAsync("EditPropertyPartial.cshtml", Model); }
			</div>
		</div>
	</div>
</div>