﻿@model LOS.DAL.DTOs.SectionApproveDTO
@using Microsoft.AspNetCore.Http
@using LOS.WebApp.Helpers;
@using LOS.DAL.DTOs;
@inject IHttpContextAccessor HttpContextAccessor
@inject System.Net.Http.IHttpClientFactory clientFactory
@{
	Layout = null;
	LOS.WebApp.Services.IPipelineService pipelineService = new LOS.WebApp.Services.PipelineService(null, clientFactory);
	string token = HttpContextAccessor.HttpContext.Session.GetObjectFromJson<UserDetail>("USER_DATA").Result.Token;
	ViewBag.Sections = pipelineService.GetAllSections(token);
	ViewBag.Properties = pipelineService.GetAllProperty(token);
}

<div class="row border-all m--padding-10 disapproveContainer" data-index="@Model.Index" style="margin:0;">
	<div class="col-lg-12" style="margin-bottom:10px;">
		<div class="col-lg-12" style="padding:0px;">
			<label>
				Điều kiện :
			</label>
			<div class="conditionValuesContainer">
				@if (Model.Conditions != null && Model.Conditions.Count() > 0)
				{
					for (int i = 0; i < Model.Conditions.Count(); i++)
					{
						await Html.RenderPartialAsync("EditDisapproveConditionValuePropertyPartial.cshtml", LOS.WebApp.Helpers.Ultility.GetEditProperty(Model.Conditions.ElementAt(i).Property, Model.Index, i, Model.Conditions.ElementAt(i).Value, 0, Model.Conditions.ElementAt(i).Operator));
					}
				}
			</div>
			<button type="button" class="btn btn-secondary" style="margin-top:10px" onclick="PipelineModule.OnDisapproveAddConditionPropertyClick(@Model.Index);">
				Thêm điều kiện
			</button>
		</div>
	</div>
	<hr style="border-top: 1px solid #808080!important;" />
	<div class="col-lg-12">
		<select class="form-control m-bootstrap-select m_selectpicker col-lg-6 float-left slDisapproveSection" onchange="PipelineModule.OnDisapproveSectionChanged(@Model.Index);">
			<option value="0">
				Chọn hành động
			</option>
			@if (ViewBag.Sections != null && ViewBag.Sections.Count > 0)
			{
				foreach (var s in ViewBag.Sections)
				{
					if (s.PipelineId == Model.PipelineId)
					{
						<!option value="@(s.SectionId)" @(Model.Approve != null ? (Model.Approve.SectionId == s.SectionId ? "selected" : String.Empty) : String.Empty)>
							@s.Name
						</!option>
					}
				}
			}
		</select>
		<select class="form-control m-bootstrap-select m_selectpicker col-lg-6 float-left slDisapproveSectionDetail">
			@if (ViewBag.Sections != null && ViewBag.Sections.Count > 0)
			{
				foreach (var s in ViewBag.Sections)
				{
					if (Model.Approve != null)
					{
						if (s.SectionId == Model.Approve.SectionId)
						{
							foreach (var detail in s.Details)
							{
								<!option value="@(detail.SectionDetailId)" @(Model.Approve != null ? (detail.SectionDetailId == Model.Approve.SectionDetailId ? "selected" : String.Empty) : String.Empty)>
									@detail.Name
								</!option>

							}
						}
					}
				}
			}
		</select>
	</div>
</div>

