@using Microsoft.AspNetCore.Http
@using LOS.WebApp.Helpers;
@using LOS.DAL.DTOs;
@model LOS.DAL.DTOs.PropertyDTO;
@inject IHttpContextAccessor HttpContextAccessor
@inject System.Net.Http.IHttpClientFactory clientFactory
@{
	Layout = null;
	if (Model.LinkObject != null)
	{
		// Get Link Object
		string token = HttpContextAccessor.HttpContext.Session.GetObjectFromJson<UserDetail>("USER_DATA").Result.Token;
		LOS.WebApp.Helpers.Ultility utils = new Ultility(clientFactory);
		var objects = utils.GetLinkObject(Model.LinkObject, token);
		ViewBag.LinkObjects = objects;
	}
}

@if (Model.LinkObject == null && (Model.Type == "String" || Model.Type == "Integer" || Model.Type == "Long"))
{
	// text box
	<div class="m-input-icon m-input-icon--right">
		<input type="text" class="form-control m-input propertyValue" placeholder="@Model.Name">
	</div>
}
else if (Model.LinkObject == null && Model.Type == "Boolean")
{
	<div class="m-input-icon m-input-icon--right">
		<select class="form-control m-bootstrap-select m_selectpicker col-lg-12 float-left propertyValue">
			<option value="1" selected>
				Đúng
			</option>
			<option value="0">
				Sai
			</option>
		</select>
	</div>
}
else if (Model.LinkObject == null && Model.Type == "DateTime")
{
	<div class="m-input-icon m-input-icon--right">
		<input type="text" class="form-control m-input propertyValue" placeholder="@Model.Name">
	</div>
}
else if (Model.LinkObject != null && Model.Type == "Integer")
{
	if (ViewBag.LinkObjects != null)
	{
		<div class="m-input-icon m-input-icon--right">
			<select data-live-search="true" class="form-control m-bootstrap-select m_selectpicker col-lg-12 float-left propertyValue" @(Model.MultipleSelect == true ? "multiple data-selected-text-format=\"count > 3\"" : "")>
				<option value="0">
					Chọn
				</option>
				@foreach (var obj in ViewBag.LinkObjects)
				{
					if (Model.LinkObject == "PipelineState")
					{
						<option value="@obj.PipelineStateId">@obj.Description</option>
					}
					else if (Model.LinkObject == "LoanStatus")
					{
						<option value="@obj.Status">@obj.Description</option>
					}
					else if (Model.LinkObject == "Province")
					{
						<option value="@obj.ProvinceId">@obj.Name</option>
					}
					else if (Model.LinkObject == "LoanProduct")
					{
						<option value="@obj.LoanProductId">@obj.Name</option>
					}
					else if (Model.LinkObject == "HubType")
					{
						<option value="@obj.HubTypeId">@obj.Name</option>
					}
					else if (Model.LinkObject == "EventConfig")
					{
						<option value="@obj.Id">@obj.EventName</option>
					}
					else if (Model.LinkObject == "TypeRemarketing")
					{
						<option value="@obj.Id">@obj.Name</option>
					}
					else if (Model.LinkObject == "District")
					{
						<option value="@obj.DistrictId">@obj.Name</option>
					}
					else if (Model.LinkObject == "InfomationProductDetail")
					{
						<option value="@obj.Id">@obj.Name</option>
					}
					else if (Model.LinkObject == "DocumentException")
					{
						<option value="@obj.Id">@obj.Name</option>
					}
				}
			</select>
		</div>
	}
}
else
{
	<div class="m-input-icon m-input-icon--right">
		<input type="text" class="form-control m-input propertyValue" placeholder="@Model.Name">
	</div>
}
