﻿@model LOS.DAL.DTOs.SectionDetailDTO
@{
	Layout = null;
}
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" id="modalUpdate">
	<div class="modal-dialog modal-lg" role="document" id="modelJob">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">
					Thêm hành động 
				</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">
						&times;
					</span>
				</button>
			</div>
			<form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed">
				<input type="hidden" name="hdPipelineId" id="hdPipelineId" />
				<div class="modal-body m--padding-5">
					<div class="m-portlet__body">
						<div class="form-group m-form__group">
							<div class="row align-items-center border-all">								
								<input type="hidden" name="SectionId" id="txtId" value="@Model.SectionId" />
								<div class="col-lg-6 m--padding-10">
									<span class="float-right">Chọn bộ phận:</span>
								</div>
								<div class="col-lg-6 m--padding-10 border-l">
									<select class="form-control m-bootstrap-select m_selectpicker col-lg-9 float-left" id="slSection" disabled>
										<option value="0">
											Chọn bộ phận
										</option>
										@if (ViewBag.Sections != null && ViewBag.Sections.Count > 0)
										{
											foreach (var s in ViewBag.Sections)
											{
												if (Model.SectionId == s.SectionId)
												{
													<option value="@(s.SectionId)" selected>
														@s.Name
													</option>
												}
												else
												{
													<option value="@(s.SectionId)">
														@s.Name
													</option>
												}
											}
										}
									</select>
								</div>
							</div>
							<div class="row align-items-center border-all">
								<input type="hidden" id="hdPipelineId" />
								<div class="col-lg-6 m--padding-10">
									<span class="float-right">Chọn loại hành động:</span>
								</div>
								<div class="col-lg-6 m--padding-10 border-l">
									<select class="form-control m-bootstrap-select m_selectpicker col-lg-9 float-left" id="slMode">
										<option value="MANUAL" selected>Thủ công</option>
										<option value="AUTOMATIC">Tự động</option>
										<option value="SYSTEM_PROCESSING">Chờ hệ thống xử lý</option>
									</select>
								</div>
							</div>
							<div id="AddSectionContainer">
								<div class="row align-items-center border-all">
									<div class="col-lg-6 m--padding-10">
										<span class="float-right">Tên hành động:</span>
									</div>
									<div class="col-lg-6 m--padding-10 border-l">
										<div class="m-input-icon m-input-icon--right">
											<input type="text" class="form-control m-input" name="sectionName" id="sectionName" placeholder="Tên chi tiết hành động">
										</div>
									</div>
								</div>
								<div class="row border-all">
									<div class="col-lg-12 m--padding-10">
										<label>
											Giá trị khởi tạo :
										</label>
										<div id="initialValuesContainer">
											@{ await Html.RenderPartialAsync("InitialValuePropertyPartial.cshtml", new LOS.WebApp.Models.Request.IdOnlyReq() { index = 0, type = 1 }); }
										</div>
										<button type="button" class="btn btn-secondary" style="margin-top:10px" onclick="PipelineModule.OnAddInitialPropertyClick();">
											Thêm giá trị
										</button>
									</div>
								</div>
								<div class="row border-all">
									<div class="col-lg-12 m--padding-10">
										<label>
											Sự kiện :
										</label>
										<div id="eventValuesContainer">
											@{ await Html.RenderPartialAsync("InitialValuePropertyPartial.cshtml", new LOS.WebApp.Models.Request.IdOnlyReq() { index = 0, type = 10 }); }
										</div>										
									</div>
								</div>
								<div class="row border-all">
									<div class="col-lg-12 m--padding-10">
										<label>
											Giá trị nếu bị trả về :
										</label>
										<div id="returnValuesContainer">
											@{ await Html.RenderPartialAsync("InitialValuePropertyPartial.cshtml", new LOS.WebApp.Models.Request.IdOnlyReq() { index = 0, type = 2 }); }
										</div>
										<button type="button" class="btn btn-secondary" style="margin-top:10px" onclick="PipelineModule.OnAddReturnPropertyClick();">
											Thêm giá trị
										</button>
									</div>
								</div>
								<div class="row border-all">
									<div class="col-lg-12 m--padding-10">
										<label>
											Chuyển đến hành động nếu điều kiện được chấp nhận :
										</label>
										<div id="approveSectionContainer">
											@{ await Html.RenderPartialAsync("ApproveSectionPartial.cshtml", new LOS.WebApp.Models.Request.IdOnlyReq() { index = 0, id = Model.PipelineId.Value }); }
										</div>
										<button type="button" class="btn btn-secondary" style="margin-top:10px" onclick="PipelineModule.OnAddApproveSectionClick(@Model.PipelineId)">
											Thêm nhóm điều kiện
										</button>
									</div>
								</div>
								<div class="row border-all">
									<div class="col-lg-12 m--padding-10">
										<label>
											Chuyển đến hành động nếu điều kiện KHÔNG được chấp nhận :
										</label>
										<div class="row" style="margin:0;">
											<div id="disapproveSectionContainer">
												@{ await Html.RenderPartialAsync("DisapproveSectionPartial.cshtml", new LOS.WebApp.Models.Request.IdOnlyReq() { index = 0, id = Model.PipelineId.Value }); }
											</div>	
											<button type="button" class="btn btn-secondary" style="margin-top:10px" onclick="PipelineModule.OnAddDisapproveSectionClick(@Model.PipelineId)">
												Thêm nhóm điều kiện
											</button>
										</div>
									</div>
									<div class="col-lg-12 m--padding-10">
										<label>
											Sự kiện :
										</label>
										<div id="disapproveEventValuesContainer">
											@{ await Html.RenderPartialAsync("InitialValuePropertyPartial.cshtml", new LOS.WebApp.Models.Request.IdOnlyReq() { index = 0, type = 11 }); }
										</div>
									</div>
								</div>
								<div class="row border-all">
									<div class="col-lg-12 m--padding-10">
										<label>
											Chuyển đến hành động nếu bị trả về :
										</label>
										<div class="row" style="margin:0;">
											<select class="form-control m-bootstrap-select m_selectpicker col-lg-6 float-left" id="slReturnSection" onchange="PipelineModule.OnReturnSectionChanged();">
												<option value="0">
													Chọn hành động
												</option>
												@if (ViewBag.Sections != null && ViewBag.Sections.Count > 0)
												{
													foreach (var s in ViewBag.Sections)
													{
														if (s.PipelineId == Model.PipelineId)
														{
															<option value="@(s.SectionId)">
																@s.Name
															</option>
														}
													}
												}
											</select>
											<select class="form-control m-bootstrap-select m_selectpicker col-lg-6 float-left slReturnDetail">
											</select>
										</div>
									</div>
									<div class="col-lg-12 m--padding-10">
										<label>
											Sự kiện :
										</label>
										<div id="returnEventValuesContainer">
											@{ await Html.RenderPartialAsync("InitialValuePropertyPartial.cshtml", new LOS.WebApp.Models.Request.IdOnlyReq() { index = 0, type = 12 }); }
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer m--padding-top-10 m--padding-bottom-10 border-0">
					<button type="button" class="btn btn-metal col-lg-6" id="btnModalPrevious" data-dismiss="modal">
						Quay lại
					</button>
					<button type="button" class="btn btn-brand col-lg-6" id="btnModalNext" onclick="PipelineModule.OnCreateSectionDetail();">
						Lưu
					</button>
				</div>
			</form>
		</div>
	</div>
</div>

<script>
	$(document).ready(function () {
		var properties = @Html.Raw(Json.Serialize(ViewBag.Properties));		
		var sections = @Html.Raw(Json.Serialize(ViewBag.Sections));				
		PipelineModule.AssignValues(properties, sections);
	});	
</script>