﻿
@model LOS.DAL.DTOs.JobTitleDTO;
@{
    Layout = null;
}
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
            Tạo mới JobTitle
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
                &times;
            </span>
        </button>
    </div>
    <form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" action="Login/PostLogin">
        <div class="modal-body">
            <div class="m-portlet__body">
                <div class="form-group m-form__group row">
                    <div class="col-lg-6">
                        <label>
                            Tên JobTitle
                        </label>
                        <input type="text" class="form-control m-input" value="@Model.Name" name="name" placeholder="JobTitle">
                    </div>
                    <div class="col-lg-6">
                        <label>
                            Mức độ ưu tiên
                        </label>
                        <input type="text" class="form-control m-input" value="@Model.Priority" name="priority">
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                Đóng
            </button>
            <button type="button" class="btn btn-primary" onclick="JobTitleModule.AddJobTitle(this,event);">
                Lưu
            </button>
        </div>
    </form>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        if ($('#txtId').val() > 0) {
            $("#txtpassword").prop('disabled', true);

        }
    });

</script>




@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
