﻿@{
    Layout = null;
}
@*<div style="text-align: center;font-size: 30px;color: red;">
        Không tìm thấy trang hoặc bạn không đủ quyền
    </div>*@
<html lang="en">
<!-- begin::Head -->
<head>
    <meta charset="utf-8" />
    <title>
        LOS | Error Page
    </title>
    <meta name="description" content="Latest updates and statistic charts">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--begin::Web font -->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
          WebFont.load({
            google: {"families":["Poppins:300,400,500,600,700","Roboto:300,400,500,600,700"]},
            active: function() {
                sessionStorage.fonts = true;
            }
          });
    </script>
    <!--end::Web font -->
    <!--begin::Base Styles -->
    <link href="../../../assets/vendors/base/vendors.bundle.css" rel="stylesheet" type="text/css" />
    <link href="../../../assets/demo/default/base/style.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Base Styles -->
</head>
<!-- end::Head -->
<!-- end::Body -->
<body class="m--skin- m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">
    <!-- begin:: Page -->
    <div class="m-grid m-grid--hor m-grid--root m-page">
        <div class="m-grid__item m-grid__item--fluid m-grid  m-error-2" style="background-image: url(../../../assets/app/media/img//error/bg2.jpg);">
            <div class="m-error_container">
                <span class="m-error_title2 m--font-light">
                    <h1>
                        OOPS!
                    </h1>
                </span>
                <span class="m-error_desc m--font-light">
                    Bạn không có quyền truy cập. Vui lòng liên hệ quản trị viên để được hỗ trợ.
                </span>
            </div>
        </div>
    </div>
    <!-- end:: Page -->
</body>
<!-- end::Body -->
</html>
