﻿@model LOS.WebApp.Models.LoanBriefInit
<div class="m-section__content">
    <div style="margin-bottom: 5px; font-weight:bold">
        <span>
            Địa chỉ hộ khẩu
        </span>
        <i class="la la-angle-double-right" style="font-size: 15px;"></i>
    </div>
    <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
        <input type="hidden" name="LoanBriefHousehold.LoanBriefHouseholdId" value="@Model.LoanBriefHousehold.LoanBriefHouseholdId" />
        <div class="custom-m-boder-box m-demo__preview">
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Thành phố:
                </label>
                <div class="col-4">
                    <input type="hidden" value="@Model.ProvinceId" id="Old_ProvinceId" />
                    <select class="form-control cus-form-control m-select2" id="sl_province_addresshousehold" name="LoanBriefHousehold.ProvinceId" onchange="AddressHouseholdModuleJS.GetDistrict(this.value, 0)">
                        @if (Model != null && Model.ListProvince != null && Model.ListProvince.Count > 0)
                        {
                            <option></option>
                            foreach (var item in Model.ListProvince)
                            {
                                if (item.ProvinceId == Model.LoanBriefHousehold.ProvinceId)
                                {
                                    <option value="@item.ProvinceId" selected="selected">
                                        @item.Name
                                    </option>
                                }
                                else
                                {
                                    <option value="@item.ProvinceId">@item.Name</option>
                                }
                            }
                        }
                    </select>
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Quận/ huyện:
                </label>
                <div class="col-4">
                    <select class="form-control cus-form-control m-input m-input--square" id="sl_district_addresshousehold" name="LoanBriefHousehold.DistrictId" onchange="AddressHouseholdModuleJS.GetWard(this.value, 0)">
                        <option></option>
                    </select>
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Phường/ xã:
                </label>
                <div class="col-4">
                    <select class="form-control cus-form-control m-select2" id="sl_ward_addresshousehold" name="LoanBriefHousehold.WardId" aria-hidden="true">
                        <option></option>
                    </select>
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Địa chỉ đang ở:
                </label>
                <div class="col-10">
                    <textarea class="form-control cus-form-control m-input" name="LoanBriefHousehold.Address" rows="3" placeholder="Nhập địa chỉ đang ở">@Model.LoanBriefHousehold.Address</textarea>
                </div>
            </div>
        </div>
    </div>
</div>