﻿@model LOS.WebApp.Models.LoanBriefInit
<div class="m-section__content" id="CarDisplay">
    <div style="margin-bottom: 5px; font-weight:bold">
        <span>
            Tài sản
        </span>
        <i class="la la-angle-double-right" style="font-size: 15px;"></i>
    </div>
    <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
        <input type="hidden"  value="@Model.LoanBriefProperty.LoanBriefPropertyId" name="LoanBriefProperty.LoanBriefPropertyId"/>
        <div class="custom-m-boder-box m-demo__preview">
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Hãng xe: 
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input" type="text" name="LoanBriefProperty.CarManufacturer" value="@Model.LoanBriefProperty.CarManufacturer" placeholder="">      
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                   Tên xe:
                </label>
                <div class="col-4" style="padding-top: 10px">
                    <input class="form-control cus-form-control m-input" type="text" name="LoanBriefProperty.CarName" value="@Model.LoanBriefProperty.CarName" placeholder="">
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Biển số xe:
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input" type="text" name="LoanBriefProperty.PlateNumberCar" value="@(Model.LoanBriefProperty != null && Model.LoanBriefProperty.PlateNumberCar != null ? Model.LoanBriefProperty.PlateNumberCar : "")" />
                </div>

                <label for="example-email-input" class="col-2 col-form-label">
                    Xe gắn định vị:
                </label>
                <div class="col-4" style="padding-top: 10px">
                    <div class="m-checkbox-list">
                        <label class="m-checkbox m-checkbox--state-brand">
                            <input type="checkbox" @(Model.IsLocate == true ? "checked=\"checked\"" : "") " value="true" name="IsLocate">
                            Có gắn
                            <span></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>