﻿@model LOS.WebApp.Models.LoanBriefInit

<div class="m-section__content">
    <div style="margin-bottom: 5px; font-weight:bold">
        <span>
            Hình thức vay
        </span>
        <i class="la la-angle-double-right" style="font-size: 15px;"></i>
    </div>
    <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
        <div class="custom-m-boder-box m-demo__preview">
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Gói vay:
                </label>
                <div class="col-4 box-group">
                    <select class="form-control cus-form-control m-select2" id="sl_loan_product" name="ProductId" onchange="LoadInfomationModuleJS.ChangeProduct(this.value)">
                        @if (Model != null && Model.ListLoanProduct != null && Model.ListLoanProduct.Count > 0)
                        {
                            <option></option>
                            foreach (var item in Model.ListLoanProduct)
                            {
                                if (Model.ProductType > 0)
                                {
                                    if (Model.ProductId == item.LoanProductId)
                                    {
                                        <option value="@item.LoanProductId" attr-type-product="@Model.ProductType" selected="selected">@item.Name</option>
                                    }
                                }
                                else
                                {
                                    <!option attr-type-product="@item.TypeProductId" value="@item.LoanProductId" @(Model.ProductId == item.LoanProductId ? "selected=\"selected\"" : "")>
                                        @item.Name
                                    </!option>
                                }

                            }
                        }
                    </select>
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Hình thức tính lãi:
                </label>
                <div class="col-4">
                    <select class="form-control cus-form-control m-input m-input--square" id="sl_RateType" name="RateTypeId">
                        <option></option>
                        @if (Model.RateTypeId > 0)
                        {
                            if (Model.ProductType == 2 || Model.LoanBriefId == 0)
                            {
                                <!option value="@LOS.Common.Extensions.EnumRateType.TatToanCuoiKy.GetHashCode()" @(Model.RateTypeId == LOS.Common.Extensions.EnumRateType.RateMonthADay.GetHashCode() || Model.RateTypeId == LOS.Common.Extensions.EnumRateType.TatToanCuoiKy.GetHashCode() ? "selected=\"selected\"" : "")>Tất toán cuối kỳ</!option>
                            }
                            <!option value="@LOS.Common.Extensions.EnumRateType.DuNoGiamDan.GetHashCode()" @(Model.RateTypeId == LOS.Common.Extensions.EnumRateType.RateAmortization30Days.GetHashCode() || Model.RateTypeId == LOS.Common.Extensions.EnumRateType.DuNoGiamDan.GetHashCode() ? "selected=\"selected\"" : "")>Dư nợ giảm dần</!option>
                        }
                        else
                        {
                            if (Model.ProductType == 2 || Model.LoanBriefId == 0)
                            {
                                <option value="@LOS.Common.Extensions.EnumRateType.TatToanCuoiKy.GetHashCode()">Tất toán cuối kỳ</option>
                            }
                            <option value="@LOS.Common.Extensions.EnumRateType.DuNoGiamDan.GetHashCode()" selected="selected">Dư nợ giảm dần</option>
                        }

                    </select>
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Điểm AI Score
                </label>
                <div class="col-4" style="padding-top: 10px">
                    0
                </div>
            </div>
        </div>
    </div>
</div>
