﻿@model LOS.WebApp.Models.LoanBriefInit
<div class="m-section__content">
    <div style="margin-bottom: 5px; font-weight:bold">
        <span>
            Thông tin cá nhân
        </span>
        <i class="la la-angle-double-right" style="font-size: 15px;"></i>
    </div>
    <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
        <div class="custom-m-boder-box m-demo__preview">
            <input type="hidden" name="Customer.CustomerId" value="@Model.Customer.CustomerId" />
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Nguồn đơn:
                </label>
                <div class="col-4 box-group">
                    <select class="form-control cus-form-control m-select2" id="sl_PlatformType" name="PlatformType" onchange="PersonalInformationModuleJS.ChangePlatformType(this.value)">
                        @if (Model != null && Model.ListPlatformType != null && Model.ListPlatformType.Count > 0)
                        {
                            <option></option>

                            foreach (var item in Model.ListPlatformType)
                            {
                                if (Model.LoanBriefId > 0 && Model.ListPlatformType.Any(x => x.Id == Model.PlatformType))
                                {
                                    if (item.Id == Model.PlatformType)
                                    {
                                        <!option value="@item.Id" selected="selected">@item.Name</!option>
                                    }
                                }
                                else
                                {
                                    <!option value="@item.Id" @(item.Id == Model.PlatformType ? "selected=\"selected\"" : "")>@item.Name</!option>
                                }

                            }
                        }
                    </select>
                    <input style="margin-top: 5px;display:none;" id="PresenterCode" name="PresenterCode" value="@(Model.PresenterCode != null? Model.PresenterCode : "")" class="form-control cus-form-control m-input" type="text" placeholder="Mã người giới thiệu">
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Loại đơn:
                </label>
                <div class="col-4">
                    <select class="form-control cus-form-control m-input m-input--square" name="TypeLoanBrief" id="typeCustomer" onchange="PersonalInformationModuleJS.ChangeTypeCustomer(this.value)">
                        <!option value="1" @(Model.TypeLoanBrief == 1 ? "selected=\"selected\"" : "")>
                            Cá nhân
                        </!option>
                        <!option value="2" @(Model.TypeLoanBrief == 2 ? "selected=\"selected\"" : "")>
                            Doanh nghiệp
                        </!option>
                    </select>
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Họ tên:
                </label>
                <div class="col-4 m-form__group-sub">
                    <input class="form-control cus-form-control m-input" type="text" name="Customer.FullName" value="@Model.Customer.FullName" placeholder="Nhập họ tên">
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Số điện thoại:
                </label>
                <div class="col-4 box-group m-form__group-sub">
                    @if (Model.LoanBriefId > 0)
                    {
                        <input class="form-control cus-form-control m-input" type="text" value="@LOS.WebApp.Helpers.Ultility.HidePhone(Model.Customer.Phone)" disabled="disabled">
                        <input type="hidden" value="@Model.Customer.Phone" name="Customer.Phone" />
                    }
                    else
                    {
                        <input class="form-control cus-form-control m-input numberOnly" type="text" name="Customer.Phone" value="@Model.Customer.Phone" placeholder="">
                    }
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Số CMND 1:
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input numberOnly" type="text" name="Customer.NationalCard" value="@Model.Customer.NationalCard">
                </div>
                <label for="example-email-input " class="col-2 col-form-label">
                    Chia sẻ location SIM:
                    <span style="font-size: 10px; color: #ADB0C2;width: 100%; float: left">
                        (Viettel + Mobifone)
                    </span>
                </label>
                <div class="col-4" style="padding-top: 10px">
                    <div class="m-checkbox-list">
                        <label class="m-checkbox m-checkbox--state-brand">
                            <input type="checkbox" value="true" @(Model.IsTrackingLocation == true ? "checked=\"checked\"" : "") name="IsTrackingLocation">
                            Có chia sẻ
                            <span></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Số CMND 2:
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input numberOnly" type="text" name="Customer.NationCardPlace" value="@Model.Customer.NationCardPlace">
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Ngày sinh:
                </label>
                <div class="col-4">
                    @*id="birthDayCus"*@
                    <input class="form-control cus-form-control m-input" autocomplete="off" type="text" name="sBirthDay" placeholder="dd/MM/yyyy" id="birthDayCus" value="@(Model.Customer.Dob != null ? Model.Customer.Dob.Value.ToString("dd/MM/yyyy") : "")">
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Passport:
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input" placeholder="Hộ chiếu" type="text" name="Customer.Passport" value="@Model.Customer.Passport">
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Giới tính:
                </label>
                <div class="col-4">
                    <div class="m-radio-inline">
                        <label class="m-radio">
                            <input type="radio" @(Model.Customer.Gender == 0 ? "checked=\"checked\"" : "") name="Customer.Gender" value="0">
                            Nam
                            <span></span>
                        </label>
                        <label class="m-radio">
                            <input type="radio" name="Customer.Gender" @(Model.Customer.Gender == 1 ? "checked=\"checked\"" : "") value="1">
                            Nữ
                            <span></span>
                        </label>
                    </div>
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Facebook:
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input" type="text" name="Customer.FacebookAddress" value="@Model.Customer.FacebookAddress">
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Số bảo hiểm:
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input" type="text" name="Customer.InsurenceNumber" value="@Model.Customer.InsurenceNumber">
                </div>
                <label for="example-email-input " class="col-2 col-form-label">
                    Số lần gọi:
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input numberOnly" type="text" name="NumberCall" value="@Model.NumberCall">
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Ghi chú bảo hiểm:
                </label>
                <div class="col-10">
                    <textarea class="form-control cus-form-control m-input" name="Customer.InsurenceNote" rows="3" placeholder="Nhập ghi chú bảo hiểm, ngày hết hạn...">@Model.Customer.InsurenceNote</textarea>
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    A/C có gia đình chưa:
                </label>
                <div class="col-4">
                    <div class="m-radio-inline">
                        <label class="m-radio">
                            <input type="radio" @(Model.Customer.IsMerried == 0 ? "checked=\"checked\"" : "") name="Customer.IsMerried" value="0">
                            Chưa có
                            <span></span>
                        </label>
                        <label class="m-radio">
                            <input type="radio" @(Model.Customer.IsMerried == 1 ? "checked=\"checked\"" : "") name="Customer.IsMerried" value="1">
                            Đã có
                            <span></span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    A/C có mấy cháu:
                </label>
                <div class="col-10">
                    <div class="m-radio-inline">
                        <label class="m-radio">
                            <input type="radio" @(Model.Customer.NumberBaby == 0 ? "checked=\"checked\"" : "") name="Customer.NumberBaby" value="0">
                            Chưa có
                            <span></span>
                        </label>
                        <label class="m-radio">
                            <input type="radio" @(Model.Customer.NumberBaby == 1 ? "checked=\"checked\"" : "") name="Customer.NumberBaby" value="1">
                            1 cháu
                            <span></span>
                        </label>
                        <label class="m-radio">
                            <input type="radio" @(Model.Customer.NumberBaby == 2 ? "checked=\"checked\"" : "") name="Customer.NumberBaby" value="2">
                            2 cháu
                            <span></span>
                        </label>
                        <label class="m-radio">
                            <input type="radio" @(Model.Customer.NumberBaby == 3 ? "checked=\"checked\"" : "") name="Customer.NumberBaby" value="3">
                            >= 3 cháu
                            <span></span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    A/C đang sống cùng ai:
                </label>
                <div class="col-10">
                    <div class="m-radio-inline">
                        <label class="m-radio">
                            <input type="radio" @(Model.LoanBriefResident.LivingWith == 0 ? "checked=\"checked\"" : "") name="LoanBriefResident.LivingWith" value="0">
                            Chung với bố mẹ
                            <span></span>
                        </label>
                        <label class="m-radio">
                            <input type="radio" @(Model.LoanBriefResident.LivingWith == 1 ? "checked=\"checked\"" : "") name="LoanBriefResident.LivingWith" value="1">
                            Riêng với vợ con
                            <span></span>
                        </label>
                        <label class="m-radio">
                            <input type="radio" @(Model.LoanBriefResident.LivingWith == 2 ? "checked=\"checked\"" : "") name="LoanBriefResident.LivingWith" value="2">
                            Riêng một mình
                            <span></span>
                        </label>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
