﻿<div id="FormCheckReLoan">
    <div>
        <span style="font-weight: bold; margin-left: 10px">
            Kiểm tra thông tin khách hàng
        </span>
    </div>
    <hr />
    <div class="m-section__content">
        <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
            <div class="custom-m-boder-box m-demo__preview">
                <div class="form-group m-form__group row">
                    <label for="example-email-input" class="col-4 col-form-label">
                        Họ và tên:
                    </label>
                    <div class="col-5">
                        <input class="form-control cus-form-control m-input" type="text" id="_CheckName" placeholder="">
                    </div>
                </div>

                <div class="form-group m-form__group row">
                    <label for="example-email-input" class="col-4 col-form-label">
                        Số CMND:
                    </label>
                    <div class="col-5">
                        <input class="form-control cus-form-control m-input" type="text" id="_CheckNumberCard" placeholder="">
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <div class="col-10" style="text-align:center;">
                        <button type="button" class="btn btn-tima" onclick="ReLoanModule.CheckReLoan()" style="padding: 10px 45px;">
                            Kiểm tra & tạo đơn
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




