﻿@model LOS.WebApp.Models.LoanBriefScriptItem
@{
    ViewData["Title"] = "Init";
    Layout = null;
    var user = ViewBag.User as LOS.DAL.DTOs.UserDetail;
}
@using LOS.Common.Extensions
<style>
    .custom-m-boder-box {
        border: 1px solid rgba(108, 114, 147, 1) !important;
    }

    .cus-info-header {
        padding-top: 20px;
        padding-left: 35px;
    }

    select.form-control:not([size]):not([multiple]) {
        height: unset;
    }

    .m-form.m-form--group-seperator-dashed .m-form__group {
        border-bottom: none;
    }

    .m-form.m-form--group-seperator-dashed .m-form__group {
        padding-bottom: 10px;
        padding-top: 5px;
    }

    .modal-open .select2-dropdown {
        z-index: 10060;
    }

    .btn-tima {
        background-color: rgba(108, 114, 147, 1);
        border-color: rgba(108, 114, 147, 1);
        color: #fff;
    }

    .btn-cus-default {
        color: rgba(108, 114, 147, 1);
        border-color: rgba(108, 114, 147, 1);
        background-color: #fff;
        padding: 7px 20px !important;
    }

    .error-notify {
        margin-top: 0px !important;
    }

    .row-cus-script {
        border-bottom: 1px solid #e9ecef !important;
        margin-left: 0px;
        margin-right: 0px;
        display: flex;
        padding: 0px !important;
    }

    .cus-input-script {
        border: none !important;
        border-bottom: 1px solid rgba(108, 114, 147, 1) !important;
        border-radius: 0;
        font-size: 14px;
    }

    .cus-border-right {
        border-right: 1px solid #e9ecef;
        text-align: right;
    }

    .box-cus-row {
        padding: 10px 15px;
    }

    #formReLoanSalary .select2-container--default .select2-selection--single {
        border: none !important;
        border-bottom: solid 1px !important;
        border-radius: 0 !important;
        color: #9CA0B6;
    }

    #formReLoanSalary .table th, .table td {
        padding: 5px !important
    }
</style>

<div class="modal-content">
    <div class="modal-header" style="padding: 15px;">
        <div class="m-demo-icon__class" style="margin-top: 5px; margin-left: 10px; font-weight: bold">
            THÔNG TIN KHÁCH HÀNG
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: 0px">
            <span aria-hidden="true">
                &times;
            </span>
        </button>
    </div>

    <form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" id="formReLoanSalary">
        <div class="cus-info-header">
            <span style="font-weight: bold; margin-left: 10px">
                Kiểm tra thông tin đơn vay
            </span>
        </div>
        <div class="modal-body" style="padding: 25px 40px;">
            <div class="m-portlet__body">
                <input type="hidden" id="hdd_LoanBriefId" name="LoanBriefId" value="@Model.LoanBriefId" />
                <input type="hidden" name="Customer.CustomerId" value="@Model.Customer.CustomerId" />
                <input type="hidden" name="LoanBriefJob.LoanBriefJobId" value="@Model.LoanBriefJob.LoanBriefJobId" />
                <input type="hidden" name="LoanBriefHousehold.LoanBriefHouseholdId" value="@Model.LoanBriefHousehold.LoanBriefHouseholdId" />
                <input type="hidden" name="LoanBriefJob.LoanBriefJobId" value="@Model.LoanBriefJob.LoanBriefJobId" />
                <input type="hidden" name="LoanBriefProperty.LoanBriefPropertyId" value="@Model.LoanBriefProperty.LoanBriefPropertyId" />
                <input type="hidden" name="LoanBriefResident.LoanBriefResidentId" value="@Model.LoanBriefResident.LoanBriefResidentId" />
                <input type="hidden" value="@Model.Customer.Phone" name="Customer.Phone" />
                <input type="hidden" name="ActionTelesales" id="txtActionTelesales" value="0" />

                <div class="form-group m-form__group row-cus-script">
                    <div class="col-6 cus-border-right box-cus-row">
                        <label class="col-form-label">
                            Gọi khách hàng lần 1 :
                            <span style="font-size: 12px; color: #ADB0C2;width: 100%; float: left">
                                (Tối đa 3 lần)
                            </span>
                        </label>
                    </div>
                    <div class="col-3 box-cus-row">
                        <div class="m-checkbox-list" style="margin-top: 10px">
                            <label class="m-checkbox m-checkbox--state-brand">
                                <input type="checkbox" value="true" name="CallNumber">
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group m-form__group row-cus-script">
                    <div class="col-6 cus-border-right box-cus-row">
                        <label class="col-form-label">
                            Lý do hủy trước đó :
                        </label>
                    </div>
                    <div class="col-6 box-cus-row">

                    </div>
                </div>

                <div class="form-group m-form__group row-cus-script" style="border-top: 1px solid #e9ecef">
                    <div class="col-6 cus-border-right box-cus-row">
                        <label class="col-form-label"> Em chào anh/chị. Đây có phải số điện thoại của anh/ chị <b>@Model.Customer.FullName</b> không ạ?</label>
                    </div>
                    <div class="col-3 box-cus-row">
                        <input class="form-control cus-form-control m-input cus-input-script" type="text" name="Customer.FullName" value="@Model.Customer.FullName">
                    </div>
                    <div class="col-3 box-cus-row" style="margin-top: 10px">
                        <div class="m-radio-inline">
                            <label class="m-radio">
                                <input type="radio" onclick="ReLoanSalaryModule.ChangeOptionPhone(1)" name="optionPhone" value="1">
                                Có
                                <span></span>
                            </label>
                            <label class="m-radio">
                                <input type="radio" name="optionPhone" onclick="ReLoanSalaryModule.ChangeOptionPhone(0)" value="0">
                                Không
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group m-form__group row-cus-script" id="boxConfirmAcceptTeles">
                    <div class="col-6 cus-border-right box-cus-row">
                        <label class="col-form-label"> Em là <b>@user.FullName</b> gọi từ phòng CSKH của côn g ty tư vấn tài chính Tima. Trong tháng này, Tima đang triển khai chương trình ưu đãi dành cho một số khách hàng đã tất toán khoản vay. Anh/ chị vui lòng cho e xin ít phút để tư vấn về chương trình này nhé.</label>
                    </div>
                    <div class="col-3 box-cus-row" style="padding-top: 10px">
                        <select class="form-control cus-form-control m-input m-input--square" id="StatusCall" onchange="ReLoanSalaryModule.ChangeStautsAccept(this.value)">
                            <option>Trạng thái</option>
                            <option value="1">Đồng ý</option>
                            <option value="2">Từ chối</option>
                            @*<option value="3">Hẹn gọi lại</option>*@
                        </select>
                    </div>
                </div>

                <div class="form-group m-form__group row-cus-script" style="border-top: 1px solid #e9ecef">
                    <div class="col-6 cus-border-right box-cus-row">
                        <label class="col-form-label"> Các thông tin về địa chỉ nơi ở và địa chỉ nơi làm việc của anh/ chị có thay đổi gì so với thời điểm đăng ký vay lần trước không ạ?</label>
                    </div>
                    <div class="col-6 box-cus-row" style="margin-top: 10px">
                        <div class="m-radio-inline">
                            <label class="m-radio">
                                <input type="radio" onclick="ReLoanSalaryModule.ChangeOptionPhone(1)" name="optionPhone" value="1">
                                Có
                                <span></span>
                            </label>
                            <label class="m-radio">
                                <input type="radio" name="optionPhone" onclick="ReLoanSalaryModule.ChangeOptionPhone(0)" value="0">
                                Không
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div id="boxLoanBriefInfo" style="display:none;">
                    <div class="row" style="text-align: center; font-weight: bold">
                        <label class="col-form-label col-8 offset-2" style="text-align: center; padding: 15px;">Để được phê duyệt khoản vay nhanh nhất, anh/ chị vui lòng cung cấp thật chính xác các thông tin, trong trường hợp có phát sinh sai lệch, hồ sơ sẽ bị hủy ạ.</label>
                    </div>
                    <!--Ngày sinh-->
                    <div class="form-group m-form__group row-cus-script">
                        <div class="col-6 cus-border-right box-cus-row">
                            <label class="col-form-label">Ngày sinh khách khai báo trước đó :</label>
                        </div>
                        <div class="col-3 box-cus-row">
                            <div class="input-group date">
                                <input type="text" class="form-control cus-form-control m-input cus-input-script cus-datepicker" id="txtBirthDay" name="sBirthDay" placeholder="Ngày sinh" value="@(Model.Customer.Dob != null ? Model.Customer.Dob.Value.ToString("dd/MM/yyyy") : "")">
                                <i class="fa fa-calendar" style="padding-top: 3%;font-size: 15pt; border-bottom: 1px solid rgba(108, 114, 147, 1)"></i>
                            </div>
                        </div>
                    </div>

                    <!--Giới tính-->
                    <div class="form-group m-form__group row-cus-script">
                        <div class="col-6 cus-border-right box-cus-row">
                            <label class="col-form-label">Giới tính :</label>
                        </div>
                        <div class="col-3 box-cus-row">
                            <div class="m-radio-inline" style="margin-top: 10px">
                                <label class="m-radio">
                                    <input type="radio" @(Model.Customer.Gender == 0 ? "checked=\"checked\"" : "") name="Customer.Gender" value="0">
                                    Nam
                                    <span></span>
                                </label>
                                <label class="m-radio">
                                    <input type="radio" name="Customer.Gender" @(Model.Customer.Gender == 1 ? "checked=\"checked\"" : "") value="1">
                                    Nữ
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <!--Email-->
                    <div class="form-group m-form__group row-cus-script">
                        <div class="col-6 cus-border-right box-cus-row">
                            <label class="col-form-label">Email :</label>
                        </div>
                        <div class="col-3 box-cus-row">
                            <div class="input-group date">
                                <input type="text" class="form-control cus-form-control m-input cus-input-script cus-datepicker" id="txtEmail" name="Email" placeholder="Email" value="@(Model.Email != null ? Model.Email : "")">
                            </div>
                        </div>
                    </div>

                    <!--CMND-->
                    <div class="form-group m-form__group row-cus-script">
                        <div class="col-6 cus-border-right box-cus-row">
                            <label class="col-form-label">
                                Anh/chị vui lòng đọc giúp em số CMND/CCCD và ngày tháng năm sinh của mình ạ?:
                                <span style="font-size: 12px; color: #ADB0C2;width: 100%; float: left">
                                    Số CMND/ CCCD khai báo trước đó
                                </span>
                            </label>
                        </div>
                        <div class="col-3 box-cus-row">
                            <input class="form-control cus-form-control m-input cus-input-script" type="text" name="Customer.NationalCard" value="@Model.Customer.NationalCard">
                        </div>
                    </div>

                    <!--Địa chỉ hiện tại-->
                    <div class="form-group m-form__group row-cus-script">
                        <div class="col-6 cus-border-right box-cus-row">
                            <label class="col-form-label">
                                Anh/chị đọc chính xác giúp em địa chỉ nơi ở hiện tại ạ?
                            </label>
                        </div>
                        <div class="col-6 box-cus-row">
                            <label class="col-form-label" style="font-weight: bold">Địa chỉ nơi ở khách hàng khai báo trước đó</label>
                            <div class="row">
                                <div class="col-4">
                                    <select class="form-control cus-form-control  m-select2" id="province_addresshome" name="LoanBriefResident.ProvinceId" onchange="ReLoanSalaryModule.GetDistrict(this.value, 0, '#district_addresshome', '#ward_addresshome')">
                                        @if (Model != null && Model.ListProvince != null && Model.ListProvince.Count > 0)
                                        {
                                            <option></option>
                                            foreach (var item in Model.ListProvince)
                                            {
                                                if (item.ProvinceId == Model.LoanBriefResident.ProvinceId)
                                                {
                                                    <option value="@item.ProvinceId" selected="selected">
                                                        @item.Name
                                                    </option>
                                                }
                                                else
                                                {
                                                    <option value="@item.ProvinceId">@item.Name</option>
                                                }
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="col-4">
                                    <select class="form-control cus-form-control m-input m-input--square" id="district_addresshome" name="LoanBriefResident.DistrictId" tabindex="3" aria-hidden="true" onchange="ReLoanSalaryModule.GetWard(this.value, 0, '#ward_addresshome')">
                                        <option></option>
                                    </select>
                                </div>
                                <div class="col-4">
                                    <select class="form-control cus-form-control  m-select2" id="ward_addresshome" name="LoanBriefResident.WardId" tabindex="4" aria-hidden="true">
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                            <div style="margin-top: 10px">
                                <input class="form-control cus-form-control m-input cus-input-script" type="text" placeholder="Địa chỉ nơi ở" name="LoanBriefResident.Address" value="@Model.LoanBriefResident.Address">
                            </div>
                        </div>
                    </div>

                    <!--Hình thức sở hữu-->
                    <div class="form-group m-form__group row-cus-script">
                        <div class="col-6 cus-border-right box-cus-row">
                            <label class="col-form-label">
                                Nhà anh/ chị hiện đang ở là Thuê hay đứng tên sở hữu của ai? <br />
                                Người đó có mối quan hệ như thế nào với anh/ chị ạ?
                            </label>
                        </div>
                        <div class="col-4 box-cus-row">
                            <select class="form-control cus-form-control m-select2" id="TypeOwnerShip" name="LoanBriefResident.ResidentType" tabindex="5" aria-hidden="true" onchange="ScriptMotobikeModuleJS.GetMaxPrice()">
                                <option></option>
                                @*<!option value="1" @(Model.LoanBriefResident.ResidentType == 1 ? "selected=\"selected\"" : "")>Nhà chính chủ</!option>*@
                                <!option value="2" @(Model.LoanBriefResident.ResidentType == 2 ? "selected=\"selected\"" : "")>Đồng sở hữu</!option>
                                <!option value="3" @(Model.LoanBriefResident.ResidentType == 3 ? "selected=\"selected\"" : "")>Đứng tên họ hàng</!option>
                                <!option value="4" @(Model.LoanBriefResident.ResidentType == 4 ? "selected=\"selected\"" : "")>Thuê</!option>
                                <!option value="6" @(Model.LoanBriefResident.ResidentType == 6 ? "selected=\"selected\"" : "")>Nhà sở hữu</!option>
                                <!option value="7" @(Model.LoanBriefResident.ResidentType == 7 ? "selected=\"selected\"" : "")>Đứng tên bố mẹ</!option>
                                <!option value="8" @(Model.LoanBriefResident.ResidentType == 8 ? "selected=\"selected\"" : "")>Đứng tên vợ/ chồng</!option>

                            </select>
                        </div>
                    </div>

                    <!--Địa chỉ SHK-->
                    <div class="form-group m-form__group row-cus-script" style="border-top: 1px solid #e9ecef">
                        <div class="col-6 cus-border-right box-cus-row">
                            <label class="col-form-label">
                                Anh/chị cung cấp lại địa chỉ hộ khẩu giúp e ạ?
                            </label>
                        </div>
                        <div class="col-6 box-cus-row">
                            <label class="col-form-label" style="font-weight: bold">Địa chỉ hộ khẩu khách hàng khai báo trước đó</label>
                            <div class="row">
                                <div class="col-4">
                                    <select class="form-control cus-form-control m-select2" id="province_addresshousehold" name="LoanBriefHousehold.ProvinceId" onchange="ReLoanSalaryModule.GetDistrict(this.value, 0, '#district_addresshousehold', '#ward_addresshousehold')">
                                        @if (Model != null && Model.ListProvince != null && Model.ListProvince.Count > 0)
                                        {
                                            <option></option>
                                            foreach (var item in Model.ListProvince)
                                            {
                                                if (item.ProvinceId == Model.LoanBriefHousehold.ProvinceId)
                                                {
                                                    <option value="@item.ProvinceId" selected="selected">
                                                        @item.Name
                                                    </option>
                                                }
                                                else
                                                {
                                                    <option value="@item.ProvinceId">@item.Name</option>
                                                }
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="col-4">
                                    <select class="form-control cus-form-control m-input m-input--square" id="district_addresshousehold" name="LoanBriefHousehold.DistrictId" onchange="ReLoanSalaryModule.GetWard(this.value, 0, '#ward_addresshousehold')">
                                        <option></option>
                                    </select>
                                </div>
                                <div class="col-4">
                                    <select class="form-control cus-form-control m-select2" id="ward_addresshousehold" name="LoanBriefHousehold.WardId" aria-hidden="true">
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                            <div style="margin-top: 10px">
                                <input class="form-control cus-form-control m-input cus-input-script" type="text" placeholder="Địa chỉ hộ khẩu" name="LoanBriefHousehold.Address" value="@Model.LoanBriefHousehold.Address">
                            </div>
                        </div>
                    </div>

                    <!--Công việc-->
                    <div class="form-group m-form__group row-cus-script">
                        <div class="col-6 cus-border-right box-cus-row">
                            <label class="col-form-label">
                                Anh/chị cung cấp giúp em thông tin công việc hiện tại của anh/chị ạ: <br />
                                Anh/chị đang làm nghề gì ? vị trí ( mô tả qua về công việc)?,
                                thời gian làm công việc hiện tại bao lâu rồi ạ? Địa chỉ nơi làm việc hiện tại đang ở đâu ạ?
                                <span style="font-size: 12px; color: #ADB0C2;width: 100%; float: left">
                                    Trong trường hợp thông tin khách hàng trả lời không khớp với nội dung nhập trên ứng dụng vay1h.
                                </span>
                                Anh/chị vui lòng xác nhận lại chính xác giúp em một lần nữa ạ?
                            </label>
                        </div>
                        <div class="col-6 box-cus-row">
                            <label class="col-form-label" style="font-weight: bold">Thông tin công việc hiện tại khai báo trước đó</label>
                            <div class="row">
                                <div class="col-4" style="margin-top: 10px">Nghề nghiệp:</div>
                                <div class="col-8">
                                    <select class="form-control cus-form-control m-select2" id="jobId" name="LoanBriefJob.JobId" aria-hidden="true">
                                        @if (Model != null && Model.ListJobs != null && Model.ListJobs.Count > 0)
                                        {
                                            foreach (var item in Model.ListJobs)
                                            {
                                                <!option value="@item.JobId" @(item.JobId == Model.LoanBriefJob.JobId ? "selected=\"selected\"" : "")>
                                                    @item.Name
                                                </!option>
                                            }
                                        }
                                    </select>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-4" style="margin-top: 10px">Vị trí:</div>
                                <div class="col-8">
                                    <input class="form-control cus-form-control m-input cus-input-script" type="text" name="LoanBriefJob.Description" value="@Model.LoanBriefJob.Description">
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-4" style="margin-top: 10px">Tên công ty:</div>
                                <div class="col-8">
                                    <input class="form-control cus-form-control m-input cus-input-script" type="text" name="LoanBriefJob.CompanyName" value="@Model.LoanBriefJob.CompanyName">
                                </div>
                            </div>
                            <label class="col-form-label" style="font-weight: bold">Địa chỉ</label>
                            <div class="row">
                                <div class="col-4">
                                    <select class="form-control cus-form-control m-select2" id="province_work_company" name="LoanBriefJob.CompanyProvinceId" onchange="ReLoanSalaryModule.GetDistrict(this.value, 0, '#district_work_company', '#ward_work_company')">
                                        @if (Model != null && Model.ListProvince != null && Model.ListProvince.Count > 0)
                                        {
                                            <option></option>
                                            foreach (var item in Model.ListProvince)
                                            {
                                                <!option value="@item.ProvinceId" @(Model.LoanBriefJob.CompanyProvinceId == item.ProvinceId ? "selected=\"selected\"" : "")>@item.Name</!option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="col-4">
                                    <select class="form-control cus-form-control m-input m-input--square" id="district_work_company" name="LoanBriefJob.CompanyDistrictId" onclick="ReLoanSalaryModule.GetWard(this.value, 0, '#ward_work_company')">
                                        <option></option>
                                    </select>
                                </div>
                                <div class="col-4">
                                    <select class="form-control cus-form-control m-select2" id="ward_work_company" name="LoanBriefJob.CompanyWard" aria-hidden="true">
                                        <option></option>
                                    </select>
                                </div>
                            </div>

                            <div style="margin-top: 10px">
                                <input class="form-control cus-form-control m-input cus-input-script" type="text" placeholder="Địa chỉ chi tiết" name="LoanBriefJob.CompanyAddress" value="@Model.LoanBriefJob.CompanyAddress">
                            </div>
                        </div>
                    </div>
                    <!--Thu nhập-->
                    <div class="form-group m-form__group row-cus-script">
                        <div class="col-6 cus-border-right box-cus-row">
                            <label class="col-form-label">
                                Thu nhập bình quân 1 tháng của anh/chị là bao nhiêu ạ?
                                Thu nhập khai báo trước đó:
                            </label>
                        </div>
                        <div class="col-6 box-cus-row">
                            <div class="row">
                                <div class="col-8">
                                    <input class="form-control cus-form-control m-input cus-input-script inputAmountVND" type="text" placeholder="" id="txtTotalIncome" name="LoanBriefJob.TotalIncome" value="@(Model.LoanBriefJob.TotalIncome.HasValue ? Model.LoanBriefJob.TotalIncome.Value.ToString("##,#") : "0")">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Hình thức nhận lương-->
                    <div class="form-group m-form__group row-cus-script">
                        <div class="col-6 cus-border-right box-cus-row">
                            <label class="col-form-label">Hình thức nhận lương:</label>
                        </div>
                        <div class="col-3 box-cus-row">
                            <div class="m-radio-inline" style="margin-top: 10px">
                                <label class="m-radio">
                                    <input type="radio" @(Model.LoanBriefJob.ImcomeType == 1 ? "checked=\"checked\"" : "") name="LoanBriefJob.ImcomeType" value="1">
                                    Tiền mặt
                                    <span></span>
                                </label>
                                <label class="m-radio">
                                    <input type="radio" name="LoanBriefJob.ImcomeType" @(Model.LoanBriefJob.ImcomeType == 2 ? "checked=\"checked\"" : "") value="2">
                                    Chuyển khoản
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <!--Thông tin khoản vay ngân hàng khác-->
                    <div class="form-group m-form__group row-cus-script">
                        <div class="col-6 cus-border-right box-cus-row">
                            <label class="col-form-label">
                                Hiện tại anh/chị có vay vốn ở các ngân hàng hoặc công ty tài chính nào không ạ? Hiện tại anh/chị có vay vốn tại các công ty online nào không?

                            </label>
                        </div>
                        <div class="col-3 box-cus-row">
                            <input class="form-control cus-form-control m-input cus-input-script" type="text">
                        </div>
                    </div>
                    <div class="form-group m-form__group row-cus-script">
                        <div class="col-6 cus-border-right box-cus-row">
                            <label class="col-form-label">
                                Số tiền trả nợ hàng tháng với các khoản vay này là bao nhiêu ạ?
                                <span style="font-size: 12px; color: #ADB0C2;width: 100%; float: left">
                                    (Chỉ hỏi nếu có khoản vay)
                                </span>
                            </label>
                        </div>
                        <div class="col-3 box-cus-row">
                            <input class="form-control cus-form-control m-input cus-input-script" type="text">
                        </div>
                    </div>
                    <div class="form-group m-form__group row-cus-script">
                        <div class="col-6 cus-border-right box-cus-row">
                            <label class="col-form-label">
                                Hạn mức thẻ tín dụng là bao nhiêu ạ?
                                <span style="font-size: 12px; color: #ADB0C2;width: 100%; float: left">
                                    (Chỉ hỏi nếu có thẻ tín dụng)
                                </span>
                            </label>
                        </div>
                        <div class="col-3 box-cus-row">
                            <input class="form-control cus-form-control m-input cus-input-script" type="text">
                        </div>
                    </div>


                    <!--Thông tin đơn vay-->
                    <div class="row" style="text-align: center; font-weight: bold">
                        <label class="col-form-label col-10 offset-1" style="text-align: center; padding: 15px;">
                            Chúc mừng anh/ chị. Hồ sơ vay vốn của anh/ chị đã được duyệt. Bên em có thể hỗ trợ cho vay tối đa trên hệ thống là :
                            <span id="txtMaxPrice"></span> VNĐ
                        </label>
                    </div>

                    <!--Số tiền đăng ký-->
                    <div class="form-group m-form__group row-cus-script" style="border-top: 1px solid #e9ecef">
                        <div class="col-6 cus-border-right box-cus-row">
                            <label class="col-form-label">
                                Anh/ chị(@Model.Customer.FullName) muốn đăng ký vay bao nhiêu tiền ạ?
                                <span style="font-size: 12px; color: #ADB0C2;width: 100%; float: left">
                                    Số tiền đăng ký trước đó: @(Model.LoanAmount.HasValue ? Model.LoanAmount.Value.ToString("##,#") : "0")
                                </span>
                            </label>
                        </div>
                        <div class="col-4 box-cus-row">
                            <input class="form-control cus-form-control m-input cus-input-script inputAmountVND" type="text" id="txtLoanAmount" name="LoanAmount" value="@(Model.LoanAmount.HasValue? Model.LoanAmount.Value.ToString("##,#") : "0")" style="text-align: right;">
                        </div>
                    </div>
                    <!--Thời gian vay-->
                    <div class="form-group m-form__group row-cus-script">
                        <div class="col-6 cus-border-right box-cus-row">
                            <label class="col-form-label">
                                Anh/ chị muốn đăng ký vay trong thời hạn bao lâu ạ?
                            </label>
                        </div>
                        <div class="col-4 box-cus-row">
                            <select class="form-control cus-form-control m-input m-input--square" id="LoanTime" name="LoanTime">
                                <option></option>
                                <!option value="1" @(Model.LoanTime == 1 ? "selected=\"selected\"" : "")>1 tháng</!option>
                                <!option value="2" @(Model.LoanTime == 2 ? "selected=\"selected\"" : "")>2 tháng</!option>
                                <!option value="3" @(Model.LoanTime == 3 ? "selected=\"selected\"" : "")>3 tháng</!option>
                                <!option value="6" @(Model.LoanTime == 6 ? "selected=\"selected\"" : "")>6 tháng</!option>
                                <!option value="9" @(Model.LoanTime == 9 ? "selected=\"selected\"" : "")>9 tháng</!option>
                                <!option value="12" @(Model.LoanTime == 12 ? "selected=\"selected\"" : "")>12 tháng</!option>
                                <!option value="18" @(Model.LoanTime == 18 ? "selected=\"selected\"" : "")>18 tháng</!option>
                                <!option value="24" @(Model.LoanTime == 24 ? "selected=\"selected\"" : "")>24 tháng</!option>
                            </select>
                        </div>
                    </div>
                    <!--Hình thức thanh toán-->
                    <div class="form-group m-form__group row-cus-script">
                        <div class="col-6 cus-border-right box-cus-row">
                            <label class="col-form-label">
                                Hình thức thanh toán
                            </label>
                        </div>
                        <div class="col-4 box-cus-row">
                            <select class="form-control cus-form-control m-input m-input--square" id="RateType" name="RateTypeId">
                                <option></option>
                                <!option value="@EnumRateType.TatToanCuoiKy.GetHashCode()" @(Model.RateTypeId == EnumRateType.TatToanCuoiKy.GetHashCode() || Model.RateTypeId == EnumRateType.RateMonthADay.GetHashCode() ? "selected=\"selected\"" : "")>Tất toán cuối kỳ</!option>
                                <!option value="@EnumRateType.DuNoGiamDan.GetHashCode()" @(Model.RateTypeId == EnumRateType.DuNoGiamDan.GetHashCode() || Model.RateTypeId == EnumRateType.RateAmortization30Days.GetHashCode() ? "selected=\"selected\"" : "")>Dư nợ giảm dần</!option>
                            </select>
                        </div>
                    </div>
                    <!--Nơi ký hợp đồng-->
                    <div class="form-group m-form__group row-cus-script">
                        <div class="col-6 cus-border-right box-cus-row">
                            <label class="col-form-label">
                                Anh/ chị muốn được ký hợp đồng tại địa chỉ nơi làm việc hay phòng giao dịch của Tima ạ?
                            </label>
                        </div>
                        <div class="col-4 box-cus-row">
                            <select class="form-control cus-form-control m-input m-input--square" id="ContractPlace">
                                <option></option>
                                <!option value="1">Chọn nơi ký hợp đồng</!option>
                                <!option value="1">Nơi làm việc</!option>
                                <!option value="2">Phòng giao dịch Tima</!option>
                            </select>
                        </div>
                    </div>


                    <div class="form-group m-form__group row-cus-script">
                        <div class="col-6 cus-border-right box-cus-row">
                            <label class="col-form-label">Anh/ chị vui lòng xác nhận lại giúp em hiện tại mình có bản gốc của các giấy tờ sau không?</label>
                            <label class="col-form-label">Khi nhân viên bên em qua ký hợp đồng sẽ kiểm tra và đối chiếu lại các giấy tờ này ạ.</label>
                        </div>
                        <div class="col-6 box-cus-row">
                            <div class="m-checkbox-list" style="margin-top: 10px">
                                <label class="m-checkbox m-checkbox--state-brand">
                                    <input type="checkbox" @(Model.LoanBriefDocument != null && Model.LoanBriefDocument.Any(x => x.DocumentId == 1) ? "checked=\"checked\"" : "") value="1" name="ListLoanBriefDocument">
                                    Bản gốc CMT
                                    <span></span>
                                </label>
                                <label class="m-checkbox m-checkbox--state-brand">
                                    <input type="checkbox" value="2" @(Model.LoanBriefDocument != null && Model.LoanBriefDocument.Any(x => x.DocumentId == 2) ? "checked=\"checked\"" : "") name="ListLoanBriefDocument">
                                    Bản gốc hộ chiếu
                                    <span></span>
                                </label>
                                <label class="m-checkbox m-checkbox--state-brand">
                                    <input type="checkbox" value="3" @(Model.LoanBriefDocument != null && Model.LoanBriefDocument.Any(x => x.DocumentId == 3) ? "checked=\"checked\"" : "") name="ListLoanBriefDocument">
                                    Bản gốc đăng ký xe(cà vẹt)
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group m-form__group row-cus-script">
                        <div class="col-6 cus-border-right box-cus-row">
                            <label class="col-form-label">Ghi chú telesales</label>
                        </div>
                        <div class="col-6 box-cus-row">
                            <input class="form-control cus-form-control m-input cus-input-script" type="text" name="LoanBriefComment" value="">
                        </div>
                    </div>

                    <div class="row" style="text-align: center; font-weight: bold">
                        <label class="col-form-label col-12" style="text-align: center; padding: 15px;">
                            Anh/ chị còn điểm nào chưa rõ cần em giải đáp thêm không ạ? Nếu anh/ chị không còn câu hỏi nào khác, em xin phép được gác máy. Khi cần hỗ trợ thông tin, anh/ chị vui lòng kết nối lại tổng đài 1900633688. Em cảm ơn, chào anh/ chị ạ.
                        </label>
                    </div>
                </div>

            </div>
            <div class="row" style="text-align: center; font-weight: bold; display: none;" id="boxRefuseAcceptCall">
                <label class="col-form-label col-8 offset-2" style="text-align: center; padding: 15px; color: red;">
                    Dạ, vậy trong thời gian tới, khi nào có nhu cầu cần hỗ trợ vay vốn, anh / chị vui lòng liên hệ lại tổng đài 1900633688 để được tư vấn khoản vay ạ. Em cảm ơn,chào anh/ chị.
                </label>
            </div>
            <div class="row" style="text-align: center; font-weight: bold; display: none;" id="boxPhoneFail">
                <label class="col-form-label col-8 offset-2" style="text-align: center; padding: 15px; color: red;">
                    Dạ, xin lỗi anh/ chị vì sự nhầm lẫn này ạ. Em xin phép gác máy. Chào anh/ chị ạ.
                </label>
            </div>
            <div class="row" style="border: none; padding-top: 25px" id="box-group-action">
                <div class="col-4">
                    <button type="button" class="btn btn-cus-default" style="width: 100%" onclick="CommonModalJS.InitCancelModal(@Model.LoanBriefId, '#modelReLoan')" id="btnRefuse">
                        Không duyệt
                    </button>
                </div>
                <div class="col-4">
                    <button type="button" class="btn btn-tima" id="btnSave" disabled="disabled" onclick="ReLoanSalaryModule.SubmitFormSalary(1)" style="width: 100%">
                        Lưu thông tin
                    </button>
                </div>
                <div class="col-4">
                    <button type="button" class="btn btn-tima" id="btnSubmit" disabled="disabled" onclick="ReLoanSalaryModule.SubmitFormSalary(2)" style="width: 100%">
                        Tiếp theo
                    </button>
                </div>
            </div>
        </div>
    </form>



</div>

<script src="~/js/ReLoan/ReLoanSalaryModule.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
         $('.cus-datepicker').datepicker({
            todayBtn: "linked",
            clearBtn: false,
            todayHighlight: true,
            orientation: "bottom left",
            format: 'dd/mm/yyyy',
            templates: {
                leftArrow: '<i class="la la-angle-left"></i>',
                rightArrow: '<i class="la la-angle-right"></i>'
            }
        });
        ReLoanSalaryModule.Init();
        //Thông tin nơi ở
        ReLoanSalaryModule.GetDistrict('@Model.LoanBriefResident.ProvinceId', '@Model.LoanBriefResident.DistrictId','#district_addresshome', '#ward_addresshome');
        ReLoanSalaryModule.GetWard('@Model.LoanBriefResident.DistrictId', '@Model.LoanBriefResident.WardId', '#ward_addresshome');
        //Thông tin hộ khẩu
        ReLoanSalaryModule.GetDistrict('@Model.LoanBriefHousehold.ProvinceId', '@Model.LoanBriefHousehold.DistrictId', '#district_addresshousehold', '#ward_addresshousehold');
        ReLoanSalaryModule.GetWard('@Model.LoanBriefHousehold.DistrictId', '@Model.LoanBriefHousehold.WardId','#ward_addresshousehold');
        ReLoanSalaryModule.GetProduct('@Model.LoanBriefProperty.BrandId', '@Model.LoanBriefProperty.ProductId');
        //Thông tin công ty
        ReLoanSalaryModule.GetDistrict('@Model.LoanBriefJob.CompanyProvinceId', '@Model.LoanBriefJob.CompanyDistrictId', '#district_work_company', '#ward_work_company')
        ReLoanSalaryModule.GetWard('@Model.LoanBriefJob.CompanyDistrictId', '@Model.LoanBriefJob.CompanyWardId','#ward_work_company');
        App.LibraryMoney();
        App.ValidCustom();

    });
</script>



