﻿@{
    Layout = null;
    var lstTelesalesShift = ViewBag.LstTelesalesShift as List<LOS.DAL.EntityFramework.TelesalesShift>;
    var lstTeamTelesales = ViewBag.LstTeamTelesales as List<LOS.DAL.EntityFramework.TeamTelesales>;
}
<style>
    .m-font-danger {
        color: red;
    }
</style>
<div class="modal fade" id="modal_create_staff_telesale" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" style="max-width: 70%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="header_create_staff_telesale">Tạo nhân viên </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form class="m-form m-form--fit m-form--label-align-right" id="form_create_staff_telesale">
                <div class="modal-body">
                    <input type="hidden" id="hdd_TelesaleRecievedLoan" name="TelesaleRecievedLoan" value="false" />
                    <input type="hidden" name="UserId" id="hdd_create_userID" value="0" />
                    <input type="hidden" name="GroupId" id="hdd_create_groupID" value="2" />
                    <input type="hidden" id="hdd_ValueTelesalesShift" name="ValueTelesalesShift" value="0" />
                    <div class="form-group row">
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <label for="example-text-input" class="col-form-label">Tên tài khoản <span class="m-font-danger">*</span></label>
                            <input type="text" class="form-control m-input inputsearch" name="Username" id="txt_create_staff_username" placeholder="Nhập tên tài khoản">
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-12 div-password-account">
                            <label for="example-text-input" class="col-form-label">Mật khẩu <span class="m-font-danger">*</span></label>
                            <input type="password" class="form-control m-input inputsearch" name="Password" id="txt_create_staff_password" placeholder="Nhập mật khẩu">
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <label for="example-text-input" class="col-form-label">Họ tên <span class="m-font-danger">*</span></label>
                            <input type="text" class="form-control m-input inputsearch" name="FullName" id="txt_create_staff_fullname" placeholder="Nhập họ tên">
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <label for="example-text-input" class="col-form-label">Số điện thoại <span class="m-font-danger">*</span></label>
                            <input type="text" class="form-control m-input inputsearch" name="Phone" id="txt_create_staff_phone" placeholder="Nhập số điện thoại">
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <label for="example-text-input" class="col-form-label">Email <span class="m-font-danger">*</span></label>
                            <input type="text" class="form-control m-input inputsearch" name="Email" id="txt_create_staff_email" placeholder="Nhập email">
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <label for="example-text-input" class="col-form-label">Chọn Team <span class="m-font-danger">*</span></label>
                            <select class="form-control m-input m-select2" name="TeamTelesalesId" id="ddl_TeamTelesales">
                                <option></option>
                                @foreach (var item in lstTeamTelesales)
                                {
                                    <option value="@item.TeamTelesalesId">@item.Name</option>
                                }
                            </select>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <label for="example-text-input" class="col-form-label">Tổng đài <span class="m-font-danger">*</span></label>
                            <select class="form-control m-input m-select2" name="TypeCallService" id="ddl_create_staff_typeCallService">
                                <option></option>
                                <option value="@LOS.Common.Extensions.EnumTypeCallService.Caresoft.GetHashCode()">
                                    Caresoft
                                </option>
                                <option value="@LOS.Common.Extensions.EnumTypeCallService.Metech.GetHashCode()">
                                    Metech
                                </option>
                            </select>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <label for="example-text-input" class="col-form-label">Ipphone </label>
                            <input type="text" class="form-control m-input inputsearch" name="Ipphone" id="txt_create_staff_ipphone" placeholder="Nhập Ipphone">
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <label for="example-text-input" class="col-form-label">Cisco Username </label>
                            <input type="text" class="form-control m-input inputsearch" name="CiscoUsername" id="txt_create_staff_cisco_username" placeholder="Nhập cisco username">
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <label for="example-text-input" class="col-form-label">Cisco Password </label>
                            <input type="text" class="form-control m-input inputsearch" name="CiscoPassword" id="txt_create_staff_cisco_password" placeholder="Nhập cisco password">
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <label for="example-text-input" class="col-form-label">Cisco Extension </label>
                            <input type="text" class="form-control m-input inputsearch" name="CiscoExtension" id="txt_create_staff_cisco_extension" placeholder="Nhập cisco extension">
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <label for="example-text-input" class="col-form-label">Trạng thái </label>
                            <div class="m-radio-inline">
                                <label class="m-radio m-radio--success">
                                    <input type="radio" name="Status" checked value="@((int)LOS.Common.Extensions.EnumStatusBase.Active)"> Hoạt động
                                    <span></span>
                                </label>
                                <label class="m-radio m-radio--danger">
                                    <input type="radio" name="Status" value="@((int)LOS.Common.Extensions.EnumStatusBase.Locked)"> Khóa
                                    <span></span>
                                </label>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <label for="example-text-input" class="col-form-label">Khu vực </label>
                            <select class="form-control m-input m-select2" name="CityId" id="ddl_create_staff_cityId">
                                <option></option>
                                <option value="1"> Hà Nội</option>
                                <option value="79"> Hồ Chí Minh</option>
                            </select>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <label for="example-text-input" class="col-form-label">Loại sản phẩm </label>
                            <select class="form-control m-input m-select2" name="TypeRecievedProduct" id="ddl_create_staff_typeRecievedProduct">
                                <option></option>
                                <option value="@LOS.Common.Extensions.EnumTypeRecievedProduct.SmallProduct.GetHashCode()">
                                    @LOS.Common.Helpers.ExtentionHelper.GetDescription(LOS.Common.Extensions.EnumTypeRecievedProduct.SmallProduct)
                                </option>
                                <option value="@LOS.Common.Extensions.EnumTypeRecievedProduct.BigProduct.GetHashCode()">
                                    @LOS.Common.Helpers.ExtentionHelper.GetDescription(LOS.Common.Extensions.EnumTypeRecievedProduct.BigProduct)
                                </option>
                                <option value="@LOS.Common.Extensions.EnumTypeRecievedProduct.All.GetHashCode()">
                                    @LOS.Common.Helpers.ExtentionHelper.GetDescription(LOS.Common.Extensions.EnumTypeRecievedProduct.All)
                                </option>
                            </select>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <label for="example-text-input" class="col-form-label">Nhận đơn </label>
                            <div class="m-checkbox-list">
                                <label class="m-checkbox m-checkbox--state-brand" style="font-size: 1rem;">
                                    <input type="checkbox" value="true" id="cb_TelesaleRecievedLoan" name="cb_TelesaleRecievedLoan">
                                    <span></span>
                                </label>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <label for="example-text-input" class="col-form-label"> Chọn ca <span class="m-font-danger">*</span></label>
                            <select class="form-control m-input m-select2" multiple="multiple" name="sl_ValueTelesalesShift" id="ddl_ValueTelesalesShift">
                                @foreach (var item in lstTelesalesShift)
                                {
                                    <option value="@item.TelesalesShiftId"> @item.Shift (@item.Time)</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-tima-default" data-dismiss="modal">
                        Đóng
                    </button>
                    <button type="button" class="btn btn-tima" onclick="TelesaleManageModule.AddOrUpdateUser(this,event)">
                        Lưu lại
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>