﻿@model LOS.DAL.DTOs.LoanBriefDetail
@if (Model != null && !string.IsNullOrEmpty(Model.Phone))
{
    <div class="row">
        <div class="col-lg-4">
            <div class="row align-items-center border-right-black">
                <div class=".m--margin-left-15 m--margin-right-15">
                    <img src="~/assets/app/media/img/users/user1.jpg" class="m--img-rounded" width="60" />
                </div>
                <div class="col-lg-8 text-white m--padding-10">
                    <span class="d-block" id="loanName">@Model.FullName</span>
                    <span class="d-block" id="loanPhone">SĐT: @LOS.WebApp.Helpers.Ultility.HidePhone(Model.Phone)</span>
                    @if (Model.District != null)
                    {
                        <span class="d-block" id="loanAddress">Quận @Model.District.Name</span>
                    }
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="row align-items-center border-right-black">
                <div class="col-lg-6 text-white m--padding-10">
                    <span class="d-block" id="loanId">HĐ-@Model.LoanBriefId</span>
                    <span class="d-block" id="loanShop">Credit</span>
                    <span class="d-block" id="loanTime">@Model.LoanTime Tháng</span>
                </div>
                <div class="col-lg-6 text-white m--padding-10">
                    <span class="d-block" id="loanAmount">@(Model.LoanAmount > 0 ? Model.LoanAmount.Value.ToString("##,#") : "0")</span>
                    <span class="d-block" id="loanProduct">@(Model.LoanProduct != null ? Model.LoanProduct.Name : "")</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="row align-items-center">
                <div class="col-lg-12 text-white m--padding-10">
                    <span class="d-block">Thông tin KH</span>
                    <br />
                    <span class="d-block">
                        <i class="la la-edit"></i>
                        <span style="text-decoration:underline;">
                            <a href="javascript:;" class="text-white" onclick="EditInfomation()">Sửa thông tin KH</a>
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('#btnCalling').show();
        $('#btnEndCall').hide();
    </script>
}
