﻿@{
    Layout = null;
}
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" id="modalUpdate">
	<div class="modal-dialog modal-lg" role="document" id="modelJob">
		<div class="modal-content">
			<div class="modal-header m--padding-10">
				<h5 class="modal-title m--font-bold">
					Thông tin khách hàng
				</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">
						&times;
					</span>
				</button>
			</div>
			<form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed">
				<div class="modal-body m--padding-5">
					<div class="m-portlet__body">
						<div class="form-group m-form__group">
							<div class="row align-items-center border-all">
								<div class="col-lg-6 m--padding-10">
									<span class="float-right">Trạng thái cuộc gọi:</span>
								</div>
								<div class="col-lg-6 m--padding-10 border-l">
									<select class="form-control m-bootstrap-select m_selectpicker col-lg-9 float-left" id="slCallStatus" onchange="TelesalesModule.OnCallStatusChanged();">
										<option value="14">
											Khách hàng nghe máy
										</option>
										<option value="15">
											Khách hàng báo liên hệ lại
										</option>
										<option value="16">
											Khách hàng không nghe máy lần 1
										</option>
										<option value="17">
											Khách hàng không nghe máy lần 2
										</option>
										<option value="18">
											Khách hàng không nghe máy lần 3
										</option>
										<option value="19">
											Thuê bao không liên lạc được
										</option>
									</select>
								</div>
							</div>
							<div class="row align-items-center border-blr schedule-form" style="display:none;">
								<div class="col-lg-6 m--padding-10">
									<span class="float-right">Hẹn giờ gọi lại</span>
								</div>
								<div class="col-lg-6 m--padding-10 border-l">
									<input type="text" class="form-control m-input" readonly="" id="dpScheduleCall" placeholder="Hẹn giờ gọi lại">
								</div>
							</div>
							<div class="row align-items-center border-blr script-form">
								<div class="col-lg-6 m--padding-10">
									<span class="float-right">Em chào Anh/ Chị Nguyễn Mạnh Quyền ạ?</span>
								</div>
								<div class="col-lg-6 m--padding-10 border-l">
									<input class="form-control m-input" type="text" value="Nguyễn Mạnh Quyền" id="example-text-input">
								</div>
							</div>
							<div class="row align-items-center border-blr script-form">
								<div class="col-lg-12 m--padding-10">
									<span class="m--margin-left-20 m--margin-right-20 d-block">Em là Ngọc đang gọi từ phòng CSKH của công ty tư vấn tài chính Tima. Em nhận được đơn đăng ký vay của anh/chị trên hệ thống, với số tiền là 10.000.000 VNĐ. Anh/chị vui lòng cho em xin ít phút tư vấn khoản vay cho mình ạ ?</span>
								</div>
							</div>
							<div class="row align-items-center border-blr script-form">
								<div class="col-lg-6 m--padding-10">
									<span class="float-right"></span>
								</div>
								<div class="col-lg-6 m--padding-10 border-l">
									<select class="form-control m-bootstrap-select m_selectpicker col-lg-9 float-left">
										<option value="0">
											Không có nhu cầu vay nữa
										</option>
										<option value="0">
											Có nhu cầu vay nữa
										</option>
										<option value="0">
											Vay đơn vị khác
										</option>
									</select>
								</div>
							</div>
							<div class="row align-items-center border-blr script-form">
								<div class="col-lg-6 m--padding-10">
									<span class="float-right">Anh / Chị sinh năm bao nhiểu?</span>
								</div>
								<div class="col-lg-6 m--padding-10 border-l">
									<input type="text" class="form-control m-input" readonly="" id="dpCustomerDOB" placeholder="Ngày sinh">
								</div>
							</div>
							<div class="row align-items-center border-blr script-form">
								<div class="col-lg-6 m--padding-10">
									<span class="float-right">Anh/ Chị có sử dụng xe máy không ạ?</span>
								</div>
								<div class="col-lg-6 m--padding-10 m-radio-list border-l">
									<label class="m-radio">
										<input type="radio" name="rdVehicle" value="1">
										Có
										<span></span>
									</label>
									<label class="m-radio">
										<input type="radio" name="rdVehicle" value="2">
										Không
										<span></span>
									</label>
								</div>
							</div>
							<div class="row align-items-center border-blr script-form">
								<div class="col-lg-6 m--padding-10">
									<span class="float-right">Đăng ký xe máy của Anh/ Chị có đứng tên Anh/ Chị không?</span>
								</div>
								<div class="col-lg-6 m--padding-10 m-radio-list border-l">
									<label class="m-radio">
										<input type="radio" name="rdOwnVehicle" value="1">
										Có
										<span></span>
									</label>
									<label class="m-radio">
										<input type="radio" name="rdOwnVehicle" value="2">
										Không
										<span></span>
									</label>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer m--padding-top-10 m--padding-bottom-10 border-0">
					<button type="button" class="btn btn-metal col-lg-6" id="btnModalPrevious" onclick="TelesalesModule.OnPreviousClick();">
						Quay lại
					</button>
					<button type="button" class="btn btn-brand col-lg-6" id="btnModalNext" onclick="TelesalesModule.OnNextClick();">
						Tiếp theo
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
