﻿@{
	Layout = null;
}

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" id="modalUpdate">
	<div class="modal-dialog modal-lg" role="document" id="modelJob">
		<div class="modal-content">
			<div class="modal-header m--padding-10">
				<h5 class="modal-title m--font-bold">
					Thông tin khách hàng
				</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">
						&times;
					</span>
				</button>
			</div>
			<form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed">
				<div class="modal-body m--padding-5">
				</div>
				<div class="modal-footer m--padding-top-10 m--padding-bottom-10 border-0">
					<button type="button" class="btn btn-metal col-lg-6" id="btnModalPrevious">
						Quay lại
					</button>
					<button type="button" class="btn btn-brand col-lg-6" id="btnModalNext">
						Tiếp theo
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
