﻿@using LOS.DAL.DTOs;
@using LOS.Common.Extensions;
@{
    ViewData["Title"] = "Quản lý Quận/Huyện";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var lstProvince = ViewBag.ListProvince as List<ProvinceDetail>;
}
<link href="~/css/form.css?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS" rel="stylesheet" />
<style>

    #linkName:hover {
        text-decoration: none !important;
    }

    .marginleft {
        margin-left: 25px;
    }

    .custom-table-tima > .m-datatable__table > .m-datatable__head .m-datatable__row {
        height: 50px !important;
    }

    .m-portlet .m-portlet__body {
        padding: 0rem 2.2rem;
    }

    .form-group {
        margin-bottom: 0px;
    }

    .m-portlet .m-portlet__body {
        padding-bottom: 20px;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        position: relative;
        padding: 0.65rem 0rem;
        line-height: 1.25;
    }
</style>
<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Danh sách Quận/Huyện
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <!--begin: Search Form -->
            <div class="m-form m-form--label-align-right m--margin-bottom-10">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <div class="col-lg-2 col-md-6 col-sm-12" style="padding: 10px;">
                                <div class="m-input-icon m-input-icon--left">
                                    <input type="text" class="form-control m-input inputsearch" placeholder="Tên Quận/Huyện" id="filterSearchName">
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6 col-sm-12" style="padding: 10px;">
                                <div class="m-form__control">
                                    <select class="form-control m-select2" id="filterStatus">
                                        <option value="-1">Tất cả trạng thái</option>
                                        <option value="@((int)LOS.Common.Extensions.IsApplyAddress.Support)" selected="selected">@LOS.Common.Extensions.Description.GetDescription(LOS.Common.Extensions.IsApplyAddress.Support)</option>
                                        <option value="@((int)LOS.Common.Extensions.IsApplyAddress.NoSupport)">@LOS.Common.Extensions.Description.GetDescription(LOS.Common.Extensions.IsApplyAddress.NoSupport)</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6 col-sm-12" style="padding: 10px;">
                                <div class="m-form__control">
                                    <select class="form-control m-select2" id="filterProvince">
                                        @if (lstProvince != null && lstProvince.Count > 0)
                                        {
                                            foreach (var item in lstProvince)
                                            {
                                                if (item.ProvinceId == (int)EnumProvince.HaNoi)
                                                {
                                                    <option value="@item.ProvinceId" selected>@item.Name</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.ProvinceId">@item.Name</option>
                                                }
                                            }
                                        }

                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12" style="padding: 10px; text-align: end;">
                                <div class="m-form__control">
                                    <a href="#" class="btn btn-tima" onclick="ManageDistrictModule.LoadInfoDistrict(0)">
                                        Tạo mới Quận/Huyện
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end: Search Form -->
            <hr style="color: #333333;" />
            <table class="m-datatable__table dtform" width="100%" id="tbManageDistrict"></table>
        </div>
    </div>
</div>
<partial name="~/Views/Dictionary/Partial/_create_district.cshtml" />
@section Scripts
    {
    <script src="~/js/Dictionary/ManageDistrictModuleJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            ManageDistrictModule.Init();
            App.ValidCustom();
        });
    </script>
}


