﻿@model List<LOS.DAL.DTOs.UserDetail>
@{
    ViewData["Title"] = "ManagerHub";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = ViewBag.User as LOS.DAL.DTOs.UserDetail;
}
<link href="~/css/form.css?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS" rel="stylesheet" />

<input type="hidden" id="UserId" value="@user.UserId" />
<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Quản lý lịch hẹn
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <!--begin: Search Form -->
            <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                <div class="row align-items-center">
                    <div class="col-xl-12 order-2 order-xl-1">
                        <div class="form-group m-form__group row align-items-center">
                            @if (user.GroupId == (int)LOS.Common.Extensions.EnumGroupUser.ManagerHub)
                            {
                                @*<div class="col-md-2">
                                    <div class="form-group m-form__group">
                                        <div class="m-form__control">
                                            <select class="form-control m-select2" id="filterHubEmployee">
                                                <option value="-1">Tất cả</option>
                                                @if (Model != null && Model.Count > 0)
                                                {
                                                    foreach (var item in Model)
                                                    {
                                                        <option value="@item.UserId">@item.FullName</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>*@
                            }


                            <div class="col-md-2">
                                @*<label for="example-email-input" class="col-4 col-form-label">
                                        Ngày bắt đầu:
                                    </label>*@
                                <div class="col-12">
                                    <input class="form-control cus-form-control m-input ScheduleTime" placeholder="Ngày bắt đầu" id="StartTime" style="border: none !important;border-bottom: 1px solid #ced4da !important;padding-left:0 !important;float:left;width:90%;border-radius:0;font-size:14px;">
                                    <i class="fa fa-calendar" style="padding-top: 3.5%;font-size: 15pt; border-bottom: 1px solid rgba(108, 114, 147, 1);"></i>
                                </div>
                            </div>
                            <div class="col-md-2">
                                @*<label for="example-email-input" class="col-4 col-form-label">
                                        Ngày kết thúc:
                                    </label>*@
                                <div class="col-12">
                                    <input class="form-control cus-form-control m-input ScheduleTime" placeholder="Ngày kết thúc" id="EndTime" style="border: none !important;border-bottom: 1px solid #ced4da !important;padding-left:0 !important;float:left;width:90%;border-radius:0;font-size:14px;">
                                    <i class="fa fa-calendar" style="padding-top: 3.5%;font-size: 15pt; border-bottom: 1px solid rgba(108, 114, 147, 1);"></i>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group m-form__group">
                                    <div class="m-form__control">
                                        <select class="form-control m-select2" id="filterGroupId">
                                            <!option value="@LOS.Common.Extensions.EnumGroupUser.Telesale.GetHashCode()" @(user.GroupId == LOS.Common.Extensions.EnumGroupUser.Telesale.GetHashCode() ? "selected=\"selected\"" : "")>Telesale</!option>
                                            <!option value="@LOS.Common.Extensions.EnumGroupUser.StaffHub.GetHashCode()" @(user.GroupId == LOS.Common.Extensions.EnumGroupUser.StaffHub.GetHashCode() ? "selected=\"selected\"" : "")>Hub</!option>

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group m-form__group">
                                    <div class="m-form__control">
                                        <button type="button" class="btn btn-tima" onclick="ScheduleTimeModule.GetListScheduleHub();" style="cursor:pointer;">
                                            Tìm kiếm
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>
            </div>

            <hr style="color: #333333;" />
            <!--begin: Datatable -->
            <div id="calendar"></div>
        </div>
    </div>
</div>

@section Scripts
{
    <link href="~/js/Calendar/main.css" rel="stylesheet" />
    <script src="~/js/Calendar/main.js"></script>
    <script src="~/js/ScheduleTimeModule.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script>
        $(document).ready(function () {
            App.Datetimepicker();
            $("#filterHubEmployee,#filterGroupId").select2();

            $("#StartTime").val('@ViewBag.StartTime');
            $("#EndTime").val('@ViewBag.EndTime');
            ScheduleTimeModule.GetListScheduleHub();
        });
    </script>
}

