﻿@model LOS.DAL.EntityFramework.ScheduleTime;
@{
    Layout = null;
    ViewData["Title"] = "Lịch hẹn";
}
    <style>
        #dtScheduleTime {
            width: 100%;
            /*margin: 0 5% 0 5%;*/
            font-weight: 400;
            font-style: normal;
            color: #6C7293;
        }

            #dtScheduleTime th, td {
                font-size: 13px !important;
            }

            #dtScheduleTime p {
                margin: 0;
            }

        .center {
            text-align: center;
        }

        .cke_editable p {
            line-height: 0.5 !important;
        }
    </style>
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="color:#6C7293;">
            Lịch hẹn HĐ-@ViewBag.LoanBriefId
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
                ×
            </span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-3 col-form-label" style="padding-left: 7%;padding-top: 2%;">
                    Ngày bắt đầu:
                </label>
                <div class="col-6">
                    <input class="form-control cus-form-control m-input ScheduleTime" id="StartTime" style="border: none !important;border-bottom: 1px solid #ced4da !important;padding-left:0 !important;float:left;width:90%;border-radius:0" value="@(Model != null && Model.Status == 1?Model.StartTime.Value.ToString("dd/MM/yyyy HH:mm"):"")">
                    <i class="fa fa-calendar" style="padding-top: 3.5%;font-size: 15pt; border-bottom: 1px solid rgba(108, 114, 147, 1);"></i>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-3 col-form-label" style="padding-left: 7%;padding-top: 2%;">
                    Ngày kết thúc:
                </label>
                <div class="col-6">
                    <input class="form-control cus-form-control m-input ScheduleTime" id="EndTime" style="border: none !important;border-bottom: 1px solid #ced4da !important;padding-left:0 !important;float:left;width:90%;border-radius:0" value="@(Model != null && Model.Status == 1?Model.EndTime.Value.ToString("dd/MM/yyyy HH:mm"):"")">
                    <i class="fa fa-calendar" style="padding-top: 3.5%;font-size: 15pt; border-bottom: 1px solid rgba(108, 114, 147, 1);"></i>
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-3 col-form-label" style="padding-left: 7%;">
                    Ghi chú:
                </label>
                <div class="col-8 padding-top">
                    <textarea id="txtNoteHub">@(Model != null && Model.Status == 1?Model.Note:"")</textarea>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer" style="margin-top:-4%;border-top:none;padding-right:90px !important;">
        @if (Model != null && Model.Status == 1)
        {
            <button type="button" id="btnSubmitUpdate" onclick="ScheduleTimeModule.AddAndUpdate(@ViewBag.LoanBriefId,2);" class="btn btn-primary" style="background: rgba(108, 114, 147, 1);border-color: rgba(108, 114, 147, 1);height: 40px;">
                Cập nhật lịch hẹn
            </button>

            <button type="button" id="btnSubmitFinish" onclick="ScheduleTimeModule.AddAndUpdate(@ViewBag.LoanBriefId,3);" class="btn btn-primary" style="background: rgba(108, 114, 147, 1);border-color: rgba(108, 114, 147, 1);height: 40px;">
                Hoàn thành
            </button>
        }
        else
        {
            <button type="button" id="btnSubmitAdd" onclick="ScheduleTimeModule.AddAndUpdate(@ViewBag.LoanBriefId,1);" class="btn btn-primary" style="background: rgba(108, 114, 147, 1);border-color: rgba(108, 114, 147, 1);height: 40px;">
                Đặt lịch hẹn
            </button>
        }

    </div>
    <div class="m-portlet__body" style="margin: 15px;">

        <table class="m-datatable__table" id="dtScheduleTime" style="display:none;">
        </table>

    </div>
</div>
<input type="hidden" id="loanBriefId" value="@ViewBag.LoanBriefId">
<input type="hidden" id="scheduleId" value="@(Model != null && Model.Status == 1?Model.ScheduleId : 0)">
<script src="~/ckeditor/ckeditor.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
<script>
    $(document).ready(function () {
            CKEDITOR.replace("txtNoteHub");
            var loanBriefId = $("#loanBriefId").val();
            App.Datetimepicker();
            ScheduleTimeModule.LoadData(loanBriefId);
        });
</script>