﻿@model LOS.WebApp.Models.ManagerAreaHub.ManagerAreaHubDetailsModel
@{
    Layout = null;
    int check = 0;
    int DistrictID = 0;
    int DistrictIDCheck = 0;

}
@if (Model.lstWard != null)
{
    foreach (var item in Model.lstWard)
    {
        if (check == 0)
        {
            DistrictID = item.DistrictId;
        }
        if (item.DistrictId == DistrictID)
        {
            <div class="m-portlet m-portlet--tab div-district-@item.DistrictId" style="margin-bottom: 15px !important;">
                <div class="m-portlet__head" style="height:0!important">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <div class="m-checkbox-inline" style="margin:30px 0px 0px -5px">
                                <label class="m-checkbox">
                                    @item.DistrictName  <input type="checkbox" class="txtDistrict-@item.DistrictId" onclick="ManagerAreaHub.checkboxdistrict(@item.DistrictId)">
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <form class="m-form m-form--fit m-form--label-align-right">
                    <div class="m-portlet__body">
                        <div class="form-group m-form__group">
                            <div class="m-checkbox-inline">
                                @foreach (var jtem in Model.lstWard.Where(x => x.DistrictId == item.DistrictId).ToList())
                                {
                                    <label class="m-checkbox col-md-2">
                                        <input type="checkbox" @(jtem.Selected == true ? "checked" : "")  value="@jtem.Id" class="txtWardId wardId-@item.DistrictId" onclick="ManagerAreaHub.checkboxward(@item.DistrictId)" data-district="@item.DistrictId">  @jtem.Name
                                        <span></span>
                                    </label>
                                }
                                @{check = 1;}
                                @{DistrictID = 0;}
                                @{DistrictIDCheck = item.DistrictId;}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        }
        else
        {
            check = 1;
            if (DistrictIDCheck != item.DistrictId)
            {
                DistrictID = item.DistrictId;
            }
        }
    }
}
