﻿@model LOS.WebApp.Models.ManagerAreaHub.ManagerAreaHubModel
@{
    ViewData["Title"] = "Cấu hình khẩu vị đại lý";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/form.css?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS" rel="stylesheet" />
<style>

    #tbUser tbody {
        padding: 0 !important;
    }

    #linkName:hover {
        text-decoration: none !important;
    }

    .marginleft {
        margin-left: 25px;
    }

    .custom-table-tima > .m-datatable__table > .m-datatable__head .m-datatable__row {
        height: 50px !important;
    }

    .m-portlet .m-portlet__body {
        padding: 0rem 2.2rem;
    }

    .form-group {
        margin-bottom: 0px;
    }

    .m-portlet .m-portlet__body {
        padding-bottom: 20px;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        position: relative;
        padding: 0.65rem 0rem;
        line-height: 1.25;
    }
</style>

<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Cấu hình khẩu vị đại lý
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <!--begin: Search Form -->
            <div class="m-form m-form--label-align-right m--margin-bottom-10">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <div class="col-lg-2 col-md-6 col-sm-12" style="padding: 10px;">
                                <div class="m-form__control">
                                    <select class="form-control m-select2" id="filterCity">
                                        <option value="-1">Tất cả thành phố</option>
                                        @if (Model != null && Model.listProvince != null)
                                        {
                                            foreach (var item in Model.listProvince)
                                            {
                                                <option value="@item.ProvinceId">
                                                    @item.Name
                                                </option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-6 col-sm-12" style="padding: 10px;">
                                <div class="m-form__control">
                                    <select class="form-control m-select2" id="filterHub">
                                        <option value="-1">Tất cả đại lý</option>
                                        @if (Model != null && Model.listShop != null)
                                        {
                                            foreach (var item in Model.listShop)
                                            {
                                                <option value="@item.ShopId">
                                                    @item.Name
                                                </option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-6 col-sm-12" style="padding: 10px;">
                                <div class="m-form__control">
                                    <select class="form-control m-select2" id="filterProduct">
                                        <option value="-1">Tất cả sản phẩm</option>
                                        @if (Model != null && Model.listProduct != null)
                                        {
                                            foreach (var item in Model.listProduct)
                                            {
                                                <option value="@item.LoanProductId">
                                                    @item.Name
                                                </option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-12 col-sm-12" style="padding: 10px;">
                                <div class="m-form__control">
                                    <a href="javascript:;" class="btn btn-tima" onclick="ManagerAreaHub.SaveSpicesAgency(this)">
                                        Lưu lại
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 row" style="margin:2% 0 0 0" id="div-Result">
                    </div>
                </div>
            </div>
            <!--end: Search Form -->
        </div>
        <input type="hidden" value="" name="hddArrID" id="hddArrID" />
    </div>
</div>
@section Scripts
{
    <script src="/js/ManagerAreaHub/ManagerAreaHub.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            ManagerAreaHub.Init();
        });
    </script>
}
