﻿@{
    Layout = null;
}

<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-xl" role="document" id="divResult">
        
    </div>
</div>