﻿@model List<LOS.DAL.DTOs.ModuleDetail>
<style>
    .m-aside-menu .m-menu__nav > .m-menu__item > .m-menu__heading .m-menu__link-text, .m-aside-menu .m-menu__nav > .m-menu__item > .m-menu__link .m-menu__link-text {
        font-weight: 400;
        font-size: 15px;
        text-transform: initial;
    }

    .m-aside-menu .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item > .m-menu__heading .m-menu__link-text, .m-aside-menu .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item > .m-menu__link .m-menu__link-text {
        font-weight: 400;
        font-size: 14px;
        text-transform: initial;
    }
</style>
@if (Model != null)
{
    <!-- BEGIN: Left Aside -->
    <button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn">
        <i class="la la-close"></i>
    </button>
    <div id="m_aside_left" data="menu" class="m-grid__item	m-aside-left  m-aside-left--skin-dark " style="position: fixed; height: 100%;">
        <!-- BEGIN: Aside Menu -->
        <div id="m_ver_menu"
             class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark "
             data-menu-vertical="true"
             data-menu-scrollable="false" data-menu-dropdown-timeout="500">
            <ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow ">
                <li class="m-menu__item home" aria-haspopup="true">
                    <a href="~/home.html" class="m-menu__link ">
                        <i class="m-menu__link-icon flaticon-line-graph"></i>
                        <span class="m-menu__link-title">
                            <span class="m-menu__link-wrap">
                                <span class="m-menu__link-text">
                                    Trang chủ
                                </span>
                            </span>
                        </span>
                    </a>
                </li>
                @if (Model != null && Model.Count > 0)
                {
                    foreach (var module in Model)
                    {
                        <li class="m-menu__item  m-menu__item--submenu  @(module.Selected ? "m-menu__item--open": "")" aria-haspopup="true" data-menu-submenu-toggle="hover">
                            <a href="@module.Path" class="m-menu__link m-menu__toggle">
                                <i class="m-menu__link-icon @module.Icon"></i>
                                <span class="m-menu__link-text">
                                    @module.Name
                                </span>
                                <i class="m-menu__ver-arrow la la-angle-right"></i>
                            </a>
                            @foreach (var childModule in module.Modules)
                            {
                                <div class="m-menu__submenu " @(module.Selected ? "style=\"display: block;\"": "")>
                                    <span class="m-menu__arrow"></span>
                                    <ul class="m-menu__subnav">
                                        <li class="m-menu__item @(childModule.Selected ? "m-menu__item--active" : "")" aria-haspopup="true">
                                            <a href="@childModule.Path" class="m-menu__link ">
                                                <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                                    <span></span>
                                                </i>
                                                <span class="m-menu__link-text">
                                                    @childModule.Name
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            }
                        </li>
                    }
                }
                @*@if (Model.Modules != null && Model.Modules.Count > 0)
        {
            foreach (var module in Model.Modules.Where(x => x.IsMenu && (x.ParentId == null || x.ParentId == 0)).OrderBy(x => x.Priority).ToList())
            {
                <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" data-menu-submenu-toggle="hover">
                    <a href="@module.Path" class="m-menu__link m-menu__toggle">
                        <i class="m-menu__link-icon @module.Icon"></i>
                        <span class="m-menu__link-text">
                            @module.Name
                        </span>
                        <i class="m-menu__ver-arrow la la-angle-right"></i>
                    </a>
                    @foreach (var childModule in Model.Modules.Where(x => x.ParentId == module.ModuleId).OrderBy(x => x.Priority).ToList())
                    {
                        <div class="m-menu__submenu ">
                            <span class="m-menu__arrow"></span>
                            <ul class="m-menu__subnav">
                                <li class="m-menu__item @(string.Format("{0}-{1}", childModule.Controller, childModule.Action))" aria-haspopup="true">
                                    <a href="@childModule.Path" class="m-menu__link ">
                                        <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                            <span></span>
                                        </i>
                                        <span class="m-menu__link-text">
                                            @childModule.Name
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    }
                </li>
            }
        }else
        {
            if (Model.Group != null && Model.Group.Modules != null && Model.Group.Modules.Count > 0)
            {
                foreach (var module in Model.Group.Modules.Where(x => x.IsMenu && (x.ParentId == null || x.ParentId == 0)).OrderBy(x => x.Priority).ToList())
                {
                    <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" data-menu-submenu-toggle="hover">
                        <a href="@module.Path" class="m-menu__link m-menu__toggle">
                            <i class="m-menu__link-icon @module.Icon"></i>
                            <span class="m-menu__link-text">
                                @module.Name
                            </span>
                            <i class="m-menu__ver-arrow la la-angle-right"></i>
                        </a>
                        @foreach (var childModule in Model.Group.Modules.Where(x => x.ParentId == module.ModuleId).OrderBy(x => x.Priority).ToList())
                        {
                            <div class="m-menu__submenu ">
                                <span class="m-menu__arrow"></span>
                                <ul class="m-menu__subnav">
                                    <li class="m-menu__item @(string.Format("{0}-{1}", childModule.Controller, childModule.Action))" aria-haspopup="true">
                                        <a href="@childModule.Path" class="m-menu__link ">
                                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                                <span></span>
                                            </i>
                                            <span class="m-menu__link-text">
                                                @childModule.Name
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        }
                    </li>
                }
            }
        }*@

            </ul>
        </div>
        <!-- END: Aside Menu -->
    </div>
    <!-- END: Left Aside -->
}


