﻿@model LOS.DAL.DTOs.GroupDetail
<!-- BEGIN: Subheader -->
@{
	LOS.DAL.DTOs.ModuleDetail module = null;
	LOS.DAL.DTOs.ModuleDetail parentModule = null;
	foreach (var m in Model.Modules)
	{
		if (m.Code == ViewBag.ModuleName)
		{
			module = m;
		}
	}
	// find parent module
	if (module != null && module.ParentId != null)
	{
		foreach (var m in Model.Modules)
		{
			if (m.ParentId == module.ParentId)
			{
				parentModule = m;
			}
		}
	}
}
<div class="m-subheader ">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				@module.Name
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="/home.html" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							@parentModule.Name
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="@module.Path" class="m-nav__link">
						<span class="m-nav__link-text">
							@module.Name
						</span>
					</a>
				</li>				
			</ul>
		</div>		
	</div>
</div>
<!-- END: Subheader -->