﻿@model List<ActionPermissionItem>
@{
    Layout = null;
}
    <style>
        .item-url {
            margin: 0px;
            font-size: 14px;
            font-weight: 100;
        }
    </style>
    <div class="m-checkbox-inline">

        @if (Model != null && Model.Count > 0)
        {
            foreach (var item in Model)
            {
                if (item.Selected)
                {
                    <label class="m-checkbox col-md-5" style="font-weight: bold;">
                        <input type="checkbox" class="" checked="checked" name="lstAction" value="@item.ModuleId"> @item.Controller/@item.Action
                        <span></span>
                        <p class="item-url">(@item.Name)</p>
                    </label>
                }
                else
                {
                    <label class="m-checkbox col-md-5" style="font-weight: bold;">
                        <input type="checkbox" class="" name="lstAction" value="@item.ModuleId">  @item.Controller/@item.Action
                        <span></span>
                        <p class="item-url">(@item.Name)</p>
                    </label>
                }
            }
        }
    </div>
