﻿<style>
    .m-font-danger {
        color: red;
    }
</style>
<div class="modal fade" id="modal_change_information_user" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cập nhập thông tin </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form class="m-form m-form--fit m-form--label-align-right" id="form_change_information_user">
                <input type="hidden" id="hdd_UserId" name="UserId" />
                <div class="modal-body">
                    <div class="m-portlet__body">
                        <div class="form-group m-form__group row">
                            <label for="example-text-input" class="col-3 col-form-label">Mật khẩu <span class="m-font-danger">*</span></label>
                            <div class="col-8">
                                <input type="password" class="form-control m-input m-input--air" name="Password" id="txt_pasword" placeholder="Nhập mật khẩu">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label for="example-text-input" class="col-3 col-form-label">Họ tên </label>
                            <div class="col-8">
                                <input type="text" class="form-control m-input m-input--air" name="FullName" id="txt_change_fullname" placeholder="Nhập họ tên">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label for="example-text-input" class="col-3 col-form-label">Số điện thoại </label>
                            <div class="col-8">
                                <input type="text" class="form-control m-input m-input--air" name="Phone" id="txt_change_phone" placeholder="Nhập số điện thoại">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label for="example-text-input" class="col-3 col-form-label">Email </label>
                            <div class="col-8">
                                <input type="text" class="form-control m-input m-input--air" name="Email" id="txt_change_email" placeholder="Nhập email">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-3 col-form-label">Tổng đài</label>
                            <div class="col-8">
                                <select class="form-control m-input m-select2" name="TypeCallService" id="ddl_change_typeCallService" onchange="UserModule.ChangeTypeCallService(this.value)">
                                    <option value="0">Chọn Tổng đài</option>
                                    <option value="@LOS.Common.Extensions.EnumTypeCallService.Caresoft.GetHashCode()">
                                        Caresoft
                                    </option>
                                    <option value="@LOS.Common.Extensions.EnumTypeCallService.Metech.GetHashCode()">
                                        Metech
                                    </option>
                                </select>
                                <span class="m-form__help" style="display:none">
                                </span>
                            </div>
                        </div>
                        <div class="form-group m-form__group row" id="div-ipphone">
                            <label for="example-text-input" class="col-3 col-form-label">Ipphone </label>
                            <div class="col-8">
                                <input type="text" class="form-control m-input  m-input--air" name="Ipphone" id="txt_change_ipphone" placeholder="Nhập Ipphone">
                            </div>
                        </div>
                        <div class="form-group m-form__group row" id="div-cisco-usename">
                            <label for="example-text-input" class="col-3 col-form-label">Cisco Username </label>
                            <div class="col-8">
                                <input type="text" class="form-control m-input  m-input--air" name="CiscoUsername" id="txt_change_cisco_username" placeholder="Nhập cisco username">
                            </div>
                        </div>
                        <div class="form-group m-form__group row" id="div-cisco-password">
                            <label for="example-text-input" class="col-3 col-form-label">Cisco Password </label>
                            <div class="col-8">
                                <input type="text" class="form-control m-input  m-input--air" name="CiscoPassword" id="txt_change_cisco_password" placeholder="Nhập cisco password">
                            </div>
                        </div>
                        <div class="form-group m-form__group row" id="div-cisco-extension">
                            <label for="example-text-input" class="col-3 col-form-label">Cisco Extension </label>
                            <div class="col-8">
                                <input type="text" class="form-control m-input  m-input--air" name="CiscoExtension" id="txt_change_cisco_extension" placeholder="Nhập cisco extension">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-4">
                    </div>
                    <div class="col-8">
                        <button type="button" class="btn btn-primary" onclick="UserModule.SaveChangeInformation(this,event);">Lưu lại</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

