﻿@{
    Layout = null;
    var listHub = ViewBag.ListAllHub as List<LOS.DAL.DTOs.ShopDetail>;
}
<style>
    .m-font-danger {
        color: red;
    }
</style>
<div class="modal fade" id="modal_create_account_tima" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="header_create_account_tima">Tạo nhân viên </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form class="m-form m-form--fit m-form--label-align-right" id="form_create_account_tima">
                <div class="modal-body">
                    <div class="m-portlet__body">
                        <input type="hidden" name="UserId" id="hdd_create_userID" value="0" />
                        <input type="hidden" name="Status" value="1">
                        <div class="form-group m-form__group row">
                            <label for="example-text-input" class="col-3 col-form-label">Tên tài khoản <span class="m-font-danger">*</span></label>
                            <div class="col-9">
                                <input type="text" class="form-control m-input inputsearch" name="Username" id="txt_create_staff_username" placeholder="Nhập tên tài khoản">
                            </div>
                        </div>

                        <div class="form-group m-form__group row" id="div-password-account">
                            <label for="example-text-input" class="col-3 col-form-label">Mật khẩu <span class="m-font-danger">*</span></label>
                            <div class="col-9">
                                <input type="password" class="form-control m-input inputsearch" name="Password" id="txt_create_staff_password" placeholder="Nhập mật khẩu">
                            </div>
                        </div>

                        <div class="form-group m-form__group row">
                            <label for="example-text-input" class="col-3 col-form-label">Họ tên </label>
                            <div class="col-9">
                                <input type="text" class="form-control m-input inputsearch" name="FullName" id="txt_create_staff_fullname" placeholder="Nhập họ tên">
                            </div>
                        </div>

                        <div class="form-group m-form__group row">
                            <label for="example-text-input" class="col-3 col-form-label">Số điện thoại </label>
                            <div class="col-9">
                                <input type="text" class="form-control m-input inputsearch" name="Phone" id="txt_create_staff_phone" placeholder="Nhập số điện thoại">
                            </div>
                        </div>

                        <div class="form-group m-form__group row">
                            <label for="example-text-input" class="col-3 col-form-label">Nhóm tài khoản </label>
                            <div class="col-9">
                                <select class="form-control m-input m-select2" name="GroupId" id="ddl_GroupID" data-live-search="true" onchange="UserModuleManager.ShowAndHideChangeHub(this.value)">
                                    <option value="">Chọn nhóm tài khoản</option>
                                    @foreach (var item in Model.ListGroup)
                                    {
                                        <option value="@item.GroupId"> @item.GroupName</option>
                                    }
                                </select>
                                <span class="m-form__help" style="display:none">
                                </span>
                            </div>
                        </div>

                        <div class="form-group m-form__group row" id="div-changhub" style="display: none;">
                            <label class="col-lg-3 col-form-label">
                                Chọn Hub
                            </label>
                            <div class="col-lg-9">
                                <select class="form-control m-input m-select2" multiple="multiple" name="HubIds" id="ddl_HubId">
                                    @foreach (var item in listHub)
                                    {
                                        <option value="@item.ShopId"> @item.Name</option>
                                    }
                                </select>
                                <span class="m-form__help" style="display:none">
                                </span>
                            </div>
                        </div>

                        <div class="form-group m-form__group row">
                            <label for="example-text-input" class="col-3 col-form-label">Email </label>
                            <div class="col-9">
                                <input type="text" class="form-control m-input inputsearch" name="Email" id="txt_create_staff_email" placeholder="Nhập email">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btn_save_account_tima" onclick="UserModuleManager.AddUser(this,event)">Lưu lại</button>
                </div>
            </form>
        </div>
    </div>
</div>