﻿@model LOS.DAL.DTOs.UserMobileCiscoDetail
@{
    Layout = null;
}
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
                Cấu hình Cisco mobile cho tài khoản: <b style="color: red;"> @Model.Username</b>
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">
                    &times;
                </span>
            </button>
        </div>
        <form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed">
            <input type="hidden" name="UserId" value="@Model.UserId" />
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-md-12">
                        <label for="example-text-input" class="col-form-label">CiscoExtension <span class="m-font-danger">*</span></label>
                        <input type="text" class="form-control m-input inputsearch" name="MbCiscoExtension" value="@Model.MbCiscoExtension">
                    </div>
                    <div class="col-md-12">
                        <label for="example-text-input" class="col-form-label">CiscoPassword <span class="m-font-danger">*</span></label>
                        <input type="text" class="form-control m-input inputsearch" name="MbciscoPassword" value="@Model.MbciscoPassword">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-tima-default" data-dismiss="modal">
                    Hủy
                </button>
                <button type="button" class="btn btn-tima" onclick="UserModule.SaveConfigCiscoMobile(this)">
                    Lưu lại
                </button>
            </div>
        </form>
    </div>