﻿@model LOS.DAL.DTOs.PropertyDTO;
@{
    Layout = null;
}
@if (Model.LinkObject == null && Model.Type == "String" )
{
    // text box
    <div class="m-input-icon m-input-icon--right">
        <input type="text" class="form-control m-input propertyValue" placeholder="@Model.Name">
    </div>
}
else if (Model.LinkObject == null && (Model.Type == "Integer" || Model.Type == "Long"))
{
    // text box
    <div class="m-input-icon m-input-icon--right">
        <input type="text" class="form-control m-input propertyValue inputAmountVND" style="padding-right: 15px; text-align: right" value="0" placeholder="@Model.Name">
    </div>
}
else if (Model.LinkObject == null && Model.Type == "Boolean")
{
    <div class="m-input-icon m-input-icon--right">
        <select class="form-control m-bootstrap-select m_selectpicker col-lg-12 float-left propertyValue px-sm-0">
            <option value="1" selected>
                Đúng
            </option>
            <option value="0">
                Sai
            </option>
        </select>
    </div>
}
else if (Model.LinkObject == null && Model.Type == "DateTime")
{
    <div class="m-input-icon m-input-icon--right">
        <input type="text" class="form-control m-input propertyValue" placeholder="@Model.Name">
    </div>
}
else if (Model.LinkObject != null && Model.Type == "Integer")
{
    if (ViewBag.LinkObjects != null)
    {
        <div class="m-input-icon m-input-icon--right">
            <select class="form-control m-bootstrap-select m_selectpicker col-lg-12 float-left propertyValue px-sm-0" @(Model.MultipleSelect.Value ? "multiple data-selected-text-format=\"count > 3\"" : "")>
                <option value="0">
                    Chọn
                </option>
                @foreach (var obj in ViewBag.LinkObjects)
                {
                    if (Model.LinkObject == "PipelineState")
                    {
                        <option value="@obj.PipelineStateId">@obj.Description</option>
                    }
                    else if (Model.LinkObject == "LoanStatus")
                    {
                        <option value="@obj.Status">@obj.Description</option>
                    }
                    else if (Model.LinkObject == "Province")
                    {
                        <option value="@obj.ProvinceId">@obj.Name</option>
                    }
                    else if (Model.LinkObject == "LoanProduct")
                    {
                        <option value="@obj.LoanProductId">@obj.Name</option>
                    }
                }
            </select>
        </div>
    }
}
else
{
    <div class="m-input-icon m-input-icon--right">
        <input type="text" class="form-control m-input propertyValue" placeholder="@Model.Name">
    </div>
}