﻿@model LOS.DAL.DTOs.UserDetail
@{
    ViewData["Title"] = "UserPermissionPartial";
    Layout = null;
}

<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
            Phân quyền dữ liệu
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
                &times;
            </span>
        </button>
    </div>
    <form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed">
        <input type="hidden" name="hdUserId" id="hdUserId" />
        <div class="modal-body m--padding-5">
            <div class="m-portlet__body">
                <input type="hidden" value="@Model.UserId" id="hdf_UserId" />
                <div class="form-group m-form__group">
                    <div class="row align-items-center">
                        <div class="col-lg-4 m--padding-10">
                            <span class="float-right">Tài khoản:</span>
                        </div>
                        <div class="col-lg-8 m--padding-10 border-l" style="font-weight:bold">
                            @Model.Username
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-lg-4 m--padding-10">
                            <span class="float-right">Nhóm người dùng:</span>
                        </div>
                        <div class="col-lg-8 m--padding-10 border-l" style="font-weight:bold">
                            @Model.Group.GroupName
                        </div>
                    </div>

                    <div id="AddSectionContainer">
                        <input type="hidden" id="hdf_index" value="0"/>
                        <div class="row border-all">
                            <div class="col-lg-12 m--padding-10">
                                <label>
                                    Phân quyền dữ liệu
                                </label>
                                <div id="conditionValuesContainer">
                                    @{ await Html.RenderPartialAsync("ConditionValuePropertyPartial.cshtml", Model); }
                                </div>
                                <button type="button" class="btn btn-tima" style="margin-top:10px" onclick="UserPermissionJS.OnAddConditionProperty();">
                                    Thêm điều kiện
                                </button>
                            </div>
                        </div>
                        <div class="row border-all" style="margin-top: 15px;">
                            <div class="col-lg-12 m--padding-10">
                                <label>
                                    Phân quyền action:
                                </label>
                                <div id="initialValuesContainer">
                                    @{ await Html.RenderPartialAsync("ActionPropertyPartial.cshtml"); }
                                </div>
                                <button type="button" class="btn btn-tima" style="margin-top:10px" onclick="UserPermissionJS.OnAddInitialProperty();">
                                    Thêm phân quyền
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer m--padding-top-10 m--padding-bottom-10 border-0">
            <button type="button" class="btn btn-tima-default" data-dismiss="modal">
                Hủy
            </button>
            <button type="button" class="btn btn-tima" onclick="UserPermissionJS.OnSavePermissionUser()" id="btnSubmit" style="padding: 10px 45px;">
                Lưu cấu hình
            </button>
        </div>
    </form>
</div>
<script src="~/js/UserPermission/UserPermissionJS.js?v=1.0"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var properties = @Html.Raw(Json.Serialize(ViewBag.Properties));		
        UserPermissionJS.AssignValues(properties);
        $('.m_selectpicker').selectpicker();
    });
</script>




