﻿@model List<ActionPermissionItem>
@{
    Layout = null;
}
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
            Phân quyền dữ liệu API tài khoản: <b style="color: red;" id="_userName"></b>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
                &times;
            </span>
        </button>
    </div>
    <form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed">
        <input type="hidden" name="UserId" id="hdd_Permission_Api_UserId" />
        <div class="modal-body">
            <div class="row">
                @if (Model != null && Model.Count > 0)
                {
                    foreach (var item in Model)
                    {
                        <div class="col-md-3">
                            <div class="m-checkbox-inline">
                                @if (item.Selected)
                                {
                                    <label class="m-checkbox" style="font-weight: bold;">
                                        <input type="checkbox" class="" checked="checked" name="lstAction" value="@item.ModuleId"> @item.Url
                                        <span></span>
                                        <p class="item-url" style="font-weight: 100; font-size: 12px;">(@item.Name)</p>
                                    </label>
                                }
                                else
                                {
                                    <label class="m-checkbox" style="font-weight: bold;">
                                        <input type="checkbox" class="" name="lstAction" value="@item.ModuleId">  @item.Url
                                        <span></span>
                                        <p class="item-url" style="font-weight: 100; font-size: 12px;">(@item.Name)</p>
                                    </label>
                                }
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-tima-default" data-dismiss="modal">
                Hủy
            </button>
            <button type="button" class="btn btn-tima" onclick="UserModule.SaveActionPermissonApi(this)">
                Lưu lại
            </button>
        </div>
    </form>
</div>
