﻿@model LOS.WebApp.Models.ModuleItem
@{
    Layout = null;

}
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
            Thông tin menu
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
                &times;
            </span>
        </button>
    </div>
    <form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" action="/Group/CreateGroup">
        <div class="modal-body">
            <input type="hidden" name="ModuleId" id="txtId" value="@Model.ModuleId" />
            <input type="hidden" id="txtParentId" value="@Model.ParentId" />

            <div class="form-group row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <label for="example-text-input" class="col-form-label">Loại <span class="m-font-danger">*</span></label>
                    <select class="form-control m-input m-select2" name="CheckMenu" id="sl_TypeMenu" onchange="MenuModule.ChangeTypeMenu(this.value)">
                        <!option @(Model.IsMenu == false ? "selected='selected'" : "") value="0">Action</!option>
                        <!option @(Model.IsMenu == true ? "selected='selected'" : "") value="1">Menu</!option>
                    </select>
                    <span class="m-form__help" style="display:none">
                    </span>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 div_menu_parent" style="@(Model.IsMenu == true ? "" : "display:none")">
                    <label for="example-text-input" class="col-form-label">Menu cha</label>
                    <select class="form-control m-input m-select2" name="ParentId" id="sl_ParentId">
                        <option></option>
                        @if (Model.lstModule.Count > 0)
                        {
                            <!option value="0">Menu cha</!option>
                            @foreach (var item in Model.lstModule)
                            {
                                if (item.ParentId == null || item.ParentId == 0)
                                {
                                    if (Model.ParentId == item.ModuleId)
                                    {
                                        <option value="@item.ModuleId" selected="selected">@item.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@item.ModuleId">@item.Name</option>
                                    }
                                }
                            }
                        }
                    </select>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <label for="example-text-input" class="col-form-label">Tên menu <span class="m-font-danger">*</span></label>
                    <input type="text" class="form-control m-input inputsearch" value="@Model.Name" name="Name" placeholder="Tên menu">
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <label for="example-text-input" class="col-form-label">Đường dẫn <span class="m-font-danger">*</span></label>
                    <input type="text" class="form-control m-input inputsearch" value="@Model.Path" name="Path" placeholder="Đường dẫn">
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <label for="example-text-input" class="col-form-label">Controller <span class="m-font-danger">*</span></label>
                    <input type="text" class="form-control m-input inputsearch" value="@Model.Controller" name="Controller" placeholder="Controller">
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <label for="example-text-input" class="col-form-label">Action <span class="m-font-danger">*</span></label>
                    <input type="text" class="form-control m-input inputsearch" value="@Model.Action" name="Action" placeholder="Action">
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <label for="example-text-input" class="col-form-label">Mô tả </label>
                    <input type="text" class="form-control m-input inputsearch" value="@Model.Description" name="Description" placeholder="Mô tả">
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <label for="example-text-input" class="col-form-label">Icon menu </label>
                    <input type="text" class="form-control m-input inputsearch" value="@Model.Icon" name="Icon" placeholder="Icon menu">
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <label for="example-text-input" class="col-form-label">Số thứ tự </label>
                    <input type="text" class="form-control m-input inputsearch" value="@Model.Priority" name="Priority" min="0" placeholder="Số thứ tự">
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <label for="example-text-input" class="col-form-label">Ứng dụng <span class="m-font-danger">*</span></label>
                    <select class="form-control m-input m-select2" name="ApplicationId" id="sl_ApplicationId" data-live-search="true">
                        @foreach (var item in Model.LstAplication)
                        {
                            if (Model.ApplicationId == int.Parse(item.Value))
                            {
                                <option selected="selected" value="@item.Value">@item.Text</option>
                            }
                            else
                            {
                                <option value="@item.Value">@item.Text</option>
                            }

                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-tima-default" data-dismiss="modal">
                Đóng
            </button>
            <button type="button" class="btn btn-tima" onclick="MenuModule.AddMenu(this,event);">
                Lưu lại
            </button>
        </div>
    </form>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#sl_TypeMenu").select2({
            placeholder: "Vui lòng chọn"
        });

        $("#sl_ParentId").select2({
            placeholder: "Vui lòng chọn"
        });

        $("#sl_ApplicationId").select2({
            placeholder: "Vui lòng chọn"
        });
    });
</script>
