﻿@model LOS.DAL.DTOs.LoanBriefForDetail
@{
    var CheckAddressHousehold = Model.CheckLoanInformation != null ? Model.CheckLoanInformation.Where(x => x.DocumentTypeId == (int)LOS.Common.Extensions.EnumCheckLoanInformation.CheckAddressHousehold).FirstOrDefault() : null;
    var user = ViewBag.User as LOS.DAL.DTOs.UserDetail;
}
@using LOS.Common.Extensions;
<div class="m-section__content">
    <div style="margin-bottom: 5px; font-weight:bold">
        <span>
            Địa chỉ hộ khẩu
        </span>
        <i class="la la-angle-double-right" style="font-size: 15px;"></i>
        @if (user.GroupId == LOS.Common.Extensions.EnumGroupUser.StaffHub.GetHashCode() || user.GroupId == LOS.Common.Extensions.EnumGroupUser.ManagerHub.GetHashCode()
        || user.GroupId == LOS.Common.Extensions.EnumGroupUser.ApproveEmp.GetHashCode() || user.GroupId == LOS.Common.Extensions.EnumGroupUser.ApproveLeader.GetHashCode())
        {
            <div style="width: 65%; float: right; text-align: right;">
                <label class="m-checkbox m-checkbox--bold m-checkbox--state-success" style="padding-right:50px;">
                    <input type="radio" @(CheckAddressHousehold != null && CheckAddressHousehold.ResultCheck == true ? "checked=\"checked\"" : "") attr-doctype="@EnumCheckLoanInformation.CheckAddressHousehold.GetHashCode()" attr-description="@Description.GetDescription(EnumCheckLoanInformation.CheckAddressHousehold)" name="CheckAddressHousehold" value="true">
                    Đúng
                    <span></span>
                </label>
                <label class="m-checkbox m-checkbox--bold m-checkbox--state-brand">
                    <input type="radio" @(CheckAddressHousehold != null && CheckAddressHousehold.ResultCheck == false ? "checked=\"checked\"" : "") attr-doctype="@EnumCheckLoanInformation.CheckAddressHousehold.GetHashCode()" attr-description="@Description.GetDescription(EnumCheckLoanInformation.CheckAddressHousehold)" name="CheckAddressHousehold" value="false">
                    Sai
                    <span></span>
                </label>
            </div>
        }

    </div>
    <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
        <div class="custom-m-boder-box m-demo__preview">
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Thành phố:
                </label>
                <div class="col-4 padding-top">
                    <span>@(Model.LoanBriefHousehold != null && Model.LoanBriefHousehold.ProvinceName != null ? Model.LoanBriefHousehold.ProvinceName : "")</span>
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Quận/ huyện:
                </label>
                <div class="col-4 padding-top">
                    <span>@(Model.LoanBriefHousehold != null && Model.LoanBriefHousehold.DistrictName != null ? Model.LoanBriefHousehold.DistrictName : "")</span>
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Phường/ xã:
                </label>
                <div class="col-4 padding-top">
                    <span>@(Model.LoanBriefHousehold != null && Model.LoanBriefHousehold.WardName != null ? Model.LoanBriefHousehold.WardName : "")</span>
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Địa chỉ đang ở:
                </label>
                <div class="col-10 padding-top">
                    <span>@(Model.LoanBriefHousehold != null && Model.LoanBriefHousehold.Address != null ? Model.LoanBriefHousehold.Address : "")</span>
                </div>
            </div>
        </div>
    </div>
</div>