﻿@model LOS.DAL.DTOs.LoanBriefForDetail
@{
    var CheckAddressHome = Model.CheckLoanInformation != null ? Model.CheckLoanInformation.Where(x => x.DocumentTypeId == (int)LOS.Common.Extensions.EnumCheckLoanInformation.CheckAddressHome).FirstOrDefault() : null;
    var user = ViewBag.User as LOS.DAL.DTOs.UserDetail;
}
@using LOS.Common.Extensions;

<div class="m-section__content">
    <div style="margin-bottom: 5px; font-weight:bold">
        <span>
            Địa chỉ đang ở
        </span>
        <i class="la la-angle-double-right" style="font-size: 15px;"></i>
        @if (user.GroupId == LOS.Common.Extensions.EnumGroupUser.StaffHub.GetHashCode() || user.GroupId == LOS.Common.Extensions.EnumGroupUser.ManagerHub.GetHashCode()
        || user.GroupId == LOS.Common.Extensions.EnumGroupUser.ApproveEmp.GetHashCode() || user.GroupId == LOS.Common.Extensions.EnumGroupUser.ApproveLeader.GetHashCode())
        {
            <div style="width: 65%; float: right; text-align: right;">
                <label class="m-checkbox m-checkbox--bold m-checkbox--state-success" style="padding-right:50px;">
                    <input type="radio" @(CheckAddressHome != null && CheckAddressHome.ResultCheck == true ? "checked=\"checked\"" : "") attr-doctype="@EnumCheckLoanInformation.CheckAddressHome.GetHashCode()" attr-description="@Description.GetDescription(EnumCheckLoanInformation.CheckAddressHome)" name="CheckAddressHome" value="true">
                    Đúng
                    <span></span>
                </label>
                <label class="m-checkbox m-checkbox--bold m-checkbox--state-brand">
                    <input type="radio" @(CheckAddressHome != null && CheckAddressHome.ResultCheck == false ? "checked=\"checked\"" : "") attr-doctype="@EnumCheckLoanInformation.CheckAddressHome.GetHashCode()" attr-description="@Description.GetDescription(EnumCheckLoanInformation.CheckAddressHome)" name="CheckAddressHome" value="false">
                    Sai
                    <span></span>
                </label>
            </div>
        }
    </div>
    <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
        <div class="custom-m-boder-box m-demo__preview">
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Thành phố:
                </label>
                <div class="col-4 padding-top">
                    <span>@(!string.IsNullOrEmpty(Model.ProvinceName) ? Model.ProvinceName : "")</span>
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Quận/ huyện:
                </label>
                <div class="col-4 padding-top">
                    <span>@(!string.IsNullOrEmpty(Model.DistrictName) ? Model.DistrictName : "")</span>
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Phường/ xã:
                </label>
                <div class="col-4 padding-top">
                    <span>@(!string.IsNullOrEmpty(Model.WardName) ? Model.WardName : "")</span>
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Mã hóa đơn điện:
                </label>
                <div class="col-4 padding-top">

                    @if (Model.LoanBriefResident != null && !string.IsNullOrEmpty(Model.LoanBriefResident.BillElectricityId))
                    {
                        <span>@Model.LoanBriefResident.BillElectricityId</span>
                    }
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Mã hóa đơn nước:
                </label>
                <div class="col-4 padding-top">

                    @if (Model.LoanBriefResident != null && !string.IsNullOrEmpty(Model.LoanBriefResident.BillWaterId))
                    {
                        <span>@Model.LoanBriefResident.BillWaterId</span>
                    }
                </div>
            </div>


            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Hình thức cư trú:
                </label>
                <div class="col-4 padding-top">

                    @if (Model.LoanBriefResident != null && Model.LoanBriefResident.ResidentType != null)
                    {
                        <span>@LOS.WebApp.Views.LoanBrief.Detail.Description.GetDescription((LOS.Common.Extensions.EnumTypeofownership)Model.LoanBriefResident.ResidentType)</span>
                    }
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Thời gian sống:
                </label>
                <div class="col-4 padding-top">

                    @if (Model.LoanBriefResident != null && Model.LoanBriefResident.LivingTime != null)
                    {
                        <span>@LOS.WebApp.Views.LoanBrief.Detail.Description.GetDescription((LOS.Common.Extensions.EnumLivingTime)Model.LoanBriefResident.LivingTime)</span>
                    }

                </div>
            </div>
           
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Địa chỉ đang ở:
                </label>
                <div class="col-10 padding-top">
                    <span>@(Model.LoanBriefResident != null ? Model.LoanBriefResident.Address : "")</span>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                   Tọa độ KH chia sẻ:
                </label>
                <div class="col-10 padding-top">
                    <span>@(Model.LoanBriefResident != null ? Model.LoanBriefResident.CustomerShareLocation : "")</span>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Địa chỉ google map:
                </label>
                <div class="col-10 padding-top">
                    <span>@(Model.LoanBriefResident != null ? Model.LoanBriefResident.AddressGoogleMap : "")</span>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Tọa độ google map:
                </label>
                <div class="col-10 padding-top">
                    <span>@(Model.LoanBriefResident != null ? Model.LoanBriefResident.AddressLatLng : "")</span>
                </div>
            </div>

        </div>
    </div>
</div>

