﻿@using LOS.WebApp.Models;
@{
    Layout = null;
    var objElectricity = ViewBag.BillElectricity as DataCheckElectricityAI;
    var objWater = ViewBag.BillWater as DataCheckBillWaterAI;
}
<div class="m-section__content">
    <div style="margin-bottom: 5px; font-weight:bold">
        <span>
            Kiểm tra thông tin mã hóa đơn điện và nước
        </span>
    </div>
    <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
        <div class="custom-m-boder-box m-demo__preview">
            @if (objElectricity != null)
            {
                <div class="m-portlet m-portlet--bordered m-portlet--bordered-semi m-portlet--rounded" style="margin-bottom: 0.2rem !important;">
                    <div class="m-portlet__body" style="padding-bottom: 10px !important">
                        <div class="form-group m-form__group row">
                            <span class="col-12">
                                <b>Hóa đơn điện</b>
                            </span>
                        </div>
                        @if (objElectricity.info != null)
                        {
                            <div class="form-group m-form__group row">
                                <label for="example-email-input" class="col-2 col-form-label">
                                    Địa chỉ:
                                </label>
                                <div class="col-4" style="padding-top: 10px;">
                                    <span>@objElectricity.info.address</span>
                                </div>
                                <label for="example-email-input" class="col-2 col-form-label">
                                    Khách hàng:
                                </label>
                                <div class="col-4" style="padding-top: 10px;">
                                    <span>@objElectricity.info.name</span>
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label for="example-email-input" class="col-2 col-form-label">
                                    Mã công ty:
                                </label>
                                <div class="col-4" style="padding-top: 10px;">
                                    <span>@objElectricity.info.companyName</span>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-12" style="padding-top: 15px; color: red; font-style: italic; text-align: center;">
                                <label>Không có dữ liệu </label>
                            </div>
                        }
                    </div>
                </div>
            }
            @if (objWater != null)
            {
                <div class="m-portlet m-portlet--bordered m-portlet--bordered-semi m-portlet--rounded" style="margin-bottom: 0.2rem !important;">
                    <div class="m-portlet__body" style="padding-bottom: 10px !important">
                        <div class="form-group m-form__group row">
                            <span class="col-12">
                                <b>Hóa đơn nước</b>
                            </span>
                        </div>
                        @if (objWater.info != null)
                        {
                            <div class="form-group m-form__group row">
                                <label for="example-email-input" class="col-2 col-form-label">
                                    Địa chỉ:
                                </label>
                                <div class="col-4" style="padding-top: 10px;">
                                    <span>@objWater.info.address</span>
                                </div>
                                <label for="example-email-input" class="col-2 col-form-label">
                                    Khách hàng:
                                </label>
                                <div class="col-4" style="padding-top: 10px;">
                                    <span>@objWater.info.name</span>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-12" style="padding-top: 15px; color: red; font-style: italic; text-align: center;">
                                <label>Không có dữ liệu </label>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>

