﻿@using LOS.WebApp.Models.Ekyc;
@model LOS.DAL.DTOs.LoanBriefForDetail
@{
    Layout = null;
    var ekyc = ViewBag.Ekyc as Ekyc.EkycOutput;
    var ekycNetwork = ViewBag.EkycNetwork as EkycNetwork;
    var ekycMotobike = ViewBag.EkycMotobike as EkycMotobike;
}
<style>
    .td-bold {
        font-weight: 700;
    }

    .th-color {
        color: white;
        background: rgb(108, 114, 147) !important;
    }
</style>
<div class="m-section__content" id="_result_check_infomation_cutomer">
    <table class="table table-striped m-table">
        <thead>
            <tr class="th-color">
                <th></th>
                <th>TT KHÁCH HÀNG</th>
                <th>CMND/CCCD</th>
                <th>ĐĂNG KÝ XE</th>
                <th>ẢNH TTTB-1414</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="td-bold">Họ tên</td>
                <td>@Model.FullName</td>
                <td>
                    @if (ekyc != null && ekyc.NationalId != null && ekyc.NationalId.Fullname != null && !string.IsNullOrEmpty(ekyc.NationalId.Fullname.Value))
                    {
                        if (ekyc.NationalId.Fullname.Check == false)
                        {
                            <span style="color: red;">@ekyc.NationalId.Fullname.Value</span>
                        }
                        else
                        {
                            <span style="color: #34bfa3;">@ekyc.NationalId.Fullname.Value</span>
                        }
                    }
                </td>
                <td>
                    @if (ekycMotobike != null && ekycMotobike.result != null && ekycMotobike.result.extract_info != null && !string.IsNullOrEmpty(ekycMotobike.result.extract_info.name))
                    {
                        if (ekycMotobike.result.is_same_name == false)
                        {
                            <span style="color: red;">@ekycMotobike.result.extract_info.name</span>
                        }
                        else
                        {
                            <span style="color: #34bfa3;">@ekycMotobike.result.extract_info.name</span>
                        }
                    }
                </td>
                <td>
                    @if (ekycNetwork != null && ekycNetwork.extracted_info != null && !string.IsNullOrEmpty(ekycNetwork.extracted_info.fullname))
                    {
                        if (ekycNetwork.compare_results != null && ekycNetwork.compare_results.same_fullname == false)
                        {
                            <span style="color: red;">@ekycNetwork.extracted_info.fullname</span>
                        }
                        else
                        {
                            if (ekycNetwork.compare_results != null)
                            {
                                <span style="color: #34bfa3;">@ekycNetwork.extracted_info.fullname</span>
                            }
                            else
                            {
                                <span style="color: #ffb822;">@ekycNetwork.extracted_info.fullname</span>
                            }
                        }
                    }
                </td>
            </tr>
            <tr>
                <td class="td-bold">Số CMND/CCCD</td>
                <td>@Model.NationalCard</td>
                <td>
                    @if (ekyc != null && ekyc.NationalId != null && ekyc.NationalId.Id != null && !string.IsNullOrEmpty(ekyc.NationalId.Id.Value))
                    {
                        if (ekyc.NationalId.Id.Check == false)
                        {
                            <span style="color: red;">@ekyc.NationalId.Id.Value</span>
                        }
                        else
                        {
                            <span style="color: #34bfa3;">@ekyc.NationalId.Id.Value</span>
                        }
                    }
                </td>
                <td></td>
                <td>
                    @if (ekycNetwork != null && ekycNetwork.extracted_info != null && !string.IsNullOrEmpty(ekycNetwork.extracted_info.id_number))
                    {
                        if (ekycNetwork.compare_results != null && ekycNetwork.compare_results.same_id_number == false)
                        {
                            <span style="color: red;">@ekycNetwork.extracted_info.id_number</span>
                        }
                        else
                        {
                            if (ekycNetwork.compare_results != null)
                            {
                                <span style="color: #34bfa3;">@ekycNetwork.extracted_info.id_number</span>
                            }
                            else
                            {
                                <span style="color: #ffb822;">@ekycNetwork.extracted_info.id_number</span>
                            }
                        }
                    }
                </td>
            </tr>
            <tr>
                <td class="td-bold">Ngày sinh</td>
                <td>@(Model.Dob != null ? Model.Dob.Value.ToString("dd/MM/yyyy") : "")</td>
                <td>
                    @if (ekyc != null && ekyc.NationalId != null && ekyc.NationalId.Birthday != null && !string.IsNullOrEmpty(ekyc.NationalId.Birthday.Value))
                    {
                        if (ekyc.NationalId.Birthday.Check == false)
                        {
                            <span style="color: red;">@ekyc.NationalId.Birthday.Value</span>
                        }
                        else
                        {
                            <span style="color: #34bfa3;">@ekyc.NationalId.Birthday.Value</span>
                        }
                    }
                </td>
                <td></td>
                <td>
                    @if (ekycNetwork != null && ekycNetwork.extracted_info != null && !string.IsNullOrEmpty(ekycNetwork.extracted_info.dob))
                    {
                        if (ekycNetwork.compare_results != null && ekycNetwork.compare_results.same_dob == false)
                        {
                            <span style="color: red;">@ekycNetwork.extracted_info.dob</span>
                        }
                        else
                        {
                            if (ekycNetwork.compare_results != null)
                            {
                                <span style="color: #34bfa3;">@ekycNetwork.extracted_info.dob</span>
                            }
                            else
                            {
                                <span style="color: #ffb822;">@ekycNetwork.extracted_info.dob</span>
                            }
                        }
                    }
                </td>
            </tr>
            <tr>
                <td class="td-bold">Hãng xe</td>
                <td>@(Model.LoanBriefProperty != null ? Model.LoanBriefProperty.BrandName : "")</td>
                <td></td>
                <td>
                    @if (ekycMotobike != null && ekycMotobike.result != null && ekycMotobike.result.extract_info != null && !string.IsNullOrEmpty(ekycMotobike.result.extract_info.brand))
                    {
                        if (ekycMotobike.result.is_same_brand == false)
                        {
                            <span style="color: red;">@ekycMotobike.result.extract_info.brand</span>
                        }
                        else
                        {
                            <span style="color: #34bfa3;">@ekycMotobike.result.extract_info.brand</span>
                        }
                    }
                </td>
                <td></td>
            </tr>
            <tr>
                <td class="td-bold">Biển số</td>
                <td>@((Model.LoanBriefProperty != null && Model.LoanBriefProperty.PlateNumber != null) ? Model.LoanBriefProperty.PlateNumber : "")</td>
                <td></td>
                <td>
                    @if (ekycMotobike != null && ekycMotobike.result != null && ekycMotobike.result.extract_info != null && !string.IsNullOrEmpty(ekycMotobike.result.extract_info.plate))
                    {
                        if (ekycMotobike.result.is_same_plate == false)
                        {
                            <span style="color: red;">@ekycMotobike.result.extract_info.plate</span>
                        }
                        else
                        {
                            <span style="color: #34bfa3;">@ekycMotobike.result.extract_info.plate</span>
                        }
                    }
                </td>
                <td></td>
            </tr>
            <tr>
                <td class="td-bold">Số khung</td>
                <td>@((Model.LoanBriefProperty != null && Model.LoanBriefProperty.Chassis != null) ? Model.LoanBriefProperty.Chassis : "")</td>
                <td></td>
                <td>
                    @if (ekycMotobike != null && ekycMotobike.result != null && ekycMotobike.result.extract_info != null
                     && !string.IsNullOrEmpty(ekycMotobike.result.extract_info.chassis))
                    {
                        <span style="color: #34bfa3;">@ekycMotobike.result.extract_info.chassis</span>
                    }
                </td>
                <td></td>
            </tr>
            <tr>
                <td class="td-bold">Số máy</td>
                <td>@((Model.LoanBriefProperty != null && Model.LoanBriefProperty.Engine != null) ? Model.LoanBriefProperty.Engine : "")</td>
                <td></td>
                <td>
                    @if (ekycMotobike != null && ekycMotobike.result != null && ekycMotobike.result.extract_info != null
                     && !string.IsNullOrEmpty(ekycMotobike.result.extract_info.engine))
                    {
                        <span style="color: #34bfa3;">@ekycMotobike.result.extract_info.engine</span>
                    }
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>

</div>