﻿@model LOS.DAL.DTOs.LoanBriefForDetail
<div class="m-section__content">
    <div style="margin-bottom: 5px; font-weight:bold">
        <span>
            Kiểm tra thông tin
        </span>
        <i class="la la-angle-double-right" style="font-size: 15px;"></i>
    </div>
    <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
        <div class="custom-m-boder-box m-demo__preview">
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Kiểm tra rule check:
                </label>
                <div class="col-4 padding-top">
                    @if (!string.IsNullOrEmpty(Model.ResultRuleCheck))
                    {

                        <span>@Model.ResultRuleCheck</span>
                    }
                    else
                    {

                        <span>Chưa có kết quả</span>
                    }
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Kiểm tra location:
                </label>
                <div class="col-4 padding-top">
                    @if (!string.IsNullOrEmpty(Model.ResultLocation))
                    {

                        <span>@Model.ResultLocation</span>
                    }
                    else
                    {
                        if (!string.IsNullOrEmpty(Model.LabelRequestLocation))
                        {
                            <span>@Model.LabelRequestLocation</span>
                        }
                        else
                        {
                            <span>Chưa có kết quả</span>
                        }
                    }
                </div>
            </div>
            <div class="form-group m-form__group row">
                @if (Model.ScoreRange > 0)
                {
                    <label for="example-email-input" class="col-2 col-form-label">
                        Credit Scoring:
                        <span style="font-size: 10px; color: #ADB0C2;width: 100%; float: left">
                            (thang điểm 10)
                        </span>
                    </label>
                    <div class="col-4 padding-top">
                        @if (Model.ScoreRange >= 0 && Model.ScoreRange <= 3)
                        {
                            <span class="m-badge m-badge--success m-badge--danger" style="font-size: 10px">
                                @Model.ScoreRange
                            </span>
                        }
                        else if (Model.ScoreRange > 3 && Model.ScoreRange <= 5)
                        {
                            <span class="m-badge m-badge--info m-badge--warning" style="font-size: 10px">
                                @Model.ScoreRange
                            </span>
                        }
                        else
                        {
                            <span class="m-badge m-badge--info m-badge--wide" style="font-size: 10px">
                                @Model.ScoreRange
                            </span>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>