﻿@model LOS.DAL.DTOs.LoanBriefForDetail

@if (Model.LoanBriefCompany != null)
{
    <div class="m-section__content">
        <div style="margin-bottom: 5px; font-weight:bold">
            <span>
                Thông tin doanh nghiệp
            </span>
            <i class="la la-angle-double-right" style="font-size: 15px;"></i>
        </div>
        <input type="hidden" name="LoanBriefCompany.LoanBriefId" value="@Model.LoanBriefCompany.LoanBriefId" />
        <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
            <div class="custom-m-boder-box m-demo__preview">
                <div class="form-group m-form__group row">
                    <label for="example-email-input" class="col-2 col-form-label">
                        Tên doanh nghiệp:
                    </label>
                    <div class="col-4 padding-top">
                        <span>@Model.LoanBriefCompany.CompanyName</span>
                    </div>
                    <label for="example-email-input" class="col-2 col-form-label">
                        Ngành nghề kinh doanh:
                    </label>
                    <div class="col-4 padding-top">
                        <span>@Model.LoanBriefCompany.CareerBusiness</span>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label for="example-email-input" class="col-2 col-form-label">
                        Ngày cấp giấy CNĐKD/CNĐKND
                    </label>
                    <div class="col-4 padding-top">
                        <span>@(Model.LoanBriefCompany.BusinessCertificationDate.HasValue ? Model.LoanBriefCompany.BusinessCertificationDate.Value.ToString("dd/MM/yyyy") : "")</span>
                    </div>
                    <label for="example-email-input" class="col-2 col-form-label">
                        Nơi cấp giấy CNĐKD/CNĐKND:
                    </label>
                    <div class="col-4 padding-top">
                        <span>@Model.LoanBriefCompany.BusinessCertificationAddress</span>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label for="example-email-input" class="col-2 col-form-label">
                        Trụ sở theo đăng ký kinh doanh
                    </label>
                    <div class="col-10 padding-top">
                        <span>@Model.LoanBriefCompany.HeadOffice</span>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label for="example-email-input" class="col-2 col-form-label">
                        Địa chỉ kinh doanh hiện tại:
                    </label>
                    <div class="col-10 padding-top">
                        <span>@Model.LoanBriefCompany.Address</span>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label for="example-email-input" class="col-2 col-form-label">
                        Cổ đông góp vốn nhiều nhất:
                    </label>
                    <div class="col-4 padding-top">
                        <span>@Model.LoanBriefCompany.CompanyShareholder</span>
                    </div>
                    <label for="example-email-input" class="col-2 col-form-label">
                        Ngày sinh:
                    </label>
                    <div class="col-4 padding-top">
                        <span>@(Model.LoanBriefCompany.BirthdayShareholder.HasValue ? Model.LoanBriefCompany.BirthdayShareholder.Value.ToString("dd/MM/yyyy"): "")</span>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label for="example-email-input" class="col-2 col-form-label">
                        Số CMND/CCCD/Hộ Chiếu:
                    </label>
                    <div class="col-4 padding-top">
                        <span>@Model.LoanBriefCompany.CardNumberShareholder</span>
                    </div>
                    <label for="example-email-input" class="col-2 col-form-label">
                        Nơi sinh:
                    </label>
                    <div class="col-4 padding-top">
                        <span>@Model.LoanBriefCompany.PlaceOfBirthShareholder</span>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label for="example-email-input" class="col-2 col-form-label">
                        Ngày cấp:
                    </label>
                    <div class="col-4 padding-top">
                        <span>@(Model.LoanBriefCompany.CardNumberShareholderDate.HasValue ? Model.LoanBriefCompany.CardNumberShareholderDate.Value.ToString("dd/MM/yyyy"): "")</span>
                    </div>

                </div>
            </div>
        </div>
    </div>
}
