﻿@model LOS.DAL.DTOs.LoanBriefForDetail
<style>
    .dtDef span {
        color: #212529;
        font-weight: 400;
        font-size: 13px;
    }

    .dtDef .m-datatable__cell {
        vertical-align: middle;
        padding: 11px 13px !important;
        font-size: 1rem;
    }
    .cla {
        background: #f7f7fa;
    }
    .m-section__content{
        margin-bottom:20px;
    }
    #dtListLoan .chevron{
        color: #6C7293 !important;
        font-size:10pt !important;
        padding-left: 5px;
    }
</style>
<div class="m-section__content">
    <div style="margin-bottom: 5px; font-weight:bold">
        <span>
            Thông tin khoản vay
        </span>
        <i class="la la-angle-double-right" style="font-size: 15px;"></i>
    </div>
        <div class="col-md-12" style="border:1px solid rgba(108, 114, 147, 1) !important; padding: 0px">
            <table class="m-datatable__table dtDef" width="100%">
                <thead class="m-datatable__head">
                    <tr class="m-datatable__row cla" style="left: 0px;">
                        <th class="m-datatable__cell m-datatable__cell--sort"><span style="width: 50px;">STT</span></th>
                        <th class="m-datatable__cell m-datatable__cell--sort"><span style="width: 150px;">Mã TC</span></th>
                        <th class="m-datatable__cell m-datatable__cell--sort"><span style="width: 150px;">Tên khách</span></th>

                        <th class="m-datatable__cell m-datatable__cell--sort"><span style="width: 100px;">Số tiền vay</span></th>
                        <th class="m-datatable__cell m-datatable__cell--sort"><span style="width: 100px;">Dự nợ còn lại</span></th>
                        <th class="m-datatable__cell m-datatable__cell--sort"><span style="width: 100px;">Thời gian vay</span></th>
                        <th class="m-datatable__cell m-datatable__cell--sort"><span style="width: 100px;">Kỳ thanh toán</span></th>
                        <th class="m-datatable__cell m-datatable__cell--sort"><span style="width: 100px;">Trả kỳ</span></th>
                        <th class="m-datatable__cell m-datatable__cell--sort"><span style="width: 100px;">Số ngày trả chậm</span></th>
                        <th class="m-datatable__cell m-datatable__cell--sort"><span style="width: 100px;">Trạng thái</span></th>
                    </tr>
                </thead>
                <tbody class="m-datatable__body" style="" id="dtListLoanPayment">

                </tbody>
            </table>
        </div>
</div>

<input type="hidden" id="CustomerName" value="@Model.FullName" />
<input type="hidden" id="NumberCard" value="@Model.NationalCard" />
<input type="hidden" id="LoanBriefId" value="@Model.LoanBriefId" />
<input type="hidden" id="NationCardPlace" value="@Model.NationCardPlace" />
<script src="~/js/Approve/DeferredPaymentModule.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>

<script type="text/javascript">
    $(document).ready(function () {
        DeferredPaymentModule.Init()
    });


</script>