﻿@model LOS.DAL.DTOs.LoanBriefForDetail
@{
    var CheckDisbursementInfomation = Model.CheckLoanInformation != null ? Model.CheckLoanInformation.Where(x => x.DocumentTypeId == (int)LOS.Common.Extensions.EnumCheckLoanInformation.CheckDisbursementInfomation).FirstOrDefault() : null;
    var user = ViewBag.User as LOS.DAL.DTOs.UserDetail;
}
@using LOS.Common.Extensions;
<div class="m-section__content">
    <div style="margin-bottom: 5px; font-weight:bold">
        <span>
            Giải ngân
        </span>
        <i class="la la-angle-double-right" style="font-size: 15px;"></i>
        @if (user.GroupId == LOS.Common.Extensions.EnumGroupUser.StaffHub.GetHashCode() || user.GroupId == LOS.Common.Extensions.EnumGroupUser.ManagerHub.GetHashCode()
      || user.GroupId == LOS.Common.Extensions.EnumGroupUser.ApproveEmp.GetHashCode() || user.GroupId == LOS.Common.Extensions.EnumGroupUser.ApproveLeader.GetHashCode())
        {
            <div style="width: 65%; float: right; text-align: right;">
                <label class="m-checkbox m-checkbox--bold m-checkbox--state-success" style="padding-right:50px;">
                    <input type="radio" @(CheckDisbursementInfomation != null && CheckDisbursementInfomation.ResultCheck == true ? "checked=\"checked\"" : "") attr-doctype="@EnumCheckLoanInformation.CheckDisbursementInfomation.GetHashCode()" attr-description="@Description.GetDescription(EnumCheckLoanInformation.CheckDisbursementInfomation)" name="CheckDisbursementInfomation" value="true">
                    Đúng
                    <span></span>
                </label>
                <label class="m-checkbox m-checkbox--bold m-checkbox--state-brand">
                    <input type="radio" @(CheckDisbursementInfomation != null && CheckDisbursementInfomation.ResultCheck == false ? "checked=\"checked\"" : "") attr-doctype="@EnumCheckLoanInformation.CheckDisbursementInfomation.GetHashCode()" attr-description="@Description.GetDescription(EnumCheckLoanInformation.CheckDisbursementInfomation)" name="CheckDisbursementInfomation" value="false">
                    Sai
                    <span></span>
                </label>
            </div>
        }

    </div>
    <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
        <div class="custom-m-boder-box m-demo__preview">
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Nhận tiền bằng:
                </label>
                <div class="col-4 padding-top">
                    @if (Model.ReceivingMoneyType != null)
                    {
                        <span>@(Model.ReceivingMoneyType != null ? LOS.WebApp.Views.LoanBrief.Detail.Description.GetDescription((LOS.WebApp.Views.LoanBrief.Detail.Description.EnumTypeReceivingMoney)Model.ReceivingMoneyType) : "0")</span>
                    }
                </div>

            </div>
            @if (Model.ReceivingMoneyType == LOS.Common.Extensions.EnumTypeReceivingMoney.NumberAccount.GetHashCode() || Model.ReceivingMoneyType == LOS.Common.Extensions.EnumTypeReceivingMoney.NumberCard.GetHashCode())
            {
                <div class="form-group m-form__group row">
                    <label for="example-email-input" class="col-2 col-form-label">
                        Ngân hàng:
                    </label>
                    <div class="col-4 padding-top">
                        <span>@(!string.IsNullOrEmpty(Model.BankName) ? Model.BankName : "")</span>
                    </div>
                    <label for="example-email-input" class="col-2 col-form-label">
                        Tên chủ thẻ:
                    </label>
                    <div class="col-4 padding-top">
                        <span>@(!string.IsNullOrEmpty(Model.BankAccountName) ? Model.BankAccountName : "")</span>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label for="example-email-input" class="col-2 col-form-label">
                        Số tài khoản:
                    </label>
                    <div class="col-4 padding-top">
                        <span>@(!string.IsNullOrEmpty(Model.BankAccountNumber) ? Model.BankAccountNumber : "")</span>
                    </div>
                    <label for="example-email-input" class="col-2 col-form-label">
                        Số thẻ:
                    </label>
                    <div class="col-4 padding-top">
                        <span>@(!string.IsNullOrEmpty(Model.BankCardNumber) ? Model.BankCardNumber : "")</span>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label for="example-email-input" class="col-2 col-form-label">
                        Chi nhánh:
                    </label>
                    <div class="col-10 padding-top">
                        <span>@(!string.IsNullOrEmpty(Model.BankBranch) ? Model.BankBranch : "")</span>
                    </div>
                </div>
            }


            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Ghi chú
                </label>
                <div class="col-10">
                    <span></span>
                </div>
            </div>
        </div>
    </div>
</div>