﻿@model LOS.DAL.DTOs.LoanBriefForDetail

@{
    Layout = null;
    var fraudCheck = ViewBag.FraudCheck as FraudCheckViewModel;
}

<style>
    .detailLoan {
        border: none !important;
    }
</style>
@if ((fraudCheck != null && !string.IsNullOrEmpty(fraudCheck.Channel))
  || (fraudCheck != null && !string.IsNullOrEmpty(fraudCheck.HvChannel)))
{
    <div class="m-section__content">
        <div style="margin-bottom: 5px; font-weight:bold">
            <span>
                Thông tin Fraud Check
            </span>
            <i class="la la-angle-double-right" style="font-size: 15px;"></i>
        </div>
        @if (fraudCheck != null && !string.IsNullOrEmpty(fraudCheck.Channel))
        {
            <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
                <div class="m-section__content">
                    <span class="m-list-timeline__text">
                        Dữ liệu từ hệ thống Tima:
                        @if (fraudCheck.Channel == "green")
                        {
                            <span class="m-badge m-badge--success m-badge--wide">
                                @fraudCheck.Channel
                            </span>

                        }
                        else if (fraudCheck.Channel == "orange")
                        {
                            <span class="m-badge m-badge--warning m-badge--wide">
                                @fraudCheck.Channel
                            </span>
                            <div>
                                @if (fraudCheck.Message != null && fraudCheck.Message.Count > 0)
                                {
                                    foreach (var item in fraudCheck.Message)
                                    {
                                        <span style="color: #ffb822">@item</span>
                                    }
                                }
                            </div>
                        }
                        else if (fraudCheck.Channel == "red")
                        {
                            <span class="m-badge m-badge--danger m-badge--wide">
                                @fraudCheck.Channel
                            </span>
                            <div>
                                @if (fraudCheck.Message != null && fraudCheck.Message.Count > 0)
                                {
                                    foreach (var item in fraudCheck.Message)
                                    {
                                        <span style="color: #f4516c">@item</span>
                                    }
                                }
                            </div>
                        }
                    </span>
                    <a href="@fraudCheck.DetailUrl" target="_blank">Chi tiết</a>
                </div>
            </div>
        }
        @if (fraudCheck != null && !string.IsNullOrEmpty(fraudCheck.HvChannel))
        {
            <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
                <div class="m-section__content">
                    <span class="m-list-timeline__text">
                        Dữ liệu từ hệ thống đối tác:
                        @if (fraudCheck.HvChannel == "green")
                        {
                            <span class="m-badge m-badge--success m-badge--wide">
                                @fraudCheck.HvChannel
                            </span>

                        }
                        else if (fraudCheck.HvChannel == "orange")
                        {
                            <span class="m-badge m-badge--warning m-badge--wide">
                                @fraudCheck.HvChannel
                            </span>
                            <div>
                                @if (fraudCheck.HvChannel != null && fraudCheck.HvMessage.Count > 0)
                                {
                                    foreach (var item in fraudCheck.HvMessage)
                                    {
                                        <span style="color: #ffb822">@item</span>
                                    }
                                }
                            </div>
                        }
                        else if (fraudCheck.HvChannel == "red")
                        {
                            <span class="m-badge m-badge--danger m-badge--wide">
                                @fraudCheck.HvChannel
                            </span>
                            <div>
                                @if (fraudCheck.HvMessage != null && fraudCheck.HvMessage.Count > 0)
                                {
                                    foreach (var item in fraudCheck.HvMessage)
                                    {
                                        <span style="color: #f4516c">@item</span>
                                    }
                                }
                            </div>
                        }
                    </span>
                    <a href="https://fraud-check.tima-ai.dev/fraud-detail?loan_credit_id=@Model.LoanBriefId" target="_blank">Chi tiết</a>
                </div>
            </div>
        }


    </div>
}
