﻿@model List<LoanInfos>;
@{
    Layout = null;
}
@if (Model != null && Model.Count > 0)
{
    if (Model.Count == 1)
    {
        <label for="example-email-input" class="col-2 col-form-label">
            Số tiền phải thanh toán trong kỳ hiện tại:
        </label>
        <div class="col-4 padding-top">
            <span>@(Model[0].LstPaymentSchedules[0].PayMoney.ToString("###,0")) VNĐ</span>
        </div>
        <label for="example-email-input" class="col-2 col-form-label">
            Số tiền phải tất toán:
        </label>
        <div class="col-4 padding-top">
            <span>@(Model[0].MoneyCloseLoan.ToString("###,0")) VNĐ</span>
        </div>
    }
    else if (Model.Count > 1)
    {
        <div class="col-1"></div>
        <div class="col-9">
            <table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand">
                <thead>
                    <tr style="left: 0px;">
                        <th class="text-center">Mã HĐ</th>
                        <th class="text-center">Ngày phải tất toán</th>
                        <th class="text-right">Số tiền phải thanh toán trong kỳ hiện tại</th>
                        <th class="text-right">Số tiền phải tất toán</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr style="left: 0px;">
                            <td class="text-center">@item.LoanCodeID</td>
                            <td class="text-center">@item.LstPaymentSchedules[0].PayDate.ToString("dd/MM/yyyy")</td>
                            <td class="text-right">@item.LstPaymentSchedules[0].PayMoney.ToString("###,0")</td>
                            <td class="text-right">@item.MoneyCloseLoan.ToString("###,0")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
}

