﻿@using LOS.Common.Models.Request;
@{
    var infoFamilyKalapa = ViewBag.InfoFamilyKalapa as InfomationFamilyKalapa;
}
<div class="m-section__content">
    <div style="margin-bottom: 5px; font-weight:bold">
        <span>
            Hệ thống thu nhập thông tin Hội sở
        </span>
    </div>
    <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
        <div class="custom-m-boder-box m-demo__preview">
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Chủ hộ:
                </label>
                <div class="col-10 padding-top">
                    <span>@(infoFamilyKalapa != null ? infoFamilyKalapa.houseOwner : "")</span>
                </div>
            </div>
            @if (infoFamilyKalapa != null && infoFamilyKalapa.familyMember != null && infoFamilyKalapa.familyMember.Count > 0)
            {
                foreach (var item in infoFamilyKalapa.familyMember)
                {
                    <div class="m-portlet m-portlet--bordered m-portlet--bordered-semi m-portlet--rounded" style="margin-bottom: 0.2rem !important;">
                        <div class="m-portlet__body" style="padding-bottom: 10px !important">
                            <div class="form-group m-form__group row">
                                <label for="example-email-input" class="col-2 col-form-label">
                                    Họ và tên:
                                </label>
                                <div class="col-4 padding-top">
                                    <span>@item.name</span>
                                </div>
                                <label for="example-email-input" class="col-2 col-form-label">
                                    Ngày sinh:
                                </label>
                                <div class="col-4 padding-top">
                                    <span>@item.dateOfBirth</span>
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label for="example-email-input" class="col-2 col-form-label">
                                    Giới tính:
                                </label>
                                <div class="col-4 padding-top">
                                    <span>@item.gender</span>
                                </div>
                                <label for="example-email-input" class="col-2 col-form-label">
                                    Mã bảo hiểm:
                                </label>
                                <div class="col-4 padding-top">
                                    <span>@item.medicalInsurance</span>
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label for="example-email-input" class="col-2 col-form-label">
                                    Địa chỉ:
                                </label>
                                <div class="col-10 padding-top">
                                    <span>@item.address</span>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>