﻿<style>
    #dtLoanNote {
        width: 100%;
        /*margin: 0 5% 0 5%;*/
        font-weight: 400;
        font-style: normal;
        color: #6C7293;
    }

        #dtLoanNote th, td {
            font-size: 13px !important;
        }
    #dtLoanNoteDetail p{
        margin:0;
    }

    .center {
        text-align: center;
    }
</style>
<div class="modal-body">
    <div class="m-portlet__body" style="margin-bottom: 1%;">

        <div class="m-portlet__body" style="margin-bottom: 1%;">

            <table class="m-datatable__table dtform" id="dtLoanNoteDetail" style="display:none;">
            </table>

        </div>

    </div>
</div>
