﻿@model LOS.DAL.DTOs.LoanBriefForDetail
@{
    var CheckLoanCreditInformation = Model.CheckLoanInformation != null ? Model.CheckLoanInformation.Where(x => x.DocumentTypeId == (int)LOS.Common.Extensions.EnumCheckLoanInformation.CheckLoanCreditInformation).FirstOrDefault() : null;
    var user = ViewBag.User as LOS.DAL.DTOs.UserDetail;
}
@using LOS.Common.Extensions;
<div class="m-section__content">
    <div style="margin-bottom: 5px; font-weight:bold">
        <span>
            Khoản vay
        </span>
        <i class="la la-angle-double-right" style="font-size: 15px;"></i>
        @if (user.GroupId == LOS.Common.Extensions.EnumGroupUser.StaffHub.GetHashCode() || user.GroupId == LOS.Common.Extensions.EnumGroupUser.ManagerHub.GetHashCode()
|| user.GroupId == LOS.Common.Extensions.EnumGroupUser.ApproveEmp.GetHashCode() || user.GroupId == LOS.Common.Extensions.EnumGroupUser.ApproveLeader.GetHashCode())
        {
            <div style="width: 65%; float: right; text-align: right;">
                <label class="m-checkbox m-checkbox--bold m-checkbox--state-success" style="padding-right:50px;">
                    <input type="radio" @(CheckLoanCreditInformation != null && CheckLoanCreditInformation.ResultCheck == true ? "checked=\"checked\"" : "") attr-doctype="@EnumCheckLoanInformation.CheckLoanCreditInformation.GetHashCode()" attr-description="@Description.GetDescription(EnumCheckLoanInformation.CheckLoanCreditInformation)" name="CheckLoanCreditInformation" value="true">
                    Đúng
                    <span></span>
                </label>
                <label class="m-checkbox m-checkbox--bold m-checkbox--state-brand">
                    <input type="radio" @(CheckLoanCreditInformation != null && CheckLoanCreditInformation.ResultCheck == false ? "checked=\"checked\"" : "") attr-doctype="@EnumCheckLoanInformation.CheckLoanCreditInformation.GetHashCode()" attr-description="@Description.GetDescription(EnumCheckLoanInformation.CheckLoanCreditInformation)" name="CheckLoanCreditInformation" value="false">
                    Sai
                    <span></span>
                </label>
            </div>
        }

    </div>
    <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
        <div class="custom-m-boder-box m-demo__preview">
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Tiền đại lý cho vay:
                </label>
                <div class="col-4 padding-top">
                    <span class="money-color">@(Model.LoanAmount.HasValue ? Model.LoanAmount.Value.ToString("##,#") : "0") VNĐ</span>
                </div>

                <label for="example-email-input" class="col-2 col-form-label">
                    Thời gian vay:
                </label>
                <div class="col-4 padding-top">
                    <span>@(Model.LoanTime) tháng</span>
                </div>

            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Khách hàng mua bảo hiểm
                </label>
                <div class="col-4 padding-top">
                    @if (Model.BuyInsurenceCustomer == true)
                    {
                        <span>Có mua</span>
                    }
                    else
                    {
                        <span>Không mua</span>
                    }

                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Phí bảo hiểm:
                </label>
                <div class="col-4 padding-top">
                    @if (Model.BuyInsurenceCustomer == true)
                    {
                        if ((Model.Status == LOS.Common.Extensions.EnumLoanStatus.DISBURSED.GetHashCode()
                             || Model.Status == LOS.Common.Extensions.EnumLoanStatus.FINISH.GetHashCode()))
                        {
                            <span>@Model.FeeInsuranceOfCustomer.GetValueOrDefault(0).ToString("#,##") VNĐ</span>
                        }
                        else
                        {
                            <span id="FeeInsurrance"></span>
                        }
                    }
                    else
                    {
                        <span>0</span>
                    }
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Bảo hiểm tài sản:
                </label>
                <div class="col-4 padding-top">
                    @if (Model.LoanBriefProperty != null && Model.LoanBriefProperty.BuyInsuranceProperty == true)
                    {
                        <span>Có mua</span>
                    }
                    else
                    {
                        <span>Không mua</span>
                    }

                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Phí bảo hiểm tài sản:
                </label>
                <div class="col-4 padding-top">
                    @if (Model.LoanBriefProperty != null && Model.LoanBriefProperty.BuyInsuranceProperty == true)
                    {

                        if (Model.Status == LOS.Common.Extensions.EnumLoanStatus.DISBURSED.GetHashCode()
                             || Model.Status == LOS.Common.Extensions.EnumLoanStatus.FINISH.GetHashCode())
                        {
                            <span>@Model.FeeInsuranceOfProperty.GetValueOrDefault(0).ToString("#,##") VNĐ</span>
                        }
                        else
                        {
                            <span id="FeeInsurranceProperty"></span>
                        }
                    }
                    else
                    {
                        <span>0</span>
                    }
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Ngày đăng ký
                </label>
                <div class="col-4 padding-top">
                    <span>@(Model.CreatedTime != null ? Model.CreatedTime.Value.ToString("dd/MM/yyyy") : "")</span>
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Ngày tất toán:
                    <span style="font-size: 10px; color: #ADB0C2;width: 100%; float: left">
                        (Dự kiến)
                    </span>
                </label>
                <div class="col-4 padding-top">
                    <span>@(Model.ToDate != null ? Model.ToDate.Value.ToString("dd/MM/yyyy") : "")</span>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Chu kỳ đóng lãi
                </label>
                <div class="col-4 padding-top">
                    <span>Hàng tháng</span>
                </div>

                <label for="example-email-input" class="col-2 col-form-label">
                    Số kỳ trả:
                </label>
                <div class="col-4 padding-top">
                    <span>@Model.LoanTime</span> kỳ
                </div>
            </div>


            <div class="form-group m-form__group row">

                <label for="example-email-input" class="col-2 col-form-label">
                    Nhà đầu tư:

                </label>
                <div class="col-4 padding-top">
                    <span>@(Model.LenderName != null ? Model.LenderName : "")</span>
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Mã đơn sau GN:
                </label>
                <div class="col-4 padding-top">
                    <span>@(Model.CodeId != null ? "TC-" + Model.CodeId : "")</span>
                </div>
            </div>

            @if ((Model.Status == LOS.Common.Extensions.EnumLoanStatus.DISBURSED.GetHashCode()
           || Model.Status == LOS.Common.Extensions.EnumLoanStatus.FINISH.GetHashCode()) && Model.LoanbriefLender != null)
            {
                <div class="form-group m-form__group row">

                    <label for="example-email-input" class="col-2 col-form-label">
                        Họ tên Nhà đầu tư:

                    </label>
                    <div class="col-4 padding-top">
                        <span>@(Model.LoanbriefLender.FullName != null ? Model.LoanbriefLender.FullName : "")</span>
                    </div>
                    <label for="example-email-input" class="col-2 col-form-label">
                        CMT nhà đầu tư:
                    </label>
                    <div class="col-4 padding-top">
                        <span>@(Model.LoanbriefLender.NationalCard != null ? Model.LoanbriefLender.NationalCard : "")</span>
                    </div>
                </div>

                <div class="form-group m-form__group row">

                    <label for="example-email-input" class="col-2 col-form-label">
                        Tiền khách hàng nhận:

                    </label>
                    <div class="col-4 padding-top">
                        <span>@(Model.FeeInsuranceOfCustomer != null ? Convert.ToInt64(Model.LoanAmount - Model.FeeInsuranceOfCustomer - Model.FeeInsuranceOfProperty.GetValueOrDefault(0)).ToString("#,##") : "0") VNĐ</span>
                    </div>
                    <label for="example-email-input" class="col-2 col-form-label">
                        Phí bảo hiểm:
                    </label>
                    <div class="col-4 padding-top">
                        <span>@(Model.FeeInsuranceOfCustomer != null ? Convert.ToInt64(Model.FeeInsuranceOfCustomer + Model.FeeInsuranceOfProperty.GetValueOrDefault(0)).ToString("#,##") : "0") VNĐ</span>
                    </div>
                </div>
            }

            <div class="form-group m-form__group row">

                <label for="example-email-input" class="col-2 col-form-label">
                    Lãi & phí trả hàng tháng(K/Tr/Ngày):

                </label>
                <div class="col-4 padding-top">
                    <span>@(Model.RateMoney.HasValue ? Model.RateMoney.Value.ToString("##,#") : "0") VNĐ</span>
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Lãi & Phí trả hàng kỳ:
                </label>
                <div class="col-4 padding-top">
                    <span id="_totalMoneyNeedPayment"></span>
                </div>
            </div>
            <div class="form-group m-form__group row" id="div-infomation-payment">
            </div>

        </div>
    </div>
</div>