﻿@model LOS.DAL.DTOs.LoanBriefForDetail
@{
    var CheckMotobikeInformation = Model.CheckLoanInformation != null ? Model.CheckLoanInformation.Where(x => x.DocumentTypeId == (int)LOS.Common.Extensions.EnumCheckLoanInformation.CheckMotobikeInformation).FirstOrDefault() : null;
    var user = ViewBag.User as LOS.DAL.DTOs.UserDetail;
}
@using LOS.Common.Extensions;
<div class="m-section__content">
    <div style="margin-bottom: 5px; font-weight:bold">
        <span>
            Tài sản
        </span>
        <i class="la la-angle-double-right" style="font-size: 15px;"></i>
        @if (user.GroupId == LOS.Common.Extensions.EnumGroupUser.StaffHub.GetHashCode() || user.GroupId == LOS.Common.Extensions.EnumGroupUser.ManagerHub.GetHashCode()
  || user.GroupId == LOS.Common.Extensions.EnumGroupUser.ApproveEmp.GetHashCode() || user.GroupId == LOS.Common.Extensions.EnumGroupUser.ApproveLeader.GetHashCode())
        {
            <div style="width: 65%; float: right; text-align: right;">
                <label class="m-checkbox m-checkbox--bold m-checkbox--state-success" style="padding-right:50px;">
                    <input type="radio" @(CheckMotobikeInformation != null && CheckMotobikeInformation.ResultCheck == true ? "checked=\"checked\"" : "") attr-doctype="@EnumCheckLoanInformation.CheckMotobikeInformation.GetHashCode()" attr-description="@Description.GetDescription(EnumCheckLoanInformation.CheckMotobikeInformation)" name="CheckMotobikeInformation" value="true">
                    Đúng
                    <span></span>
                </label>
                <label class="m-checkbox m-checkbox--bold m-checkbox--state-brand">
                    <input type="radio" @(CheckMotobikeInformation != null && CheckMotobikeInformation.ResultCheck == false ? "checked=\"checked\"" : "") attr-doctype="@EnumCheckLoanInformation.CheckMotobikeInformation.GetHashCode()" attr-description="@Description.GetDescription(EnumCheckLoanInformation.CheckMotobikeInformation)"  name="CheckMotobikeInformation" value="false">
                    Sai
                    <span></span>
                </label>
            </div>
        }

    </div>
    <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
        <div class="custom-m-boder-box m-demo__preview">
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Hãng xe:
                </label>
                <div class="col-4 padding-top">
                    @if (Model.ProductId == (int)LOS.Common.Extensions.EnumProductCredit.OtoCreditType_CC
                       || Model.ProductId == (int)LOS.Common.Extensions.EnumProductCredit.CamotoCreditType
              || Model.ProductId == (int)LOS.Common.Extensions.EnumProductCredit.OtoCreditType_KCC)
                    {
                        if (Model.LoanBriefProperty != null && !string.IsNullOrEmpty(Model.LoanBriefProperty.CarManufacturer))
                        {
                            <span>@Model.LoanBriefProperty.CarManufacturer</span>
                        }
                    }
                    else
                    {
                        if (Model.LoanBriefProperty != null)
                        {
                            <span>@Model.LoanBriefProperty.BrandName</span>
                        }
                    }
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Giá trước thẩm định:
                </label>
                <div class="col-4 padding-top">
                    @if (Model.LoanAmountExpertiseAi > 0)
                    {
                        <span>@Model.LoanAmountExpertiseAi.Value.ToString("##,#") VNĐ</span>
                    }
                    else if (Model.LoanAmountExpertise > 0)
                    {
                        <span>@Model.LoanAmountExpertise.Value.ToString("##,#") VNĐ</span>
                    }
                    else
                    {
                        <span>0 VNĐ</span>
                    }

                </div>
            </div>

            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Tên xe:
                </label>
                <div class="col-4 padding-top">
                    @if (Model.ProductId == (int)LOS.Common.Extensions.EnumProductCredit.OtoCreditType_CC || Model.ProductId == (int)LOS.Common.Extensions.EnumProductCredit.CamotoCreditType
                         || Model.ProductId == (int)LOS.Common.Extensions.EnumProductCredit.OtoCreditType_KCC)
                    {
                        if (Model.LoanBriefProperty != null && !string.IsNullOrEmpty(Model.LoanBriefProperty.CarName))
                        {
                            <span>@Model.LoanBriefProperty.CarName</span>
                        }
                    }
                    else
                    {
                        if (Model.LoanBriefProperty != null && !string.IsNullOrEmpty(Model.LoanBriefProperty.ProductFullName))
                        {
                            <span>@Model.LoanBriefProperty.ProductFullName</span>
                        }
                    }
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Giá sau thẩm định:
                </label>
                <div class="col-4 padding-top">
                    @if (Model.LoanAmountExpertiseLast > 0)
                    {
                        <span>@Model.LoanAmountExpertiseLast.Value.ToString("##,#") VNĐ</span>
                    }
                    else
                    {
                        <span>0 VNĐ</span>
                    }
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Biển số xe:
                </label>
                <div class="col-4 padding-top">
                    @if (Model.ProductId == (int)LOS.Common.Extensions.EnumProductCredit.OtoCreditType_CC || Model.ProductId == (int)LOS.Common.Extensions.EnumProductCredit.CamotoCreditType
                     || Model.ProductId == (int)LOS.Common.Extensions.EnumProductCredit.OtoCreditType_KCC)
                    {
                        if (Model.LoanBriefProperty != null && !string.IsNullOrEmpty(Model.LoanBriefProperty.PlateNumberCar))
                        {
                            <span>@Model.LoanBriefProperty.PlateNumberCar</span>
                        }
                    }
                    else
                    {
                        if (Model.LoanBriefProperty != null && Model.LoanBriefProperty.PlateNumber != null)
                        {
                            <span>@Model.LoanBriefProperty.PlateNumber</span>
                        }
                    }
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Xe gắn định vị:
                </label>
                <div class="col-4 padding-top">
                    @if (Model.IsLocate == true)
                    {
                        <span>Có gắn</span>
                    }
                    else
                    {
                        <span>Không gắn</span>
                    }
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Số khung:
                </label>
                <div class="col-4 padding-top">
                    @if (Model.ProductId == (int)LOS.Common.Extensions.EnumProductCredit.OtoCreditType_CC || Model.ProductId == (int)LOS.Common.Extensions.EnumProductCredit.CamotoCreditType
                    || Model.ProductId == (int)LOS.Common.Extensions.EnumProductCredit.OtoCreditType_KCC)
                    {
                        if (Model.LoanBriefProperty != null && !string.IsNullOrEmpty(Model.LoanBriefProperty.Chassis))
                        {
                            <span>@Model.LoanBriefProperty.Chassis</span>
                        }
                    }
                    else
                    {
                        if (Model.LoanBriefProperty != null && Model.LoanBriefProperty.Chassis != null)
                        {
                            <span>@Model.LoanBriefProperty.Chassis</span>
                        }
                    }
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Số máy:
                </label>
                <div class="col-4 padding-top">
                    @if (Model.ProductId == (int)LOS.Common.Extensions.EnumProductCredit.OtoCreditType_CC || Model.ProductId == (int)LOS.Common.Extensions.EnumProductCredit.CamotoCreditType
                    || Model.ProductId == (int)LOS.Common.Extensions.EnumProductCredit.OtoCreditType_KCC)
                    {
                        if (Model.LoanBriefProperty != null && !string.IsNullOrEmpty(Model.LoanBriefProperty.Engine))
                        {
                            <span>@Model.LoanBriefProperty.Engine</span>
                        }
                    }
                    else
                    {
                        if (Model.LoanBriefProperty != null && Model.LoanBriefProperty.Engine != null)
                        {
                            <span>@Model.LoanBriefProperty.Engine</span>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>