﻿@model LOS.DAL.DTOs.LoanBriefForDetail
@{
    var CheckPersonInfo = Model.CheckLoanInformation != null ? Model.CheckLoanInformation.Where(x => x.DocumentTypeId == (int)LOS.Common.Extensions.EnumCheckLoanInformation.CheckPersonInfo).FirstOrDefault() : null;
    var user = ViewBag.User as LOS.DAL.DTOs.UserDetail;
}
@using LOS.Common.Extensions;
<style>
    .detailLoan {
        border: none !important;
    }
</style>
<div class="m-section__content">
    <div style="margin-bottom: 5px; font-weight:bold">
        <span>
            Thông tin cá nhân
        </span>
        <i class="la la-angle-double-right" style="font-size: 15px;"></i>
        @if (user.GroupId == LOS.Common.Extensions.EnumGroupUser.StaffHub.GetHashCode() || user.GroupId == LOS.Common.Extensions.EnumGroupUser.ManagerHub.GetHashCode()
|| user.GroupId == LOS.Common.Extensions.EnumGroupUser.ApproveEmp.GetHashCode() || user.GroupId == LOS.Common.Extensions.EnumGroupUser.ApproveLeader.GetHashCode())
        {
            <div style="width: 65%; float: right; text-align: right;">
                <label class="m-checkbox m-checkbox--bold m-checkbox--state-success" style="padding-right:50px;">
                    <input type="radio" @(CheckPersonInfo != null && CheckPersonInfo.ResultCheck == true ? "checked=\"checked\"" : "") attr-doctype="@EnumCheckLoanInformation.CheckPersonInfo.GetHashCode()" attr-description="@Description.GetDescription(EnumCheckLoanInformation.CheckPersonInfo)" name="CheckPersonInfo" value="true">
                    Đúng
                    <span></span>
                </label>
                <label class="m-checkbox m-checkbox--bold m-checkbox--state-brand">
                    <input type="radio" @(CheckPersonInfo != null && CheckPersonInfo.ResultCheck == false ? "checked=\"checked\"" : "") attr-doctype="@EnumCheckLoanInformation.CheckPersonInfo.GetHashCode()" attr-description="@Description.GetDescription(EnumCheckLoanInformation.CheckPersonInfo)" name="CheckPersonInfo" value="false">
                    Sai
                    <span></span>
                </label>
            </div>
        }

    </div>
    <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
        <div class="custom-m-boder-box m-demo__preview">
            <input type="hidden" name="CustomerId" value="@Model.CustomerId" />
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Nguồn đơn:
                </label>
                <div class="col-4 padding-top">
                    <span>@Html.Raw(Model.ListPlatformType.Where(x => x.Id == Model.PlatformType).FirstOrDefault() != null ? Model.ListPlatformType.Where(x => x.Id == Model.PlatformType).FirstOrDefault().Name : "")</span>
                </div>

                <label for="example-email-input" class="col-2 col-form-label">
                    Loại đơn:
                </label>
                <div class="col-4 padding-top">
                    <span>@LOS.WebApp.Views.LoanBrief.Detail.Description.GetDescription((LOS.WebApp.Views.LoanBrief.Detail.Description.TypeLoanBrief)Model.TypeLoanBrief)</span>
                </div>
            </div>
            @if (Model.TypeRemarketing == (int)LOS.Common.Extensions.EnumTypeRemarketing.IsRemarketing && Model.ReMarketingLoanBriefId > 0)
            {
                <div class="form-group m-form__group row">
                    <label for="example-email-input" class="col-2 col-form-label">
                        ReMarketing:
                    </label>
                    <div class="col-4 padding-top">
                        <span>@(string.Format("HĐ-{0}", Model.ReMarketingLoanBriefId))</span>
                    </div>
                </div>
            }
            else if (Model.TypeRemarketing == (int)LOS.Common.Extensions.EnumTypeRemarketing.IsTopUp && Model.ReMarketingLoanBriefId > 0)
            {
                <div class="form-group m-form__group row">
                    <label for="example-email-input" class="col-2 col-form-label">
                        Topup:
                    </label>
                    <div class="col-4 padding-top">
                        <span>@(string.Format("HĐ-{0}", Model.ReMarketingLoanBriefId))</span>
                    </div>
                </div>
            }
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Họ tên:
                </label>
                <div class="col-4 padding-top">
                    <span>@Model.FullName</span>
                    <br /><p style="color: red;font-style: italic;font-size: 12px;" id="_result_ekyc_fullname"></p>
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Số điện thoại:
                </label>
                <div class="col-2 padding-top">
                    @if (ViewBag.GroupId == LOS.Common.Extensions.EnumGroupUser.ManagerTelesales.GetHashCode()
                    || ViewBag.GroupId == LOS.Common.Extensions.EnumGroupUser.ManagerHub.GetHashCode()
                    || ViewBag.GroupId == LOS.Common.Extensions.EnumGroupUser.BOD.GetHashCode())
                    {
                        <span>@Model.Phone</span>
                    }
                    else
                    {
                        <span>@LOS.WebApp.Helpers.Ultility.HidePhone(Model.Phone)</span>
                    }

                </div>
                <div class="col-2 padding-top">
                    @if (Model.TypeServiceCall == 1)
                    {
                        <a href="javascript:;" onclick="CareSoftModule.CallCareSoft(@Model.LoanBriefId)">
                            <img style="margin-top: -7%;" src="~/img/red_phone.png" width="35" height="35" title="Gọi ngay" />
                        </a>
                    }
                    else if (Model.TypeServiceCall == 2)
                    {
                        <a href="javascript:;" onclick="finesseC2CModule.ClickToCall('@Model.Phone',@Model.LoanBriefId)">
                            <img style="margin-top: -7%;" src="~/img/red_phone.png" width="35" height="35" title="Gọi ngay" />
                        </a>
                    }

                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Số CMND 1:
                </label>
                <div class="col-4 padding-top">
                    <span>@(Model.NationalCard != null ? Model.NationalCard : "")</span>
                    <br /><p style="color: red;font-style: italic;font-size: 12px;" id="_result_ekyc_nationalcard"></p>
                </div>
                <label for="example-email-input " class="col-2 col-form-label">
                    Số lần gọi:
                </label>
                <div class="col-4 padding-top">
                    <span>@(Model.CountCall != null ? Model.CountCall.ToString() : "0")</span>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Số CMND 2:
                </label>
                <div class="col-4 padding-top">
                    <span>@(Model.NationCardPlace != null ? Model.NationCardPlace.ToString() : "")</span>
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Ngày sinh:
                </label>
                <div class="col-4 padding-top">
                    <span>@(Model.Dob != null ? Model.Dob.Value.ToString("dd/MM/yyyy") : "")</span>
                    <br /><p style="color: red;font-style: italic;font-size: 12px;" id="_result_ekyc_birday"></p>
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Passport:
                </label>
                <div class="col-4 padding-top">
                    <span>@(Model.Customer.Passport != null ? Model.Customer.Passport : "")</span>
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Số điện thoại khác:
                </label>
                <div class="col-2 padding-top">
                    <span>@(Model.PhoneOther != null ? Model.PhoneOther : "")</span>
                </div>

                <div class="col-2 padding-top">
                    @if (!string.IsNullOrEmpty(Model.PhoneOther))
                    {
                        @if (Model.TypeServiceCall == 1)
                        {
                            <a href="javascript:;" onclick="CareSoftModule.CallCareSoft(@Model.LoanBriefId)">
                                <img style="margin-top: -7%;" src="~/img/red_phone.png" width="35" height="35" title="Gọi ngay" />
                            </a>
                        }
                        else if (Model.TypeServiceCall == 2)
                        {
                            <a href="javascript:;" onclick="finesseC2CModule.ClickToCall('@Model.PhoneOther',@Model.LoanBriefId)">
                                <img style="margin-top: -7%;" src="~/img/red_phone.png" width="35" height="35" title="Gọi ngay" />
                            </a>
                        }
                    }
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Giới tính:
                </label>
                <div class="col-4 padding-top">
                    <span>@(Model.Gender != null ? LOS.WebApp.Views.LoanBrief.Detail.Description.GetDescription((LOS.WebApp.Views.LoanBrief.Detail.Description.Gender)Model.Gender) : "")</span>
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Facebook:
                </label>
                <div class="col-4 padding-top">
                    <span>@Model.Customer.FacebookAddress</span>
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Số bảo hiểm:
                </label>
                <div class="col-4 padding-top">
                    <span>@Model.Customer.InsurenceNumber</span>
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Ghi chú bảo hiểm:
                </label>
                <div class="col-4 padding-top">
                    <span>@Model.Customer.InsurenceNote</span>
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Hôn nhân:
                </label>
                <div class="col-4 padding-top">
                    @if (Model.Customer.IsMerried != null)
                    {
                        <span>@LOS.WebApp.Views.LoanBrief.Detail.Description.GetDescription((LOS.WebApp.Views.LoanBrief.Detail.Description.Merried)Model.Customer.IsMerried)</span>
                    }

                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Con cái:
                </label>
                <div class="col-4 padding-top">
                    @if (Model.Customer.NumberBaby != null)
                    {
                        <span>@LOS.WebApp.Views.LoanBrief.Detail.Description.GetDescription((LOS.WebApp.Views.LoanBrief.Detail.Description.NumberBaby)Model.Customer.NumberBaby)</span>
                    }
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Người thân sống cùng:
                </label>
                <div class="col-4 padding-top">
                    @if (Model.LoanBriefResident != null && Model.LoanBriefResident.LivingWith != null)
                    {
                        <span>@LOS.WebApp.Views.LoanBrief.Detail.Description.GetDescription((LOS.WebApp.Views.LoanBrief.Detail.Description.LivingWith)Model.LoanBriefResident.LivingWith)</span>
                    }

                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Sim có chính chủ:
                </label>
                <div class="col-4 padding-top">
                    <span>@(Model.IsSim != null && Model.IsSim == true ? "Chính chủ" : "Không chính chủ")</span>
                </div>
            </div>
           
        </div>
    </div>
</div>