﻿@model LOS.DAL.DTOs.LoanBriefForDetail
@using LOS.WebApp.Services;
@inject INetworkService _networkService;
@{
    var CheckRelativesAndColleagues = Model.CheckLoanInformation != null ? Model.CheckLoanInformation.Where(x => x.DocumentTypeId == (int)LOS.Common.Extensions.EnumCheckLoanInformation.CheckRelativesAndColleagues).FirstOrDefault() : null;
    var user = ViewBag.User as LOS.DAL.DTOs.UserDetail;
}
@using LOS.Common.Extensions;
<div class="m-section__content">
    <div style="margin-bottom: 5px; font-weight:bold">
        <span>
            Người thân - Đồng nghiệp
        </span>
        <i class="la la-angle-double-right" style="font-size: 15px;"></i>
        @if (user.GroupId == LOS.Common.Extensions.EnumGroupUser.StaffHub.GetHashCode() || user.GroupId == LOS.Common.Extensions.EnumGroupUser.ManagerHub.GetHashCode()
|| user.GroupId == LOS.Common.Extensions.EnumGroupUser.ApproveEmp.GetHashCode() || user.GroupId == LOS.Common.Extensions.EnumGroupUser.ApproveLeader.GetHashCode())
        {
            <div style="width: 65%; float: right; text-align: right;">
                <label class="m-checkbox m-checkbox--bold m-checkbox--state-success" style="padding-right:50px;">
                    <input type="radio" @(CheckRelativesAndColleagues != null && CheckRelativesAndColleagues.ResultCheck == true ? "checked=\"checked\"" : "") attr-doctype="@EnumCheckLoanInformation.CheckRelativesAndColleagues.GetHashCode()" attr-description="@Description.GetDescription(EnumCheckLoanInformation.CheckRelativesAndColleagues)" name="CheckRelativesAndColleagues" value="true">
                    Đúng
                    <span></span>
                </label>
                <label class="m-checkbox m-checkbox--bold m-checkbox--state-brand">
                    <input type="radio" @(CheckRelativesAndColleagues != null && CheckRelativesAndColleagues.ResultCheck == false ? "checked=\"checked\"" : "") attr-doctype="@EnumCheckLoanInformation.CheckRelativesAndColleagues.GetHashCode()" attr-description="@Description.GetDescription(EnumCheckLoanInformation.CheckRelativesAndColleagues)" name="CheckRelativesAndColleagues" value="false">
                    Sai
                    <span></span>
                </label>
            </div>
        }
    </div>
    <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
        <div class="custom-m-boder-box m-demo__preview">

            @if (Model.LoanBriefQuestionScript != null && Model.LoanBriefQuestionScript.QuestionHouseOwner != null)
            {
                if (Model.LoanBriefQuestionScript.QuestionHouseOwner == true)
                {
                    <div class="form-group m-form__group row">
                        <label for="example-email-input" class="col-2 col-form-label">
                            <b>Chủ hộ:</b>
                        </label>
                        <div class="col-10 padding-top">
                            <span>Khách hàng là chủ hộ</span>
                        </div>
                    </div>
                }
                else
                {

                    <div class="form-group m-form__group row">
                        <label for="example-email-input" class="col-2 col-form-label">
                            Chủ hộ:
                        </label>
                        <div class="col-10 padding-top">
                            <span>@(Model.LoanBriefHousehold != null ? Model.LoanBriefHousehold.FullNameHouseOwner : "")</span>
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <label for="example-email-input" class="col-2 col-form-label">
                            Mối quan hệ:
                        </label>
                        <div class="col-4 padding-top">
                            @if (Model != null && Model.ListRelativeFamilys != null && Model.LoanBriefHousehold != null)
                            {
                                var RelationType = (Model.ListRelativeFamilys.Where(x => x.Id == Model.LoanBriefHousehold.RelationshipHouseOwner).FirstOrDefault());
                                if (RelationType != null)
                                {
                                    <span>@RelationType.Name</span>
                                }

                            }
                        </div>
                        <label for="example-email-input" class="col-2 col-form-label">
                            Năm sinh:
                        </label>
                        <div class="col-4 padding-top">
                            <span>@(Model.LoanBriefHousehold != null ? Model.LoanBriefHousehold.BirdayHouseOwner : "")</span>
                        </div>
                    </div>
                }
            }

            <div class="row">
                <label for="example-email-input" class="col-2 col-form-label" style="font-weight: bold; float: left;text-align:left;">
                    Người thân thứ nhất
                </label>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Mối quan hệ:
                </label>
                <div class="col-4 padding-top">
                    @if (Model != null && Model.ListRelativeFamilys != null && Model.ListRelativeFamilys.Count > 0 && Model.LoanBriefRelationship.Count > 0)
                    {
                        var RelationType = (Model.ListRelativeFamilys.Where(x => x.Id == Model.LoanBriefRelationship[0].RelationshipType).FirstOrDefault());
                        if (RelationType != null)
                        {
                            <span>@RelationType.Name</span>
                        }

                    }
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Số ĐT người thân:
                </label>
                @if (Model.LoanBriefRelationship != null && Model.LoanBriefRelationship.Count > 0 && Model.LoanBriefRelationship[0].RelationshipType != 12)
                {
                    <div class="col-2 padding-top">
                        <span>@(Model.LoanBriefRelationship != null && Model.LoanBriefRelationship.Count > 0 ? Model.LoanBriefRelationship[0].Phone : "")</span><br />
                        @if (Model.LoanBriefRelationship != null && Model.LoanBriefRelationship.Count > 0 && Model.LoanBriefRelationship[0].RefPhoneCallRate != null)
                        {
                            if (_networkService.CheckHomeNetwok(Model.LoanBriefRelationship[0].Phone) == (int)LOS.Common.Extensions.HomeNetWorkMobile.Viettel)
                            {
                                <span style="font-size: 12px; color: red;">@LOS.Common.Helpers.ExtentionHelper.GetDescription((LOS.Common.Extensions.EnumCallRate)Model.LoanBriefRelationship[0].RefPhoneCallRate)</span>
                            }
                            if (_networkService.CheckHomeNetwok(Model.LoanBriefRelationship[0].Phone) == (int)LOS.Common.Extensions.HomeNetWorkMobile.Mobi)
                            {
                                <span style="font-size: 10px; color: red;">@LOS.Common.Helpers.ExtentionHelper.GetDescription((LOS.Common.Extensions.EnumCallRateMobifone)Model.LoanBriefRelationship[0].RefPhoneCallRate)</span>
                            }
                        }
                    </div>
                    @if (Model.LoanBriefRelationship != null && Model.LoanBriefRelationship.Count > 0 && !string.IsNullOrEmpty(Model.LoanBriefRelationship[0].Phone))
                    {
                        <div class="col-2 padding-top">
                            <a href="javascript:;" onclick="CareSoftModule.CallCareSoft(@Model.LoanBriefId, @Model.LoanBriefRelationship[0].Id)">
                                <img src="~/img/red_phone.png" width="35" height="35" title="Gọi ngay" />
                            </a>
                        </div>
                    }
                }
                else
                {
                    <div class="col-2 padding-top">
                        <span>@(Model.LoanBriefRelationship != null && Model.LoanBriefRelationship.Count > 0 ? Model.LoanBriefRelationship[0].Phone : "")</span><br />
                        @if (Model.LoanBriefRelationship != null && Model.LoanBriefRelationship.Count > 0 && Model.LoanBriefRelationship[0].RefPhoneCallRate != null)
                        {
                            if (_networkService.CheckHomeNetwok(Model.LoanBriefRelationship[0].Phone) == (int)LOS.Common.Extensions.HomeNetWorkMobile.Viettel)
                            {
                                <span style="font-size: 12px; color: red;">@LOS.Common.Helpers.ExtentionHelper.GetDescription((LOS.Common.Extensions.EnumCallRate)Model.LoanBriefRelationship[0].RefPhoneCallRate)</span>
                            }
                            if (_networkService.CheckHomeNetwok(Model.LoanBriefRelationship[0].Phone) == (int)LOS.Common.Extensions.HomeNetWorkMobile.Mobi)
                            {
                                <span style="font-size: 10px; color: red;">@LOS.Common.Helpers.ExtentionHelper.GetDescription((LOS.Common.Extensions.EnumCallRateMobifone)Model.LoanBriefRelationship[0].RefPhoneCallRate)</span>
                            }
                        }
                    </div>
                }
            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Họ tên:
                </label>
                <div class="col-4 padding-top">
                    <span>@(Model.LoanBriefRelationship != null && Model.LoanBriefRelationship.Count > 0 ? Model.LoanBriefRelationship[0].FullName : "")</span>
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Địa chỉ cư chú người thân:
                </label>
                <div class="col-4 padding-top">
                    <span>@(Model.LoanBriefRelationship != null && Model.LoanBriefRelationship.Count > 0 ? Model.LoanBriefRelationship[0].Address : "")</span>
                </div>
            </div>

            <div class="row" style="margin-top: -15px;">
                <label for="example-email-input" class="col-2 col-form-label" style="font-weight: bold; float: left;text-align:left;">
                    Người thân thứ hai
                </label>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Mối quan hệ:
                </label>
                <div class="col-4 padding-top">
                    @if (Model != null && Model.ListRelativeFamilys != null && Model.ListRelativeFamilys.Count > 1 && Model.LoanBriefRelationship.Count > 1)
                    {
                        var RelationType = Model.ListRelativeFamilys.Where(x => x.Id == Model.LoanBriefRelationship[1].RelationshipType).FirstOrDefault();
                        if (RelationType != null)
                        {
                            <span>@RelationType.Name</span>
                        }

                    }

                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Số ĐT người thân:
                </label>
                @if (Model.LoanBriefRelationship != null && Model.LoanBriefRelationship.Count > 1 && Model.LoanBriefRelationship[1].RelationshipType != 12)
                {
                    <div class="col-2 padding-top">
                        <span>@(Model.LoanBriefRelationship != null && Model.LoanBriefRelationship.Count > 1 ? Model.LoanBriefRelationship[1].Phone : "")</span><br />
                        @if (Model.LoanBriefRelationship != null && Model.LoanBriefRelationship.Count > 1 && Model.LoanBriefRelationship[1].RefPhoneCallRate != null)
                        {
                            if (_networkService.CheckHomeNetwok(Model.LoanBriefRelationship[1].Phone) == (int)LOS.Common.Extensions.HomeNetWorkMobile.Viettel)
                            {
                                <span style="font-size: 12px; color: red;">@LOS.Common.Helpers.ExtentionHelper.GetDescription((LOS.Common.Extensions.EnumCallRate)Model.LoanBriefRelationship[1].RefPhoneCallRate)</span>
                            }
                            if (_networkService.CheckHomeNetwok(Model.LoanBriefRelationship[1].Phone) == (int)LOS.Common.Extensions.HomeNetWorkMobile.Mobi)
                            {
                                <span style="font-size: 10px; color: red;">@LOS.Common.Helpers.ExtentionHelper.GetDescription((LOS.Common.Extensions.EnumCallRateMobifone)Model.LoanBriefRelationship[1].RefPhoneCallRate)</span>
                            }
                        }
                    </div>
                    @if (Model.LoanBriefRelationship != null && Model.LoanBriefRelationship.Count > 1 && !string.IsNullOrEmpty(Model.LoanBriefRelationship[1].Phone))
                    {
                        <div class="col-2 padding-top">
                            <a href="javascript:;" onclick="CareSoftModule.CallCareSoft(@Model.LoanBriefId, @Model.LoanBriefRelationship[1].Id)">
                                <img src="~/img/red_phone.png" width="35" height="35" title="Gọi ngay" />
                            </a>
                        </div>
                    }
                }
                else
                {
                    <div class="col-2 padding-top">
                        <span>@(Model.LoanBriefRelationship != null && Model.LoanBriefRelationship.Count > 1 ? Model.LoanBriefRelationship[1].Phone : "")</span><br />
                        @if (Model.LoanBriefRelationship != null && Model.LoanBriefRelationship.Count > 1 && Model.LoanBriefRelationship[1].RefPhoneCallRate != null)
                        {
                            if (_networkService.CheckHomeNetwok(Model.LoanBriefRelationship[1].Phone) == (int)LOS.Common.Extensions.HomeNetWorkMobile.Viettel)
                            {
                                <span style="font-size: 12px; color: red;">@LOS.Common.Helpers.ExtentionHelper.GetDescription((LOS.Common.Extensions.EnumCallRate)Model.LoanBriefRelationship[1].RefPhoneCallRate)</span>
                            }
                            if (_networkService.CheckHomeNetwok(Model.LoanBriefRelationship[1].Phone) == (int)LOS.Common.Extensions.HomeNetWorkMobile.Mobi)
                            {
                                <span style="font-size: 10px; color: red;">@LOS.Common.Helpers.ExtentionHelper.GetDescription((LOS.Common.Extensions.EnumCallRateMobifone)Model.LoanBriefRelationship[1].RefPhoneCallRate)</span>
                            }
                        }
                    </div>
                }

            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Họ tên:
                </label>
                <div class="col-4 padding-top">
                    <span>@(Model.LoanBriefRelationship != null && Model.LoanBriefRelationship.Count > 1 ? Model.LoanBriefRelationship[1].FullName : "")</span>
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Địa chỉ cư chú người thân:
                </label>
                <div class="col-4 padding-top">
                    <span>@(Model.LoanBriefRelationship != null && Model.LoanBriefRelationship.Count > 1 ? Model.LoanBriefRelationship[1].Address : "")</span>
                </div>
            </div>


            <div class="row" style="margin-top: -15px;">
                <label for="example-email-input" class="col-2 col-form-label" style="font-weight: bold; float: left;text-align:left;">
                    Người thân thứ ba
                </label>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Mối quan hệ:
                </label>
                <div class="col-4 padding-top">
                    @if (Model != null && Model.ListRelativeFamilys != null && Model.ListRelativeFamilys.Count > 2 && Model.LoanBriefRelationship.Count > 2)
                    {
                        var RelationType = Model.ListRelativeFamilys.Where(x => x.Id == Model.LoanBriefRelationship[2].RelationshipType).FirstOrDefault();
                        if (RelationType != null)
                        {
                            <span>@RelationType.Name</span>
                        }

                    }

                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Số ĐT người thân:
                </label>
                @if (Model.LoanBriefRelationship != null && Model.LoanBriefRelationship.Count > 2 && Model.LoanBriefRelationship[2].RelationshipType != 12)
                {
                    <div class="col-2 padding-top">
                        <span>@(Model.LoanBriefRelationship != null && Model.LoanBriefRelationship.Count > 2 ? Model.LoanBriefRelationship[2].Phone : "")</span><br />
                        @if (Model.LoanBriefRelationship != null && Model.LoanBriefRelationship.Count > 2 && Model.LoanBriefRelationship[2].RefPhoneCallRate != null)
                        {
                            if (_networkService.CheckHomeNetwok(Model.LoanBriefRelationship[2].Phone) == (int)LOS.Common.Extensions.HomeNetWorkMobile.Viettel)
                            {
                                <span style="font-size: 12px; color: red;">@LOS.Common.Helpers.ExtentionHelper.GetDescription((LOS.Common.Extensions.EnumCallRate)Model.LoanBriefRelationship[2].RefPhoneCallRate)</span>
                            }
                            if (_networkService.CheckHomeNetwok(Model.LoanBriefRelationship[2].Phone) == (int)LOS.Common.Extensions.HomeNetWorkMobile.Mobi)
                            {
                                <span style="font-size: 10px; color: red;">@LOS.Common.Helpers.ExtentionHelper.GetDescription((LOS.Common.Extensions.EnumCallRateMobifone)Model.LoanBriefRelationship[2].RefPhoneCallRate)</span>
                            }
                        }
                    </div>
                    @if (Model.LoanBriefRelationship != null && Model.LoanBriefRelationship.Count > 2 && !string.IsNullOrEmpty(Model.LoanBriefRelationship[2].Phone))
                    {
                        <div class="col-2 padding-top">
                            <a href="javascript:;" onclick="CareSoftModule.CallCareSoft(@Model.LoanBriefId, @Model.LoanBriefRelationship[2].Id)">
                                <img src="~/img/red_phone.png" width="35" height="35" title="Gọi ngay" />
                            </a>
                        </div>
                    }
                }
                else
                {
                    <div class="col-2 padding-top">
                        <span>@(Model.LoanBriefRelationship != null && Model.LoanBriefRelationship.Count > 2 ? Model.LoanBriefRelationship[2].Phone : "")</span><br />
                        @if (Model.LoanBriefRelationship != null && Model.LoanBriefRelationship.Count > 2 && Model.LoanBriefRelationship[2].RefPhoneCallRate != null)
                        {
                            if (_networkService.CheckHomeNetwok(Model.LoanBriefRelationship[2].Phone) == (int)LOS.Common.Extensions.HomeNetWorkMobile.Viettel)
                            {
                                <span style="font-size: 12px; color: red;">@LOS.Common.Helpers.ExtentionHelper.GetDescription((LOS.Common.Extensions.EnumCallRate)Model.LoanBriefRelationship[2].RefPhoneCallRate)</span>
                            }
                            if (_networkService.CheckHomeNetwok(Model.LoanBriefRelationship[2].Phone) == (int)LOS.Common.Extensions.HomeNetWorkMobile.Mobi)
                            {
                                <span style="font-size: 10px; color: red;">@LOS.Common.Helpers.ExtentionHelper.GetDescription((LOS.Common.Extensions.EnumCallRateMobifone)Model.LoanBriefRelationship[2].RefPhoneCallRate)</span>
                            }
                        }
                    </div>
                }

            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Họ tên:
                </label>
                <div class="col-4 padding-top">
                    <span>@(Model.LoanBriefRelationship != null && Model.LoanBriefRelationship.Count > 2 ? Model.LoanBriefRelationship[2].FullName : "")</span>
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Địa chỉ cư chú người thân:
                </label>
                <div class="col-4 padding-top">
                    <span>@(Model.LoanBriefRelationship != null && Model.LoanBriefRelationship.Count > 2 ? Model.LoanBriefRelationship[2].Address : "")</span>
                </div>
            </div>
        </div>
    </div>
</div>