﻿@model LOS.DAL.DTOs.LoanBriefForDetail
@using LOS.Common.Extensions;
<div class="m-section__content">
    <div style="margin-bottom: 5px; font-weight:bold">
        <span>
            Thông tin tài khoản VA - GPay
        </span>
        <i class="la la-angle-double-right" style="font-size: 15px;"></i>
    </div>
    <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
        <div class="custom-m-boder-box m-demo__preview">
            <div class="row">
                <div class="col-6">
                    <label class="col-12" style="text-align: center;">VA</label>
                    <div class="form-group m-form__group row">
                        <label for="example-email-input" class="col-4 col-form-label">
                            Chủ tài khoản:
                        </label>
                        <div class="col-8 padding-top">
                            <span>@(Model.Customer != null && !string.IsNullOrEmpty(Model.Customer.VaAccountName) ? Model.Customer.VaAccountName : "")</span>
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <label for="example-email-input" class="col-4 col-form-label">
                            Số tài khoản:
                        </label>
                        <div class="col-8 padding-top">
                            <span>@(Model.Customer != null && !string.IsNullOrEmpty(Model.Customer.VaAccountNumber) ? Model.Customer.VaAccountNumber : "")</span>
                        </div>

                    </div>
                    <div class="form-group m-form__group row">
                        <label for="example-email-input" class="col-4 col-form-label">
                            Tên ngân hàng:
                        </label>
                        <div class="col-8 padding-top">
                            <span>@(Model.Customer != null && !string.IsNullOrEmpty(Model.Customer.VaBankName) ? Model.Customer.VaBankName : "")</span>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <label class="col-12" style="text-align: center;">GPay</label>
                    <div class="form-group m-form__group row">
                        <label for="example-email-input" class="col-4 col-form-label">
                            Chủ tài khoản:
                        </label>
                        <div class="col-8 padding-top">
                            <span>@(Model.Customer != null && !string.IsNullOrEmpty(Model.Customer.GpayAccountName) ? Model.Customer.GpayAccountName : "")</span>
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <label for="example-email-input" class="col-4 col-form-label">
                            Số tài khoản:
                        </label>
                        <div class="col-8 padding-top">
                            <span>@(Model.Customer != null && !string.IsNullOrEmpty(Model.Customer.GpayAccountNumber) ? Model.Customer.GpayAccountNumber : "")</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
