﻿@model LOS.DAL.DTOs.LoanBriefForDetail
@{
    var CheckWork = Model.CheckLoanInformation != null ? Model.CheckLoanInformation.Where(x => x.DocumentTypeId == (int)LOS.Common.Extensions.EnumCheckLoanInformation.CheckWork).FirstOrDefault() : null;
    var user = ViewBag.User as LOS.DAL.DTOs.UserDetail;
}
@using LOS.Common.Extensions;
<div class="m-section__content">
    <div style="margin-bottom: 5px; font-weight:bold">
        <span>
            Việc làm
        </span>
        <i class="la la-angle-double-right" style="font-size: 15px;"></i>
        @if (user.GroupId == LOS.Common.Extensions.EnumGroupUser.StaffHub.GetHashCode() || user.GroupId == LOS.Common.Extensions.EnumGroupUser.ManagerHub.GetHashCode()
|| user.GroupId == LOS.Common.Extensions.EnumGroupUser.ApproveEmp.GetHashCode() || user.GroupId == LOS.Common.Extensions.EnumGroupUser.ApproveLeader.GetHashCode())
        {
            <div style="width: 65%; float: right; text-align: right;">
                <label class="m-checkbox m-checkbox--bold m-checkbox--state-success" style="padding-right:50px;">
                    <input type="radio" @(CheckWork != null && CheckWork.ResultCheck == true ? "checked=\"checked\"" : "") attr-doctype="@EnumCheckLoanInformation.CheckWork.GetHashCode()" attr-description="@Description.GetDescription(EnumCheckLoanInformation.CheckWork)" name="CheckWork" value="true">
                    Đúng
                    <span></span>
                </label>
                <label class="m-checkbox m-checkbox--bold m-checkbox--state-brand">
                    <input type="radio" @(CheckWork != null && CheckWork.ResultCheck == false ? "checked=\"checked\"" : "") attr-doctype="@EnumCheckLoanInformation.CheckWork.GetHashCode()" attr-description="@Description.GetDescription(EnumCheckLoanInformation.CheckWork)" name="CheckWork" value="false">
                    Sai
                    <span></span>
                </label>
            </div>
        }
    </div>
    <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
        <div class="custom-m-boder-box m-demo__preview">

            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Nghề nghiệp:
                </label>
                <div class="col-4 padding-top">
                    <span>@(Model.LoanBriefJob != null ? Model.LoanBriefJob.JobName : "")</span>
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Tên công ty:
                </label>
                <div class="col-4 padding-top">
                    <span>@(Model.LoanBriefJob != null ? Model.LoanBriefJob.CompanyName : "")</span>
                </div>
            </div>

            <div class="form-group m-form__group row div_description_name" style="display: none;">
                <label for="example-email-input" class="col-2 col-form-label">
                    Ngành nghề:
                </label>
                <div class="col-4 padding-top">
                    <span>@(!string.IsNullOrEmpty(Model.JobDesctionName) ? Model.JobDesctionName : "")</span>
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Vị trí:
                </label>
                <div class="col-10 padding-top">
                    <span>@(Model.LoanBriefJob != null ? Model.LoanBriefJob.Description : "")</span>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Số ĐT công ty:
                </label>
                <div class="col-4 padding-top">
                    <span>@(Model.LoanBriefJob != null ? Model.LoanBriefJob.CompanyPhone : "")</span>
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Mã số thuế Công ty:
                </label>
                <div class="col-4 padding-top">
                    <span>@(Model.LoanBriefJob != null ? Model.LoanBriefJob.CompanyTaxCode : "")</span>
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Địa chỉ công ty:
                </label>
                <div class="col-4 padding-top">
                    <span>@(Model.LoanBriefJob != null ? Model.LoanBriefJob.CompanyProvinceName : "")</span>
                </div>

                <label for="example-email-input" class="col-2 col-form-label">
                    Quận/ Huyện:
                </label>
                <div class="col-4 padding-top">
                    <span>@(Model.LoanBriefJob != null ? Model.LoanBriefJob.CompanyDistrictName : "")</span>
                </div>
            </div>

            @if (Model.LoanBriefQuestionScript != null && (Model.LoanBriefQuestionScript.DocumentSalaryBankTransfer != null || Model.LoanBriefQuestionScript.DocumetSalaryCash != null))
            {
                <div class="form-group m-form__group row">
                    <label for="example-email-input" class="col-2 col-form-label">
                        Giấy tờ KH cung cấp (Tls tick):
                    </label>
                    <div class="col-4 padding-top">
                        @if (Model.LoanBriefQuestionScript.DocumentSalaryBankTransfer != null)
                        {
                            <span>@LOS.Common.Helpers.ExtentionHelper.GetDescription((LOS.Common.Extensions.EnumDocumentSalaryBankTransfer)Model.LoanBriefQuestionScript.DocumentSalaryBankTransfer)</span>
                        }
                        @if (Model.LoanBriefQuestionScript.DocumetSalaryCash != null)
                        {
                            <span>@LOS.Common.Helpers.ExtentionHelper.GetDescription((LOS.Common.Extensions.EnumDocumentSalaryBankTransfer)Model.LoanBriefQuestionScript.DocumetSalaryCash)</span>
                        }
                    </div>
                </div>
            }

            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Địa chỉ chính xác:
                </label>
                <div class="col-10 padding-top">
                    <span>@(Model.LoanBriefJob != null ? Model.LoanBriefJob.CompanyAddress : "")</span>
                </div>
            </div>

            @*<div class="form-group m-form__group row">
                    <label for="example-email-input" class="col-2 col-form-label">
                        Địa chỉ google map:
                    </label>
                    <div class="col-10 padding-top">
                        <span>@(Model.LoanBriefJob != null ? Model.LoanBriefJob.CompanyAddressGoogleMap : "")</span>
                    </div>
                </div>

                <div class="form-group m-form__group row">
                    <label for="example-email-input" class="col-2 col-form-label">
                        Tọa độ google map:
                    </label>
                    <div class="col-10 padding-top">
                        <span>@(Model.LoanBriefJob != null ? Model.LoanBriefJob.CompanyAddressLatLng : "")</span>
                    </div>
                </div>*@

            <div class="form-group m-form__group row" style="@((Model.LoanBriefJob != null && Model.LoanBriefJob.JobId != 123) ? "display: none;" : "")">
                <label for="example-email-input" class="col-2 col-form-label">
                    BHXH/BHYT cho nhân viên:
                </label>
                <div class="col-10 padding-top">
                    @if (Model.LoanBriefJob != null && Model.LoanBriefJob.CompanyInsurance == true)
                    {
                        <span>Có mua</span>
                    }
                    else if (Model.LoanBriefJob != null && Model.LoanBriefJob.CompanyInsurance == false)
                    {
                        <span>Không mua</span>
                    }
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Thu nhập:
                </label>
                <div class="col-4 padding-top">
                    <span class="money-color">@(Model.LoanBriefJob != null && Model.LoanBriefJob.TotalIncome.HasValue ? Model.LoanBriefJob.TotalIncome.Value.ToString("##,#") : "0")</span>
                </div>

                <label for="example-email-input" class="col-2 col-form-label" style="@((Model.LoanBriefJob != null && Model.LoanBriefJob.JobId != 123) ? "display: none;" : "")">
                    Hình thức nhận lương:
                </label>
                <div class="col-4 padding-top" style="@((Model.LoanBriefJob != null && Model.LoanBriefJob.JobId != 123) ? "display: none;" : "")">
                    @if (Model.LoanBriefJob != null && Model.LoanBriefJob.ImcomeType != null)
                    {
                        <span>@LOS.WebApp.Views.LoanBrief.Detail.Description.GetDescription((LOS.Common.Extensions.EnumImcomeType)Model.LoanBriefJob.ImcomeType)</span>
                    }

                </div>

                <label for="example-email-input" class="col-2 col-form-label" style="@((Model.LoanBriefJob != null && Model.LoanBriefJob.JobId != 126) ? "display: none;" : "")">
                    Địa điểm làm việc:
                </label>
                <div class="col-4 padding-top" style="@((Model.LoanBriefJob != null && Model.LoanBriefJob.JobId != 126) ? "display: none;" : "")">
                    @if (Model.LoanBriefJob != null && Model.LoanBriefJob.WorkLocation == true)
                    {
                        <span>Cố định</span>
                    }
                    else if (Model.LoanBriefJob != null && Model.LoanBriefJob.WorkLocation == false)
                    {
                        <span>Không cố định</span>
                    }

                </div>

                <label for="example-email-input" class="col-2 col-form-label" style="@((Model.LoanBriefJob != null && Model.LoanBriefJob.JobId != 124) ? "display: none;" : "")">
                    Giấy tờ kinh doanh:
                </label>
                <div class="col-4 padding-top" style="@((Model.LoanBriefJob != null && Model.LoanBriefJob.JobId != 124) ? "display: none;" : "")">
                    @if (Model.LoanBriefJob != null && Model.LoanBriefJob.BusinessPapers == true)
                    {
                        <span>Có</span>
                    }
                    else if (Model.LoanBriefJob != null && Model.LoanBriefJob.BusinessPapers == false)
                    {
                        <span>Không</span>
                    }
                </div>

            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Comment:
                </label>
                <div class="col-10 padding-top">
                    <span>@((Model.LoanBriefQuestionScript != null && Model.LoanBriefQuestionScript.CommentJob != null) ? Model.LoanBriefQuestionScript.CommentJob : "")</span>
                </div>
            </div>
        </div>
    </div>
</div>