﻿@using LOS.WebApp.Models;
@model InterestParam.Output;
@{
    Layout = null;
    var rateType = ViewBag.RateType;
    var total = Model.Data.FeeInsurrance + Model.Data.FeeInsuranceMaterialCovered;
}
<style>
    .moneyColor span {
        color: #FA5858 !important;
        text-align: right;
    }

    .colorMoney {
        color: red;
    }

    .tb-footer {
        background: #eeeea5;
    }
</style>
@if (Model != null && Model.Data != null && Model.Data.LstPaymentSchedule != null && Model.Data.LstPaymentSchedule != null && Model.Data.LstPaymentSchedule.Count > 0)
{
    var sumTotalInterest = Model.Data.LstPaymentSchedule.Sum(x => x.TotalMoneyNeedPayment) - Model.Data.LstPaymentSchedule.Sum(x => x.MoneyOriginal);
    <div style="padding-bottom: 20px;">
        <span class="moneyColor">Phí bảo hiểm khách hàng chịu: <span style="color: red;">@Model.Data.FeeInsurrance.ToString("###,0")</span> VNĐ</span>
    </div>
    <div style="padding-bottom: 20px;">
        <span class="moneyColor">Phí bảo hiểm tài sản: <span style="color: red;">@Model.Data.FeeInsuranceMaterialCovered.ToString("###,0")</span> VNĐ</span>
    </div>
    <div style="padding-bottom: 20px;">
        <span class="moneyColor">Tổng: <span style="color: red;">@((Model.Data.FeeInsuranceMaterialCovered + Model.Data.FeeInsurrance).ToString("###,0"))</span> VNĐ</span>
    </div>
    @*Dư nợ giảm dần*@
    @if (rateType == LOS.Common.Extensions.EnumRateType.DuNoGiamDan.GetHashCode() || rateType == LOS.Common.Extensions.EnumRateType.RateAmortization30Days.GetHashCode())
    {
        <div class="m-section__content table-responsive">
            <table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand" style="overflow-x:auto;">
                <thead>
                    <tr style="left: 0px;">
                        <th>Ngày bắt đầu</th>
                        <th>Ngày đóng lãi</th>
                        <th class="text-center">Số ngày tính lãi</th>
                        <th class="text-center">Kỳ trả</th>
                        <th class="text-right">Trả kỳ</th>
                        <th class="text-right">Gốc</th>
                        <th class="text-right">Tổng lãi phí</th>
                        <th class="text-right">Phí tư vấn</th>
                        <th class="text-right">Phí dịch vụ</th>
                        <th class="text-right">Lãi</th>
                        <th class="text-right">Gốc còn lại</th>
                        <th class="text-right">Phạt tất toán sớm</th>
                        <th class="text-right">Tiền tất toán</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Data.LstPaymentSchedule)
                    {
                        var i = 0;
                        var totalInterest = item.TotalMoneyNeedPayment - item.MoneyOriginal;
                        int totalDay = (item.PayDate - item.FromDate).Days;
                        <tr>
                            <td>@item.FromDate.ToString("dd/MM/yyyy")</td>
                            <td>@item.PayDate.ToString("dd/MM/yyyy")</td>
                            <td class="text-center">
                                @(totalDay + 1)
                            </td>
                            <td class="text-center">@(i + 1)</td>
                            <td class="text-right colorMoney">@item.TotalMoneyNeedPayment.ToString("###,0")</td>
                            <td class="text-right colorMoney">@item.MoneyOriginal.ToString("###,0")</td>
                            <td class="text-right colorMoney">@totalInterest.ToString("###,0")</td>
                            <td class="text-right colorMoney">@item.MoneyConsultant.ToString("###,0")</td>
                            <td class="text-right colorMoney">@item.MoneyService.ToString("###,0")</td>
                            <td class="text-right colorMoney">@item.MoneyInterest.ToString("###,0")</td>
                            <td class="text-right colorMoney">@item.OutStandingBalance.ToString("###,0")</td>
                            <td class="text-right colorMoney">@item.MoneyFinePayEarly.ToString("###,0")</td>
                            <td class="text-right colorMoney">@item.TotalMoneyNeedClosePayment.ToString("###,0")</td>
                        </tr>
                        i++;
                    }

                    <tr class="tb-footer">
                        <td colspan="4" class="text-right colorMoney">Tổng</td>
                        <td class="text-right colorMoney">@Model.Data.LstPaymentSchedule.Sum(x => x.TotalMoneyNeedPayment).ToString("###,0")</td>
                        <td class="text-right colorMoney">@Model.Data.LstPaymentSchedule.Sum(x => x.MoneyOriginal).ToString("###,0")</td>
                        <td class="text-right colorMoney">@sumTotalInterest.ToString("###,0")</td>
                        <td class="text-right colorMoney">@Model.Data.LstPaymentSchedule.Sum(x => x.MoneyConsultant).ToString("###,0")</td>
                        <td class="text-right colorMoney">@Model.Data.LstPaymentSchedule.Sum(x => x.MoneyService).ToString("###,0")</td>
                        <td class="text-right colorMoney">@Model.Data.LstPaymentSchedule.Sum(x => x.MoneyInterest).ToString("###,0")</td>
                        <td class="text-right colorMoney">@Model.Data.LstPaymentSchedule.Sum(x => x.OutStandingBalance).ToString("###,0")</td>
                        <td class="text-right colorMoney">@Model.Data.LstPaymentSchedule.Sum(x => x.MoneyFinePayEarly).ToString("###,0")</td>
                        <td class="text-right colorMoney">@Model.Data.LstPaymentSchedule.Sum(x => x.TotalMoneyNeedClosePayment).ToString("###,0")</td>
                    </tr>
                </tbody>
            </table>
        </div>
    }
    @*Tất toán cuối kỳ*@
    else if (rateType == LOS.Common.Extensions.EnumRateType.TatToanCuoiKy.GetHashCode() || rateType == LOS.Common.Extensions.EnumRateType.RateMonthADay.GetHashCode())
    {
        <div class="m-section__content">
            <table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand">
                <thead>
                    <tr style="left: 0px;">
                        <th>Ngày bắt đầu</th>
                        <th>Ngày đóng lãi</th>
                        <th class="text-center">Số ngày tính lãi</th>
                        <th class="text-center">Kỳ trả</th>
                        <th class="text-right">Trả kỳ</th>
                        <th class="text-right">Phí tư vấn</th>
                        <th class="text-right">Phí dịch vụ</th>
                        <th class="text-right">Lãi</th>
                        <th class="text-right">Phạt tất toán sớm</th>
                        <th class="text-right">Tiền tất toán</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Data.LstPaymentSchedule)
                    {
                        var i = 0;
                        int totalDay = (item.PayDate - item.FromDate).Days;
                        <tr>
                            <td>@item.FromDate.ToString("dd/MM/yyyy")</td>
                            <td>@item.PayDate.ToString("dd/MM/yyyy")</td>
                            <td class="text-center">
                                @(totalDay + 1)
                            </td>
                            <td class="text-center">@(i + 1)</td>
                            <td class="text-right colorMoney">@item.TotalMoneyNeedPayment.ToString("###,0")</td>
                            <td class="text-right colorMoney">@item.MoneyConsultant.ToString("###,0")</td>
                            <td class="text-right colorMoney">@item.MoneyService.ToString("###,0")</td>
                            <td class="text-right colorMoney">@item.MoneyInterest.ToString("###,0")</td>
                            <td class="text-right colorMoney">@item.MoneyFinePayEarly.ToString("###,0")</td>
                            <td class="text-right colorMoney">@item.TotalMoneyNeedClosePayment.ToString("###,0")</td>
                        </tr>
                        i++;
                    }
                    <tr class="tb-footer">
                        <td colspan="4" class="text-right colorMoney">Tổng</td>
                        <td class="text-right colorMoney">@Model.Data.LstPaymentSchedule.Sum(x => x.TotalMoneyNeedPayment).ToString("###,0")</td>
                        <td class="text-right colorMoney">@Model.Data.LstPaymentSchedule.Sum(x => x.MoneyOriginal).ToString("###,0")</td>
                        <td class="text-right colorMoney">@Model.Data.LstPaymentSchedule.Sum(x => x.MoneyService).ToString("###,0")</td>
                        <td class="text-right colorMoney">@Model.Data.LstPaymentSchedule.Sum(x => x.MoneyInterest).ToString("###,0")</td>
                        <td class="text-right colorMoney">@Model.Data.LstPaymentSchedule.Sum(x => x.MoneyFinePayEarly).ToString("###,0")</td>
                        <td class="text-right colorMoney">@Model.Data.LstPaymentSchedule.Sum(x => x.TotalMoneyNeedClosePayment).ToString("###,0")</td>
                    </tr>
                </tbody>
            </table>
        </div>
    }

}


