﻿@using LOS.WebApp.Models;
@model InterestParam.ViewDataTopUp;
@{
    Layout = null;
}
<style>
    .moneyColor span {
        color: #FA5858 !important;
        text-align: right;
    }

    .colorMoney {
        color: red;
    }

    .hiddenRow {
        padding: 0 !important;
    }
</style>

@if (Model != null)
{
    <div style="padding-bottom: 20px;">
        <span class="moneyColor">Phí bảo hiểm khách hàng chịu: <span style="color: red;">@Model.MoneyFeeInsuranceOfCustomer.ToString("###,0")</span> VNĐ</span>
    </div>
    <div style="padding-bottom: 20px;">
        <span class="moneyColor">Phí bảo hiểm tài sản: <span style="color: red;">@Model.MoneyInsuranceOfMaterialCovered.ToString("###,0")</span> VNĐ</span>
    </div>
    <div style="padding-bottom: 20px;">
        <span class="moneyColor">Tổng: <span style="color: red;">@((Model.MoneyFeeInsuranceOfCustomer + Model.MoneyInsuranceOfMaterialCovered).ToString("###,0"))</span> VNĐ</span>
    </div>

    <div class="m-section__content table-responsive">
        <table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand">
            <thead>
                <tr style="left: 0px;">
                    <th>Ngày bắt đầu</th>
                    <th>Ngày kết thúc</th>
                    <th>Ngày phải thanh toán</th>
                    <th>Ngày thanh toán</th>
                    <th class="text-center">Trạng thái</th>
                    <th class="text-right">Tiền gốc</th>
                    <th class="text-right">Tiền lãi</th>
                    <th class="text-right">Tiền phí dịch vụ</th>
                    <th class="text-right">Tiền phí tư vấn</th>
                    <th class="text-right">Tiền phí phạt trả muộn</th>
                    <th class="text-right">Tổng tiền thanh toán</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.DataTopUp.Keys.Count > 0)
                {
                    foreach (var itemKey in Model.DataTopUp.Keys)
                    {
                        var data = Model.DataTopUp[itemKey];
                        @if (data.Count > 1)
                        {
                            <tr data-toggle="collapse" data-target="#@itemKey" class="accordion-toggle">
                                <td class="text-center" style="width: 120px;"><span class="fa fa-eye"></span></td>
                                <td style="width: 120px;"></td>
                                <td style="width: 120px;">@(data.First().DaysPayable != DateTime.MinValue ? data.First().DaysPayable.ToString("dd/MM/yyyy") : "")</td>
                                <td style="width: 120px;"></td>
                                <td style="width: 120px;"></td>
                                <td style="width: 120px;" class="text-right colorMoney">@data.Where(x=>x.Done == false).Sum(x => x.MoneyOriginal).ToString("###,0")</td>
                                <td style="width: 120px;" class="text-right colorMoney">@data.Where(x=>x.Done == false).Sum(x => x.MoneyInterest).ToString("###,0")</td>
                                <td style="width: 120px;" class="text-right colorMoney">@data.Where(x=>x.Done == false).Sum(x => x.MoneyService).ToString("###,0")</td>
                                <td style="width: 120px;" class="text-right colorMoney">@data.Where(x=>x.Done == false).Sum(x => x.MoneyConsultant).ToString("###,0")</td>
                                <td style="width: 120px;" class="text-right colorMoney">@data.Where(x=>x.Done == false).Sum(x => x.OtherMoney).ToString("###,0")</td>
                                <td style="width: 120px;" class="text-right colorMoney">@((data.Where(x=>x.Done == false).Sum(x => x.MoneyOriginal) + data.Where(x=>x.Done == false).Sum(x => x.MoneyInterest) + data.Where(x=>x.Done == false).Sum(x => x.MoneyService) + data.Where(x=>x.Done == false).Sum(x => x.MoneyConsultant) + data.Where(x=>x.Done == false).Sum(x => x.OtherMoney)).ToString("###,0"))</td>
                            </tr>
                            <tr>
                                <td colspan="12" class="hiddenRow">
                                    <div class="accordian-body collapse" id="@(itemKey)">
                                        <table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand" style="margin-bottom: 0rem !important;">
                                            <tbody>
                                                @foreach (var item in data)
                                                {
                                                <tr>
                                                    <td style="width: 120px;">@(item.FromDate != DateTime.MinValue ? item.FromDate.ToString("dd/MM/yyyy") : "")</td>
                                                    <td style="width: 120px;">@(item.ToDate != DateTime.MinValue ? item.ToDate.ToString("dd/MM/yyyy") : "")</td>
                                                    <td style="width: 120px;">@(item.DaysPayable != DateTime.MinValue ? item.DaysPayable.ToString("dd/MM/yyyy") : "")</td>
                                                    <td style="width: 120px;">@(item.PayDate != DateTime.MinValue ? item.PayDate.ToString("dd/MM/yyyy") : "")</td>
                                                    <td class="text-center" style="width: 120px;">
                                                        @if (item.Done == true)
                                                        {
                                                            <span class="m-badge m-badge--success m-badge--wide">Đã đóng</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="m-badge m-badge--danger m-badge--wide">Chưa đóng</span>

                                                        }
                                                    </td>
                                                    <td style="width: 120px;" class="text-right colorMoney">@item.MoneyOriginal.ToString("###,0")</td>
                                                    <td style="width: 120px;" class="text-right colorMoney">@item.MoneyInterest.ToString("###,0")</td>
                                                    <td style="width: 120px;" class="text-right colorMoney">@item.MoneyService.ToString("###,0")</td>
                                                    <td style="width: 120px;" class="text-right colorMoney">@item.MoneyConsultant.ToString("###,0")</td>
                                                    <td style="width: 120px;" class="text-right colorMoney">@item.OtherMoney.ToString("###,0")</td>
                                                    <td style="width: 120px;" class="text-right colorMoney">@((item.MoneyOriginal + item.MoneyInterest + item.MoneyService + item.MoneyConsultant + item.OtherMoney).ToString("###,0"))</td>
                                                </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td style="width: 120px;">@(data.First().FromDate != DateTime.MinValue ? data.First().FromDate.ToString("dd/MM/yyyy") : "")</td>
                                <td style="width: 120px;">@(data.First().ToDate != DateTime.MinValue ? data.First().ToDate.ToString("dd/MM/yyyy") : "")</td>
                                <td style="width: 120px;">@(data.First().DaysPayable != DateTime.MinValue ? data.First().DaysPayable.ToString("dd/MM/yyyy") : "")</td>
                                <td style="width: 120px;">@(data.First().PayDate != DateTime.MinValue ? data.First().PayDate.ToString("dd/MM/yyyy") : "")</td>
                                <td class="text-center" style="width: 120px;">
                                    @if (data.First().Done == true)
                                    {
                                        <span class="m-badge m-badge--success m-badge--wide">Đã đóng</span>
                                    }
                                    else
                                    {
                                        <span class="m-badge m-badge--danger m-badge--wide">Chưa đóng</span>

                                    }
                                </td>
                                <td style="width: 120px;" class="text-right colorMoney">@data.Sum(x => x.MoneyOriginal).ToString("###,0")</td>
                                <td style="width: 120px;" class="text-right colorMoney">@data.Sum(x => x.MoneyInterest).ToString("###,0")</td>
                                <td style="width: 120px;" class="text-right colorMoney">@data.Sum(x => x.MoneyService).ToString("###,0")</td>
                                <td style="width: 120px;" class="text-right colorMoney">@data.Sum(x => x.MoneyConsultant).ToString("###,0")</td>
                                <td style="width: 120px;" class="text-right colorMoney">@data.Sum(x => x.OtherMoney).ToString("###,0")</td>
                                <td style="width: 120px;" class="text-right colorMoney">@((data.Sum(x => x.MoneyOriginal) + data.Sum(x => x.MoneyInterest) + data.Sum(x => x.MoneyService) + data.Sum(x => x.MoneyConsultant) + data.Sum(x => x.OtherMoney)).ToString("###,0"))</td>
                            </tr>
                        }
                    }
                }

                @*@foreach (var item in Model.DataTopUp)
                    {
                        <tr>
                            <td>@(item.FromDate != DateTime.MinValue ? item.FromDate.ToString("dd/MM/yyyy") : "")</td>
                            <td>@(item.ToDate != DateTime.MinValue ? item.ToDate.ToString("dd/MM/yyyy") : "")</td>
                            <td>@(item.DaysPayable != DateTime.MinValue ? item.DaysPayable.ToString("dd/MM/yyyy") : "")</td>
                            <td>@(item.PayDate != DateTime.MinValue ? item.PayDate.ToString("dd/MM/yyyy") : "")</td>
                            <td class="text-center">
                                @if (item.Done == true)
                                {
                                    <span class="m-badge m-badge--success m-badge--wide">Đã đóng</span>
                                }
                                else
                                {
                                    <span class="m-badge m-badge--danger m-badge--wide">Chưa đóng</span>

                                }
                            </td>
                            <td class="text-right colorMoney">@item.MoneyOriginal.ToString("###,0")</td>
                            <td class="text-right colorMoney">@item.MoneyInterest.ToString("###,0")</td>
                            <td class="text-right colorMoney">@item.MoneyService.ToString("###,0")</td>
                            <td class="text-right colorMoney">@item.MoneyConsultant.ToString("###,0")</td>
                            <td class="text-right colorMoney">@item.OtherMoney.ToString("###,0")</td>
                            <td class="text-right colorMoney">@((item.MoneyOriginal + item.MoneyInterest + item.MoneyService + item.MoneyConsultant + item.OtherMoney).ToString("###,0"))</td>
                        </tr>
                    }*@

            </tbody>
        </table>
    </div>

}
