﻿@model List<LOS.DAL.DTOs.RelativeFamilyDetail>
@{
    Layout = null;
    ViewData["Title"] = "Check CIC";
}
<style>
    .col-form-label {
        font-size: 14px !important;
        font-family: Arial !important;
        color: #6C7293;
    }
    #divResult{
        width:600px !important;
    }
    span{
        font-size: 14px !important;
    }
</style>
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="color:#6C7293;">
            Tra cứu CIC người thân của @ViewBag.FullName
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
                ×
            </span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group m-form__group row">
                <label for="example-text-input" class="col-4 col-form-label">
                    Quan hệ với khách hàng:
                </label>
                <div class="col-8">
                    <select class="form-control m-bootstrap-select m_selectpicker" title="Chọn mối quan hệ" id="sl_relative_family">
                        @if (Model != null && Model.Count > 0)
                        {
                            foreach (var item in Model)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        }
                    </select>
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label for="example-text-input" class="col-4 col-form-label">
                    Tên người thân:
                </label>
                <div class="col-8">
                    <input class="form-control m-input" type="text" id="fullName">
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-text-input" class="col-4 col-form-label">
                    Số chứng minh thư:
                </label>
                <div class="col-8">
                    <input class="form-control m-input" type="text" id="numberCard">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer" style="margin-top:-4%;border-top:none;">
        <button type="button" onclick="CheckCIC();" class="btn btn-primary" style="background: rgba(108, 114, 147, 1);border-color: rgba(108, 114, 147, 1);width: 110px;height: 40px;">
            Tra cứu
        </button>
    </div>
</div>
<input type="hidden" value="@ViewBag.LoanID" id="LoanBriefId" />
<script src="~/assets/demo/default/custom/components/forms/widgets/bootstrap-select.js"></script>
<script>

    function CheckCIC() {
        var loanbriefId = $("#LoanBriefId").val();
        var type = $( "#sl_relative_family option:selected" ).text();
        var name = $("#fullName").val();
        var cmt = $("#numberCard").val();

        if (type == "Chọn mối quan hệ" || name == "" || cmt == "") {
            App.ShowErrorNotLoad('Bạn phải nhập đầy đủ thông tin');
            return;
        }
        CICModule.CICCardNumberPost(loanbriefId, type, name, cmt);
        
    }

</script>