﻿@using LOS.Common.Extensions;
@model LOS.DAL.DTOs.LoanInfoCompare
@{
    ViewData["Title"] = "Detail";
    Layout = null;
    var stepDefault = 1;
}
<style>

    .custom-m-boder-box {
        border-top: 1px solid rgba(108, 114, 147, 1);
        padding-top: 10px;
    }

    .cus-info-header {
        border-bottom: 1px solid #e9ecef;
        padding: 10px;
    }

    #formDetailLoanBrief .select2-container--default .select2-selection--single .select2-selection__rendered {
        padding: 0.52rem 1rem;
        border: 1px solid rgba(108, 114, 147, 1) !important;
    }

    #formDetailLoanBrief .select2-container--default .select2-selection--single {
        border-bottom: none !important;
    }

    select.form-control:not([size]):not([multiple]) {
        height: unset;
    }

    .m-form.m-form--group-seperator-dashed .m-form__group {
        border-bottom: none;
    }

    .m-form.m-form--group-seperator-dashed .m-form__group {
        padding-bottom: 10px;
        padding-top: 5px;
    }

    .modal-open .select2-dropdown {
        z-index: 10060;
    }

    .btn-tima {
        background-color: rgba(108, 114, 147, 1);
        border-color: rgba(108, 114, 147, 1);
        color: #fff;
    }

    .error-notify {
        margin-top: 0px !important;
    }

    .cus-form-control {
        padding: 0.45rem 1rem;
        border: 1px solid rgba(108, 114, 147, 1) !important;
        font-family: none;
        border-radius: 0px;
    }

    #list-tab li {
        width: 100%;
    }

    #formDetailLoanBrief input {
        border: none !important;
    }

    .money-color {
        color: #FA5858 !important;
    }

    .title-uppercase {
        text-transform: uppercase;
    }

    .nav.nav-pills .nav-link.active {
        background: #f7f7fa;
        color: black;
        font-weight: bold;
        border-bottom: 2px solid #ed522e;
        border-radius: 0;
        border-top: 0px;
    }

    .nav.nav-pills, .nav.nav-tabs {
        background: none;
        text-transform: uppercase;
        border-bottom: 1px solid #ccc;
    }

    .nav-link {
        padding: 10px 20px;
    }

    .nav.nav-pills .nav-item, .nav.nav-tabs .nav-item {
        margin-left: 0px;
    }

    .nav.nav-pills .nav-link.active i {
        color: black;
    }

    .col-form-label {
        font-size: 16px;
        line-height: 1;
    }

    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background: #f2f2f2;
    }

    ::-webkit-scrollbar-thumb {
        background: #888;
    }

        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }

    .title-model {
        font-weight: bold;
        font-size: 18px;
        text-align: center;
    }

    .custom-index {
        z-index: 1;
    }

    .nav-link:hover {
        border-radius: unset !important;
        border-top: none;
        border-bottom: none;
    }

    .m-section__content {
        padding-top: 15px;
    }

    .m-form__heading {
        font-size: 14px !important;
    }

    .m-portlet__head {
        height: 3.1rem !important;
    }
</style>

<div class="modal-content">
    <div class="m-portlet">
        <div class="modal-header" style="padding: 15px;">
            <div class="m-demo-icon__class title-uppercase col-lg-12 title-model">
                So sánh thông tin - Chứng từ HĐ-@Model.LoanBriefId @Model.FullName
            </div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-left: -25px">
                <span aria-hidden="true">
                    ×
                </span>
            </button>
        </div>

        <ul class="nav nav-tabs nav-pills" role="tablist">
            <li class="nav-item">
                <a id="tab1" class="nav-link active" data-toggle="tab" href="#m_tabs_cmnd" onclick="CompareModule.LoadDataCMND(@Model.LoanBriefId,@stepDefault);">
                    <i class="fa fa-id-card-o"></i>
                    CMND
                    <i class="fa fa-check icon-tab1" style="color: green;font-size: 12px;padding-bottom: 3px;display:none;"></i>
                </a>
            </li>
            <li class="nav-item">
                <a id="tab2" class="nav-link" data-toggle="tab" href="#m_tabs_dkx" onclick="CompareModule.LoadDataDKX(@Model.LoanBriefId,@stepDefault,@EnumDocumentType.Motorbike_Registration_Certificate.GetHashCode());">
                    <i class="fa fa-crosshairs"></i>
                    Đăng ký xe
                    <i class="fa fa-check icon-tab2" style="color: green;font-size: 12px;padding-bottom: 3px;display:none;"></i>
                </a>
            </li>
            <li class="nav-item">
                <a id="tab3" class="nav-link" data-toggle="tab" href="#m_tabs_bct" onclick="CompareModule.LoadDataBCT(@Model.LoanBriefId,@stepDefault,@EnumDocumentType.CTKK.GetHashCode());">
                    <i class="fa fa-image"></i>
                    Bộ chứng từ
                    <i class="fa fa-check icon-tab3" style="color: green;font-size: 12px;padding-bottom: 3px;display:none;"></i>
                </a>
            </li>
            <li class="nav-item">
                <a id="tab4" class="nav-link" data-toggle="tab" href="#m_tabs_zalo_face" onclick="CompareModule.LoadDataZaloFace(@Model.LoanBriefId,@stepDefault);">
                    <i class="fa fa-facebook-square"></i>
                    Zalo - Facebook - TC
                    <i class="fa fa-check icon-tab4" style="color: green;font-size: 12px;padding-bottom: 3px;display:none;"></i>
                </a>
            </li>

            <li class="nav-item">
                <a id="tab5" class="nav-link" data-toggle="tab" href="#m_tabs_thamdinh" onclick="CompareModule.LoadDataApprove(@Model.LoanBriefId,@stepDefault);">
                    <i class="fa fa-check-square-o"></i>
                    Thẩm định
                    <i class="fa fa-check icon-tab5" style="color: green;font-size: 12px;padding-bottom: 3px;display:none;"></i>
                </a>
            </li>

            @*<li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#m_tabs_thunhap" onclick="">
                    <i class="fa fa-money"></i>
                    Thu nhập
                </a>
            </li>*@

        </ul>

        <div id="step_load_html">
        </div>
        <div class="m-portlet__body" style="padding: 0rem 1.2rem; position: relative;">
            <div id="backdrop"></div>
            <div class="tab-content custom-over">
                <div class="tab-pane active" id="m_tabs_cmnd" role="tabpanel">
                </div>
                <div class="tab-pane" id="m_tabs_dkx" role="tabpanel">
                </div>
                <div class="tab-pane" id="m_tabs_bct" role="tabpanel">
                </div>
                <div class="tab-pane" id="m_tabs_zalo_face" role="tabpanel">
                </div>
                <div class="tab-pane" id="m_tabs_thamdinh" role="tabpanel">
                </div>
                @*<div class="tab-pane" id="m_tabs_thunhap" role="tabpanel">
                </div>*@
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="CMND_CCCD" value="@EnumDocumentType.CMND_CCCD.GetHashCode()" />
<input type="hidden" id="DKX" value="@EnumDocumentType.Motorbike_Registration_Certificate.GetHashCode()" />
<input type="hidden" id="CTKK" value="@EnumDocumentType.CTKK.GetHashCode()" />
@*<script src="~/assets/demo/default/custom/components/forms/wizard/wizard.js" type="text/javascript"></script>*@
<script src="~/js/Approve/Compare/CompareModule.js?v=264"></script>
<script type="text/javascript">
    $(document).ready(function () {
        //CompareModule.Init(@ViewBag.IsSaveLog);
        //màn hình điện thoại
        if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
            $('.table-customer-mobile').addClass('table-responsive');
        }

        LoadDefault(@ViewBag.TabLog);
    });

    var LoadDefault = function (tab) {
        if (tab == 0)
            CompareModule.LoadDataCMND(@Model.LoanBriefId, @stepDefault, $('#CMND_CCCD').val());
        else if (tab == 1)
            CompareModule.LoadDataDKX(@Model.LoanBriefId, 1, $('#DKX').val(), 0);
        else if (tab == 2) {
            CompareModule.LoadDataDKX(@Model.LoanBriefId, 1, $('#DKX').val(), 0);
            CompareModule.LoadDataBCT(@Model.LoanBriefId, 1, $('#CTKK').val(), 0);
        }
        else if (tab == 3) {
            CompareModule.LoadDataDKX(@Model.LoanBriefId, 1, $('#DKX').val(), 0);
            CompareModule.LoadDataBCT(@Model.LoanBriefId, 1, $('#CTKK').val(), 0);
            CompareModule.LoadDataZaloFace(@Model.LoanBriefId, 1, 0);
        }
        else if (tab == 4) {
            CompareModule.LoadDataDKX(@Model.LoanBriefId, 1, $('#DKX').val(), 0);
            CompareModule.LoadDataBCT(@Model.LoanBriefId, 1, $('#CTKK').val(), 0);
            CompareModule.LoadDataZaloFace(@Model.LoanBriefId, 1, 0);
            CompareModule.LoadDataApprove(@Model.LoanBriefId, 1, 0);
        }
        else if (tab == 5) {
            CompareModule.LoadDataDKX(@Model.LoanBriefId, 1, $('#DKX').val(), 0);
            CompareModule.LoadDataBCT(@Model.LoanBriefId, 1, $('#CTKK').val(), 0);
            CompareModule.LoadDataZaloFace(@Model.LoanBriefId, 1, 0);
            CompareModule.LoadDataApprove(@Model.LoanBriefId, 1, 0);
            CompareModule.Finish(@Model.LoanBriefId, 1, 0);
        }


    };
</script>


