﻿@model LOS.WebApp.Models.LoanBriefInit
@{
    Layout = null;
    ViewData["Title"] = "Check CIC";
}
@using LOS.Common.Extensions
<style>
    #formConfirm .m-select2 {
        opacity: inherit !important;
        font-family: Poppins, sans-serif;
        font-weight: 400;
        font-style: normal;
        color: rgb(108, 114, 147);
        font-size: 10pt;
    }

    #divResult {
        width: 600px;
    }

    #formConfirm .col-form-label {
        font-size: 14px !important;
        font-family: Arial !important;
        color: #6C7293;
    }

    span {
        font-size: 14px !important;
    }

    .font {
        font-size: 14px !important;
        font-family: 'Poppins Italic', 'Poppins Regular', 'Poppins', sans-serif;
        font-weight: 400;
        border-width: 0px;
        border-bottom: solid 1px #9CA0B6;
        border-radius: 0 !important;
        text-align: left;
        padding-left: 0 !important;
    }

    .bootstrap-select.btn-group > .dropdown-toggle.btn-default {
        border: 0 !important;
        border-bottom: solid 1px #9CA0B6 !important;
        border-radius: 0 !important;
    }
</style>
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="color:#6C7293;">
            Chốt hợp đồng khách hàng : @Model.FullName
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
                ×
            </span>
        </button>
    </div>
    <div class="modal-body">
        <form action="/Approve/ConfirmLoanMoneyPost" id="formConfirm">
            <div class="form-group m-form__group row">
                <label for="example-text-input" class="col-5 col-form-label">
                    Số tiền khách đồng ý vay:
                </label>
                <div class="col-7">
                    <input class="form-control m-input inputAmountVND font" type="text" name="LoanAmount" id="loanAmount" value="@(Model.LoanAmount.HasValue ? Model.LoanAmount.Value.ToString("##,#") : "0")" style="color: #FA5858 !important;text-align:right;" onkeyup="OnchangeMoneyCal(this.value)">
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-text-input" class="col-5 col-form-label">
                    Phương thức thanh toán:
                </label>
                <div class="col-7">
                    <select class="form-control m-bootstrap-select m_selectpicker" id="sl_RateType" name="RateTypeId">
                        @if (ViewBag.TypeProduct == 1)
                        {
                            if (Model.TypeRemarketing == (int)LOS.Common.Extensions.EnumTypeRemarketing.DebtRevolvingLoan)
                            {
                                <!option value="@LOS.Common.Extensions.EnumRateType.DuNoGiamDan.GetHashCode()" @(Model.RateTypeId == LOS.Common.Extensions.EnumRateType.RateAmortization30Days.GetHashCode() || Model.RateTypeId == LOS.Common.Extensions.EnumRateType.DuNoGiamDan.GetHashCode() ? "selected=\"selected\"" : "")>Dư nợ giảm dần</!option>
                                <!option value="@LOS.Common.Extensions.EnumRateType.TatToanCuoiKy.GetHashCode()" @(Model.RateTypeId == LOS.Common.Extensions.EnumRateType.RateMonthADay.GetHashCode() || Model.RateTypeId == LOS.Common.Extensions.EnumRateType.TatToanCuoiKy.GetHashCode() ? "selected=\"selected\"" : "")>Tất toán cuối kỳ</!option>
                            }
                            else
                            {
                                @if (ViewBag.ProductDetailId == (int)InfomationProductDetail.VayNhanh4tr
                          || ViewBag.ProductDetailId == (int)InfomationProductDetail.KT1_KSHK_4tr
                          || ViewBag.ProductDetailId == (int)InfomationProductDetail.KT1_KGT_4tr
                          || ViewBag.ProductDetailId == (int)InfomationProductDetail.KT3_KGT_4tr
                          || ViewBag.ProductDetailId == (int)InfomationProductDetail.KT3_KTN_4tr)
                                {
                                    <!option value="@EnumRateType.TatToanCuoiKy.GetHashCode()"
                                             @(Model.RateTypeId == EnumRateType.TatToanCuoiKy.GetHashCode() || Model.RateTypeId == EnumRateType.RateMonthADay.GetHashCode() ? "selected=\"selected\"" : "")>
                                        Tất toán cuối kỳ
                                    </!option>
                                }
                                <!option value="@EnumRateType.DuNoGiamDan.GetHashCode()"
                                         @(Model.RateTypeId == EnumRateType.DuNoGiamDan.GetHashCode() || Model.RateTypeId == EnumRateType.RateAmortization30Days.GetHashCode() ? "selected=\"selected\"" : "")>
                                    Dư nợ giảm dần
                                </!option>
                            }
                        }
                        else if (ViewBag.TypeProduct == 2)
                        {
                            <!option value="@EnumRateType.TatToanCuoiKy.GetHashCode()"
                                     @(Model.RateTypeId == EnumRateType.TatToanCuoiKy.GetHashCode() || Model.RateTypeId == EnumRateType.RateMonthADay.GetHashCode() ? "selected=\"selected\"" : "")>
                                Tất toán cuối kỳ
                            </!option>
                            <!option value="@EnumRateType.DuNoGiamDan.GetHashCode()"
                                     @(Model.RateTypeId == EnumRateType.DuNoGiamDan.GetHashCode() || Model.RateTypeId == EnumRateType.RateAmortization30Days.GetHashCode() ? "selected=\"selected\"" : "")>
                                Dư nợ giảm dần
                            </!option>
                        }

                    </select>
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label for="example-text-input" class="col-5 col-form-label">
                    Thời gian vay:
                </label>
                <div class="col-7">
                    <select class="form-control m-bootstrap-select m_selectpicker font" id="sl_LoanTime" name="LoanTime">
                        @*<!option value="1" @(Model.LoanTime == 1 ? "selected=\"selected\"" : "")>1 tháng</!option>*@
                        @* <!option value="2" @(Model.LoanTime == 2 ? "selected=\"selected\"" : "")>2 tháng</!option>*@
                        <!option value="3" @(Model.LoanTime == 3 ? "selected=\"selected\"" : "")>3 tháng</!option>
                        <!option value="6" @(Model.LoanTime == 6 ? "selected=\"selected\"" : "")>6 tháng</!option>
                        <!option value="9" @(Model.LoanTime == 9 ? "selected=\"selected\"" : "")>9 tháng</!option>
                        <!option value="12" @(Model.LoanTime == 12 ? "selected=\"selected\"" : "")>12 tháng</!option>
                        @*<!option value="18" @(Model.LoanTime == 18 ? "selected=\"selected\"" : "")>18 tháng</!option>
                            <!option value="24" @(Model.LoanTime == 24 ? "selected=\"selected\"" : "")>24 tháng</!option>*@
                    </select>
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label for="example-text-input" class="col-5 col-form-label">
                    Chu kỳ đóng lãi:
                </label>
                <div class="col-7">
                    <select class="form-control m-bootstrap-select m_selectpicker font" id="sl_Frequency" name="Frequency">
                        <option value="1" selected="selected">Hàng tháng</option>
                    </select>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-text-input" class="col-5 col-form-label">
                    Khách hàng có mua bảo hiểm:
                </label>
                <div class="col-7">
                    <label style="padding: 10px 15px;color:blue;">@(Model.BuyInsurenceCustomer != null && Model.BuyInsurenceCustomer == true? "Có mua" : "Không mua")</label>
                </div>
            </div>
            @if (Model.BuyInsurenceCustomer.GetValueOrDefault(false) == true)
            {
                <div class="form-group m-form__group row">
                    <label for="example-text-input" class="col-5 col-form-label">
                        Số tiền bảo hiểm khách hàng:
                    </label>
                    <div class="col-7">
                        <input class="form-control m-input inputAmountVND font" type="text" name="FeeInsuranceOfCustomer" id="FeeInsuranceOfCustomer" value="@(Model.FeeInsuranceOfCustomer.HasValue ? Model.FeeInsuranceOfCustomer.Value.ToString("##,#") : "0")" style="color: #FA5858 !important;text-align: right;">
                    </div>
                </div>
            }

            <div class="form-group m-form__group row">
                <label for="example-text-input" class="col-5 col-form-label">
                    Bảo hiểm tài sản:
                </label>
                <div class="col-7">
                    <label style="padding: 10px 15px;color:blue;">@(Model.LoanBriefProperty != null && Model.LoanBriefProperty.BuyInsuranceProperty != null && Model.LoanBriefProperty.BuyInsuranceProperty == true? "Có mua" : "Không mua")</label>
                </div>
            </div>
            @if (Model.LoanBriefProperty.BuyInsuranceProperty.GetValueOrDefault(false) == true)
            {
                <div class="form-group m-form__group row">
                    <label for="example-text-input" class="col-5 col-form-label">
                        Số tiền bảo hiểm tài sản:
                    </label>
                    <div class="col-7">
                        <input class="form-control m-input inputAmountVND font" id="FeeInsuranceMaterialCovered" type="text" value="@(Model.FeeInsuranceMaterialCovered.HasValue ? Model.FeeInsuranceMaterialCovered.Value.ToString("##,#") : "0")" style="color: #FA5858 !important;text-align: right;">
                    </div>
                </div>
            }
            <div class="form-group m-form__group row">
                <label for="example-text-input" class="col-5 col-form-label">
                    Nhận tiền bằng:
                </label>
                <div class="col-7">
                    <select class="form-control m-bootstrap-select m_selectpicker" id="sl_ReceivingMoneyType" name="ReceivingMoneyType" onchange="CheckTypeMoney(this.value)">
                        <!option value="1" @(Model.ReceivingMoneyType == 1 ? "selected=\"selected\"" : "")>Tiền mặt</!option>
                        <!option value="3" @(Model.ReceivingMoneyType == 3 ? "selected=\"selected\"" : "")>Chuyển khoản Số tài khoản</!option>
                        @*<!option value="4" @(Model.ReceivingMoneyType == 4 ? "selected=\"selected\"" : "")>Số thẻ</!option>*@
                    </select>
                </div>
            </div>

            <div class="form-group m-form__group row displaylstBank">
                <label for="example-text-input" class="col-5 col-form-label">
                    Ngân hàng:
                </label>
                <div class="col-7">
                    <select class="form-control m-bootstrap-select m_selectpicker" title="Chọn ngân hàng" id="sl_BankReceiveMoney" name="BankId">
                        @if (Model != null && Model.ListBank != null && Model.ListBank.Count > 0)
                        {
                            foreach (var item in Model.ListBank)
                            {
                                <!option value="@item.BankId" @(Model.BankId == item.BankId ? "selected=\"selected\"" : "")>@item.BankCode</!option>
                            }
                        }
                    </select>
                </div>
            </div>

            <div class="form-group m-form__group row displayBank">
                <label for="example-text-input" class="col-5 col-form-label">
                    Tên chủ thẻ:
                </label>
                <div class="col-7">
                    <input class="form-control m-input" type="text" name="BankAccountName" value="@Html.Raw(Model.BankAccountName)">
                </div>
            </div>

            <div class="form-group m-form__group row displayBank">
                <label for="example-text-input" class="col-5 col-form-label">
                    Số tài khoản:
                </label>
                <div class="col-7">
                    <input class="form-control m-input" type="text" name="BankAccountNumber" value="@Model.BankAccountNumber">
                </div>
            </div>

            <div class="form-group m-form__group row displayBank2">
                <label for="example-text-input" class="col-5 col-form-label">
                    Số thẻ:
                </label>
                <div class="col-7">
                    <input class="form-control m-input" type="text" name="BankCardNumber" value="@Model.BankCardNumber">
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-text-input" class="col-5 col-form-label">
                    Ghi chú:
                </label>
                <div class="col-7">
                    <textarea class="form-control cus-form-control m-input font" rows="3" name="LoanBriefComment" placeholder="Nhập ghi chú"></textarea>
                </div>
            </div>
            <input type="hidden" value="@Model.LoanBriefId" id="LoanBriefId" name="LoanBriefId" />
        </form>
    </div>
    <div class="modal-footer" style="margin-top:-4%;border-top:none;">
        <a data-toggle="modal" title="File ghi âm" onclick="CommonModalJS.ViewRecordModel('#modalRecording',@Model.LoanBriefId)" class="btn-action btn btn-brand m-btn m-btn--icon btn-sm m-btn--icon-only" style="width:70px;height:40px;background-color:rgba(108, 114, 147, 1);">
            <i style="color: white; font-size: 20px;" class="fa fa-headphones"></i>
        </a>
        <button type="button" id="btnSubmit" onclick="Save(event)" class="btn btn-primary" style="background: rgba(108, 114, 147, 1);border-color: rgba(108, 114, 147, 1);height: 40px;">
            Chốt hợp đồng
        </button>
    </div>
</div>

<script src="~/assets/demo/default/custom/components/forms/widgets/bootstrap-select.js"></script>
<script>
    $(document).ready(function () {
        App.LibraryMoney();
        if ($("#sl_ReceivingMoneyType").val() == 1) {
            $(".displayBank").css("display", "none");
            $(".displayBank2").css("display", "none");
            $(".displaylstBank").css("display", "none");
        }
        if ($("#sl_ReceivingMoneyType").val() == 3) {
            $(".displayBank2").css("display", "none");
            $(".displaylstBank").css("display", "");
        }
        if ($("#sl_ReceivingMoneyType").val() == 4) {
            $(".displayBank").css("display", "none");
            $(".displaylstBank").css("display", "");
        }
    });
    function Save() {

        var form = $('#formConfirm');
        form.ajaxSubmit({
            url: '/Approve/ConfirmLoanMoneyPost',
            method: 'POST',
            success: function (data) {
                if (data != undefined) {
                    if (data.status == 1) {
                        App.ShowSuccess(data.message);
                    }
                    else {
                        App.ShowErrorNotLoad(data.message);
                    }
                }
                else {
                    App.ShowErrorNotLoad(data.message);
                }
                $('#btnSubmit').attr('disabled', false);
            }
        });

    }
    function CheckTypeMoney(type) {
        if (type == 1) {
            $(".displayBank").css("display", "none");
            $(".displayBank2").css("display", "none");
            $(".displaylstBank").css("display", "none");
        }
        if (type == 3) {
            $(".displayBank").css("display", "");
            $(".displayBank2").css("display", "none");
            $(".displaylstBank").css("display", "");
        }
        if (type == 4) {
            $(".displayBank").css("display", "none");
            $(".displayBank2").css("display", "");
            $(".displaylstBank").css("display", "");
        }

    }
    function OnchangeMoneyCal() {
        var loanAmount = $("#loanAmount").val();
        loanAmount = loanAmount.split(",").join("");
        var loanTime = $("#sl_LoanTime").val();
        $.ajax({
            type: "POST",
            url: "/Approve/InterestSubmit",
            data: { TotalMoneyDisbursement: parseInt(loanAmount), LoanTime: parseInt(loanTime) },
            success: function (data) {
                console.log(data);
                if (data.status == 1) {
                    $("#FeeInsuranceOfCustomer").val(App.FormatCurrency(data.data.feeInsurrance));
                    $("#FeeInsuranceMaterialCovered").val(App.FormatCurrency(data.data.feeInsuranceMaterialCovered));
                }
            },
            traditional: true
        });
    }
</script>