﻿@*@model List<LOS.DAL.EntityFramework.LoanStatusDetail>*@
@{
    ViewData["Title"] = "Tái cơ cấu lịch trả nợ";
    Layout = null;
}

<style>
    .btn-tima {
        background-color: rgba(108, 114, 147, 1);
        border-color: rgba(108, 114, 147, 1);
        color: #fff;
    }

    .m-form.m-form--group-seperator-dashed .m-form__group {
        border-bottom: none;
    }

    .m-form.m-form--group-seperator-dashed .m-form__group {
        padding-bottom: 10px;
        padding-top: 5px;
    }

    .cus-form-control {
        font-size: 14px;
    }
</style>
<div class="modal-content">
    <div class="modal-header" style="padding: 15px;">
        <div class="m-demo-icon__class" style="margin-top: 5px; margin-left: 10px; font-weight: bold">
            Tái cơ cấu lịch trả nợ
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: 0px">
            <span aria-hidden="true">
                &times;
            </span>
        </button>
    </div>
    <form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" action="" id="form_DebtRestructuring">
        <div class="modal-body" style="padding: 25px 0px;">
            <input type="hidden" id="loanBriefId" value="@ViewBag.LoanBriefId" />
            <input type="hidden" id="loanId" value="@ViewBag.LoanId" />
            <div class="m-portlet__body">

                <div class="form-group m-form__group row">
                    <label for="example-email-input" class="col-4 col-form-label">
                        Loại hình tái cơ cấu nợ
                    </label>
                    <div class="col-8">

                        <select class="form-control cus-form-control m-select2" id="sl_Type" style="width: 100%">
                            <option value="0">--Chọn loại hình cơ cấu nợ--</option>
                            <option value="1">Khoanh gốc</option>
                            <option value="2">Khoanh Phí Tư Vấn Chia đều vào các kỳ</option>
                            <option value="3">Khoanh phí Tư Vân chia vào kỳ cuối</option>
                            <option value="4">Khoanh phí tư vấn chọn ngày trả mới</option>
                            <option value="5">Miễn Giảm Lãi Phí</option>
                            <option value="6">Khoanh gốc & phí tư vấn chia đều vào các kỳ</option>
                            @*<option value="7">Khoanh gốc & phí tư vấn vào kỳ cuối</option>*@
                            <option value="10">Cấu trúc lại khoản vay</option>

                        </select>

                    </div>
                </div>

                <div class="form-group m-form__group row" id="dis-Number" style="display:none;">
                    <label for="example-email-input" class="col-4 col-form-label">
                        Số kỳ cần khoanh
                    </label>
                    <div class="col-8">

                        <select class="form-control cus-form-control m-select2" id="sl_Number" style="width: 100%">
                            <option value="0">--Chọn số kỳ cần khoanh--</option>
                            <option value="1">1 kỳ</option>
                            <option value="2">2 kỳ</option>
                            <option value="3">3 kỳ</option>

                        </select>

                    </div>
                </div>
                <div class="form-group m-form__group row" id="dis-Date" style="display:none;">
                    <label for="example-email-input" class="col-4 col-form-label">
                        Ngày trả mới
                    </label>
                    <div class="col-8">
                        <input class="form-control cus-form-control m-input white" autocomplete="off" type="text" placeholder="dd/MM/yyyy" id="AppointmentDate">
                    </div>
                </div>
                <div class="form-group m-form__group row" id="dis-Percent" style="display:none;">
                    <label for="example-email-input" class="col-4 col-form-label">
                        Giá trị miễn giảm phí tư vấn(%)
                    </label>
                    <div class="col-8">
                        <input class="form-control cus-form-control m-input white" type="number" id="PercentDiscount" value="50" disabled>
                    </div>
                </div>
                <div class="form-group m-form__group row" id="dis-RateType" style="display:none;">
                    <label for="example-email-input" class="col-4 col-form-label">
                        Hình thức tính lãi
                    </label>
                    <div class="col-8">

                        <select class="form-control cus-form-control m-select2" id="sl_RateType" style="width: 100%">
                            <option selected="selected" value="@LOS.Common.Extensions.EnumRateType.DuNoGiamDan.GetHashCode()">Dư nợ giảm dần</option>
                            <option value="@LOS.Common.Extensions.EnumRateType.TatToanCuoiKy.GetHashCode()">Tất toán cuối kỳ</option>
                        </select>

                    </div>
                </div>
                <div class="form-group m-form__group row" id="dis-Money" style="display:none;">
                    <label for="example-email-input" class="col-4 col-form-label">
                        Số tiền
                    </label>
                    <div class="col-8">
                        <input class="form-control cus-form-control m-input inputAmountVND" type="text" id="Money" style="text-align: right;">
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="display: block; text-align: right; border: none; padding: 5px; margin-right: 25px; margin-top: 25px;">
                <button type="button" class="btn btn-tima" onclick="DebtRestructuringModule.SaveDebt();" id="btnSave" style="padding: 10px 45px;">
                    Lưu lại
                </button>
            </div>
        </div>
    </form>
</div>
<script src="~/js/Approve/DebtRestructuringModule.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
<script type="text/javascript">
    $(document).ready(function () {
        App.LibraryMoney();
        DebtRestructuringModule.Init();     
    });
</script>

