﻿@using LOS.Common.Extensions;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = ViewBag.User as LOS.DAL.DTOs.UserDetail;
    var lstProvince = Enum.GetValues(typeof(LOS.Common.Extensions.EnumCitySearch)).Cast<LOS.Common.Extensions.EnumCitySearch>();
}
}
<link href="~/css/form.css?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS" rel="stylesheet" />
<style>
    .m-select2 {
        opacity: inherit !important;
    }

    .inputsearch {
        font-size: 13px !important;
    }

    .selectbox {
        width: 13% !important;
        margin-right: 1%;
    }
</style>
@*@await Component.InvokeAsync("Breadcrumb", new { ModuleName = "LOAN_BRIEF_MANAGER" })*@
<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Kiểm soát sau giải ngân
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <!--begin: Search Form -->
            <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                <div class="row align-items-center">
                    <div class="col-xl-12 order-2 order-xl-1">
                        <div class="form-group m-form__group row align-items-center">
                            <div class="col-md-1">
                                <div class="form-group m-form__group">
                                    <div class="m-input-icon m-input-icon--left">
                                        <input type="text" class="form-control m-input inputsearch" placeholder="Mã HĐ" id="filterLoanId">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group m-form__group">
                                    <div class="m-input-icon m-input-icon--left">
                                        <input type="text" class="form-control m-input inputsearch" placeholder="Tên, SĐT, CMT Khách hàng" id="filterSearch">
                                    </div>
                                </div>
                            </div>

                            <div class="selectbox">
                                <div class="form-group m-form__group">
                                    <div class="m-form__control">
                                        <select class="form-control m-select2" id="filterProvince">
                                            <option value="-1">Tất cả</option>
                                            @if (user.GroupId == EnumGroupUser.ManagerHub.GetHashCode() || user.GroupId == EnumGroupUser.StaffHub.GetHashCode())
                                            {
                                                @foreach (var item in lstProvince)
                                                {
                                                    <!option value="@Convert.ToInt32(item)" @(user.ListShop[0].CityId == Convert.ToInt32(item) ? "selected=\"selected\"" : "")>@LOS.Common.Helpers.ExtentionHelper.GetDescription(item)</!option>
                                                }
                                            }
                                            else
                                            {
                                                @foreach (var item in lstProvince)
                                                {
                                                    <!option value="@Convert.ToInt32(item)" @(user.CityId.GetValueOrDefault(1) == Convert.ToInt32(item) ? "selected=\"selected\"" : "")>@LOS.Common.Helpers.ExtentionHelper.GetDescription(item)</!option>
                                                }
                                            }

                                        </select>
                                    </div>
                                </div>
                            </div>

                            @if (ViewBag.GroupId == LOS.Common.Extensions.EnumGroupUser.ApproveLeader.GetHashCode() || ViewBag.GroupId == LOS.Common.Extensions.EnumGroupUser.ApproveEmp.GetHashCode())
                            {
                                <div class="selectbox">
                                    <div class="form-group m-form__group">
                                        <div class="m-form__control">
                                            <select class="form-control m-select2" id="filterApprove">
                                                <option></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            }
                            <div class="selectbox">
                                <div class="form-group m-form__group">
                                    <div class="m-form__control">
                                        <select class="form-control m-select2" id="filterProduct">
                                            <option></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            @*else
                                {
                                <div class="selectbox">
                                <div class="form-group m-form__group">
                                <div class="m-form__control">
                                <select class="form-control m-select2" id="filterStatus">
                                <option selected="selected" value="-1">Tất cả</option>
                                <option value="@LOS.Common.Extensions.UploadStatus.FINISH.GetHashCode()">
                                Hoàn thành
                                </option>
                                <option value="@LOS.Common.Extensions.UploadStatus.UNTFINISH.GetHashCode()">
                                Chưa hoàn thành
                                </option>
                                </select>
                                </div>
                                </div>
                                </div>
                                }*@

                            <div class="selectbox">
                                <div class="form-group m-form__group">
                                    <div class="m-form__control">
                                        <select class="form-control m-select2" id="filterLocate">
                                            <option selected="selected" value="-1">Tất cả</option>
                                            <option value="@LOS.Common.Extensions.LocateStatus.LOCATE.GetHashCode()">
                                                Có định vị
                                            </option>
                                            <option value="@LOS.Common.Extensions.LocateStatus.NOTLOCATE.GetHashCode()">
                                                Không có định vị
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>


                            @if (user.GroupId == LOS.Common.Extensions.EnumGroupUser.ManagerHub.GetHashCode() || user.GroupId == LOS.Common.Extensions.EnumGroupUser.StaffHub.GetHashCode())
                            {
                                <div class="selectbox">
                                    <div class="form-group m-form__group">
                                        <div class="m-form__control">
                                            <select class="form-control m-select2" id="filterCavet">
                                                <option selected="selected" value="-1">Tất cả</option>
                                                <option value="@LOS.Common.Extensions.EnumReCareLoanbrief.BorrowCavet.GetHashCode()">
                                                    Mượn Cavet
                                                </option>
                                                <option value="@LOS.Common.Extensions.EnumReCareLoanbrief.NotBorrowCavet.GetHashCode()">
                                                    Không mượn Cavet
                                                </option>
                                                <option value="@LOS.Common.Extensions.EnumReCareLoanbrief.PostRegistration.GetHashCode()">
                                                    Thu cavet sau
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="selectbox">
                                    <div class="form-group m-form__group">
                                        <div class="m-form__control">
                                            <select class="form-control m-select2" id="filterLoanStatus">
                                                <option selected="selected" value="-1">HĐ giải ngân</option>
                                                <option value="@LOS.Common.Extensions.EnumReCareLoanbrief.BorrowCavet.GetHashCode()">
                                                    HĐ đến hạn tất toán
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            }
                            else if (user.GroupId == LOS.Common.Extensions.EnumGroupUser.ApproveEmp.GetHashCode() || user.GroupId == LOS.Common.Extensions.EnumGroupUser.ApproveLeader.GetHashCode())
                            {
                                <div class="selectbox">
                                    <div class="form-group m-form__group">
                                        <div class="m-form__control">
                                            <select class="form-control m-select2" id="filterCavet">
                                                <option selected="selected" value="-1">Tất cả</option>
                                                <option value="@LOS.Common.Extensions.EnumReCareLoanbrief.PostRegistration.GetHashCode()">
                                                    Thu cavet sau
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                <div class="row align-items-center">
                    <div class="col-xl-12 order-2 order-xl-1">
                        <div class="form-group m-form__group row align-items-center">
                            @if (ViewBag.GroupId == LOS.Common.Extensions.EnumGroupUser.ApproveLeader.GetHashCode())
                            {
                                <div class="selectbox">
                                    <div class="form-group m-form__group">
                                        <div class="m-form__control">
                                            <select class="form-control m-select2" id="filterHub">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            }
                            @if (user.GroupId == LOS.Common.Extensions.EnumGroupUser.ManagerHub.GetHashCode())
                            {
                                <div class="selectbox">
                                    <div class="form-group m-form__group">
                                        <div class="m-form__control">
                                            <select class="form-control m-select2" id="filterEmpHub">
                                                <option></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            }
                            @if (user.GroupId == LOS.Common.Extensions.EnumGroupUser.StaffHub.GetHashCode() || user.GroupId == LOS.Common.Extensions.EnumGroupUser.ManagerHub.GetHashCode())
                            {
                                <div class="selectbox">
                                    <div class="form-group m-form__group">
                                        <div class="m-form__control">
                                            <select class="form-control m-select2" id="filterTopup">
                                                <option selected="selected" value="-1">Tất cả</option>
                                                <option value="@LOS.Common.Extensions.EnumTypeLoanSupport.IsCanTopup.GetHashCode()">
                                                    HĐ Topup
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            }
                            @*@if (user.GroupId == LOS.Common.Extensions.EnumGroupUser.ApproveLeader.GetHashCode() || user.GroupId == LOS.Common.Extensions.EnumGroupUser.ApproveEmp.GetHashCode())
                            {
                                <div class="selectbox">
                                    <div class="form-group m-form__group">
                                        <div class="m-form__control">
                                            <select class="form-control m-select2" id="filterTransaction">
                                                <option selected="selected" value="-1">Tất cả</option>                                               
                                                <option value="@LOS.Common.Extensions.EnumTransactionState.DangChoDuyet.GetHashCode()">Chờ duyệt</option>
                                                <option value="@LOS.Common.Extensions.EnumTransactionState.DaDuyet.GetHashCode()">Đã duyệt</option>
                                                <option value="@LOS.Common.Extensions.EnumTransactionState.Huy.GetHashCode()">Hủy</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            }*@
                            <div class="col-md-2">
                                <div class="input-group date">
                                    <input style="margin-right: -15%;cursor:pointer;color:#9CA0B6;" type="text" class="form-control inputsearch" readonly="" id="filtercreateTime" placeholder="Thời gian tạo">
                                    <i class="fa fa-calendar" style="padding-top: 3%;font-size: 15pt;"></i>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group m-form__group">
                                    <div class="m-form__control">
                                        <a href="javascript:;" class="btn btn-tima" style="cursor:pointer;" id="btnSearch">
                                            Tìm kiếm
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group m-form__group">
                                    <div class="m-form__control">
                                        <button type="button" class="chuyen-ho-tro" onclick="ExportExcel();">
                                            Xuất Excel
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end: Search Form -->
            <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                <div class="row align-items-center">
                    <div class="col-xl-9 order-2 order-xl-1">
                        <div class="form-group m-form__group row align-items-center">
                            <div class="col-md-2">
                                <div class="form-group m-form__group">
                                    <div class="m-input-icon m-input-icon--left">
                                        <span style="font-family: 'Poppins Bold', 'Poppins Regular', 'Poppins', sans-serif;font-weight: 700;font-style: normal;color: #6C7293;">Danh sách đơn</span>
                                    </div>
                                </div>
                            </div>

                            @if (user.GroupId == LOS.Common.Extensions.EnumGroupUser.ManagerHub.GetHashCode() || user.GroupId == LOS.Common.Extensions.EnumGroupUser.StaffHub.GetHashCode())
                            {
                                <div style="margin-right: 10px;">
                                    <div class="form-group m-form__group">
                                        <div class="m-form__control">
                                            <button type="button" class="chuyen-ho-tro" onclick="DisbursementAfterModule.BorrowCavet();">
                                                Mượn Cavet
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                    <div class="col-xl-3 order-2 order-xl-1">
                        <div class="form-group m-form__group">
                            <div class="m-form__control" style="float:right;">
                                Tổng tiền: <label id="totalMoney" style="color:red;">0</label> VNĐ
                            </div>

                        </div>
                    </div>
                </div>

            </div>

            <hr style="color: #333333;" />
            <!--begin: Datatable -->
            <table class="m-datatable__table dtform" width="100%" id="dtDisbursementAfter"></table>
        </div>
    </div>
</div>
<input type="hidden" id="GroupId" value="@LOS.Common.Extensions.EnumGroupUser.ApproveEmp.GetHashCode()" />
@section Scripts
{

<script src="~/js/CommonModalJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
<script src="~/js/Approve/DisbursementAfterModule.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
<script src="~/js/CareSoftModule.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
<script src="~/js/LoanBrief/LoanBriefTopup.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
<script src="~/js/GoogleMapModule.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
<script type="text/javascript">
    $(document).ready(function () {
        DisbursementAfterModule.InitData(@user.GroupId, @user.TypeCallService);
        App.Init();
        DisbursementAfterModule.Init();
        DisbursementAfterModule.GetUserByGroupId($("#GroupId").val());
        GoogleMapModule.Init('@LOS.WebApp.Helpers.Constants.KEY_GOOGLE_MAP');
        if (@user.GroupId == GROUP_MANAGER_HUB)
            DisbursementAfterModule.GetUserHub(@LOS.Common.Extensions.EnumGroupUser.StaffHub.GetHashCode());
    });
    function ExportExcel() {
        var loanBriefId = $("#filterLoanId").val();
        var search = $("#filterSearch").val();
        var provinceId = $("#filterProvince").val();
        var status = $("#filterStatus").val();
        var productId = $("#filterProduct").val();
        var hubId = $("#filterHub").val();
        var locate = $("#filterLocate").val();
        var hubEmployee = $("#filterEmpHub").val();
        var filtercreateTime = $('#filtercreateTime').val().trim().toLowerCase();
        window.location.href = "/Approve/ExportExcelDis?loanBriefId=" + loanBriefId + "&search=" + search + "&provinceId=" + provinceId + "&status=" + status + "&productId=" + productId + "&hubId=" + hubId + "&locate=" + locate + "&filtercreateTime=" + filtercreateTime + "&hubEmployee=" + hubEmployee;
    }
</script>
}

<style>
    div.dropdown-menu.open {
        max-height: 314px !important;
        overflow: hidden;
    }

    ul.dropdown-menu.inner {
        max-height: 260px !important;
        overflow-y: auto;
    }
</style>
