﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = ViewBag.User as LOS.DAL.DTOs.UserDetail;
}
<link href="~/css/form.css?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS" rel="stylesheet" />
<style>
    #dtLoanBrief tbody {
        padding: 0 !important;
    }

    #linkName:hover {
        text-decoration: none !important;
    }

    .filter {
        float: left;
        margin-top: 30px;
        height: 40px;
        margin-bottom: 0px;
    }

    .filterSpan {
        font-family: 'Poppins Bold', 'Poppins Regular', 'Poppins', sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 12px;
        color: #6C7293;
    }

    .filter-border-button {
        border-bottom: 2px solid #716aca;
    }

    .custom-table-tima > .m-datatable__table > .m-datatable__head .m-datatable__row {
        height: 50px !important;
    }

    .m-portlet .m-portlet__body {
        padding: 0rem 2.2rem;
    }

    .form-group {
        margin-bottom: 0px;
    }

    .m-portlet .m-portlet__body {
        padding-bottom: 20px;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        position: relative;
        padding: 0.65rem 0rem;
        line-height: 1.25;
    }
</style>
<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Thẩm định Hồ sơ
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <!--begin: Search Form -->
            <div class="m-form m-form--label-align-right  m--margin-bottom-10">
                <div class="col-md-12">
                    <div class="form-group row">
                        <div class="col-lg-2 col-md-6 col-sm-12" style="padding: 10px;">
                            <div class="m-input-icon m-input-icon--left">
                                <input type="text" class="form-control m-input inputsearch" placeholder="Mã HĐ" id="filterLoanId">
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-12" style="padding: 10px;">
                            <div class="m-input-icon m-input-icon--left">
                                <input type="text" class="form-control m-input inputsearch" placeholder="Tên, SĐT, CMT Khách hàng" id="filterSearch">
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-12" style="padding: 10px;">
                            <div class="m-form__control">
                                <select class="form-control m-select2" id="filterProvince">
                                    <option selected="selected" value="-1">Tất cả</option>
                                    <option value="@LOS.Common.Extensions.EnumCitySearch.HN.GetHashCode()">Hà Nội</option>
                                    <option value="@LOS.Common.Extensions.EnumCitySearch.HCM.GetHashCode()">Hồ Chí Minh</option>
                                    <option value="@LOS.Common.Extensions.EnumCitySearch.BN.GetHashCode()">Bắc Ninh</option>
                                    <option value="@LOS.Common.Extensions.EnumCitySearch.HD.GetHashCode()">Hải Dương</option>
                                    <option value="@LOS.Common.Extensions.EnumCitySearch.VP.GetHashCode()">Vĩnh Phúc</option>
                                    <option value="@LOS.Common.Extensions.EnumCitySearch.BD.GetHashCode()">Bình Dương</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-12" style="padding: 10px;">
                            <div class="m-form__control">
                                <select class="form-control m-select2" id="filterStatus">
                                    <option value="0">
                                        Của tôi
                                    </option>
                                    <option value="@LOS.Common.Extensions.EnumLoanStatus.WAIT_APPRAISER_CONFIRM_CUSTOMER.GetHashCode()">
                                        Chờ chốt khách hàng
                                    </option>
                                    <option value="@LOS.Common.Extensions.EnumLoanStatus.BRIEF_APPRAISER_REVIEW.GetHashCode()">
                                        Chờ thẩm định hồ sơ xử lý
                                    </option>
                                    <option value="@LOS.Common.Extensions.EnumLoanStatus.BRIEF_APPRAISER_APPROVE_PROPOSION.GetHashCode()">
                                        Chờ Leader phê duyệt vay
                                    </option>
                                    <option value="@LOS.Common.Extensions.EnumLoanStatus.BRIEF_APPRAISER_APPROVE_CANCEL.GetHashCode()">
                                        Chờ Leader phê duyệt hủy
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-12" style="padding: 10px;">
                            <div class="m-form__control">
                                <select class="form-control m-select2" id="filterProduct">
                                    <option></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-12" style="padding: 10px; text-align: end;">
                            <div class="m-form__control">
                                <a href="javascript:;" class="btn btn-tima" style="cursor:pointer;" id="btnSearch">
                                    Tìm kiếm
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group row">
                        <div class="col-lg-2 col-md-6 col-sm-12" style="padding: 10px;">
                            <div class="m-form__control">
                                <select class="form-control" id="filterApprove">
                                    <option></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-12" style="padding: 10px;">
                            <div class="m-form__control">
                                <button type="button" class="chuyen-ho-tro" onclick="ApproveEmpModule.ChangeSupport();">
                                    Chuyển hỗ trợ
                                </button>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-12 col-sm-12 m--padding-top-20" style="text-align: end;">
                            <div class="form-group m-form__group">
                                <div class="m-form__control">
                                    <span class="filterSpan" style="font-size: 14px;">
                                        Số HĐ GN trong tháng: @ViewBag.TotalLoanDisbursement
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <table class="m-datatable__table dtform" width="100%" id="dtApprovedEmp"></table>
        </div>
    </div>
</div>
<input type="hidden" id="GroupId" value="@LOS.Common.Extensions.EnumGroupUser.ApproveEmp.GetHashCode()" />

@section Scripts
{

    <script src="~/js/Approve/ApproveEmpModule.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS" type="text/javascript"></script>
    <script src="~/js/CommonModalJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/LoanBrief/PersonalInformationModuleJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/LoanBrief/AddressHomeModuleJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/LoanBrief/AddressHouseholdModuleJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/LoanBrief/WorkInformationModuleJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/LoanBrief/RelativeInfomationModuleJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/LoanBrief/MotobikeInfomationModuleJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/LoanBrief/LoancreditFormModuleJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/LoanBrief/LoancreditInfomationModuleJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/LoanBrief/DisbursementInfomationModeleJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/LoanbriefV2/InitLoanBrief.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/CICModule.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/PushLoanLenderModule.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/ReturnLoanBriefModule.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/Approve/ConfirmLoanMoneyModule.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/LoanBrief/ToolInterestModule.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/CareSoftModule.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            ApproveEmpModule.InitData(@user.GroupId, @user.TypeCallService);
            App.Init();
            ApproveEmpModule.Init();
            ApproveEmpModule.GetUserByGroupId($("#GroupId").val());
        });
    </script>
}
