﻿@model LOS.DAL.DTOs.LoanBriefInitDetail
@{
    Layout = null;
    ViewData["Title"] = "Tool tính Lãi & Phí";
}
@using LOS.Common.Extensions

<style>
    #formInsurence .m-select2 {
        opacity: inherit !important;
        font-family: Poppins, sans-serif;
        font-weight: 400;
        font-style: normal;
        color: rgb(108, 114, 147);
        font-size: 10pt;
    }

    #formInsurence .m-input, .m-select2 {
        border: none;
        border-bottom: solid 1px #575962;
        border-radius: 0px;
    }
</style>
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="color:#6C7293;">
            Tool hỗ trợ tính Bảo hiểm
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
                ×
            </span>
        </button>
    </div>
    <div class="modal-body">
        <form id="formInsurence">

            <div class="form-group m-form__group row col-6 form-left">
                <label for="example-text-input" class="col-5 col-form-label">
                    Tiền cho vay:
                </label>
                <div class="col-7">
                    <input class="form-control m-input" type="text" name="LoanAmount" value="@Model.LoanAmount.Value.ToString("##,#")">
                </div>
            </div>

            <div class="form-group m-form__group row col-6 form-left">
                <label for="example-text-input" class="col-5 col-form-label">
                    Thời gian vay:
                </label>
                <div class="col-7">
                    <select class="form-control cus-form-control m-select2" id="sl_LoanTime" name="LoanTime">
                        <!option value="1" @(Model.LoanTime == 1 ? "selected=\"selected\"" : "")>1 tháng</!option>
                        <!option value="2" @(Model.LoanTime == 2 ? "selected=\"selected\"" : "")>2 tháng</!option>
                        <!option value="3" @(Model.LoanTime == 3 ? "selected=\"selected\"" : "")>3 tháng</!option>
                        <!option value="6" @(Model.LoanTime == 6 ? "selected=\"selected\"" : "")>6 tháng</!option>
                        <!option value="9" @(Model.LoanTime == 9 ? "selected=\"selected\"" : "")>9 tháng</!option>
                        <!option value="12" @(Model.LoanTime == 12 ? "selected=\"selected\"" : "")>12 tháng</!option>
                        <!option value="18" @(Model.LoanTime == 18 ? "selected=\"selected\"" : "")>18 tháng</!option>
                        <!option value="24" @(Model.LoanTime == 24 ? "selected=\"selected\"" : "")>24 tháng</!option>
                    </select>
                </div>
            </div>

            <div class="form-group m-form__group row col-6 form-right">
                <label for="example-text-input" class="col-5 col-form-label">
                    Hình thức tính lãi:
                </label>
                <div class="col-7">
                    <select class="form-control cus-form-control m-select2" id="sl_RateType" name="RateTypeId">
                        <!option value="@EnumRateType.TatToanCuoiKy.GetHashCode()" @(Model.RateTypeId == EnumRateType.TatToanCuoiKy.GetHashCode() || Model.RateTypeId == EnumRateType.RateMonthADay.GetHashCode() ? "selected=\"selected\"" : "")>Tất toán cuối kỳ</!option>
                        <!option value="@EnumRateType.DuNoGiamDan.GetHashCode()" @(Model.RateTypeId == EnumRateType.DuNoGiamDan.GetHashCode() || Model.RateTypeId == EnumRateType.RateAmortization30Days.GetHashCode() ? "selected=\"selected\"" : "")>Dư nợ giảm dần</!option>
                    </select>
                </div>
            </div>

            <div class="form-group m-form__group row col-6 form-left">
                <label for="example-text-input" class="col-5 col-form-label">
                    Khu vực:
                </label>
                <div class="col-7">
                    <select class="form-control cus-form-control m-select2" id="sl_Province" name="Province">
                        <!option value="1" @(Model.ProvinceId == 1 ? "selected=\"selected\"" : "")>Hà Nội</!option>
                        <!option value="18" @(Model.ProvinceId == 18 ? "selected=\"selected\"" : "")>Hồ Chí Minh</!option>
                    </select>
                </div>
            </div>
            <div>
                <input type="hidden" value="@Model.LoanBriefId" id="LoanBriefId" name="LoanBriefId" />
            </div>

        </form>

    </div>
    <div class="modal-footer col-7" style="border-top:none;display:block;">

        <button type="button" id="btnSubmit" onclick="Calculate(event)" class="btn btn-primary" style="background: rgba(108, 114, 147, 1);border-color: rgba(108, 114, 147, 1);width: 110px;height: 40px;margin-top: -10px;">
            Tính toán
        </button>

    </div>

    <div class="m-portlet__body" style="margin-bottom: 1%;">
        <span id="ResultMess" style="margin-left:3%;">Phí khách hàng chịu: 522,438 VNĐ</span>
    </div>
</div>

<script>

    function Calculate() {
        var form = $('#formInsurence');
        form.ajaxSubmit({
            url: "/Approve/InsurenceSubmit",
            method: "POST",
            success: function (data) {
                if (data.status > 0) {
                    $("#ResultMess").text("Your text here");
                }
                //console.log(data);

            }

        });

    }

</script>