﻿@model LOS.DAL.DTOs.LoanBriefInitDetail
@{
    Layout = null;
    ViewData["Title"] = "Tool tính Lãi & Phí";
}
@using LOS.Common.Extensions
<style>
    #formInterest .m-select2 {
        opacity: inherit !important;
        font-family: Arial !important;
        font-weight: 400;
        font-style: normal;
        /*color: rgb(108, 114, 147);*/
        font-size: 11pt;
    }

    #formInterest .form-left {
        float: left;
    }

    #formInterest .form-right {
        float: right;
    }

    #formInterest .m-input, .m-select2 {
        border: none;
        border-bottom: solid 1px #6b6d77;
        border-radius: 0px;
        padding-left: 0;
    }

    #dtInterest th, td {
        font-size: 13px !important;
        padding-left: 10px;
    }

    #divResult {
        max-width: 70%;
    }

    .moneyColor span {
        color: #FA5858 !important;
        text-align: right;
    }

    .dtform span {
        font-family: Poppins, sans-serif;
        font-weight: 400;
        font-style: normal;
        color: rgb(108, 114, 147);
        font-size: 13px;
        letter-spacing: normal;
    }

    #formInterest table th {
        background-color: #A9BCF5;
        background-color: #A9BCF5 !important;
    }

    /*#formInterest table td, th {
        font-size: 14px !important;
        border: solid 1px #D8D8D8 !important;
    }*/
</style>
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="color:#6C7293;">
            Tool hỗ trợ tính Lãi & Phí KH: @Model.FullName
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
                ×
            </span>
        </button>
    </div>
    <div class="modal-body">
        <form id="formInterest">
            <div class="col-7">
                <div class="form-group m-form__group row col-6 form-left">
                    <label for="example-text-input" class="col-5 col-form-label">
                        Tiền cho vay:
                    </label>
                    <div class="col-7">
                        <input class="form-control m-input inputAmountVND" type="text" name="TotalMoneyDisbursement" id="LoanAmount" value="@Model.LoanAmount.Value.ToString("##,#")">
                    </div>
                </div>

                <div class="form-group m-form__group row col-6 form-right">
                    <label for="example-text-input" class="col-5 col-form-label">
                        Thời gian vay:
                    </label>
                    <div class="col-7">
                        <select class="form-control cus-form-control m-select2" id="sl_LoanTime" name="LoanTime">
                            @*<!option value="1" @(Model.LoanTime == 1 ? "selected=\"selected\"" : "")>1 tháng</!option>
                                <!option value="2" @(Model.LoanTime == 2 ? "selected=\"selected\"" : "")>2 tháng</!option>
                                <!option value="3" @(Model.LoanTime == 3 ? "selected=\"selected\"" : "")>3 tháng</!option>
                                <!option value="6" @(Model.LoanTime == 6 ? "selected=\"selected\"" : "")>6 tháng</!option>*@
                            <!option value="9" @(Model.LoanTime == 9 ? "selected=\"selected\"" : "")>9 tháng</!option>
                            <!option value="12" @(Model.LoanTime == 12 ? "selected=\"selected\"" : "")>12 tháng</!option>
                            @*<!option value="18" @(Model.LoanTime == 18 ? "selected=\"selected\"" : "")>18 tháng</!option>
                                <!option value="24" @(Model.LoanTime == 24 ? "selected=\"selected\"" : "")>24 tháng</!option>*@
                        </select>
                    </div>
                </div>


                <div class="form-group m-form__group row col-6 form-left">
                    <label for="example-text-input" class="col-5 col-form-label">
                        Hình thức tính lãi:
                    </label>
                    <div class="col-7">
                        <select class="form-control cus-form-control m-select2" id="sl_RateType" name="RateType">
                            <!option value="@EnumRateType.TatToanCuoiKy.GetHashCode()" @(Model.RateTypeId == EnumRateType.TatToanCuoiKy.GetHashCode() || Model.RateTypeId == EnumRateType.RateMonthADay.GetHashCode() ? "selected=\"selected\"" : "")>Tất toán cuối kỳ</!option>
                            <!option value="@EnumRateType.DuNoGiamDan.GetHashCode()" @(Model.RateTypeId == EnumRateType.DuNoGiamDan.GetHashCode() || Model.RateTypeId == EnumRateType.RateAmortization30Days.GetHashCode() ? "selected=\"selected\"" : "")>Dư nợ giảm dần</!option>
                        </select>
                    </div>
                </div>
                <div class="form-group m-form__group row col-6 form-right">
                    <label for="example-text-input" class="col-5 col-form-label">
                        chu kỳ đóng lãi:
                    </label>
                    <div class="col-7">
                        <input class="form-control m-input" type="text" name="Frequency" value="30">
                    </div>
                </div>


                <div class="form-group m-form__group row col-6 form-left">
                    <label for="example-text-input" class="col-5 col-form-label">
                        Lãi Phí:
                    </label>
                    <div class="col-7">
                        <input class="form-control m-input inputAmountVND" type="text" id="RateMoney" value="@(Model.RateMoney.HasValue ? Model.RateMoney.Value.ToString("##,#") : "2700")">
                    </div>
                </div>




                <div class="form-group m-form__group row col-6 form-right">
                    <label for="example-text-input" class="col-5 col-form-label">
                        Phí bảo hiểm:
                    </label>
                    <div class="col-7">
                        <input class="form-control m-input" type="text" name="RateInsurrance" value="5">
                    </div>
                </div>

                <div class="form-group m-form__group row col-6 form-right">
                    <button type="button" id="btnSubmit" onclick="ToolInterestModule.Calculate(event)" class="btn btn-primary" style="background: rgba(108, 114, 147, 1);border-color: rgba(108, 114, 147, 1);width: 110px;height: 40px;margin-top: -6px;margin-left: 4%;">
                        Tính toán
                    </button>
                </div>
                <input type="hidden" name="Rate" id="Rate" />
            </div>
            <input type="hidden" value="@Model.LoanBriefId" id="LoanBriefId" name="LoanBriefId" />
        </form>

    </div>
    <div class="modal-footer col-7" style="border-top:none;display:block;">
        <div class="col-6">
            <span id="ResultMess"></span>
        </div>

    </div>

    <div class="m-portlet__body" style="margin-bottom: 1%;">
        <div class="m-datatable m-datatable--default custom-table-tima table-tima-bordered m-datatable--error m-datatable--loaded">
            <table class="m-datatable__table dtform" id="dtInterest" style="display:none;padding:0px 10px;">
                <thead class="m-datatable__head" id="GiamDan" style="display:none;">
                    <tr class="m-datatable__row" style="left: 0px;">
                        <th class="m-datatable__cell m-datatable__cell--sort"><span style="width: 100px;">Ngày bắt đầu</span></th>
                        <th class="m-datatable__cell m-datatable__cell--sort"><span style="width: 100px;">Ngày đóng lãi</span></th>
                        <th class="m-datatable__cell m-datatable__cell--sort"><span style="width: 50px;">Kỳ trả</span></th>
                        <th class="m-datatable__cell m-datatable__cell--sort"><span style="width: 80px;">Trả hàng kỳ</span></th>
                        @*<th class="m-datatable__cell m-datatable__cell--sort"><span style="width: 80px;">Làm tròn</span></th>*@
                        <th class="m-datatable__cell m-datatable__cell--sort"><span style="width: 80px;">Gốc</span></th>
                        <th class="m-datatable__cell m-datatable__cell--sort"><span style="width: 80px;">Tổng lãi phí</span></th>
                        <th class="m-datatable__cell m-datatable__cell--sort"><span style="width: 80px;">Phí tư vấn</span></th>
                        <th class="m-datatable__cell m-datatable__cell--sort"><span style="width: 80px;">Phí dịch vụ</span></th>
                        <th class="m-datatable__cell m-datatable__cell--sort"><span style="width: 80px;">Lãi</span></th>
                        <th class="m-datatable__cell m-datatable__cell--sort"><span style="width: 80px;">Gốc còn lại</span></th>
                        <th class="m-datatable__cell m-datatable__cell--sort"><span style="width: 80px;">Phạt tất toán sớm</span></th>
                        <th class="m-datatable__cell m-datatable__cell--sort"><span style="width: 80px;">Tiền tất toán</span></th>
                    </tr>
                </thead>
                <thead class="m-datatable__head" id="CuoiKy" style="display:none;">
                    <tr class="m-datatable__row" style="left: 0px;">
                        <th class="m-datatable__cell m-datatable__cell--sort"><span style="width: 100px;">Ngày bắt đầu</span></th>
                        <th class="m-datatable__cell m-datatable__cell--sort"><span style="width: 100px;">Ngày đóng lãi</span></th>
                        <th class="m-datatable__cell m-datatable__cell--sort"><span style="width: 50px;">Kỳ trả</span></th>
                        <th class="m-datatable__cell m-datatable__cell--sort"><span style="width: 80px;">Trả hàng kỳ</span></th>
                        <th class="m-datatable__cell m-datatable__cell--sort"><span style="width: 80px;">Phí tư vấn</span></th>
                        <th class="m-datatable__cell m-datatable__cell--sort"><span style="width: 80px;">Phí dịch vụ</span></th>
                        <th class="m-datatable__cell m-datatable__cell--sort"><span style="width: 80px;">Lãi</span></th>
                        <th class="m-datatable__cell m-datatable__cell--sort"><span style="width: 80px;">Phạt tất toán sớm</span></th>
                        <th class="m-datatable__cell m-datatable__cell--sort"><span style="width: 80px;">Tiền tất toán</span></th>
                    </tr>
                </thead>
                <tbody class="m-datatable__body" style="" id="dtInterestBody">
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        App.LibraryMoney();

    });

</script>