﻿@{
    Layout = null;
    ViewData["Title"] = "Đẩy đơn cho đối tác";
}
<style>
    .lender {
        opacity: inherit !important;
        font-family: Poppins, sans-serif;
        font-weight: 400;
        font-style: normal;
        color: rgb(108, 114, 147);
        font-size: 10pt;
        border: none;
        border-bottom: solid 1px;
        border-radius: 0;
    }

    #dtLender th {
        display: none;
    }

    #dtLender .m-radio {
        margin-bottom: 15px !important;
    }
</style>
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="color:#6C7293;">
            Đẩy đơn cho đối tác
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
                ×
            </span>
        </button>
    </div>
    <form id="formLender">
        <div class="m-portlet__body modal-body">

            <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                <div class="row align-items-center">
                    <div class="col-xl-12 order-2 order-xl-1">
                        <div class="form-group m-form__group row align-items-center">
                            <div class="col-md-3">
                                <div class="form-group m-form__group">
                                    <div class="m-input-icon m-input-icon--left">
                                        <input type="text" class="form-control m-input inputsearch" placeholder="Mã nhà đầu tư" id="lenderId" name="LenderCode">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="selectbox" style="width:100% !important;">
                                    <div class="form-group m-form__group">
                                        <div class="m-form__control">
                                            <select class="form-control m-select2 lender" id="filterLenderCode" name="LenderType">
                                                <option value="-1">Tất cả</option>
                                                <option value="1">Lọc Mã DT</option>
                                                <option value="2">Lọc Mã NA</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="selectbox" style="width:100% !important;">
                                    <div class="form-group m-form__group">
                                        <div class="m-form__control">
                                            <select class="form-control m-select2 lender" id="filterLenderMoney" name="HasMoney">
                                                <option value="-1">Tất cả</option>
                                                <option value="1">Nhà đầu tư có tiền trong TK</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>

            <table class="m-datatable__table dtform" width="100%" id="dtLender">
                <tbody class="m-datatable__body" style="" id="dtLenderBody">
                </tbody>
            </table>

            <div class="m-datatable__pager m-datatable--paging-loaded clearfix" id="TotalDisplay" style="display:none;">
                <div class="m-datatable__pager-info">
                    <div class="col-6" style="float:right;">
                        <select class="form-control m-input m-input--solid" id="filterPageSize" name="PageSize" style="width: 25%;border-radius: 20px;cursor: pointer;float: left;margin-left:10%;">
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="40">40</option>
                            <option value="50">50</option>
                        </select>
                        <label class="m-datatable__pager-detail" id="Total" style="float:right;margin-top:10px;"></label>
                    </div>

                    
                </div>
            </div>
        </div>
    </form>

</div>

<div class="modal-footer" style="margin-top:-4%;border-top:none;">
    <button type="button" onclick="LenderModule.PushLoanToLender();" class="btn btn-primary" style="background: rgba(108, 114, 147, 1);border-color: rgba(108, 114, 147, 1);width: 110px;height: 40px;">
        Lưu
    </button>
</div>
<input type="hidden" value="@ViewBag.LoanID" id="LoanBriefId" />
<input type="hidden" value="@ViewBag.LoanAmountFinal" id="LoanAmountFinal" />


<script src="~/js/Approve/LenderLMSModule.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>

<script type="text/javascript">
    $(document).ready(function () {
        LenderModule.Init()
    });

</script>