﻿@model List<LOS.DAL.DTOs.ReasonCancelDetail>
@{
    Layout = null;
    ViewData["Title"] = "Check CIC";
}
<style>
    #divResult {
        width: 600px !important;
    }

    span {
        font-size: 14px !important;
    }

    .col-form-label {
        font-size: 15px !important;
        font-family: Arial !important;
        color: #6C7293;
    }
</style>
<div class="modal-content">
    <div class="modal-header">
        @if (ViewBag.Type == 1)
        {
            <h5 class="modal-title" id="exampleModalLabel" style="color:#6C7293;">
                Hồ sơ vay HĐ - @ViewBag.LoanID : @ViewBag.FullName => Trả lại thẩm định viên?
            </h5>
        }
        else
        {
            <h5 class="modal-title" id="exampleModalLabel" style="color:#6C7293;">
                Hồ sơ vay HĐ - @ViewBag.LoanID : @ViewBag.FullName => Trả lại TĐTĐ?
            </h5>
        }

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
                ×
            </span>
        </button>
    </div>
    <form class="m-form m-form--fit m-form--label-align-right">
        <div class="modal-body">
            <div class="form-group row">
                @if (ViewBag.Type == 2)
                {
                    <label for="example-text-input" class="col-md-2 col-sm-12 col-form-label">Lý do chi tiết:</label>
                    <div class="col-md-10 col-sm-12">
                        <select class="form-control m-select2" id="sl_Reation" multiple="multiple">
                            @if (Model != null && Model.Count > 0)
                            {
                                <option></option>
                                foreach (var item in Model)
                                {
                                    <option value="@item.Id">@item.Reason</option>
                                }
                            }
                        </select>
                    </div>
                }
                <label for="example-text-input" class="col-md-2 col-sm-12 col-form-label">Comment:</label>
                <div class="col-md-10 col-sm-12">
                    <textarea id="content"></textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" onclick="ReturnLoan();" id="btnReturn" class="btn btn-tima">
                Trả lại
            </button>
        </div>
    </form>
</div>
<input type="hidden" value="@ViewBag.LoanID" id="LoanBriefId" />

<script src="~/ckeditor/ckeditor.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
<script>
    $(document).ready(function () {
        $("#sl_Reation").select2({
            dropdownParent: $("#modalReturnLoanBrief"),
            placeholder: "Lý do trả lại"
        });
        CKEDITOR.replace("content");
    });
    function ReturnLoan() {
        var loanBriefId = $("#LoanBriefId").val();
        //var reasonId = $("#sl_Reation").val();
        //var reation = $("#sl_Reation option:selected").text();
        var content = CKEDITOR.instances['content'].getData();


        var reasonArr = [];
        $("#sl_Reation option:selected").each(function () {
            var object = {};
            var $this = $(this);
            var selVal = $this.val();
            var selText = $this.text();
            object.reasonId = parseInt(selVal);
            object.reasonName = selText;
            reasonArr.push(object);
        });
        if (reasonArr.length <= 0 && '@ViewBag.Type' == '2') {
            App.ShowErrorNotLoad('Bạn phải chọn lý do');
            return;
        }
        var formData = {
            LoanBriefId: parseInt(loanBriefId),
            Comment: content,
            LstReason: reasonArr
        };
        ReturnLoanBriefModule.ReturnLoanPost(formData);
    }

</script>