﻿@model LOS.DAL.DTOs.UserDetail;
@{
    Layout = null;
    ViewData["Title"] = "Nhật ký khoản vay";
}
<style>
    #dtLoanNote {
        width: 100%;
        /*margin: 0 5% 0 5%;*/
        font-weight: 400;
        font-style: normal;
        color: #6C7293;
    }

        #dtLoanNote th, td {
            font-size: 13px !important;
        }

        #dtLoanNote p {
            margin: 0;
        }

    .center {
        text-align: center;
    }

    .cke_editable p {
        line-height: 0.5 !important;
    }
</style>
<input type="hidden" id="loanBriefId" value="@ViewBag.LoanBriefId">
<input type="hidden" id="locate" value="@ViewBag.Locate">
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="color:#6C7293;">
            Nhật ký HĐ-@ViewBag.LoanBriefId
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
                ×
            </span>
        </button>
    </div>
    <form class="m-form m-form--fit m-form--label-align-right">
        <div class="modal-body">
            @if (ViewBag.Locate == true)
            {
                <div class="col-md-12 col-sm-12 m--padding-bottom-25">
                    <select class="form-control cus-form-control m-select2" id="sl_locate">
                        <option value="@LOS.Common.Extensions.EnumActionComment.CommentLoanBrief.GetHashCode()">Comment thường</option>
                        <option value="@LOS.Common.Extensions.EnumActionComment.Locate.GetHashCode()">Comment định vị - Lấy được vị trí</option>
                        <option value="@LOS.Common.Extensions.EnumActionComment.NotLocate.GetHashCode()">Comment định vị - Không lấy được vị trí</option>
                    </select>
                </div>
            }
            <div class="col-md-12 col-sm-12">
                <textarea id="txtDetail"></textarea>
            </div>

            <div class="col-md-12 col-sm-12 m--padding-top-25 m--padding-bottom-25" style="text-align: end;">
                @if (Model.GroupId == LOS.Common.Extensions.EnumGroupUser.ManagerHub.GetHashCode() || Model.GroupId == LOS.Common.Extensions.EnumGroupUser.ManagerTelesales.GetHashCode() ||
              Model.GroupId == LOS.Common.Extensions.EnumGroupUser.BOD.GetHashCode())
                {
                    <a data-toggle="modal" title="File ghi âm" onclick="CommonModalJS.ViewRecordModel('#modalRecording',@ViewBag.LoanBriefId)" class="btn-action btn btn-brand m-btn m-btn--icon btn-sm m-btn--icon-only" style="width:70px;height:40px;background-color:rgba(108, 114, 147, 1);">
                        <i style="color: white; font-size: 20px;" class="fa fa-headphones"></i>
                    </a>
                }
                <button type="button" onclick="AddNote();" id="saveNote" class="btn btn-tima">
                    Thêm comment
                </button>
            </div>

            <div class="col-md-12 col-sm-12 m--padding-top-25" style="border-top: 1px solid #e9ecef;">
                <table class="m-datatable__table dtform" id="dtLoanNote" width="100%">
                </table>
            </div>
        </div>
    </form>
</div>
<script src="~/ckeditor/ckeditor.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
<script src="~/js/Approve/NoteModule.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
<script>
    $(document).ready(function () {
        var loanBriefId = $("#loanBriefId").val();
        NoteModule.Init(loanBriefId);
        $('#sl_locate').select2();
        CKEDITOR.replace("txtDetail");
    });

    function AddNote() {
        var loanBriefId = $("#loanBriefId").val();
        var content = CKEDITOR.instances['txtDetail'].getData();
        var action = $('#sl_locate').val();
        if (content == "") {
            App.ShowErrorNotLoad('Nội dung tin nhắn không được để trống');
            return;
        }

        $.ajax({
            type: "POST",
            url: "/Approve/CreateLoanNote",
            data: { LoanBriefId: loanBriefId, Content: content, Action: action },
            success: function (data) {
                if (data.status == 1) {
                    App.ShowSuccessNotLoad(data.message);
                    CKEDITOR.instances['txtDetail'].setData('');
                    NoteModule.Init(loanBriefId);
                }
                else {
                    App.ShowErrorNotLoad(data.message);
                    return;
                }
            },
            traditional: true
        });
    }
</script>
