﻿
@{
    ViewData["Title"] = "Tima Care";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <label>Hiện tại bạn chưa có khoản vay nào. Để đăng ký khoản vay, truy cập vào đường dẫn dưới đây để đăng ký khoản vay</label>
    <a href="https://vaytien.tima.vn/" target="_blank">https://vaytien.tima.vn/</a>
</div>
