﻿@model List<LOS.DAL.DTOs.LoanBriefTimaCareDTO>
@{
    ViewData["Title"] = "Thông tin khoản vay";
    Layout = "~/Views/Shared/_LayoutLoan.cshtml";
}

@if (Model != null)
{
    if (Model.Count == 1)
    {
        @await Html.PartialAsync("../Home/LoanInfo/_loanInfo.cshtml", Model)
    }
    else
    {
        @await Html.PartialAsync("../Home/LoanInfo/_lstloanInfo.cshtml", Model)
    }
}


<div class="modal fade" id="m_modal_otp" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Xác nhận ký hợp đồng
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="form-control-label">
                            Nhập mã OTP:
                        </label>
                        <input type="text" class="form-control" id="confirm-otp">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button style="margin-top: 0px !important;" id="btn_retype_otp" class="default-btn btn-retype-opt-disabled" type="button" onclick="EsignModule.RecoveOTP()" disabled="disabled">
                    Lấy lại OTP <b id="_timer">(<span id="txt_countdown_time">03:00</span>)</b>
                </button>
                <button style="margin-top: 0px !important;" class="default-btn btn-submit2" type="button" onclick="EsignModule.ConfirmSignContractBorrower(this);">
                    Xác nhận
                </button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/EsignModule.js?v=@WebTimaCare.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/ViewContractFinancialModule.js?v=@WebTimaCare.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
}



