﻿@{
    ViewData["Title"] = "Tima Care";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-md-12">
    <label class="col-md-12 text-title">
        ĐĂNG NHẬP ĐỂ HOÀN THIỆN HỒ SƠ
    </label>

    <div class="col-md-12 form-main">
        <label class="custom-label">
            SỐ ĐIỆN THOẠI
        </label>
        <input type="number" class="form-control" id="txt_phone" placeholder="Nhập số điện thoại" />
    </div>

    <div class="col-md-12 div-button">
        <button class="btn btn-lg btn-tima" onclick="LoginModule.GetOtp(this)">Đăng nhập <i id="_btn_loading"></i></button>
    </div>
</div>
@section Scripts{ 
    <script src="~/js/LoginModule.js?v=@WebTimaCare.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
}