﻿@{
    ViewData["Title"] = "Nhập OTP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <label class="col-md-12 text-title">
        ĐĂNG NHẬP ĐỂ HOÀN THIỆN HỒ SƠ
    </label>

    <div class="col-md-12 form-main">
        <label class="custom-label">
            Nhập OTP
        </label>
        <input type="number" class="form-control" id="txt_otp" name="" />
    </div>

    <div class="col-md-12 div-button">
        <button id="btn_reget_otp" class="default-btn btn-retype-opt-disabled" type="button" onclick="LoginModule.ReGetOTP()" disabled="disabled">
            Lấy lại OTP <b id="_timer">(<span id="txt_countdown_time">10:00</span>)</b>
        </button>
        <button class="btn btn-lg btn-tima" onclick="LoginModule.VerifyOtp(this)">Xác nhận  <i id="_btn_loading"></i></button>
    </div>
</div>
@section Scripts{
<script src="~/js/LoginModule.js?v=@WebTimaCare.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
<script>
    $(document).ready(function () {
        LoginModule.CaculatorTime();
    });
</script>
}