﻿@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_LayoutInner.cshtml";
}


<div class="col-md-12">
	<ul class="progressbar">
		<li class="complete"></li>
		<li class="complete"></li>
		<li class="active">Bước 3 : Upload Video</li>
	</ul>

	<div id="guide-step3">
		<p>Video có độ dài 10 giây, có thực hiện các động tác sau</p>
		<p>- Quay mặt sang bên trái</p>
		<p>- Quay mặt sang bên phải</p>
		<p>- Quay mặt lên trên</p>
	</div>

	<div id="step3-button-container">
		<div>
			<span>Chọn Video : </span>
			@*<input class="input-file" id="video-file" type="file" accept=".mp4,.mov,.webm">
			<label tabindex="0" for="video-file" class="btn input-file-trigger"><i class="fa fa-upload"></i>Tải video</label>*@
			<button class="btn btn-lg btn-small" id="video-capture"><i class="fa fa-camera"></i>Quay Video<i id="_btn_loading"></i></button>
		</div>
		@*<div id="file-container" style="display:none;">
				<p class="file-return"></p>
				<p>
					<button class="btn btn-lg btn-small" style="width:120px!important;" id="video-upload">Tải lên</button>
				</p>
			</div>*@
	</div>
	<div id="video-container">
		<video autoplay style="display:none;" id="video" muted></video>
		<div id="step3-upload-video-container" style="display:none;margin-top:10px;">
			<button class="btn btn-lg btn-small" id="btn-upload-video">Tải lên</button>
		</div>
		<div id="step3-button-video-container" style="display:none;">
			<button class="btn btn-lg btn-small grey" id="btn-begin-capture">Bắt đầu quay</button>
			<button class="btn btn-lg btn-small" id="btn-finish-capture">Hoàn thành</button>
		</div>
	</div>
</div>
@section Scripts{
	<script type="text/javascript">
		
	</script>
}