﻿@using LOS.Common.Extensions;
@{
    ViewData["Title"] = "Upload ảnh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .logo {
        padding-bottom: 0px !important;
    }

    .intro {
        font-family: 'Roboto';
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        line-height: 22px;
    }

    .div-button {
        padding: 40px 0px !important;
    }

    .btn-tima {
        font-size: 17px;
    }

    .btn-tima2 {
        font-size: 14px;
    }

    #image-content {
        padding: 30px 0px;
    }

        #image-content img {
            width: 200px;
        }

    .custom-file-input2 {
        color: transparent;
    }

        .custom-file-input2::-webkit-file-upload-button {
            visibility: hidden;
        }

        .custom-file-input2::before {
            content: 'Tải ảnh';
            color: white;
            background: #ed522e;
            display: inline-block;
            border: 1px solid #999;
            border-radius: 3px;
            padding: 5px 18px;
            outline: none;
            white-space: nowrap;
            -webkit-user-select: none;
            cursor: pointer;
            /* text-shadow: 1px 1px #fff; */
            font-weight: 700;
            font-size: 10pt;
            font-family: sans-serif;
        }

        .custom-file-input2:hover::before {
            border-color: black;
        }

        .custom-file-input2:active {
            outline: 0;
        }

    .custom-file-inpu2t:active::before {
        background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
    }
</style>
<link href="~/css/step.css" rel="stylesheet" />
<div class="container" style="padding-top: 20px;">
    <div class="row d-flex justify-content-center">
        <div class="col-md-12">
            <div class="wizard">
                <div class="wizard-inner">
                    <div class="connecting-line"></div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" aria-expanded="true" style="pointer-events: none;"><span class="round-tab"></span></a>
                        </li>
                        <li role="presentation" class="disabled">
                            <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" style="pointer-events: none;"><span class="round-tab"></span></a>
                        </li>
                        <li role="presentation" class="disabled">
                            <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" style="pointer-events: none;"><span class="round-tab"></span></a>
                        </li>
                        <li role="presentation" class="disabled">
                            <a href="#step4" data-toggle="tab" aria-controls="step4" role="tab" style="pointer-events: none;"><span class="round-tab"></span></a>
                        </li>
                    </ul>
                </div>

                <div class="tab-content" id="main_form">
                    <div class="tab-pane active" role="tabpanel" id="step1">
                        <h6 class="label-upload text-center">Upload hình ảnh CMND/CCCD</h6>
                        <hr />

                        <div class="col-md-12 left" id="font-button">
                            <div class="step-container">
                                <div>
                                    @*<span>Mặt trước : </span>*@
                                    @*<input class="input-file" style="width: 100%; top: 20px;" id="front-file" type="file" accept="image/*" onchange="UploadModule.DisplayImage(this,@TypeUploadWebTimaCare.CMND_FRONT.GetHashCode());">
                                        <label tabindex="0" class="btn input-file-trigger"><i class="fa fa-camera"></i>Chụp ảnh</label>*@
                                    <button class="btn btn-lg btn-small" onclick="UploadModule.DisplayImage2(this,@TypeUploadWebTimaCare.CMND_FRONT.GetHashCode());"><i class="fa fa-camera"></i>Chụp ảnh Mặt trước</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 left" id="back-button">
                            <div class="step-container">
                                <div>
                                    @*<span>Mặt sau : </span>*@
                                    @*<input class="input-file" style="width: 100%; top: 20px;" id="back-file" type="file" accept="image/*" onchange="UploadModule.DisplayImage(this,@TypeUploadWebTimaCare.CMND_BACK.GetHashCode());">
                                        <label tabindex="0" class="btn input-file-trigger"><i class="fa fa-camera"></i>Chụp ảnh</label>*@
                                    <button class="btn btn-lg btn-small" onclick="UploadModule.DisplayImage2(this,@TypeUploadWebTimaCare.CMND_BACK.GetHashCode());"><i class="fa fa-camera"></i>Chụp ảnh Mặt sau</button>
                                </div>
                            </div>
                        </div>

                        <input type="hidden" value="@EnumDocumentType.CMND_CCCD.GetHashCode()" id="documentId" />
                        <input type="hidden" value="@ViewBag.LoanbriefId" id="loanBriefId" />
                        <input type="hidden" value="@ViewBag.FullName" id="fullName" />
                        <input type="hidden" id="nationalCard" value="@ViewBag.NationalCard" />
                        <input type="hidden" id="typeRemarketing" value="@ViewBag.TypeRemarketing" />

                        <div class="col-md-12 left" id="image-content" style="display: none;">
                            <div class="col-md-12 left text-center" id="font-image-container" style="display:none;">
                                @*<img id="img-1" />*@
                             
                                <div id="front-container" class="preview-container">
                                    <video autoplay muted playsinline id="front" style="width: 100%; clear: both;" src="#"></video>
                                    <img src="#" id="front-image" style="display:none;width:100%;" alt="Alternate Text" />

                                    <div id="front-button-video-container">
                                        <button style="margin-top:10px;" id="front-picture" class="btn btn-lg btn-small" onclick="UploadModule.Picture(this,@TypeUploadWebTimaCare.CMND_FRONT.GetHashCode());">Chụp ảnh</button>
                                        <button style="margin-top:10px;display:none;" id="re-front-picture" class="btn btn-lg btn-small" onclick="UploadModule.DisplayImage2(this,@TypeUploadWebTimaCare.CMND_FRONT.GetHashCode());">Chụp lại</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 left text-center" id="back-image-container" style="display:none;">
                                @*<img id="img-2" />*@
                                <div id="back-container" class="preview-container">
                                    <video autoplay muted playsinline id="back" style="width:100%;clear:both;" src="#"></video>
                                    <img src="#" id="back-image" style="display:none;width:100%;" alt="Alternate Text" />

                                    <div id="back-button-video-container">
                                        <button style="margin-top:10px;" id="back-picture" class="btn btn-lg btn-small" onclick="UploadModule.Picture(this,@TypeUploadWebTimaCare.CMND_BACK.GetHashCode());">Chụp ảnh</button>
                                        <button style="margin-top:10px;display:none;" id="re-back-picture" class="btn btn-lg btn-small" onclick="UploadModule.DisplayImage2(this,@TypeUploadWebTimaCare.CMND_BACK.GetHashCode());">Chụp lại</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <ul class="list-inline pull-right">
                            <li><button type="button" class="default-btn next-step2" onclick="UploadModule.UploadFile(this);">Tiếp theo<i id="load-step1"></i></button></li>
                        </ul>
                    </div>

                    <div class="tab-pane" role="tabpanel" id="step2">
                        <h6 class="label-upload text-center">Bước 2: Ảnh chụp chân dung</h6>
                        <div id="step2-button-container" class="step-container">
                            <div>
                                @*<span>Chup ảnh : </span>
                                    <input class="input-file" id="selfie-file" type="file" accept="image/*" onchange="readURL(this)">
                                    <label tabindex="0" for="selfie-file" class="btn input-file-trigger"><i class="fa fa-upload"></i>Chọn ảnh</label>*@
                                <button type="button" class="btn btn-lg btn-small grey prev-step" style="margin-top:0px!important;">Quay lại</button>
                                <button style="margin-top:15px!important;" class="btn btn-lg btn-small" id="selfie-capture"><i class="fa fa-camera"></i>Chụp ảnh selfie</button>
                            </div>
                        </div>
                        <div id="selfie-container" class="preview-container">
                            <video autoplay muted playsinline id="selfie" src="#"></video>

                            <div id="step2-button-video-container" @*style="display:none;"*@>
                                <button class="btn btn-lg btn-small" id="take-picture">Chụp ảnh</button>
                                <button style="margin-top:15px!important;" class="btn btn-lg btn-small" id="step2-next">Tiếp theo</button>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" role="tabpanel" id="step3">
                        <h6 class="label-upload text-center">Bước 3: Upload video</h6>
                        <div id="guide-step3">
                            <p>Video có độ dài 10 giây, có thực hiện các động tác sau</p>
                            <p>- Quay mặt sang bên trái</p>
                            <p>- Quay mặt sang bên phải</p>
                            <p>- Quay mặt lên trên</p>
                        </div>
                        <div id="step3-button-container" class="step-container">
                            <div>
                                <span>Chọn Video : </span>
                                @*<input class="input-file" id="video-file" type="file" accept=".mp4,.mov,.webm">*@
                                @*<label tabindex="0" for="video-file" class="btn input-file-trigger"><i class="fa fa-upload"></i>Tải video</label>*@
                                <button class="btn btn-lg btn-small" id="video-capture"><i class="fa fa-camera"></i>Quay Video</button>
                                <button style="margin-top:15px!important;" type="button" class="btn btn-lg btn-small grey prev-step" style="margin-top:0px!important;">Quay lại</button>
                            </div>
                        </div>
                        <div id="video-container" class="preview-container">
                            <video autoplay style="display:none;" id="video" muted playsinline controls></video>
                            @*<div id="step3-upload-video-container" style="display:none;margin-top:10px;">
                                    <button class="btn btn-lg btn-small" id="btn-upload-video">Tải lên</button>
                                    <button class="btn btn-lg btn-small" id="btn-finish-upload">Hoàn thành<i id="upload-loading"></i></button>
                                </div>*@
                            <div id="step3-button-video-container" style="display:none;">
                                <button class="btn btn-lg btn-small grey" id="btn-begin-capture">Bắt đầu quay</button>
                                <button class="btn btn-lg btn-small" id="btn-finish-capture">Hoàn thành<i id="capture-loading"></i></button>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" role="tabpanel" id="step4">
                        <h6 class="label-upload text-center">Bước 4: Kết quả</h6>
                        <div>
                            Quá trình xác thực của bạn đã hoàn tất. Vui lòng <a href="~/loan-info.html">bấm vào đây</a> để tiếp tục.
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            if (@ViewBag.ReConfirm == 2) {
                var active = $('.wizard .nav-tabs li.active');
                active.next().removeClass('disabled');
                $(active).next().find('a[data-toggle="tab"]').click();
            }
        });

    </script>

    <script src="~/js/step.js"></script>
    <script src="~/js/UploadModule.js?v=@WebTimaCare.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/LivenessModule.js?v=@WebTimaCare.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
}

