﻿@{
    ViewData["Title"] = "Yêu cầu bắt buộc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #form-general
    {
        height:auto !important;
    }
    .intro {
        font-family: 'Roboto';
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        line-height: 22px;
    }

    .div-button {
        padding: 40px 0px !important;
    }
    .btn-tima {
        font-size: 17px;
    }
</style>

<div class="col-md-12">
    <label class="col-md-12 intro">
        Để khoản vay của bạn được giải ngân 1 cách sớm nhất, Tima cần bạn thực hiện các yêu cầu sau đây.
    </label>

    <ul>
        <li class="intro">Chụp ảnh CMND</li>
        <li class="intro">Chụp ảnh selfie</li>
        <li class="intro">Quay video ngắn (10 giây)</li>
    </ul>

    <label class="col-md-12 intro">
        Lưu ý: Thông tin của bạn sẽ được Tima bảo mật tuyệt đối. Những thông tin trên đây, chúng tôi sử dụng để xác thực khách hàng và giải ngân một cách sớm nhất.
    </label>

    <div class="col-md-12 div-button">
        <a href="/upload.html" class="btn btn-lg btn-tima">Bắt đầu</a>
    </div>
</div>
