﻿@{
    ViewData["Title"] = "Hợp đồng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-12">
    <div class="col-md-12 div-button">
        <button class="btn btn-lg btn-tima" onclick="ViewContractFinancialModel.GetViewContractFinancial()">Xem hợp đồng</button>
    </div>
</div>

@section Scripts{
    <script src="~/js/ViewContractFinancialModule.js?v=@WebTimaCare.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
}
