﻿@model LOS.WebApp.Models.TlsQuestionDto.CreateTlsQuestionViewModel ;
@{
    Layout = null;
}

<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
            Thông tin tài khoản
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
                &times;
            </span>
        </button>

    </div>
    <form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" id="frmCreateOrUpdateQuestion" action="/TLSQuestion/CreateOrUpdate" method="post">
        <div class="modal-body">
            <input type="hidden" name="Id" id="Id" value="@Model.TlsQuestion.Id" />
            <div class="m-portlet__body">
                <div class="form-group  row">
                    <div class="col-lg-12 m-form__group">
                        <label>
                            Câu hỏi <span class="required-red">(*)</span>
                        </label>
                        <input type="text" class="form-control m-input" value="@Model.TlsQuestion.Question" name="Question" placeholder="Câu hỏi" required>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-6 m-form__group">
                        <label>
                            Kiểu câu hỏi <span class="required-red">(*)</span>
                        </label>
                        <div class="m-input-icon m-input-icon--right">
                            <select class="form-control" name="TypeOfQuestion" id="ddl_TypeOfQuestion" required>
                                <option hidden value="" selected>Vui lòng chọn</option>
                                @{
                                    foreach (var item in Model.TypeOfQuestion)
                                    {
                                        if (item.Text == Model.TlsQuestion.TypeOfQuestion.ToString())
                                        {
                                            <option value="@item.Value" selected>@item.Text</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6 m-form__group">
                        <label>
                            Trường lưu dữ liệu <span class="required-red">(*)</span>
                        </label>
                        <div class="m-input-icon m-input-icon--right">
                            <select class="form-control" name="FieldMapping" id="ddl_FieldMapping" required>
                                <option hidden value="" selected>Vui lòng chọn</option>
                                @{
                                    foreach (var item in Model.FieldMapping)
                                    {
                                        if (item.Value == Model.TlsQuestion.FieldMapping)
                                        {
                                            <option value="@item.Value" selected>@item.Text</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-12 m-form__group">
                        <input type="hidden" name="JSonOptions" id="JSonOptions" value="@Model.TlsQuestion.JsonOptions" />
                        <label>
                            Các câu trả lời:
                        </label>
                        <div id="answer-zone-id">
                            @*<div class="form-group nopadding row col-12">
                                <div class="col-sm-12 col-md-6 m-form__group nopadding">
                                    <input type="text" class="form-control m-input" name="JSonOptionsText"  placeholder="Câu trả lời" required>
                                </div>
                                <div class="col-sm-12 col-md-6 m-form__group nopadding">
                                    <input type="text" class="form-control m-input" name="JSonOptionsValue" placeholder="Giá trị cần lưu"  required>
                                </div>
                            </div>
                            <span class="clearfix"></span>*@
                        </div>
                        <p class="clearfix"></p>
                        <input type="button" value="Thêm câu trả lời" id="btnAddNewAnswer" />
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Đóng
                </button>
                <button type="submit" class="btn btn-primary" id="btnCreateNewQuestionSave">
                    Lưu
                </button>
            </div>
        </div>
    </form>
</div>

<script src="~/js/TlsQuestion_CreateOrUpdate.js"></script>




