﻿
@{
    Layout = null;
}
@model List<LOS.DAL.DTOs.ProductDetail>
    <style>
        #sl_productId {
            pointer-events: auto;
        }
    </style> 
    <select class="form-control" id="sl_productId" name="productId">
        <option value="0">Chọn xe</option>
        @if (Model != null && Model.Count > 0)
        {
            foreach (var item in Model)
            {
                <option value="@item.Id">@item.Name</option>
            }
        }
    </select>

    <script type="text/javascript">
    $(document).ready(function () {
        ProductModule.Init();
    });
    </script>