﻿@{
    ViewData["Title"] = "Quản lý giá xe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/form.css?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS" rel="stylesheet" />
<style>

    #tableMenu tbody {
        padding: 0 !important;
    }

    #linkName:hover {
        text-decoration: none !important;
    }

    .marginleft {
        margin-left: 25px;
    }

    .custom-table-tima > .m-datatable__table > .m-datatable__head .m-datatable__row {
        height: 50px !important;
    }

    .m-portlet .m-portlet__body {
        padding: 0rem 2.2rem;
    }

    .form-group {
        margin-bottom: 0px;
    }

    .m-portlet .m-portlet__body {
        padding-bottom: 20px;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        position: relative;
        padding: 0.65rem 0rem;
        line-height: 1.25;
    }
</style>
<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Danh sách xe
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <!--begin: Search Form -->
            <div class="m-form m-form--label-align-right m--margin-bottom-10">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <div class="col-lg-3 col-md-6 col-sm-12" style="padding: 10px;">
                                <div class="m-input-icon m-input-icon--left">
                                    <input type="text" class="form-control m-input inputsearch" placeholder="Nhập tên xe" id="filterSearch">
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-12 col-sm-12" style="padding: 10px; text-align: end;">
                                <div class="m-form__control">
                                    <a id="btnCreate" href="javascript:;" class="btn btn-tima" onclick="ProductManageModule.loadInforCar(0)">
                                        Thêm mới xe
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end: Search Form -->
            <hr style="color: #333333;" />
            <table class="m-datatable__table dtform" width="100%" id="tbManagePriceCar"></table>
        </div>
    </div>
</div>
<partial name="~/Views/Products/Partial/_create_car.cshtml" />
@section Scripts
    {
    <script src="~/js/Product/manage_price_car.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            ProductManageModule.Init();
            App.LibraryMoney();
        });
    </script>
}
