﻿@{
    Layout = null;
}
<div class="modal fade" id="modal_change_boundtelesale" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="header_change_boundtelesale"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form class="m-form m-form--fit m-form--label-align-right">
                <div class="modal-body">
                    <input type="hidden" id="hdd_LoanBriefId" name="LoanBriefId" value="" />
                    <input type="hidden" id="hdd_BoundTelesaleIdOld" name="BoundTelesaleIdOld" value="" />
                    <input type="hidden" id="hdd_BoundTelesaleNameOld" name="BoundTelesaleNameOld" value="" />
                    <input type="hidden" id="hdd_TelesaleName" name="TelesaleName" value="" />
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label for="example-text-input" class="col-form-label">Chọn Team <span class="m-font-danger">*</span></label>
                            <select class="form-control m-input m-select2" name="TeamTelesales" id="sl_TeamTelesales" onchange="DisbursementContractModule.GetTelesalesByTeam(this.value)">
                                <option></option>
                            </select>
                        </div>
                        <div class="col-md-12">
                            <label for="example-text-input" class="col-form-label">Chọn Telesales <span class="m-font-danger">*</span></label>
                            <select class="form-control m-input m-select2" name="TelesaleId" id="sl_TelesaleId">
                                <option></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-tima-default" data-dismiss="modal">
                        Đóng
                    </button>
                    <button type="button" class="btn btn-tima" onclick="DisbursementContractModule.SaveChangeTelesales(this)">
                        Lưu lại
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>