﻿@model List<LOS.DAL.DTOs.DocumentTypeNew>
@{
    ViewData["Title"] = "GetDocByProduct";
    Layout = null;
}

<ul>
    @if (Model != null && Model.Count > 0)
    {
        foreach (var item in Model)
        {
            <li>
                @if (item.LstDocumentChild != null && item.LstDocumentChild.Count > 0)
                {
                    <a data-toggle="tab" href="javascript:;">
                        @item.Name
                    </a>
                }
                else
                {
                    <a onclick="ConfigDocument.ShowConfid(@item.Id)" href="javascript:;">
                        @item.Name
                    </a>
                }
                @if (item.LstDocumentChild != null)
                {
                    <ul>
                        @foreach (var itemChild in item.LstDocumentChild)
                        {
                            <li data-jstree='{ "selected" : true }'>
                                <a href="javascript:;" onclick="ConfigDocument.ShowConfid(@itemChild.Id)">
                                    @itemChild.Name
                                </a>
                            </li>                           
                        }
                    </ul>
                }
            </li>
        }
    }
</ul>

