﻿@model IEnumerable<LOS.DAL.DTOs.DocumentMapConfig>
@{
    Layout = null;
    var lstProduct = ViewBag.ListProduct as List<LOS.DAL.EntityFramework.LoanProduct>;
    var DataModel = ViewBag.ListData as List<LOS.DAL.DTOs.DocumentMapConfig>;
}
@using LOS.Common.Extensions;
<style>
    .fix-width-15 {
        width: 15% !important;
        padding: 0px 10px;
    }

    .fix-width-10 {
        width: 10% !important;
        padding: 0px 10px;
    }

    #m_tree_1 ul li {
        list-style: none;
    }
</style>

<div class="m-portlet m-portlet--tab" id="m_tree_1" style="margin-bottom: 15px !important;">
    <div class="m-portlet__head" style="height:0!important">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <div style="margin: 15px 5px;">
                    <i class="la la-gear">Cấu hình danh mục chứng từ</i>
                </div>
            </div>
        </div>
    </div>
    <div class="m-portlet__body">
        <div class="tree-demo">
            <div>
                @if (DataModel != null && DataModel.Count > 0)
                {
                    var index = 0;
                    foreach (var item in DataModel)
                    {
                        <li style=" list-style-type: none;">
                            <div class="col-12" style="font-weight:bold;">
                                @*<span><label class="m-checkbox m-checkbox--single m-checkbox--all m-checkbox--solid m-checkbox--brand"><input type="checkbox" value="@item.Id" name="checkbox"><span></span></label></span>*@
                                <label class="m-checkbox m-checkbox--success" style="margin-bottom: 15px;">
                                    <input type="checkbox" name="listDataForm[@index].IsChecked" value="true" @(item.IsChecked != null && item.IsChecked == true ? "checked" : "")>
                                    <span></span>
                                </label>
                                @item.Name
                                <input type="hidden" name="listDataForm[@index].Id" value="@item.Id" />
                                <input type="hidden" name="listDataForm[@index].ParentId" value="@item.ParentId" />
                                <input type="hidden" name="listDataForm[@index].ConfigDocument.ProductId" value="@ViewBag.ProductId" />
                                <input type="hidden" name="listDataForm[@index].ConfigDocument.TypeOwnerShip" value="@ViewBag.TypeOwnerShip" />
                                <input type="hidden" name="listDataForm[@index].ConfigDocument.Id" value="@(item.ConfigDocument != null ? item.ConfigDocument.Id : 0)" />
                            </div>

                            <div class="col-12" style="padding: 5px 0px;">
                                <div class="form-group m-form__group row">
                                    <div class="col-2">
                                        <select class="form-control m-input m-select2 slb_source_upload" multiple name="listDataForm[@index].ListAllowFromUpload">
                                            <option>Cho phép upload</option>
                                            <!option value="@((int)EnumSourceUpload.Web)" @(item.ConfigDocument != null && item.ConfigDocument.AllowFromUpload != null && item.ConfigDocument.AllowFromUpload.Contains(EnumSourceUpload.Web.GetHashCode().ToString()) ? "selected=\"selected\"" : "")>
                                                @LOS.Common.Helpers.ExtentionHelper.GetDescription(EnumSourceUpload.Web)
                                            </!option>
                                            <!option value="@((int)EnumSourceUpload.Mobile)" @(item.ConfigDocument != null && item.ConfigDocument.AllowFromUpload != null && item.ConfigDocument.AllowFromUpload.Contains(EnumSourceUpload.Mobile.GetHashCode().ToString()) ? "selected=\"selected\"" : "")>
                                                @LOS.Common.Helpers.ExtentionHelper.GetDescription(EnumSourceUpload.Mobile)
                                            </!option>

                                            <!option value="@((int)EnumSourceUpload.TimaCare)" @(item.ConfigDocument != null && item.ConfigDocument.AllowFromUpload != null && item.ConfigDocument.AllowFromUpload.Contains(EnumSourceUpload.TimaCare.GetHashCode().ToString()) ? "selected=\"selected\"" : "")>
                                                @LOS.Common.Helpers.ExtentionHelper.GetDescription(EnumSourceUpload.TimaCare)
                                            </!option>

                                        </select>
                                    </div>
                                    <div class="col-1">
                                        <input type="number" class="form-control m-input inputsearch" value="@(item.ConfigDocument != null && item.ConfigDocument.MinImage != null ? item.ConfigDocument.MinImage : 0 !)" name="listDataForm[@index].ConfigDocument.MinImage" placeholder="Số ảnh tối thiểu">
                                    </div>
                                    <div class="col-1">
                                        <div class="m-checkbox-list">
                                            <label class="m-checkbox m-checkbox--success">
                                                <input type="checkbox" @(item.ConfigDocument != null && item.ConfigDocument.Required != null && item.ConfigDocument.Required == true ? "checked=\"checked\"" : "") value="true" name="listDataForm[@index].ConfigDocument.Required">
                                                Bắt buộc
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <select class="form-control m-input m-select2 slb_TypeRequired" name="listDataForm[@index].ConfigDocument.TypeRequired">
                                            <option>Loại bắt buộc</option>
                                            <!option value="@((int)EnumTypeRequired.Full)" @(item.ConfigDocument != null && item.ConfigDocument.TypeRequired != null && item.ConfigDocument.TypeRequired == (int)EnumTypeRequired.Full ? "selected=\"selected\"" : "")>
                                                @LOS.Common.Helpers.ExtentionHelper.GetDescription(EnumTypeRequired.Full)
                                            </!option>
                                            <!option value="@((int)EnumTypeRequired.Or)" @(item.ConfigDocument != null && item.ConfigDocument.TypeRequired != null && item.ConfigDocument.TypeRequired == (int)EnumTypeRequired.Or ? "selected=\"selected\"" : "")>
                                                @LOS.Common.Helpers.ExtentionHelper.GetDescription(EnumTypeRequired.Or)
                                            </!option>

                                        </select>
                                    </div>
                                    <div class="col-2">
                                        <select class="form-control m-input m-select2 slb_groupJob" multiple name="listDataForm[@index].ListGroupJobId">
                                            <option>Chọn nhóm công việc</option>
                                            <!option value="@((int)EnumWorkRuleType.LamThueLuongChuyenKhoan)" @(item.ConfigDocument != null && item.ConfigDocument.GroupJobId != null && item.ConfigDocument.GroupJobId.Contains(EnumWorkRuleType.LamThueLuongChuyenKhoan.GetHashCode().ToString()) ? "selected=\"selected\"" : "")>
                                                @LOS.Common.Helpers.ExtentionHelper.GetDescription(EnumWorkRuleType.LamThueLuongChuyenKhoan)
                                            </!option>

                                            <!option value="@((int)EnumWorkRuleType.LuongTienMatCoBHXH)" @(item.ConfigDocument != null && item.ConfigDocument.GroupJobId != null && item.ConfigDocument.GroupJobId.Contains(EnumWorkRuleType.LuongTienMatCoBHXH.GetHashCode().ToString()) ? "selected=\"selected\"" : "")>
                                                @LOS.Common.Helpers.ExtentionHelper.GetDescription(EnumWorkRuleType.LuongTienMatCoBHXH)
                                            </!option>

                                            <!option value="@((int)EnumWorkRuleType.LuongTienMatKhongBHXH)" @(item.ConfigDocument != null && item.ConfigDocument.GroupJobId != null && item.ConfigDocument.GroupJobId.Contains(EnumWorkRuleType.LuongTienMatKhongBHXH.GetHashCode().ToString()) ? "selected=\"selected\"" : "")>
                                                @LOS.Common.Helpers.ExtentionHelper.GetDescription(EnumWorkRuleType.LuongTienMatKhongBHXH)
                                            </!option>

                                            <!option value="@((int)EnumWorkRuleType.KinhDoanhCoDangKy)" @(item.ConfigDocument != null && item.ConfigDocument.GroupJobId != null && item.ConfigDocument.GroupJobId.Contains(EnumWorkRuleType.KinhDoanhCoDangKy.GetHashCode().ToString()) ? "selected=\"selected\"" : "")>
                                                @LOS.Common.Helpers.ExtentionHelper.GetDescription(EnumWorkRuleType.KinhDoanhCoDangKy)
                                            </!option>

                                            <!option value="@((int)EnumWorkRuleType.KinhDoanhKhongDangKy)" @(item.ConfigDocument != null && item.ConfigDocument.GroupJobId != null && item.ConfigDocument.GroupJobId.Contains(EnumWorkRuleType.KinhDoanhKhongDangKy.GetHashCode().ToString()) ? "selected=\"selected\"" : "")>
                                                @LOS.Common.Helpers.ExtentionHelper.GetDescription(EnumWorkRuleType.KinhDoanhKhongDangKy)
                                            </!option>
                                            <!option value="@((int)EnumWorkRuleType.GrabShipper)" @(item.ConfigDocument != null && item.ConfigDocument.GroupJobId != null && item.ConfigDocument.GroupJobId.Contains(EnumWorkRuleType.GrabShipper.GetHashCode().ToString()) ? "selected=\"selected\"" : "")>
                                                @LOS.Common.Helpers.ExtentionHelper.GetDescription(EnumWorkRuleType.GrabShipper)
                                            </!option>

                                            <!option value="@((int)EnumWorkRuleType.LaoDongTuDo)" @(item.ConfigDocument != null && item.ConfigDocument.GroupJobId != null && item.ConfigDocument.GroupJobId.Contains(EnumWorkRuleType.LaoDongTuDo.GetHashCode().ToString()) ? "selected=\"selected\"" : "")>
                                                @LOS.Common.Helpers.ExtentionHelper.GetDescription(EnumWorkRuleType.LaoDongTuDo)
                                            </!option>
                                        </select>
                                    </div>
                                    <div class="col-1">
                                        <input type="number" class="form-control m-input inputsearch" value="@(item.ConfigDocument != null && item.ConfigDocument.Sort != null ? item.ConfigDocument.Sort : 0 !)" name="listDataForm[@index].ConfigDocument.Sort" placeholder="Thứ tự hiển thị">
                                    </div>
                                </div>
                            </div>

                            @if (item.LstDocumentChild != null)
                            {
                                <ul>
                                    @foreach (var itemChild in item.LstDocumentChild)
                                    {
                                        index++;
                                        <li data-jstree='{ "selected" : true }'>
                                            <div class="col-12" style="font-weight:bold;">
                                                <label class="m-checkbox m-checkbox--success" style="margin-bottom: 15px;">
                                                    <input name="listDataForm[@index].IsChecked" type="checkbox" value="true" @(itemChild.IsChecked != null && itemChild.IsChecked == true ? "checked=\"checked\"" : "")>
                                                    <span></span>
                                                </label>
                                                @itemChild.Name
                                                <input type="hidden" name="listDataForm[@index].Id" value="@itemChild.Id" />
                                                <input type="hidden" name="listDataForm[@index].ParentId" value="@itemChild.ParentId" />
                                                <input type="hidden" name="listDataForm[@index].ConfigDocument.ProductId" value="@ViewBag.ProductId" />
                                                <input type="hidden" name="listDataForm[@index].ConfigDocument.TypeOwnerShip" value="@ViewBag.TypeOwnerShip" />
                                                <input type="hidden" name="listDataForm[@index].ConfigDocument.Id" value="@(itemChild.ConfigDocument != null ? itemChild.ConfigDocument.Id : 0)" />
                                            </div>
                                            <div class="col-12" style="padding: 5px 0px;">
                                                <div class="form-group m-form__group row">
                                                    <div class="col-2">
                                                        <select class="form-control m-input m-select2 slb_source_upload" multiple name="listDataForm[@index].ListAllowFromUpload">
                                                            <option>Cho phép upload</option>
                                                            <!option value="@((int)EnumSourceUpload.Web)" @(itemChild.ConfigDocument != null && itemChild.ConfigDocument.AllowFromUpload != null && itemChild.ConfigDocument.AllowFromUpload.Contains(EnumSourceUpload.Web.GetHashCode().ToString()) ? "selected=\"selected\"" : "")>
                                                                @LOS.Common.Helpers.ExtentionHelper.GetDescription(EnumSourceUpload.Web)
                                                            </!option>
                                                            <!option value="@((int)EnumSourceUpload.Mobile)" @(itemChild.ConfigDocument != null && itemChild.ConfigDocument.AllowFromUpload != null && itemChild.ConfigDocument.AllowFromUpload.Contains(EnumSourceUpload.Mobile.GetHashCode().ToString()) ? "selected=\"selected\"" : "")>
                                                                @LOS.Common.Helpers.ExtentionHelper.GetDescription(EnumSourceUpload.Mobile)
                                                            </!option>

                                                            <!option value="@((int)EnumSourceUpload.TimaCare)" @(itemChild.ConfigDocument != null && itemChild.ConfigDocument.AllowFromUpload != null && itemChild.ConfigDocument.AllowFromUpload.Contains(EnumSourceUpload.TimaCare.GetHashCode().ToString()) ? "selected=\"selected\"" : "")>
                                                                @LOS.Common.Helpers.ExtentionHelper.GetDescription(EnumSourceUpload.TimaCare)
                                                            </!option>

                                                        </select>
                                                    </div>
                                                    <div class="col-1">
                                                        <input type="number" class="form-control m-input inputsearch" value="@(itemChild.ConfigDocument != null && itemChild.ConfigDocument.MinImage != null ? itemChild.ConfigDocument.MinImage : 0 !)" name="listDataForm[@index].ConfigDocument.MinImage" placeholder="Số ảnh tối thiểu">
                                                    </div>
                                                    <div class="col-1">
                                                        <div class="m-checkbox-list">
                                                            <label class="m-checkbox m-checkbox--success">
                                                                <input type="checkbox" @(itemChild.ConfigDocument != null && itemChild.ConfigDocument.Required != null && itemChild.ConfigDocument.Required == true ? "checked=\"checked\"" : "") value="true" name="listDataForm[@index].ConfigDocument.Required">
                                                                Bắt buộc
                                                                <span></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-2">
                                                        <select class="form-control m-input m-select2 slb_TypeRequired" name="listDataForm[@index].ConfigDocument.TypeRequired">
                                                            <option>Loại bắt buộc</option>
                                                            <!option value="@((int)EnumTypeRequired.Full)" @(itemChild.ConfigDocument != null && itemChild.ConfigDocument.TypeRequired != null && itemChild.ConfigDocument.TypeRequired == (int)EnumTypeRequired.Full ? "selected=\"selected\"" : "")>
                                                                @LOS.Common.Helpers.ExtentionHelper.GetDescription(EnumTypeRequired.Full)
                                                            </!option>
                                                            <!option value="@((int)EnumTypeRequired.Or)" @(itemChild.ConfigDocument != null && itemChild.ConfigDocument.TypeRequired != null && itemChild.ConfigDocument.TypeRequired == (int)EnumTypeRequired.Or ? "selected=\"selected\"" : "")>
                                                                @LOS.Common.Helpers.ExtentionHelper.GetDescription(EnumTypeRequired.Or)
                                                            </!option>

                                                        </select>
                                                    </div>
                                                    <div class="col-2">
                                                        <select class="form-control m-input m-select2 slb_groupJob" multiple name="listDataForm[@index].ListGroupJobId">
                                                            <option>Chọn nhóm công việc</option>
                                                            <!option value="@((int)EnumWorkRuleType.LamThueLuongChuyenKhoan)" @(itemChild.ConfigDocument != null && itemChild.ConfigDocument.GroupJobId != null && itemChild.ConfigDocument.GroupJobId.Contains(EnumWorkRuleType.LamThueLuongChuyenKhoan.GetHashCode().ToString()) ? "selected=\"selected\"" : "")>
                                                                @LOS.Common.Helpers.ExtentionHelper.GetDescription(EnumWorkRuleType.LamThueLuongChuyenKhoan)
                                                            </!option>

                                                            <!option value="@((int)EnumWorkRuleType.LuongTienMatCoBHXH)" @(itemChild.ConfigDocument != null && itemChild.ConfigDocument.GroupJobId != null && itemChild.ConfigDocument.GroupJobId.Contains(EnumWorkRuleType.LuongTienMatCoBHXH.GetHashCode().ToString()) ? "selected=\"selected\"" : "")>
                                                                @LOS.Common.Helpers.ExtentionHelper.GetDescription(EnumWorkRuleType.LuongTienMatCoBHXH)
                                                            </!option>

                                                            <!option value="@((int)EnumWorkRuleType.LuongTienMatKhongBHXH)" @(itemChild.ConfigDocument != null && itemChild.ConfigDocument.GroupJobId != null && itemChild.ConfigDocument.GroupJobId.Contains(EnumWorkRuleType.LuongTienMatKhongBHXH.GetHashCode().ToString()) ? "selected=\"selected\"" : "")>
                                                                @LOS.Common.Helpers.ExtentionHelper.GetDescription(EnumWorkRuleType.LuongTienMatKhongBHXH)
                                                            </!option>

                                                            <!option value="@((int)EnumWorkRuleType.KinhDoanhCoDangKy)" @(itemChild.ConfigDocument != null && itemChild.ConfigDocument.GroupJobId != null && itemChild.ConfigDocument.GroupJobId.Contains(EnumWorkRuleType.KinhDoanhCoDangKy.GetHashCode().ToString()) ? "selected=\"selected\"" : "")>
                                                                @LOS.Common.Helpers.ExtentionHelper.GetDescription(EnumWorkRuleType.KinhDoanhCoDangKy)
                                                            </!option>

                                                            <!option value="@((int)EnumWorkRuleType.KinhDoanhKhongDangKy)" @(itemChild.ConfigDocument != null && itemChild.ConfigDocument.GroupJobId != null && itemChild.ConfigDocument.GroupJobId.Contains(EnumWorkRuleType.KinhDoanhKhongDangKy.GetHashCode().ToString()) ? "selected=\"selected\"" : "")>
                                                                @LOS.Common.Helpers.ExtentionHelper.GetDescription(EnumWorkRuleType.KinhDoanhKhongDangKy)
                                                            </!option>
                                                            <!option value="@((int)EnumWorkRuleType.GrabShipper)" @(itemChild.ConfigDocument != null && itemChild.ConfigDocument.GroupJobId != null && itemChild.ConfigDocument.GroupJobId.Contains(EnumWorkRuleType.GrabShipper.GetHashCode().ToString()) ? "selected=\"selected\"" : "")>
                                                                @LOS.Common.Helpers.ExtentionHelper.GetDescription(EnumWorkRuleType.GrabShipper)
                                                            </!option>

                                                            <!option value="@((int)EnumWorkRuleType.LaoDongTuDo)" @(itemChild.ConfigDocument != null && itemChild.ConfigDocument.GroupJobId != null && itemChild.ConfigDocument.GroupJobId.Contains(EnumWorkRuleType.LaoDongTuDo.GetHashCode().ToString()) ? "selected=\"selected\"" : "")>
                                                                @LOS.Common.Helpers.ExtentionHelper.GetDescription(EnumWorkRuleType.LaoDongTuDo)
                                                            </!option>
                                                        </select>
                                                    </div>
                                                    <div class="col-1">
                                                        <input type="number" class="form-control m-input inputsearch" value="@(itemChild.ConfigDocument != null && itemChild.ConfigDocument.Sort != null ? itemChild.ConfigDocument.Sort : 0 !)" name="listDataForm[@index].ConfigDocument.Sort" placeholder="Thứ tự hiển thị">
                                                    </div>
                                                </div>
                                            </div>


                                            @if (itemChild.LstDocumentChild != null && itemChild.LstDocumentChild.Count > 0)
                                            {

                                                <ul>
                                                    @foreach (var itemChild2 in itemChild.LstDocumentChild)
                                                    {
                                                        index++;
                                                        <li data-jstree='{ "selected" : true }'>
                                                            <div class="col-12" style="font-weight:bold;">
                                                                <label class="m-checkbox m-checkbox--success" style="margin-bottom: 15px;">
                                                                    <input name="listDataForm[@index].IsChecked" type="checkbox" value="true" @(itemChild2.IsChecked != null && itemChild2.IsChecked == true ? "checked=\"checked\"" : "")>
                                                                    <span></span>
                                                                </label>
                                                                @itemChild2.Name
                                                                <input type="hidden" name="listDataForm[@index].Id" value="@itemChild2.Id" />
                                                                <input type="hidden" name="listDataForm[@index].ParentId" value="@itemChild2.ParentId" />
                                                                <input type="hidden" name="listDataForm[@index].ConfigDocument.ProductId" value="@ViewBag.ProductId" />
                                                                <input type="hidden" name="listDataForm[@index].ConfigDocument.TypeOwnerShip" value="@ViewBag.TypeOwnerShip" />
                                                                <input type="hidden" name="listDataForm[@index].ConfigDocument.Id" value="@(itemChild2.ConfigDocument != null ? itemChild2.ConfigDocument.Id : 0)" />
                                                            </div>
                                                            <div class="col-12" style="padding: 5px 0px;">
                                                                <div class="form-group m-form__group row">
                                                                    <div class="col-2">
                                                                        <select class="form-control m-input m-select2 slb_source_upload" multiple name="listDataForm[@index].ListAllowFromUpload">
                                                                            <option>Cho phép upload</option>
                                                                            <!option value="@((int)EnumSourceUpload.Web)" @(itemChild2.ConfigDocument != null && itemChild2.ConfigDocument.AllowFromUpload != null && itemChild2.ConfigDocument.AllowFromUpload.Contains(EnumSourceUpload.Web.GetHashCode().ToString()) ? "selected=\"selected\"" : "")>
                                                                                @LOS.Common.Helpers.ExtentionHelper.GetDescription(EnumSourceUpload.Web)
                                                                            </!option>
                                                                            <!option value="@((int)EnumSourceUpload.Mobile)" @(itemChild2.ConfigDocument != null && itemChild2.ConfigDocument.AllowFromUpload != null && itemChild2.ConfigDocument.AllowFromUpload.Contains(EnumSourceUpload.Mobile.GetHashCode().ToString()) ? "selected=\"selected\"" : "")>
                                                                                @LOS.Common.Helpers.ExtentionHelper.GetDescription(EnumSourceUpload.Mobile)
                                                                            </!option>

                                                                            <!option value="@((int)EnumSourceUpload.TimaCare)" @(itemChild2.ConfigDocument != null && itemChild2.ConfigDocument.AllowFromUpload != null && itemChild2.ConfigDocument.AllowFromUpload.Contains(EnumSourceUpload.TimaCare.GetHashCode().ToString()) ? "selected=\"selected\"" : "")>
                                                                                @LOS.Common.Helpers.ExtentionHelper.GetDescription(EnumSourceUpload.TimaCare)
                                                                            </!option>

                                                                        </select>
                                                                    </div>
                                                                    <div class="col-1">
                                                                        <input type="number" class="form-control m-input inputsearch" value="@(itemChild2.ConfigDocument != null && itemChild2.ConfigDocument.MinImage != null ? itemChild2.ConfigDocument.MinImage : 0 !)" name="listDataForm[@index].ConfigDocument.MinImage" placeholder="Số ảnh tối thiểu">
                                                                    </div>
                                                                    <div class="col-1">
                                                                        <div class="m-checkbox-list">
                                                                            <label class="m-checkbox m-checkbox--success">
                                                                                <input type="checkbox" @(itemChild2.ConfigDocument != null && itemChild2.ConfigDocument.Required != null && itemChild2.ConfigDocument.Required == true ? "checked=\"checked\"" : "") value="true" name="listDataForm[@index].ConfigDocument.Required">
                                                                                Bắt buộc
                                                                                <span></span>
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-2">
                                                                        <select class="form-control m-input m-select2 slb_TypeRequired" name="listDataForm[@index].ConfigDocument.TypeRequired">
                                                                            <option>Loại bắt buộc</option>
                                                                            <!option value="@((int)EnumTypeRequired.Full)" @(itemChild2.ConfigDocument != null && itemChild2.ConfigDocument.TypeRequired != null && itemChild2.ConfigDocument.TypeRequired == (int)EnumTypeRequired.Full ? "selected=\"selected\"" : "")>
                                                                                @LOS.Common.Helpers.ExtentionHelper.GetDescription(EnumTypeRequired.Full)
                                                                            </!option>
                                                                            <!option value="@((int)EnumTypeRequired.Or)" @(itemChild2.ConfigDocument != null && itemChild2.ConfigDocument.TypeRequired != null && itemChild2.ConfigDocument.TypeRequired == (int)EnumTypeRequired.Or ? "selected=\"selected\"" : "")>
                                                                                @LOS.Common.Helpers.ExtentionHelper.GetDescription(EnumTypeRequired.Or)
                                                                            </!option>

                                                                        </select>
                                                                    </div>
                                                                    <div class="col-2">
                                                                        <select class="form-control m-input m-select2 slb_groupJob" multiple name="listDataForm[@index].ListGroupJobId">
                                                                            <option>Chọn nhóm công việc</option>
                                                                            <!option value="@((int)EnumWorkRuleType.LamThueLuongChuyenKhoan)" @(itemChild2.ConfigDocument != null && itemChild2.ConfigDocument.GroupJobId != null && itemChild2.ConfigDocument.GroupJobId.Contains(EnumWorkRuleType.LamThueLuongChuyenKhoan.GetHashCode().ToString()) ? "selected=\"selected\"" : "")>
                                                                                @LOS.Common.Helpers.ExtentionHelper.GetDescription(EnumWorkRuleType.LamThueLuongChuyenKhoan)
                                                                            </!option>

                                                                            <!option value="@((int)EnumWorkRuleType.LuongTienMatCoBHXH)" @(itemChild2.ConfigDocument != null && itemChild2.ConfigDocument.GroupJobId != null && itemChild2.ConfigDocument.GroupJobId.Contains(EnumWorkRuleType.LuongTienMatCoBHXH.GetHashCode().ToString()) ? "selected=\"selected\"" : "")>
                                                                                @LOS.Common.Helpers.ExtentionHelper.GetDescription(EnumWorkRuleType.LuongTienMatCoBHXH)
                                                                            </!option>

                                                                            <!option value="@((int)EnumWorkRuleType.LuongTienMatKhongBHXH)" @(itemChild2.ConfigDocument != null && itemChild2.ConfigDocument.GroupJobId != null && itemChild2.ConfigDocument.GroupJobId.Contains(EnumWorkRuleType.LuongTienMatKhongBHXH.GetHashCode().ToString()) ? "selected=\"selected\"" : "")>
                                                                                @LOS.Common.Helpers.ExtentionHelper.GetDescription(EnumWorkRuleType.LuongTienMatKhongBHXH)
                                                                            </!option>

                                                                            <!option value="@((int)EnumWorkRuleType.KinhDoanhCoDangKy)" @(itemChild2.ConfigDocument != null && itemChild2.ConfigDocument.GroupJobId != null && itemChild2.ConfigDocument.GroupJobId.Contains(EnumWorkRuleType.KinhDoanhCoDangKy.GetHashCode().ToString()) ? "selected=\"selected\"" : "")>
                                                                                @LOS.Common.Helpers.ExtentionHelper.GetDescription(EnumWorkRuleType.KinhDoanhCoDangKy)
                                                                            </!option>

                                                                            <!option value="@((int)EnumWorkRuleType.KinhDoanhKhongDangKy)" @(itemChild2.ConfigDocument != null && itemChild2.ConfigDocument.GroupJobId != null && itemChild2.ConfigDocument.GroupJobId.Contains(EnumWorkRuleType.KinhDoanhKhongDangKy.GetHashCode().ToString()) ? "selected=\"selected\"" : "")>
                                                                                @LOS.Common.Helpers.ExtentionHelper.GetDescription(EnumWorkRuleType.KinhDoanhKhongDangKy)
                                                                            </!option>
                                                                            <!option value="@((int)EnumWorkRuleType.GrabShipper)" @(itemChild2.ConfigDocument != null && itemChild2.ConfigDocument.GroupJobId != null && itemChild2.ConfigDocument.GroupJobId.Contains(EnumWorkRuleType.GrabShipper.GetHashCode().ToString()) ? "selected=\"selected\"" : "")>
                                                                                @LOS.Common.Helpers.ExtentionHelper.GetDescription(EnumWorkRuleType.GrabShipper)
                                                                            </!option>
                                                                            <!option value="@((int)EnumWorkRuleType.LaoDongTuDo)" @(itemChild2.ConfigDocument != null && itemChild2.ConfigDocument.GroupJobId != null && itemChild2.ConfigDocument.GroupJobId.Contains(EnumWorkRuleType.LaoDongTuDo.GetHashCode().ToString()) ? "selected=\"selected\"" : "")>
                                                                                @LOS.Common.Helpers.ExtentionHelper.GetDescription(EnumWorkRuleType.LaoDongTuDo)
                                                                            </!option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="col-1">
                                                                        <input type="number" class="form-control m-input inputsearch" value="@(itemChild2.ConfigDocument != null && itemChild2.ConfigDocument.Sort != null ? itemChild2.ConfigDocument.Sort : 0 !)" name="listDataForm[@index].ConfigDocument.Sort" placeholder="Thứ tự hiển thị">
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </li>

                                                    }
                                                </ul>
                                            }
                                        </li>


                                    }
                                </ul>
                            }


                        </li>
                        index++;
                    }
                }
            </div>
        </div>
    </div>

</div>
<div class="m-portlet__foot m-portlet__foot--fit">
    <div class="m-form__actions">
        <div class="row" style="float: right;">

            <button type="button" class="btn btn-tima" onclick="ConfigDocument.AddConfig(this,event);">
                Lưu lại
            </button>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $(".slb_groupJob").select2({
            placeholder: "Chọn nhóm công việc",
            width: '100%'
        });
        $(".slb_source_upload").select2({
            placeholder: "Chọn nguồn upload",
            width: '100%'
        });
        $(".slb_TypeRequired").select2({
            placeholder: "Loại bắt buộc",
            width: '100%'
        });

    });
</script>