﻿@model List<LOS.DAL.EntityFramework.LoanProduct>
@{
    ViewData["Title"] = "Cấu hình chứng từ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="/assets/vendors/base/vendors.bundle.css" rel="stylesheet" type="text/css" />
<link href="/assets/demo/default/base/style.bundle.css" rel="stylesheet" type="text/css" />
@*@await Component.InvokeAsync("Breadcrumb", new { ModuleName = "USER_MANAGER" })*@
<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Cấu hình chứng từ
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <!--begin: Search Form -->
            <!--end: Search Form -->
            <!--begin: Datatable -->
            <div class="m-portlet m-portlet--mobile">
                <div class="col-xl-8 order-2 order-xl-1">
                    <div class="form-group m-form__group row align-items-center" style="padding-top: 10px;">
                        <div class="col-md-3">
                            <div class="form-group m-form__group">
                                <label>
                                    Gói sản phẩm
                                </label>
                                <div class="m-form__control">
                                    <select class="form-control m-bootstrap-select" id="sl_Product">
                                        <option value="0">-- Chọn --</option>
                                        @foreach (var item in Model)
                                        {
                                            <option value="@item.LoanProductId">@item.Name</option>
                                        }


                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group m-form__group">
                                <label>
                                    Tình trạng sở hữu nhà
                                </label>
                                <div class="m-form__control">
                                    <select class="form-control m-bootstrap-select" id="sl_TypeOwnerShip">
                                        <option value="0">-- Chọn --</option>
                                        <option value="1">Nhà Sở Hữu</option>
                                        <option value="2">Nhà Thuê</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-1" style="padding-left: 50px;">
                            <div class="form-group m-form__group">
                                <label>

                                </label>
                                <div class="m-form__control">
                                    <a href="javascript:;" class="btn btn-tima" style="cursor:pointer;margin-top: 8px;height: 38px;" onclick="ConfigDocument.LoadData();">
                                        Tìm kiếm
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--begin: Search Form -->
                <div class="m-portlet m-portlet--tab">
                    <!--begin::Form-->
                  
                        <form class="m-form m-form--fit m-form--label-align-right" id="formConfig" method="post">
                            <div id="boxContentForm">

                            </div>
                        </form>

                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts
    {
    <script src="/js/App.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS" type="text/javascript"></script>
    <script src="/js/ConfigDocument/ConfigDocument.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS" type="text/javascript"></script>
    <script src="/assets/demo/default/custom/components/base/treeview.js" type="text/javascript"></script>
    <script src="/assets/vendors/base/vendors.bundle.js" type="text/javascript"></script>
    <script src="/assets/demo/default/base/scripts.bundle.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('#sl_AllowFromUpload, #sl_Product, #sl_TypeOwnerShip').select2();

        });
    </script>
}