﻿@model List<LOS.DAL.EntityFramework.ConfigDocument>
@{
    Layout = null;
}
@using LOS.Common.Extensions;

    <div class="form-group m-form__group row">
        <label class="col-lg-3 col-form-label">
            Hình thức sở hữu nhà
        </label>
        <div class="col-lg-9">
            <select class="form-control m-input m-select2" name="TypeOwnerShip" id="sl_typeOwnerShip">
                <option value="0" selected="selected">Chọn hình thức sở hữu</option>
                <option value="@((int)EnumTypeOwnerShipDocument.NSH)">@LOS.Common.Helpers.ExtentionHelper.GetDescription(EnumTypeOwnerShipDocument.NSH)</option>
                <option value="@((int)EnumTypeOwnerShipDocument.NT)">@LOS.Common.Helpers.ExtentionHelper.GetDescription(EnumTypeOwnerShipDocument.NT)</option>
            </select>
        </div>
    </div>

