﻿@model LOS.WebApp.Models.AppraiserMotoPriceViewModel
@{
    Layout = null;
    var product = ViewBag.Product as LOS.DAL.DTOs.ProductDetail;
    var productReview = new List<LOS.WebApp.Models.ProductReview>();
    @if (Model != null && Model.ProductReview != null)
    {
        productReview = Model.ProductReview;
    }
}
<style>
    .labelLeft {
        font-weight: 600;
        text-align: left;
    }

    .widget .widget-header:before, .widget .widget-header:after {
        display: table;
        content: "";
        line-height: 0;
    }

    .widget .widget-header:after {
        clear: both;
    }

    .widget .widget-header:before, .widget .widget-header:after {
        display: table;
        content: "";
        line-height: 0;
    }

    .widget.box {
        border: 1px solid #d9d9d9;
    }

    .widget {
        margin-top: 0px;
        margin-bottom: 15px;
        padding: 0px;
    }

        .widget.box .widget-header {
            background: #f9f9f9;
            border-bottom-color: #d9d9d9;
            line-height: 35px;
            padding: 0 12px;
            margin-bottom: 0;
        }

        .widget .widget-header {
            margin-bottom: 15px;
            border-bottom: 1px solid #ececec;
            *zoom: 1;
        }

        .widget.box .widget-header .toolbar {
            margin-right: -5px;
        }

        .widget .widget-header .toolbar {
            display: inline-block;
            padding: 0;
            margin: 0;
            float: right;
        }

        .widget.box .widget-header {
            background: #f9f9f9;
            border-bottom-color: #d9d9d9;
            line-height: 35px;
            padding: 0 12px;
            margin-bottom: 0;
        }

        .widget.box .widget-content {
            padding: 10px;
            position: relative;
            background-color: #fff;
        }

    .row-border .form-group {
        border-top: 1px solid #ececec;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-bottom: 0;
    }

    .form-horizontal .form-group {
        margin-right: -15px;
        margin-left: -15px;
    }

    .ptb5 {
        padding: 5px 0px !important;
    }
</style>
@if (Model != null)
{

    <div class="m-section__content">
        <div style="margin-bottom: 5px;margin-top: 10px;font-weight: bold;">
            <span style="color: #6C7293;font-size: 12pt;">
                Thẩm định giá xe
            </span>
            <hr style="margin-top: 10px;" />
        </div>
        <div data-code-preview="true" data-code-html="true" data-code-js="false" style="padding-left: 18%;color: #6C7293;font-size: 12pt;">
            <div>
                <div class="form-group m-form__group row">
                    <label for="example-email-input" class="col-2 col-form-label" style="padding-left: 1%;padding-top: 2%;">
                        Chọn hãng xe:
                    </label>
                    <div class="col-4 padding-top">
                        <select class="form-control cus-form-control m-input" id="sl_brand_product" name="productId">
                            @if (Model != null && Model.ListBrandProduct != null && Model.ListBrandProduct.Count > 0)
                            {
                                foreach (var item in Model.ListBrandProduct)
                                {
                                    if (Model.LoanbriefProperty.BrandId == item.Id)
                                    {
                                        <!option value="@item.Id" selected="selected">@item.Name</!option>
                                    }
                                }
                            }
                        </select>
                    </div>
                </div>

                <div class="form-group m-form__group row">
                    <label for="example-email-input" class="col-2 col-form-label" style="padding-left: 1%;">
                        Chọn tên xe:
                    </label>
                    <div class="col-8 padding-top">
                        <select class="form-control cus-form-control m-input" id="sl_product_name" name="sl_product_name">
                            @if (product != null)
                            {
                                <!option value="@product.Id" selected="selected">@product.FullName</!option>
                            }
                        </select>
                    </div>
                </div>

                <div class="form-group m-form__group row">
                    <label for="example-email-input" class="col-2 col-form-label" style="padding-left: 1%;">
                        Hình thức sở hữu xe:
                    </label>
                    <div class="col-8 padding-top">
                        <select class="form-control cus-form-control m-input" id="sl_OwnerProduct" name="sl_OwnerProduct">
                            @if (Model.LoanBriefProductId == LOS.Common.Extensions.EnumProductCredit.MotorCreditType_CC.GetHashCode() || Model.LoanBriefProductId == LOS.Common.Extensions.EnumProductCredit.LoanFastMoto_CC.GetHashCode())
                            {
                                <!option value="@LOS.Common.Extensions.EnumProductCredit.MotorCreditType_CC.GetHashCode()" selected="selected">Xe máy chính chủ</!option>
                            }
                            else if (Model.LoanBriefProductId == LOS.Common.Extensions.EnumProductCredit.MotorCreditType_KCC.GetHashCode()
                                || Model.LoanBriefProductId == LOS.Common.Extensions.EnumProductCredit.LoanFastMoto_KCC.GetHashCode())
                            {
                                <!option value="@LOS.Common.Extensions.EnumProductCredit.MotorCreditType_KCC.GetHashCode()" selected="selected">Xe máy không chính chủ</!option>
                            }
                            else if (Model.LoanBriefProductId == LOS.Common.Extensions.EnumProductCredit.MotorCreditType_KGT.GetHashCode())
                            {
                                <!option value="@LOS.Common.Extensions.EnumProductCredit.MotorCreditType_KGT.GetHashCode()" selected="selected">Xe máy không giấy tờ</!option>
                            }
                        </select>
                    </div>
                </div>

                <div class="form-group m-form__group row">
                    <label for="example-email-input" class="col-2 col-form-label" style="padding-left: 1%;">
                        Hình thức sở hữu nhà:
                    </label>
                    <div class="col-8 padding-top">
                        <select class="form-control cus-form-control m-input" id="sl_TypeOwnerShip" name="sl_TypeOwnerShip">
                            @*<!option value="@LOS.Common.Extensions.EnumTypeofownership.Sohuucanhan.GetHashCode()" @(Model.LoanBriefDetailNew.LoanBriefResident.ResidentType == LOS.Common.Extensions.EnumTypeofownership.Sohuucanhan.GetHashCode() ? "selected=\"selected\"" : "")>Nhà chính chủ</!option>*@

                            @if (Model.LoanBriefResident.ResidentType == LOS.Common.Extensions.EnumTypeofownership.Dongsohuu.GetHashCode())
                            {
                                <!option value="@LOS.Common.Extensions.EnumTypeofownership.Dongsohuu.GetHashCode()"
                                         @(Model.LoanBriefResident.ResidentType == LOS.Common.Extensions.EnumTypeofownership.Dongsohuu.GetHashCode() ? "selected=\"selected\"" : "")>
                                    Đồng sở hữu
                                </!option>

                            }
                            else if (Model.LoanBriefResident.ResidentType == LOS.Common.Extensions.EnumTypeofownership.Thuocsohuucuahohang.GetHashCode())
                            {
                                <!option value="@LOS.Common.Extensions.EnumTypeofownership.Thuocsohuucuahohang.GetHashCode()"
                                         @(Model.LoanBriefResident.ResidentType == LOS.Common.Extensions.EnumTypeofownership.Thuocsohuucuahohang.GetHashCode() ? "selected=\"selected\"" : "")>
                                    Đứng tên họ hàng
                                </!option>

                            }
                            else if (Model.LoanBriefResident.ResidentType == LOS.Common.Extensions.EnumTypeofownership.Thue.GetHashCode())
                            {
                                <!option value="@LOS.Common.Extensions.EnumTypeofownership.Thue.GetHashCode()"
                                         @(Model.LoanBriefResident.ResidentType == LOS.Common.Extensions.EnumTypeofownership.Thue.GetHashCode() ? "selected=\"selected\"" : "")>
                                    Thuê
                                </!option>

                            }
                            else if (Model.LoanBriefResident.ResidentType == LOS.Common.Extensions.EnumTypeofownership.NhaSoHuu.GetHashCode())
                            {
                                <!option value="@LOS.Common.Extensions.EnumTypeofownership.NhaSoHuu.GetHashCode()"
                                         @(Model.LoanBriefResident.ResidentType == LOS.Common.Extensions.EnumTypeofownership.NhaSoHuu.GetHashCode() ? "selected=\"selected\"" : "")>
                                    Nhà sở hữu
                                </!option>

                            }
                            else if (Model.LoanBriefResident.ResidentType == LOS.Common.Extensions.EnumTypeofownership.DungTenBoMe.GetHashCode())
                            {
                                <!option value="@LOS.Common.Extensions.EnumTypeofownership.DungTenBoMe.GetHashCode()"
                                         @(Model.LoanBriefResident.ResidentType == LOS.Common.Extensions.EnumTypeofownership.DungTenBoMe.GetHashCode() ? "selected=\"selected\"" : "")>
                                    Đứng tên bố mẹ
                                </!option>

                            }
                            else if (Model.LoanBriefResident.ResidentType == LOS.Common.Extensions.EnumTypeofownership.DungTenVoChong.GetHashCode())
                            {
                                <!option value="@LOS.Common.Extensions.EnumTypeofownership.DungTenVoChong.GetHashCode()"
                                         @(Model.LoanBriefResident.ResidentType == LOS.Common.Extensions.EnumTypeofownership.DungTenVoChong.GetHashCode() ? "selected=\"selected\"" : "")>
                                    Đứng tên vợ/ chồng
                                </!option>

                            }
                            else if (Model.LoanBriefResident.ResidentType == LOS.Common.Extensions.EnumTypeofownership.NhaSoHuuTrungSHK.GetHashCode())
                            {
                                <!option value="@LOS.Common.Extensions.EnumTypeofownership.NhaSoHuuTrungSHK.GetHashCode()"
                                         @(Model.LoanBriefResident.ResidentType == LOS.Common.Extensions.EnumTypeofownership.NhaSoHuuTrungSHK.GetHashCode() ? "selected=\"selected\"" : "")>
                                    Nhà sở hữu trùng SHK(Cùng Tỉnh/TP)
                                </!option>
                            }
                            else if (Model.LoanBriefResident.ResidentType == LOS.Common.Extensions.EnumTypeofownership.NhaSoHuuKhongTrungSHK.GetHashCode())
                            {
                                <!option value="@LOS.Common.Extensions.EnumTypeofownership.NhaSoHuuKhongTrungSHK.GetHashCode()"
                                         @(Model.LoanBriefResident.ResidentType == LOS.Common.Extensions.EnumTypeofownership.NhaSoHuuKhongTrungSHK.GetHashCode() ? "selected=\"selected\"" : "")>
                                    Nhà sở hữu không trùng SHK(Cùng Tỉnh/TP)
                                </!option>
                            }
                            else if (Model.LoanBriefResident.ResidentType == LOS.Common.Extensions.EnumTypeofownership.ThueKT1.GetHashCode())
                            {
                                <!option value="@LOS.Common.Extensions.EnumTypeofownership.ThueKT1.GetHashCode()"
                                         @(Model.LoanBriefResident.ResidentType == LOS.Common.Extensions.EnumTypeofownership.ThueKT1.GetHashCode() ? "selected=\"selected\"" : "")>
                                    Nhà thuê(Khác Tỉnh/TP)
                                </!option>
                            }
                            else if (Model.LoanBriefResident.ResidentType == LOS.Common.Extensions.EnumTypeofownership.ThueKT2.GetHashCode())
                            {
                                <!option value="@LOS.Common.Extensions.EnumTypeofownership.ThueKT2.GetHashCode()"
                                         @(Model.LoanBriefResident.ResidentType == LOS.Common.Extensions.EnumTypeofownership.ThueKT2.GetHashCode() ? "selected=\"selected\"" : "")>
                                    Nhà thuê(KT2)
                                </!option>
                            }
                            else if (Model.LoanBriefResident.ResidentType == LOS.Common.Extensions.EnumTypeofownership.NhaThueCungTinh.GetHashCode())
                            {
                                <!option value="@LOS.Common.Extensions.EnumTypeofownership.NhaThueCungTinh.GetHashCode()"
                                         @(Model.LoanBriefResident.ResidentType == LOS.Common.Extensions.EnumTypeofownership.NhaThueCungTinh.GetHashCode() ? "selected=\"selected\"" : "")>
                                    Nhà thuê(Cùng Tỉnh/TP)
                                </!option>
                            }
                            else if (Model.LoanBriefResident.ResidentType == LOS.Common.Extensions.EnumTypeofownership.KT1.GetHashCode())
                            {
                                <!option value="@LOS.Common.Extensions.EnumTypeofownership.KT1.GetHashCode()"
                                         @(Model.LoanBriefResident.ResidentType == LOS.Common.Extensions.EnumTypeofownership.KT1.GetHashCode() ? "selected=\"selected\"" : "")>
                                    KT1
                                </!option>
                            }
                            else if (Model.LoanBriefResident.ResidentType == LOS.Common.Extensions.EnumTypeofownership.KT3.GetHashCode())
                            {
                                <!option value="@LOS.Common.Extensions.EnumTypeofownership.KT3.GetHashCode()"
                                         @(Model.LoanBriefResident.ResidentType == LOS.Common.Extensions.EnumTypeofownership.KT3.GetHashCode() ? "selected=\"selected\"" : "")>
                                    KT3
                                </!option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label for="example-email-input" class="col-2 col-form-label" style="padding-left: 1%;">
                        Chi tiết gói sản phẩm
                    </label>
                    <div class="col-8 padding-top">
                        <select class="form-control cus-form-control m-input" id="sl_LoanProductDetail" name="sl_LoanProductDetail">
                            @if (Model.ListProductDetail != null && Model.ListProductDetail.Count > 0)
                            {
                                foreach (var item in Model.ListProductDetail)
                                {
                                    if (Model.ProductDetailId == item.Id)
                                    {
                                        <option value="@item.Id" selected="selected">@item.Name</option>
                                        break;
                                    }
                                }
                            }                            
                        </select>
                    </div>
                </div>


                @*<div class="form-group m-form__group row">
                        <label for="example-email-input" class="col-2 col-form-label" style="padding-left: 1%;">
                            Loại công việc
                        </label>
                        <div class="col-8 padding-top">
                            <select class="form-control cus-form-control m-input" id="sl_TypeJob" name="sl_TypeJob">
                                @if (Model.TypeJob == LOS.Common.Extensions.EnumJobTitle.LamHuongLuong.GetHashCode())
                                {
                                    <!option value="@LOS.Common.Extensions.EnumJobTitle.LamHuongLuong.GetHashCode()" selected="selected">
                                        Đi làm hưởng lương
                                    </!option>

                                }
                                else if (Model.TypeJob == LOS.Common.Extensions.EnumJobTitle.TuDoanh.GetHashCode())
                                {
                                    <!option value="@LOS.Common.Extensions.EnumJobTitle.TuDoanh.GetHashCode()" selected="selected">
                                        Kinh doanh
                                    </!option>

                                }
                                else if (Model.TypeJob == LOS.Common.Extensions.EnumJobTitle.LamTuDo.GetHashCode())
                                {
                                    <!option value="@LOS.Common.Extensions.EnumJobTitle.LamTuDo.GetHashCode()" selected="selected">
                                        Làm tự do
                                    </!option>
                                }
                                else if (Model.TypeJob == LOS.Common.Extensions.EnumJobTitle.LamTaiXeCongNghe.GetHashCode())
                                {
                                    <!option value="@LOS.Common.Extensions.EnumJobTitle.LamTaiXeCongNghe.GetHashCode()" selected="selected">
                                        Grab/Shipper/Lái xe công nghệ
                                    </!option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-group m-form__group row">
                        <label for="example-email-input" class="col-2 col-form-label" style="padding-left: 1%;">
                            Phân loại công việc:
                        </label>
                        <div class="col-8 padding-top">
                            <select class="form-control cus-form-control m-input" id="sl_TypeJobDescription" name="sl_TypeJobDescription">
                                @if (Model.JobDescription == LOS.Common.Extensions.EnumWorkRuleType.LamThueLuongChuyenKhoan.GetHashCode())
                                {
                                    <!option value="@LOS.Common.Extensions.EnumWorkRuleType.LamThueLuongChuyenKhoan.GetHashCode()" selected="selected">
                                        Lương chuyển khoản
                                    </!option>

                                }
                                else if (Model.JobDescription == LOS.Common.Extensions.EnumWorkRuleType.LuongTienMatCoBHXH.GetHashCode())
                                {
                                    <!option value="@LOS.Common.Extensions.EnumWorkRuleType.LuongTienMatCoBHXH.GetHashCode()" selected="selected">
                                        Lương tiền mặt có đóng BHXH/BHYT
                                    </!option>

                                }
                                else if (Model.JobDescription == LOS.Common.Extensions.EnumWorkRuleType.LuongTienMatKhongBHXH.GetHashCode())
                                {
                                    <!option value="@LOS.Common.Extensions.EnumWorkRuleType.LuongTienMatKhongBHXH.GetHashCode()" selected="selected">
                                        Lương tiền mặt không đóng BHXH/BHYT
                                    </!option>

                                }
                                else if (Model.JobDescription == LOS.Common.Extensions.EnumWorkRuleType.KinhDoanhCoDangKy.GetHashCode())
                                {
                                    <!option value="@LOS.Common.Extensions.EnumWorkRuleType.KinhDoanhCoDangKy.GetHashCode()" selected="selected">
                                        Kinh doanh có đăng ký
                                    </!option>

                                }
                                else if (Model.JobDescription == LOS.Common.Extensions.EnumWorkRuleType.KinhDoanhKhongDangKy.GetHashCode())
                                {
                                    <!option value="@LOS.Common.Extensions.EnumWorkRuleType.KinhDoanhKhongDangKy.GetHashCode()" selected="selected">
                                        Kinh doanh không có đăng ký
                                    </!option>

                                }
                                else if (Model.JobDescription == LOS.Common.Extensions.EnumWorkRuleType.LaoDongTuDo.GetHashCode())
                                {
                                    <!option value="@LOS.Common.Extensions.EnumWorkRuleType.LaoDongTuDo.GetHashCode()" selected="selected">
                                        Lao động tự do
                                    </!option>
                                }
                                else if (Model.JobDescription == LOS.Common.Extensions.EnumWorkRuleType.GrabShipper.GetHashCode())
                                {
                                    <!option value="@LOS.Common.Extensions.EnumWorkRuleType.GrabShipper.GetHashCode()" selected="selected">
                                        Grab/Shipper/Lái xe công nghệ
                                    </!option>
                                }
                            </select>
                        </div>
                    </div>*@

                <div class="form-group m-form__group row" style="display:none">
                    <button type="button" class="btn btn-tima" id="btnSubmit" onclick="" style="width: 150px;margin-left: 18%;margin-top: 2%;">
                        Tra cứu
                    </button>

                </div>
                <div class="form-group m-form__group row">
                    <label for="example-email-input" class="col-2 col-form-label" style="padding-left: 1%;">
                        Giá thị trường :
                    </label>
                    <div class="col-8 padding-top">
                        <span id="CurrentPrice" style="color: #FA5858">@Model.CurrentPrice.ToString("#,##")</span> VNĐ
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label for="example-email-input" class="col-2 col-form-label" style="padding-left: 1%;">
                        Số tiền cho vay tối đa :
                    </label>
                    <div class="col-8 padding-top">
                        <span id="MaxPrice" style="color: #FA5858">@Model.MaxPriceProduct.ToString("#,##")</span> VNĐ
                        <input type="hidden" value="@Model.CurrentPrice" id="hddtotalpricediscount" />
                        <input type="hidden" value="@Model.LoanBriefProductId" id="hddLoanBriefProductId" />
                        <input type="hidden" value="@ViewBag.LoanBriefId " id="hddLoanbriefId" />
                    </div>
                </div>
            </div>
        </div>
        <div data-code-preview="true" data-code-html="true" data-code-js="false" style="padding-left: 18%;color: #6C7293;font-size: 12pt;" id="_MotoPriceCheckList">
            @if (productReview != null && productReview.Count > 0)
            {
                var listParent = productReview.Where(x => x.ParentId == 0).ToList();
                <div class="widget box">
                    <input type="hidden" name="hddNumberProductPreview" id="hddNumberProductPreview" value="0">
                    <input type="hidden" name="hdd_LoanCreditId" id="hdd_LoanCreditId" value="@Model.LoanBriefId">

                    @if (listParent != null && listParent.Count > 0)
                    {
                        for (int i = 0; i < listParent.Count; i++)
                        {
                            <div class="widget-header">
                                <div class="toolbar" style="float: left;">
                                    <span class="widget-collapse">
                                        <i class="icon-double-angle-right TDXParentID">
                                            &nbsp;
                                            <a href="javascript:;" style="text-decoration: underline; color: blue; font-size: 12px; font-family: Tahoma" title="@listParent[i].Id">@listParent[i].Name</a>
                                        </i>
                                    </span>
                                </div>
                            </div>
                            <div class="widget-content">
                                @{
                                    var listChildren = productReview.Where(x => x.ParentId == listParent[i].Id).ToList() ?? new List<ProductReview>();
                                }
                                <script type="text/javascript">
                                    $("#hddNumberProductPreview").val(parseInt($("#hddNumberProductPreview").val())+parseInt(@listChildren.Count));
                                </script>
                                @for (int j = 0; j < listChildren.Count; j++)
                                {
                                    <div class="form-group ptb5" style="margin-bottom: 0rem;">
                                        <label class="col-md-12 labelLeft">@listChildren[j].Name</label>
                                        <div class="col-md-6">
                                            <div class="col-md-12" style="margin-bottom: 10px;">
                                                <span>
                                                    <input type="radio" tabindex="1|@listChildren[j].Id" onclick="ProductModule.LoadInforPriceDisCount('@listChildren[j].Id','@Html.Raw(@listChildren[j].State.ToString())','@Html.Raw(@listChildren[j].IsCancel.ToString())','@Html.Raw("True")','@listChildren[j].MoneyDiscount','@Html.Raw("divpricediscount" + listChildren[j].Id)')" name="@Html.Raw("radio_" + i + j)" id="@Html.Raw("True_radio_" + i + j)" @Html.Raw((listChildren[j].IsCheck == true) ? "checked='checked'" : "")>
                                                    <label for="@Html.Raw("True_radio_" + i + j)">Đúng</label>
                                                </span>
                                                <span>
                                                    <input type="radio" tabindex="0|@listChildren[j].Id" onclick="ProductModule.LoadInforPriceDisCount('@listChildren[j].Id','@Html.Raw(@listChildren[j].State.ToString())','@Html.Raw(@listChildren[j].IsCancel.ToString())','@Html.Raw("False")','@listChildren[j].MoneyDiscount','@Html.Raw("divpricediscount" + @listChildren[j].Id)')" name="@Html.Raw("radio_" + i + j)" id="@Html.Raw("False_radio_" + i + j)" @Html.Raw((listChildren[j].IsCheck == false) ? "checked='checked'" : "")>
                                                    <label for="@Html.Raw("False_radio_" + i + j)">Sai</label>
                                                </span>
                                            </div>
                                            <input type="hidden" class="hddtotaltieuchi" name="@Html.Raw("hddtotalmoneytheotieuchi" + @listChildren[j].Id)" id="@Html.Raw("hddtotalmoneytheotieuchi" + @listChildren[j].Id)" value="0">
                                            <input type="hidden" class="hddIsCancel" name="@Html.Raw("hddIsCancel"+ @listChildren[j].Id)" id="@Html.Raw("hddIsCancel"+ @listChildren[j].Id)" value="0">
                                        </div>

                                        <div class="col-md-6" style="display:none">
                                            @if ((listChildren[j].IsCheck != listChildren[j].State))
                                            {
                                                if (listChildren[j].IsCancel == true)
                                                {
                                                    <script type="text/javascript">
                                        $("#hddIsCancel"+@listChildren[j].Id).val(1);
                                                    </script>
                                                }

                                                if (listChildren[j].MoneyDiscount > 0)
                                                {
                                                    if (listChildren[j].IsCheck != null)
                                                    {
                                                        <span style="text-align:center;color:red;font-size:16px;font-family:Tahoma;" id="@Html.Raw("divpricediscount" + listChildren[j].Id)"></span>
                                                        <script type="text/javascript">
                                            $("#hddtotalmoneytheotieuchi"+@listChildren[j].Id).val(@listChildren[j].MoneyDiscount);
                                                        </script>
                                                    }
                                                    else
                                                    {
                                                        <span style="text-align:center;color:red;font-size:16px;font-family:Tahoma;" id="@Html.Raw("divpricediscount" + listChildren[j].Id)"></span>
                                                        <script type="text/javascript">
                                            $("#hddtotalmoneytheotieuchi"+@listChildren[j].Id).val(0);
                                                        </script>

                                                    }
                                                }
                                            }
                                            else
                                            {
                                                <span style="text-align:center;color:red;font-size:16px;font-family:Tahoma;" id="@Html.Raw("divpricediscount" + listChildren[j].Id)"></span>
                                            }
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                    }
                    <div class="widget-header">
                        <div class="toolbar" style="float: left;">
                            <span class="widget-collapse">Tiền được vay:&nbsp;&nbsp;</span><span style="color: #FA5858; font-size: 16px; font-family: Tahoma" id="divtotalpriceforcustommer"></span>
                        </div>
                    </div>
                    @if (Model != null && Model.UserDetail != null && (Model.Status == (int)LOS.Common.Extensions.EnumLoanStatus.APPRAISER_REVIEW || Model.Status == (int)LOS.Common.Extensions.EnumLoanStatus.HUB_CHT_APPROVE) && (Model.UserDetail.GroupId == (int)LOS.Common.Extensions.EnumGroupUser.StaffHub || Model.UserDetail.GroupId == (int)LOS.Common.Extensions.EnumGroupUser.ManagerHub))
                    {
                        <div class="col-md-1">
                            <a class="btn btn-tima" style="cursor:pointer; margin:10px; color:white;" onclick="ProductModule.SetThamDinhXe();">
                                Thẩm định
                            </a>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            ProductModule.Init();
           // ProductModule.LoadMoney();
            @*var getProduct = ProductModule.GetProduct(@Model.LoanbriefProperty.BrandId, 0)
                .then(result => {
                    $("#sl_product_name").val(@Model.LoanbriefProperty.ProductId);//.change();
                })
                .then(function (chapter) {
                    ProductModule.GetPriceFromAiAndLos();
                }).then(function (chapter) {
                    ProductModule.LoadMoney();
                });*@
        });
    </script>

}
else
{
    <div class="m-demo-icon__class" style="margin-top: 5px; margin-left: 10px; font-weight: bold; font-size: 18px;">
        Đơn vay không có xe để thẩm định!
    </div>
}
