﻿@model LOS.WebApp.Models.DistributingLoanOfHubItem
@{
    ViewData["Title"] = "Cancel";
    Layout = null;
}
<style>
    .btn-tima {
        background-color: rgba(108, 114, 147, 1);
        border-color: rgba(108, 114, 147, 1);
        color: #fff;
    }

    .m-form.m-form--group-seperator-dashed .m-form__group {
        border-bottom: none;
    }

    .m-form.m-form--group-seperator-dashed .m-form__group {
        padding-bottom: 10px;
        padding-top: 5px;
    }

    .cus-form-control {
        font-size: 14px;
    }
</style>
<div class="modal-content">
    <div class="modal-header" style="padding: 15px;">
        <div class="m-demo-icon__class" style="margin-top: 5px; margin-left: 10px; font-weight: bold">
            Điều phối cho nhân viên
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: 0px">
            <span aria-hidden="true">
                &times;
            </span>
        </button>
    </div>
    <form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" action="/LoanBriefV2/HubEmployeeChange" id="formDistributingLoanBrief">
        <div class="modal-body" style="padding: 25px 0px;">
            <div class="m-portlet__body">
                <input type="hidden" name="LoanBriefId" value="@Model.LoanBriefId" />
                <div class="form-group m-form__group row">
                    <label for="example-email-input" class="col-4 col-form-label">
                        Nhân viên:
                    </label>
                    <div class="col-8">
                        <select class="form-control cus-form-control m-select2" id="sl_StaffHub" name="StaffHub">
                            @if (Model != null && Model.ListUserOfHub != null && Model.ListUserOfHub.Count > 0)
                            {
                                <option></option>
                                foreach (var item in Model.ListUserOfHub)
                                {
                                    if (item.UserId == Model.HubEmployeeId)
                                    {
                                        <!option selected="selected" value="@item.UserId">@item.Username</!option>
                                    }
                                    else
                                    {
                                        <!option value="@item.UserId">@item.Username</!option>
                                    }

                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label for="example-email-input" class="col-4 col-form-label">
                        Địa điểm thẩm định:
                    </label>
                    <div class="col-8">
                        <select class="form-control cus-form-control  m-select2" id="sl_PlaceOfAppraisal" name="PlaceOfAppraisal" aria-hidden="true">
                            <option></option>
                            <!option  @(Model.Appraisal == LOS.Common.Extensions.EnumAppraisal.AppraisalHome.GetHashCode() ? "selected=\"selected\"" : "") value="@LOS.Common.Extensions.EnumAppraisal.AppraisalHome.GetHashCode()">Thẩm định nhà</!option>
                            <!option @(Model.Appraisal == LOS.Common.Extensions.EnumAppraisal.AppraisalCompany.GetHashCode() ? "selected=\"selected\"" : "")  value="@LOS.Common.Extensions.EnumAppraisal.AppraisalCompany.GetHashCode()">Thẩm định công ty</!option>
                            <!option @(Model.Appraisal == LOS.Common.Extensions.EnumAppraisal.AppraisalHomeAndCompany.GetHashCode() ? "selected=\"selected\"" : "")  value="@LOS.Common.Extensions.EnumAppraisal.AppraisalHomeAndCompany.GetHashCode()">Thẩm định nhà và công ty</!option>
                            <!option @(Model.Appraisal == LOS.Common.Extensions.EnumAppraisal.NoAppraisalHomeAndCompany.GetHashCode() ? "selected=\"selected\"" : "")  value="@LOS.Common.Extensions.EnumAppraisal.NoAppraisalHomeAndCompany.GetHashCode()">Không thẩm định nhà và công ty</!option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="display: block; text-align: right; border: none; padding: 5px; margin-right: 25px; margin-top: 25px;">
                <button type="button" class="btn btn-tima" onclick="HubEmployeeChangeModule.SubmitForm(event)" id="btnSubmit" style="padding: 10px 45px;">
                   Xác nhận
                </button>
            </div>
        </div>
    </form>
</div>
<script src="~/js/Hub/HubEmployeeChangeModule.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
<script type="text/javascript">
    $(document).ready(function () {
        HubEmployeeChangeModule.Init();
    });
</script>