﻿@model LOS.WebApp.Models.LoanbriefViewModel
@{
    ViewData["Title"] = "Init";
    Layout = null;
    var user = ViewBag.User as LOS.DAL.DTOs.UserDetail;
    var isChangeAddressHome = 0;
    var lst = Model;
}
<style>
    .custom-m-boder-box {
        border: 1px solid rgba(108, 114, 147, 1) !important;
    }

    .cus-info-header {
        border-bottom: 1px solid #e9ecef;
        padding: 10px;
    }

    #formAddLoanBrief .select2-container--default .select2-selection--single .select2-selection__rendered {
        padding: 0.52rem 1rem;
        border: 1px solid rgba(108, 114, 147, 1) !important;
    }

    #formAddLoanBrief .select2-container--default .select2-selection--single {
        border-bottom: none !important;
    }

    select.form-control:not([size]):not([multiple]) {
        height: unset;
    }

    .m-form.m-form--group-seperator-dashed .m-form__group {
        border-bottom: none;
    }

    .m-form.m-form--group-seperator-dashed .m-form__group {
        padding-bottom: 10px;
        padding-top: 5px;
    }

    .modal-open .select2-dropdown {
        z-index: 10060;
    }

    .btn-tima {
        background-color: rgba(108, 114, 147, 1);
        border-color: rgba(108, 114, 147, 1);
        color: #fff;
    }

    .error-notify {
        margin-top: 0px !important;
    }

    .cus-form-control {
        padding: 0.45rem 1rem;
        border: 1px solid rgba(108, 114, 147, 1) !important;
        font-family: none;
        border-radius: 0px;
    }

    #formAddLoanBrief .white {
        background: #f2f3f8 !important;
    }
</style>
<div class="modal-content">
    <div class="modal-header" style="padding: 15px;border-bottom:none !important;padding-bottom:0;">
        @*<div class="m-demo-icon__preview" style="margin-left: 5px; margin-top: 5px;">
                <i class="fa fa-plus"></i>
            </div>
            <div class="m-demo-icon__class" style="margin-top: 5px; margin-left: 10px; font-weight: bold">
                Tạo hồ sơ
            </div>*@
        <div class="m-portlet__head-tools">
            <ul class="nav nav-tabs m-tabs-line m-tabs-line--primary m-tabs-line--2x" role="tablist">
                <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link active" data-toggle="tab" href="#CreateLoan" role="tab">
                        <i class="fa fa-plus"></i>
                        Tạo đơn vay
                    </a>
                </li>
                <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link" data-toggle="tab" href="#ReLoan" role="tab">
                        <i class="fa fa-repeat"></i>
                        Tạo hồ sơ tái vay
                    </a>
                </li>
            </ul>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: 0px">
            <span aria-hidden="true">
                &times;
            </span>
        </button>
    </div>
    <form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" action="/LoanBriefV3/InitLoanBrief" id="formAddLoanBrief">
        @*<div class="cus-info-header">
                <span style="font-weight: bold; margin-left: 10px">
                    Cập nhật thông tin hồ sơ khách hàng
                </span>
            </div>*@
        <div class="modal-body" style="padding: 25px 40px;">
            <div class="m-portlet__body">
                <div class="tab-content">
                    <div class="tab-pane active" id="CreateLoan" role="tabpanel">
                        <div>
                            <span style="font-weight: bold; margin-left: 10px">
                                Cập nhật thông tin hồ sơ khách hàng
                            </span>
                        </div>
                        <hr />
                        <input type="hidden" value="@Model.LoanBriefId" name="LoanBriefId" id="LoanBriefId" />
                        <input type="hidden" name="TypeRemarketing" id="TypeRemarketing" value="@Model.TypeRemarketing" />
                        @if (Model.IsReborrow != null && Model.IsReborrow == true)
                        {
                            <input type="hidden" value="true" name="IsReborrow">
                        }

                        <input type="hidden" name="ReMarketingLoanBriefId" value="@Model.ReMarketingLoanBriefId" />
                        <!--begin:Thông tin cá nhân-->
                        @if (Model.TypeRemarketing == (int)LOS.Common.Extensions.EnumTypeRemarketing.IsTopUp)
                        {
                            @await Html.PartialAsync("../LoanBriefV2/Partial/_PersonalInformationTopup.cshtml", Model)
                        }
                        else
                        {
                            @await Html.PartialAsync("../LoanBriefV2/Partial/_PersonalInformation.cshtml", Model)
                        }

                        <!--end:-->
                        <!--begin:Thông tin doanh nghiệp-->
                        <div id="boxCompanyInfo" style="@(Model.TypeLoanBrief == LOS.Common.Extensions.LoanBriefType.Customer.GetHashCode() ? "display: none" : "");">
                            @await Html.PartialAsync("../LoanBriefV2/Partial/_CompanyInformation.cshtml", Model)
                        </div>
                        <!--end:-->
                        <!--begin:Địa chỉ đang ở-->
                        @await Html.PartialAsync("../LoanBriefV2/Partial/_AddressHome.cshtml", Model)
                        <!--end:-->
                        <!--begin:Địa chỉ hộ khẩu-->
                        @await Html.PartialAsync("../LoanBriefV2/Partial/_AddressHousehold.cshtml", Model)
                        <!--end:-->
                        <!--begin:Việc làm-->
                        @await Html.PartialAsync("../LoanBriefV2/Partial/_WorkInformation.cshtml", Model)
                        <!--end:-->
                        <!--begin:Người thân và đồng nghiệp-->
                        @await Html.PartialAsync("../LoanBriefV2/Partial/_RelativesAndColleagues.cshtml", Model)
                        <!--end:-->
                        <!--begin:HÌnh thức vay-->
                        @if (Model.TypeRemarketing == (int)LOS.Common.Extensions.EnumTypeRemarketing.IsTopUp)
                        {
                            @await Html.PartialAsync("../LoanBriefV2/Partial/_LoancreditFormTopup.cshtml", Model)
                        }
                        else
                        {
                            @await Html.PartialAsync("../LoanBriefV2/Partial/_LoancreditForm.cshtml", Model)
                        }
                        <!--end:-->
                        @await Html.PartialAsync("../LoanBriefV2/Partial/_CarInfomation.cshtml", Model)
                        @if (Model.TypeRemarketing == (int)LOS.Common.Extensions.EnumTypeRemarketing.IsTopUp)
                        {

                            @await Html.PartialAsync("../LoanBriefV2/Partial/_MotobikeInfomationTopup.cshtml", Model)
                        }
                        else
                        {
                            @await Html.PartialAsync("../LoanBriefV2/Partial/_MotobikeInfomation.cshtml", Model)
                        }

                        <!--begin:Tài sản-->
                        <!--end:-->
                        <!--begin:Khoản vay-->
                        @if (Model.TypeRemarketing == (int)LOS.Common.Extensions.EnumTypeRemarketing.IsTopUp)
                        {
                            @await Html.PartialAsync("../LoanBriefV2/Partial/_LoancreditInfomartionTopup.cshtml", Model)
                        }
                        else
                        {
                            @await Html.PartialAsync("../LoanBriefV2/Partial/_LoancreditInfomartion.cshtml", Model)
                        }
                        <!--end:-->
                        <!--begin:Kiểm tra thông tin CIC-->
                        @*@await Html.PartialAsync("../LoanBriefV2/Partial/_CICInfomation.cshtml", Model)*@
                        <!--end:-->
                        <!--begin:Giải ngân-->
                        @await Html.PartialAsync("../LoanBriefV2/Partial/_DisbursementInfomation.cshtml", Model)
                        <!--end:-->
                        @if(user.GroupId == (int)LOS.Common.Extensions.EnumGroupUser.ApproveEmp 
                        && Model.TransactionState.GetValueOrDefault(0) != (int)LOS.Common.Extensions.EnumTransactionState.DaDuyet)
                        {
                            @await Html.PartialAsync("../LoanBriefV2/Partial/_ConfirmTransactionSecured.cshtml", Model)
                        }
                        <hr />
                        <div style="text-align:center;">
                            <button type="button" class="btn btn-tima" onclick="InitLoanBrief.Save(event)" id="btnSubmit" style="padding: 10px 45px;">
                                Lưu thông tin
                            </button>
                        </div>
                    </div>

                    <div class="tab-pane" id="ReLoan" role="tabpanel">
                        <!--Form kiểm tra thông tin khách hàng đủ điều kiện tái vay-->
                        <partial name="~/Views/LoanBrief/ReLoan/_CheckReLoan.cshtml" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<input type="hidden" id="ProductCarEnum" value="@LOS.Common.Extensions.EnumProductCredit.OtoCreditType_CC.GetHashCode()" />
<input type="hidden" id="CamotoCredit" value="@LOS.Common.Extensions.EnumProductCredit.CamotoCreditType.GetHashCode()" />

<input type="hidden" id="LTV_ProductID" value="@Model.ProductId" />
@if (Model.IsReborrow == true)
{
    <input type="hidden" id="LTV_IsReborrow" value="true" />
}else{
    <input type="hidden" id="LTV_IsReborrow" value="false" />
}

<input type="hidden" id="LTV_TypeRemarketing" value="@Model.TypeRemarketing" />
<input type="hidden" id="LTV" value="@Model.Ltv" />

<script src="~/js/LoanbriefV2/LoadInfomationModuleJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
<script src="~/js/LoanbriefV2/CalculatorRateMoneyModuleJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
<script src="~/js/LoanbriefV2/CalculatorInsurranceModuleJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
<script src="~/js/Approve/CheckBankModule.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
<script src="~/js/LoanBrief/LTVModuleJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
@if (ViewBag.ChangeAddressHome)
{
    isChangeAddressHome = 1;
}

<script type="text/javascript">
    $(document).ready(function () {
        PersonalInformationModuleJS.Init();
        AddressHomeModuleJS.Init();
        AddressHouseholdModuleJS.Init();
        WorkInformationModuleJS.Init();
        RelativeInfomationModuleJS.Init();
        MotobikeInfomationModuleJS.Init();
        LoancreditFormModuleJS.Init();
        LoancreditInfomationModuleJS.Init();
        DisbursementInfomationModeleJS.Init();
        WorkInformationModuleJS.InitNganhNghe('@Model.LoanBriefJobModel.JobId');
        if ('@isChangeAddressHome' == '1')
        {
            AddressHomeModuleJS.GetDistrict('@Model.ProvinceId', '@Model.DistrictId');
        }
        AddressHomeModuleJS.GetWard('@Model.DistrictId', '@Model.WardId');        
        AddressHouseholdModuleJS.GetDistrict('@Model.LoanBriefHouseholdModel.ProvinceId', '@Model.LoanBriefHouseholdModel.DistrictId');
        AddressHouseholdModuleJS.GetWard('@Model.LoanBriefHouseholdModel.DistrictId', '@Model.LoanBriefHouseholdModel.WardId');
        WorkInformationModuleJS.GetDistrict('@Model.LoanBriefJobModel.CompanyProvinceId', '@Model.LoanBriefJobModel.CompanyDistrictId');
        WorkInformationModuleJS.GetWard('@Model.LoanBriefJobModel.CompanyDistrictId', '@Model.LoanBriefJobModel.CompanyWardId');
        MotobikeInfomationModuleJS.GetProduct('@Model.LoanBriefPropertyModel.BrandId', '@Model.LoanBriefPropertyModel.ProductId')
        App.LibraryMoney();
        App.ValidCustom();
        LoadInfomationModuleJS.Load('@Model.ProductId');
        CalculatorRateMoneyModuleJS.Init('@Model.ProductId', '@Model.LoanAmount', '@Model.LoanTime');
        CheckInsurranceCus('@Model.BuyInsurenceCustomer', '');
        LTVModuleJS.Init();
    });

    function CheckInsurranceCus(val, id) {
        if (id != '') {
            if (document.getElementById(id).checked)
                CalculatorInsurranceModuleJS.Init('@Model.LoanAmount', '@Model.LoanTime');
            else
                $("#FeeInsurrance").text('0 VNĐ');
        } else {
            if (val == 'True' || val == '')
                CalculatorInsurranceModuleJS.Init('@Model.LoanAmount', '@Model.LoanTime');
            else
                $("#FeeInsurrance").text('0 VNĐ');
        }
    }
</script>



