﻿@model List<LOS.DAL.DTOs.LoanBriefTimaCareDTO>

@if (Model != null)
{

    foreach (var item in Model)
    {
        <div class="modal-content">
            <div class="m-portlet">
                <div class="modal-header" style="padding: 15px;">
                    <div class="m-demo-icon__class title-uppercase col-lg-12 title-model">Thông tin khoản vay HĐ-@item.LoanBriefId <label style="text-transform: capitalize; color: red;">@(!string.IsNullOrEmpty(item.EsignBorrowerContract) ? "(Đã ký HĐ)" : "")</label></div>
                </div>

                <div class="m-portlet__body" style="padding: 0rem 1.2rem; position: relative;">
                    <div class="tab-content custom-over">
                        <div class="tab-pane active" id="m_tabs_tong_hop" role="tabpanel">
                            <!--Thông tin cá nhân-->
                            <div class="m-section__content">
                                <div style="margin-bottom: 5px; font-weight:bold">
                                    <span class="title-uppercase">
                                        Thông tin cá nhân
                                    </span>
                                    <i class="la la-angle-double-right" style="font-size: 15px;"></i>
                                </div>
                                <div data-code-preview="true" data-code-html="true" data-code-js="false">
                                    <div class="custom-m-boder-box">
                                        <div class="row">

                                            <div class="col-lg-4 col-md-6 col-sm-12">
                                                <div class="row">
                                                    <span class="col-md-6 col-sm-6 col-form-label">Họ tên:</span>
                                                    <span class="col-md-6 col-sm-6 col-form-label fontWeight">
                                                        @item.FullName
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="col-lg-4 col-md-6 col-sm-12">
                                                <div class="row">
                                                    <span class="col-md-6 col-sm-6 col-form-label">Số CMND: </span>
                                                    <span class="col-md-6 col-sm-6 col-form-label fontWeight toUpper">
                                                        @item.NationalCard
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="col-lg-4 col-md-6 col-sm-12">
                                                <div class="row">
                                                    <span class="col-md-6 col-sm-6 col-form-label">Số điện thoại: </span>
                                                    <span class="col-md-6 col-sm-6 col-form-label fontWeight">
                                                        @item.Phone
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6 col-sm-12">
                                                <div class="row">
                                                    <span class="col-md-6 col-sm-12 col-form-label">Ngày sinh: </span>
                                                    <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                                                        @(item.Dob != null ? item.Dob.Value.ToString("dd/MM/yyyy") : "")
                                                    </span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end:-->
                            <!--Địa chỉ-->
                            <div class="m-section__content">
                                <div style="margin-bottom: 5px; font-weight:bold">
                                    <span class="title-uppercase">
                                        Địa chỉ đang ở
                                    </span>
                                    <i class="la la-angle-double-right" style="font-size: 15px;"></i>
                                </div>
                                <div data-code-preview="true" data-code-html="true" data-code-js="false">
                                    <div class="custom-m-boder-box">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-6 col-sm-12">
                                                <div class="row">
                                                    <span class="col-md-2 col-sm-6 col-form-label">Địa chỉ:</span>
                                                    <span class="col-md-10 col-sm-6 col-form-label fontWeight">
                                                        @(!string.IsNullOrEmpty(item.WardName) ? item.WardName + ", " : "")
                                                        @(!string.IsNullOrEmpty(item.DistrictName) ? item.DistrictName + ", " : "")
                                                        @(!string.IsNullOrEmpty(item.ProvinceName) ? item.ProvinceName : "")
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6 col-sm-12">
                                                <div class="row">
                                                    <span class="col-md-6 col-sm-6 col-form-label">Hình thức cư trú:</span>
                                                    <span class="col-md-6 col-sm-6 col-form-label fontWeight">
                                                        @if (item.LoanBriefResident != null && item.LoanBriefResident.ResidentType != null)
                                                        {
                                                            @LOS.Common.Extensions.Description.GetDescription((LOS.Common.Extensions.EnumTypeofownership)item.LoanBriefResident.ResidentType)
                                                        }
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6 col-sm-12">
                                                <div class="row">
                                                    <span class="col-md-6 col-sm-6 col-form-label">Thời gian sống:</span>
                                                    <span class="col-md-6 col-sm-6 col-form-label fontWeight">
                                                        @if (item.LoanBriefResident != null && item.LoanBriefResident.LivingTime != null)
                                                        {
                                                            <span>@LOS.Common.Extensions.Description.GetDescription((LOS.Common.Extensions.EnumLivingTime)item.LoanBriefResident.LivingTime)</span>
                                                        }
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="col-md-12 col-sm-12">
                                                <div class="row">
                                                    <span class="col-md-2 col-sm-6 col-form-label">Địa chỉ chi tiết:</span>
                                                    <span class="col-md-10 col-sm-6 col-form-label fontWeight">
                                                        @(item.LoanBriefResident != null ? item.LoanBriefResident.Address : "")
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end:-->
                            <!--HÌnh thức vay-->
                            <div class="m-section__content">
                                <div style="margin-bottom: 5px; font-weight:bold">
                                    <span class="title-uppercase">
                                        Hình thức vay
                                    </span>
                                    <i class="la la-angle-double-right" style="font-size: 15px;"></i>

                                </div>
                                <div data-code-preview="true" data-code-html="true" data-code-js="false">
                                    <div class="custom-m-boder-box">
                                        <div class="row">
                                            <div class="col-md-6 col-md-6 col-sm-12">
                                                <div class="row">
                                                    <span class="col-md-4 col-sm-6 col-form-label">Gói vay:</span>
                                                    <span class="col-md-8 col-sm-6 col-form-label fontWeight required-detail">
                                                        @(!string.IsNullOrEmpty(item.ProductName) ? item.ProductName : "")
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-md-6 col-sm-12">
                                                <div class="row">
                                                    <span class="col-md-4 col-sm-6 col-form-label">Hình thức tính lãi:</span>
                                                    <span class="col-md-8 col-sm-6 col-form-label fontWeight required-detail" style="text-transform: uppercase;">
                                                        @(item.RateTypeId != null ? LOS.Common.Extensions.Description.GetDescription((LOS.Common.Extensions.EnumRateType)item.RateTypeId) : "0")
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-12">
                                                <div class="row">
                                                    <span class="col-md-2 col-sm-6 col-form-label">Gói vay chi tiết:</span>
                                                    <span class="col-md-10 col-sm-6 col-form-label fontWeight">
                                                        @(item.ProductDetailId != null ? LOS.Common.Helpers.ExtentionHelper.GetDescription((LOS.Common.Extensions.InfomationProductDetail)item.ProductDetailId) : "")
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end:-->
                            <!--Tài sản-->
                            <div class="m-section__content">
                                <div style="margin-bottom: 5px; font-weight:bold">
                                    <span class="title-uppercase">
                                        Tài sản
                                    </span>
                                    <i class="la la-angle-double-right" style="font-size: 15px;"></i>

                                </div>
                                <div data-code-preview="true" data-code-html="true" data-code-js="false">
                                    <div class="custom-m-boder-box">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-6 col-sm-12">
                                                <div class="row">
                                                    <span class="col-md-6 col-sm-6 col-form-label">Hãng xe:</span>
                                                    <span class="col-md-6 col-sm-6 col-form-label fontWeight">
                                                        @if (item.ProductId == (int)LOS.Common.Extensions.EnumProductCredit.OtoCreditType_CC
|| item.ProductId == (int)LOS.Common.Extensions.EnumProductCredit.CamotoCreditType
|| item.ProductId == (int)LOS.Common.Extensions.EnumProductCredit.OtoCreditType_KCC)
                                                        {
                                                            if (item.LoanBriefProperty != null && !string.IsNullOrEmpty(item.LoanBriefProperty.CarManufacturer))
                                                            {
                                                                @item.LoanBriefProperty.CarManufacturer
                                                            }
                                                        }
                                                        else
                                                        {
                                                            if (item.LoanBriefProperty != null && !string.IsNullOrEmpty(item.LoanBriefProperty.BrandName))
                                                            {
                                                                @item.LoanBriefProperty.BrandName
                                                            }
                                                        }
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="col-lg-4 col-md-6 col-sm-12">
                                                <div class="row">
                                                    <span class="col-md-6 col-sm-6 col-form-label">Tên xe:</span>
                                                    <span class="col-md-6 col-sm-6 col-form-label fontWeight">
                                                        @if (item.ProductId == (int)LOS.Common.Extensions.EnumProductCredit.OtoCreditType_CC || item.ProductId == (int)LOS.Common.Extensions.EnumProductCredit.CamotoCreditType
|| item.ProductId == (int)LOS.Common.Extensions.EnumProductCredit.OtoCreditType_KCC)
                                                        {
                                                            if (item.LoanBriefProperty != null && !string.IsNullOrEmpty(item.LoanBriefProperty.CarName))
                                                            {
                                                                @item.LoanBriefProperty.CarName
                                                            }
                                                        }
                                                        else
                                                        {
                                                            if (item.LoanBriefProperty != null && !string.IsNullOrEmpty(item.LoanBriefProperty.ProductFullName))
                                                            {
                                                                @item.LoanBriefProperty.ProductFullName
                                                            }
                                                        }
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="col-lg-4 col-md-6 col-sm-12">
                                                <div class="row">
                                                    <span class="col-md-6 col-sm-6 col-form-label">Biển số xe:</span>
                                                    <span class="col-md-6 col-sm-6 col-form-label fontWeight">
                                                        @if (item.ProductId == (int)LOS.Common.Extensions.EnumProductCredit.OtoCreditType_CC || item.ProductId == (int)LOS.Common.Extensions.EnumProductCredit.CamotoCreditType
|| item.ProductId == (int)LOS.Common.Extensions.EnumProductCredit.OtoCreditType_KCC)
                                                        {
                                                            if (item.LoanBriefProperty != null && !string.IsNullOrEmpty(item.LoanBriefProperty.PlateNumberCar))
                                                            {
                                                                @item.LoanBriefProperty.PlateNumberCar
                                                            }
                                                        }
                                                        else
                                                        {
                                                            if (item.LoanBriefProperty != null && item.LoanBriefProperty.PlateNumber != null)
                                                            {
                                                                @item.LoanBriefProperty.PlateNumber
                                                            }
                                                        }
                                                    </span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end:-->
                            <!--Khoản vay-->
                            <div class="m-section__content">
                                <div style="margin-bottom: 5px; font-weight:bold">
                                    <span class="title-uppercase">
                                        Khoản vay
                                    </span>
                                    <i class="la la-angle-double-right" style="font-size: 15px;"></i>

                                </div>
                                <div data-code-preview="true" data-code-html="true" data-code-js="false">
                                    <div class="custom-m-boder-box">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-6 col-sm-12">
                                                <div class="row">
                                                    <span class="col-md-6 col-sm-6 col-form-label">Tiền đại lý cho vay:</span>
                                                    <span class="col-md-6 col-sm-6 col-form-label fontWeight red">
                                                        @(item.LoanAmount.HasValue ? item.LoanAmount.Value.ToString("##,#") : "0") VNĐ
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6 col-sm-12">
                                                <div class="row">
                                                    <span class="col-md-6 col-sm-6 col-form-label">Thời gian vay:</span>
                                                    <span class="col-md-6 col-sm-6 col-form-label fontWeight required-detail">
                                                        @item.LoanTime tháng
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6 col-sm-12">
                                                <div class="row">
                                                    <span class="col-md-6 col-sm-6 col-form-label">Số kỳ trả:</span>
                                                    <span class="col-md-6 col-sm-6 col-form-label fontWeight required-detail">
                                                        @item.LoanTime kỳ
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6 col-sm-12">
                                                <div class="row">
                                                    <span class="col-md-6 col-sm-6 col-form-label">Chu kỳ đóng lãi:</span>
                                                    <span class="col-md-6 col-sm-6 col-form-label fontWeight">
                                                        Hàng tháng
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6 col-sm-12">
                                                <div class="row">
                                                    <span class="col-md-6 col-sm-6 col-form-label">Bảo hiểm sức khỏe:</span>
                                                    <span class="col-md-6 col-sm-6 col-form-label fontWeight">
                                                        @(Html.Raw(item.BuyInsurenceCustomer == true ? "Có mua" : "<p style='color: red;'>Không mua</p>"))
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6 col-sm-12">
                                                <div class="row">
                                                    <span class="col-md-6 col-sm-6 col-form-label">Phí bảo hiểm sức khỏe:</span>
                                                    <span class="col-md-6 col-sm-6 col-form-label fontWeight">
                                                        @if (item.BuyInsurenceCustomer == true)
                                                        {
                                                            <span>@item.FeeInsuranceOfCustomer.GetValueOrDefault(0).ToString("#,##") VNĐ</span>
                                                        }
                                                        else
                                                        {
                                                            <span>0</span>
                                                        }
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="col-lg-4 col-md-6 col-sm-12">
                                                <div class="row">
                                                    <span class="col-md-6 col-sm-6 col-form-label">Bảo hiểm vật chất:</span>
                                                    <span class="col-md-6 col-sm-6 col-form-label fontWeight">
                                                        @(Html.Raw(item.LoanBriefProperty != null && item.LoanBriefProperty.BuyInsuranceProperty == true ? "Có mua" : "<p style='color: red;'>Không mua</p>"))
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="col-lg-4 col-md-6 col-sm-12">
                                                <div class="row">
                                                    <span class="col-md-6 col-sm-6 col-form-label">Phí bảo hiểm vật chất:</span>
                                                    <span class="col-md-6 col-sm-6 col-form-label fontWeight">
                                                        @if (item.LoanBriefProperty != null && item.LoanBriefProperty.BuyInsuranceProperty == true)
                                                        {

                                                            <span>@item.FeeInsuranceOfProperty.GetValueOrDefault(0).ToString("#,##") VNĐ</span>
                                                        }
                                                        else
                                                        {
                                                            <span>0</span>
                                                        }
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end:-->
                            <!--Giải ngân-->
                            <div class="m-section__content" style="@(item.TypeRemarketing == (int)LOS.Common.Extensions.EnumTypeRemarketing.DebtRevolvingLoan ? "display:none":"")">
                                <div style="margin-bottom: 5px; font-weight:bold">
                                    <span class="title-uppercase">
                                        Giải ngân
                                    </span>
                                    <i class="la la-angle-double-right" style="font-size: 15px;"></i>
                                </div>
                                <div data-code-preview="true" data-code-html="true" data-code-js="false">
                                    <div class="custom-m-boder-box">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-6 col-sm-12">
                                                <div class="row">
                                                    <span class="col-md-4 col-sm-6 col-form-label">Ngân hàng:</span>
                                                    <span class="col-md-8 col-sm-6 col-form-label fontWeight">
                                                        @(!string.IsNullOrEmpty(item.BankName) ? item.BankName : "")
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6 col-sm-12">
                                                <div class="row">
                                                    <span class="col-md-4 col-sm-6 col-form-label">Số tài khoản:</span>
                                                    <span class="col-md-8 col-sm-6 col-form-label fontWeight required-detail">
                                                        @(!string.IsNullOrEmpty(item.BankAccountNumber) ? item.BankAccountNumber : "")
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6 col-sm-12">
                                                <div class="row">
                                                    <span class="col-md-4 col-sm-6 col-form-label">Tên chủ thẻ:</span>
                                                    <span class="col-md-8 col-sm-6 col-form-label fontWeight">
                                                        @(!string.IsNullOrEmpty(item.BankAccountName) ? item.BankAccountName : "")
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end:-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="center">
            @if (item.TypeRemarketing.GetValueOrDefault(0) == (int)LOS.Common.Extensions.EnumTypeRemarketing.DebtRevolvingLoan
                || item.TypeRemarketing.GetValueOrDefault(0) == (int)LOS.Common.Extensions.EnumTypeRemarketing.IsTopUp)
            {
                @if (string.IsNullOrEmpty(item.EsignBorrowerContract))
                {
                    <button type="button" onclick="ViewContractFinancialModel.GetViewContractFinancial(this, @item.LoanBriefId)" class="default-btn btn-submit2">Xem trước hợp đồng <i id="_btn_loading_@item.LoanBriefId"></i></button>
                    <button type="button" onclick="EsignModule.SignContractBorrower(this,@item.LoanBriefId,@item.TypeRemarketing.GetValueOrDefault(0))" class="default-btn btn-submit">Ký hợp đồng <i id="load-@item.LoanBriefId"></i></button>
                }
                else if (!string.IsNullOrEmpty(item.EsignBorrowerContract))
                {
                    <a href="@item.EsignBorrowerContract" target="_blank" class="default-btn btn-success">Hợp đồng</a>
                }
            }
            else
            {
                @if (string.IsNullOrEmpty(item.EsignBorrowerContract) && item.IsCheckEkyc.GetValueOrDefault(false))
                {
                    <button type="button" onclick="ViewContractFinancialModel.GetViewContractFinancial(this, @item.LoanBriefId)" class="default-btn btn-submit2">Xem trước hợp đồng <i id="_btn_loading_@item.LoanBriefId"></i></button>
                    <button type="button" onclick="EsignModule.SignContractBorrower(this,@item.LoanBriefId,@item.TypeRemarketing.GetValueOrDefault(0))" class="default-btn btn-submit">Ký hợp đồng <i id="load-@item.LoanBriefId"></i></button>
                }
                else if (!string.IsNullOrEmpty(item.EsignBorrowerContract))
                {
                    <a href="@item.EsignBorrowerContract" target="_blank" class="default-btn btn-success">Hợp đồng</a>
                }
                else
                {
                    <button type="button" onclick="location.href='/upload.html?t=2'" class="default-btn btn-submit2">Xác thực thông tin</button>
                }
            }

        </div>
    }
}



