﻿@model List<LOS.DAL.DTOs.LoanBriefTimaCareDTO>

@if (Model != null)
{
    var info = Model[0];
    <div class="modal-content">
        <div class="m-portlet">
            <div class="modal-header" style="padding: 15px;">
                <div class="m-demo-icon__class title-uppercase col-lg-12 title-model">Thông tin chung</div>
            </div>

            <div class="m-portlet__body" style="padding: 0rem 1.2rem; position: relative;">
                <div class="tab-content custom-over">
                    <div class="tab-pane active" id="m_tabs_tong_hop" role="tabpanel">
                        <!--Thông tin cá nhân-->
                        <div class="m-section__content">
                            <div style="margin-bottom: 5px; font-weight:bold">
                                <span class="title-uppercase">
                                    Thông tin cá nhân
                                </span>
                                <i class="la la-angle-double-right" style="font-size: 15px;"></i>
                            </div>
                            <div data-code-preview="true" data-code-html="true" data-code-js="false">
                                <div class="custom-m-boder-box">
                                    <div class="row">

                                        <div class="col-lg-4 col-md-6 col-sm-12">
                                            <div class="row">
                                                <span class="col-md-6 col-sm-12 col-form-label">Họ tên:</span>
                                                <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                                                    @info.FullName
                                                </span>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-md-6 col-sm-12">
                                            <div class="row">
                                                <span class="col-md-6 col-sm-12 col-form-label">Số CMND: </span>
                                                <span class="col-md-6 col-sm-12 col-form-label fontWeight toUpper">
                                                    @info.NationalCard
                                                </span>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-md-6 col-sm-12">
                                            <div class="row">
                                                <span class="col-md-6 col-sm-12 col-form-label">Số điện thoại: </span>
                                                <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                                                    @info.Phone
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-12">
                                            <div class="row">
                                                <span class="col-md-6 col-sm-12 col-form-label">Ngày sinh: </span>
                                                <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                                                    @info.Dob.Value.ToString("dd/MM/yyyy")
                                                </span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end:-->
                        <!--Địa chỉ-->
                        <div class="m-section__content">
                            <div style="margin-bottom: 5px; font-weight:bold">
                                <span class="title-uppercase">
                                    Địa chỉ đang ở
                                </span>
                                <i class="la la-angle-double-right" style="font-size: 15px;"></i>
                            </div>
                            <div data-code-preview="true" data-code-html="true" data-code-js="false">
                                <div class="custom-m-boder-box">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-6 col-sm-12">
                                            <div class="row">
                                                <span class="col-md-2 col-sm-12 col-form-label">Địa chỉ:</span>
                                                <span class="col-md-10 col-sm-12 col-form-label fontWeight">
                                                    @(!string.IsNullOrEmpty(info.WardName) ? info.WardName + ", " : "")
                                                    @(!string.IsNullOrEmpty(info.DistrictName) ? info.DistrictName + ", " : "")
                                                    @(!string.IsNullOrEmpty(info.ProvinceName) ? info.ProvinceName : "")
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-12">
                                            <div class="row">
                                                <span class="col-md-6 col-sm-12 col-form-label">Hình thức cư trú:</span>
                                                <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                                                    @if (info.LoanBriefResident != null && info.LoanBriefResident.ResidentType != null)
                                                    {
                                                        @LOS.Common.Extensions.Description.GetDescription((LOS.Common.Extensions.EnumTypeofownership)info.LoanBriefResident.ResidentType)
                                                    }
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-12">
                                            <div class="row">
                                                <span class="col-md-6 col-sm-12 col-form-label">Thời gian sống:</span>
                                                <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                                                    @if (info.LoanBriefResident != null && info.LoanBriefResident.LivingTime != null)
                                                    {
                                                        <span>@LOS.Common.Extensions.Description.GetDescription((LOS.Common.Extensions.EnumLivingTime)info.LoanBriefResident.LivingTime)</span>
                                                    }
                                                </span>
                                            </div>
                                        </div>

                                        <div class="col-md-12 col-sm-12">
                                            <div class="row">
                                                <span class="col-md-2 col-sm-12 col-form-label">Địa chỉ chi tiết:</span>
                                                <span class="col-md-10 col-sm-12 col-form-label fontWeight">
                                                    @(info.LoanBriefResident != null ? info.LoanBriefResident.Address : "")
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end:-->
                        <!--HÌnh thức vay-->
                        <div class="m-section__content">
                            <div style="margin-bottom: 5px; font-weight:bold">
                                <span class="title-uppercase">
                                    Hình thức vay
                                </span>
                                <i class="la la-angle-double-right" style="font-size: 15px;"></i>

                            </div>
                            <div data-code-preview="true" data-code-html="true" data-code-js="false">
                                <div class="custom-m-boder-box">
                                    <div class="row">
                                        <div class="col-md-6 col-md-6 col-sm-12">
                                            <div class="row">
                                                <span class="col-md-4 col-sm-12 col-form-label">Gói vay:</span>
                                                <span class="col-md-8 col-sm-12 col-form-label fontWeight required-detail">
                                                    @(!string.IsNullOrEmpty(info.ProductName) ? info.ProductName : "")
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-md-6 col-sm-12">
                                            <div class="row">
                                                <span class="col-md-4 col-sm-12 col-form-label">Hình thức tính lãi:</span>
                                                <span class="col-md-8 col-sm-12 col-form-label fontWeight required-detail" style="text-transform: uppercase;">
                                                    @(info.RateTypeId != null ? LOS.Common.Extensions.Description.GetDescription((LOS.Common.Extensions.EnumRateType)info.RateTypeId) : "0")
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12">
                                            <div class="row">
                                                <span class="col-md-2 col-sm-12 col-form-label">Gói vay chi tiết:</span>
                                                <span class="col-md-10 col-sm-12 col-form-label fontWeight">
                                                    @(info.ProductDetailId != null ? LOS.Common.Helpers.ExtentionHelper.GetDescription((LOS.Common.Extensions.InfomationProductDetail)info.ProductDetailId) : "")
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end:-->
                        <!--Tài sản-->
                        <div class="m-section__content">
                            <div style="margin-bottom: 5px; font-weight:bold">
                                <span class="title-uppercase">
                                    Tài sản
                                </span>
                                <i class="la la-angle-double-right" style="font-size: 15px;"></i>

                            </div>
                            <div data-code-preview="true" data-code-html="true" data-code-js="false">
                                <div class="custom-m-boder-box">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-6 col-sm-12">
                                            <div class="row">
                                                <span class="col-md-6 col-sm-12 col-form-label">Hãng xe:</span>
                                                <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                                                    @if (info.ProductId == (int)LOS.Common.Extensions.EnumProductCredit.OtoCreditType_CC
|| info.ProductId == (int)LOS.Common.Extensions.EnumProductCredit.CamotoCreditType
|| info.ProductId == (int)LOS.Common.Extensions.EnumProductCredit.OtoCreditType_KCC)
                                                    {
                                                        if (info.LoanBriefProperty != null && !string.IsNullOrEmpty(info.LoanBriefProperty.CarManufacturer))
                                                        {
                                                            @info.LoanBriefProperty.CarManufacturer
                                                        }
                                                    }
                                                    else
                                                    {
                                                        if (info.LoanBriefProperty != null && !string.IsNullOrEmpty(info.LoanBriefProperty.BrandName))
                                                        {
                                                            @info.LoanBriefProperty.BrandName
                                                        }
                                                    }
                                                </span>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-md-6 col-sm-12">
                                            <div class="row">
                                                <span class="col-md-6 col-sm-12 col-form-label">Tên xe:</span>
                                                <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                                                    @if (info.ProductId == (int)LOS.Common.Extensions.EnumProductCredit.OtoCreditType_CC || info.ProductId == (int)LOS.Common.Extensions.EnumProductCredit.CamotoCreditType
|| info.ProductId == (int)LOS.Common.Extensions.EnumProductCredit.OtoCreditType_KCC)
                                                    {
                                                        if (info.LoanBriefProperty != null && !string.IsNullOrEmpty(info.LoanBriefProperty.CarName))
                                                        {
                                                            @info.LoanBriefProperty.CarName
                                                        }
                                                    }
                                                    else
                                                    {
                                                        if (info.LoanBriefProperty != null && !string.IsNullOrEmpty(info.LoanBriefProperty.ProductFullName))
                                                        {
                                                            @info.LoanBriefProperty.ProductFullName
                                                        }
                                                    }
                                                </span>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-md-6 col-sm-12">
                                            <div class="row">
                                                <span class="col-md-6 col-sm-12 col-form-label">Biển số xe:</span>
                                                <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                                                    @if (info.ProductId == (int)LOS.Common.Extensions.EnumProductCredit.OtoCreditType_CC || info.ProductId == (int)LOS.Common.Extensions.EnumProductCredit.CamotoCreditType
|| info.ProductId == (int)LOS.Common.Extensions.EnumProductCredit.OtoCreditType_KCC)
                                                    {
                                                        if (info.LoanBriefProperty != null && !string.IsNullOrEmpty(info.LoanBriefProperty.PlateNumberCar))
                                                        {
                                                            @info.LoanBriefProperty.PlateNumberCar
                                                        }
                                                    }
                                                    else
                                                    {
                                                        if (info.LoanBriefProperty != null && info.LoanBriefProperty.PlateNumber != null)
                                                        {
                                                            @info.LoanBriefProperty.PlateNumber
                                                        }
                                                    }
                                                </span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end:-->
                        <!--Giải ngân-->
                        <div class="m-section__content" style="@(info.TypeRemarketing == (int)LOS.Common.Extensions.EnumTypeRemarketing.DebtRevolvingLoan ? "display:none":"")">
                            <div style="margin-bottom: 5px; font-weight:bold">
                                <span class="title-uppercase">
                                    Giải ngân
                                </span>
                                <i class="la la-angle-double-right" style="font-size: 15px;"></i>
                            </div>
                            <div data-code-preview="true" data-code-html="true" data-code-js="false">
                                <div class="custom-m-boder-box">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-6 col-sm-12">
                                            <div class="row">
                                                <span class="col-md-4 col-sm-12 col-form-label">Ngân hàng:</span>
                                                <span class="col-md-8 col-sm-12 col-form-label fontWeight">
                                                    @(!string.IsNullOrEmpty(info.BankName) ? info.BankName : "")
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-12">
                                            <div class="row">
                                                <span class="col-md-4 col-sm-12 col-form-label">Số tài khoản:</span>
                                                <span class="col-md-8 col-sm-12 col-form-label fontWeight required-detail">
                                                    @(!string.IsNullOrEmpty(info.BankAccountNumber) ? info.BankAccountNumber : "")
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-12">
                                            <div class="row">
                                                <span class="col-md-4 col-sm-12 col-form-label">Tên chủ thẻ:</span>
                                                <span class="col-md-8 col-sm-12 col-form-label fontWeight">
                                                    @(!string.IsNullOrEmpty(info.BankAccountName) ? info.BankAccountName : "")
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end:-->
                    </div>

                </div>
            </div>
        </div>
    </div>

    foreach (var item in Model)
    {
        <div class="modal-header" style="padding: 15px;">
            <div class="m-demo-icon__class title-uppercase col-lg-12 title-model">Thông tin khoản vay HĐ-@item.LoanBriefId <label style="text-transform: capitalize; color: red;">@(!string.IsNullOrEmpty(item.EsignBorrowerContract) ? "(Đã ký HĐ)" : "")</label></div>
        </div>
        <!--Khoản vay-->
        <div class="m-section__content">
            <div style="margin-bottom: 5px; font-weight:bold">
                <span class="title-uppercase">
                    Khoản vay
                </span>
                <i class="la la-angle-double-right" style="font-size: 15px;"></i>

            </div>
            <div data-code-preview="true" data-code-html="true" data-code-js="false">
                <div class="custom-m-boder-box">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="row">
                                <span class="col-md-6 col-sm-12 col-form-label">Tiền đại lý cho vay:</span>
                                <span class="col-md-6 col-sm-12 col-form-label fontWeight red">
                                    @(item.LoanAmount.HasValue ? item.LoanAmount.Value.ToString("##,#") : "0") VNĐ
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="row">
                                <span class="col-md-6 col-sm-12 col-form-label">Thời gian vay:</span>
                                <span class="col-md-6 col-sm-12 col-form-label fontWeight required-detail">
                                    @item.LoanTime tháng
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="row">
                                <span class="col-md-6 col-sm-12 col-form-label">Số kỳ trả:</span>
                                <span class="col-md-6 col-sm-12 col-form-label fontWeight required-detail">
                                    @item.LoanTime kỳ
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="row">
                                <span class="col-md-6 col-sm-12 col-form-label">Chu kỳ đóng lãi:</span>
                                <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                                    Hàng tháng
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="row">
                                <span class="col-md-6 col-sm-12 col-form-label">Bảo hiểm sức khỏe:</span>
                                <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                                    @(Html.Raw(item.BuyInsurenceCustomer == true ? "Có mua" : "<p style='color: red;'>Không mua</p>"))
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="row">
                                <span class="col-md-6 col-sm-12 col-form-label">Phí bảo hiểm sức khỏe:</span>
                                <span class="col-md-6 col-sm-6 col-form-label fontWeight">
                                    @if (item.BuyInsurenceCustomer == true)
                                    {
                                        <span>@item.FeeInsuranceOfCustomer.GetValueOrDefault(0).ToString("#,##") VNĐ</span>
                                    }
                                    else
                                    {
                                        <span>0</span>
                                    }
                                </span>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="row">
                                <span class="col-md-6 col-sm-12 col-form-label">Bảo hiểm vật chất:</span>
                                <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                                    @(Html.Raw(item.LoanBriefProperty != null && item.LoanBriefProperty.BuyInsuranceProperty == true ? "Có mua" : "<p style='color: red;'>Không mua</p>"))
                                </span>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="row">
                                <span class="col-md-6 col-sm-12 col-form-label">Phí bảo hiểm vật chất:</span>
                                <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                                    @if (item.LoanBriefProperty != null && item.LoanBriefProperty.BuyInsuranceProperty == true)
                                    {

                                        <span>@item.FeeInsuranceOfProperty.GetValueOrDefault(0).ToString("#,##") VNĐ</span>
                                    }
                                    else
                                    {
                                        <span>0</span>
                                    }
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end:-->

        <div class="center">
            @if (item.TypeRemarketing.GetValueOrDefault(0) == (int)LOS.Common.Extensions.EnumTypeRemarketing.DebtRevolvingLoan
                || item.TypeRemarketing.GetValueOrDefault(0) == (int)LOS.Common.Extensions.EnumTypeRemarketing.IsTopUp)
            {
                @if (string.IsNullOrEmpty(item.EsignBorrowerContract))
                {
                    <button type="button" onclick="ViewContractFinancialModel.GetViewContractFinancial(this, @item.LoanBriefId)" class="default-btn btn-submit2">Xem trước hợp đồng <i id="_btn_loading_@item.LoanBriefId"></i></button>
                    <button type="button" onclick="EsignModule.SignContractBorrower(this,@item.LoanBriefId, @item.TypeRemarketing.GetValueOrDefault(0))" class="default-btn btn-submit">Ký hợp đồng <i id="load-@item.LoanBriefId"></i></button>
                }
                else if (!string.IsNullOrEmpty(item.EsignBorrowerContract))
                {
                    <a href="@item.EsignBorrowerContract" target="_blank" class="default-btn btn-success">Hợp đồng</a>
                }
            }
            else
            {
                @if (string.IsNullOrEmpty(item.EsignBorrowerContract) && item.IsCheckEkyc.GetValueOrDefault(false))
                {
                    <button type="button" onclick="ViewContractFinancialModel.GetViewContractFinancial(this, @item.LoanBriefId)" class="default-btn btn-submit2">Xem trước hợp đồng <i id="_btn_loading_@item.LoanBriefId"></i></button>
                    <button type="button" onclick="EsignModule.SignContractBorrower(this,@item.LoanBriefId, @item.TypeRemarketing.GetValueOrDefault(0))" class="default-btn btn-submit">Ký hợp đồng <i id="load-@item.LoanBriefId"></i></button>
                }
                else if (!string.IsNullOrEmpty(item.EsignBorrowerContract))
                {
                    <a href="@item.EsignBorrowerContract" target="_blank" class="default-btn btn-success">Hợp đồng</a>
                }
                else
                {
                    <button type="button" onclick="location.href='/upload.html?t=2'" class="default-btn btn-submit2">Xác thực thông tin</button>
                }
            }
        </div>
    }
}



