﻿@model LOS.WebApp.Models.TlsScenarioDto.TlsScenarioViewModel ;
@{
    Layout = null;
}
<style>
    .nobull {
        list-style-type: none;
    }

    .labelCheckbox {
        margin-bottom: 0px;
        margin-top: 3px;
    }

    .questionsChoiseBox {
        border-width: 1px;
        border-color: gray;
        border-style: solid;
        min-height: 250px;
        max-height: 270px;
        overflow-x: hidden;
        overflow-y: scroll;
    }
</style>

<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
            Thông tin tài khoản
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
                &times;
            </span>
        </button>

    </div>
    <form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" id="frmCreateOrUpdateScenario" action="/TLSScenario/CreateOrUpdate" method="post">
        <div class="modal-body">
            <input type="hidden" name="Id" id="Id" value="@Model.TlsScenario.Id" />
            <div class="m-portlet__body">
                <div class="form-group  row">
                    <div class="col-lg-12 m-form__group">
                        <label>
                            Tên kịch bản<span class="required-red">(*)</span>
                        </label>
                        <input type="text" class="form-control m-input" value="@Model.TlsScenario.ConfigName" name="ConfigName" placeholder="Tên kịch bản" required>
                    </div>
                </div>
                <div class="form-group  row">
                    <div class="col-lg-9 m-form__group">
                        <label>
                            Ghi chú<span class="required-red">(*)</span>
                        </label>
                        <input type="text" class="form-control m-input" value="@Model.TlsScenario.ConfigName" name="Description" placeholder="Ghi chú" required>
                    </div>
                    <div class="col-lg-3 m-form__group">
                        <label>
                            Trạng thái
                        </label>
                        <br />
                        <label class="m-checkbox  m-checkbox--bold m-checkbox--state-success labelCheckbox">
                            <input type="checkbox" name="IsActive" value="@(Model.TlsScenario.IsActive? "True" : "False")" @(Model.TlsScenario.IsActive? "checked": "" ) >
                            Hoạt động
                            <span></span>
                        </label>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-lg-6 nopadding">
                        <b>Các câu hỏi đã chọn</b>
                        <br />
                        <label class="m-checkbox  m-checkbox--bold m-checkbox--state-success labelCheckbox">
                            <input type="checkbox" id="chkSelectAllQuestionsConfig">
                            Chọn tất cả
                            <span></span>
                        </label>
                    </div>
                    <div class="col-lg-1 nopadding">
                    </div>
                    <div class="col-lg-5 nopadding">
                        <b>Các câu hỏi có sẵn</b>
                        <br />
                        <label class="m-checkbox  m-checkbox--bold m-checkbox--state-success labelCheckbox">
                            <input type="checkbox" id="chkSelectAllQuestionsExist">
                            Chọn tất cả
                            <span></span>
                        </label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-6 nopadding questionsChoiseBox">
                        <ul id="questions_config" class="sortable nobull nopadding">
                            @if (Model.TlsScenarioQuestionIds != null && Model.TlsScenarioQuestionIds.Count() > 0)
                            {
                                foreach (var questionId in Model.TlsScenarioQuestionIds)
                                {
                                    var question = Model.Questions.FirstOrDefault(x => x.Id == questionId);
                                    if (question != null)
                                    {
                                        <li class="ui-state-default">
                                            <label class="m-checkbox  m-checkbox--bold m-checkbox--state-success labelCheckbox">
                                                <input type="hidden" name="QuestionIds" value="@question.Id">
                                                <input type="checkbox" data-questionId="@question.Id">
                                                @question.Question
                                                <span></span>
                                            </label>
                                        </li>
                                    }
                                }
                            }

                        </ul>
                    </div>
                    <div class="col-lg-1 nopadding">
                        <center>
                            <a href="#!" id="TakeQuestionId"><i class="la la-long-arrow-left"></i></a>
                            <br />
                            <p></p>
                            <a href="#!" id="ReleaseQuestionId"><i class="la la-long-arrow-right"></i></a>
                        </center>
                    </div>
                    <div class="col-lg-5 nopadding questionsChoiseBox">
                        <ul id="questions_exist" class="sortable nobull nopadding">
                            @foreach (var question in Model.Questions)
                            {
                                if (Model.TlsScenarioQuestionIds != null && Model.TlsScenarioQuestionIds.Contains(question.Id))
                                {
                                    continue;
                                }
                                <li class="ui-state-default">
                                    <label class="m-checkbox  m-checkbox--bold m-checkbox--state-success labelCheckbox">
                                        <input type="checkbox" data-questionId="@question.Id">
                                        @question.Question
                                        <span></span>
                                    </label>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Đóng
                </button>
                <button type="submit" class="btn btn-primary" id="btnCreateNewScenarioSave">
                    Lưu
                </button>
            </div>
        </div>
    </form>

</div>

<script src="~/js/TlsScenario_CreateOrUpdate.js"></script>
