﻿@{
    ViewData["Title"] = "Cấu hình kịch bản telesales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/lib/jquery-ui-1.12.1.custom/jquery-ui.min.css" rel="stylesheet" />

<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Danh sách kịch bản
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <!--begin: Search Form -->
            <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                <div class="row align-items-center">
                    <div class="col-xl-8 order-2 order-xl-1">
                        <div class="form-group m-form__group row align-items-center">
                            <div class="col-md-4">
                                <div class="form-group m-form__group">
                                    <label>
                                        Tìm kiếm
                                    </label>
                                    <div class="m-input-icon m-input-icon--left">
                                        <input type="text" class="form-control m-input" placeholder="Tìm kiếm..." id="FilterTextControl">
                                        <span class="m-input-icon__icon m-input-icon__icon--left">
                                            <span>
                                                <i class="la la-search"></i>
                                            </span>
                                        </span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 order-1 order-xl-2 m--align-right" id="AddNewButton" onclick="TlsScenario.ShowModel()">
                        <a href="#" class="btn btn-success m-btn m-btn--icon">
                            <span>
                                <i class="la la-cart-plus"></i>
                                <span>
                                    Tạo kịch bản
                                </span>
                            </span>
                        </a>
                        <div class="m-separator m-separator--dashed d-xl-none"></div>
                    </div>
                </div>
            </div>
            <!--end: Search Form -->
            <!--begin: Datatable -->
            <table class="m-datatable" width="100%"></table>
        </div>
    </div>

</div>
<div class="modal fade" id="m_modal_Group" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" id="modal-TlsScenario">

    </div>
</div>
@section Scripts
{
    <script src="~/js/TlsScenario.js"></script>
    <script src="~/lib/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
}
