﻿@model LOS.WebApp.Models.AddDeviceViewModel
@{
    ViewData["Title"] = "Cập nhật imei";
    Layout = null;
}
<style>
    .btn-tima {
        background-color: rgba(108, 114, 147, 1);
        border-color: rgba(108, 114, 147, 1);
        color: #fff;
    }

    .m-form.m-form--group-seperator-dashed .m-form__group {
        border-bottom: none;
    }

    .m-form.m-form--group-seperator-dashed .m-form__group {
        padding-bottom: 10px;
        padding-top: 5px;
    }

    .cus-form-control {
        font-size: 14px;
    }

    #timer-countdown {
        font-weight: bold;
        color: red;
    }
</style>

<div class="modal-content">
    <div class="modal-header" style="padding: 15px;">
        <div class="m-demo-icon__class" style="margin-top: 5px; margin-left: 10px; font-weight: bold">
            Thông tin thiết bị định vị
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: 0px">
            <span aria-hidden="true">
                &times;
            </span>
        </button>
    </div>
    <form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" action="/LoanBrief/AddCodeDevice" id="formAddDevice">
        <div class="modal-body" style="padding: 25px 0px;">
            <div class="m-portlet__body">
                <input type="hidden" name="LoanBriefId" value="@Model.LoanBriefId" />
                <div class="form-group m-form__group row">
                    <label for="example-email-input" class="col-4 col-form-label">
                        Mã thiết bị:
                    </label>
                    <div class="col-8">
                        <input class="form-control cus-form-control m-input" autofocus type="text" name="DeviceId" value="@Model.DeviceCode">
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label for="example-email-input" class="col-4 col-form-label">
                        Trạng thái:
                    </label>
                    <label for="example-email-input" class="col-8 col-form-label">
                        @if (!string.IsNullOrEmpty(Model.DeviceStatusName))
                        {
                            if (Model.DeviceStatus == LOS.Common.Extensions.StatusOfDeviceID.OpenContract.GetHashCode())
                            {
                                <span id="txtLabelStatus" class="m-badge m-badge--warning m-badge--wide">@Model.DeviceStatusName</span>
                                <a href="javascript:;" id="btnRegetDevice" style="border-radius: 15px;" title="Trạng thái kích hoạt" onclick="AddDeviceModuleJS.ReGetDeviceStatus(@Model.LoanBriefId)" class="btn-action btn btn-brand m-btn m-btn--icon btn-sm m-btn--icon-only">
                                    <i class="la la-refresh"></i>
                                </a>
                            }
                            else if (Model.DeviceStatus == LOS.Common.Extensions.StatusOfDeviceID.Actived.GetHashCode())
                            {
                                <span id="txtLabelStatus" class="m-badge m-badge--info m-badge--wide">@Model.DeviceStatusName</span>
                            }
                            else
                            {
                                <span id="txtLabelStatus" class="m-badge m-badge--danger m-badge--wide">@Model.DeviceStatusName</span>
                                <a href="javascript:;" id="btnRegetDevice" style="border-radius: 15px;" title="Trạng thái kích hoạt" onclick="AddDeviceModuleJS.ReGetDeviceStatus(@Model.LoanBriefId)" class="btn-action btn btn-brand m-btn m-btn--icon btn-sm m-btn--icon-only">
                                    <i class="la la-refresh"></i>
                                </a>
                                @*<a href="javascript:;" id="btnReActiveDevice" style="border-radius: 15px;" title="Kích hoạt lại" onclick="AddDeviceModuleJS.ReActiveDevice(@Model.LoanBriefId)" class="btn-action btn btn-brand m-btn m-btn--icon btn-sm m-btn--icon-only">
                                    <i class="fa fa-undo"></i>
                                </a>*@
                            }

                        }

                    </label>
                </div>
                @if (Model.ActivedDeviceAt.HasValue)
                {
                    <div class="form-group m-form__group row ">
                        <label for="example-email-input" class="col-4 col-form-label">
                            Cập nhật lúc:
                        </label>
                        <label for="example-email-input" class="col-8 col-form-label">
                            @Model.ActivedDeviceAt.Value.ToString("dd/MM/yyyy HH:mm:ss");
                        </label>
                    </div>
                }
            </div>
            <div class="modal-footer" style="display: block; text-align: right; border: none; padding: 5px; margin-right: 25px; margin-top: 25px;">
                @*@if (Model.DeviceStatus != 0)
                    {
                        <span id="timer-countdown"></span>
                    }*@
                @if (!string.IsNullOrEmpty(Model.DeviceStatusName))
                {
                    if (Model.DeviceStatus != LOS.Common.Extensions.StatusOfDeviceID.OpenContract.GetHashCode()
                        && Model.DeviceStatus != LOS.Common.Extensions.StatusOfDeviceID.Actived.GetHashCode())
                    {
                        <button type="button" class="btn btn-tima" onclick="AddDeviceModuleJS.ReActiveDevice(@Model.LoanBriefId)" style="padding: 10px 45px;">
                            Kích hoạt lại
                        </button>
                    }

                }
                <button type="button" class="btn btn-tima" onclick="AddDeviceModuleJS.SubmitForm(event)" id="btnSubmit" style="padding: 10px 45px;">
                    @Model.TextButton
                </button>
            </div>
        </div>
    </form>
</div>
<script src="~/js/Hub/AddDeviceModuleJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
@*<script src="~/js/LoanBrief/ReasonCancelModuleJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            ReasonCancelModuleJS.Init();
        });
    </script>*@