﻿@model LOS.WebApp.Models.LoanBriefScriptItem
@{
    Layout = null;
}
<div class="modal-content">
    <div class="modal-header" style="padding: 15px;">
        <div class="m-demo-icon__class" style="margin-top: 5px; margin-left: 10px; font-weight: bold">
            Check List Hồ Sơ
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: 0px">
            <span aria-hidden="true">
                &times;
            </span>
        </button>
    </div>
    <div class="modal-body" style="padding: 25px 0px;">
        @if (Model != null)
        {
            <div class="col-12" id="_domPrint">
                <div class="col-12 row">
                    <div class="col-4">
                        <span>Khách hàng: <b>@Model.FullName</b> </span>
                    </div>
                    <div class="col-4">
                        <span>Số CMND/CCCD: <b>@Model.NationalCard</b></span>
                    </div>
                    <div class="col-4">
                        <span>Số ĐT: <b>@LOS.WebApp.Helpers.Ultility.HidePhone(Model.Customer.Phone)</b></span>
                    </div>
                </div>
                <div class="m-section__content col-12" style="padding-top: 20px;">
                    <table border="1" cellpadding="2">
                        <thead>
                            <tr>
                                <th class="text-center" style="width: 200px;">Thông tin</th>
                                <th class="text-center" style="width: 500px;">Telesales checked</th>
                                <th class="text-center" style="width: 500px;">CVKD</th>
                                <th class="text-center" style="width: 500px;">Note</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Kết quả location</td>
                                <td>@(Model.ResultLocation != null ? Model.ResultLocation : "")</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    Địa chỉ nơi ở hiện tại
                                </td>
                                <td>@(Model.LoanBriefResident.Address != null ? Model.LoanBriefResident.Address : "")</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    Loại nhà ở
                                </td>
                                <td> @LOS.Common.Helpers.ExtentionHelper.GetDescription((LOS.Common.Extensions.EnumTypeofownership)Model.LoanBriefResident.ResidentType)</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    Địa chỉ HKTT
                                </td>
                                <td>@(Model.LoanBriefHousehold.Address != null ? Model.LoanBriefHousehold.Address : "")</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    Có sử dụng xe máy không?
                                </td>
                                <td>
                                    @if (Model.LoanBriefQuestionScript != null && Model.LoanBriefQuestionScript.QuestionUseMotobikeGo == true)
                                    {
                                        <span>Có</span>
                                    }
                                    else
                                    {
                                        <span>Không</span>
                                    }
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    Hình thức ở hữu xe
                                </td>
                                <td>
                                    @if (Model.ProductId == (int)LOS.Common.Extensions.EnumProductCredit.MotorCreditType_CC)
                                    {
                                        <span>Xe máy CC</span>
                                    }
                                    @if (Model.ProductId == (int)LOS.Common.Extensions.EnumProductCredit.MotorCreditType_KCC)
                                    {
                                        <span>Xe máy KCC</span>
                                    }
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    Có giữ bản gốc ĐKX không?
                                </td>
                                <td>
                                    @if (Model.LoanBriefQuestionScript != null && Model.LoanBriefQuestionScript.QuestionMotobikeCertificate == true)
                                    {
                                        <span>Có</span>
                                    }
                                    else
                                    {
                                        <span>Không</span>
                                    }
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    Tên xe, đời xe, màu, biển số
                                </td>
                                <td>
                                    @if (Model.LoanBriefProperty != null)
                                    {
                                        @if (Model.LoanBriefProperty.Product != null)
                                        {
                                            <span><b>Tên xe: </b>@Model.LoanBriefProperty.Product.FullName</span><br />
                                        }
                                        else if (!string.IsNullOrEmpty(Model.LoanBriefProperty.CarName))
                                        {
                                            <span><b>Tên xe: </b>@Model.LoanBriefProperty.CarName</span><br />
                                        }
                                        <span><b>Biển số: </b>@(Model.LoanBriefProperty.PlateNumber != null ? Model.LoanBriefProperty.PlateNumber : "")</span>
                                        <span><b>Màu xe: </b>@(Model.LoanBriefProperty.CarColor != null ? Model.LoanBriefProperty.CarColor : "")</span>
                                    }

                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    Số tiền vay, thời gian vay
                                </td>
                                <td>
                                    <span><b>Số tiền: </b> @Model.LoanAmount.Value.ToString("###,0")</span><br />
                                    <span><b>Thời gian: </b> @Model.LoanTime tháng</span>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    Khách hàng có đồng ý trừ 5% phí BH?
                                </td>
                                <td>
                                    @if (Model.LoanBriefQuestionScript != null && Model.LoanBriefQuestionScript.AdvisoryDeductInsurance == true)
                                    {
                                        <span>Đã tư vấn</span>
                                    }
                                    else
                                    {
                                        <span>Chưa tư vấn</span>
                                    }
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    Khách hàng có đồng ý giữ ĐKX?
                                </td>
                                <td>
                                    @if (Model.LoanBriefQuestionScript != null && Model.LoanBriefQuestionScript.AdvisoryKeepRegisteredMotobike == true)
                                    {
                                        <span>Đã tư vấn</span>
                                    }
                                    else
                                    {
                                        <span>Chưa tư vấn</span>
                                    }
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    Khách hàng có đồng ý cho lắp định vị?
                                </td>
                                <td>
                                    @if (Model.LoanBriefQuestionScript != null && Model.LoanBriefQuestionScript.AdvisorySettingGps == true)
                                    {
                                        <span>Đã tư vấn</span>
                                    }
                                    else
                                    {
                                        <span>Chưa tư vấn</span>
                                    }
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    Khách hàng có tài khoản để giải ngân?
                                </td>
                                <td>
                                    @if (Model.LoanBriefQuestionScript != null && Model.LoanBriefQuestionScript.QuestionAccountBank == true)
                                    {
                                        <span> Đã có sẵn</span>
                                    }
                                    else
                                    {
                                        <span> Chưa có Tls đã báo khách hàng đi mở tài khoản ngân hàng</span>
                                    }
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    Loại hình công việc
                                </td>
                                <td>
                                    @if (Model.LoanBriefQuestionScript != null && Model.LoanBriefQuestionScript.TypeJob != null)
                                    {
                                        @if (Model.LoanBriefQuestionScript.TypeJob == 123)
                                        {
                                            <span>Đi làm hưởng lương</span>
                                        }
                                        @if (Model.LoanBriefQuestionScript.TypeJob == 124)
                                        {
                                            <span>Tự kinh doanh</span>
                                        }
                                        @if (Model.LoanBriefQuestionScript.TypeJob == 125)
                                        {
                                            <span>Làm tài xế, giao nhận công nghệ</span>
                                        }
                                        @if (Model.LoanBriefQuestionScript.TypeJob == 126)
                                        {
                                            <span>Làm tự do</span>
                                        }
                                    }
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            @if (Model.LoanBriefQuestionScript != null && Model.LoanBriefQuestionScript.TypeJob != null)
                            {
                                @if (Model.LoanBriefQuestionScript.TypeJob == 123)
                                {
                                    <tr>
                                        <td>Tên công ty</td>
                                        <td>@(Model.LoanBriefJob.CompanyName != null ? Model.LoanBriefJob.CompanyName : "")</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Kí HĐ lao động</td>
                                        <td>
                                            @if (Model.LoanBriefQuestionScript != null && Model.LoanBriefQuestionScript.SigningAlaborContract == true)
                                            {
                                                <span>Có</span>
                                            }
                                            @if (Model.LoanBriefQuestionScript != null && Model.LoanBriefQuestionScript.SigningAlaborContract == false)
                                            {
                                                <span>Không</span>
                                            }
                                        </td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Hình thức làm việc</td>
                                        <td>
                                            @if (Model.LoanBriefQuestionScript != null && Model.LoanBriefQuestionScript.TypeWork == true)
                                            {
                                                <span>Toàn thời gian</span>
                                            }
                                            @if (Model.LoanBriefQuestionScript != null && Model.LoanBriefQuestionScript.TypeWork == false)
                                            {
                                                <span>Bán thời gian</span>
                                            }

                                        </td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Vị trí công việc</td>
                                        <td>@(Model.LoanBriefJob.Description != null ? Model.LoanBriefJob.Description : "")</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Ngày nhận lương gần đây</td>
                                        <td>@(Model.LoanBriefQuestionScript != null ? Model.LoanBriefQuestionScript.LatestPayday : "")</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Thời gian làm việc</td>
                                        <td>@(Model.LoanBriefQuestionScript != null ? Model.LoanBriefQuestionScript.WorkingTime : "")</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Hình thức nhận lương</td>
                                        <td>
                                            @if (Model.LoanBriefJob != null && Model.LoanBriefJob.ImcomeType != null)
                                            {
                                                if (Model.LoanBriefJob.ImcomeType == 1)
                                                {
                                                    <span>Chuyển khoản</span>
                                                }
                                                else
                                                {
                                                    <span>Tiền mặt</span>
                                                }
                                            }
                                        </td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                }
                                @if (Model.LoanBriefQuestionScript.TypeJob == 124)
                                {
                                    @if (Model.LoanBriefQuestionScript != null && Model.LoanBriefQuestionScript.ChooseCareer != null)
                                    {
                                        @if (Model.LoanBriefQuestionScript.ChooseCareer == 1)
                                        {
                                            <tr>
                                                <td>Ngành nghề</td>
                                                <td>
                                                    <span>Mở công ty/ Mở cửa hàng/ Sạp chợ/ Kiot</span>
                                                </td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>Tên công ty/Cửa hàng/Sạp chợ/Kiot</td>
                                                <td>@(Model.LoanBriefJob.CompanyName != null ? Model.LoanBriefJob.CompanyName : "")</td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>Biển hiệu</td>
                                                <td>
                                                    @if (Model.LoanBriefQuestionScript != null && Model.LoanBriefQuestionScript.Signs == true)
                                                    {
                                                        <span>Có</span>
                                                    }
                                                    @if (Model.LoanBriefQuestionScript != null && Model.LoanBriefQuestionScript.Signs == false)
                                                    {
                                                        <span>Không</span>
                                                    }
                                                </td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>Địa điểm kinh doanh</td>
                                                <td>
                                                    @if (Model.LoanBriefQuestionScript != null && Model.LoanBriefQuestionScript.AddressBusiness == true)
                                                    {
                                                        <span>Tại nhà</span>
                                                    }
                                                    @if (Model.LoanBriefQuestionScript != null && Model.LoanBriefQuestionScript.AddressBusiness == false)
                                                    {
                                                        <span>Đi thuê</span>
                                                    }
                                                </td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>Qua cửa hàng/công ty để xác minh lại công việc</td>
                                                <td>
                                                    @if (Model.LoanBriefQuestionScript != null && Model.LoanBriefQuestionScript.ContractInShop == true)
                                                    {
                                                        <span>Đồng ý</span>
                                                    }
                                                    @if (Model.LoanBriefQuestionScript != null && Model.LoanBriefQuestionScript.ContractInShop == false)
                                                    {
                                                        <span>Không đồng ý</span>
                                                    }
                                                </td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>Cung cấp 1 tấm ảnh thể hiện việc kinh doanh bên trong cửa hàng/công ty</td>
                                                <td>
                                                    @if (Model.LoanBriefQuestionScript != null && Model.LoanBriefQuestionScript.PhotographShop == true)
                                                    {
                                                        <span>Đồng ý</span>
                                                    }
                                                    @if (Model.LoanBriefQuestionScript != null && Model.LoanBriefQuestionScript.PhotographShop == false)
                                                    {
                                                        <span>Không đồng ý</span>
                                                    }
                                                </td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        }
                                        @if (Model.LoanBriefQuestionScript.ChooseCareer == 2)
                                        {
                                            <tr>
                                                <td>Ngành nghề</td>
                                                <td>
                                                    <span>Bán hàng online</span>
                                                </td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>Bán trên trang web</td>
                                                <td>@(Model.LoanBriefQuestionScript != null ? Model.LoanBriefQuestionScript.NameWeb : "")</td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>Thời gian</td>
                                                <td>@(Model.LoanBriefQuestionScript != null ? Model.LoanBriefQuestionScript.TimeSellWeb : "")</td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>Có kho để đồ hay hàng hóa không</td>
                                                <td>
                                                    @if (Model.LoanBriefQuestionScript != null && Model.LoanBriefQuestionScript.QuestionWarehouse == true)
                                                    {
                                                        <span>Có</span>
                                                    }
                                                    @if (Model.LoanBriefQuestionScript != null && Model.LoanBriefQuestionScript.QuestionWarehouse == false)
                                                    {
                                                        <span>Không</span>
                                                    }
                                                </td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>Cung cấp 1 bức ảnh thể hiện hàng hóa bán </td>
                                                <td>
                                                    @if (Model.LoanBriefQuestionScript != null && Model.LoanBriefQuestionScript.QuestionImageGoods == true)
                                                    {
                                                        <span>Đồng ý</span>
                                                    }
                                                    @if (Model.LoanBriefQuestionScript != null && Model.LoanBriefQuestionScript.QuestionImageGoods == false)
                                                    {
                                                        <span>Không đồng ý</span>
                                                    }
                                                </td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        }
                                    }
                                }

                                @if (Model.LoanBriefQuestionScript.TypeJob == 125)
                                {
                                    <tr>
                                        <td>Làm tài xế cho hãng</td>
                                        <td>@(Model.LoanBriefQuestionScript != null ? Model.LoanBriefQuestionScript.DriverOfCompany : "")</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Tài khoản</td>
                                        <td>
                                            @if (Model.LoanBriefQuestionScript != null && Model.LoanBriefQuestionScript.AccountDriver == true)
                                            {
                                                <span>Chính chủ</span>
                                            }
                                            @if (Model.LoanBriefQuestionScript != null && Model.LoanBriefQuestionScript.AccountDriver == false)
                                            {
                                                <span>Mượn tài khoản</span>
                                            }
                                        </td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Thời gian chạy</td>
                                        <td>@(Model.LoanBriefQuestionScript != null ? Model.LoanBriefQuestionScript.TimeDriver : "")</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Còn chạy</td>
                                        <td>
                                            @if (Model.LoanBriefQuestionScript != null && Model.LoanBriefQuestionScript.QuestionDriverGo == true)
                                            {
                                                <span>Có chạy</span>
                                            }
                                            @if (Model.LoanBriefQuestionScript != null && Model.LoanBriefQuestionScript.QuestionDriverGo == false)
                                            {
                                                <span>Không chạy</span>
                                            }
                                        </td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                }
                                @if (Model.LoanBriefQuestionScript.TypeJob == 126)
                                {
                                    <tr>
                                        <td>Công việc cụ thể </td>
                                        <td>@(Model.LoanBriefQuestionScript != null ? Model.LoanBriefQuestionScript.DetailJob : "")</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Thời gian bao lâu</td>
                                        <td>@(Model.LoanBriefQuestionScript != null ? Model.LoanBriefQuestionScript.WorkingTime : "")</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                }
                                @if (Model.LoanBriefQuestionScript.TypeJob == 123 || Model.LoanBriefQuestionScript.TypeJob == 124 || Model.LoanBriefQuestionScript.TypeJob == 125 || Model.LoanBriefQuestionScript.TypeJob == 126)
                                {
                                    <tr>
                                        <td>Thu nhập trung bình 1 tháng</td>
                                        <td>@(Model.LoanBriefJob.TotalIncome.HasValue ? Model.LoanBriefJob.TotalIncome.Value.ToString("###,0") : "0")</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                }
                                @if (Model.LoanBriefQuestionScript.TypeJob == 123 || Model.LoanBriefQuestionScript.TypeJob == 124 || Model.LoanBriefQuestionScript.TypeJob == 126)
                                {
                                    <tr>
                                        <td>Địa chỉ nơi làm việc</td>
                                        <td>@(Model.LoanBriefJob != null ? Model.LoanBriefJob.CompanyAddress : "")</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                }
                            }
                            <tr>
                                <td>Đồng ý soạn tin nhắn check Location?</td>
                                <td>
                                    @if (Model.IsTrackingLocation == true)
                                    {
                                        <span>Có</span>
                                    }
                                    else
                                    {
                                        <span>Không</span>
                                    }
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="modal-footer" style="display: block; text-align: right; border: none; padding: 5px; margin-right: 25px; margin-top: 25px;">
                <button type="button" class="btn btn-info" onclick="CommonModalJS.InitPrint('_domPrint')" id="btn_Print">
                    <i class="fa fa-print"></i> In
                </button>
            </div>
        }

    </div>
</div>
