﻿@model LOS.WebApp.Models.LoanBriefFileViewModel
@{
    Layout = null;
}

<ul class="nav nav-tabs" style="display: block;">
    <li class="active"><a data-toggle="tab" onclick="UploadLoanBriefFileJS.ViewUploadMulti(@Model.LoanBriefId)" href="javascript:;" class="active show" style="border-top: none">Upload chứng từ</a></li>
    @if (Model != null && Model.ListDocumentV2 != null && Model.ListDocumentV2.Count > 0)
    {
        foreach (var item in Model.ListDocumentV2)
        {
            <li>

                @if (item.ListChilds != null && item.ListChilds.Count > 0)
                {
                    <a data-toggle="tab" href="javascript:;">
                        @item.Name
                    </a>
                    <ul>
                        @foreach (var child in item.ListChilds)
                        {
                            @if (child.ListChilds != null && child.ListChilds.Count > 0)
                            {
                                <a data-toggle="tab" href="javascript:;">
                                    @child.Name
                                </a>
                                <ul>
                                    @foreach (var child2 in child.ListChilds)
                                    {
                                        <li>
                                            <a style="float:left;" class="_a_ducument" data-toggle="tab" onclick="UploadLoanBriefFileJS.ViewDocument(@child2.Id,'@child2.Name','@child2.AllowFromUpload', @(child2.ListFiles.Where(x => x.TypeId == child2.Id).Count()))" href="javascript:;">
                                                @child2.Name (@(child2.ListFiles.Where(x => x.TypeId == child2.Id).Count())/
                                                <lable style="color:red;">@(child2.NumberImage != null ? child2.NumberImage : 0))</lable>
                                            </a>
                                            <a href="#"><i class="fa fa-question-circle-o" data-toggle="m-tooltip" data-placement="right" title="@child2.Guide" data-html="true" data-content="@child2.Guide" style="font-size: 15px;"></i></a>
                                        </li>
                                    }

                                </ul>
                            }
                            else
                            {
                                <li>
                                    <a style="float:left;" class="_a_ducument" data-toggle="tab" onclick="UploadLoanBriefFileJS.ViewDocument(@child.Id,'@child.Name','@child.AllowFromUpload', @(child.ListFiles.Where(x => x.TypeId == child.Id).Count()))" href="javascript:;">
                                        @child.Name (@(child.ListFiles.Where(x => x.TypeId == child.Id).Count())/
                                        <lable style="color:red;">@(child.NumberImage != null ? child.NumberImage : 0))</lable>
                                    </a>
                                    <a href="#"><i class="fa fa-question-circle-o" data-toggle="m-tooltip" data-placement="right" title="@child.Guide" data-html="true" data-content="@child.Guide" style="font-size: 15px;"></i></a>
                                </li>
                            }
                        }
                    </ul>
                }
                else
                {
                    <a data-toggle="tab" href="javascript:;" onclick="UploadLoanBriefFileJS.ViewDocument(@item.Id, '@item.Name','@item.AllowFromUpload', @(item.ListFiles.Where(x => x.TypeId == item.Id).Count()))">
                        @item.Name
                    </a>
                }
            </li>
        }
    }
</ul>
