﻿@{
    Layout = null;
}
@model LOS.WebApp.Models.RecordingModelView
<div class="modal-content">
    <div class="modal-header" style="padding: 15px;">
        <div class="m-demo-icon__class" style="margin-top: 5px; margin-left: 10px; font-weight: bold">
            File ghi âm HĐ-@Model.LoanbriefId @Model.FullName
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: 0px">
            <span aria-hidden="true">
                &times;
            </span>
        </button>
    </div>
    <div class="modal-body" style="padding: 25px 0px;">
        <div class="m-section__content col-12" style="padding-top: 20px;">
            <table class="table m-table m-table--head-bg-brand custom-table-tima">
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            SĐT
                        </th>
                        <th>
                            Agent Name
                        </th>
                        <th>
                            Trạng thái
                        </th>
                        <th>
                            Bắt đầu
                        </th>
                        <th>
                            Kết thúc
                        </th>
                        <th>
                            Time wait
                        </th>
                        <th>
                            Time talk
                        </th>
                        <th class="text-center">
                            Ghi âm
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.ListRecording != null && Model.ListRecording.Count > 0)
                    {
                        var stt = 0;
                        foreach (var item in Model.ListRecording)
                        {
                            stt++;
                            <tr>
                                <td>
                                    @stt
                                </td>
                                <td>
                                    <span>@item.Phone</span><br />
                                    @if (!string.IsNullOrEmpty(item.FullName))
                                    {
                                        <span style="font-size: 12px; color: darkgray;">@item.FullName</span>
                                    }
                                    @if (!string.IsNullOrEmpty(item.RelationshipName))
                                    {
                                        <span style="font-size: 10px; color: #5867dd;">(@item.RelationshipName)</span>
                                    }
                                </td>
                                <td>
                                    @if (!string.IsNullOrEmpty(item.UserName))
                                    {
                                        <span>@item.UserName</span><br />
                                    }
                                    <span style="font-size: 10px; color: darkgray;">@item.DepartmentName</span>
                                </td>
                                <td>
                                    @if (item.CallDuration > 0 || !string.IsNullOrEmpty(item.Path))
                                    {
                                        <span style="color:blue;">Thành công</span>
                                    }
                                    else
                                    {
                                        <span style="color:red;"> Không thành công</span>
                                    }
                                </td>
                                <td>
                                    @if (item.StartTime.HasValue)
                                    {
                                        <span>@item.StartTime.Value.ToString("dd/MM/yyyy HH:mm:ss")</span>
                                    }
                                </td>
                                <td>
                                    @if (item.EndTime.HasValue)
                                    {
                                        <span>@item.EndTime.Value.ToString("dd/MM/yyyy HH:mm:ss")</span>
                                    }
                                </td>
                                <td>
                                    @if (!string.IsNullOrEmpty(item.StrWaitingTime))
                                    {
                                        <span> @item.StrWaitingTime</span>
                                    }
                                </td>
                                <td>
                                    @if (!string.IsNullOrEmpty(item.StrTalkTime))
                                    {
                                        <span> @item.StrTalkTime</span>
                                    }
                                </td>
                                <td class="text-center">
                                    @if (item.TypeCallService == (int)LOS.Common.Extensions.EnumTypeCallService.Caresoft)
                                    {
                                        if (!string.IsNullOrEmpty(item.Path))
                                        {
                                            if (item.Path.Contains(".mp3"))
                                            {
                                                <audio controls style="height: 40px;">
                                                    <source src="@item.Path" type="audio/ogg">
                                                    <source src="@item.Path" type="audio/mpeg">
                                                </audio>
                                            }
                                            else
                                            {
                                                <a title="Bấm vào để nghe" href="@item.Path" target="_blank">Mở file</a>
                                            }
                                        }
                                    }
                                    else
                                    {
                                        if (item.TypeCallService == (int)LOS.Common.Extensions.EnumTypeCallService.Metech)
                                        {
                                            <a style="color:blueviolet;" title="Bấm vào để nghe" href="@item.PlayUrl" target="_blank">Mở file</a><br />
                                            @Html.ActionLink("Download file", "CiscoDownloadV2", "LoanBrief", new { url = item.RecordingUrl }, null)
                                        }
                                        else
                                        {
                                            @Html.ActionLink("Download file", "CiscoDownloadMobile", "LoanBrief", new { url = item.PlayUrl, phone = item.Phone, talkTime = item.CallDuration }, null)
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    }                  
                </tbody>
            </table>
        </div>
    </div>
</div>

