﻿@{
    Layout = null;
}
@model LOS.WebApp.Models.Cisco.ListRecording
<div class="modal-content">
    <div class="modal-header" style="padding: 15px;">
        <div class="m-demo-icon__class" style="margin-top: 5px; margin-left: 10px; font-weight: bold">
            File ghi âm HĐ-@Model.LoanbriefId @Model.Fullname
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: 0px">
            <span aria-hidden="true">
                &times;
            </span>
        </button>
    </div>
    <div class="modal-body" style="padding: 25px 0px;">
        <div class="m-section__content col-12" style="padding-top: 20px;">
            <table class="table m-table m-table--head-bg-brand custom-table-tima">
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            SĐT
                        </th>
                        <th>
                            Agent Name
                        </th>
                        <th>
                            Trạng thái
                        </th>
                        <th>
                            Bắt đầu
                        </th>
                        <th>
                            Kết thúc
                        </th>
                        <th class="text-center">
                            Ghi âm
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.LstCareSoft != null && Model.LstCareSoft.Count > 0)
                    {
                        var stt = 0;
                        foreach (var item in Model.LstCareSoft)
                        {
                            stt++;
                            <tr>
                                <td>
                                    @stt
                                </td>
                                <td>
                                    <span>@item.caller</span><br />
                                    @if (!string.IsNullOrEmpty(item.full_name))
                                    {
                                        <span style="font-size: 12px; color: darkgray;">@item.full_name</span>
                                    }
                                    @if (!string.IsNullOrEmpty(item.relationship_name))
                                    {
                                        <span style="font-size: 10px; color: #5867dd;">(@item.relationship_name)</span>
                                    }
                                </td>
                                <td>
                                    @if (!string.IsNullOrEmpty(item.user_name))
                                    {
                                        <span>@item.user_name</span><br />
                                    }
                                    else
                                    {
                                        if (!string.IsNullOrEmpty(item.agent_id))
                                        {
                                            <span>IPPhone: @item.agent_id</span><br />
                                        }
                                    }
                                    <span style="font-size: 10px; color: darkgray;">@item.department_name</span>
                                </td>
                                <td>
                                    @item.call_status
                                </td>
                                <td>
                                    @if (item.start_time.HasValue)
                                    {
                                        <span>@item.start_time.Value.ToString("dd/MM/yyyy HH:mm:ss")</span>
                                    }
                                </td>
                                <td>
                                    @if (item.end_time.HasValue)
                                    {
                                        <span>@item.end_time.Value.ToString("dd/MM/yyyy HH:mm:ss")</span>
                                    }
                                </td>
                                <td class="text-center">
                                    @if (!string.IsNullOrEmpty(item.path))
                                    {
                                        <audio controls style="height: 40px;">
                                            <source src="@item.path" type="audio/ogg">
                                            <source src="@item.path" type="audio/mpeg">
                                        </audio>
                                    }
                                </td>
                            </tr>
                        }
                    }
                    @if (Model.LstCisco != null && Model.LstCisco.Count > 0)
                    {
                        var stt = 0;
                        if (Model.LstCareSoft != null)
                            stt = Model.LstCareSoft.Count;
                        foreach (var item in Model.LstCisco)
                        {
                            stt++;
                            <tr>
                                <td>
                                    @stt
                                </td>
                                <td>
                                    @if (item.Dnis.Length > 3)
                                    {
                                        <span>@item.Dnis</span><br />
                                    }
                                    else
                                    {
                                        if (item.Ani.Length > 3)
                                        {
                                            <span>@item.Ani</span><br />
                                        }
                                    }

                                    @if (!string.IsNullOrEmpty(item.full_name))
                                    {
                                        <span style="font-size: 12px; color: darkgray;">@item.full_name</span>
                                    }
                                    @if (!string.IsNullOrEmpty(item.relationship_name))
                                    {
                                        <span style="font-size: 10px; color: #5867dd;">(@item.relationship_name)</span>
                                    }
                                </td>
                                <td>
                                    @if (!string.IsNullOrEmpty(item.Username))
                                    {
                                        <span>@item.Username</span><br />
                                    }
                                    else
                                    {
                                        if (!string.IsNullOrEmpty(item.Line))
                                        {
                                            <span>Cisco Extentions: @item.Line</span><br />
                                        }
                                    }

                                    <span style="font-size: 10px; color: darkgray;">@item.DepartmentName</span>
                                </td>

                                @if (item.CallDuration > 0)
                                {
                                    <td>
                                        meetAgent
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        miss
                                    </td>
                                }


                                <td>
                                    @if (item.StartTime > 0)
                                    {
                                        <span>@LOS.Common.Extensions.ConvertExtensions.UnixTimeStampToDateTime(item.StartTime).ToString("dd/MM/yyyy HH:mm:ss")</span>
                                    }
                                </td>
                                <td>
                                    @if (item.StartTime > 0)
                                    {
                                        <span>@LOS.Common.Extensions.ConvertExtensions.UnixTimeStampToDateTime(item.StartTime).AddMilliseconds((double)item.CallDuration).ToString("dd/MM/yyyy HH:mm:ss")</span>
                                    }
                                </td>
                                <td class="text-center">
                                    @*<a href="javascript:;" onclick="CiscoModule.Download(@item.Id);">Download file</a>*@
                                    <a asp-controller="LoanBrief" asp-action="CiscoDownload" asp-route-id="@item.Id">Download file</a>
                                </td>
                            </tr>
                        }
                    }
                    else if ((Model.LstCisco == null || Model.LstCisco.Count == 0) && Model.LstCareSoft == null)
                    {
                        <tr>
                            <td colspan="7" class="text-center">
                                <span style="font-size: 18px; color: red;"><i>Không có dữ liệu</i></span>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

