﻿@model LOS.DAL.DTOs.LoanBriefInitDetail
@{
    ViewData["Title"] = "Cập nhật imei";
    Layout = null;
}
<label class="col-form-label col-12" style="text-align: center">
    Kết quả Rule Check AI:
    @if (Model != null && !string.IsNullOrEmpty(Model.ResultRuleCheck))
    {
        <span style="color: red">@Model.ResultRuleCheck</span>
    }
    else
    {
        <span style="color: red">Chưa có kết quả</span>
    }

</label>
<br />
<label class="col-12"  style="text-align: center">
    Kết quả Location AI:
    @if (Model != null && !string.IsNullOrEmpty(Model.ResultLocation))
    {
        <span style="color: red">@Model.ResultLocation</span>
    }
    else
    {
        <span style="color: red">Chưa có kết quả</span>
    }
</label>