﻿@model LOS.DAL.EntityFramework.ResultEkyc
@{
    Layout = null;
}
<div style="margin-bottom: 5px; font-weight:bold">
    <span>
        Thông tin check Ekyc
    </span>
    <i class="la la-angle-double-right" style="font-size: 15px;"></i>
</div>
@if (Model.IdValue != null)
{
    <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
        <div class="custom-m-boder-box m-demo__preview">
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Họ tên:
                </label>
                <div class="col-4 padding-top">
                    <span>@(Model.FullNameValue != null ? Model.FullNameValue : "")</span>
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Ngày sinh:
                </label>
                <div class="col-4 padding-top">
                    <span>@(Model.BirthdayValue != null ? Model.BirthdayValue : "")</span>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Số CMND:
                </label>
                <div class="col-4 padding-top">
                    <span>@(Model.IdValue != null ? Model.IdValue : "")</span>
                </div>
                <label for="example-email-input " class="col-2 col-form-label">
                    Ngày hết hạn:
                </label>
                <div class="col-4 padding-top">
                    <span>@(Model.ExpiryValue != null ? Model.ExpiryValue : "")</span>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Nơi cấp:
                </label>
                <div class="col-4 padding-top">
                    <span>@(Model.IssueByValue != null ? Model.IssueByValue : "")</span>
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Ngày cấp:
                </label>
                <div class="col-4 padding-top">
                    <span>@(Model.IssueDateValue != null ? Model.IssueDateValue : "")</span>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Giới tính:
                </label>
                <div class="col-4 padding-top">
                    <span>@(Model.GenderValue != null ? Model.GenderValue : "")</span>
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Dân tộc:
                </label>
                <div class="col-4 padding-top">
                    <span>@(Model.EthnicityValue != null ? Model.EthnicityValue : "")</span>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Tôn giáo:
                </label>
                <div class="col-4 padding-top">
                    <span>@(Model.ReligionValue != null ? Model.ReligionValue : "")</span>
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Địa chỉ:
                </label>
                <div class="col-4 padding-top">
                    <span>@(Model.AddressValue != null ? Model.AddressValue : "")</span>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    So sánh khuôn mặt:
                </label>
                <div class="col-4 padding-top">
                    <span>@(Model.FaceCompareMessage != null ? Model.FaceCompareMessage : "")</span>
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Truy vấn khuôn mặt:
                </label>
                <div class="col-4 padding-top">
                    <span>@(Model.FaceQueryMessage != null ? Model.FaceQueryMessage : "")</span>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <p style="font-style: italic; color: red; padding-left: 30px;">Đơn vay chưa được Check Ekyc</p>
}
