﻿@using LOS.DAL.EntityFramework;
@model List<LoanStatusDetail>
@{
    ViewData["Title"] = "StatusTelesales";
    Layout = null;
}
<style>
    .btn-tima {
        background-color: rgba(108, 114, 147, 1);
        border-color: rgba(108, 114, 147, 1);
        color: #fff;
    }

    .m-form.m-form--group-seperator-dashed .m-form__group {
        border-bottom: none;
    }

    .m-form.m-form--group-seperator-dashed .m-form__group {
        padding-bottom: 10px;
        padding-top: 5px;
    }

    .cus-form-control {
        font-size: 14px;
    }
</style>
<div class="modal-content">
    <div class="modal-header" style="padding: 15px;">
        <div class="m-demo-icon__class" style="margin-top: 5px; margin-left: 10px; font-weight: bold">
            Chọn trạng thái của đơn
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: 0px">
            <span aria-hidden="true">
                &times;
            </span>
        </button>
    </div>
    <form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" action="" id="formStatusTelesales">
        <div class="modal-body" style="padding: 25px 0px;">
            <input type="hidden" name="LoanBriefId" value="@ViewBag.LoanBriefId" />
            <div class="m-portlet__body">
                @if (Model != null && Model.Count > 0)
                {
                    <div class="form-group m-form__group row">
                        <label for="example-email-input" class="col-4 col-form-label">
                            Trạng thái liên hệ
                        </label>
                        <div class="col-8">
                            <select class="form-control cus-form-control m-select2" id="sl_StatusTelesales" name="StatusTelesales" onchange="StatusTelesalesModule.GetDetailStatusTelesales(this)" style="width: 100%">
                                <option value="0">Chọn trạng thái</option>
                                @foreach (var item in Model)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                }
                <div class="form-group m-form__group row">
                    <label for="example-email-input" class="col-4 col-form-label">
                        Tình trạng cuộc gọi
                    </label>
                    <div class="col-8">
                        <select class="form-control cus-form-control  m-select2" id="sl_StatusTelesales_Detail" name="StatusTelesalesDetail" aria-hidden="true"  style="width: 100%">
                            <option></option>
                        </select>
                    </div>
                </div>

                <div class="form-group m-form__group row">
                    <label for="example-email-input" class="col-4 col-form-label">
                        Ghi chú
                    </label>
                    <div class="col-8">
                        <textarea class="form-control cus-form-control m-input" id="txt_CommentStatusTelesales" name="CommentStatusTelesales" rows="3" placeholder=""></textarea>
                    </div>
                </div>
            </div>
            <input type="hidden" value="" name="TelesaleComment" id="hdd_TelesaleComment" />
            <div class="modal-footer" style="display: block; text-align: right; border: none; padding: 5px; margin-right: 25px; margin-top: 25px;">
                <button type="button" class="btn btn-tima" onclick="StatusTelesalesModule.SubmitForm()" id="btnSaveTelesalesStatus" style="padding: 10px 45px;">
                    Lưu lại
                </button>
            </div>
        </div>
    </form>
</div>
<script src="~/js/StatusTelesales/StatusTelesalesModuleJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
<script type="text/javascript">
    $(document).ready(function () {
        StatusTelesalesModule.Init();
    });
</script>