﻿@model LOS.WebApp.Models.LoanBriefFileViewModel
@{
    Layout = null;
}
<style>
    .box-file-type {
        background-color: #f2f2f2;
        color: #aaaebf;
        padding-left: 0px;
        padding-right: 0px
    }

        .box-file-type ul li > .active {
            background: white;
        }

        .box-file-type ul li a {
            padding: 10px;
            border-top: 1px solid #aaaebf;
            display: block;
            color: rgba(108, 114, 147, 1);
        }

    .cus-image-item {
        float: left;
        cursor: grab;
    }

    .tooltip-inner {
        max-width: 400px;
        width: 400px;
    }

    .btn-upload-image {
        background: rgba(108, 114, 147, 1);
        float: right;
        margin-right: -15px;
    }

    .btn-moved-document {
        background: rgba(108, 114, 147, 1);
        float: right;
        margin-left: 5px;
    }
</style>
<div class="modal-content">
    <div class="modal-header" style="padding: 15px;">
        <div class="m-demo-icon__class" style="margin-top: 5px; margin-left: 10px; font-weight: bold">
            Thông tin chứng từ Khách Hàng
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: 0px">
            <span aria-hidden="true">
                &times;
            </span>
        </button>
    </div>
    <div class="modal-body" style="padding: 0px 0px 25px 0px;">
        <div class="m-portlet__body" style="display: flex">
            <div class="col-3 box-file-type" id="box-Document">
                <ul class="nav nav-tabs" style="display: block;">
                    <li class="active"><a data-toggle="tab" onclick="UploadLoanBriefFileJS.ViewUploadMulti(@Model.LoanBriefId)" href="javascript:;" class="active show" style="border-top: none">Upload chứng từ</a></li>
                    @if (Model != null && Model.ListDocumentV2 != null && Model.ListDocumentV2.Count > 0)
                    {
                        foreach (var item in Model.ListDocumentV2)
                        {
                            <li>

                                @if (item.ListChilds != null && item.ListChilds.Count > 0)
                                {
                                    <a data-toggle="tab" href="javascript:;">
                                        @item.Name
                                    </a>
                                    <ul>
                                        @foreach (var child in item.ListChilds)
                                        {
                                            @if (child.ListChilds != null && child.ListChilds.Count > 0)
                                            {
                                                <a data-toggle="tab" href="javascript:;">
                                                    @child.Name
                                                </a>
                                                <ul>
                                                    @foreach (var child2 in child.ListChilds)
                                                    {
                                                        <li>
                                                            <a style="float:left;" class="_a_ducument" data-toggle="tab" onclick="UploadLoanBriefFileJS.ViewDocument(@child2.Id,'@child2.Name','@child2.AllowFromUpload', @(child2.ListFiles.Where(x => x.TypeId == child2.Id).Count()))" href="javascript:;">
                                                                @child2.Name (@(child2.ListFiles.Where(x => x.TypeId == child2.Id).Count())/
                                                                <lable style="color:red;">@(child2.NumberImage != null ? child2.NumberImage : 0))</lable>
                                                            </a>
                                                            <a href="#"><i class="fa fa-question-circle-o" data-toggle="m-tooltip" data-placement="right" title="@child2.Guide" data-html="true" data-content="@child2.Guide" style="font-size: 15px;"></i></a>
                                                        </li>
                                                    }

                                                </ul>
                                            }
                                            else
                                            {
                                                <li>
                                                    <a style="float:left;" class="_a_ducument" data-toggle="tab" onclick="UploadLoanBriefFileJS.ViewDocument(@child.Id,'@child.Name','@child.AllowFromUpload', @(child.ListFiles.Where(x => x.TypeId == child.Id).Count()))" href="javascript:;">
                                                        @child.Name (@(child.ListFiles.Where(x => x.TypeId == child.Id).Count())/
                                                        <lable style="color:red;">@(child.NumberImage != null ? child.NumberImage : 0))</lable>
                                                    </a>
                                                    <a href="#"><i class="fa fa-question-circle-o" data-toggle="m-tooltip" data-placement="right" title="@child.Guide" data-html="true" data-content="@child.Guide" style="font-size: 15px;"></i></a>
                                                </li>
                                            }
                                        }
                                    </ul>
                                }
                                else
                                {
                                    <a data-toggle="tab" href="javascript:;" onclick="UploadLoanBriefFileJS.ViewDocument(@item.Id, '@item.Name','@item.AllowFromUpload', @(item.ListFiles.Where(x => x.TypeId == item.Id).Count()))">
                                        @item.Name
                                    </a>
                                }
                            </li>
                        }
                    }
                </ul>
            </div>
            <div class="col-9">
                <div class="tab-content">
                    <div id="home" class="tab-pane fade in active show">
                        <form action="#" id="formMultipleUpload" method="post" enctype="multipart/form-data">
                            <input type="file" name="fileUploadFile" id="fileUploadFile" multiple style="display: none;"  accept="image/*,video/mp4" onchange="UploadLoanBriefFileJS.UploadFile();" />
                            <input type="hidden" value="@Model.LoanBriefId" id="hdd_LoanBriefId" />
                            <input type="hidden" value="@Model.DocumentType" id="hdd_DocumentType" />
                            <input type="hidden" id="hdd_DocumentName" />
                        </form>
                        <div class="m-loader m-loader--brand m-loader--left" id="loading" style="margin-top:20px;display:none;">
                            <input type="text" class="form-control">
                        </div>
                        <!--begin::Form-->
                        <form class="m-form m-form--fit m-form--label-align-right" id="dropImage" method="post" enctype="multipart/form-data">
                            <div class="m-portlet__body">
                                <div class="form-group m-form__group row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="m-dropzone dropzone m-dropzone--success" action="#" id="m-dropzone-uploads">
                                            <div class="m-dropzone__msg dz-message needsclick">
                                                <h3 class="m-dropzone__msg-title">
                                                    Thả tệp hoặc nhấn để upload ảnh.
                                                </h3>
                                                <span class="m-dropzone__msg-desc">
                                                    Chỉ cho phép tải ảnh
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!--end::Form-->
                        <div class="col-md-12 row" style="margin-top: 20px;">
                            <div class="col-md-6">
                                <div class="col-md-12 moved-document">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <select class="form-control cus-form-control m-input m-input--square" style="width: 100%" id="sl_document">
                                                <option value="0">Chọn mục chứng từ</option>
                                                @if (Model != null && Model.ListDocumentV2 != null && Model.ListDocumentV2.Count > 0)
                                                {
                                                    foreach (var item in Model.ListDocumentV2)
                                                    {
                                                        if (item.AllowFromUpload != "3") //Ảnh của app TimaCare
                                                        {
                                                            if (item.ParentId == (int)LOS.Common.Extensions.EnumDocumentType.CVKD_NoiO) item.Name = "(" + LOS.Common.Helpers.ExtentionHelper.GetDescription(LOS.Common.Extensions.EnumDocumentType.CVKD_NoiO) + ") " + item.Name;
                                                            if (item.ParentId == (int)LOS.Common.Extensions.EnumDocumentType.CVKD_NoiLamViec) item.Name = "(" + LOS.Common.Helpers.ExtentionHelper.GetDescription(LOS.Common.Extensions.EnumDocumentType.CVKD_NoiLamViec) + ") " + item.Name;

                                                            if (item.ListChilds != null && item.ListChilds.Count > 0)
                                                            {
                                                                foreach (var child in item.ListChilds)
                                                                {
                                                                    if (item.AllowFromUpload != "3") //Ảnh của app TimaCare
                                                                    {
                                                                        if (child.ParentId == (int)LOS.Common.Extensions.EnumDocumentType.CVKD_NoiO) child.Name = "(" + LOS.Common.Helpers.ExtentionHelper.GetDescription(LOS.Common.Extensions.EnumDocumentType.CVKD_NoiO) + ") " + child.Name;
                                                                        if (child.ParentId == (int)LOS.Common.Extensions.EnumDocumentType.CVKD_NoiLamViec) child.Name = "(" + LOS.Common.Helpers.ExtentionHelper.GetDescription(LOS.Common.Extensions.EnumDocumentType.CVKD_NoiLamViec) + ") " + child.Name;

                                                                        if (child.ListChilds != null && child.ListChilds.Count > 0)
                                                                        {
                                                                            foreach (var child2 in child.ListChilds)
                                                                            {
                                                                                if (item.AllowFromUpload != "3") //Ảnh của app TimaCare
                                                                                {
                                                                                    if (child2.ParentId == (int)LOS.Common.Extensions.EnumDocumentType.CVKD_NoiO) child2.Name = "(" + LOS.Common.Helpers.ExtentionHelper.GetDescription(LOS.Common.Extensions.EnumDocumentType.CVKD_NoiO) + ") " + child2.Name;
                                                                                    if (child2.ParentId == (int)LOS.Common.Extensions.EnumDocumentType.CVKD_NoiLamViec) child2.Name = "(" + LOS.Common.Helpers.ExtentionHelper.GetDescription(LOS.Common.Extensions.EnumDocumentType.CVKD_NoiLamViec) + ") " + child2.Name;
                                                                                    <option value="@child2.Id">@child2.Name</option>
                                                                                }
                                                                            }
                                                                        }
                                                                        else
                                                                        {
                                                                            <option value="@child.Id">@child.Name</option>
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <option value="@item.Id">@item.Name</option>
                                                            }
                                                        }

                                                    }
                                                }
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <a href="javascript:;" id="btnMovedDocument" onclick="UploadLoanBriefFileJS.AddDocumentTypeImage();" class="btn btn-brand" style="background: rgba(108, 114, 147, 1); float: right; margin-left: 5px;">
                                                Chuyển mục
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <a href="javascript:;" id="btnBrowserImage" class="btn btn-brand" onclick="UploadLoanBriefFileJS.OpenChooseFile()">
                                    Upload chứng từ
                                </a>
                                <a href="javascript:;" id="btnBrowserImageMultiple" class="btn btn-brand">
                                    Upload chứng từ
                                </a>
                            </div>
                        </div>
                        <div class="col-12" id="box_galley" style="padding-top: 20px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/UploadLoanBriefFileJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
<script type="text/javascript">
    $(document).ready(function () {
        UploadLoanBriefFileJS.Init();
    });
</script>