﻿@model LOS.WebApp.Models.LoanBriefFileViewModel
@{
    ViewData["Title"] = "ViewFile";
    Layout = null;
}

@if (Model.ListLoanBriefFile != null && Model.ListLoanBriefFile.Count > 0)
{
    if (Model.IsDelete)
    {
        <div class="row">
            @foreach (var item in Model.ListLoanBriefFile)
            {
                <div class="col-4">
                    <label class="m-checkbox m-checkbox--bold m-checkbox--state-success" style="padding-bottom: 10px;">
                        <input type="checkbox" name="@item.Id" value="@item.Id">
                        <span style="background: white;"></span>
                    </label>
                    @if (item.TypeFile == (int)LOS.Common.Extensions.TypeFile.Video)
                    {
                        <video width="250" height="240" controls>
                            <source src="@item.FilePath" type="video/mp4">
                        </video>
                    }
                    else
                    {
                        <img data-original="@item.FilePath" src="@item.FilePath" style="width: 100%" />
                    }
                    @*@if (item.SourceUpload != (int)LOS.Common.Extensions.EnumSourceUpload.TimaCare)
                        {*@
                    <div class="col-12 row" style="padding-top: 5px; padding-bottom: 15px;">
                        <a href="javascript:;" title="Xóa chứng từ" onclick="CommonModalJS.ConfirmRemoveFile(@Model.DocumentType, @Model.LoanBriefId, @item.Id)" class="btn-action btn btn-brand m-btn m-btn--icon btn-sm m-btn--icon-only">
                            <i class="fa fa-trash"></i>
                        </a>
                    </div>
                    @*}*@
                </div>
            }
        </div>
    }
    else
    {
        <div class="row">
            @foreach (var item in Model.ListLoanBriefFile)
            {
                <div class="col-4">
                    <label class="m-checkbox m-checkbox--bold m-checkbox--state-success" style="padding-bottom: 10px;">
                        <input type="checkbox" name="@item.Id" value="@item.Id">
                        <span style="background: white;"></span>
                    </label>
                    @if (item.TypeFile == (int)LOS.Common.Extensions.TypeFile.Video)
                    {
                        <video width="250" height="240" controls>
                            <source src="@item.FilePath" type="video/mp4">
                        </video>
                    }
                    else
                    {
                        <img data-original="@item.FilePath" src="@item.FilePath" style="width: 100%" />
                    }
                </div>
            }
        </div>
    }
}