﻿@model List<LOS.DAL.DTOs.ReasonCancelDetail>
@{
    Layout = null;
    ViewData["Title"] = "Check CIC";
}
<style>
    #divResult {
        width: 600px !important;
    }

    span {
        font-size: 14px !important;
    }

    .col-form-label {
        font-size: 15px !important;
        font-family: Arial !important;
        color: #6C7293;
    }
</style>
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="color:#6C7293;">
            Trả lại HĐ - @ViewBag.LoanID
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
                ×
            </span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group m-form__group row">
                <label for="example-text-input" class="col-3 col-form-label">
                    Lý do chi tiết:
                </label>
                <div class="col-9">
                    <select class="form-control m-select2" id="sl_ReationHub">
                        @if (Model != null && Model.Count > 0)
                        {
                            <option></option>
                            foreach (var item in Model)
                            {
                                <option value="@item.Id">@item.Reason</option>
                            }
                        }
                    </select>
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label for="example-text-input" class="col-3 col-form-label">
                    Comment:
                </label>
                <div class="col-9">
                    <textarea class="form-control" id="content" rows="7" placeholder="Comment"></textarea>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer" style="margin-top:-4%;border-top:none;">
        <button type="button" onclick="ReturnLoanHub();" id="btnReturnHub" class="btn btn-primary" style="background: rgba(108, 114, 147, 1);border-color: rgba(108, 114, 147, 1);width: 110px;height: 40px;">
            Trả lại
        </button>
    </div>
</div>
<input type="hidden" value="@ViewBag.LoanID" id="LoanBriefId" />

@*<script src="~/assets/demo/default/custom/components/forms/widgets/bootstrap-select.js"></script>*@
<script>
    $(document).ready(function () {
        $("#sl_ReationHub").select2({
            placeholder: "Lý do trả lại"
        });
    });
    function ReturnLoanHub() {
        var loanBriefId = $("#LoanBriefId").val();
        var content = $("#content").val();
        var reasonId = $("#sl_ReationHub").val();
        var reason = $("#sl_ReationHub option:selected").text();
        

        if (reasonId == null || reasonId == '') {
            App.ShowErrorNotLoad('Bạn phải chọn lý do');
            return;
        }
        var reasonArr = [];
        var object = {};
        object.reasonId = parseInt(reasonId);
        object.reasonName = reason;
        reasonArr.push(object);
        var formData = {
            LoanBriefId: parseInt(loanBriefId),
            Comment: content,
            LstReason: reasonArr
        };
        //console.log(formData); return;
        CommonModalJS.ManagerHubBack(formData);
    }

</script>