﻿@model LOS.WebApp.Models.DeferredPayment.Output
@{
    Layout = null;
    var lstLoanCustomer = Model != null && Model.Data != null ? Model.Data.LstLoanCustomer : null;
}
@if (lstLoanCustomer != null)
{
    for (int i = 0; i < lstLoanCustomer.Length; i++)
    {
        var cla = "";
        if (i % 2 > 0)
            cla = "cla";
        <tr data-row="@i" class="m-datatable__row  @cla" style="left: 0px;">
            <td class="m-datatable__cell"><span style="width: 50px;"> @(i + 1)</span></td>
            <td class="m-datatable__cell"><span style="width: 150px;">@lstLoanCustomer[i].ContactCode</span></td>
            <td class="m-datatable__cell"><span style="width: 150px;">@lstLoanCustomer[i].CustomerName</span></td>
            <td class="m-datatable__cell"><span style="width: 100px;">@lstLoanCustomer[i].TotalMoney.ToString("#,##")</span></td>
            <td class="m-datatable__cell"><span style="width: 100px;">@lstLoanCustomer[i].TotalMoneyCurrent.ToString("#,##")</span></td>
            <td class="m-datatable__cell"><span style="width: 100px;">@lstLoanCustomer[i].LoanTime  tháng</span></td>
            <td class="m-datatable__cell"><span style="width: 100px;"></span></td>
            <td class="m-datatable__cell"><span style="width: 100px;"></span></td>
            <td class="m-datatable__cell"><span style="width: 100px;"></span></td>
            <td class="m-datatable__cell"><span style="width: 100px;"></span></td>
            <td class="m-datatable__cell">
                <span style="width: 100px;">
                    <a style="cursor: pointer;" onClick="DeferredPaymentModule.toggle('@lstLoanCustomer[i].LstPaymentCustomer.Length',@i);">
                        @Model.Data.LstLoanCustomer[i].StatusName
                        <i id="down-@i" class="fa fa-chevron-down chevron"></i>
                        <i style="display:none;" id="up-@i" class="fa fa-chevron-up chevron"></i>
                    </a>
                </span>
            </td>
        </tr>

        if (lstLoanCustomer[i].LstPaymentCustomer != null)
        {
            var lst = lstLoanCustomer[i].LstPaymentCustomer;
            for (var j = 0; j < lst.Length; j++)
            {
                var cla2 = "cla";
                if (j % 2 == 0)
                    cla2 = "";
                <tr id="show-@i-@j" style="display:none;left: 0px;" data-row="" class="m-datatable__row loantr @cla2">
                    <td class="m-datatable__cell"><span style="width: 50px;"></span></td>
                    <td class="m-datatable__cell"><span style="width: 150px;"></span></td>
                    <td class="m-datatable__cell"><span style="width: 100px;"></span></td>
                    <td class="m-datatable__cell"><span style="width: 100px;"></span></td>
                    <td class="m-datatable__cell"><span style="width: 100px;"></span></td>
                    <td class="m-datatable__cell"><span style="width: 100px;"></span></td>
                    <td class="m-datatable__cell"><span style="width: 100px;">@lst[j].StrFromDate --> @lst[j].StrToDate</span></td>
                    <td class="m-datatable__cell"><span style="width: 100px;">@(lst[j].PayDate.HasValue ? lst[j].PayDate.Value.ToString("dd/MM/yyyy") : "")</span></td>
                    <td class="m-datatable__cell"><span style="width: 100px;">@(lst[j].CompleteDate.HasValue ? lst[j].CompleteDate.Value.ToString("dd/MM/yyyy") : "")</span></td>
                    <td class="m-datatable__cell"><span style="width: 100px;">@lst[j].CountDay  ngày</span></td>
                    <td class="m-datatable__cell"><span style="width: 100px;"></span></td>
                </tr>
            }

        }
    }
}
