﻿@model LOS.DAL.DTOs.LoanBriefForDetail
@{
    ViewData["Title"] = "Detail";
    Layout = null;
    var motoPriceModel = (MotoPriceModel)ViewBag.MotoPriceModel;
    var user = ViewBag.User as LOS.DAL.DTOs.UserDetail;

}
@using LOS.Common.Extensions;
<style>
    .custom-m-boder-box {
        border: 1px solid rgba(108, 114, 147, 1) !important;
    }

    .cus-info-header {
        border-bottom: 1px solid #e9ecef;
        padding: 10px;
    }

    #formDetailLoanBrief .select2-container--default .select2-selection--single .select2-selection__rendered {
        padding: 0.52rem 1rem;
        border: 1px solid rgba(108, 114, 147, 1) !important;
    }

    #formDetailLoanBrief .select2-container--default .select2-selection--single {
        border-bottom: none !important;
    }

    select.form-control:not([size]):not([multiple]) {
        height: unset;
    }

    .m-form.m-form--group-seperator-dashed .m-form__group {
        border-bottom: none;
    }

    .m-form.m-form--group-seperator-dashed .m-form__group {
        padding-bottom: 10px;
        padding-top: 5px;
    }

    .modal-open .select2-dropdown {
        z-index: 10060;
    }

    .btn-tima {
        background-color: rgba(108, 114, 147, 1);
        border-color: rgba(108, 114, 147, 1);
        color: #fff;
    }

    .error-notify {
        margin-top: 0px !important;
    }

    .cus-form-control {
        padding: 0.45rem 1rem;
        border: 1px solid rgba(108, 114, 147, 1) !important;
        font-family: none;
        border-radius: 0px;
    }

    label {
        text-align: right;
        font-weight: 400;
        font-size: 14px !important;
    }

    #list-tab li {
        width: 100%;
    }

    #formDetailLoanBrief input {
        border: none !important;
    }

    .padding-top {
        padding-top: 10px;
    }

    .m-form__group {
        margin-bottom: 0 !important;
    }
    /* .m-demo__preview{
        padding-top:10px !important;
    }*/
    .money-color {
        color: #FA5858 !important;
    }

    .nav.nav-pills .nav-link, .nav.nav-tabs .nav-link {
        font-weight: 400;
        font-size: 15px;
    }
</style>

<div class="modal-content">
    <div class="modal-header" style="padding: 15px;">

        <div class="m-demo-icon__class" style="margin-top: 5px; margin-left: 10px; font-weight: bold; font-size: 18px;">
            Thông tin khách hàng HĐ-@Model.LoanBriefId
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: 0px">
            <span aria-hidden="true">
                &times;
            </span>
        </button>
    </div>
    <div class="col-md-12">
        <div class="col-md-2 col-sm-12" style="float:left;">
            <div class="m-portlet__head-tools">
                <ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--right m-tabs-line-danger" role="tablist" id="list-tab">
                    @if (ViewBag.GroupID == LOS.Common.Extensions.EnumGroupUser.Telesale.GetHashCode() || ViewBag.GroupID == LOS.Common.Extensions.EnumGroupUser.ManagerTelesales.GetHashCode())
                    {
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link active show" data-toggle="tab" href="#m_portlet_tab_1_1" role="tab" aria-selected="true">
                                Tổng hợp
                            </a>
                        </li>
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link" data-toggle="tab" onclick="NoteDetailModule.Init(@Model.LoanBriefId);" href="#m_portlet_tab_1_2" role="tab" aria-selected="false">
                                Lịch sử
                            </a>
                        </li>
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link" data-toggle="tab" onclick="ListFileModule.ListFileAll(@Model.LoanBriefId);" href="#m_portlet_tab_1_7" role="tab" aria-selected="false">
                                Chứng từ
                            </a>
                        </li>
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link" data-toggle="tab" onclick="ListFileModule.ListFile(@Model.LoanBriefId);" href="#m_portlet_tab_1_3" role="tab" aria-selected="false">
                                Chi tiết chứng từ
                            </a>
                        </li>
                        @if (user.UserId == 26464)
                        {
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link" data-toggle="tab" onclick="ProductModule.GeturlEmbedMapTracking('@ViewBag.urlEmbedMapTracking')" href="#m_portlet_tab_1_4" role="tab" aria-selected="false">
                                    Theo dõi thiết bị
                                </a>
                            </li>
                        }
                        @*<li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link" data-toggle="tab" href="#ScheduleTime" role="tab" aria-selected="false">
                                    Hẹn giờ
                                </a>
                            </li>*@
                    }
                    else
                    {
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link active show" data-toggle="tab" href="#m_portlet_tab_1_1" role="tab" aria-selected="true">
                                Tổng hợp
                            </a>
                        </li>
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link" data-toggle="tab" onclick="NoteDetailModule.Init(@Model.LoanBriefId);" href="#m_portlet_tab_1_2" role="tab" aria-selected="false">
                                Lịch sử
                            </a>
                        </li>
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link" data-toggle="tab" onclick="ListFileModule.ListFileAll(@Model.LoanBriefId);" href="#m_portlet_tab_1_7" role="tab" aria-selected="false">
                                Chứng từ
                            </a>
                        </li>
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link" data-toggle="tab" onclick="ListFileModule.ListFile(@Model.LoanBriefId);" href="#m_portlet_tab_1_3" role="tab" aria-selected="false">
                                Chi tiết chứng từ
                            </a>
                        </li>
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link" data-toggle="tab" onclick="ProductModule.GeturlEmbedMapTracking('@ViewBag.urlEmbedMapTracking')" href="#m_portlet_tab_1_4" role="tab" aria-selected="false">
                                Theo dõi thiết bị
                            </a>
                        </li>
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_portlet_tab_1_5" role="tab" aria-selected="false">
                                Vị trí thẩm định
                            </a>
                        </li>

                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_portlet_tab_1_6" role="tab" aria-selected="false" onclick="ProductModule.GetMotoPrice(@Model.LoanBriefId)">
                                Thẩm định xe
                            </a>
                        </li>
                        @*if (ViewBag.GroupID == LOS.Common.Extensions.EnumGroupUser.StaffHub.GetHashCode())
                            {
                                <li class="nav-item m-tabs__item">
                                    <a class="nav-link m-tabs__link" data-toggle="tab" href="#ScheduleTime" role="tab" aria-selected="false">
                                        Hẹn giờ
                                    </a>
                                </li>
                            }*@
                    }

                </ul>
            </div>
        </div>
        <div class="col-md-10 col-sm-12" style="float:left;">
            <div class="tab-content">
                <div class="tab-pane active show" id="m_portlet_tab_1_1">
                    <form action="/LoanBrief/DetailLoanBrief" id="formDetailLoanBrief">
                        <div class="modal-body">
                            <div class="m-portlet__body">
                                <input type="hidden" value="@Model.LoanBriefId" name="LoanBriefId" />
                                <!--Kiểm tra thông tin KH-->
                                @if (ViewBag.GroupID == (int)EnumGroupUser.StaffHub || ViewBag.GroupID == (int)EnumGroupUser.ManagerHub
                                   || ViewBag.GroupID == (int)EnumGroupUser.ApproveEmp || ViewBag.GroupID == (int)EnumGroupUser.ApproveLeader
                                   || ViewBag.GroupID == (int)EnumGroupUser.Admin || user.UserId == (int)EnumUser.tvv_test
                                   && (ViewBag.Ekyc != null || ViewBag.EkycNetwork != null || ViewBag.EkycMotobike != null))
                                {
                                    @await Html.PartialAsync("../LoanBrief/Detail/_CheckInfomationCustomer.cshtml", Model)
                                }

                                <!--Thông tin khoản vay-->
                                @await Html.PartialAsync("../LoanBrief/Detail/_DeferredPayment.cshtml", Model)
                                <!--Thông tin khách hàng trả chậm-->
                                <!--begin:Thông tin cá nhân-->
                                @await Html.PartialAsync("../LoanBrief/Detail/_PersonalInformation.cshtml", Model)
                                <!--end:-->
                                <!--begin:Thông tin tài khoản VA-->
                                @if (Model.Status == (int)EnumLoanStatus.DISBURSED || Model.Status == (int)EnumLoanStatus.FINISH)
                                {
                                    @await Html.PartialAsync("../LoanBrief/Detail/_VAInfomation.cshtml", Model)
                                }
                                <!--end:-->
                                <!--begin:Thông tin Check Ekyc-->
                                @await Html.PartialAsync("../LoanBrief/Detail/_Ekyc.cshtml", Model)
                                <!--end:-->
                                <!--begin:Thông tin FraudCheck-->
                                @await Html.PartialAsync("../LoanBrief/Detail/_FraudCheck.cshtml", Model)
                                <!--end:-->
                                <!--begin:Thông tin doanh nghiệp-->
                                <div id="boxCompanyInfo" style="@(Model.TypeLoanBrief == LOS.Common.Extensions.LoanBriefType.Customer.GetHashCode() ? "display: none" : "")">
                                    @await Html.PartialAsync("../LoanBrief/Detail/_CompanyInformation.cshtml", Model)
                                </div>
                                <!--end:-->
                                <!--begin:Địa chỉ đang ở-->
                                @await Html.PartialAsync("../LoanBrief/Detail/_AddressHome.cshtml", Model)
                                <!--end:-->
                                <!--begin:Địa chỉ hộ khẩu-->
                                @await Html.PartialAsync("../LoanBrief/Detail/_AddressHousehold.cshtml", Model)
                                <!--end:-->
                                <!--begin:Việc làm-->
                                @await Html.PartialAsync("../LoanBrief/Detail/_WorkInformation.cshtml", Model)
                                <!--end:-->
                                <!--begin:Người thân và đồng nghiệp-->
                                @await Html.PartialAsync("../LoanBrief/Detail/_RelativesAndColleagues.cshtml", Model)
                                <!--end:-->
                                <!--begin:HÌnh thức vay-->
                                @await Html.PartialAsync("../LoanBrief/Detail/_LoancreditForm.cshtml", Model)
                                <!--end:-->
                                <!--begin:Tài sản-->
                                @await Html.PartialAsync("../LoanBrief/Detail/_MotobikeInfomation.cshtml", Model)
                                <!--end:-->
                                <!--begin:Khoản vay-->
                                @await Html.PartialAsync("../LoanBrief/Detail/_LoancreditInfomartion.cshtml", Model)
                                <!--end:-->
                                <!--begin:Kiểm tra thông tin CIC-->
                                @await Html.PartialAsync("../LoanBrief/Detail/_CICInfomation.cshtml", Model)
                                <!--end:-->
                                <!--begin:Giải ngân-->
                                @await Html.PartialAsync("../LoanBrief/Detail/_DisbursementInfomation.cshtml", Model)
                                <!--end:-->

                            </div>
                            <div class="modal-footer" style="display: block; text-align: center; border: none; padding: 0px;text-align:right;">
                                <button type="button" class="btn btn-tima" onclick="UploadLoanBriefFileJS.AddResultCheck(@Model.LoanBriefId,@LOS.Common.Extensions.EnumCheckLoanInformationType.CheckInfo.GetHashCode())" id="btnSubmit" style="padding: 10px 45px;">
                                    Lưu thông tin
                                </button>
                            </div>


                        </div>
                    </form>
                </div>
                <!--Nhật ký khoản vay-->
                <div class="tab-pane" id="m_portlet_tab_1_2">
                    @await Html.PartialAsync("../LoanBrief/Detail/_ListNote.cshtml")
                </div>
                <!--Chứng từ-->
                <div class="tab-pane" id="m_portlet_tab_1_7">
                    <div class="m-loader m-loader--brand m-loader--left" style="margin-top:20px;">
                        <input type="text" class="form-control">
                    </div>
                    @*@await Html.PartialAsync("../LoanBrief/Detail/_ListFilesAll.cshtml")*@
                </div>
                <!--Chứng từ chi tiết-->
                <div class="tab-pane" id="m_portlet_tab_1_3">
                    <div class="m-loader m-loader--brand m-loader--left" style="margin-top:20px;">
                        <input type="text" class="form-control">
                    </div>
                    @*@await Html.PartialAsync("../LoanBrief/Detail/_ListFiles.cshtml")*@
                </div>
                <!--Theo dõi thiết bị-->
                <div class="tab-pane" id="m_portlet_tab_1_4">
                    <div class="m-loader m-loader--brand m-loader--left" style="margin-top:20px;">
                        <input type="text" class="form-control">
                    </div>
                    @*<embed type="text/html" src="@ViewBag.urlEmbedMapTracking" style="width:100%; height:800px">*@
                </div>
                <!--Vị trí thẩm định-->
                <div class="tab-pane" id="m_portlet_tab_1_5">
                    <embed type="text/html" src="@ViewBag.urlEmbedMapProductAppraiser" style="width:100%; height:800px">
                </div>
                <!--Thẩm định xe-->
                <div class="tab-pane" id="m_portlet_tab_1_6">
                    <div class="m-loader m-loader--brand m-loader--left" style="margin-top:20px;">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <!--Hẹn giờ gọi lại-->
                <div class="tab-pane" id="ScheduleTime">
                    @await Html.PartialAsync("../LoanBrief/Detail/_ScheduleTime.cshtml", Model)
                </div>

            </div>
        </div>
    </div>
</div>
<input type="hidden" id="hdd_CheckBuyInsurence" value="@(Model.BuyInsurenceCustomer == true || (Model.LoanBriefProperty != null && Model.LoanBriefProperty.BuyInsuranceProperty == true) ? 1 : 0)" />
<input type="hidden" id="hdd_JobDescriptionId" value="@(Model.LoanBriefJob != null && Model.LoanBriefJob.JobDescriptionId > 0 ? Model.LoanBriefJob.JobDescriptionId : 0)" />
<script src="~/js/LoanBrief/Detail/LoanBriefDetailModule.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
<script src="~/js/Approve/NoteDetailModule.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
<script src="~/js/LoanBrief/Detail/ListFileModule.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
<script src="~/js/Product/ProductModule.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
<script src="~/js/LoanBrief/CalculatorInsurranceModuleJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
<script src="~/js/UploadLoanBriefFileJS.js??v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
<script src="~/js/LoanBrief/Detail/ReBorrowModule.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
<script src="~/js/LoanBrief/LoancreditInfomationModuleJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
<script type="text/javascript">
    $(document).ready(function () {
        App.LibraryMoney();
        App.ValidCustom();
        if (@user.GroupId != GROUP_APPROVE_LEADER && @user.GroupId != GROUP_APPROVE_EMP) {
            jQuery("#m_portlet_tab_1_1 input:radio").attr('disabled', true);
            $('#btnSubmit').css("display", "none");
        }

        if (@Model.Status != LoanStatus.DISBURSED && @Model.Status != LoanStatus.FINISH && @Model.Status != LoanStatus.CANCELED
            && $('#hdd_CheckBuyInsurence').val() == 1) {
             CalculatorInsurranceModuleJS.Init('@Model.LoanAmount', '@Model.LoanTime', '@Model.RateTypeId', '@Model.Frequency', '@Model.RatePercent',  '@Model.LoanBriefId');
        }
        LoancreditInfomationModuleJS.InfomationPayment('@Model.Status', '@Model.NationalCard');
        LoanBriefDetailModule.CalculateInterest('@Model.LoanBriefId', '@Model.LoanAmount', '@Model.LoanTime', '@Model.RateTypeId', '@Model.RatePercent');
        LoanBriefDetailModule.ResultEkyc('@Model.LoanBriefId');
    });
</script>



