﻿@model LOS.DAL.DTOs.CountLoanTLSDetail
@{
    Layout = null;
}

<a onclick="LoanBriefModule.FilterClickTop('@LOS.Common.Extensions.EnumFilterClickTop.ADVICE_LOAN.GetHashCode()', this)" class="filter-a"><p class="filter"><span class="filterSpan">Đơn chưa liên hệ (@Model.TLS_WaitAdvice)</span></p></a>
<a onclick="LoanBriefModule.FilterClickTop('@LOS.Common.Extensions.EnumFilterClickTop.PREPARE_LOAN.GetHashCode()', this)" class="filter-a"><p class="filter marginleft"><span class="filterSpan">Chờ chuẩn bị hồ sơ (@Model.TLS_WaitPREPARE)</span></p></a>
<a onclick="LoanBriefModule.FilterClickTop('@LOS.Common.Extensions.EnumFilterClickTop.CANCEL_LOAN.GetHashCode()', this)" class="filter-a"><p class="filter marginleft"><span class="filterSpan">TLS hủy (@Model.TLS_Cancel)</span></p></a>
<a onclick="LoanBriefModule.FilterClickTop('@LOS.Common.Extensions.EnumFilterClickTop.HOTLEAD_NORESPONSE.GetHashCode()', this);" class="filter-a"><p class="filter marginleft"><span class="filterSpan">Hot Lead chưa phản hồi (@Model.HotLeadNoResponse)</span></p></a>
<a onclick="LoanBriefModule.FilterClickTop('@LOS.Common.Extensions.EnumFilterClickTop.HOTLEAD_RESPONDED.GetHashCode()', this)" class="filter-a"><p class="filter marginleft"><span class="filterSpan">Hot Lead đã phản hồi (@Model.HotLeadResponded)</span></p></a>
<a onclick="LoanBriefModule.FilterClickTop('@LOS.Common.Extensions.EnumFilterClickTop.AUTOCALL.GetHashCode()', this)" class="filter-a"><p class="filter marginleft"><span class="filterSpan">Đơn autocall (@Model.AutoCall)</span></p></a>
<a onclick="LoanBriefModule.FilterClickTop('@LOS.Common.Extensions.EnumFilterClickTop.CHATBOT.GetHashCode()', this)" class="filter-a"><p class="filter marginleft"><span class="filterSpan">Đơn chatbot (@Model.Chatbot)</span></p></a>
<div style="float: right; color: red">
    <p class="filter "><span class="filterSpan">Tổng đơn (@Model.TotalLoanbrief)</span></p>
</div>