﻿@model LOS.WebApp.Models.FilterStaffTLSViewModel
@{
    Layout = null;
}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-2 div_tls_statistical" style="text-align: right;">
        <div class="form-group m-form__group">
            <div class="m-form__control">
                <span class="filterSpan">
                    Số phút gọi: @Model.TotalMinutesCall phút
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-2 div_tls_statistical" style="text-align: right;">
        <div class="form-group m-form__group">
            <div class="m-form__control">
                <span class="filterSpan">
                    Form: @Model.Form
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-2 div_tls_statistical" style="text-align: right;">
        <div class="form-group m-form__group">
            <div class="m-form__control">
                <span class="filterSpan">
                    Lead: @Model.Lead
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-2 div_tls_statistical" style="text-align: right;">
        <div class="form-group m-form__group">
            <div class="m-form__control">
                <span class="filterSpan">
                    % F2L(XM): @Model.PercentFormToLead %
                </span>
            </div>
        </div>
    </div>
</div>
