﻿@{
    Layout = null;
    ViewData["Title"] = "Hẹn gọi lại";
}


    <div class="modal-content" style="width: 700px;">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel" style="color:#6C7293;">
                Hẹn gọi lại
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">
                    ×
                </span>
            </button>
        </div>
        <div class="modal-body" style="padding: 25px 0 25px 0;color: #6C7293">
            <form>

                <div class="form-group m-form__group row">
                    <label for="example-email-input" class="col-2 col-form-label" style="padding-left: 7%;padding-top: 2%;">
                        Giờ hẹn:
                    </label>
                    <div class="col-4 padding-top">
                        <input class="form-control cus-form-control m-input ScheduleTime" id="ScheduleTime" style="border: none !important;border-bottom: 1px solid #ced4da !important;padding-left:0 !important;float:left;width:90%;border-radius:0">
                        <i class="fa fa-calendar" style="padding-top: 5.4%;font-size: 15pt; border-bottom: 1px solid rgba(108, 114, 147, 1);"></i>
                    </div>
                </div>

                <div class="form-group m-form__group row">
                    <label for="example-email-input" class="col-2 col-form-label" style="padding-left: 7%;">
                        Ghi chú:
                    </label>
                    <div class="col-8 padding-top">
                        <textarea class="form-control cus-form-control m-input" id="Comment" style="border: none !important;border-bottom: 1px solid #ced4da !important;height:28px;border-radius:0;padding-left:0;"></textarea>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer" style="margin-top:-4%;border-top:none;padding:15px;">
            <button type="button" class="btn btn-tima" onclick="ScheduleTimeModule.ScheduleTime(@ViewBag.LoanBriefId)" id="btnSubmit" style="width: 150px;margin-right: 40%;">
                Lưu
            </button>
        </div>
        <div class="m-portlet__body" style="margin: 15px;">

            <table class="m-datatable__table" id="dtScheduleTime" style="display:none;">
            </table>

        </div>
    </div>
    <input type="hidden" id="loanBriefId" value="@ViewBag.LoanBriefId">
<script>
    $(document).ready(function () {
        var loanBriefId = $("#loanBriefId").val();
        App.Datetimepicker();
        ScheduleTimeModule.Init(loanBriefId);
    });
</script>
