﻿@using LOS.DAL.DTOs;
@model List<LoanBriefImportFileExcelDetail>;
@{
    Layout = null;
}
<style>
    .customSpan {
        color: #808080;
        font-size: 12px;
    }
</style>
<div class="modal-content">
    <div class="modal-header" style="padding: 15px;">
        <div class="m-demo-icon__class" style="margin-top: 5px; margin-left: 10px; font-weight: bold">
            Danh sách đơn vay
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: 0px">
            <span aria-hidden="true">
                &times;
            </span>
        </button>
    </div>
    <div class="modal-body" style="padding: 25px 0px;">
        <div class="m-section__content col-12" style="padding-top: 20px;">
            <table class="table m-table m-table--head-bg-brand custom-table-tima">
                <thead>
                    <tr>
                        <th> #</th>
                        <th>Mã HĐ</th>
                        <th>Tên khách hàng</th>
                        <th>Số điện thoại</th>
                        <th>CCCD/CMT</th>
                        <th>Đ/C hiện tại</th>
                        <th>Đ/C HK</th>
                        <th>Tên công ty</th>
                        <th>Source</th>
                        <th>Ngày tạo</th>
                        <th>Ngày cập nhập</th>
                        <th>Note</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Count > 0)
                    {
                        var stt = 1;
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@(stt++)</td>
                                <td>@(item.LoanBriefId == null ? "" : item.LoanBriefId.ToString())</td>
                                <td>@item.FullName <br /><span class="customSpan">@(item.Gender == 0 ? "Nam" : "Nữ") (@(item.Age == 0 ? "" : item.Age + "tuổi")  )</span></td>
                                <td>@item.Phone<br /><span class="customSpan">@item.ProductName</span></td>
                                <td>@(item.NationalCard == null ? "" : item.NationalCard)</td>
                                <td>@(item.DistrictName == null ? "" : item.DistrictName) <br /><span class="customSpan">@(item.CityName == null ? "" : item.CityName)</span></td>
                                <td>@(item.DistrictNameHouseHold == null ? "" : item.DistrictNameHouseHold) <br /><span class="customSpan">@(item.CityNameHouseHold == null ? "" : item.CityNameHouseHold)</span></td>
                                <td>@(item.CompanyName == null ? "" : item.CompanyName)<br /> <span class="customSpan">@(item.Salary == null ? "" : item.Salary.Value.ToString("#,##0"))</span></td>
                                <td>@(item.Source == null ? "" : item.Source)</td>
                                <td>@(item.CreateDate == DateTime.MinValue ? "" : item.CreateDate.Value.ToString("HH:mm dd/MM/yyyy"))</td>
                                <td>@(item.UpdateDate == DateTime.MinValue ? "" : item.UpdateDate.Value.ToString("HH:mm dd/MM/yyyy"))</td>
                                <td>@item.Note</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="11" class="text-center">
                                <span style="font-size: 18px; color: red;"><i>Không có dữ liệu</i></span>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

