﻿@using LOS.WebApp.Models;
@model List<TableImportFileExcel>;
@{
    Layout = null;
}
<div class="m-section__content">
    <table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand">
        <thead>
            <tr style="left: 0px;">
                <th class="text-center">STT</th>
                <th class="text-center">Tên File</th>
                <th class="text-center">Tổng số đơn</th>
                <th class="text-center">Tổng số đơn tạo thành công</th>
                <th class="text-center">Tổng số đơn tạo thất bại</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Count > 0)
            {
                var i = 1;
                foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">@(i++)</td>
                        <td class="text-center">@item.FileName</td>
                        <td class="text-center">@item.TotalLoanImport</td>
                        <td class="text-center">
                            <a href="#" onclick="ImportFileExcelModule.DetailLoanBriefImportFileExcel('@item.FileImportId', 1)">
                                <span class="m-badge m-badge--success m-badge--wide">@item.TotalLoanImportSuccess</span>
                            </a>
                        </td>
                        <td class="text-center">
                            <a href="#" onclick="ImportFileExcelModule.DetailLoanBriefImportFileExcel('@item.FileImportId', -1)">
                                <span class="m-badge m-badge--danger m-badge--wide">@item.TotalLoanImportReject</span>
                            </a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td class="text-center" colspan="5" style="color: red; font-size: 18px;">Không có dữ liệu</td>
                </tr>
            }
        </tbody>
    </table>
</div>