﻿
@{
    ViewData["Title"] = "ImportFileExcel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/form.css?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS" rel="stylesheet" />
<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Import đơn vay bằng File Excel
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <!--begin: Search Form -->
            <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                <div class="row align-items-center">
                    <div class="col-xl-8 order-2 order-xl-1">
                        <div class="form-group m-form__group row align-items-center">
                            <div class="col-md-4 form-group m-form__group">
                                <input type="file" id="file-importloanexcel" placeholder="Choose file...">
                            </div>
                            <div class="col-md-2">
                                <div class="form-group m-form__group">
                                    <div class="m-form__control">
                                        <a href="javascript:;" class="btn btn-primary" style="cursor:pointer;" onclick="ImportFileExcelModule.ImportFile()" id="btnImportLoanExcel">
                                            Import
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group m-form__group">
                                    <div class="m-form__control">
                                        <a href="javascript:;" class="btn btn-primary" style="cursor:pointer;" onclick="ImportFileExcelModule.DownloadFileExsample()">
                                            <i class="fa fa-file-excel-o"></i>
                                            Tải File mẫu
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <form id="frm-tbImportLoanFileExcel">
                            <div class="form-group m-form__group row align-items-center">
                                <div style="margin-left: 15px;">
                                    <div class="form-group m-form__group">
                                        <div class="input-group date">
                                            <input style="margin-right: -15%;cursor:pointer;color:#9CA0B6;" type="text" class="form-control inputsearch" name="DateRanger" readonly="" id="filtercreateTime" placeholder="Thời gian tạo">
                                            <i class="fa fa-calendar" style="padding-top: 3%;font-size: 15pt;"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="m-section" id="div-table">
            </div>
        </div>
    </div>
</div>
@section Scripts
    {
    <script src="~/js/LoanBrief/ImportFileExcelModule.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            ImportFileExcelModule.Init();
            App.ValidCustom();
        });
    </script>
}


