﻿@using LOS.Common.Extensions
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = ViewBag.User as LOS.DAL.DTOs.UserDetail;
    var lstTeam = ViewBag.LstTeamTelesales as List<LOS.DAL.EntityFramework.TeamTelesales>;
    var lstTeamManager = ViewBag.ListTeamTelesale as List<LOS.DAL.EntityFramework.TeamTelesales>;
    var listCskh = new List<SelectListItem>() {
            new SelectListItem("Bùi Thị Ánh Huệ","26905"),
             new SelectListItem("Hà Thị Thanh Thư","27865"),
            new SelectListItem("Vũ Thị Hạnh","28301")
            };
}
<link href="~/css/form.css?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS" rel="stylesheet" />
<style>
    #dtLoanBrief tbody {
        padding: 0 !important;
    }

    #linkName:hover {
        text-decoration: none !important;
    }

    .filter {
        float: left;
        margin-top: 30px;
        height: 40px;
        margin-bottom: 0px;
    }

    .filterSpan {
        font-family: 'Poppins Bold', 'Poppins Regular', 'Poppins', sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 12px;
        color: #6C7293;
    }

    .marginleft {
        margin-left: 25px;
    }

    .filter-active {
        border-bottom: solid 2px #6C7293;
    }

    .filter-a {
        cursor: pointer;
    }

    .filter-border-button {
        border-bottom: 2px solid #716aca;
    }

    .custom-table-tima > .m-datatable__table > .m-datatable__head .m-datatable__row {
        height: 50px !important;
    }

    .m-portlet .m-portlet__body {
        padding: 0rem 2.2rem;
    }

    .form-group {
        margin-bottom: 0px;
    }

    .m-portlet .m-portlet__body {
        padding-bottom: 20px;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        position: relative;
        padding: 0.65rem 0rem;
        line-height: 1.25;
    }
</style>
<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head" style="height: 40px !important;">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title" style="width:100%;" id="FilterLoanTop">
                    <a onclick="LoanBriefModule.FilterClickTop('@LOS.Common.Extensions.EnumFilterClickTop.ADVICE_LOAN.GetHashCode()', this)" class="filter-a"><p class="filter"><span class="filterSpan">Đơn chưa liên hệ (...)</span></p></a>
                    <a onclick="LoanBriefModule.FilterClickTop('@LOS.Common.Extensions.EnumFilterClickTop.PREPARE_LOAN.GetHashCode()', this)" class="filter-a"><p class="filter marginleft"><span class="filterSpan">Chờ chuẩn bị hồ sơ (...)</span></p></a>
                    <a onclick="LoanBriefModule.FilterClickTop('@LOS.Common.Extensions.EnumFilterClickTop.CANCEL_LOAN.GetHashCode()', this)" class="filter-a"><p class="filter marginleft"><span class="filterSpan">TLS hủy (...)</span></p></a>
                    <a onclick="LoanBriefModule.FilterClickTop('@LOS.Common.Extensions.EnumFilterClickTop.HOTLEAD_NORESPONSE.GetHashCode()', this);" class="filter-a"><p class="filter marginleft"><span class="filterSpan">Hot Lead chưa phản hồi (...)</span></p></a>
                    <a onclick="LoanBriefModule.FilterClickTop('@LOS.Common.Extensions.EnumFilterClickTop.HOTLEAD_RESPONDED.GetHashCode()', this)" class="filter-a"><p class="filter marginleft"><span class="filterSpan">Hot Lead đã phản hồi (...)</span></p></a>
                    <a onclick="LoanBriefModule.FilterClickTop('@LOS.Common.Extensions.EnumFilterClickTop.AUTOCALL.GetHashCode()', this)" class="filter-a"><p class="filter marginleft"><span class="filterSpan">Đơn autocall (...)</span></p></a>
                    <a onclick="LoanBriefModule.FilterClickTop('@LOS.Common.Extensions.EnumFilterClickTop.CHATBOT.GetHashCode()', this)" class="filter-a"><p class="filter marginleft"><span class="filterSpan">Đơn chatbot (...)</span></p></a>
                    <div style="float: right; color: red">
                        <p class="filter "><span class="filterSpan">Tổng đơn (...)</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <!--begin: Search Form -->
            <div class="m-form m-form--label-align-right m--margin-bottom-10">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">

                            <div class="col-lg-2 col-md-6 col-sm-12" style="padding: 10px;">
                                <div class="m-input-icon m-input-icon--left">
                                    <input type="text" class="form-control m-input inputsearch" placeholder="Mã HĐ" id="filterLoanId">
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-6 col-sm-12" style="padding: 10px;">
                                <div class="m-input-icon m-input-icon--left">
                                    <input type="text" class="form-control m-input inputsearch" placeholder="SĐT, CMND" id="filterSearch">
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-6 col-sm-12" style="padding: 10px;">
                                <div class="m-form__control">
                                    <select class="form-control m-select2" id="filterProduct">
                                        <option></option>
                                        <option value="-1">Tất cả</option>
                                        <option value="@((int)LOS.Common.Extensions.EnumProductCredit.MotorCreditType_CC)">Vay qua ĐK XMCC</option>
                                        <option value="@((int)LOS.Common.Extensions.EnumProductCredit.MotorCreditType_KCC)">Vay qua ĐK XMKCC</option>
                                        <option value="@((int)LOS.Common.Extensions.EnumProductCredit.MotorCreditType_KGT)">Vay qua ĐK XMKGT</option>
                                        <option value="@((int)LOS.Common.Extensions.EnumProductCredit.OtoCreditType_CC)">Vay qua ĐK ô tô</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-6 col-sm-12" style="padding: 10px;">
                                <div class="m-form__control">
                                    <select class="form-control m-select2" id="filterSource">
                                        <option></option>
                                        <option value="-1">Tất cả</option>
                                        <option value="@((int)LOS.Common.Extensions.FilterSourceTLS.form_cancel_rmkt)">@(Description.GetDescription(LOS.Common.Extensions.FilterSourceTLS.form_cancel_rmkt))</option>
                                        <option value="@((int)LOS.Common.Extensions.FilterSourceTLS.rmkt_loan_finish)">@(Description.GetDescription(LOS.Common.Extensions.FilterSourceTLS.rmkt_loan_finish))</option>
                                        <option value="@((int)LOS.Common.Extensions.FilterSourceTLS.rmkt_loan_finish_not_reborrow)">@(Description.GetDescription(LOS.Common.Extensions.FilterSourceTLS.rmkt_loan_finish_not_reborrow))</option>
                                        @if (user.GroupId == LOS.Common.Extensions.EnumGroupUser.Telesale.GetHashCode())
                                        {
                                            <option value="@((int)LOS.Common.Extensions.FilterSourceTLS.SourceSelfCreated)">@(Description.GetDescription(LOS.Common.Extensions.FilterSourceTLS.SourceSelfCreated))</option>
                                        }
                                        <option value="@((int)LOS.Common.Extensions.FilterSourceTLS.SourceFormNewMKT)">@(Description.GetDescription(LOS.Common.Extensions.FilterSourceTLS.SourceFormNewMKT))</option>
                                    </select>
                                </div>
                            </div>

                            @if (user.GroupId == LOS.Common.Extensions.EnumGroupUser.ManagerTelesales.GetHashCode() || user.UserId == 55764)
                            {
                                <div class="col-lg-2 col-md-6 col-sm-12" style="padding: 10px;">
                                    <div class="m-form__control">
                                        <select class="form-control m-select2" id="filterSupport2">
                                            <option></option>
                                            <option value="-1">Tất cả</option>
                                        </select>
                                    </div>
                                </div>
                            }

                            <div class="col-lg-2 col-md-6 col-sm-12" style="padding: 10px;">
                                <div class="m-form__control">
                                    <select class="form-control m-select2" id="filterProvince">
                                        <option></option>
                                        <option value="-1">Tất cả</option>
                                        <option value="@((int)EnumProvince.HaNoi)">@LOS.Common.Helpers.ExtentionHelper.GetDescription(EnumProvince.HaNoi)</option>
                                        <option value="@((int)EnumProvince.HCM)">@LOS.Common.Helpers.ExtentionHelper.GetDescription(EnumProvince.HCM)</option>
                                        <option value="@((int)EnumProvince.BacNinh)">@LOS.Common.Helpers.ExtentionHelper.GetDescription(EnumProvince.BacNinh)</option>
                                        <option value="@((int)EnumProvince.HaiDuong)">@LOS.Common.Helpers.ExtentionHelper.GetDescription(EnumProvince.HaiDuong)</option>
                                        <option value="@((int)EnumProvince.VinhPhuc)">@LOS.Common.Helpers.ExtentionHelper.GetDescription(EnumProvince.VinhPhuc)</option>
                                        <option value="@((int)EnumProvince.BinhDuong)">@LOS.Common.Helpers.ExtentionHelper.GetDescription(EnumProvince.BinhDuong)</option>
                                        <option value="@((int)EnumProvince.BacGiang)">@LOS.Common.Helpers.ExtentionHelper.GetDescription(EnumProvince.BacGiang)</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-6 col-sm-12" style="padding: 10px;">
                                <div class="m-form__control">
                                    <select class="form-control m-select2" id="filterStatusTelesales" onchange="LoanBriefModule.GetDetailStatusTelesales(this.value)">
                                        <option></option>
                                        <option value="0">Tất cả trạng thái</option>
                                        <option value="@((int)EnumStatusTelesales.NotContact)">@LOS.Common.Helpers.ExtentionHelper.GetDescription(EnumStatusTelesales.NotContact)</option>
                                        <option value="@((int)EnumStatusTelesales.NoContact)">@LOS.Common.Helpers.ExtentionHelper.GetDescription(EnumStatusTelesales.NoContact)</option>
                                        <option value="@((int)EnumStatusTelesales.Consider)">@LOS.Common.Helpers.ExtentionHelper.GetDescription(EnumStatusTelesales.Consider)</option>
                                        <option value="@((int)EnumStatusTelesales.SeeLater)">@LOS.Common.Helpers.ExtentionHelper.GetDescription(EnumStatusTelesales.SeeLater)</option>
                                        <option value="@((int)EnumStatusTelesales.WaitPrepareFile)">@LOS.Common.Helpers.ExtentionHelper.GetDescription(EnumStatusTelesales.WaitPrepareFile)</option>
                                        <option value="@((int)EnumStatusTelesales.HubBack)">@LOS.Common.Helpers.ExtentionHelper.GetDescription(EnumStatusTelesales.HubBack)</option>
                                        <option value="@((int)EnumStatusTelesales.PushHub)">@LOS.Common.Helpers.ExtentionHelper.GetDescription(EnumStatusTelesales.PushHub)</option>
                                        <option value="@((int)EnumStatusTelesales.WaitTDHSHandle)">@LOS.Common.Helpers.ExtentionHelper.GetDescription(EnumStatusTelesales.WaitTDHSHandle)</option>
                                        <option value="@((int)EnumStatusTelesales.LoanCancel)">@LOS.Common.Helpers.ExtentionHelper.GetDescription(EnumStatusTelesales.LoanCancel)</option>
                                        @*@if (user.TypeRecievedProduct == (int)EnumTypeRecievedProduct.All || user.TypeRecievedProduct == (int)EnumTypeRecievedProduct.BigProduct)
                                            {
                                                <option value="@((int)EnumStatusTelesales.DISBURSED)">@LOS.Common.Helpers.ExtentionHelper.GetDescription(EnumStatusTelesales.DISBURSED)</option>
                                                <option value="@((int)EnumStatusTelesales.FINISH)">@LOS.Common.Helpers.ExtentionHelper.GetDescription(EnumStatusTelesales.FINISH)</option>

                                            }*@

                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-6 col-sm-12" style="padding: 10px;">
                                <div class="m-form__control">
                                    <select class="form-control m-select2" id="filterDetailStatusTelesales">
                                    </select>
                                </div>
                            </div>

                            @if (user.GroupId == LOS.Common.Extensions.EnumGroupUser.Telesale.GetHashCode())
                            {
                                <div class="col-lg-2 col-md-6 col-sm-12" style="padding: 10px;">
                                    <div class="m-form__control">
                                        @*<select class="form-control m-select2" id="filterRecare" onchange="LoanBriefModule.ChangeRecare(this.value)">
                                                <option></option>
                                                <option value="-1" selected="selected">Giỏ của mình</option>
                                                <option value="@((int)EnumUser.recare_team)">Giỏ Recare Team</option>
                                            </select>*@

                                        <select class="form-control m-select2" id="filterRecare">
                                            <option></option>
                                            <option value="-1" selected="selected">Giỏ của mình</option>
                                        </select>
                                    </div>
                                </div>
                            }

                            <div class="col-lg-2 col-md-6 col-sm-12" style="padding: 10px;">
                                <div class="input-group date">
                                    <input style="margin-right: -9%;cursor:pointer;color:#9CA0B6;" type="text" class="form-control inputsearch" readonly="" id="filtercreateTime" placeholder="Thời gian tạo">
                                    <i class="fa fa-calendar" style="padding-top: 3%;font-size: 15pt;"></i>
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-6 col-sm-12" style="padding: 10px;">
                                <div class="input-group date">
                                    <input style="margin-right: -9%;cursor:pointer;color:#9CA0B6;" type="text" class="form-control inputsearch" readonly="" id="filterLastChangeStatus" placeholder="Thời gian tác động">
                                    <i class="fa fa-calendar" style="padding-top: 3%;font-size: 15pt;"></i>
                                </div>
                            </div>

                            @if (user.GroupId == LOS.Common.Extensions.EnumGroupUser.ManagerTelesales.GetHashCode() || user.UserId == 55764)
                            {

                                <div class="col-lg-2 col-md-6 col-sm-12" style="padding: 10px;">
                                    <div class="m-form__control">
                                        <select class="form-control m-select2" id="filterTeam">
                                            <option></option>
                                            <option value="0">Tất cả</option>
                                            @if (lstTeam != null && lstTeam.Count > 0)
                                            {
                                                foreach (var item in lstTeam)
                                                {
                                                    <option value="@item.TeamTelesalesId">@item.Name</option>
                                                }
                                            }

                                        </select>
                                    </div>
                                </div>

                                <div class="col-lg-2 col-md-6 col-sm-12" style="padding: 10px;">
                                    <div class="m-input-icon m-input-icon--left">
                                        <input type="text" class="form-control m-input inputsearch" placeholder="utm_source" id="filterUtmSource">
                                    </div>
                                </div>
                            }


                            <div class="col-lg-1 col-md-6 col-sm-12" style="padding: 10px;">
                                <div class="m-form__control">
                                    <a href="javascript:;" class="btn btn-tima" style="cursor:pointer;" id="btnSearch">
                                        Tìm kiếm
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-1 col-sm-6 col-sm-12" style="padding: 10px;">
                                <div class="m-form__control">
                                    <button id="btnCreate" class="btn btn-tima" onclick="InitLoanBrief.Create(0)">
                                        Tạo hồ sơ
                                    </button>
                                </div>
                            </div>
                            @if (user.GroupId == LOS.Common.Extensions.EnumGroupUser.ManagerTelesales.GetHashCode() || user.UserId == 55764)
                            {
                                <div class="col-lg-1 col-md-6 col-sm-12" style="padding: 10px;">
                                    <div class="m-form__control">
                                        <button type="button" class="btn btn-tima" onclick="ExportExcel();">
                                            Xuất Excel
                                        </button>
                                    </div>
                                </div>
                            }
                            @if (user.GroupId == LOS.Common.Extensions.EnumGroupUser.ManagerTelesales.GetHashCode()
                       || user.UserId == 28301 || user.UserId == 26905 || user.UserId == 27865 //cho 3 cskh chuyển đơn hub tạo cho nhau spt_hanhvt spt_huebta tls_thuhtt
                       || user.UserId == LOS.Common.Extensions.EnumUser.qc_phuongnt.GetHashCode())
                            {
                                <div class="col-lg-2 col-md-6 col-sm-12" style="padding: 10px;">
                                    <div class="m-form__control">
                                        @if (user.GroupId == LOS.Common.Extensions.EnumGroupUser.ManagerTelesales.GetHashCode()
                                   || user.UserId == LOS.Common.Extensions.EnumUser.qc_phuongnt.GetHashCode())
                                        {
                                            <select class="form-control m-select2" id="filterSupport">
                                                <option></option>
                                            </select>
                                        }
                                        else
                                        {
                                            <select class="form-control m-select2" id="filterSupport">
                                                <option></option>
                                                @foreach (var item in listCskh)
                                                {
                                                    if (item.Value != user.UserId.ToString())
                                                    {
                                                        <option value="@item.Value">@item.Text</option>
                                                    }
                                                }
                                            </select>
                                        }
                                    </div>
                                </div>
                                if (lstTeamManager != null && lstTeamManager.Count > 1)
                                {
                                    <input type="hidden" value="@lstTeamManager.Count()" id="totalTeamManager" />
                                    <div class="col-lg-2 col-md-6 col-sm-12" style="padding: 10px; display: none" id="boxChangeTeam">
                                        <div class="m-form__control">
                                            <select class="form-control m-select2" id="ChangeTeam">
                                                <option></option>
                                                @foreach (var item in lstTeamManager)
                                                {
                                                    <option value="@item.TeamTelesalesId">@item.Name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                }
                                <div class="col-lg-1 col-md-6 col-sm-12 box-show-selected" style="padding: 10px;">
                                    <div class="m-form__control">
                                        <button type="button" class="btn btn-tima" onclick="LoanBriefModule.ChangeSupport();">
                                            Chuyển hỗ trợ
                                            (<span class="sTotalSelected">0</span>)
                                        </button>
                                    </div>
                                </div>

                                <div class="col-lg-1 col-md-6 col-sm-12 m--margin-left-20" style="padding: 10px;">
                                    <div class="m-form__control">
                                        <button type="button" class="btn btn-tima" onclick="LoanBriefModule.ChangeSupportAll();" style="margin-left: 15px;">
                                            Chuyển hỗ trợ (tất cả)
                                        </button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group row">
                            @*@if (user.GroupId == LOS.Common.Extensions.EnumGroupUser.Telesale.GetHashCode())
                                {
                                    <div class="col-lg-2 col-md-6 col-sm-12 div_recare box-show-selected" style="padding: 10px;">
                                        <div class="m-form__control">
                                            <button type="button" class="btn btn-tima" onclick="LoanBriefModule.ChangeMineAndRecare(@((int)EnumUser.recare_team))">
                                                Chuyển giỏ recare
                                                (<span class="sTotalSelected">0</span>)
                                            </button>
                                        </div>
                                    </div>
                                }*@


                            @if (user.GroupId == LOS.Common.Extensions.EnumGroupUser.Telesale.GetHashCode())
                            {
                                <div class="col-md-9 col-sm-12 m--padding-top-10" id="filterStaffTLS">
                                    <div class="row">
                                        <div class="col-md-4"></div>
                                        <div class="col-md-2 div_tls_statistical" style="text-align: right;">
                                            <div class="form-group m-form__group">
                                                <div class="m-form__control">
                                                    <span class="filterSpan">
                                                        Số phút gọi: ...
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2 div_tls_statistical" style="text-align: right;">
                                            <div class="form-group m-form__group">
                                                <div class="m-form__control">
                                                    <span class="filterSpan">
                                                        Form: ...
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2 div_tls_statistical" style="text-align: right;">
                                            <div class="form-group m-form__group">
                                                <div class="m-form__control">
                                                    <span class="filterSpan">
                                                        Lead: ...
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2 div_tls_statistical" style="text-align: right;">
                                            <div class="form-group m-form__group">
                                                <div class="m-form__control">
                                                    <span class="filterSpan">
                                                        % F2L(XM): ...
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            }


                        </div>
                    </div>
                </div>
            </div>

            <hr style="color: #333333;" />
            <!--begin: Datatable -->
            <table class="m-datatable__table dtform" width="100%" id="dtLoanBrief"></table>
        </div>
    </div>
</div>
<input type="hidden" id="GroupId" value="@LOS.Common.Extensions.EnumGroupUser.Telesale.GetHashCode()" />
<input type="hidden" id="ManagerTelesales" value="@LOS.Common.Extensions.EnumGroupUser.ManagerTelesales.GetHashCode()" />
<input type="hidden" id="filterClickTop" />

@*<div id="tima-customerchat" data-los-token="@user.Token"></div>*@

@section Scripts
{
    <script src="/js/LoanBriefModule.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS" type="text/javascript"></script>
    <script src="~/js/CommonModalJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/LoanBrief/PersonalInformationModuleJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/LoanBrief/AddressHomeModuleJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/LoanBrief/AddressHouseholdModuleJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/LoanBrief/WorkInformationModuleJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/LoanBrief/RelativeInfomationModuleJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/LoanBrief/MotobikeInfomationModuleJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/LoanBrief/LoancreditFormModuleJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/LoanBrief/LoancreditInfomationModuleJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/LoanBrief/DisbursementInfomationModeleJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    @*<script src="~/js/LoanBrief/InitLoanBrief.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>*@
    <script src="~/js/LoanbriefV2/InitLoanBrief.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>

    <script src="~/js/SMSModule.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/CareSoftModule.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/ScheduleTimeModule.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/LoanBrief/ReLoanModule.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=@LOS.WebApp.Helpers.Constants.KEY_GOOGLE_MAP"></script>

    <script src="~/js/GoogleMapModule.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>

    @*Chat Omnichannel*@
    <script src="~/js/LoanBrief/ChatOmnichannelModule.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    @*<script src="https://erp.tima.vn/js/tima-customerChat-prod.bundle.js"></script>*@

    @*js metech*@
    <script src="~/js/smartdailer/jabberwerx.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/smartdailer/finessenongadget.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/smartdailer/finesseC2CModule.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            LoanBriefModule.InitData(@user.GroupId, @user.TypeCallService);
            LoanBriefModule.Init();
            LoanBriefModule.LoadFilterTop();
            if ('@user.GroupId' == @((int)EnumGroupUser.Telesale)) {
                LoanBriefModule.FilterStaffTLS();
            }

            @*if ('@user.GroupId' == $("#ManagerTelesales").val()) {
                LoanBriefModule.GetUserByGroupId($("#GroupId").val(), true);
            }*@

            GoogleMapModule.Init('@LOS.WebApp.Helpers.Constants.KEY_GOOGLE_MAP')

             //khởi tạo finesse
            if ('@user.CiscoUsername' != '' && '@user.CiscoPassword' != '' && '@user.CiscoExtension' != '') {
                  finesseC2CModule.LoginFinesse('@user.CiscoUsername', '@user.CiscoPassword', '@user.CiscoExtension', 'tima.vn');
            }

        });

        function CheckAll() {
            if ($("#checkAll").is(':checked')) {
                $("#dtLoanBrief input[type=checkbox]").each(function () {
                    $(this).prop("checked", true);
                });

            } else {
                $("#dtLoanBrief input[type=checkbox]").each(function () {
                    $(this).prop("checked", false);
                });
            }
        };

        function ExportExcel() {
            //var table = $('form').serialize();
            //console.log(table);
            //return;
            var loanBriefId = $("#filterLoanId").val();
            var search = $("#filterSearch").val();
            var productId = $("#filterProduct").val();
            var support = $("#filterSupport2").val();
            var provinceId = $("#filterProvince").val();
            var status = $("#filterStatusTelesales").val();
            var filtercreateTime = $('#filtercreateTime').val().trim().toLowerCase();
            var filterTeam = $('#filterTeam').val();
            var filterActionTime = $('#filterLastChangeStatus').val();
            window.location.href = "/Export/ExportExcelTLS?loanBriefId=" + loanBriefId + "&search=" + search +
                "&provinceId=" + provinceId + "&status=" + status + "&productId=" + productId +
                "&support=" + support + "&filtercreateTime=" + filtercreateTime + "&filterTeam=" + filterTeam + "&filterActionTime=" + filterActionTime;
        }
    </script>
}

<style>
    div.dropdown-menu.open {
        max-height: 314px !important;
        overflow: hidden;
    }

    ul.dropdown-menu.inner {
        max-height: 260px !important;
        overflow-y: auto;
    }
</style>
