﻿@model LOS.WebApp.Models.InterestParam.Output
@{
    Layout = null;
}

@if (Model.Data != null)
{
    <div class="modal-footer col-7" style="border-top:none;display:block;">
        <div class="col-6">
            <span>Phí bảo hiểm khách hàng phải chịu : @Model.Data.FeeInsurrance.ToString("##,#")</span>
        </div>

    </div>

    <div class="m-portlet__body" style="margin-bottom: 1%;">
        <div class="m-datatable m-datatable--default m-datatable--loaded">
            <table class="m-datatable__table">
                @if (ViewBag.RateType == LOS.Common.Extensions.EnumRateType.RateMonthADay.GetHashCode() || ViewBag.RateType == LOS.Common.Extensions.EnumRateType.TatToanCuoiKy.GetHashCode())
                {
                    <thead class="m-datatable__head" id="CuoiKy">
                        <tr class="m-datatable__row" style="left: 0px;">
                            <th class="m-datatable__cell m-datatable__cell--sort"><span style="width: 100px;">Ngày bắt đầu</span></th>
                            <th class="m-datatable__cell m-datatable__cell--sort"><span style="width: 100px;">Ngày đóng lãi</span></th>
                            <th class="m-datatable__cell m-datatable__cell--sort"><span style="width: 50px;">Kỳ trả</span></th>
                            <th class="m-datatable__cell m-datatable__cell--sort"><span style="width: 80px;">Trả kỳ</span></th>
                            <th class="m-datatable__cell m-datatable__cell--sort"><span style="width: 80px;">Phí tư vấn</span></th>
                            <th class="m-datatable__cell m-datatable__cell--sort"><span style="width: 80px;">Phí dịch vụ</span></th>
                            <th class="m-datatable__cell m-datatable__cell--sort"><span style="width: 80px;">Lãi</span></th>
                            <th class="m-datatable__cell m-datatable__cell--sort"><span style="width: 80px;">Phạt tất toán sớm</span></th>
                            <th class="m-datatable__cell m-datatable__cell--sort"><span style="width: 80px;">Tiền tất toán</span></th>
                        </tr>
                    </thead>
                    <tbody class="m-datatable__body" style="" id="dtInterestBody">
                        @if (Model.Data.LstPaymentSchedule != null && Model.Data.LstPaymentSchedule.Count > 0)
                        {
                            var lst = Model.Data.LstPaymentSchedule;
                            for (int i = 0; i < lst.Count; i++)
                            {
                                <tr data-row="@i" class="m-datatable__row" style="left: 0px;">
                                    <td class="m-datatable__cell"><span style="width: 100px;">@Convert.ToDateTime(lst[i].FromDate).ToString("dd/MM/yyyy")</span></td>
                                    <td class="m-datatable__cell"><span style="width: 100px;">@Convert.ToDateTime(lst[i].PayDate).ToString("dd/MM/yyyy")</span></td>
                                    <td class="m-datatable__cell"><span style="width: 50px;">@(i + 1)</span></td>
                                    <td class="m-datatable__cell"><span style="width: 80px;">@lst[i].TotalMoneyNeedPayment.ToString("##,#")</span></td>
                                    <td class="m-datatable__cell"><span style="width: 80px;">@lst[i].MoneyConsultant.ToString("##,#")</span></td>
                                    <td class="m-datatable__cell"><span style="width: 80px;">@lst[i].MoneyService.ToString("##,#")</span></td>
                                    <td class="m-datatable__cell"><span style="width: 80px;">@lst[i].MoneyInterest.ToString("##,#")</span></td>
                                    <td class="m-datatable__cell"><span style="width: 80px;">@lst[i].MoneyFinePayEarly.ToString("##,#")</span></td>
                                    <td class="m-datatable__cell"><span style="width: 80px;">@lst[i].TotalMoneyNeedClosePayment.ToString("##,#")</span></td>
                                </tr>
                            }

                        }

                    </tbody>
                }
                else if (ViewBag.RateType == LOS.Common.Extensions.EnumRateType.RateAmortization30Days.GetHashCode() || ViewBag.RateType == LOS.Common.Extensions.EnumRateType.DuNoGiamDan.GetHashCode())
                {
                    <thead class="m-datatable__head" id="GiamDan">
                        <tr class="m-datatable__row" style="left: 0px;">
                            <th class="m-datatable__cell m-datatable__cell--sort"><span style="width: 100px;">Ngày bắt đầu</span></th>
                            <th class="m-datatable__cell m-datatable__cell--sort"><span style="width: 100px;">Ngày đóng lãi</span></th>
                            <th class="m-datatable__cell m-datatable__cell--sort"><span style="width: 50px;">Kỳ trả</span></th>
                            <th class="m-datatable__cell m-datatable__cell--sort"><span style="width: 80px;">Trả kỳ</span></th>
                            @*<th class="m-datatable__cell m-datatable__cell--sort"><span style="width: 80px;">Làm tròn</span></th>*@
                            <th class="m-datatable__cell m-datatable__cell--sort"><span style="width: 80px;">Gốc</span></th>
                            <th class="m-datatable__cell m-datatable__cell--sort"><span style="width: 80px;">Tổng lãi phí</span></th>
                            <th class="m-datatable__cell m-datatable__cell--sort"><span style="width: 80px;">Phí tư vấn</span></th>
                            <th class="m-datatable__cell m-datatable__cell--sort"><span style="width: 80px;">Phí dịch vụ</span></th>
                            <th class="m-datatable__cell m-datatable__cell--sort"><span style="width: 80px;">Lãi</span></th>
                            <th class="m-datatable__cell m-datatable__cell--sort"><span style="width: 80px;">Gốc còn lại</span></th>
                            <th class="m-datatable__cell m-datatable__cell--sort"><span style="width: 80px;">Phạt tất toán sớm</span></th>
                            <th class="m-datatable__cell m-datatable__cell--sort"><span style="width: 80px;">Tiền tất toán</span></th>
                        </tr>
                    </thead>
                    <tbody class="m-datatable__body" style="" id="dtInterestBody">
                        @if (Model.Data.LstPaymentSchedule != null && Model.Data.LstPaymentSchedule.Count > 0)
                        {
                            var lst = Model.Data.LstPaymentSchedule;
                            for (int i = 0; i < lst.Count; i++)
                            {
                                var calcu = lst[i].TotalMoneyNeedPayment - lst[i].MoneyOriginal;
                                <tr data-row="@i" class="m-datatable__row" style="left: 0px;">
                                    <td class="m-datatable__cell"><span style="width: 100px;">@Convert.ToDateTime(lst[i].FromDate).ToString("dd/MM/yyyy")</span></td>
                                    <td class="m-datatable__cell"><span style="width: 100px;">@Convert.ToDateTime(lst[i].PayDate).ToString("dd/MM/yyyy")</span></td>
                                    <td class="m-datatable__cell"><span style="width: 50px;">@(i + 1)</span></td>
                                    <td class="m-datatable__cell"><span style="width: 80px;">@lst[i].TotalMoneyNeedPayment.ToString("##,#")</span></td>
                                    <td class="m-datatable__cell"><span style="width: 80px;">@lst[i].MoneyOriginal.ToString("##,#")</span></td>
                                    <td class="m-datatable__cell"><span style="width: 80px;">@calcu.ToString("##,#")</span></td>
                                    <td class="m-datatable__cell"><span style="width: 80px;">@lst[i].MoneyConsultant.ToString("##,#")</span></td>
                                    <td class="m-datatable__cell"><span style="width: 80px;">@lst[i].MoneyService.ToString("##,#")</span></td>
                                    <td class="m-datatable__cell"><span style="width: 80px;">@lst[i].MoneyInterest.ToString("##,#")</span></td>
                                    <td class="m-datatable__cell"><span style="width: 80px;">@lst[i].OutStandingBalance.ToString("##,#")</span></td>
                                    <td class="m-datatable__cell"><span style="width: 80px;">@lst[i].MoneyFinePayEarly.ToString("##,#")</span></td>
                                    <td class="m-datatable__cell"><span style="width: 80px;">@lst[i].TotalMoneyNeedClosePayment.ToString("##,#")</span></td>
                                </tr>
                            }
                        }
                    </tbody>
                }


            </table>
        </div>
    </div>
}


