﻿@model LOS.WebApp.Models.LoanbriefHubViewModel
@using LOS.Common.Extensions;
@{
    ViewData["Title"] = "LoanDepartment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/form.css?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS" rel="stylesheet" />
<style>
    .custom-table-tima > .m-datatable__table > .m-datatable__head .m-datatable__row {
        height: 50px !important;
    }
</style>
@*@await Component.InvokeAsync("Breadcrumb", new { ModuleName = "LOAN_BRIEF_MANAGER" })*@
<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Danh sách đơn vay theo phòng ban
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <!--begin: Search Form -->
            <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                <div class="row align-items-center">
                    <div class="col-xl-12 order-2 order-xl-1">
                        <div class="form-group m-form__group row align-items-center">
                            <div class="col-md-2">
                                <div class="form-group m-form__group">
                                    <div class="m-input-icon m-input-icon--left">
                                        <input type="text" class="form-control m-input inputsearch" placeholder="Mã HĐ" id="filterLoanbriefId">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group m-form__group">
                                    <div class="m-form__control">
                                        <select class="form-control m-select2" id="filterDepartment" onchange="LoanDepartmentModule.GetStatus(this.value, 0)">
                                            <option></option>
                                            <option value="0">Chọn phòng ban</option>
                                            <option selected="selected" value="@EnumDepartment.TLS.GetHashCode()">@Description.GetDescription(EnumDepartment.TLS)</option>
                                            <option value="@EnumDepartment.HUB.GetHashCode()">@Description.GetDescription(EnumDepartment.HUB)</option>
                                            <option value="@EnumDepartment.TDHS.GetHashCode()">@Description.GetDescription(EnumDepartment.TDHS)</option>
                                            <option value="@EnumDepartment.LENDERCARE.GetHashCode()">@Description.GetDescription(EnumDepartment.LENDERCARE)</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group m-form__group">
                                    <div class="m-form__control">
                                        <select class="form-control m-select2" id="filterStatus">
                                            <option></option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2" id="displayHub" style="display:none;">
                                <div class="form-group m-form__group">
                                    <div class="m-form__control">
                                        <select class="form-control m-select2" id="filterHub">
                                            <option value="-1">Tất cả</option>

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div style="width:12%;margin-right:1%;">
                                <div class="input-group date">
                                    <input style="margin-right: -15%;cursor:pointer;color:#9CA0B6;" type="text" class="form-control inputsearch" readonly="" id="filtercreateTime" placeholder="Thời gian tạo">
                                    <i class="fa fa-calendar" style="padding-top: 3%;font-size: 15pt;"></i>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group m-form__group">
                                    <div class="m-form__control">
                                        <a href="javascript:;" class="btn btn-tima" style="cursor:pointer;" id="btnSearch">
                                            Tìm kiếm
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>
            </div>
            <!--end: Search Form -->            

            <hr style="color: #333333;" />
            <!--begin: Datatable -->
            <table class="m-datatable__table dtform" width="100%" id="dtLoanByDepartment"></table>
        </div>
    </div>
</div>


@section Scripts
{
    <script src="~/js/LoanBrief/LoanDepartmentModule.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/CommonModalJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    
    <script type="text/javascript">
        $(document).ready(function () {
            LoanDepartmentModule.Init();
            App.Init();

        });
    </script>
}

