﻿@model LOS.WebApp.Models.LoanbriefHubViewModel
@{
    ViewData["Title"] = "ManagerHub";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = ViewBag.User as LOS.DAL.DTOs.UserDetail;
    var lstStatusDetail = ViewBag.ListStatusDetail as List<LOS.DAL.EntityFramework.LoanStatusDetail>;
}
<link href="~/css/form.css?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS" rel="stylesheet" />
<style>
    .custom-table-tima > .m-datatable__table > .m-datatable__head .m-datatable__row {
        height: 50px !important;
    }
</style>
@*@await Component.InvokeAsync("Breadcrumb", new { ModuleName = "LOAN_BRIEF_MANAGER" })*@
<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Danh sách đơn vay
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <!--begin: Search Form -->
            <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                <div class="row align-items-center">
                    <div class="col-xl-12 order-2 order-xl-1">
                        <div class="form-group m-form__group row align-items-center">
                            <div class="col-md-2">
                                <div class="form-group m-form__group">
                                    <div class="m-input-icon m-input-icon--left">
                                        <input type="text" class="form-control m-input inputsearch" placeholder="Mã HĐ" id="filterLoanbriefId">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group m-form__group">
                                    <div class="m-input-icon m-input-icon--left">
                                        <input type="text" class="form-control m-input inputsearch" placeholder="Tên, SĐT, CMND" id="filterSearch">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group m-form__group">
                                    <div class="m-form__control">
                                        <select class="form-control m-select2" id="filterStatus">
                                            <option></option>
                                            <option selected="selected" value="-1">Tất cả</option>
                                            <option value="@LOS.Common.Extensions.EnumLoanStatus.HUB_CHT_LOAN_DISTRIBUTING.GetHashCode()">Chờ CHT chia đơn</option>

                                            <option value="@LOS.Common.Extensions.EnumLoanStatus.APPRAISER_REVIEW.GetHashCode()">
                                                Chờ cvkd xử lý
                                            </option>
                                            @if (lstStatusDetail != null && lstStatusDetail.Count > 0)
                                            {
                                                foreach (var item in lstStatusDetail)
                                                {
                                                    <!option attr-detail-status="@item.Id" value="@LOS.Common.Extensions.EnumLoanStatus.APPRAISER_REVIEW.GetHashCode()">@item.Name</!option>
                                                }
                                            }
                                            <option value="@LOS.Common.Extensions.EnumLoanStatus.HUB_CHT_APPROVE.GetHashCode()">
                                                Chờ CHT duyệt
                                            </option>
                                            @*<option value="-40">
                                                    Đơn cvkd chưa phản hồi
                                                </option>*@
                                            <option value="@LOS.Common.Extensions.EnumLoanStatus.BRIEF_APPRAISER_LOAN_DISTRIBUTING.GetHashCode(),@LOS.Common.Extensions.EnumLoanStatus.BRIEF_APPRAISER_REVIEW.GetHashCode(),@LOS.Common.Extensions.EnumLoanStatus.WAIT_APPRAISER_CONFIRM_CUSTOMER.GetHashCode(),@LOS.Common.Extensions.EnumLoanStatus.BRIEF_APPRAISER_APPROVE_PROPOSION.GetHashCode(),@LOS.Common.Extensions.EnumLoanStatus.APPROVAL_LEADER_APPROVE_CANCEL.GetHashCode(),@LOS.Common.Extensions.EnumLoanStatus.BRIEF_APPRAISER_APPROVE_CANCEL.GetHashCode()">
                                                Đơn ở TDHS
                                            </option>
                                            <option value="@LOS.Common.Extensions.EnumLoanStatus.LENDER_LOAN_DISTRIBUTING.GetHashCode()">
                                                Chờ đẩy cho Lender
                                            </option>
                                            <option value="@LOS.Common.Extensions.EnumLoanStatus.WAIT_DISBURSE.GetHashCode()">
                                                Chờ Giải ngân
                                            </option>
                                            <option value="200">
                                                Remarketing
                                            </option>
                                            <option value="@LOS.Common.Extensions.EnumLoanStatus.WAIT_HUB_EMPLOYEE_PREPARE_LOAN.GetHashCode()">
                                                Chờ CVKD chuẩn bị hồ sơ
                                            </option>
                                            <option value="@LOS.Common.Extensions.EnumLoanStatus.CANCELED.GetHashCode()">
                                                Đơn đã hủy
                                            </option>

                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group m-form__group">
                                    <div class="m-form__control">
                                        <select class="form-control m-select2" id="filterHubEmployee">
                                            <option value="-1">Tất cả</option>
                                            @if (Model.ListUserOfHub != null && Model.ListUserOfHub.Count > 0)
                                            {
                                                foreach (var item in Model.ListUserOfHub)
                                                {
                                                    <option value="@item.UserId">@item.FullName</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group m-form__group">
                                    <div class="m-form__control">
                                        <a href="javascript:;" class="btn btn-tima" style="cursor:pointer;" id="btnSearch">
                                            Tìm kiếm
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>
            </div>
            <!--end: Search Form -->
            <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                <div class="row align-items-center">
                    <div class="col-xl-9 order-2 order-xl-1">
                        <div class="form-group m-form__group row align-items-center">
                            <div class="col-md-2">
                                <div class="form-group m-form__group">
                                    <div class="m-input-icon m-input-icon--left">
                                        <span style="font-family: 'Poppins Bold', 'Poppins Regular', 'Poppins', sans-serif;font-weight: 700;font-style: normal;color: #6C7293;">Danh sách đơn</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group m-form__group">
                                    <div class="m-form__control">
                                        <select class="form-control m-select2" id="sl_ListHub">
                                            <option></option>
                                            @if (Model.ListHub != null && Model.ListHub.Count > 0)
                                            {
                                                foreach (var item in Model.ListHub)
                                                {
                                                    <option value="@item.ShopId">@item.Name</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="form-group m-form__group">
                                    <div class="m-form__control">
                                        <button type="button" class="btn btn-tima" onclick="LoanBriefHubModuleJS.TranferLoanbrief()">
                                            Chuyển hỗ trợ
                                        </button>
                                    </div>

                                </div>
                            </div>
                            @*<div class="col-md-2">
                                    <div class="form-group m-form__group">
                                        <div class="m-form__control">

                                            <a href="javascript:;" id="btnCreate" class="btn btn-tima-default" onclick="InitLoanBrief.Create(0)">
                                                <i class="fa fa-plus"></i>
                                                Tạo hồ sơ
                                            </a>
                                        </div>
                                    </div>
                                </div>*@
                        </div>
                    </div>

                </div>
            </div>

            <hr style="color: #333333;" />
            <!--begin: Datatable -->
            <table class="m-datatable__table dtform" width="100%" id="dtLoanBrief"></table>
        </div>
    </div>
</div>


@section Scripts
{
    <script src="~/js/Hub/LoanBriefHubModuleJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/CommonModalJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/LoanBrief/PersonalInformationModuleJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/LoanBrief/AddressHomeModuleJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/LoanBrief/AddressHouseholdModuleJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/LoanBrief/WorkInformationModuleJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/LoanBrief/RelativeInfomationModuleJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/LoanBrief/MotobikeInfomationModuleJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/LoanBrief/LoancreditFormModuleJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/LoanBrief/LoancreditInfomationModuleJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/LoanBrief/DisbursementInfomationModeleJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    @*<script src="~/js/LoanBrief/InitLoanBrief.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>*@
    <script src="~/js/LoanbriefV2/InitLoanBrief.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/lib/aspnet-signalr/signalr.min.js" type="text/javascript"></script>

    <script src="~/js/CareSoftModule.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>

    @*js metech*@
    <script src="~/js/smartdailer/jabberwerx.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/smartdailer/finessenongadget.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/smartdailer/finesseC2CModule.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=@LOS.WebApp.Helpers.Constants.KEY_GOOGLE_MAP"></script>
    <script src="~/js/GoogleMapModule.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/PrintModule.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            LoanBriefHubModuleJS.Init();
            App.Init();
            GoogleMapModule.Init('@LOS.WebApp.Helpers.Constants.KEY_GOOGLE_MAP')
            LoanBriefHubModuleJS.InitData(@user.GroupId, @user.TypeCallService);
            if('@user.ShopGlobal' != '')
            {
                 LoanBriefHubModuleJS.InitSignalr('@user.ShopGlobal');
            }
              //khởi tạo finesse
            if ('@user.CiscoUsername' != '' && '@user.CiscoPassword' != '' && '@user.CiscoExtension' != '') {
                finesseC2CModule.LoginFinesse('@user.CiscoUsername', '@user.CiscoPassword', '@user.CiscoExtension', 'tima.vn');
            }
        });
    </script>
}

