﻿@model LOS.WebApp.Models.MotoPriceModel
@{
    Layout = null;
    var productReview = new List<LOS.WebApp.Models.ProductReview>();
    @if (Model != null && Model.ProductReview != null)
    {
        productReview = Model.ProductReview;
    }
}
<style> 
    .labelLeft {
        font-weight: 600;
        text-align:left;
    } 
    .widget .widget-header:before, .widget .widget-header:after {
        display: table;
        content: "";
        line-height: 0;
    }
    .widget .widget-header:after {
        clear: both;
    }
    .widget .widget-header:before, .widget .widget-header:after {
        display: table;
        content: "";
        line-height: 0;
    }
    .widget.box {
        border: 1px solid #d9d9d9;
    }
    .widget {
        margin-top: 0px;
        margin-bottom: 15px;
        padding: 0px;
    }
        .widget.box .widget-header {
            background: #f9f9f9;
            border-bottom-color: #d9d9d9;
            line-height: 35px;
            padding: 0 12px;
            margin-bottom: 0;
        }
        .widget .widget-header {
            margin-bottom: 15px;
            border-bottom: 1px solid #ececec;
            *zoom: 1;
        }
        .widget.box .widget-header .toolbar {
            margin-right: -5px;
        }
        .widget .widget-header .toolbar {
            display: inline-block;
            padding: 0;
            margin: 0;
            float: right;
        }
        .widget.box .widget-header {
            background: #f9f9f9;
            border-bottom-color: #d9d9d9;
            line-height: 35px;
            padding: 0 12px;
            margin-bottom: 0;
        }
        .widget.box .widget-content {
            padding: 10px;
            position: relative;
            background-color: #fff;
        }
    .row-border .form-group {
        border-top: 1px solid #ececec;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-bottom: 0;
    }
    .form-horizontal .form-group {
        margin-right: -15px;
        margin-left: -15px;
    }
    .ptb5 {
        padding: 5px 0px !important;
    }
</style>
@if (productReview != null && productReview.Count > 0)
{
    var listParent = productReview.Where(x => x.ParentId == 0).ToList();
<div class="widget box">
    <input type="hidden" name="hddNumberProductPreview" id="hddNumberProductPreview" value="0">
    <input type="hidden" name="hdd_LoanCreditId" id="hdd_LoanCreditId" value="@Model.LoanBriefId">

    @if (listParent != null && listParent.Count > 0)
    {
        for (int i = 0; i < listParent.Count; i++)
        { 
            <div class="widget-header">
                <div class="toolbar" style="float: left;">
                    <span class="widget-collapse">
                        <i class="icon-double-angle-right TDXParentID">
                            &nbsp;
                            <a href="javascript:;" style="text-decoration: underline; color: blue; font-size: 12px; font-family: Tahoma" title="@listParent[i].Id">@listParent[i].Name</a>
                        </i>
                    </span>
                </div>
            </div>
            <div class="widget-content">
                @{
                    var listChildren = productReview.Where(x => x.ParentId == listParent[i].Id).ToList()?? new List<ProductReview>();
                }
                <script type="text/javascript">
                    $("#hddNumberProductPreview").val(parseInt($("#hddNumberProductPreview").val())+parseInt(@listChildren.Count));
                </script>
                @for (int j = 0; j < listChildren.Count; j++)
                {
                    <div class="form-group ptb5" style="margin-bottom: 0rem;">
                        <label class="col-md-12 labelLeft">@listChildren[j].Name</label>
                        <div class="col-md-6">
                            <div class="col-md-12" style="margin-bottom: 10px;">
                                <span>
                                    <input type="radio" tabindex="1|@listChildren[j].Id" onclick="ProductModule.LoadInforPriceDisCount('@listChildren[j].Id','@Html.Raw(@listChildren[j].State.ToString())','@Html.Raw(@listChildren[j].IsCancel.ToString())','@Html.Raw("True")','@listChildren[j].MoneyDiscount','@Html.Raw("divpricediscount" + listChildren[j].Id)')" name="@Html.Raw("radio_" + i + j)" id="@Html.Raw("True_radio_" + i + j)" @Html.Raw((listChildren[j].IsCheck == true) ? "checked='checked'" : "")>
                                    <label for="@Html.Raw("True_radio_" + i + j)">Đúng</label>
                                </span>
                                <span>
                                    <input type="radio" tabindex="0|@listChildren[j].Id" onclick="ProductModule.LoadInforPriceDisCount('@listChildren[j].Id','@Html.Raw(@listChildren[j].State.ToString())','@Html.Raw(@listChildren[j].IsCancel.ToString())','@Html.Raw("False")','@listChildren[j].MoneyDiscount','@Html.Raw("divpricediscount" + @listChildren[j].Id)')" name="@Html.Raw("radio_" + i + j)" id="@Html.Raw("False_radio_" + i + j)" @Html.Raw((listChildren[j].IsCheck == false) ? "checked='checked'" : "")>
                                    <label for="@Html.Raw("False_radio_" + i + j)">Sai</label>
                                </span>
                            </div> 
                            <input type="hidden" class="hddtotaltieuchi" name="@Html.Raw("hddtotalmoneytheotieuchi" + @listChildren[j].Id)" id="@Html.Raw("hddtotalmoneytheotieuchi" + @listChildren[j].Id)" value="0">
                            <input type="hidden" class="hddIsCancel" name="@Html.Raw("hddIsCancel"+ @listChildren[j].Id)" id="@Html.Raw("hddIsCancel"+ @listChildren[j].Id)" value="0">
                        </div>

                        <div class="col-md-6" style="display:none">
                            @if ((listChildren[j].IsCheck != listChildren[j].State))
                            {
                                if (listChildren[j].IsCancel == true)
                                {
                                    <script type="text/javascript">
                                        $("#hddIsCancel"+@listChildren[j].Id).val(1);
                                    </script>
                                }

                                if (listChildren[j].MoneyDiscount > 0)
                                {
                                    if (listChildren[j].IsCheck != null)
                                    {
                                        <span style="text-align:center;color:red;font-size:16px;font-family:Tahoma;" id="@Html.Raw("divpricediscount" + listChildren[j].Id)"></span>
                                        <script type="text/javascript">
                                            $("#hddtotalmoneytheotieuchi"+@listChildren[j].Id).val(@listChildren[j].MoneyDiscount);
                                        </script>
                                    }
                                    else
                                    {
                                        <span style="text-align:center;color:red;font-size:16px;font-family:Tahoma;" id="@Html.Raw("divpricediscount" + listChildren[j].Id)"></span>
                                        <script type="text/javascript">
                                            $("#hddtotalmoneytheotieuchi"+@listChildren[j].Id).val(0);
                                        </script>

                                    }
                                }
                            }
                            else
                            {
                                <span style="text-align:center;color:red;font-size:16px;font-family:Tahoma;" id="@Html.Raw("divpricediscount" + listChildren[j].Id)"></span>
                            }
                        </div>
                    </div>
                }
            </div>
        }
    }
    <div class="widget-header">
        <div class="toolbar" style="float: left;">
            <span class="widget-collapse">Tiền được vay:&nbsp;&nbsp;</span><span style="color: #FA5858; font-size: 16px; font-family: Tahoma" id="divtotalpriceforcustommer"></span>
        </div>
    </div>
    @if (Model != null && Model.UserDetail != null && (Model.Status == (int)LOS.Common.Extensions.EnumLoanStatus.APPRAISER_REVIEW || Model.Status == (int)LOS.Common.Extensions.EnumLoanStatus.HUB_CHT_APPROVE) && (Model.UserDetail.GroupId == (int)LOS.Common.Extensions.EnumGroupUser.StaffHub || Model.UserDetail.GroupId == (int)LOS.Common.Extensions.EnumGroupUser.ManagerHub))
    {
        <div class="col-md-1">
            <a class="btn btn-tima" style="cursor:pointer; margin:10px; color:white;" onclick="ProductModule.SetThamDinhXe();">
                Thẩm định
            </a>
        </div>
    }
</div> 
}

