﻿@model LOS.WebApp.Models.MotoPriceModel
@{
    Layout = null;
    var product = ViewBag.Product as LOS.DAL.DTOs.ProductDetail;
}
@if (Model != null && Model.ToolCalculatorMoney != null)
{

    <div class="m-section__content">
        <div style="margin-bottom: 5px;margin-top: 10px;font-weight: bold;">
            <span style="color: #6C7293;font-size: 12pt;">
                Thẩm định giá xe
            </span>
            <hr style="margin-top: 10px;" />
        </div>
        <div data-code-preview="true" data-code-html="true" data-code-js="false" style="padding-left: 18%;color: #6C7293;font-size: 12pt;">
            <div>
                <div class="form-group m-form__group row">
                    <label for="example-email-input" class="col-2 col-form-label" style="padding-left: 1%;padding-top: 2%;">
                        Chọn hãng xe:
                    </label>
                    <div class="col-4 padding-top">
                        <select class="form-control cus-form-control m-input" id="sl_brand_product" name="productId">
                            @if (Model != null && Model.ToolCalculatorMoney.ListBrandProduct != null && Model.ToolCalculatorMoney.ListBrandProduct.Count > 0)
                            {
                                @*<option value="0"> Chọn hãng xe</option>*@
                                foreach (var item in Model.ToolCalculatorMoney.ListBrandProduct)
                                {
                                    if (Model.LoanbriefProperty.BrandId == item.Id)
                                    {
                                        <!option value="@item.Id" selected="selected">@item.Name</!option>
                                    }
                                    @*<!option value="@item.Id" @(Model.LoanBriefDetailNew.LoanBriefProperty.Brand.Id == item.Id ? "selected=\"selected\"" : "")>@item.Name</!option>*@
                                }
                            }
                        </select>
                    </div>
                </div>

                <div class="form-group m-form__group row">
                    <label for="example-email-input" class="col-2 col-form-label" style="padding-left: 1%;">
                        Chọn tên xe:
                    </label>
                    <div class="col-8 padding-top">
                        <select class="form-control cus-form-control m-input" id="sl_product_name" name="sl_product_name">
                            @if (product != null)
                            {
                                <!option value="@product.Id" selected="selected">@product.Name</!option>
                            }
                            @*<option value="0">Chọn xe</option>*@
                        </select>
                    </div>
                </div>

                <div class="form-group m-form__group row">
                    <label for="example-email-input" class="col-2 col-form-label" style="padding-left: 1%;">
                        Hình thức sở hữu xe:
                    </label>
                    <div class="col-8 padding-top">
                        <select class="form-control cus-form-control m-input" id="sl_OwnerProduct" name="sl_OwnerProduct">
                            @if (Model.LoanBriefProductId == LOS.Common.Extensions.EnumProductCredit.MotorCreditType_CC.GetHashCode())
                            {
                                <!option value="@LOS.Common.Extensions.EnumProductCredit.MotorCreditType_CC.GetHashCode()" @(Model.LoanBriefProductId == LOS.Common.Extensions.EnumProductCredit.MotorCreditType_CC.GetHashCode() ? "selected=\"selected\"" : "")>Xe máy chính chủ</!option>
                            }
                            else if (Model.LoanBriefProductId == LOS.Common.Extensions.EnumProductCredit.MotorCreditType_KCC.GetHashCode())
                            {
                                <!option value="@LOS.Common.Extensions.EnumProductCredit.MotorCreditType_KCC.GetHashCode()" @(Model.LoanBriefProductId == LOS.Common.Extensions.EnumProductCredit.MotorCreditType_KCC.GetHashCode() ? "selected=\"selected\"" : "")>Xe máy không chính chủ</!option>
                            }
                        </select>
                    </div>
                </div>

                <div class="form-group m-form__group row">
                    <label for="example-email-input" class="col-2 col-form-label" style="padding-left: 1%;">
                        Hình thức sở hữu nhà:
                    </label>
                    <div class="col-8 padding-top">
                        <select class="form-control cus-form-control m-input" id="sl_TypeOwnerShip" name="sl_TypeOwnerShip">
                            @*<!option value="@LOS.Common.Extensions.EnumTypeofownership.Sohuucanhan.GetHashCode()" @(Model.LoanBriefDetailNew.LoanBriefResident.ResidentType == LOS.Common.Extensions.EnumTypeofownership.Sohuucanhan.GetHashCode() ? "selected=\"selected\"" : "")>Nhà chính chủ</!option>*@

                            @if (Model.LoanBriefResident.ResidentType == LOS.Common.Extensions.EnumTypeofownership.Dongsohuu.GetHashCode())
                            {
                                <!option value="@LOS.Common.Extensions.EnumTypeofownership.Dongsohuu.GetHashCode()"
                                         @(Model.LoanBriefResident.ResidentType == LOS.Common.Extensions.EnumTypeofownership.Dongsohuu.GetHashCode() ? "selected=\"selected\"" : "")>
                                    Đồng sở hữu
                                </!option>

                            }
                            else if (Model.LoanBriefResident.ResidentType == LOS.Common.Extensions.EnumTypeofownership.Thuocsohuucuahohang.GetHashCode())
                            {
                                <!option value="@LOS.Common.Extensions.EnumTypeofownership.Thuocsohuucuahohang.GetHashCode()"
                                         @(Model.LoanBriefResident.ResidentType == LOS.Common.Extensions.EnumTypeofownership.Thuocsohuucuahohang.GetHashCode() ? "selected=\"selected\"" : "")>
                                    Đứng tên họ hàng
                                </!option>

                            }
                            else if (Model.LoanBriefResident.ResidentType == LOS.Common.Extensions.EnumTypeofownership.Thue.GetHashCode())
                            {
                                <!option value="@LOS.Common.Extensions.EnumTypeofownership.Thue.GetHashCode()" 
                                         @(Model.LoanBriefResident.ResidentType == LOS.Common.Extensions.EnumTypeofownership.Thue.GetHashCode() ? "selected=\"selected\"" : "")>Thuê</!option>

                            }
                            else if (Model.LoanBriefResident.ResidentType == LOS.Common.Extensions.EnumTypeofownership.NhaSoHuu.GetHashCode())
                            {
                                <!option value="@LOS.Common.Extensions.EnumTypeofownership.NhaSoHuu.GetHashCode()" 
                                         @(Model.LoanBriefResident.ResidentType == LOS.Common.Extensions.EnumTypeofownership.NhaSoHuu.GetHashCode() ? "selected=\"selected\"" : "")>Nhà sở hữu</!option>

                            }
                            else if (Model.LoanBriefResident.ResidentType == LOS.Common.Extensions.EnumTypeofownership.DungTenBoMe.GetHashCode())
                            {
                                <!option value="@LOS.Common.Extensions.EnumTypeofownership.DungTenBoMe.GetHashCode()" 
                                         @(Model.LoanBriefResident.ResidentType == LOS.Common.Extensions.EnumTypeofownership.DungTenBoMe.GetHashCode() ? "selected=\"selected\"" : "")>Đứng tên bố mẹ</!option>

                            }
                            else if (Model.LoanBriefResident.ResidentType == LOS.Common.Extensions.EnumTypeofownership.DungTenVoChong.GetHashCode())
                            {
                                <!option value="@LOS.Common.Extensions.EnumTypeofownership.DungTenVoChong.GetHashCode()"
                                         @(Model.LoanBriefResident.ResidentType == LOS.Common.Extensions.EnumTypeofownership.DungTenVoChong.GetHashCode() ? "selected=\"selected\"" : "")>Đứng tên vợ/ chồng</!option>

                            }
                        </select>
                    </div>
                </div>

                <div class="form-group m-form__group row" style="display:none">
                    <button type="button" class="btn btn-tima" id="btnSubmit" onclick="" style="width: 150px;margin-left: 18%;margin-top: 2%;">
                        Tra cứu
                    </button>

                </div>
                <div class="form-group m-form__group row">
                    <label for="example-email-input" class="col-2 col-form-label" style="padding-left: 1%;">
                        Giá thị trường :
                    </label>
                    <div class="col-8 padding-top">
                        <span id="CurrentPrice" style="color: #FA5858"></span> VNĐ
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label for="example-email-input" class="col-2 col-form-label" style="padding-left: 1%;">
                        Số tiền cho vay tối đa :
                    </label>
                    <div class="col-8 padding-top">
                        <span id="MaxPrice" style="color: #FA5858"></span> VNĐ
                        <input type="hidden" value="" id="hddtotalpricediscount" />
                        <input type="hidden" value="@Model.LoanBriefProductId" id="hddLoanBriefProductId"/>
                        <input type="hidden" value="@ViewBag.LoanbriefId " id="hddLoanbriefId"/>
                    </div>
                </div>
            </div>
        </div>
        <div data-code-preview="true" data-code-html="true" data-code-js="false" style="padding-left: 18%;color: #6C7293;font-size: 12pt;" id="_MotoPriceCheckList"> 
            <div class="m-loader m-loader--brand m-loader--left" style="margin-top:20px;">
                <input type="text" class="form-control">
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            ProductModule.Init();
            var getProduct = ProductModule.GetProduct(@Model.LoanbriefProperty.BrandId, 0)
                @*.then(result => {
                    $("#sl_product_name").val(@Model.LoanbriefProperty.ProductId);//.change();
                })*@
                .then(function (chapter) {
                    ProductModule.GetPriceFromAiAndLos();
                }).then(function (chapter) {
                    ProductModule.LoadMoney();
                });
        });
    </script>

}
else
{
    <div class="m-demo-icon__class" style="margin-top: 5px; margin-left: 10px; font-weight: bold; font-size: 18px;">
        Đơn vay không có xe để thẩm định!
    </div>
}
