﻿@model List<LOS.DAL.DTOs.ShopDetail>
@{
    Layout = null;
    ViewData["Title"] = "Check CIC";
}
<style>
    .col-form-label {
        font-size: 14px !important;
        font-family: Arial !important;
        color: #6C7293;
    }

    #divResult {
        width: 600px !important;
    }

    span {
        font-size: 14px !important;
    }
</style>
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="color:#6C7293;">
            Đẩy đơn vay mã HĐ-@ViewBag.LoanBriefId
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
                ×
            </span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group m-form__group row">
                <label for="example-text-input" class="col-4 col-form-label">
                    Chọn Hub đẩy đơn:
                </label>
                <div class="col-8">
                    <select class="form-control m-bootstrap-select m-select2" id="sl_shops">
                        @if (Model != null && Model.Count > 0)
                        {
                            <option></option>
                            foreach (var item in Model)
                            {
                                <option value="@item.ShopId">@item.Name</option>
                            }
                        }
                    </select>
                </div>
            </div>
           
        </form>
    </div>
    <div class="modal-footer" style="margin-top:-4%;border-top:none;">
        <button type="button" onclick="PushLoan();" class="btn btn-primary" style="background: rgba(108, 114, 147, 1);border-color: rgba(108, 114, 147, 1);width: 110px;height: 40px;">
            Đẩy đơn
        </button>
    </div>
</div>
<input type="hidden" value="@ViewBag.LoanBriefId" id="LoanBriefId" />

<script>
    $(document).ready(function () {
        $("#sl_shops").select2({
            placeholder: "Chọn Hub",
            width: '100%'
        });
    });
    function PushLoan() {
        var loanbriefId = $("#LoanBriefId").val();
        var hubId = $("#sl_shops").val();

        if (hubId == "") {
            App.ShowErrorNotLoad('Bạn phải chọn Hub muốn đẩy đơn!');
            return;
        }
        LoanBriefModule.PushLoanAndChooseHubPOST(loanbriefId, hubId);

    }

</script>