﻿@model List<LOS.DAL.EntityFramework.LoanStatusDetail>
@{
    ViewData["Title"] = "ManagerHub";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = ViewBag.User as LOS.DAL.DTOs.UserDetail;
}
<link href="~/css/form.css?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS" rel="stylesheet" />
@*@await Component.InvokeAsync("Breadcrumb", new { ModuleName = "LOAN_BRIEF_MANAGER" })*@
<style>
    .custom-table-tima > .m-datatable__table > .m-datatable__head .m-datatable__row {
        height: 50px !important;
    }
</style>
<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Danh sách đơn vay
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <!--begin: Search Form -->
            <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                <div class="row align-items-center">
                    <div class="col-xl-12 order-2 order-xl-1">
                        <div class="form-group m-form__group row align-items-center">
                            <div class="col-md-2">
                                <div class="form-group m-form__group">
                                    <div class="m-input-icon m-input-icon--left">
                                        <input type="text" class="form-control m-input inputsearch" placeholder="Mã HĐ" id="filterLoanbriefId">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group m-form__group">
                                    <div class="m-input-icon m-input-icon--left">
                                        <input type="text" class="form-control m-input inputsearch" placeholder="Tên, SĐT, CMND" id="filterSearch">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group m-form__group">
                                    <div class="m-form__control">
                                        <select class="form-control m-select2" id="filterStatus" onchange="LoanBriefStaffHubModuleJS.GetStatusDetailChild(this)">
                                            <option></option>
                                            <option value="@LOS.Common.Extensions.EnumLoanStatus.APPRAISER_REVIEW.GetHashCode()" selected="selected">
                                                Chờ tư vấn
                                            </option>
                                            <option value="@LOS.Common.Extensions.EnumLoanStatus.WAIT_HUB_EMPLOYEE_PREPARE_LOAN.GetHashCode()">
                                                Chờ CVKD chuẩn bị hồ sơ
                                            </option>
                                            @if (Model != null && Model.Count > 0)
                                            {
                                                foreach (var item in Model)
                                                {
                                                    <!option attr-detail-status="@item.Id" value="@LOS.Common.Extensions.EnumLoanStatus.APPRAISER_REVIEW.GetHashCode()">@item.Name</!option>
                                                }
                                            }
                                            <option value="@LOS.Common.Extensions.EnumLoanStatus.HUB_CHT_APPROVE.GetHashCode()">
                                                Chờ CHT duyệt
                                            </option>
                                            <option value="@LOS.Common.Extensions.EnumLoanStatus.BRIEF_APPRAISER_LOAN_DISTRIBUTING.GetHashCode(),@LOS.Common.Extensions.EnumLoanStatus.BRIEF_APPRAISER_REVIEW.GetHashCode(),@LOS.Common.Extensions.EnumLoanStatus.WAIT_APPRAISER_CONFIRM_CUSTOMER.GetHashCode(),@LOS.Common.Extensions.EnumLoanStatus.BRIEF_APPRAISER_APPROVE_PROPOSION.GetHashCode(),@LOS.Common.Extensions.EnumLoanStatus.APPROVAL_LEADER_APPROVE_CANCEL.GetHashCode(),@LOS.Common.Extensions.EnumLoanStatus.BRIEF_APPRAISER_APPROVE_CANCEL.GetHashCode()">
                                                Đơn ở TDHS
                                            </option>
                                            <option value="200">
                                                Remarketing
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2" id="filterChild" style="display:none;">
                                <div class="form-group m-form__group">
                                    <div class="m-form__control">
                                        <select class="form-control m-select2" id="filterStatusChild">
                                            <option></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group m-form__group">
                                    <div class="m-form__control">
                                        <a href="javascript:;" class="btn btn-tima" style="cursor:pointer;" id="btnSearch">
                                            Tìm kiếm
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>
            </div>
            <!--end: Search Form -->
            <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                <div class="row align-items-center">
                    <div class="col-xl-9 order-2 order-xl-1">
                        <div class="form-group m-form__group row align-items-center">
                            <div class="col-md-2">
                                <div class="form-group m-form__group">
                                    <div class="m-input-icon m-input-icon--left">
                                        <span style="font-family: 'Poppins Bold', 'Poppins Regular', 'Poppins', sans-serif;font-weight: 700;font-style: normal;color: #6C7293;">Danh sách đơn</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group m-form__group">
                                    <div class="m-form__control">

                                        <a href="javascript:;" id="btnCreate" class="btn btn-tima-default" onclick="InitLoanBrief.Create(0)">
                                            <i class="fa fa-plus"></i>
                                            Tạo hồ sơ
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <hr style="color: #333333;" />
            <!--begin: Datatable -->
            <table class="m-datatable__table dtform" width="100%" id="dtLoanBrief"></table>
        </div>
    </div>
</div>


@section Scripts
{
    <script src="~/js/Hub/LoanBriefStaffHubModuleJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/Hub/LoanBriefHubModuleJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/CommonModalJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/LoanBrief/PersonalInformationModuleJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/LoanBrief/AddressHomeModuleJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/LoanBrief/AddressHouseholdModuleJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/LoanBrief/WorkInformationModuleJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/LoanBrief/RelativeInfomationModuleJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/LoanBrief/MotobikeInfomationModuleJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/LoanBrief/LoancreditFormModuleJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/LoanBrief/LoancreditInfomationModuleJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/LoanBrief/DisbursementInfomationModeleJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    @*<script src="~/js/LoanBrief/InitLoanBrief.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>*@
    <script src="~/js/LoanbriefV2/InitLoanBrief.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/LoanBrief/ReLoanModule.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/CareSoftModule.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/ScheduleTimeModule.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    @*js metech*@
    <script src="~/js/smartdailer/jabberwerx.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/smartdailer/finessenongadget.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/smartdailer/finesseC2CModule.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=@LOS.WebApp.Helpers.Constants.KEY_GOOGLE_MAP"></script>
    <script src="~/js/GoogleMapModule.js"></script>
    <script src="~/js/PrintModule.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            LoanBriefStaffHubModuleJS.Init();
            App.Init();
            LoanBriefStaffHubModuleJS.InitData(@user.TypeCallService);

            GoogleMapModule.Init('@LOS.WebApp.Helpers.Constants.KEY_GOOGLE_MAP')
              //khởi tạo finesse
            if ('@user.CiscoUsername' != '' && '@user.CiscoPassword' != '' && '@user.CiscoExtension' != '') {
                finesseC2CModule.LoginFinesse('@user.CiscoUsername', '@user.CiscoPassword', '@user.CiscoExtension', 'tima.vn');
            }
        });
    </script>
}

