﻿@model LOS.WebApp.Models.ToolCalculatorMoney
@{
    ViewData["Title"] = "Định giá xe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/form.css?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS" rel="stylesheet" />
<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__body">
            <div class="col-md-2">
                <div class="form-group m-form__group">
                    <h5 class="modal-title" id="exampleModalLabel" style="color: #6C7293;">
                        Tool tra cứu giá xe
                    </h5>
                </div>
            </div>
            <div class="form-group">
                <div class="form-group m-form__group row col-md-6 col-sm-12 form-left">
                    <label for="example-text-input" class="col-md-4 col-sm-12 col-form-label">
                        Chọn hãng xe:
                    </label>
                    <div class="col-md-8 col-sm-12">
                        <select class="form-control m-select2 inputsearch" id="sl_brand_product" onchange="GetProduct(this.value, 0)">
                            @if (Model != null && Model.ListBrandProduct != null && Model.ListBrandProduct.Count > 0)
                            {
                                <option></option>
                                foreach (var item in Model.ListBrandProduct)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group m-form__group row col-md-6 col-sm-12 form-left">
                    <label for="example-text-input" class="col-md-4 col-sm-12 col-form-label">
                        Chọn tên xe:
                    </label>
                    <div class="col-md-8 col-sm-12">
                        <select class="form-control m-select2 inputsearch" id="sl_product_name">
                        </select>
                    </div>
                </div>
                <div class="form-group m-form__group row col-md-6 col-sm-12 form-left">
                    <label for="example-text-input" class="col-md-4 col-sm-12 col-form-label">
                        Hình thức sở hữu xe:
                    </label>
                    <div class="col-md-8 col-sm-12">
                        <select class="form-control m-select2 inputsearch" id="sl_OwnerProduct" onchange="GetProductDetail('product')">
                            <option value="@LOS.Common.Extensions.EnumProductCredit.MotorCreditType_CC.GetHashCode()">Xe máy chính chủ</option>
                            <option value="@LOS.Common.Extensions.EnumProductCredit.MotorCreditType_KCC.GetHashCode()">Xe máy không chính chủ</option>
                            <option value="@LOS.Common.Extensions.EnumProductCredit.MotorCreditType_KGT.GetHashCode()">Xe máy không giấy tờ</option>
                        </select>
                    </div>
                </div>
                 <div class="form-group m-form__group row col-md-6 col-sm-12 form-left">
                    <label for="example-text-input" class="col-md-4 col-sm-12 col-form-label">
                        LTV tối đa:
                    </label>
                    <div class="col-md-8 col-sm-12">
                        <select class="form-control m-select2 inputsearch" id="sl_Ltv">
                            <option value="70" selected="selected">70%</option>
                             <option value="80">80%</option>
                               <option value="90">90%</option>
                        </select>
                    </div>
                </div>
                <div class="form-group m-form__group row col-md-6 col-sm-12 form-left">
                    <label for="example-text-input" class="col-md-4 col-sm-12 col-form-label">
                        Hình thức sở hữu nhà:
                    </label>
                    <div class="col-md-8 col-sm-12">
                        <select class="form-control m-select2 inputsearch" id="sl_TypeOwnerShip" onchange="GetProductDetail()">
                            <option value="@LOS.Common.Extensions.EnumTypeofownership.KT1.GetHashCode()">KT1</option>
                            <option value="@LOS.Common.Extensions.EnumTypeofownership.KT3.GetHashCode()">KT3</option>
                            @*<option value="@LOS.Common.Extensions.EnumTypeofownership.NhaSoHuuTrungSHK.GetHashCode()">Nhà sở hữu trùng SHK(Cùng Tỉnh/TP)</option>
                                <option value="@LOS.Common.Extensions.EnumTypeofownership.NhaSoHuuKhongTrungSHK.GetHashCode()">Nhà sở hữu không trùng SHK(Cùng Tỉnh/TP)</option>
                                <option value="@LOS.Common.Extensions.EnumTypeofownership.ThueKT1.GetHashCode()">Nhà thuê(Khác Tỉnh/TP)</option>
                                <option value="@LOS.Common.Extensions.EnumTypeofownership.NhaThueCungTinh.GetHashCode()">Nhà thuê(Cùng Tỉnh/TP)</option>*@
                        </select>
                    </div>
                </div>

                @*<div class="form-group m-form__group row col-md-6 col-sm-12 form-left">
                    <label for="example-text-input" class="col-md-4 col-sm-12 col-form-label">
                    Loại công việc:
                    </label>
                    <div class="col-md-8 col-sm-12">
                    <select class="form-control m-select2 inputsearch" id="sl_TypeJob" onchange="ChangeJobDescription();">
                    <option value="@LOS.Common.Extensions.EnumJobTitle.LamHuongLuong.GetHashCode()">Làm thuê hưởng lương</option>
                    <option value="@LOS.Common.Extensions.EnumJobTitle.TuDoanh.GetHashCode()">Tự kinh doanh</option>
                    <option value="@LOS.Common.Extensions.EnumJobTitle.LamTaiXeCongNghe.GetHashCode()">Shiper/Tài xế công nghệ</option>
                    <option value="@LOS.Common.Extensions.EnumJobTitle.LamTuDo.GetHashCode()">Làm tự do</option>
                    </select>
                    </div>
                    </div>

                    <div class="form-group m-form__group row col-md-6 col-sm-12 form-left">
                    <label for="example-text-input" class="col-md-4 col-sm-12 col-form-label">
                    Phân loại công việc:
                    </label>
                    <div class="col-md-8 col-sm-12">
                    <select class="form-control m-select2 inputsearch" id="sl_TypeJobDescription">
                    <option value="@LOS.Common.Extensions.EnumWorkRuleType.LamThueLuongChuyenKhoan.GetHashCode()">Lương chuyển khoản</option>;
                    <option value="@LOS.Common.Extensions.EnumWorkRuleType.LuongTienMatCoBHXH.GetHashCode()">Lương tiền mặt có đóng BHXH/BHYT</option>;
                    <option value="@LOS.Common.Extensions.EnumWorkRuleType.LuongTienMatKhongBHXH.GetHashCode()">Lương tiền mặt không đóng BHXH/BHYT</option>;
                    </select>
                    </div>
                    </div>*@


                <div class="form-group m-form__group row col-md-6 col-sm-12 form-left">
                    <label for="example-text-input" class="col-md-4 col-sm-12 col-form-label">
                        Gói sản phẩm chi tiết:
                    </label>
                    <div class="col-md-8 col-sm-12">
                        <select class="form-control m-select2 inputsearch" id="sl_LoanProductDetail">
                            @if (Model.ListProductDetail != null && Model.ListProductDetail.Count > 0)
                            {
                                foreach (var item in Model.ListProductDetail)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            }
                            @*<option value="@LOS.Common.Extensions.InfomationProductDetail.VayNhanh4tr.GetHashCode()">Gói vay nhanh 4 triệu</option>
                                <option value="@LOS.Common.Extensions.InfomationProductDetail.KT1_10.GetHashCode()">KT1 có SHK, vay tối đa 10 triệu</option>
                                <option value="@LOS.Common.Extensions.InfomationProductDetail.KT1_20.GetHashCode()">KT1 có SHK, vay tối đa 20 triệu</option>
                                <option value="@LOS.Common.Extensions.InfomationProductDetail.KT1_30.GetHashCode()">KT1 có SHK, vay tối đa 30 triệu</option>*@
                        </select>
                    </div>
                </div>


                <div class="form-group m-form__group row col-6 form-right">
                    <button type="button" id="btnSubmit" onclick="GetMaxPrice(event)" class="btn btn-primary" style="background: rgba(108, 114, 147, 1);border-color: rgba(108, 114, 147, 1);width: 110px;height: 40px;margin-top: -6px;margin-left: 2%;">
                        Tra cứu
                    </button>
                </div>

                <div class="form-group m-form__group row col-6 form-left">
                    <label for="example-text-input" class="col-12 col-form-label">
                        Giá thị trường : <span id="CurrentPrice" style="color: #FA5858">0</span> VNĐ
                    </label><br />
                    <label for="example-text-input" class="col-12 col-form-label">
                        Số tiền có thể cho vay tối đa <i class="fa fa-info-circle" data-skin="dark" data-toggle="m-tooltip" data-placement="top" title="Số tiền được giới hạn bởi LTV"></i>:
                        <span id="MaxPriceLtv" style="color: #FA5858">0</span> VNĐ
                    </label><br />
                    <label for="example-text-input" class="col-12 col-form-label">
                        Số tiền cho vay tối đa <i class="fa fa-info-circle" data-skin="dark" data-toggle="m-tooltip" data-placement="top" title="Số tiền được giới hạn bởi LTV và gói vay chi tiết"></i>:
                        <span id="MaxPrice" style="color: #FA5858">0</span> VNĐ
                    </label><br />
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
<script type="text/javascript">
    $(document).ready(function () {
        $('#sl_brand_product').select2({
            placeholder: "Chọn hãng xe",
            width: '100%'
        });
        $('#sl_product_name').select2({
            placeholder: "Chọn tên xe",
            width: '100%'
        });
        $('#sl_OwnerProduct').select2({
            placeholder: "Hình thức sở hữu xe",
            width: '100%'
        });
        $('#sl_TypeOwnerShip').select2({
            placeholder: "Hình thức sở hữu nhà",
            width: '100%'
        });
        $('#sl_TypeJob').select2({
            placeholder: "Loại công việc",
            width: '100%'
        });
        $('#sl_TypeJobDescription').select2({
            placeholder: "Phân loại công việc",
            width: '100%'
        });
        $('#sl_LoanProductDetail').select2({
            placeholder: "Phân loại công việc",
            width: '100%'
        });
        $('#sl_Ltv').select2({
            placeholder: "LTV tối đa",
            width: '100%'
        });
        
    });

    function ChangeJobDescription() {
        var TypeJob = $('#sl_TypeJob').val();
        if (TypeJob > 0) {
            var html = "";
            //đi làm hưởg lương
            if (TypeJob == @LOS.Common.Extensions.EnumJobTitle.LamHuongLuong.GetHashCode()) {
                html += `<option value="@LOS.Common.Extensions.EnumWorkRuleType.LamThueLuongChuyenKhoan.GetHashCode()">Lương chuyển khoản</option>`;
                html += `<option value="@LOS.Common.Extensions.EnumWorkRuleType.LuongTienMatCoBHXH.GetHashCode()">Lương tiền mặt có đóng BHXH/BHYT</option>`;
                html += `<option value="@LOS.Common.Extensions.EnumWorkRuleType.LuongTienMatKhongBHXH.GetHashCode()">lương tiền mặt không đóng BHXH/BHYT</option>`;
            } else if (TypeJob == @LOS.Common.Extensions.EnumJobTitle.TuDoanh.GetHashCode()) {
                  html += `<option value="@LOS.Common.Extensions.EnumWorkRuleType.KinhDoanhCoDangKy.GetHashCode()">Kinh doanh có đăng ký</option>`;
                html += `<option value="@LOS.Common.Extensions.EnumWorkRuleType.KinhDoanhKhongDangKy.GetHashCode()">Kinh doanh không có đăng ký</option>`;
            }
            else if (TypeJob == @LOS.Common.Extensions.EnumJobTitle.LamTuDo.GetHashCode()) {
                 html += `<option value="@LOS.Common.Extensions.EnumWorkRuleType.LaoDongTuDo.GetHashCode()">Lao động tự do có địa điểm làm việc cố định</option>`;
                html += `<option value="@LOS.Common.Extensions.EnumWorkRuleType.LaoDongTuDo.GetHashCode()">Lao động tự do không có địa điểm làm việc cố định</option>`;
            }
            else if (TypeJob == @LOS.Common.Extensions.EnumJobTitle.LamTaiXeCongNghe.GetHashCode()) {
                html += `<option value="@LOS.Common.Extensions.EnumWorkRuleType.GrabShipper.GetHashCode()">Grab/Shipper/Lái xe công nghệ</option>`;
            }
            $('#sl_TypeJobDescription').html(html);
            $('#sl_TypeJobDescription').select2({
                placeholder: "Gói sản phẩm chi tiết",
                width: '100%'
            });

        }
    }

    function ChangeTypeOwnerShip(typeOwnerShip) {
        if (typeOwnerShip > 0) {
            var html = "";
            if (typeOwnerShip == @LOS.Common.Extensions.EnumTypeofownership.KT1.GetHashCode()) {
                html += `<option value="@LOS.Common.Extensions.InfomationProductDetail.VayNhanh4tr.GetHashCode()">Gói vay nhanh 4 triệu</option>`;
                html += `<option value="@LOS.Common.Extensions.InfomationProductDetail.KT1_10.GetHashCode()">KT1 có SHK, vay tối đa 10 triệu</option>`;
                html += `<option value="@LOS.Common.Extensions.InfomationProductDetail.KT1_20.GetHashCode()">KT1 có SHK, vay tối đa 20 triệu</option>`;
                html += `<option value="@LOS.Common.Extensions.InfomationProductDetail.KT1_30.GetHashCode()">KT1 có SHK, vay tối đa 30 triệu</option>`;
            }else if (typeOwnerShip == @LOS.Common.Extensions.EnumTypeofownership.KT3.GetHashCode()) {
                html += `<option value="@LOS.Common.Extensions.InfomationProductDetail.VayNhanh4tr.GetHashCode()">Gói vay nhanh 4 triệu</option>`;
                html += `<option value="@LOS.Common.Extensions.InfomationProductDetail.KT3_10.GetHashCode()">KT3 có SHK vay tối đa 10 triệu</option>`;
                html += `<option value="@LOS.Common.Extensions.InfomationProductDetail.KT3_15.GetHashCode()">KT3 có SHK vay tối đa 15 triệu</option>`;
                html += `<option value="@LOS.Common.Extensions.InfomationProductDetail.KT3_20.GetHashCode()">KT3 có SHK vay tối đa 20 triệu</option>`;
            }
            $('#sl_LoanProductDetail').html(html);
            $('#sl_LoanProductDetail').select2({
                placeholder: "Phân loại công việc",
                width: '100%'
            });

        }
    }

    var GetProduct = function (brandId, productId) {
        if (brandId > 0) {
            App.Ajax("GET", "/Dictionary/GetProduct?brandId=" + brandId, undefined).done(function (data) {
                if (data.data != undefined && data.data.length > 0) {
                    var html = "";
                    html += "<option></option>";
                    for (var i = 0; i < data.data.length; i++) {
                        if (data.data[i].isEnable == true) {
                            if (productId > 0 && productId == data.data[i].id) {
                                html += `<option value="${data.data[i].id}" selected="selected">${data.data[i].fullName}</option>`;
                            } else {
                                html += `<option value="${data.data[i].id}">${data.data[i].fullName}</option>`;
                            }
                        }
                    }
                    $("#sl_product_name").html(html);
                    $("#sl_product_name").select2({
                        placeholder: "Chọn tên xe"
                    });
                }
                else {
                    var html = "";
                    html += "<option></option>";
                    $("#sl_product_name").html(html);
                    $("#sl_product_name").select2({
                        placeholder: "Chọn tên xe"
                    });
                }
            });
        } else {
            $('#sl_product_name').select2({
                placeholder: "Chọn tên xe",
                width: '100%'
            });
        }
    }

    var LoadLtv = function(){
        var productCredit = $('#sl_OwnerProduct').val();
        var html = ""
        if(productCredit == ProductCredit.MotorCreditType_CC){
              html += ` <option value="70" selected="selected">70%</option>`;
              html += ` <option value="80">80%</option>`;
              html += ` <option value="90">90%</option>`;
        }else{
             html += ` <option value="60" selected="selected">60%</option>`;
             html += ` <option value="70">70%</option>`;
             html += ` <option value="80">80%</option>`;
        }
          $("#sl_Ltv").html(html);
         $('#sl_Ltv').select2({
            placeholder: "LTV tối đa",
            width: '100%'
        });
    }

    var GetMaxPrice = function () {
        $("#btnSubmit").attr("disabled", "disabled");
        var ProductCredit = $("#sl_OwnerProduct").val();
        var TypeOfOwnerShip = $("#sl_TypeOwnerShip").val();
        var ProductId = $('#sl_product_name').val();
        var TypeJob = $('#sl_TypeJob').val();
        var TypeJobDescription = $('#sl_TypeJobDescription').val();
        var LoanProductDetailId = $('#sl_LoanProductDetail').val();
        var ltv  = $('#sl_Ltv').val();

        if (ProductId > 0 && TypeOfOwnerShip > 0 && ProductCredit > 0 && LoanProductDetailId > 0) {
            $.ajax({
                url: '/LoanBrief/ToolGetPriceProduct',
                type: 'GET',
                beforeSend: function () {
                    $.blockUI({
                        message: '<div class="m-blockui "><span style="font-size: 15px;">Please wait...</span><span><div class="m-loader  m-loader--success m-loader--lg"></div></span></div>',
                    });
                },
                data: {
                    'productId': ProductId,
                    'typeOfOwnerShip': TypeOfOwnerShip,
                    'productCredit': ProductCredit,
                    'productDetailId': LoanProductDetailId,
                    'ltv':ltv
                },
                dataType: 'json',
                success: function (res) {
                    $.unblockUI();
                    $("#btnSubmit").removeAttr("disabled", "disabled");
                    if (res.status == 1) {
                        $('#CurrentPrice').text(App.FormatCurrency(res.currentPrice));
                        $('#MaxPrice').text(App.FormatCurrency(res.maxPrice));
                        $('#MaxPriceLtv').text(App.FormatCurrency(res.maxPriceLtv));
                    } else {
                        App.ShowErrorNotLoad(res.message);
                    }
                },
                error: function () {
                    $("#btnSubmit").removeAttr("disabled", "disabled");
                    App.ShowErrorNotLoad('Xảy ra lỗi không mong muốn. Vui lòng thử lại');
                }

            });
        } else {
            App.ShowErrorNotLoad('Bạn phải chọn đủ thông tin xe!');
        }
    }

    var GetProductDetail = function (field) {
        if(field == "product"){
            LoadLtv();
        }
        var typeOwnerShip = $('#sl_TypeOwnerShip').val();
        var productId = $('#sl_OwnerProduct').val();
        if (typeOwnerShip > 0 && productId > 0) {
            $.ajax({
                url: '/Dictionary/GetInfomationProductDetailByTypeOwnershipAndProduct',
                type: 'GET',
                dataType: 'json',
                data: {
                    TypeOwnership: typeOwnerShip,
                    ProductId: productId
                },
                success: function (response) {
                    var html = "";
                    if (response != null && response.data.length > 0) {
                        for (var i = 0; i < response.data.length; i++) {
                            var item = response.data[i];
                            if (i == 0) {
                                html += `<option value="${item.id}" selected="selected">${item.name}</option>`
                            } else {
                                html += `<option value="${item.id}">${item.name}</option>`
                            }

                        }
                    }
                    $('#sl_LoanProductDetail').html(html);
                    $('#sl_LoanProductDetail').select2({
                        placeholder: "Phân loại công việc",
                        width: '100%'
                    });

                }
            })
        }
    }
</script>
}