﻿@{
    ViewData["Title"] = "Tính lãi phí";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/form.css?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS" rel="stylesheet" />
<style>
   .m-portlet .m-portlet__body {
        padding: 0rem 2.2rem;
    }

    .form-group {
        margin-bottom: 0px;
    }

    .m-portlet .m-portlet__body {
        padding-bottom: 20px;
    }

    .moneyColor span {
        color: #FA5858 !important;
        text-align: right;
    }
    .dtform span {
        font-family: Poppins, sans-serif;
        font-weight: 400;
        font-style: normal;
        color: rgb(108, 114, 147);
        font-size: 13px;
        letter-spacing: normal;
    }
</style>
<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Tool hỗ trợ tính Lãi & Phí
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <!--begin: Search Form -->
            <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                <div class="row align-items-center">
                    <div class="col-md-12 m--padding-bottom-15">
                        <div class="form-group">
                            <div class="form-group row col-md-6 col-sm-12">
                                <div class="col-md-10">
                                    <div class="m-radio-inline">
                                        <label class="m-radio">
                                            <input type="radio" name="CalculationInterest" checked="checked" onclick="ToolInterestModule.ChangeCalculationInterest(1)" value="1">
                                            <b>Tính lãi phí đơn thường</b>
                                            <span></span>
                                        </label>
                                        <label class="m-radio">
                                            <input type="radio" name="CalculationInterest" onclick="ToolInterestModule.ChangeCalculationInterest(2)" value="2">
                                            <b>Tính lãi phí đơn Topup</b>
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12" id="div-InterestLoanOften" style="display: none;">
                        <div class="form-group" style="padding-left: 15px;">
                            <form id="formInterest">
                                <div class="form-group row col-md-12">
                                    <label for="example-text-input" class="col-md-2 col-sm-12 col-form-label m--margin-top-5" style="text-align: left;">
                                        Tiền vay:
                                    </label>
                                    <div class="col-md-4 col-sm-12">
                                        <input class="form-control m-input inputAmountVND inputCreate" type="text" name="TotalMoneyDisbursement" id="LoanAmount">
                                    </div>
                                </div>
                                <div class="form-group row col-md-12">
                                    <label for="example-text-input" class="col-md-2 col-sm-12 col-form-label m--margin-top-5" style="text-align: left;">
                                        Thời gian vay:
                                    </label>
                                    <div class="col-md-4 col-sm-12">
                                        <select class="form-control cus-form-control m-select2 inputsearch" id="sl_LoanTime" name="LoanTime">
                                            <option value="1">1 tháng</option>
                                            <option value="2">2 tháng</option>
                                            <option value="3">3 tháng</option>
                                            <option value="6">6 tháng</option>
                                            <option value="9">9 tháng</option>
                                            <option value="12" selected="selected">12 tháng</option>
                                            <option value="18">18 tháng</option>
                                            <option value="24">24 tháng</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row col-md-12 form-left">
                                    <label for="example-text-input" class="col-md-2 col-sm-12 col-form-label m--margin-top-5" style="text-align: left;">
                                        Hình thức tính lãi:
                                    </label>
                                    <div class="col-md-4 col-sm-12">
                                        <select class="form-control cus-form-control m-select2 inputsearch" id="sl_RateType" name="RateType">
                                            <option selected="selected" value="@LOS.Common.Extensions.EnumRateType.DuNoGiamDan.GetHashCode()">Dư nợ giảm dần</option>
                                            <option value="@LOS.Common.Extensions.EnumRateType.TatToanCuoiKy.GetHashCode()">Tất toán cuối kỳ</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row col-md-12 form-left">
                                    <label for="example-text-input" class="col-md-2 col-sm-12 col-form-label m--margin-top-5" style="text-align: left;">
                                        Lãi phí(k/tr):
                                    </label>
                                    <div class="col-md-4 col-sm-12">
                                        <input class="form-control m-input inputAmountVND inputCreate" type="text" id="RateMoney" value="2700">
                                    </div>
                                </div>
                                <div class="form-group row col-md-12">
                                    <label for="example-text-input" class="col-md-2 col-sm-12 col-form-label m--margin-top-5" style="text-align: left;">
                                        Chu kỳ đóng lãi(hàng tháng):
                                    </label>
                                    <div class="col-md-4 col-sm-12">
                                        <input class="form-control m-input inputCreate" type="text" name="Frequency" value="30">
                                    </div>
                                </div>
                                <div class="form-group row col-md-12 form-left">
                                    <label for="example-text-input" class="col-md-2 col-sm-12 col-form-label m--margin-top-5" style="text-align: left;">
                                        Phí bảo hiểm(%/năm):
                                    </label>
                                    <div class="col-md-4 col-sm-12">
                                        <input class="form-control m-input inputCreate" type="text" name="RateInsurrance" value="5">
                                    </div>
                                </div>
                                <div class="form-group row col-md-12 m--padding-top-25 m--padding-bottom-15">
                                    <button type="button" id="btnSubmit" onclick="ToolInterestModule.CalculateOften(event)" class="btn btn-primary" style="background: rgba(108, 114, 147, 1);border-color: rgba(108, 114, 147, 1);width: 110px;height: 40px;margin-top: -6px;margin-left: 15px;">
                                        Tính toán
                                    </button>
                                </div>
                                <input type="hidden" name="Rate" id="Rate" />
                                <input type="hidden" name="CalculationInterestOften" id="hdd_CalculationInterestOften" value="false" />
                            </form>
                        </div>
                    </div>
                    <div class="col-md-12" id="div-InterestLoanTopup" style="display: none;">
                        <div class="form-group" style="padding-left: 15px;">
                            <form id="formInterestLoanTopup">
                                <div class="form-group row col-md-12">
                                    <label for="example-text-input" class="col-md-2 col-sm-12 col-form-label m--margin-top-5" style="text-align: left;">
                                        Mã TC
                                    </label>
                                    <div class="col-md-4 col-sm-12">
                                        <input class="form-control m-input inputCreate" type="text" name="CodeId" id="txt_CodeId" placeholder="Nhập mã TC-XXX">
                                    </div>
                                </div>
                                <div class="form-group row col-md-12">
                                    <label for="example-text-input" class="col-md-2 col-sm-12 col-form-label m--margin-top-5" style="text-align: left;">
                                        Tiền vay:
                                    </label>
                                    <div class="col-md-4 col-sm-12">
                                        <input class="form-control m-input inputAmountVND inputCreate" type="text" name="TotalMoneyDisbursementTopup" id="txt_TotalMoneyDisbursementTopup">
                                    </div>
                                </div>
                                <div class="form-group row col-md-12">
                                    <label for="example-text-input" class="col-md-2 col-sm-12 col-form-label m--margin-top-5" style="text-align: left;">
                                        Thời gian vay:
                                    </label>
                                    <div class="col-md-4 col-sm-12">
                                        <select class="form-control cus-form-control m-select2 inputsearch" id="sl_LoanTimeTopup" name="LoanTimeTopup">
                                            <option value="360">12 tháng</option>
                                            <option value="180">6 tháng</option>
                                        </select>
                                    </div>
                                </div>
                                <input type="hidden" name="CalculationInterestTopup" id="hdd_CalculationInterestTopup" value="false" />
                            </form>
                        </div>
                        <div class="form-group row col-md-12 m--padding-top-25 m--padding-bottom-15">
                            <button type="button" id="btnSubmit" onclick="ToolInterestModule.CalculateTopup(event)" class="btn btn-primary" style="background: rgba(108, 114, 147, 1);border-color: rgba(108, 114, 147, 1);width: 110px;height: 40px;margin-top: -6px;margin-left: 15px;">
                                Tính toán
                            </button>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="m-section" style="padding-top: 0; padding-left: 30px;" id="div-datatable">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/LoanBrief/ToolInterestModule.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sl_RateType').select2({
                placeholder: "Hình thức tính lãi",
                width: '100%'
            });
            $('#sl_LoanTime').select2({
                placeholder: "Thời gian vay",
                width: '100%'
            });
            App.LibraryMoney();
            ToolInterestModule.Init();
        });

    </script>
}