﻿@model LOS.WebApp.Models.LoanBriefInit
@{
    ViewData["Title"] = "Init";
    Layout = null;
    var user = ViewBag.User as LOS.DAL.DTOs.UserDetail;
}
<style>
    .custom-m-boder-box {
        border: 1px solid rgba(108, 114, 147, 1) !important;
    }

    .cus-info-header {
        border-bottom: 1px solid #e9ecef;
        padding: 10px;
    }

    #formAddLoanBrief .select2-container--default .select2-selection--single .select2-selection__rendered {
        padding: 0.52rem 1rem;
        border: 1px solid rgba(108, 114, 147, 1) !important;
    }

    #formAddLoanBrief .select2-container--default .select2-selection--single {
        border-bottom: none !important;
    }

    select.form-control:not([size]):not([multiple]) {
        height: unset;
    }

    .m-form.m-form--group-seperator-dashed .m-form__group {
        border-bottom: none;
    }

    .m-form.m-form--group-seperator-dashed .m-form__group {
        padding-bottom: 10px;
        padding-top: 5px;
    }

    .modal-open .select2-dropdown {
        z-index: 10060;
    }

    .btn-tima {
        background-color: rgba(108, 114, 147, 1);
        border-color: rgba(108, 114, 147, 1);
        color: #fff;
    }

    .error-notify {
        margin-top: 0px !important;
    }

    .cus-form-control {
        padding: 0.45rem 1rem;
        border: 1px solid rgba(108, 114, 147, 1) !important;
        font-family: none;
        border-radius: 0px;
    }

    #formAddLoanBriefTopup .white {
        background: #f2f3f8 !important;
    }

    #formAddLoanBriefTopup .select2-container--default .select2-selection--single .select2-selection__rendered {
        padding: 0.52rem 1rem;
        border: 1px solid rgba(108, 114, 147, 1) !important;
    }

    #formAddLoanBriefTopup .select2-container--default .select2-selection--single {
        border-bottom: none !important;
    }

</style>
<div class="modal-content">
    <div class="modal-header" style="padding: 15px;border-bottom:none !important;padding-bottom:0;">
        @*<div class="m-demo-icon__preview" style="margin-left: 5px; margin-top: 5px;">
                <i class="fa fa-plus"></i>
            </div>
            <div class="m-demo-icon__class" style="margin-top: 5px; margin-left: 10px; font-weight: bold">
                Tạo hồ sơ
            </div>*@
        <div class="m-portlet__head-tools">
            <ul class="nav nav-tabs m-tabs-line m-tabs-line--primary m-tabs-line--2x" role="tablist">
                <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link active" data-toggle="tab" href="#CreateLoan" role="tab">
                        <i class="fa fa-plus"></i>
                        Tạo đơn vay Topup
                    </a>
                </li>
            </ul>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: 0px">
            <span aria-hidden="true">
                &times;
            </span>
        </button>
    </div>
    <form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" id="formAddLoanBriefTopup">
        @*<div class="cus-info-header">
                <span style="font-weight: bold; margin-left: 10px">
                    Cập nhật thông tin hồ sơ khách hàng
                </span>
            </div>*@
        <div class="modal-body" style="padding: 25px 40px;">
            <div class="m-portlet__body">
                <div class="tab-content">
                    <div class="tab-pane active" id="CreateLoan" role="tabpanel">
                        <div>
                            <span style="font-weight: bold; margin-left: 10px">
                                Cập nhật thông tin hồ sơ khách hàng
                            </span>
                        </div>
                        <hr />

                        <input type="hidden" value="@Model.LoanBriefId" name="LoanBriefId" />
                        <!--begin:Thông tin cá nhân-->
                        @await Html.PartialAsync("../LoanBrief/Topup/_PersonalInformation.cshtml", Model)
                        <!--end:-->
                        <!--begin:Thông tin doanh nghiệp-->
                        <div id="boxCompanyInfo" style="@(Model.TypeLoanBrief == LOS.Common.Extensions.LoanBriefType.Customer.GetHashCode() ? "display: none" : "");">
                            @await Html.PartialAsync("../LoanBrief/Topup/_CompanyInformation.cshtml", Model)
                        </div>
                        <!--end:-->
                        <!--begin:Địa chỉ đang ở-->
                        @await Html.PartialAsync("../LoanBrief/Topup/_AddressHome.cshtml", Model)
                        <!--end:-->
                        <!--begin:Địa chỉ hộ khẩu-->
                        @await Html.PartialAsync("../LoanBrief/Topup/_AddressHousehold.cshtml", Model)
                        <!--end:-->
                        <!--begin:Việc làm-->
                        @await Html.PartialAsync("../LoanBrief/Topup/_WorkInformationV2.cshtml", Model)
                        <!--end:-->
                        <!--begin:Người thân và đồng nghiệp-->
                        @await Html.PartialAsync("../LoanBrief/Topup/_RelativesAndColleagues.cshtml", Model)
                        <!--end:-->
                        <!--begin:HÌnh thức vay-->
                        @await Html.PartialAsync("../LoanBrief/Topup/_LoancreditForm.cshtml", Model)
                        <!--end:-->
                        @await Html.PartialAsync("../LoanBrief/Topup/_CarInfomation.cshtml", Model)

                        @await Html.PartialAsync("../LoanBrief/Topup/_MotobikeInfomation.cshtml", Model)

                        <!--begin:Tài sản-->
                        <!--end:-->
                        <!--begin:Khoản vay-->
                        @await Html.PartialAsync("../LoanBrief/Topup/_LoancreditInfomartion.cshtml", Model)
                        <!--end:-->
                        <!--begin:Kiểm tra thông tin CIC-->
                        @await Html.PartialAsync("../LoanBrief/Topup/_CICInfomation.cshtml", Model)
                        <!--end:-->
                        <!--begin:Giải ngân-->
                        @await Html.PartialAsync("../LoanBrief/Topup/_DisbursementInfomation.cshtml", Model)
                        <!--end:-->

                        <hr />
                        <div style="text-align:center;">
                            <button type="button" class="btn btn-tima" onclick="LoanBriefTopup.Save(event)" id="btnSubmitTopup" style="padding: 10px 45px;">
                                Tạo đơn vay
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <input type="hidden" name="LoanAmountExpertise" value="@Model.LoanAmountExpertise" />
        <input type="hidden" name="LoanAmountExpertiseLast" value="@Model.LoanAmountExpertiseLast" />
        <input type="hidden" name="HubId" value="@Model.HubId" />
    </form>
</div>
<input type="hidden" id="ProductCarEnum" value="@LOS.Common.Extensions.EnumProductCredit.OtoCreditType_CC.GetHashCode()" />

<script src="~/js/LoanBrief/LoadInfomationModuleJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
<script src="~/js/LoanBrief/CalculatorRateMoneyModuleJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
<script src="~/js/LoanBrief/CalculatorInsurranceModuleJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
<script src="~/js/LoanBrief/DisbursementInfomationModeleJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
<script src="~/js/LoanBrief/AddressHomeModuleJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
<script src="~/js/LoanBrief/AddressHouseholdModuleJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
<script src="~/js/LoanBrief/WorkInformationModuleJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
<script src="~/js/LoanBrief/LoancreditInfomationModuleJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
<script src="~/js/LoanBrief/RelativeInfomationModuleJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
<script src="~/js/LoanBrief/MotobikeInfomationModuleJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
<script src="~/js/LoanBrief/LoancreditFormModuleJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
<script src="~/js/LoanBrief/PersonalInformationModuleJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
<script src="~/js/ScriptTelesales/ScriptMotobikeModuleJS_v2.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=@LOS.WebApp.Helpers.Constants.KEY_GOOGLE_MAP"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#sl_LoanTimeTopup').select2({
            placeholder: "Chọn thời gian vay",
            width: '100%'
        });
        $('#sl_RateType2').select2({
            placeholder: "Chọn hình thức thanh toán",
            width: '100%'
        });

        App.LibraryMoney();
        PersonalInformationModuleJS.Init();
        AddressHomeModuleJS.Init();
        AddressHouseholdModuleJS.Init();
        WorkInformationModuleJS.Init();
        RelativeInfomationModuleJS.Init();
        MotobikeInfomationModuleJS.Init();
        LoancreditFormModuleJS.Init();
        LoancreditInfomationModuleJS.Init();
        DisbursementInfomationModeleJS.Init();
        DisbursementInfomationModeleJS.ChangeTypeReceiveMoney(@Model.ReceivingMoneyType);
        CalculatorRateMoneyModuleJS.Init('@Model.ProductId', '@Model.LoanAmount', LOANTIME_TOPUP);
        CalculatorInsurranceModuleJS.Init('@Model.LoanAmount', LOANTIME_TOPUP);
        AddressHomeModuleJS.GetDistrict('@Model.LoanBriefResident.ProvinceId', '@Model.LoanBriefResident.DistrictId');
        AddressHomeModuleJS.GetWard('@Model.LoanBriefResident.DistrictId', '@Model.LoanBriefResident.WardId');
        AddressHouseholdModuleJS.GetDistrict('@Model.LoanBriefHousehold.ProvinceId', '@Model.LoanBriefHousehold.DistrictId');
        AddressHouseholdModuleJS.GetWard('@Model.LoanBriefHousehold.DistrictId', '@Model.LoanBriefHousehold.WardId');
        WorkInformationModuleJS.GetDistrict('@Model.LoanBriefJob.CompanyProvinceId', '@Model.LoanBriefJob.CompanyDistrictId');
        WorkInformationModuleJS.GetWard('@Model.LoanBriefJob.CompanyDistrictId', '@Model.LoanBriefJob.CompanyWardId');
        MotobikeInfomationModuleJS.GetProduct('@Model.LoanBriefProperty.BrandId', '@Model.LoanBriefProperty.ProductId')
        LoadInfomationModuleJS.ChangeProduct(@Model.ProductId);
        //LoancreditInfomationModuleJS.ChangeLoanTime(LOANTIME_TOPUP);
    });
</script>



