﻿
@{
    ViewData["Title"] = "VideoInit";
    Layout = null;
}
<style type="text/css" media="screen">
    #bodyModalVideo {
        max-width: 700px !important;
    }

    #stage {
        /*background: #eee;*/
        width: 100%;
        height: 450px;
         overflow: auto; 
        position: relative;
        /* margin: 1px 0; */
        padding-top: 50px;
    }

    #video {
        width: 100%;
        /*height: 300px;*/
        position: absolute;
        /*top: 50px;
        left: 100px;*/
    }

</style>
<div class="modal-content">
    <div class="modal-header">
        <div class="m-demo-icon" style="padding:0px;margin-bottom:0px;">
            <div class="m-demo-icon__preview">
                <i class="fa fa-video-camera"></i>
            </div>
            <div class="m-demo-icon__class">
                Chi tiết video
            </div>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: 0px">
            <span aria-hidden="true">
                &times;
            </span>
        </button>
    </div>

    <div class="modal-body" style="padding: 0px 40px;">
        <div id="stage">
            <video controls id="video">
                <source src="@ViewBag.Url" type="video/mp4">
            </video>
        </div>
        <div class="modal-footer" style="display:block;text-align:center;padding:10px;">
            <a href="javascript:;" title="Xoay trái" onclick="VideoModuleJS.Rotate(1);"><i style="font-size:30px;" class="fa fa-rotate-left"></i></a>
            <a href="javascript:;" title="Xoay phải" onclick="VideoModuleJS.Rotate(2);"><i style="font-size:30px;" class="fa fa-rotate-right"></i></a>
            <a href="javascript:;" title="Reset" onclick="VideoModuleJS.Rotate(3);"><i style="font-size:30px;color:darkred;" class="fa fa-refresh"></i></a>
        </div>


    </div>
</div>
@*<script src="~/js/Video/transformvideo.js?v=1"></script>*@



