﻿@model LOS.DAL.DTOs.LoanBriefForDetail
@{
    var CheckAddressHousehold = Model.CheckLoanInformation != null ? Model.CheckLoanInformation.Where(x => x.DocumentTypeId == (int)LOS.Common.Extensions.EnumCheckLoanInformation.CheckAddressHousehold).FirstOrDefault() : null;
    var user = ViewBag.User as LOS.DAL.DTOs.UserDetail;
}
@using LOS.Common.Extensions;
<div class="m-section__content">
    <div style="margin-bottom: 5px; font-weight:bold">
        <span class="title-uppercase">
            Địa chỉ hộ khẩu
        </span>
        <i class="la la-angle-double-right" style="font-size: 15px;"></i>
        @if (user.GroupId == LOS.Common.Extensions.EnumGroupUser.StaffHub.GetHashCode() || user.GroupId == LOS.Common.Extensions.EnumGroupUser.ManagerHub.GetHashCode()
        || user.GroupId == LOS.Common.Extensions.EnumGroupUser.ApproveEmp.GetHashCode() || user.GroupId == LOS.Common.Extensions.EnumGroupUser.ApproveLeader.GetHashCode())
        {
            <div style="width: 50%; float: right; text-align: right;">
                <label class="m-checkbox m-checkbox--bold m-checkbox--state-success" style="padding-right:50px;">
                    <input type="radio" @(CheckAddressHousehold != null && CheckAddressHousehold.ResultCheck == true ? "checked=\"checked\"" : "") attr-doctype="@EnumCheckLoanInformation.CheckAddressHousehold.GetHashCode()" attr-description="@Description.GetDescription(EnumCheckLoanInformation.CheckAddressHousehold)" name="CheckAddressHousehold" value="true">
                    Đúng
                    <span></span>
                </label>
                <label class="m-checkbox m-checkbox--bold m-checkbox--state-brand">
                    <input type="radio" @(CheckAddressHousehold != null && CheckAddressHousehold.ResultCheck == false ? "checked=\"checked\"" : "") attr-doctype="@EnumCheckLoanInformation.CheckAddressHousehold.GetHashCode()" attr-description="@Description.GetDescription(EnumCheckLoanInformation.CheckAddressHousehold)" name="CheckAddressHousehold" value="false">
                    Sai
                    <span></span>
                </label>
            </div>
        }

    </div>
    <div data-code-preview="true" data-code-html="true" data-code-js="false">
        <div class="custom-m-boder-box">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="row">
                        <span class="col-md-2 col-sm-12 col-form-label">Địa chỉ:</span>
                        <span class="col-md-10 col-sm-12 col-form-label fontWeight">
                            @((Model.LoanBriefHousehold != null && Model.LoanBriefHousehold.TypeWard != null && !string.IsNullOrEmpty(Model.LoanBriefHousehold.WardName)) ? Description.GetDescription((TypeWard)Model.LoanBriefHousehold.TypeWard) + " " + Model.LoanBriefHousehold.WardName + ", " : "")
                            @((Model.LoanBriefHousehold != null && Model.LoanBriefHousehold.TypeDistrict != null && !string.IsNullOrEmpty(Model.LoanBriefHousehold.DistrictName)) ? Description.GetDescription((TypeDistrict)Model.LoanBriefHousehold.TypeDistrict) + " " + Model.LoanBriefHousehold.DistrictName + ", " : "")
                            @((Model.LoanBriefHousehold != null && Model.LoanBriefHousehold.TypeProvince != null && !string.IsNullOrEmpty(Model.LoanBriefHousehold.ProvinceName)) ? Description.GetDescription((TypeProvince)Model.LoanBriefHousehold.TypeProvince) + " " + Model.LoanBriefHousehold.ProvinceName : "")
                        </span>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="row">
                        <span class="col-md-2 col-sm-12 col-form-label">Địa chỉ chi tiết:</span>
                        <span class="col-md-10 col-sm-12 col-form-label fontWeight">
                            @(Model.LoanBriefHousehold != null && Model.LoanBriefHousehold.Address != null ? Model.LoanBriefHousehold.Address : "")
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>