﻿@model LOS.DAL.DTOs.LoanBriefForDetail
@{
    var CheckAddressHome = Model.CheckLoanInformation != null ? Model.CheckLoanInformation.Where(x => x.DocumentTypeId == (int)LOS.Common.Extensions.EnumCheckLoanInformation.CheckAddressHome).FirstOrDefault() : null;
    var user = ViewBag.User as LOS.DAL.DTOs.UserDetail;
}
@using LOS.Common.Extensions;

<div class="m-section__content">
    <div style="margin-bottom: 5px; font-weight:bold">
        <span class="title-uppercase">
            Địa chỉ đang ở
        </span>
        <i class="la la-angle-double-right" style="font-size: 15px;"></i>
        @if (user.GroupId == LOS.Common.Extensions.EnumGroupUser.StaffHub.GetHashCode() || user.GroupId == LOS.Common.Extensions.EnumGroupUser.ManagerHub.GetHashCode()
|| user.GroupId == LOS.Common.Extensions.EnumGroupUser.ApproveEmp.GetHashCode() || user.GroupId == LOS.Common.Extensions.EnumGroupUser.ApproveLeader.GetHashCode())
        {
            <div class="check-mobile" style="width: 50%; float: right; text-align: right;">
                <label class="m-checkbox m-checkbox--bold m-checkbox--state-success" style="padding-right:50px;">
                    <input type="radio" @(CheckAddressHome != null && CheckAddressHome.ResultCheck == true ? "checked=\"checked\"" : "") attr-doctype="@EnumCheckLoanInformation.CheckAddressHome.GetHashCode()" attr-description="@Description.GetDescription(EnumCheckLoanInformation.CheckAddressHome)" name="CheckAddressHome" value="true">
                    Đúng
                    <span></span>
                </label>
                <label class="m-checkbox m-checkbox--bold m-checkbox--state-brand">
                    <input type="radio" @(CheckAddressHome != null && CheckAddressHome.ResultCheck == false ? "checked=\"checked\"" : "") attr-doctype="@EnumCheckLoanInformation.CheckAddressHome.GetHashCode()" attr-description="@Description.GetDescription(EnumCheckLoanInformation.CheckAddressHome)" name="CheckAddressHome" value="false">
                    Sai
                    <span></span>
                </label>
            </div>
        }
    </div>
    <div data-code-preview="true" data-code-html="true" data-code-js="false">
        <div class="custom-m-boder-box">
            <div class="row">
                <div class="col-lg-12 col-md-6 col-sm-12">
                    <div class="row">
                        <span class="col-md-2 col-sm-12 col-form-label">Địa chỉ:</span>
                        <span class="col-md-10 col-sm-12 col-form-label fontWeight">
                            @((Model.TypeWard != null && !string.IsNullOrEmpty(Model.WardName)) ? Description.GetDescription((TypeWard)Model.TypeWard) + " " + Model.WardName + ", " : "")
                            @((Model.TypeDistrict != null && !string.IsNullOrEmpty(Model.DistrictName)) ? Description.GetDescription((TypeDistrict)Model.TypeDistrict) + " " + Model.DistrictName + ", " : "")
                            @((Model.TypeProvince != null && !string.IsNullOrEmpty(Model.ProvinceName)) ? Description.GetDescription((TypeProvince)Model.TypeProvince) + " " + Model.ProvinceName : "")
                        </span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="row">
                        <span class="col-md-6 col-sm-12 col-form-label">Hình thức cư trú:</span>
                        <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                            @if (Model.LoanBriefResident != null && Model.LoanBriefResident.ResidentType != null)
                            {
                                @LOS.WebApp.Views.LoanBrief.Detail.Description.GetDescription((LOS.Common.Extensions.EnumTypeofownership)Model.LoanBriefResident.ResidentType)
                            }
                        </span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="row">
                        <span class="col-md-6 col-sm-12 col-form-label">Thời gian sống:</span>
                        <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                            @if (Model.LoanBriefResident != null && Model.LoanBriefResident.LivingTime != null)
                            {
                                <span>@LOS.WebApp.Views.LoanBrief.Detail.Description.GetDescription((LOS.Common.Extensions.EnumLivingTime)Model.LoanBriefResident.LivingTime)</span>
                            }
                        </span>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="row">
                        <span class="col-md-2 col-sm-12 col-form-label">Tọa độ KH chia sẻ:</span>
                        <span class="col-md-10 col-sm-12 col-form-label fontWeight">
                            @(Model.LoanBriefResident != null ? Model.LoanBriefResident.CustomerShareLocation : "")
                        </span>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="row">
                        <span class="col-md-2 col-sm-12 col-form-label">Tọa độ google map:</span>
                        <span class="col-md-10 col-sm-12 col-form-label fontWeight">
                            @(Model.LoanBriefResident != null ? Model.LoanBriefResident.AddressLatLng : "")
                        </span>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="row">
                        <span class="col-md-2 col-sm-12 col-form-label">Địa chỉ chi tiết:</span>
                        <span class="col-md-10 col-sm-12 col-form-label fontWeight">
                            @(Model.LoanBriefResident != null ? Model.LoanBriefResident.Address : "")
                        </span>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="row">
                        <span class="col-md-2 col-sm-12 col-form-label"> Địa chỉ google map:</span>
                        <span class="col-md-10 col-sm-12 col-form-label fontWeight">
                            @(Model.LoanBriefResident != null ? Model.LoanBriefResident.AddressGoogleMap : "")
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

