﻿@model LOS.DAL.DTOs.LoanBriefForDetail
<div class="m-section__content">
    <div style="margin-bottom: 5px; font-weight:bold">
        <span class="title-uppercase">
            Kiểm tra thông tin
        </span>
        <i class="la la-angle-double-right" style="font-size: 15px;"></i>
    </div>
    <div data-code-preview="true" data-code-html="true" data-code-js="false">
        <div class="custom-m-boder-box">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="row">
                        <span class="col-md-6 col-sm-12 col-form-label">Kiểm tra rule check:</span>
                        <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                            @(!string.IsNullOrEmpty(Model.ResultRuleCheck) ? Model.ResultRuleCheck : "Chưa có kết quả")
                        </span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="row">
                        <span class="col-md-6 col-sm-12 col-form-label">Kiểm tra location:</span>
                        <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                            @(!string.IsNullOrEmpty(Model.ResultLocation) ? Model.ResultLocation : "Chưa có kết quả")
                        </span>
                    </div>
                </div>
                @if (Model.CreditScoring > 0)
                {
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="row">
                            <span class="col-md-6 col-sm-12 col-form-label">
                                Credit Scoring : <br />
                                <span style="font-size: 10px; color: #ADB0C2;">
                                    (thang điểm 1000)
                                </span>
                            </span>
                            <span class="col-md-6 col-sm-12 col-form-label">
                                @if (Model.CreditScoring <= 500)
                                {
                                    <span class="m-badge m-badge--success m-badge--danger" style="font-size: 10px">
                                        @Model.CreditScoring
                                    </span>
                                }
                                else if (Model.CreditScoring > 500 && Model.CreditScoring <= 957 )
                                {
                                    <span class="m-badge m-badge--info m-badge--warning" style="font-size: 10px">
                                        @Model.CreditScoring
                                    </span>
                                }
                                else
                                {
                                    <span class="m-badge m-badge--info m-badge--wide" style="font-size: 10px">
                                        @Model.CreditScoring
                                    </span>
                                }
                            </span>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>