﻿@model LOS.DAL.DTOs.LoanBriefForDetail

<div class="m-section__content">
    <div style="margin-bottom: 5px; font-weight:bold">
        <span class="title-uppercase">
            Thông tin doanh nghiệp
        </span>
        <i class="la la-angle-double-right" style="font-size: 15px;"></i>
    </div>
    <input type="hidden" name="LoanBriefCompany.LoanBriefId" value="@Model.LoanBriefCompany.LoanBriefId" />
    <div data-code-preview="true" data-code-html="true" data-code-js="false">
        <div class="custom-m-boder-box">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                        <span class="col-md-2 col-sm-12 col-form-label">Tên doanh nghiệp:</span>
                        <span class="col-md-10 col-sm-12 col-form-label fontWeight">
                            @Model.LoanBriefCompany.CompanyName
                        </span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="row">
                        <span class="col-md-6 col-sm-12 col-form-label">Ngành nghề kinh doanh:</span>
                        <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                            @Model.LoanBriefCompany.CareerBusiness
                        </span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="row">
                        <span class="col-md-6 col-sm-12 col-form-label">Ngày cấp giấy CNĐKD/CNĐKND:</span>
                        <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                            @(Model.LoanBriefCompany.BusinessCertificationDate.HasValue ? Model.LoanBriefCompany.BusinessCertificationDate.Value.ToString("dd/MM/yyyy") : "")
                        </span>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                        <span class="col-md-2 col-sm-12 col-form-label">Nơi cấp giấy CNĐKD/CNĐKND:</span>
                        <span class="col-md-10 col-sm-12 col-form-label fontWeight">
                            @Model.LoanBriefCompany.BusinessCertificationAddress
                        </span>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                        <span class="col-md-2 col-sm-12 col-form-label">Trụ sở theo đăng ký kinh doanh:</span>
                        <span class="col-md-10 col-sm-12 col-form-label fontWeight">
                            @Model.LoanBriefCompany.HeadOffice
                        </span>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                        <span class="col-md-2 col-sm-12 col-form-label">Địa chỉ kinh doanh hiện tại:</span>
                        <span class="col-md-10 col-sm-12 col-form-label fontWeight">
                            @Model.LoanBriefCompany.Address
                        </span>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                        <span class="col-md-2 col-sm-12 col-form-label">Cổ đông góp vốn nhiều nhất:</span>
                        <span class="col-md-10 col-sm-12 col-form-label fontWeight">
                            @Model.LoanBriefCompany.CompanyShareholder
                        </span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="row">
                        <span class="col-md-6 col-sm-12 col-form-label">Ngày sinh:</span>
                        <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                            @(Model.LoanBriefCompany.BirthdayShareholder.HasValue ? Model.LoanBriefCompany.BirthdayShareholder.Value.ToString("dd/MM/yyyy") : "")
                        </span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="row">
                        <span class="col-md-6 col-sm-12 col-form-label">Số CMND/CCCD/Hộ Chiếu:</span>
                        <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                            @Model.LoanBriefCompany.CardNumberShareholder
                        </span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="row">
                        <span class="col-md-6 col-sm-12 col-form-label">Nơi sinh:</span>
                        <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                            @Model.LoanBriefCompany.PlaceOfBirthShareholder
                        </span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="row">
                        <span class="col-md-6 col-sm-12 col-form-label">Ngày cấp:</span>
                        <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                            @(Model.LoanBriefCompany.CardNumberShareholderDate.HasValue ? Model.LoanBriefCompany.CardNumberShareholderDate.Value.ToString("dd/MM/yyyy") : "")
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
