﻿@model LOS.DAL.DTOs.LoanBriefForDetail
<style>
    .td-bold {
        font-weight: 700;
    }

    .th-color {
        color: white;
        background: rgb(108, 114, 147) !important;
    }
</style>
<div class="m-section__content" style="padding-top: 0px;">
    <div style="margin-bottom: 5px; font-weight:bold">
        <span class="title-uppercase">
            Thông tin khoản vay
        </span>
        <i class="la la-angle-double-right" style="font-size: 15px;"></i>
    </div>
    <div class="m-section__content">
        <table class="table table-striped m-table table-customer-mobile">
            <thead>
                <tr class="th-color">
                    <th>STT</th>
                    <th>Mã TC</th>
                    <th>Tên khách</th>
                    <th>Số tiền vay</th>
                    <th>Dư nợ hiện tại</th>
                    <th>Thời gian vay</th>
                    <th>Kỳ thanh toán</th>
                    <th>Ngày phải đóng</th>
                    <th>Ngày đóng tiền</th>
                    <th>Số ngày trả chậm</th>
                    <th>Trạng thái</th>
                </tr>
            </thead>
            <tbody id="dtListLoanPayment">
            </tbody>
        </table>
    </div>
</div>

<input type="hidden" id="CustomerName" value="@Model.FullName" />
<input type="hidden" id="NumberCard" value="@Model.NationalCard" />
<input type="hidden" id="NationCardPlace" value="@Model.NationCardPlace" />
<input type="hidden" id="LoanBriefId" value="@Model.LoanBriefId" />
<script src="~/js/Approve/DeferredPaymentModule.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>

<script type="text/javascript">
    $(document).ready(function () {
        DeferredPaymentModule.Init()
    });


</script>