﻿@model LOS.DAL.DTOs.LoanBriefForDetail
@{
    var CheckDisbursementInfomation = Model.CheckLoanInformation != null ? Model.CheckLoanInformation.Where(x => x.DocumentTypeId == (int)LOS.Common.Extensions.EnumCheckLoanInformation.CheckDisbursementInfomation).FirstOrDefault() : null;
    var user = ViewBag.User as LOS.DAL.DTOs.UserDetail;
}
@using LOS.Common.Extensions;
<div class="m-section__content">
    <div style="margin-bottom: 5px; font-weight:bold">
        <span class="title-uppercase">
            Giải ngân
        </span>
        <i class="la la-angle-double-right" style="font-size: 15px;"></i>
        @if (user.GroupId == LOS.Common.Extensions.EnumGroupUser.StaffHub.GetHashCode() || user.GroupId == LOS.Common.Extensions.EnumGroupUser.ManagerHub.GetHashCode()
|| user.GroupId == LOS.Common.Extensions.EnumGroupUser.ApproveEmp.GetHashCode() || user.GroupId == LOS.Common.Extensions.EnumGroupUser.ApproveLeader.GetHashCode())
        {
            <div style="width: 50%; float: right; text-align: right;">
                <label class="m-checkbox m-checkbox--bold m-checkbox--state-success" style="padding-right:50px;">
                    <input type="radio" @(CheckDisbursementInfomation != null && CheckDisbursementInfomation.ResultCheck == true ? "checked=\"checked\"" : "") attr-doctype="@EnumCheckLoanInformation.CheckDisbursementInfomation.GetHashCode()" attr-description="@Description.GetDescription(EnumCheckLoanInformation.CheckDisbursementInfomation)" name="CheckDisbursementInfomation" value="true">
                    Đúng
                    <span></span>
                </label>
                <label class="m-checkbox m-checkbox--bold m-checkbox--state-brand">
                    <input type="radio" @(CheckDisbursementInfomation != null && CheckDisbursementInfomation.ResultCheck == false ? "checked=\"checked\"" : "") attr-doctype="@EnumCheckLoanInformation.CheckDisbursementInfomation.GetHashCode()" attr-description="@Description.GetDescription(EnumCheckLoanInformation.CheckDisbursementInfomation)" name="CheckDisbursementInfomation" value="false">
                    Sai
                    <span></span>
                </label>
            </div>
        }
    </div>
    <div data-code-preview="true" data-code-html="true" data-code-js="false">
        <div class="custom-m-boder-box">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="row">
                        <span class="col-md-4 col-sm-12 col-form-label">Nhận tiền bằng:</span>
                        <span class="col-md-8 col-sm-12 col-form-label fontWeight">
                            @if (Model.ReceivingMoneyType != null)
                            {
                                @(Model.ReceivingMoneyType != null ? LOS.WebApp.Views.LoanBrief.Detail.Description.GetDescription((LOS.WebApp.Views.LoanBrief.Detail.Description.EnumTypeReceivingMoney)Model.ReceivingMoneyType) : "0")
                            }
                        </span>
                    </div>
                </div>
                @if (Model.ReceivingMoneyType == LOS.Common.Extensions.EnumTypeReceivingMoney.NumberAccount.GetHashCode() || Model.ReceivingMoneyType == LOS.Common.Extensions.EnumTypeReceivingMoney.NumberCard.GetHashCode())
                {
                    <div class="col-md-6 col-sm-12">
                        <div class="row">
                            <span class="col-md-4 col-sm-12 col-form-label">Ngân hàng:</span>
                            <span class="col-md-8 col-sm-12 col-form-label fontWeight">
                                @(!string.IsNullOrEmpty(Model.BankName) ? Model.BankName : "")
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="row">
                            <span class="col-md-4 col-sm-12 col-form-label">Tên chủ thẻ:</span>
                            <span class="col-md-8 col-sm-12 col-form-label fontWeight">
                                @(!string.IsNullOrEmpty(Model.BankAccountName) ? Model.BankAccountName : "")
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="row">
                            <span class="col-md-4 col-sm-12 col-form-label">Số tài khoản:</span>
                            <span class="col-md-8 col-sm-12 col-form-label fontWeight required-detail">
                                @(!string.IsNullOrEmpty(Model.BankAccountNumber) ? Model.BankAccountNumber : "")
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="row">
                            <span class="col-md-4 col-sm-12 col-form-label">Số thẻ:</span>
                            <span class="col-md-8 col-sm-12 col-form-label fontWeight">
                                @(Model.BankCardNumber != null ? Model.BankCardNumber : "")
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="row">
                            <span class="col-md-4 col-sm-12 col-form-label">Chi nhánh:</span>
                            <span class="col-md-8 col-sm-12 col-form-label fontWeight">
                                @(!string.IsNullOrEmpty(Model.BankBranch) ? Model.BankBranch : "")
                            </span>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>