﻿@{
    Layout = null;
    var fraudCheck = ViewBag.FraudCheck as FraudCheckViewModel;
}

@if ((fraudCheck != null && !string.IsNullOrEmpty(fraudCheck.Channel))
|| (fraudCheck != null && !string.IsNullOrEmpty(fraudCheck.HvChannel)))
{
    <div class="m-section__content">
        <div style="margin-bottom: 5px; font-weight:bold">
            <span class="title-uppercase">
                Thông tin Fraud Check
            </span>
            <i class="la la-angle-double-right" style="font-size: 15px;"></i>
        </div>
        @if (fraudCheck != null && !string.IsNullOrEmpty(fraudCheck.Channel))
        {
            <div data-code-preview="true" data-code-html="true" data-code-js="false">
                <div class="custom-m-boder-box">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="row">
                                <span class="col-md-2 col-sm-12 col-form-label">Dữ liệu từ hệ thống Tima:</span>
                                <span class="col-md-10 col-sm-12 col-form-label">
                                    @if (fraudCheck.Channel == "green")
                                    {
                                        <span class="m-badge m-badge--success m-badge--wide">
                                            @fraudCheck.Channel
                                        </span>
                                    }
                                    else if (fraudCheck.Channel == "orange")
                                    {
                                        <span class="m-badge m-badge--warning m-badge--wide">
                                            @fraudCheck.Channel
                                        </span>
                                        @if (fraudCheck.Message != null && fraudCheck.Message.Count > 0)
                                        {
                                            foreach (var item in fraudCheck.Message)
                                            {
                                                <span style="color: #ffb822">@item</span>
                                            }
                                        }
                                    }
                                    else if (fraudCheck.Channel == "red")
                                    {
                                        <span class="m-badge m-badge--danger m-badge--wide">
                                            @fraudCheck.Channel
                                        </span>
                                        @if (fraudCheck.Message != null && fraudCheck.Message.Count > 0)
                                        {
                                            foreach (var item in fraudCheck.Message)
                                            {
                                                <span style="color: #f4516c">@item</span>
                                            }
                                        }
                                    }
                                    else
                                    {
                                        <span class="m-badge m-badge--warning m-badge--wide">
                                            @fraudCheck.Channel
                                        </span>
                                        @if (fraudCheck.Message != null && fraudCheck.Message.Count > 0)
                                        {
                                            foreach (var item in fraudCheck.Message)
                                            {
                                                <span style="color: #ffb822">@item</span>
                                            }
                                        }
                                    }
                                    <a href="@fraudCheck.DetailUrl" target="_blank" title="Chi tiết">Chi tiết</a>
                                </span>
                            </div>
                        </div>
                        @if (fraudCheck != null && !string.IsNullOrEmpty(fraudCheck.HvChannel))
                        {
                            <div class="col-md-12 col-sm-12">
                                <div class="row">
                                    <span class="col-md-2 col-sm-12 col-form-label">Dữ liệu từ hệ thống đối tác:</span>
                                    <span class="col-md-10 col-sm-12 col-form-label">
                                        @if (fraudCheck.HvChannel == "green")
                                        {
                                            <span class="m-badge m-badge--success m-badge--wide">
                                                @fraudCheck.HvChannel
                                            </span>

                                        }
                                        else if (fraudCheck.HvChannel == "orange")
                                        {
                                            <span class="m-badge m-badge--warning m-badge--wide">
                                                @fraudCheck.HvChannel
                                            </span>
                                            @if (fraudCheck.HvChannel != null && fraudCheck.HvMessage.Count > 0)
                                            {
                                                foreach (var item in fraudCheck.HvMessage)
                                                {
                                                    <span style="color: #ffb822">@item</span>
                                                }
                                            }
                                        }
                                        else if (fraudCheck.HvChannel == "red")
                                        {
                                            <span class="m-badge m-badge--danger m-badge--wide">
                                                @fraudCheck.HvChannel
                                            </span>
                                            @if (fraudCheck.HvMessage != null && fraudCheck.HvMessage.Count > 0)
                                            {
                                                foreach (var item in fraudCheck.HvMessage)
                                                {
                                                    <span style="color: #f4516c">@item</span>
                                                }
                                            }
                                        }
                                        else
                                        {
                                            <span class="m-badge m-badge--warning m-badge--wide">
                                                @fraudCheck.HvChannel
                                            </span>
                                            @if (fraudCheck.HvChannel != null && fraudCheck.HvMessage.Count > 0)
                                            {
                                                foreach (var item in fraudCheck.HvMessage)
                                                {
                                                    <span style="color: #ffb822">@item</span>
                                                }
                                            }
                                        }
                                         <a href="@fraudCheck.DetailUrl" target="_blank" title="Chi tiết">Chi tiết</a>
                                        @*<a href="https://fraud-check.tima-ai.dev/fraud-detail?loan_credit_id=@Model.LoanBriefId" target="_blank" title="Chi tiết">Chi tiết</a>*@
                                    </span>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
}

