@model LOS.DAL.DTOs.LoanBriefForDetail
@{
    var CheckLoanCredit = Model.CheckLoanInformation != null ? Model.CheckLoanInformation.Where(x => x.DocumentTypeId == (int)LOS.Common.Extensions.EnumCheckLoanInformation.CheckLoanCredit).FirstOrDefault() : null;
    var user = ViewBag.User as LOS.DAL.DTOs.UserDetail;
}
﻿@using LOS.Common.Extensions;
<div class="m-section__content">
    <div style="margin-bottom: 5px; font-weight:bold">
        <span class="title-uppercase">
            Hình thức vay
        </span>
        <i class="la la-angle-double-right" style="font-size: 15px;"></i>
        @if (user.GroupId == LOS.Common.Extensions.EnumGroupUser.StaffHub.GetHashCode() || user.GroupId == LOS.Common.Extensions.EnumGroupUser.ManagerHub.GetHashCode()
        || user.GroupId == LOS.Common.Extensions.EnumGroupUser.ApproveEmp.GetHashCode() || user.GroupId == LOS.Common.Extensions.EnumGroupUser.ApproveLeader.GetHashCode())
        {
            <div style="width: 50%; float: right; text-align: right;">
                <label class="m-checkbox m-checkbox--bold m-checkbox--state-success" style="padding-right:50px;">
                    <input type="radio" @(CheckLoanCredit != null && CheckLoanCredit.ResultCheck == true ? "checked=\"checked\"" : "") attr-doctype="@EnumCheckLoanInformation.CheckLoanCredit.GetHashCode()" attr-description="@Description.GetDescription(EnumCheckLoanInformation.CheckLoanCredit)" name="CheckLoanCredit" value="true">
                    Đúng
                    <span></span>
                </label>
                <label class="m-checkbox m-checkbox--bold m-checkbox--state-brand">
                    <input type="radio" @(CheckLoanCredit != null && CheckLoanCredit.ResultCheck == false ? "checked=\"checked\"" : "") attr-doctype="@EnumCheckLoanInformation.CheckLoanCredit.GetHashCode()" attr-description="@Description.GetDescription(EnumCheckLoanInformation.CheckLoanCredit)" name="CheckLoanCredit" value="false">
                    Sai
                    <span></span>
                </label>
            </div>
        }

    </div>
    <div data-code-preview="true" data-code-html="true" data-code-js="false">
        <div class="custom-m-boder-box">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="row">
                        <span class="col-md-6 col-sm-12 col-form-label">Gói vay:</span>
                        <span class="col-md-6 col-sm-12 col-form-label fontWeight required-detail">
                            @(!string.IsNullOrEmpty(Model.ProductName) ? Model.ProductName : "")
                        </span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="row">
                        <span class="col-md-6 col-sm-12 col-form-label">Hình thức tính lãi:</span>
                        <span class="col-md-6 col-sm-12 col-form-label fontWeight required-detail" style="text-transform: uppercase;">
                            @(Model.RateTypeId != null ? LOS.WebApp.Views.LoanBrief.Detail.Description.GetDescription((LOS.Common.Extensions.EnumRateType)Model.RateTypeId) : "0")
                        </span>
                    </div>
                </div>
                @if ((ViewBag.GroupID == (int)EnumGroupUser.StaffHub || ViewBag.GroupID == (int)EnumGroupUser.ManagerHub) && Model.IsReborrow.HasValue && Model.IsReborrow.Value)
                {
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="row">
                            <span class="col-md-6 col-sm-12 col-form-label">Tái vay:</span>
                            <div class="col-md-6 col-sm-12">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12 col-form-label">
                                        <span class="fontWeight">Có</span>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <a href="javascript:;" title="Bỏ nhãn tái vay" onclick="ReBorrowModuleJS.RemoveLabelReBorrow(@Model.LoanBriefId)" class="btn-action btn btn-brand m-btn m-btn--icon btn-sm m-btn--icon-only"
                                       style="width: 30px !important;height: 30px !important; background-color: white !important; border-color: #6C7293; margin: 3px !important;">
                                            <i style="color: #6C7293" class="fa fa-trash"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @if (Model.ProductDetailId.HasValue && Model.ProductDetailId > 0)
                {
                    if (Model.LoanBriefQuestionScript != null)
                    {
                        @if (Model.LoanBriefQuestionScript.Appraiser.HasValue)
                        {
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="row">
                                    <span class="col-md-6 col-sm-12 col-form-label">Thẩm định:</span>
                                    <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                                        @(Model.LoanBriefQuestionScript.Appraiser == 1 ? "Location đạt" : Model.LoanBriefQuestionScript.Appraiser == 2 ? "Thẩm định nơi ở" : Model.LoanBriefQuestionScript.Appraiser == 3 ? "Có hóa đơn điện/nước/internet/truyền hình cáp" : "")
                                    </span>
                                </div>
                            </div>
                        }
                        @if (Model.LoanBriefQuestionScript.DocumentBusiness.HasValue)
                        {
                            <div class="col-md-12 col-sm-12">
                                <div class="row">
                                    <span class="col-md-2 col-sm-12 col-form-label">Giấy tờ:</span>
                                    <span class="col-md-10 col-sm-12 col-form-label fontWeight">
                                        @if (Model.LoanBriefQuestionScript.DocumentBusiness <= 3)
                                        {
                                            @LOS.Common.Helpers.ExtentionHelper.GetDescription((LOS.Common.Extensions.EnumDocumentJob1)Model.LoanBriefQuestionScript.DocumentBusiness)
                                        }
                                        else
                                        {
                                            @LOS.Common.Helpers.ExtentionHelper.GetDescription((LOS.Common.Extensions.EnumDocumentJob2)Model.LoanBriefQuestionScript.DocumentBusiness)
                                        }
                                    </span>

                                </div>
                            </div>

                        }
                    }
                    <div class="col-md-6 col-sm-12">
                        <div class="row">
                            <span class="col-md-4 col-sm-12 col-form-label">Chi tiết gói vay:</span>
                            <span class="col-md-8 col-sm-12 col-form-label fontWeight">
                                @LOS.Common.Helpers.ExtentionHelper.GetDescription((LOS.Common.Extensions.InfomationProductDetail)Model.ProductDetailId)
                            </span>
                        </div>
                    </div>
                }
                @if(Model.ProductId == (int)LOS.Common.Extensions.EnumProductCredit.MotorCreditType_CC
                ||Model.ProductId == (int)LOS.Common.Extensions.EnumProductCredit.MotorCreditType_KCC
                ||Model.ProductId == (int)LOS.Common.Extensions.EnumProductCredit.MotorCreditType_KGT)
                {
                    <div class="col-md-12 col-sm-12">
                    <div class="row">
                        <span class="col-md-2 col-sm-12 col-form-label">LTV:</span>
                        <span class="col-md-10 col-sm-12 col-form-label fontWeight">
                            @(Model.Ltv.GetValueOrDefault(0) > 0 ? Model.Ltv + "%" : "")
                        </span>
                    </div>
                </div>
                }                
            </div>
        </div>
    </div>
</div>