﻿@model LOS.DAL.DTOs.LoanBriefForDetail
@{
    var CheckLoanCreditInformation = Model.CheckLoanInformation != null ? Model.CheckLoanInformation.Where(x => x.DocumentTypeId == (int)LOS.Common.Extensions.EnumCheckLoanInformation.CheckLoanCreditInformation).FirstOrDefault() : null;
    var user = ViewBag.User as LOS.DAL.DTOs.UserDetail;
    var loanAmountReceived = Model.LoanAmount.Value;
    var totalFeeInsurence = 0M;
}
@using LOS.Common.Extensions;
<div class="m-section__content">
    <div style="margin-bottom: 5px; font-weight:bold">
        <span class="title-uppercase">
            Khoản vay
        </span>
        <i class="la la-angle-double-right" style="font-size: 15px;"></i>
        @if (!string.IsNullOrEmpty(Model.EsignLenderContract))
        {
            <a target="_blank" style="color: blue; font-style: italic; text-decoration: underline; font-size: 15px; cursor: pointer;" href="@Model.EsignLenderContract">Xem hợp đồng điện tử của Lender</a>
        }
        @if (user.GroupId == LOS.Common.Extensions.EnumGroupUser.StaffHub.GetHashCode() || user.GroupId == LOS.Common.Extensions.EnumGroupUser.ManagerHub.GetHashCode()
|| user.GroupId == LOS.Common.Extensions.EnumGroupUser.ApproveEmp.GetHashCode() || user.GroupId == LOS.Common.Extensions.EnumGroupUser.ApproveLeader.GetHashCode())
        {
            <div style="width: 50%; float: right; text-align: right;">
                <label class="m-checkbox m-checkbox--bold m-checkbox--state-success" style="padding-right:50px;">
                    <input type="radio" @(CheckLoanCreditInformation != null && CheckLoanCreditInformation.ResultCheck == true ? "checked=\"checked\"" : "") attr-doctype="@EnumCheckLoanInformation.CheckLoanCreditInformation.GetHashCode()" attr-description="@Description.GetDescription(EnumCheckLoanInformation.CheckLoanCreditInformation)" name="CheckLoanCreditInformation" value="true">
                    Đúng
                    <span></span>
                </label>
                <label class="m-checkbox m-checkbox--bold m-checkbox--state-brand">
                    <input type="radio" @(CheckLoanCreditInformation != null && CheckLoanCreditInformation.ResultCheck == false ? "checked=\"checked\"" : "") attr-doctype="@EnumCheckLoanInformation.CheckLoanCreditInformation.GetHashCode()" attr-description="@Description.GetDescription(EnumCheckLoanInformation.CheckLoanCreditInformation)" name="CheckLoanCreditInformation" value="false">
                    Sai
                    <span></span>
                </label>
            </div>
        }

    </div>
    <div data-code-preview="true" data-code-html="true" data-code-js="false">
        <div class="custom-m-boder-box">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="row">
                        <span class="col-md-6 col-sm-12 col-form-label">Tiền đại lý cho vay:</span>
                        <span class="col-md-6 col-sm-12 col-form-label fontWeight required-detail">
                            @(Model.LoanAmount.HasValue ? Model.LoanAmount.Value.ToString("##,#") : "0") VNĐ
                        </span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="row">
                        <span class="col-md-6 col-sm-12 col-form-label">Thời gian vay:</span>
                        <span class="col-md-6 col-sm-12 col-form-label fontWeight required-detail">
                            @(Model.LoanTime) tháng
                        </span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="row">
                        <span class="col-md-6 col-sm-12 col-form-label">Số kỳ trả:</span>
                        <span class="col-md-6 col-sm-12 col-form-label fontWeight required-detail">
                            @Model.LoanTime kỳ
                        </span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="row">
                        <span class="col-md-6 col-sm-12 col-form-label">Chu kỳ đóng lãi:</span>
                        <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                            Hàng tháng
                        </span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="row">
                        <span class="col-md-6 col-sm-12 col-form-label">Ngày đăng ký:</span>
                        <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                            @(Model.CreatedTime != null ? Model.CreatedTime.Value.ToString("dd/MM/yyyy") : "")
                        </span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="row">
                        <span class="col-md-6 col-sm-12 col-form-label">
                            Ngày tất toán: <br />
                            <span style="font-size: 10px; color: #ADB0C2;">
                                (Dự kiến)
                            </span>
                        </span>
                        <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                            @(Model.ToDate != null ? Model.ToDate.Value.ToString("dd/MM/yyyy") : "")
                        </span>
                    </div>
                </div>
                @if ((Model.Status == LOS.Common.Extensions.EnumLoanStatus.DISBURSED.GetHashCode() || Model.Status == LOS.Common.Extensions.EnumLoanStatus.FINISH.GetHashCode()) && Model.LoanbriefLender != null)
                {
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="row">
                            <span class="col-md-6 col-sm-12 col-form-label">Mã đơn sau GN:</span>
                            <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                                @(Model.CodeId != null ? "TC-" + Model.CodeId : "")
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="row">
                            <span class="col-md-6 col-sm-12 col-form-label">Nhà đầu tư:</span>
                            <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                                @(Model.LenderName != null ? Model.LenderName : "")
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="row">
                            <span class="col-md-6 col-sm-12 col-form-label">Họ tên Nhà đầu tư:</span>
                            <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                                @(Model.LoanbriefLender.FullName != null ? Model.LoanbriefLender.FullName : "")
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="row">
                            <span class="col-md-6 col-sm-12 col-form-label">CMT nhà đầu tư:</span>
                            <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                                @(Model.LoanbriefLender.NationalCard != null ? Model.LoanbriefLender.NationalCard : "")
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="row">
                            <span class="col-md-6 col-sm-12 col-form-label">Tiền khách hàng nhận:</span>
                            <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                                @if (Model.BuyInsurenceCustomer == true || (Model.LoanBriefProperty != null && Model.LoanBriefProperty.BuyInsuranceProperty == true))
                                {
                                    loanAmountReceived = Model.LoanAmount.Value;
                                    if (Model.BuyInsurenceCustomer == true)
                                    {
                                        loanAmountReceived -= Model.FeeInsuranceOfCustomer.GetValueOrDefault(0);
                                    }
                                    if (Model.LoanBriefProperty != null && Model.LoanBriefProperty.BuyInsuranceProperty == true)
                                    {
                                        loanAmountReceived -= Model.FeeInsuranceOfProperty.GetValueOrDefault(0);
                                    }
                                }
                                @(loanAmountReceived.ToString("#,##")) VNĐ
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="row">
                            <span class="col-md-6 col-sm-12 col-form-label">Tổng phí bảo hiểm:</span>
                            <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                                @if (Model.BuyInsurenceCustomer == true || (Model.LoanBriefProperty != null && Model.LoanBriefProperty.BuyInsuranceProperty == true))
                                {
                                    if (Model.BuyInsurenceCustomer == true)
                                    {
                                        totalFeeInsurence += Model.FeeInsuranceOfCustomer.GetValueOrDefault(0);
                                    }
                                    if (Model.LoanBriefProperty != null && Model.LoanBriefProperty.BuyInsuranceProperty == true)
                                    {
                                        totalFeeInsurence += Model.FeeInsuranceOfProperty.GetValueOrDefault(0);
                                    }
                                }
                                @(totalFeeInsurence.ToString("#,##")) VNĐ
                            </span>
                        </div>
                    </div>
                }
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="row">
                        <span class="col-md-6 col-sm-12 col-form-label">Phí bảo hiểm sức khỏe:</span>
                        @if (Model.BuyInsurenceCustomer == true)
                        {
                            if ((Model.Status == LOS.Common.Extensions.EnumLoanStatus.DISBURSED.GetHashCode()
                                 || Model.Status == LOS.Common.Extensions.EnumLoanStatus.FINISH.GetHashCode()))
                            {
                                <span class="col-md-6 col-sm-12 col-form-label fontWeight">@Model.FeeInsuranceOfCustomer.GetValueOrDefault(0).ToString("#,##") VNĐ</span>
                            }
                            else
                            {
                                <span class="col-md-6 col-sm-12 col-form-label fontWeight" id="FeeInsurrance">
                                </span>
                            }
                        }
                        else
                        {
                            <span>0</span>
                        }
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="row">
                        <span class="col-md-6 col-sm-12 col-form-label">
                            Lãi & phí trả hàng tháng: <br />
                            <span style="font-size: 10px; color: #ADB0C2;">
                                (K/Tr/Ngày)
                            </span>
                        </span>
                        <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                            @(Model.RateMoney.HasValue ? Model.RateMoney.Value.ToString("##,#") : "0") VNĐ
                        </span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="row">
                        <span class="col-md-6 col-sm-12 col-form-label">Lãi & Phí trả hàng kỳ:</span>
                        <span class="col-md-6 col-sm-12 col-form-label fontWeight required-detail" id="_totalMoneyNeedPayment">
                        </span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="row">
                        <span class="col-md-6 col-sm-12 col-form-label">Bảo hiểm sức khỏe:</span>
                        <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                            @(Html.Raw(Model.BuyInsurenceCustomer == true ? "Có mua" : "<p style='color: red;'>Không mua</p>"))
                        </span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="row">
                        <span class="col-md-6 col-sm-12 col-form-label">Bảo hiểm vật chất:</span>
                        <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                            @(Html.Raw(Model.LoanBriefProperty != null && Model.LoanBriefProperty.BuyInsuranceProperty == true ? "Có mua" : "<p style='color: red;'>Không mua</p>"))
                        </span>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="row">
                        <span class="col-md-6 col-sm-12 col-form-label">Phí bảo hiểm vật chất:</span>
                        <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                            @if (Model.LoanBriefProperty != null && Model.LoanBriefProperty.BuyInsuranceProperty == true)
                            {

                                if (Model.Status == LOS.Common.Extensions.EnumLoanStatus.DISBURSED.GetHashCode()
                                     || Model.Status == LOS.Common.Extensions.EnumLoanStatus.FINISH.GetHashCode())
                                {
                                    <span>@Model.FeeInsuranceOfProperty.GetValueOrDefault(0).ToString("#,##") VNĐ</span>
                                }
                                else
                                {
                                    <span id="FeeInsurranceProperty"></span>
                                }
                            }
                            else
                            {
                                <span>0</span>
                            }
                        </span>
                    </div>
                </div>

                @if ((Model.Status == LOS.Common.Extensions.EnumLoanStatus.DISBURSED.GetHashCode()
                    || Model.Status == LOS.Common.Extensions.EnumLoanStatus.FINISH.GetHashCode()) && Model.LenderRate != null)
                {
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="row">
                            <span class="col-md-6 col-sm-12 col-form-label">Lãi suất Lender:</span>
                            <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                                @(Model.LenderRate) %/năm
                            </span>
                        </div>
                    </div>

                }

            </div>
        </div>
    </div>
</div>