﻿@using LOS.WebApp.Models.Ekyc;
@model LOS.DAL.DTOs.LoanBriefForDetail
@{
    Layout = null;
    var lst = ViewBag.LstCancelMomo as List<LOS.DAL.DTOs.LoanCancelMomo>;
    var i = 1;
}
<style>
    .td-bold {
        font-weight: 700;
    }

    .th-color {
        color: white;
        background: rgb(108, 114, 147) !important;
    }
</style>
<div class="m-section__content" style="padding-top: 0px;">
    <div style="margin-bottom: 5px; font-weight:bold">
        <span class="title-uppercase">
            Đơn bị hủy bởi Momo
        </span>
        <i class="la la-angle-double-right" style="font-size: 15px;"></i>
    </div>
    <div class="m-section__content">
        <table class="table table-striped m-table table-customer-mobile">
            <thead>
                <tr class="th-color">
                    <th></th>
                    <th>Mã HĐ</th>
                    <th>TÊN KHÁCH HÀNG</th>
                    <th>NGÀY SINH</th>
                    <th>CMND/CCCD</th>
                    <th>SĐT</th>
                    <th>SỐ TIỀN</th>
                    <th>NGÀY TẠO</th>
                    <th>NGÀY HỦY</th>
                </tr>
            </thead>
            <tbody>
                @if (lst != null && lst.Count > 0)
                {
                    
                    foreach (var item in lst)
                    {
                <tr>
                    <td>@i</td>
                    <td class="td-bold">HĐ-@item.LoanBriefId</td>
                    <td class="td-bold">@item.FullName</td>
                    <td>@(item.Dob != null ? item.Dob.Value.ToString("dd/MM/yyyy") : "")</td>
                    <td>
                        @(item.NationalCard != null ? item.NationalCard : "")
                    </td>
                    <td>
                        @LOS.WebApp.Helpers.Ultility.HidePhone(item.Phone)
                    </td>
                    <td>
                        @(item.LoanAmount.HasValue ? item.LoanAmount.Value.ToString("##,#") : "0") VNĐ
                    </td>
                    <td>@(item.Dob != null ? item.CreatedTime.Value.ToString("dd/MM/yyyy") : "")</td>
                    <td>@(item.Dob != null ? item.LoanBriefCancelAt.Value.ToString("dd/MM/yyyy") : "")</td>
                </tr>
                        i++;
                    }
                }

            </tbody>
        </table>
    </div>

</div>