﻿@model LOS.DAL.DTOs.LoanBriefForDetail
@{
    var CheckMotobikeInformation = Model.CheckLoanInformation != null ? Model.CheckLoanInformation.Where(x => x.DocumentTypeId == (int)LOS.Common.Extensions.EnumCheckLoanInformation.CheckMotobikeInformation).FirstOrDefault() : null;
    var user = ViewBag.User as LOS.DAL.DTOs.UserDetail;
}
@using LOS.Common.Extensions;
<div class="m-section__content">
    <div style="margin-bottom: 5px; font-weight:bold">
        <span class="title-uppercase">
            Tài sản
        </span>
        <i class="la la-angle-double-right" style="font-size: 15px;"></i>
        @if (user.GroupId == LOS.Common.Extensions.EnumGroupUser.StaffHub.GetHashCode() || user.GroupId == LOS.Common.Extensions.EnumGroupUser.ManagerHub.GetHashCode()
        || user.GroupId == LOS.Common.Extensions.EnumGroupUser.ApproveEmp.GetHashCode() || user.GroupId == LOS.Common.Extensions.EnumGroupUser.ApproveLeader.GetHashCode())
        {
            <div style="width: 50%; float: right; text-align: right;">
                <label class="m-checkbox m-checkbox--bold m-checkbox--state-success" style="padding-right:50px;">
                    <input type="radio" @(CheckMotobikeInformation != null && CheckMotobikeInformation.ResultCheck == true ? "checked=\"checked\"" : "") attr-doctype="@EnumCheckLoanInformation.CheckMotobikeInformation.GetHashCode()" attr-description="@Description.GetDescription(EnumCheckLoanInformation.CheckMotobikeInformation)" name="CheckMotobikeInformation" value="true">
                    Đúng
                    <span></span>
                </label>
                <label class="m-checkbox m-checkbox--bold m-checkbox--state-brand">
                    <input type="radio" @(CheckMotobikeInformation != null && CheckMotobikeInformation.ResultCheck == false ? "checked=\"checked\"" : "") attr-doctype="@EnumCheckLoanInformation.CheckMotobikeInformation.GetHashCode()" attr-description="@Description.GetDescription(EnumCheckLoanInformation.CheckMotobikeInformation)" name="CheckMotobikeInformation" value="false">
                    Sai
                    <span></span>
                </label>
            </div>
        }

    </div>
    <div data-code-preview="true" data-code-html="true" data-code-js="false">
        <div class="custom-m-boder-box">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="row">
                        <span class="col-md-6 col-sm-12 col-form-label">Hãng xe:</span>
                        <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                            @if (Model.ProductId == (int)LOS.Common.Extensions.EnumProductCredit.OtoCreditType_CC
                            || Model.ProductId == (int)LOS.Common.Extensions.EnumProductCredit.CamotoCreditType
                            || Model.ProductId == (int)LOS.Common.Extensions.EnumProductCredit.OtoCreditType_KCC)
                            {
                                if (Model.LoanBriefProperty != null && !string.IsNullOrEmpty(Model.LoanBriefProperty.CarManufacturer))
                                {
                                    @Model.LoanBriefProperty.CarManufacturer
                                }
                            }
                            else
                            {
                                if (Model.LoanBriefProperty != null && !string.IsNullOrEmpty(Model.LoanBriefProperty.BrandName))
                                {
                                    @Model.LoanBriefProperty.BrandName
                                }
                            }
                        </span>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="row">
                        <span class="col-md-6 col-sm-12 col-form-label">Biển số xe:</span>
                        <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                            @if (Model.ProductId == (int)LOS.Common.Extensions.EnumProductCredit.OtoCreditType_CC || Model.ProductId == (int)LOS.Common.Extensions.EnumProductCredit.CamotoCreditType
                            || Model.ProductId == (int)LOS.Common.Extensions.EnumProductCredit.OtoCreditType_KCC)
                            {
                                if (Model.LoanBriefProperty != null && !string.IsNullOrEmpty(Model.LoanBriefProperty.PlateNumberCar))
                                {
                                    @Model.LoanBriefProperty.PlateNumberCar
                                }
                            }
                            else
                            {
                                if (Model.LoanBriefProperty != null && Model.LoanBriefProperty.PlateNumber != null)
                                {
                                    @Model.LoanBriefProperty.PlateNumber
                                }
                            }
                        </span>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="row">
                        <span class="col-md-6 col-sm-12 col-form-label">Giá trước thẩm định:</span>
                        <span class="col-md-6 col-sm-12 col-form-label fontWeight required-detail">
                            @if (Model.LoanAmountExpertiseAi > 0)
                            {
                                @(Model.LoanAmountExpertiseAi.Value.ToString("##,#") + " VNĐ")
                            }
                            else if (Model.LoanAmountExpertise > 0)
                            {
                                @(Model.LoanAmountExpertise.Value.ToString("##,#") + " VNĐ")
                            }
                            else
                            {
                                @("0 VNĐ")
                            }
                        </span>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="row">
                        <span class="col-md-6 col-sm-12 col-form-label">Tên xe:</span>
                        <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                            @if (Model.ProductId == (int)LOS.Common.Extensions.EnumProductCredit.OtoCreditType_CC || Model.ProductId == (int)LOS.Common.Extensions.EnumProductCredit.CamotoCreditType
                            || Model.ProductId == (int)LOS.Common.Extensions.EnumProductCredit.OtoCreditType_KCC)
                            {
                                if (Model.LoanBriefProperty != null && !string.IsNullOrEmpty(Model.LoanBriefProperty.CarName))
                                {
                                    @Model.LoanBriefProperty.CarName
                                }
                            }
                            else
                            {
                                if (Model.LoanBriefProperty != null && !string.IsNullOrEmpty(Model.LoanBriefProperty.ProductFullName))
                                {
                                    @Model.LoanBriefProperty.ProductFullName
                                }
                            }
                        </span>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="row">
                        <span class="col-md-6 col-sm-12 col-form-label">Xe gắn định vị:</span>
                        <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                            @(Model.IsLocate == true ? "Có gắn" : "Không gắn")
                        </span>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="row">
                        <span class="col-md-6 col-sm-12 col-form-label">Giá sau thẩm định:</span>
                        <span class="col-md-6 col-sm-12 col-form-label fontWeight required-detail">
                            @if (Model.LoanAmountExpertiseLast > 0)
                            {
                                @(Model.LoanAmountExpertiseLast.Value.ToString("##,#") + " VNĐ")
                            }
                            else
                            {
                                @("0 VNĐ")
                            }
                        </span>
                    </div>
                </div>
                @if (Model.ProductId != (int)LOS.Common.Extensions.EnumProductCredit.OtoCreditType_CC && Model.ProductId != (int)LOS.Common.Extensions.EnumProductCredit.CamotoCreditType
                && Model.ProductId != (int)LOS.Common.Extensions.EnumProductCredit.OtoCreditType_KCC)
                {
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="row">
                            <span class="col-md-6 col-sm-12 col-form-label">Họ tên chủ xe:</span>
                            <span class="col-md-6 col-sm-12 col-form-label fontWeight">

                                @if (Model.LoanBriefProperty != null && !string.IsNullOrEmpty(Model.LoanBriefProperty.OwnerFullName))
                                {
                                    @Model.LoanBriefProperty.OwnerFullName
                                }
                            </span>
                        </div>
                    </div>

                }

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="row">
                        <span class="col-md-6 col-sm-12 col-form-label">Số khung:</span>
                        <span class="col-md-6 col-sm-12 col-form-label fontWeight required-detail">
                            @if (Model.ProductId == (int)LOS.Common.Extensions.EnumProductCredit.OtoCreditType_CC || Model.ProductId == (int)LOS.Common.Extensions.EnumProductCredit.CamotoCreditType
                            || Model.ProductId == (int)LOS.Common.Extensions.EnumProductCredit.OtoCreditType_KCC)
                            {
                                if (Model.LoanBriefProperty != null && !string.IsNullOrEmpty(Model.LoanBriefProperty.Chassis))
                                {
                                    @Model.LoanBriefProperty.Chassis
                                }
                            }
                            else
                            {
                                if (Model.LoanBriefProperty != null && Model.LoanBriefProperty.Chassis != null)
                                {
                                    @Model.LoanBriefProperty.Chassis
                                }
                            }
                        </span>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="row">
                        <span class="col-md-6 col-sm-12 col-form-label">Số máy:</span>
                        <span class="col-md-6 col-sm-12 col-form-label fontWeight required-detail">
                            @if (Model.ProductId == (int)LOS.Common.Extensions.EnumProductCredit.OtoCreditType_CC || Model.ProductId == (int)LOS.Common.Extensions.EnumProductCredit.CamotoCreditType
                            || Model.ProductId == (int)LOS.Common.Extensions.EnumProductCredit.OtoCreditType_KCC)
                            {
                                if (Model.LoanBriefProperty != null && !string.IsNullOrEmpty(Model.LoanBriefProperty.Engine))
                                {
                                    @Model.LoanBriefProperty.Engine
                                }
                            }
                            else
                            {
                                if (Model.LoanBriefProperty != null && Model.LoanBriefProperty.Engine != null)
                                {
                                    @Model.LoanBriefProperty.Engine
                                }
                            }
                        </span>
                    </div>
                </div>

                @if (Model.ProductId != (int)LOS.Common.Extensions.EnumProductCredit.OtoCreditType_CC && Model.ProductId != (int)LOS.Common.Extensions.EnumProductCredit.CamotoCreditType
                && Model.ProductId != (int)LOS.Common.Extensions.EnumProductCredit.OtoCreditType_KCC)
                {
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="row">
                            <span class="col-md-6 col-sm-12 col-form-label">Số đăng ký xe:</span>
                            <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                                @(Model.LoanBriefProperty != null && Model.LoanBriefProperty.MotobikeCertificateNumber != null ? Model.LoanBriefProperty.MotobikeCertificateNumber : "")
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="row">
                            <span class="col-md-6 col-sm-12 col-form-label">Ngày đăng ký xe:</span>
                            <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                                @(Model.LoanBriefProperty != null && Model.LoanBriefProperty.MotobikeCertificateDate != null ? Model.LoanBriefProperty.MotobikeCertificateDate : "")
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="row">
                            <span class="col-md-6 col-sm-12 col-form-label">Nơi cấp đăng ký xe:</span>
                            <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                                @(Model.LoanBriefProperty != null && Model.LoanBriefProperty.MotobikeCertificateAddress != null ? Model.LoanBriefProperty.MotobikeCertificateAddress : "")
                            </span>
                        </div>
                    </div>
                }


                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="row">
                        <span class="col-md-6 col-sm-12 col-form-label">Thu đăng ký xe sau:</span>
                        <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                            @(Model.LoanBriefProperty != null && Model.LoanBriefProperty.PostRegistration == true ? "Có" : "Không")
                        </span>
                    </div>
                </div>

                @if (Model.ProductId == (int)LOS.Common.Extensions.EnumProductCredit.OtoCreditType_CC || Model.ProductId == (int)LOS.Common.Extensions.EnumProductCredit.CamotoCreditType
                || Model.ProductId == (int)LOS.Common.Extensions.EnumProductCredit.OtoCreditType_KCC)
                {
                    <div class="col-lg-8 col-md-6 col-sm-12">
                        <div class="row">
                            <span class="col-md-3 col-sm-12 col-form-label">Mô tả:</span>
                            <span class="col-md-9 col-sm-12 col-form-label fontWeight">
                                @(Model.LoanBriefProperty != null && Model.LoanBriefProperty.Description != null ? Model.LoanBriefProperty.Description : "")
                            </span>
                        </div>
                    </div>
                }
                @if (Model.TransactionState != null)
                {
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="row">
                            <span class="col-md-6 col-sm-12 col-form-label">Trạng thái giao dịch đảm bảo:</span>
                            <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                                @if (user.GroupId == (int)EnumGroupUser.ApproveEmp || user.GroupId == (int)EnumGroupUser.ApproveLeader
                               || user.GroupId == (int)EnumGroupUser.Admin)
                                {
                                    if (Model.TransactionState == 0)
                                    {
                                        <a style="cursor: pointer" onclick="DetailModel.CheckStatusTransactionSecured('@Model.LoanBriefId')"><i class="fa fa-refresh" style="color: red; margin-top: 5px; margin-left: 8px;"></i></a>
                                    }
                                    else
                                    {
                                        if (Model.TransactionState > 0 && Enum.IsDefined(typeof(EnumTransactionState), Model.TransactionState))
                                        {
                                            <span>@LOS.Common.Helpers.ExtentionHelper.GetDescription((EnumTransactionState)Model.TransactionState)</span>
                                        }
                                    }
                                }
                                else
                                {
                                    if (Model.TransactionState > 0 && Enum.IsDefined(typeof(EnumTransactionState), Model.TransactionState))
                                    {
                                        <span>@LOS.Common.Helpers.ExtentionHelper.GetDescription((EnumTransactionState)Model.TransactionState)</span>
                                    }
                                }
                            </span>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>