﻿@using LOS.Common.Extensions;
@model LOS.DAL.DTOs.LoanBriefForDetail
@{
    var CheckPersonInfo = Model.CheckLoanInformation != null ? Model.CheckLoanInformation.Where(x => x.DocumentTypeId == (int)LOS.Common.Extensions.EnumCheckLoanInformation.CheckPersonInfo).FirstOrDefault() : null;
    var user = ViewBag.User as LOS.DAL.DTOs.UserDetail;
}
<style>
    .fontWeight {
        font-weight: 600;
    }

    .toUpper {
        text-transform: uppercase;
    }
</style>
<div class="m-section__content">
    <div style="margin-bottom: 5px; font-weight:bold">
        <span class="title-uppercase">
            Thông tin cá nhân
        </span>
        <i class="la la-angle-double-right" style="font-size: 15px;"></i>
        @if (!string.IsNullOrEmpty(Model.EsignBorrowerContract))
        {
            <a target="_blank" style="color: blue; font-style: italic; text-decoration: underline; font-size: 15px; cursor: pointer;" href="@Model.EsignBorrowerContract">Xem hợp đồng điện tử của Khách hàng</a>
        }

        @if (user.GroupId == LOS.Common.Extensions.EnumGroupUser.StaffHub.GetHashCode() || user.GroupId == LOS.Common.Extensions.EnumGroupUser.ManagerHub.GetHashCode()
|| user.GroupId == LOS.Common.Extensions.EnumGroupUser.ApproveEmp.GetHashCode() || user.GroupId == LOS.Common.Extensions.EnumGroupUser.ApproveLeader.GetHashCode())
        {
            <div style="width: 50%; float: right; text-align: right;">
                <label class="m-checkbox m-checkbox--bold m-checkbox--state-success" style="padding-right:50px;">
                    <input type="radio" @(CheckPersonInfo != null && CheckPersonInfo.ResultCheck == true ? "checked=\"checked\"" : "") attr-doctype="@EnumCheckLoanInformation.CheckPersonInfo.GetHashCode()" attr-description="@Description.GetDescription(EnumCheckLoanInformation.CheckPersonInfo)" name="CheckPersonInfo" value="true">
                    Đúng
                    <span></span>
                </label>
                <label class="m-checkbox m-checkbox--bold m-checkbox--state-brand">
                    <input type="radio" @(CheckPersonInfo != null && CheckPersonInfo.ResultCheck == false ? "checked=\"checked\"" : "") attr-doctype="@EnumCheckLoanInformation.CheckPersonInfo.GetHashCode()" attr-description="@Description.GetDescription(EnumCheckLoanInformation.CheckPersonInfo)" name="CheckPersonInfo" value="false">
                    Sai
                    <span></span>
                </label>
            </div>
        }

    </div>
    <div data-code-preview="true" data-code-html="true" data-code-js="false">
        <div class="custom-m-boder-box">
            <input type="hidden" name="Customer.CustomerId" value="@Model.CustomerId" />
            <div class="row">
                @if (Model.TypeRemarketing == (int)LOS.Common.Extensions.EnumTypeRemarketing.IsRemarketing && Model.ReMarketingLoanBriefId > 0)
                {
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="row">
                            <span class="col-md-2 col-sm-12 col-form-label">ReMarketing: </span>
                            <span class="col-md-10 col-sm-12 col-form-label fontWeight">
                                @(string.Format("HĐ-{0}", Model.ReMarketingLoanBriefId))
                            </span>
                        </div>
                    </div>
                }

                else if (Model.TypeRemarketing == (int)LOS.Common.Extensions.EnumTypeRemarketing.IsTopUp && Model.ReMarketingLoanBriefId > 0)
                {
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="row">
                            <span class="col-md-2 col-sm-12 col-form-label">Topup: </span>
                            <span class="col-md-10 col-sm-12 col-form-label fontWeight">
                                @(string.Format("HĐ-{0}", Model.ReMarketingLoanBriefId))
                            </span>
                        </div>
                    </div>
                }

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="row">
                        <span class="col-md-6 col-sm-12 col-form-label">Nguồn đơn:</span>
                        <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                            @Html.Raw(Model.ListPlatformType.Where(x => x.Id == Model.PlatformType).FirstOrDefault() != null ? Model.ListPlatformType.Where(x => x.Id == Model.PlatformType).FirstOrDefault().Name : "")
                        </span>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="row">
                        <span class="col-md-6 col-sm-12 col-form-label">Loại đơn: </span>
                        <span class="col-md-6 col-sm-12 col-form-label fontWeight toUpper">
                            @(Model.TypeLoanBrief.HasValue ? LOS.WebApp.Views.LoanBrief.Detail.Description.GetDescription((LOS.WebApp.Views.LoanBrief.Detail.Description.TypeLoanBrief)Model.TypeLoanBrief) : "Cá nhân")
                        </span>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="row">
                        <span class="col-md-6 col-sm-12 col-form-label">Số lần gọi: </span>
                        <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                            @(Model.CountCall != null ? Model.CountCall.ToString() : "0")
                        </span>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="row">
                        <span class="col-md-6 col-sm-12 col-form-label">
                            Họ tên:
                        </span>
                        <div class="col-md-6 col-sm-12 col-form-label fontWeight">
                            <span class="fontWeight"> @Model.FullName</span>
                            <br /><p style="color: red;font-style: italic;font-size: 12px;" id="_result_ekyc_fullname"></p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="row">
                        <span class="col-md-6 col-sm-12 col-form-label">
                            Số điện thoại:
                        </span>
                        <div class="col-md-6 col-sm-12">
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-form-label">
                                    @if (ViewBag.GroupId == LOS.Common.Extensions.EnumGroupUser.ManagerTelesales.GetHashCode()
                         || ViewBag.GroupId == LOS.Common.Extensions.EnumGroupUser.ManagerHub.GetHashCode()
                         || ViewBag.GroupId == LOS.Common.Extensions.EnumGroupUser.BOD.GetHashCode())
                                    {
                                        <span class="fontWeight">@Model.Phone</span>
                                    }
                                    else
                                    {
                                        <span class="fontWeight">@LOS.WebApp.Helpers.Ultility.HidePhone(Model.Phone)</span>
                                    }
                                </div>
                                <div class="col-md-6 col-sm-12 m--padding-top-5">
                                    <a style="cursor: pointer" data-toggle="modal" href="#modalCheckPhone" onclick="DetailModel.CheckPhoneDetail('@Model.LoanBriefId',@((int)TypePhone.PhoneLoanbrief))"><i class="fa fa-warning" style="color: red;margin-top: 5px;"></i></a>
                                    @if (Model.TypeServiceCall == 1)
                                    {
                                        <a href="javascript:;" onclick="CareSoftModule.CallCareSoft(@Model.LoanBriefId)">
                                            <img style="margin-top: -15%;" src="~/img/red_phone.png" width="30" height="30" title="Gọi ngay" />
                                        </a>
                                    }
                                    else if (Model.TypeServiceCall == 2)
                                    {
                                        <a href="javascript:;" onclick="finesseC2CModule.ClickToCall('@Model.Phone',@Model.LoanBriefId)">
                                            <img style="margin-top: -15%;" src="~/img/red_phone.png" width="30" height="30" title="Gọi ngay" />
                                        </a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="row">
                        <span class="col-md-6 col-sm-12 col-form-label">
                            Số điện thoại khác:
                        </span>
                        <div class="col-md-6 col-sm-12">
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-form-label">
                                    <span class="fontWeight">@(Model.PhoneOther != null ? Model.PhoneOther : "")</span>
                                </div>
                                <div class="col-md-6 col-sm-12 m--padding-top-5">
                                    @if (!string.IsNullOrEmpty(Model.PhoneOther))
                                    {
                                        <a style="cursor: pointer" data-toggle="modal" href="#modalCheckPhone" onclick="DetailModel.CheckPhoneDetail('@Model.LoanBriefId',@((int)TypePhone.PhoneOther))"><i class="fa fa-warning" style="color: red;margin-top: 5px;"></i></a>
                                        @if (Model.TypeServiceCall == 1)
                                        {
                                            <a href="javascript:;" onclick="CareSoftModule.CallCareSoft(@Model.LoanBriefId, 0, @((int)TypePhone.PhoneOther))">
                                                <img style="margin-top: -15%;" src="~/img/red_phone.png" width="30" height="30" title="Gọi ngay" />
                                            </a>
                                        }
                                        else if (Model.TypeServiceCall == 2)
                                        {
                                            <a href="javascript:;" onclick="finesseC2CModule.ClickToCall('@Model.PhoneOther',@Model.LoanBriefId)">
                                                <img style="margin-top: -15%;" src="~/img/red_phone.png" width="30" height="30" title="Gọi ngay" />
                                            </a>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="row">
                        <span class="col-md-6 col-sm-12 col-form-label">  Số CMND 1: </span>
                        <div class="col-md-6 col-sm-12 col-form-label">
                            <span class="fontWeight">@(Model.NationalCard != null ? Model.NationalCard : "")</span>
                            <br /><p style="color: red;font-style: italic;font-size: 12px;" id="_result_ekyc_nationalcard"></p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="row">
                        <span class="col-md-6 col-sm-12 col-form-label">Số CMND 2: </span>
                        <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                            @(Model.NationCardPlace != null ? Model.NationCardPlace.ToString() : "")
                        </span>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="row">
                        <span class="col-md-6 col-sm-12 col-form-label">Ngày sinh: </span>
                        <div class="col-md-6 col-sm-12 col-form-label">
                            <span class="fontWeight">@(Model.Dob != null ? Model.Dob.Value.ToString("dd/MM/yyyy") : "")</span>
                            <br /><p style="color: red;font-style: italic;font-size: 12px;" id="_result_ekyc_birday"></p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="row">
                        <span class="col-md-6 col-sm-12 col-form-label">Passport: </span>
                        <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                            @(Model.Customer.Passport != null ? Model.Customer.Passport : "")
                        </span>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="row">
                        <span class="col-md-6 col-sm-12 col-form-label">Giới tính: </span>
                        <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                            @(Model.Gender != null ? LOS.WebApp.Views.LoanBrief.Detail.Description.GetDescription((LOS.WebApp.Views.LoanBrief.Detail.Description.Gender)Model.Gender) : "")
                        </span>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="row">
                        <span class="col-md-6 col-sm-12 col-form-label">Facebook: </span>
                        <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                            @if (!string.IsNullOrEmpty(Model.Customer.FacebookAddress))
                            {
                                var urlFacebook = Model.Customer.FacebookAddress;
                                if (!Model.Customer.FacebookAddress.StartsWith("http"))
                                {
                                    urlFacebook = "https://" + urlFacebook;
                                }
                                <a href="@urlFacebook" target="_blank">Link</a>
                            }
                        </span>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="row">
                        <span class="col-md-6 col-sm-12 col-form-label">Số bảo hiểm: </span>
                        <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                            @Model.Customer.InsurenceNumber
                        </span>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="row">
                        <span class="col-md-6 col-sm-12 col-form-label">Ghi chú bảo hiểm: </span>
                        <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                            @Model.Customer.InsurenceNote
                        </span>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="row">
                        <span class="col-md-6 col-sm-12 col-form-label"> Hôn nhân: </span>
                        <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                            @if (Model.Customer.IsMerried != null)
                            {
                                @LOS.WebApp.Views.LoanBrief.Detail.Description.GetDescription((LOS.WebApp.Views.LoanBrief.Detail.Description.Merried)Model.Customer.IsMerried)
                            }
                        </span>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="row">
                        <span class="col-md-6 col-sm-12 col-form-label">Con cái: </span>
                        <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                            @if (Model.Customer.NumberBaby != null)
                            {
                                @LOS.WebApp.Views.LoanBrief.Detail.Description.GetDescription((LOS.WebApp.Views.LoanBrief.Detail.Description.NumberBaby)Model.Customer.NumberBaby)
                            }
                        </span>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="row">
                        <span class="col-md-6 col-sm-12 col-form-label">Người thân sống cùng: </span>
                        <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                            @if (Model.LoanBriefResident != null && Model.LoanBriefResident.LivingWith != null)
                            {
                                @LOS.WebApp.Views.LoanBrief.Detail.Description.GetDescription((LOS.WebApp.Views.LoanBrief.Detail.Description.LivingWith)Model.LoanBriefResident.LivingWith)
                            }
                        </span>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="row">
                        <span class="col-md-6 col-sm-12 col-form-label">Sim có chính chủ: </span>
                        <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                            @(Model.IsSim != null && Model.IsSim == true ? "Chính chủ" : "Không chính chủ")
                        </span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="row">
                        <span class="col-md-6 col-sm-12 col-form-label">Email: </span>
                        <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                            @Model.Email
                        </span>
                    </div>
                </div>

                @if (Model.IsTransactionsSecured.GetValueOrDefault(false))
                {
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="row">
                            <span class="col-md-7 col-sm-12 col-form-label">Trạng thái giao dịch đảm bảo: </span>
                            <span class="col-md-5 col-sm-12 col-form-label fontWeight required-detail">
                                <lable id="txtRerultTrans">@LOS.WebApp.Views.LoanBrief.Detail.Description.GetDescription((LOS.Common.Extensions.EnumTransactionState)Model.TransactionState.GetValueOrDefault(0))</lable>
                                @if (Model.TransactionState == 0)
                                {
                                    <a style="cursor: pointer" onclick="DetailModel.CheckStatusTransactionSecured('@Model.LoanBriefId')"><i class="fa fa-refresh" style="color: red; margin-top: 5px; margin-left: 8px;"></i></a>
                                }

                            </span>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>