﻿@model LOS.DAL.DTOs.LoanBriefForDetail
@using LOS.WebApp.Services;
@inject INetworkService _networkService;
@{
    var CheckRelativesAndColleagues = Model.CheckLoanInformation != null ? Model.CheckLoanInformation.Where(x => x.DocumentTypeId == (int)LOS.Common.Extensions.EnumCheckLoanInformation.CheckRelativesAndColleagues).FirstOrDefault() : null;
    var user = ViewBag.User as LOS.DAL.DTOs.UserDetail;
    var i = 1;
}
@using LOS.Common.Extensions;
<div class="m-section__content">
    <div style="margin-bottom: 5px; font-weight:bold">
        <span class="title-uppercase">
            Người thân
        </span>
        <i class="la la-angle-double-right" style="font-size: 15px;"></i>
        @if (user.GroupId == LOS.Common.Extensions.EnumGroupUser.StaffHub.GetHashCode() || user.GroupId == LOS.Common.Extensions.EnumGroupUser.ManagerHub.GetHashCode()
 || user.GroupId == LOS.Common.Extensions.EnumGroupUser.ApproveEmp.GetHashCode() || user.GroupId == LOS.Common.Extensions.EnumGroupUser.ApproveLeader.GetHashCode())
        {
            <div style="width: 50%; float: right; text-align: right;">
                <label class="m-checkbox m-checkbox--bold m-checkbox--state-success" style="padding-right:50px;">
                    <input type="radio" @(CheckRelativesAndColleagues != null && CheckRelativesAndColleagues.ResultCheck == true ? "checked=\"checked\"" : "") attr-doctype="@EnumCheckLoanInformation.CheckRelativesAndColleagues.GetHashCode()" attr-description="@Description.GetDescription(EnumCheckLoanInformation.CheckRelativesAndColleagues)" name="CheckRelativesAndColleagues" value="true">
                    Đúng
                    <span></span>
                </label>
                <label class="m-checkbox m-checkbox--bold m-checkbox--state-brand">
                    <input type="radio" @(CheckRelativesAndColleagues != null && CheckRelativesAndColleagues.ResultCheck == false ? "checked=\"checked\"" : "") attr-doctype="@EnumCheckLoanInformation.CheckRelativesAndColleagues.GetHashCode()" attr-description="@Description.GetDescription(EnumCheckLoanInformation.CheckRelativesAndColleagues)" name="CheckRelativesAndColleagues" value="false">
                    Sai
                    <span></span>
                </label>
            </div>
        }
    </div>
    <div data-code-preview="true" data-code-html="true" data-code-js="false">
        <div class="custom-m-boder-box">
            <div class="row">
                @if (Model != null && Model.LoanBriefRelationship != null && Model.LoanBriefRelationship.Count > 0)
                {
                    foreach (var item in Model.LoanBriefRelationship)
                    {

                        var RelationType = (Model.ListRelativeFamilys.Where(x => x.Id == item.RelationshipType).FirstOrDefault());
                        <div class="col-md-12">
                            <label class="col-form-label" style="font-weight: bold; float: left;text-align:left;">
                                Người thân @(i++)
                            </label>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="row">
                                <span class="col-md-6 col-sm-12 col-form-label">Mối quan hệ:</span>
                                <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                                    @(RelationType != null ? RelationType.Name : "")
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="row">
                                <span class="col-md-6 col-sm-12 col-form-label">Họ tên:</span>
                                <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                                    @(item.FullName ?? "")
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="row">
                                <span class="col-md-6 col-sm-12 col-form-label">Số ĐT người thân:</span>
                                <div class="col-md-6 col-sm-12">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-12 col-form-label">
                                            <span class="fontWeight">@(item.Phone ?? "")</span>
                                        </div>
                                        <div class="col-md-6 col-sm-12 m--padding-top-5">
                                            @if (!string.IsNullOrEmpty(item.Phone))
                                            {
                                                <a style="cursor: pointer" data-toggle="modal" href="#modalCheckPhone" onclick="DetailModel.CheckPhoneDetail('@item.Id',@((int)TypePhone.PhoneRelationship))"><i class="fa fa-warning" style="color: red;margin-top: 5px;"></i></a>
                                                if (Model.TypeServiceCall == (int)LOS.Common.Extensions.EnumTypeCallService.Caresoft)
                                                {
                                                    <a href="javascript:;" onclick="CareSoftModule.CallCareSoft(@Model.LoanBriefId, @item.Id)">
                                                        <img style="margin-top: -15%;" src="~/img/red_phone.png" width="30" height="30" title="Gọi ngay" />
                                                    </a>
                                                }
                                                else if (Model.TypeServiceCall == (int)LOS.Common.Extensions.EnumTypeCallService.Metech)
                                                {
                                                    if (user.GroupId == LOS.Common.Extensions.EnumGroupUser.ManagerHub.GetHashCode()
                                                        || user.GroupId == LOS.Common.Extensions.EnumGroupUser.StaffHub.GetHashCode())
                                                    {
                                                        <a href="javascript:;" onclick="finesseC2CModule.ClickToCall('@((int)FormatCallCisco.Format_1 + item.Phone)',@Model.LoanBriefId)">
                                                            <img style="margin-top: -15%;" src="~/img/red_phone.png" width="30" height="30" title="Gọi ngay" />
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <a href="javascript:;" onclick="finesseC2CModule.ClickToCall('@item.Phone',@Model.LoanBriefId)">
                                                            <img style="margin-top: -15%;" src="~/img/red_phone.png" width="30" height="30" title="Gọi ngay" />
                                                        </a>
                                                    }
                                                }
                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12">
                            <div class="row">
                                <span class="col-md-2 col-sm-12 col-form-label">Địa chỉ cư chú người thân:</span>
                                <span class="col-md-10 col-sm-12 col-form-label fontWeight">
                                    @(item.Address ?? "")
                                </span>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
