﻿@model LOS.DAL.DTOs.LoanBriefForDetail
<div class="m-section__content">
    <div style="margin-bottom: 5px;margin-top: 50px;font-weight: bold;">
        <span style="color: #6C7293;font-size: 12pt;">
            Hẹn giờ
        </span>
        <hr style="margin-top: 10px;" />
    </div>
    <div data-code-preview="true" data-code-html="true" data-code-js="false" style="padding-left: 18%;color: #6C7293;font-size: 12pt;">
        <div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label" style="padding-left: 8%;padding-top: 2%;">
                    Giờ hẹn:
                </label>
                <div class="col-4 padding-top">
                    <input class="form-control cus-form-control m-input ScheduleTime" id="ScheduleTimeDetail" style="border: none !important;border-bottom: 1px solid #ced4da !important;padding-left:0 !important;float:left;width:90%;">
                    <i class="fa fa-calendar" style="padding-top: 5.4%;font-size: 15pt; border-bottom: 1px solid rgba(108, 114, 147, 1)"></i>
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label" style="padding-left: 8%;">
                    Ghi chú:
                </label>
                <div class="col-8 padding-top">
                    <textarea class="form-control cus-form-control m-input" id="Comment" style="border: none !important;border-bottom: 1px solid #ced4da !important;height:28px;"></textarea>
                </div>
            </div>

            <div class="form-group m-form__group row">
                <button type="button" class="btn btn-tima" onclick="ScheduleTimeModule.ScheduleTime('@Model.LoanBriefId')" id="btnSubmit" style="width: 150px;margin-left: 18%;margin-top: 2%;">
                    Lưu
                </button>

            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        App.Datetimepicker();
    });
</script>