﻿@model LOS.DAL.DTOs.LoanBriefForDetail

<div class="m-section__content">
    <div style="margin-bottom: 5px; font-weight:bold">
        <span class="title-uppercase">
            Thông tin tài khoản VA - GPay
        </span>
        <i class="la la-angle-double-right" style="font-size: 15px;"></i>
    </div>
    <div data-code-preview="true" data-code-html="true" data-code-js="false">
        <div class="custom-m-boder-box">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="row">
                        <span class="col-md-6 col-sm-12 col-form-label">Chủ tài khoản(VA):</span>
                        <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                            @(Model.Customer != null && !string.IsNullOrEmpty(Model.Customer.VaAccountName) ? Model.Customer.VaAccountName : "")
                        </span>
                    </div>
                    <div class="row">
                        <span class="col-md-6 col-sm-12 col-form-label">Số tài khoản(VA):</span>
                        <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                            @(Model.Customer != null && !string.IsNullOrEmpty(Model.Customer.VaAccountNumber) ? Model.Customer.VaAccountNumber : "")
                        </span>
                    </div>
                    <div class="row">
                        <span class="col-md-6 col-sm-12 col-form-label">Tên ngân hàng(VA):</span>
                        <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                            @(Model.Customer != null && !string.IsNullOrEmpty(Model.Customer.VaBankName) ? Model.Customer.VaBankName : "")
                        </span>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="row">
                        <span class="col-md-6 col-sm-12 col-form-label">Chủ tài khoản(GPay):</span>
                        <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                            @(Model.Customer != null && !string.IsNullOrEmpty(Model.Customer.GpayAccountName) ? Model.Customer.GpayAccountName : "")
                        </span>
                    </div>
                    <div class="row">
                        <span class="col-md-6 col-sm-12 col-form-label">Số tài khoản(GPay):</span>
                        <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                            @(Model.Customer != null && !string.IsNullOrEmpty(Model.Customer.GpayAccountNumber) ? Model.Customer.GpayAccountNumber : "")
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
