﻿@model LOS.DAL.DTOs.LoanBriefForDetail
@{
    var CheckWork = Model.CheckLoanInformation != null ? Model.CheckLoanInformation.Where(x => x.DocumentTypeId == (int)LOS.Common.Extensions.EnumCheckLoanInformation.CheckWork).FirstOrDefault() : null;
    var user = ViewBag.User as LOS.DAL.DTOs.UserDetail;
}
@using LOS.Common.Extensions;
<div class="m-section__content">
    <div style="margin-bottom: 5px; font-weight:bold">
        <span class="title-uppercase">
            Việc làm
        </span>
        <i class="la la-angle-double-right" style="font-size: 15px;"></i>
        @if (user.GroupId == LOS.Common.Extensions.EnumGroupUser.StaffHub.GetHashCode() || user.GroupId == LOS.Common.Extensions.EnumGroupUser.ManagerHub.GetHashCode()
|| user.GroupId == LOS.Common.Extensions.EnumGroupUser.ApproveEmp.GetHashCode() || user.GroupId == LOS.Common.Extensions.EnumGroupUser.ApproveLeader.GetHashCode())
        {
            <div style="width: 50%; float: right; text-align: right;">
                <label class="m-checkbox m-checkbox--bold m-checkbox--state-success" style="padding-right:50px;">
                    <input type="radio" @(CheckWork != null && CheckWork.ResultCheck == true ? "checked=\"checked\"" : "") attr-doctype="@EnumCheckLoanInformation.CheckWork.GetHashCode()" attr-description="@Description.GetDescription(EnumCheckLoanInformation.CheckWork)" name="CheckWork" value="true">
                    Đúng
                    <span></span>
                </label>
                <label class="m-checkbox m-checkbox--bold m-checkbox--state-brand">
                    <input type="radio" @(CheckWork != null && CheckWork.ResultCheck == false ? "checked=\"checked\"" : "") attr-doctype="@EnumCheckLoanInformation.CheckWork.GetHashCode()" attr-description="@Description.GetDescription(EnumCheckLoanInformation.CheckWork)" name="CheckWork" value="false">
                    Sai
                    <span></span>
                </label>
            </div>
        }
    </div>
    <div data-code-preview="true" data-code-html="true" data-code-js="false">
        <div class="custom-m-boder-box">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="row">
                        <span class="col-md-6 col-sm-12 col-form-label">Nghề nghiệp:</span>
                        <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                            @(Model.LoanBriefJob != null && !string.IsNullOrEmpty(Model.LoanBriefJob.JobName) ? Model.LoanBriefJob.JobName : "")
                        </span>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="row">
                        <span class="col-md-6 col-sm-12 col-form-label">Ngành nghề:</span>
                        <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                            @(Model.LoanBriefJob != null && !string.IsNullOrEmpty(Model.JobDesctionName) ? Model.JobDesctionName : "")
                        </span>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="row">
                        <span class="col-md-4 col-sm-12 col-form-label">Vị trí:</span>
                        <span class="col-md-8 col-sm-12 col-form-label fontWeight">
                            @(Model.LoanBriefJob != null ? Model.LoanBriefJob.Description : "")
                        </span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="row">
                        <span class="col-md-6 col-sm-12 col-form-label">Thu nhập:</span>
                        <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                            @(Model.LoanBriefJob != null && Model.LoanBriefJob.TotalIncome.HasValue ? Model.LoanBriefJob.TotalIncome.Value.ToString("##,#") : "0")
                        </span>
                    </div>
                </div>
                @if (Model.LoanBriefJob != null)
                {
                    @if (Model.LoanBriefJob.JobId == 123)
                    {
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="row">
                                <span class="col-md-6 col-sm-12 col-form-label">Hình thức nhận lương:</span>
                                <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                                    @if (Model.LoanBriefJob != null && Model.LoanBriefJob.ImcomeType != null)
                                    {
                                        @LOS.WebApp.Views.LoanBrief.Detail.Description.GetDescription((LOS.Common.Extensions.EnumImcomeType)Model.LoanBriefJob.ImcomeType)
                                    }
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="row">
                                <span class="col-md-6 col-sm-12 col-form-label">Tham gia BHXH:</span>
                                <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                                    @(Model.LoanBriefJob.CompanyInsurance == true ? "Có tham gia" : "Không tham gia")
                                </span>
                            </div>
                        </div>
                    }
                    else if (Model.LoanBriefJob.JobId == 126)
                    {
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="row">
                                <span class="col-md-6 col-sm-12 col-form-label">Địa điểm làm việc:</span>
                                <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                                    @(Model.LoanBriefJob.WorkLocation == true ? "Cố định" : "Không cố định")

                                </span>
                            </div>
                        </div>
                    }
                    else if (Model.LoanBriefJob.JobId == 124)
                    {
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="row">
                                <span class="col-md-6 col-sm-12 col-form-label">Giấy tờ kinh doanh:</span>
                                <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                                    @(Model.LoanBriefJob.BusinessPapers == true == true ? "Có" : "Không")
                                </span>
                            </div>
                        </div>
                    }

                }
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="row">
                        <span class="col-md-6 col-sm-12 col-form-label">Số ĐT công ty:</span>
                        <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                            @(Model.LoanBriefJob != null ? Model.LoanBriefJob.CompanyPhone : "")
                        </span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="row">
                        <span class="col-md-6 col-sm-12 col-form-label">Mã số thuế Công ty:</span>
                        <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                            @(Model.LoanBriefJob != null ? Model.LoanBriefJob.CompanyTaxCode : "")
                        </span>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="row">
                        <span class="col-md-2 col-sm-12 col-form-label">Tên công ty:</span>
                        <span class="col-md-10 col-sm-12 col-form-label fontWeight">
                            @(Model.LoanBriefJob != null ? Model.LoanBriefJob.CompanyName : "")
                        </span>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="row">
                        <span class="col-md-2 col-sm-12 col-form-label">Địa chỉ:</span>
                        <span class="col-md-10 col-sm-12 col-form-label fontWeight">
                            @((Model.LoanBriefJob != null && Model.LoanBriefJob.TypeDistrict != null && !string.IsNullOrEmpty(Model.LoanBriefJob.CompanyDistrictName)) ? Description.GetDescription((TypeDistrict)Model.LoanBriefJob.TypeDistrict) + " " + Model.LoanBriefJob.CompanyDistrictName + ", " : "")
                            @((Model.LoanBriefJob != null && Model.LoanBriefJob.TypeProvince != null && !string.IsNullOrEmpty(Model.LoanBriefJob.CompanyProvinceName)) ? Description.GetDescription((TypeProvince)Model.LoanBriefJob.TypeProvince) + " " + Model.LoanBriefJob.CompanyProvinceName : "")
                        </span>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="row">
                        <span class="col-md-2 col-sm-12 col-form-label">Địa chỉ chi tiết:</span>
                        <span class="col-md-10 col-sm-12 col-form-label fontWeight">
                            @(Model.LoanBriefJob != null ? Model.LoanBriefJob.CompanyAddress : "")
                        </span>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="row">
                        <span class="col-md-2 col-sm-12 col-form-label">Tọa độ google map:</span>
                        <span class="col-md-10 col-sm-12 col-form-label fontWeight">
                            @(Model.LoanBriefJob != null ? Model.LoanBriefJob.CompanyAddressLatLng : "")
                        </span>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="row">
                        <span class="col-md-2 col-sm-12 col-form-label"> Địa chỉ google map:</span>
                        <span class="col-md-10 col-sm-12 col-form-label fontWeight">
                            @(Model.LoanBriefJob != null ? Model.LoanBriefJob.CompanyAddressGoogleMap : "")
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>