﻿
@{
    ViewData["Title"] = "DashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = ViewBag.User as LOS.DAL.DTOs.UserDetail;
}
<style>
    .highcharts-credits {
        display: none !important;
    }

    .m-portlet .m-portlet__head {
        height: 4.1em;
    }

    .m-datatable > .m-datatable__table > .m-datatable__head .m-datatable__row > .m-datatable__cell {
        background: none;
    }

    .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary,
    .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
        color: #868686;
        background: var(--primary);
    }

    .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-secondary,
    .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-secondary {
        background: var(--secondary);
        color: #6C7293;
    }

    .bootstrap-switch .bootstrap-switch-handle-off, .bootstrap-switch .bootstrap-switch-handle-on, .bootstrap-switch .bootstrap-switch-label {
        font-size: 10px;
        padding: 0px;
    }

    .bootstrap-switch.bootstrap-switch-inverse.bootstrap-switch-on .bootstrap-switch-label {
        border-radius: 0px;
    }

    .bootstrap-switch.bootstrap-switch-inverse.bootstrap-switch-off .bootstrap-switch-label {
        border-radius: 0px;
    }

    .bootstrap-switch.bootstrap-switch-inverse .bootstrap-switch-handle-off {
        border-radius: 0px;
    }

    .gach {
        width: 100%;
        height: 1px;
        background: white;
        margin-top: -30px;
    }


    .rounded-corners2 {
        width: 70px;
        height: 70px;
        background: #4d7496;
        border-radius: 50%;
        padding-top: 20px;
        border: 1px solid;
    }



    .textcall {
        padding-top: 30px;
        color: white;
    }

    .call {
        -webkit-border-radius: 35px;
        border: none;
        background: white;
        color: white;
        width: 85%
    }

    #content {
        background: #f2f2f2;
    }

    .table-footer {
        padding-bottom: 15px !important;
    }

    .icon-call {
        font-size: 35px;
        color: white
    }
</style>

<video id="my-video" autoplay style="display: none;" src="https://web1.caresoft.vn/images/320x240.ogg"></video>
<video id="peer-video" autoplay style="display: none;" src="https://web1.caresoft.vn/images/320x240.ogg"></video>

<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__body m--padding-15" style="background-color:#6C7293;">
            <disv class="row">
                <div class="col-lg-3 border-right">
                    <!--begin::Portlet-->
                    <div class="row align-items-center">
                        <div class="col-lg-4 text-white" style="font-size:12px;">
                            Trạng thái :
                        </div>
                        <div class="col-lg-8 col-md-9 col-sm-12" style="padding:0px;">
                            <input data-switch="true" type="checkbox" id="swWorking" data-inverse="true" data-on-text="Làm việc" data-off-text="Tạm nghỉ" data-on-color="brand">
                        </div>
                    </div>
                    <div class="row align-items-center m--padding-top-20">
                        <div class="col-lg-12 text-white m--padding-left-10" style="font-size:12px;">
                            <button class="call w-85" id="btnCalling" onclick="onAcceptCall();" style="cursor: pointer; padding: 0px; display: none">
                                <div class="rounded-corners2  float-left">
                                    <span><i class="fa fa-phone" style="font-size: 30px; color: white;"></i></span>
                                </div>
                                <div class="m--padding-top-25 float-left" style=" color: #4d7496; cursor: pointer;">
                                    <label class="control-label m--padding-left-15" style="font-size: 17px !important;"><b>KẾT NỐI CUỘC GỌI...</b></label>
                                </div>
                            </button>

                            <button class="call w-85" style="display:none;cursor: pointer; padding: 0px" id="btnEndCall" onclick="endCall();">
                                <div class="rounded-corners2 float-left">
                                    <span><i class="fa fa-phone" style="font-size: 30px; color: white; transform: rotate(85deg);"></i></span>
                                </div>
                                <div class="float-left" style="color: #4d7496; padding-top: 10px; padding-left: 10px; cursor: pointer;">
                                    <label class="control-label m--padding-top-15" style="font-size: 17px !important;"><b>KẾT THÚC CUỘC GỌI</b></label>
                                </div>
                            </button>
                            <div style="float: right; width: 30px; padding-top: 15px; display: none;" id="box-icon-call">
                                <i class="fa fa-angle-double-left icon-call"></i>
                            </div>
                        </div>
                    </div>
                    <!--end::Portlet-->
                </div>
                <div class="col-lg-9 hidden" id="LoanBriefContainer">
                    <div class="col-lg-5 text-white" id="callTimer" style="display:none">
                        00:00
                    </div>
                    <div class="col-lg-12" id="boxAutoLoanInfo">
                        <p style="font-size: 30px;color: white;text-align: center; padding-top: 30px;">Chờ nhận cuộc gọi</p>
                    </div>
                </div>
            </disv>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9">
            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Hẹn giờ gọi
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body" style="padding: 15px;">
                    <!--begin: Datatable Hẹn giờ gọi -->
                    <table class="m-datatable" id="dtSchedule" width="100%">
                    </table>
                    <!--end: Datatable -->
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--tab">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                Đơn đã xử lý
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div id="loanbriefHandleChart" style="height: 300px;"></div>
                </div>
            </div>
            <!--end::Portlet-->
        </div>

    </div>
</div>
<input type="hidden" id="txtPhoneAccept" value="" />
<audio id="txtAudioCallRing" loop>
    <source src="/Files/zalo_ringtone.mp3" type="audio/mpeg">
</audio>

@section Scripts
	{
    <script src="https://tongdai.tima.vn/js/embed/jssip-3.2.10.js" type="text/javascript"></script>
    <script src="https://tongdai.tima.vn/js/embed/init-3.0.7.js" type="text/javascript"></script>
    <script src="~/js/TelesaleDashboard/web.push.js"></script>
    @*<script src="https://tongdai.tima.vn/js/embed/web.push.js" type="text/javascript"></script>*@
    <script src="https://tongdai.tima.vn/js/embed/cs_const.js" type="text/javascript"></script>
    <script src="https://tongdai.tima.vn/js/embed/cs_voice.js" type="text/javascript"></script>
    <script src="~/js/TelesaleDashboard/TelesaleDashboardJS.js?v=1.1"></script>
    <script src="~/js/TelesaleDashboard/custom_telesales.js?v=1.1"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=@LOS.WebApp.Helpers.Constants.KEY_GOOGLE_MAP"></script>
    <script src="~/js/GoogleMapModule.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/CommonModalJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/lib/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <script src="~/lib/highcharts/highcharts.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            //khởi tạo caresoft
            //csInit('@user.TokenSmartDailer', 'tima');
            TelesaleDashboardJS.Init();
            TelesaleDashboardJS.ListScheduleToday();
            TelesaleDashboardJS.LoadChartToDay();
            //LoadLoanInfo('0911783954');
            //LoadScript('0911783954');
            //$('#txtPhoneAccept').val('0911783954')
        });
    </script>
}

