﻿@model LOS.WebApp.Models.UserViewModel
@{
	ViewData["Title"] = "Telesales Dashboard";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="m-content">
	<div class="m-portlet m-portlet--mobile">
		<div class="m-portlet__body m--padding-15" style="background-color:#6C7293;">
			<div class="row">
				<div class="col-lg-2 border-right">
					<!--begin::Portlet-->
					<div class="row align-items-center">
						<div class="col-lg-4 text-white" style="font-size:12px;padding-left:10px;">
							Trạng thái :
						</div>
						<div class="col-lg-8 col-md-9 col-sm-12" style="padding:0px;">
							<input data-switch="true" type="checkbox" id="swWorking" data-inverse="true" data-on-text="Làm việc" data-off-text="Tạm nghỉ" data-on-color="brand">
						</div>
					</div>
					<div class="row align-items-center m--padding-top-20">
						<div class="col-lg-12 text-white" style="font-size:12px;padding-left:10px;">
							<button type="button" class="btn m-btn--pill btn-info" style="display:none;" id="btnCall" onclick="TelesalesModule.StartCall();">
								Gọi cho khách hàng
							</button>
							<button type="button" class="btn m-btn--pill btn-success" style="display:none;" id="btnCalling">
								Đang kết nối...
							</button>
							<button type="button" class="btn m-btn--pill btn-danger" style="display:none;" id="btnEndCall" onclick="TelesalesModule.EndCall();">
								Kết thúc cuộc gọi
							</button>
							<button type="button" class="btn m-btn--pill btn-warning disabled" style="display:none;" id="btnEnd">
								Đã kết thúc cuộc gọi
							</button>
						</div>
					</div>
					<!--end::Portlet-->
				</div>
				<div class="col-lg-8 hidden" id="LoanBriefContainer" style="display:none;">
					<div class="col-lg-5 text-white" id="callTimer">
						00:00
					</div>
					<div class="col-lg-12">
						<div class="row">
							<div class="col-lg-3">
								<div class="row align-items-center border-right-black">
									<div class="col-lg-4">
										<img src="~/assets/app/media/img/users/user1.jpg" style="border-radius:50%;" width="60" />
									</div>
									<div class="col-lg-8 text-white m--padding-10">
										<span class="d-block" id="loanName"></span>
										<span class="d-block" id="loanPhone"></span>
										<span class="d-block" id="loanAddress"></span>
									</div>
								</div>
							</div>
							<div class="col-lg-3">
								<div class="row align-items-center border-right-black">
									<div class="col-lg-6 text-white m--padding-10">
										<span class="d-block" id="loanId"></span>
										<span class="d-block" id="loanShop">Credit</span>
										<span class="d-block" id="loanTime"></span>
									</div>
									<div class="col-lg-6 text-white m--padding-10">
										<span class="d-block" id="loanAmount"></span>
										<span class="d-block" id="loanProduct"></span>
									</div>
								</div>
							</div>
							<div class="col-lg-2">
								<div class="row align-items-center border-right-black">
									<div class="col-lg-12 text-white m--padding-10">
										<span class="d-block">Lịch sử cuộc gọi</span>
										<br />
										<span class="d-block" id="lastActionStatusText"></span>
									</div>
								</div>
							</div>
							<div class="col-lg-2">
								<div class="row align-items-center border-right-black">
									<div class="col-lg-12 text-white m--padding-10">
										<span class="d-block">Thông tin KH</span>
										<br />
										<span class="d-block">
											<i class="la la-edit"></i>
											<span style="text-decoration:underline;">
												<a href="javascript:;" class="text-white" onclick="TelesalesModule.ShowUpdateModal();">Sửa thông tin KH</a>
											</span>
										</span>
									</div>
								</div>
							</div>
							<div class="col-lg-2">
								<div class="row align-items-center">
									<div class="col-lg-12 text-white">
										<input type="hidden" id="loanBriefId" />
										<input type="hidden" id="loanActionId" />
										<button type="button" class="btn btn-metal m--padding-20" id="btnEndCall" onclick="TelesalesModule.FinishCall();">
											Kết thúc
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-8 align-items-center" id="NoLoanBriefContainer">
					<div class="col-lg-12 text-white">
						Không có đơn vay nào cần xử lý
					</div>
				</div>
				<div class="col-lg-2 border-left">
					<h5 style="font-weight:bold;text-decoration:underline;" class="text-white">Thời gian làm việc</h5>
					<div class="row">
						<div class="col-6 text-white">
							Thời gian làm việc
						</div>
						<div class="col-6 text-white" id="workingTime">

						</div>
					</div>
					<div class="row">
						<div class="col-6 text-white">
							Thời gian nghỉ
						</div>
						<div class="col-6 text-white" id="restTime">

						</div>
					</div>
					<div class="row">
						<div class="col-6 text-white">
							Thời gian online
						</div>
						<div class="col-6 text-white" id="onlineTime">

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4">
			<!--begin::Portlet-->
			<div class="m-portlet m-portlet--tab">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon m--hide">
								<i class="la la-gear"></i>
							</span>
							<h3 class="m-portlet__head-text">
								Tổng số cuộc gọi
							</h3>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<div id="fcCalled" style="height: 300px;"></div>
				</div>
			</div>
			<!--end::Portlet-->
		</div>
		<div class="col-lg-4">
			<!--begin::Portlet-->
			<div class="m-portlet m-portlet--tab">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon m--hide">
								<i class="la la-gear"></i>
							</span>
							<h3 class="m-portlet__head-text">
								Gói sản phẩm đã xử lý
							</h3>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<div id="fcProductTypeChart" style="height: 300px;"></div>
				</div>
			</div>
			<!--end::Portlet-->
		</div>
		<div class="col-lg-4">
			<!--begin::Portlet-->
			<div class="m-portlet m-portlet--tab">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon m--hide">
								<i class="la la-gear"></i>
							</span>
							<h3 class="m-portlet__head-text">
								Đơn đã xử lý
							</h3>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<div id="fcProcessedChart" style="height: 300px;"></div>
				</div>
			</div>
			<!--end::Portlet-->
		</div>
	</div>
	<div class="m-portlet m-portlet--mobile">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<h3 class="m-portlet__head-text">
						Danh sách cuộc gọi bị nhỡ
					</h3>
				</div>
			</div>
		</div>
		<div class="m-portlet__body">
			<!--begin: Datatable Cuộc gọi bị nhỡ -->
			<table class="m-datatable" id="dtMissCall" width="100%">		
			</table>
			<!--end: Datatable -->
		</div>
	</div>
	<div class="m-portlet m-portlet--mobile">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<h3 class="m-portlet__head-text">
						Hẹn giờ gọi
					</h3>
				</div>
			</div>
		</div>
		<div class="m-portlet__body">
			<!--begin: Datatable Hẹn giờ gọi -->
			<table class="m-datatable" id="dtSchedule" width="100%">				
			</table>
			<!--end: Datatable -->
		</div>
	</div>

	<div class="m-portlet m-portlet--mobile">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<h3 class="m-portlet__head-text">
						Cuộc gọi đã thực hiện
					</h3>
				</div>
			</div>
		</div>
		<div class="m-portlet__body">
			<!--begin: Search Form -->
			<div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
				<div class="row align-items-center">
					<div class="col-xl-8 order-2 order-xl-1">
						<div class="form-group m-form__group row align-items-center">
							<div class="col-md-3">
								<div class="form-group m-form__group">
									<div class="m-input-icon m-input-icon--left">
										<input type="text" class="form-control m-input" placeholder="Tìm kiếm theo tên khách hàng" id="filterName">
										<span class="m-input-icon__icon m-input-icon__icon--left">
											<span>
												<i class="la la-search"></i>
											</span>
										</span>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="input-group date">
									<input type="text" class="form-control m-input" readonly="" id="m_datepicker_1" placeholder="Ngày bắt đầu">
								</div>
							</div>
							<div class="col-md-3">
								<div class="input-group date">
									<input type="text" class="form-control m-input" readonly="" id="m_datepicker_2" placeholder="Ngày kết thúc">
								</div>
							</div>							
						</div>
					</div>
				</div>
			</div>
			<!--end: Search Form -->
			<!--begin: Datatable Cuộc gọi đã thực hiện -->
			<table class="m-datatable" id="dtCalled" width="100%">
				
			</table>
			<!--end: Datatable -->
		</div>
	</div>
</div>
<div id="modalContent">
</div>
@section Scripts
	{
	<script src="~/assets/vendors/custom/flot/flot.bundle.js" type="text/javascript"></script>
	<script src="~/lib/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
	<script src="~/lib/aspnet-signalr/signalr.min.js" type="text/javascript"></script>
	<script>
		var groupName = '@ViewBag.Username';
	</script>
	<script src="~/js/TelesalesModule.js" type="text/javascript"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			// trigger online every minute
			TelesalesModule.TriggerOnline();
			setInterval(function () {
				TelesalesModule.TriggerOnline();
			}, 20 * 1000);
		});
	</script>
}

<style>
	.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary,
	.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
		color: #868686;
		background: var(--primary);
	}

	.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-secondary,
	.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-secondary {
		background: var(--secondary);
		color: #6C7293;
	}

	.bootstrap-switch .bootstrap-switch-handle-off, .bootstrap-switch .bootstrap-switch-handle-on, .bootstrap-switch .bootstrap-switch-label {
		font-size: 10px;
		padding: 0px;
	}
</style>