﻿@using LOS.Common.Extensions;
@{
    ViewData["Title"] = "Quản lý nhân viên Telesale";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var lstTeam = ViewBag.LstTeamTelesales as List<LOS.DAL.EntityFramework.TeamTelesales>;
    var lstTeam = Enum.GetValues(typeof(EnumTeamTelesales)).Cast<EnumTeamTelesales>();
}
<link href="~/css/form.css?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS" rel="stylesheet" />
<style>
    #tbUser tbody {
        padding: 0 !important;
    }

    #linkName:hover {
        text-decoration: none !important;
    }

    .marginleft {
        margin-left: 25px;
    }

    .custom-table-tima > .m-datatable__table > .m-datatable__head .m-datatable__row {
        height: 50px !important;
    }

    .m-portlet .m-portlet__body {
        padding: 0rem 2.2rem;
    }

    .form-group {
        margin-bottom: 0px;
    }

    .m-portlet .m-portlet__body {
        padding-bottom: 20px;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        position: relative;
        padding: 0.65rem 0rem;
        line-height: 1.25;
    }
</style>
<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Danh sách nhân viên
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <!--begin: Search Form -->
            <div class="m-form m-form--label-align-right m--margin-bottom-10">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <div class="col-lg-2 col-md-6 col-sm-12" style="padding: 10px;">
                                <div class="m-input-icon m-input-icon--left">
                                    <input type="text" class="form-control m-input inputsearch" placeholder="Tên nhân viên" id="filterSearchName">
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6 col-sm-12" style="padding: 10px;">
                                <div class="m-form__control">
                                    <select class="form-control m-select2" id="filterStatus">
                                        <option value="-1">Tất cả trạng thái</option>
                                        <option value="@((int)LOS.Common.Extensions.EnumStatusBase.Active)" selected="selected">@LOS.Common.Extensions.Description.GetDescription(LOS.Common.Extensions.EnumStatusBase.Active)</option>
                                        <option value="@((int)LOS.Common.Extensions.EnumStatusBase.Locked)">@LOS.Common.Extensions.Description.GetDescription(LOS.Common.Extensions.EnumStatusBase.Locked)</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6 col-sm-12" style="padding: 10px;">
                                <div class="m-form__control">
                                    <select class="form-control m-select2" id="filterTypeRecievedProduct">
                                        <option value="@LOS.Common.Extensions.EnumTypeRecievedProduct.SmallProduct.GetHashCode()" selected="selected">
                                            @LOS.Common.Helpers.ExtentionHelper.GetDescription(LOS.Common.Extensions.EnumTypeRecievedProduct.SmallProduct)
                                        </option>
                                        <option value="@LOS.Common.Extensions.EnumTypeRecievedProduct.BigProduct.GetHashCode()">
                                            @LOS.Common.Helpers.ExtentionHelper.GetDescription(LOS.Common.Extensions.EnumTypeRecievedProduct.BigProduct)
                                        </option>
                                        <option value="@LOS.Common.Extensions.EnumTypeRecievedProduct.All.GetHashCode()">
                                            @LOS.Common.Helpers.ExtentionHelper.GetDescription(LOS.Common.Extensions.EnumTypeRecievedProduct.All)
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6 col-sm-12" style="padding: 10px;">
                                <div class="m-form__control">
                                    <select class="form-control m-select2" id="filterTeam">
                                        <option value="0">Tất cả Team</option>
                                        @if (lstTeam != null)
                                        {
                                            foreach (var item in lstTeam)
                                            {
                                                <option value="@(Convert.ToInt32(item))">@(Description.GetDescription((EnumTeamTelesales)item))</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12 col-sm-12" style="padding: 10px; text-align: end;">
                                <div class="m-form__control">
                                    <a href="#" class="btn btn-tima" onclick="TelesaleManageModule.loadInforStaffTeleSale(0)" data-toggle="modal" data-target="#modal_create_staff_telesale">
                                        Tạo mới tài khoản
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group row">
                            <div class="col-lg-1 col-md-6 col-sm-12" style="padding: 10px;">
                                <div class="m-form__control">
                                    <a href="#" class="btn btn-tima" onclick="TelesaleManageModule.ChangeLook(1)">
                                        Nhận đơn
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-1 col-md-6 col-sm-12" style="padding: 10px;">
                                <div class="m-form__control">
                                    <a href="#" class="btn btn-tima" onclick="TelesaleManageModule.ChangeLook(0)">
                                        Hủy nhận đơn
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end: Search Form -->
            <hr style="color: #333333;" />
            <table class="m-datatable__table dtform" width="100%" id="tbManageTelesale"></table>
        </div>
    </div>
</div>
<partial name="~/Views/Telesales/Partial/_create_staff.cshtml" />
@section Scripts
    {
    <script src="~/js/TelesaleDashboard/telesale_manage.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            TelesaleManageModule.Init();
            App.ValidCustom();
        });
    </script>
}
