﻿@model LOS.WebApp.Models.Compare.Compare.CMND
@{
    Layout = null;
    var index = 0;
    var index2 = Model.lstFilesRoot.Count();
}
@using LOS.Common.Extensions;
    <style>
        .custom-icon {
            font-size: 20px;
            cursor: pointer;
            padding: 10px 0px;
        }

        .m-accordion .m-accordion__item .m-accordion__item-head .m-accordion__item-icon > i {
            font-size: 20px;
        }

        .m-accordion .m-accordion__item .m-accordion__item-head .m-accordion__item-title {
            font-size: 15px;
        }

        .m-accordion .m-accordion__item .m-accordion__item-head {
            padding: 10px 2rem;
        }
    </style>
<link href="~/photoviewer/photoviewer.css" rel="stylesheet" />
<div class="m-content">
    <div class="row">
        <div class="col-md-12">
            <div style="text-align: center;">
                <b style="text-transform: uppercase;">
                    Bước 4
                    <br />
                    So sánh CMND và thỏa thuận tài chính,giấy cam kết
                </b>
            </div>
            <ul>
                <li>Họ tên</li>
                <li>Số CMND</li>
                <li>Năm sinh</li>
                <li>Giới tính</li>
                <li>Địa chỉ đang ở</li>
            </ul>
        </div>
        <div class="col-lg-6">
            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Ảnh CMND
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="m-section__content">
                        <div style="margin-bottom: 5px; font-weight:bold">
                            <span class="title-uppercase">
                                Ảnh CMND mặt trước/ sau
                            </span>
                            <i class="la la-angle-double-right" style="font-size: 15px;"></i>
                        </div>
                        <div data-code-preview="true" data-code-html="true" data-code-js="false">
                            <div class="custom-m-boder-box">
                                <div class="row">
                                    <div class="row docs-pictures clearfix" name="box_galley" id="box_galley-@index">
                                        @if (Model.lstFilesRoot != null && Model.lstFilesRoot.Count > 0)
                                        {
                                            foreach (var item in Model.lstFilesRoot)
                                            {
                                                <div class="col-lg-6 col-md-6 col-sm-6">
                                                    <a attr-index="@index" data-gallery="photoviewer" data-title="" data-group="a" href="@item.FilePath">
                                                        <img attr-id="@item.Id" class="cus-image-item" style="width: 100%;" data-original="@item.FilePath" src="@(!string.IsNullOrEmpty(item.FileThumb) ? item.FileThumb : item.FilePath)" />
                                                    </a>
                                                    @if (!string.IsNullOrEmpty(item.LatLong))
                                                    {
                                                        <span class="custom-icon" onclick="copy_tooltip(this)" attr-latlng="@item.LatLong" data-toggle="m-tooltip" data-placement="right" title="@item.LatLong" data-html="true" data-content="@item.LatLong">
                                                            <i class="fa fa-map-marker"></i>
                                                        </span>
                                                    }

                                                    @if (item.SourceUpload.GetValueOrDefault(1) == 1)
                                                    {
                                                        <span class="custom-icon" onclick="copy_tooltip(this)" attr-latlng="@item.LatLong" data-toggle="m-tooltip" data-placement="right" title="@item.LatLongAddress" data-html="true" data-content="@item.LatLongAddress">
                                                            <i class="fa fa-desktop"></i>
                                                        </span>
                                                    }
                                                    else if (item.SourceUpload.GetValueOrDefault(1) == 2)
                                                    {
                                                        <span class="custom-icon" onclick="copy_tooltip(this)" attr-latlng="@item.LatLong" data-toggle="m-tooltip" data-placement="right" title="@item.LatLongAddress" data-html="true" data-content="@item.LatLongAddress">
                                                            <i class="fa fa-mobile"></i>
                                                        </span>
                                                    }
                                                    else
                                                    {
                                                        <span class="custom-icon" onclick="copy_tooltip(this)" attr-latlng="@item.LatLong" data-toggle="m-tooltip" data-placement="right" title="@item.LatLongAddress" data-html="true" data-content="@item.LatLongAddress">
                                                            <i class="fa fa-users"></i>
                                                        </span>
                                                    }

                                                    @if (item.CreateAt.HasValue)
                                                    {
                                                        <span class="custom-icon" data-toggle="m-tooltip" data-placement="right" title="@item.CreateAt.Value.ToString("dd/MM/yyyy HH:mm:ss")" data-html="true" data-content="@item.CreateAt.Value.ToString("dd/MM/yyyy HH:mm:ss")">
                                                            <i class="fa fa-clock-o"></i>
                                                        </span>
                                                    }

                                                    @if (item.DistanceAddressHomeGoogleMap > 0)
                                                    {
                                                        <span class="custom-icon" data-toggle="m-tooltip" data-placement="right" title="@($"Khoảng cách tới địa chỉ nơi ở tls pick: {item.DistanceAddressHomeGoogleMap}m")" data-html="true" data-content="@($"Khoảng cách tới địa chỉ tls pick: {item.DistanceAddressHomeGoogleMap}m")">
                                                            <i class="fa fa-podcast"></i>
                                                        </span>
                                                    }
                                                    else if (item.DistanceAddressCompanyGoogleMap > 0)
                                                    {
                                                        <span class="custom-icon" data-toggle="m-tooltip" data-placement="right" title="@($"Khoảng cách tới địa chỉ nơi làm việc tls pick: {item.DistanceAddressCompanyGoogleMap}m")" data-html="true" data-content="@($"Khoảng cách tới địa chỉ tls pick: {item.DistanceAddressCompanyGoogleMap}m")">
                                                            <i class="fa fa-podcast"></i>
                                                        </span>
                                                    }

                                                </div>
                                                index++;
                                            }
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Portlet-->
        </div>
        <div class="col-lg-6">
            <!--begin::Portlet-->
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Giấy cam kết
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="m-section__content">
                        <div style="margin-bottom: 5px; font-weight:bold">
                            <span class="title-uppercase">
                                Thông tin thỏa thuận tài chính, giấy cam kết
                            </span>
                            <i class="la la-angle-double-right" style="font-size: 15px;"></i>
                        </div>
                        <div data-code-preview="true" data-code-html="true" data-code-js="false">
                            <div class="custom-m-boder-box">
                                <div class="row">
                                    <div class="row docs-pictures clearfix" name="box_galley" id="box_galley-@index2" style="width:100% !important;">
                                        @if (Model.lstFilesCompare != null && Model.lstFilesCompare.Count > 0)
                                        {
                                            foreach (var item in Model.lstFilesCompare)
                                            {
                                                <div class="col-lg-4 col-md-3 col-sm-6">
                                                    <a attr-index="@index2" data-gallery="photoviewer" data-title="" data-group="a" href="@item.FilePath">
                                                        <img attr-id="@item.Id" class="cus-image-item" style="width: 100%;" data-original="@item.FilePath" src="@(!string.IsNullOrEmpty(item.FileThumb) ? item.FileThumb : item.FilePath)" />
                                                    </a>
                                                    @if (!string.IsNullOrEmpty(item.LatLong))
                                                    {
                                                        <span class="custom-icon" onclick="copy_tooltip(this)" attr-latlng="@item.LatLong" data-toggle="m-tooltip" data-placement="right" title="@item.LatLong" data-html="true" data-content="@item.LatLong">
                                                            <i class="fa fa-map-marker"></i>
                                                        </span>
                                                    }

                                                    @if (item.SourceUpload.GetValueOrDefault(1) == 1)
                                                    {
                                                        <span class="custom-icon" onclick="copy_tooltip(this)" attr-latlng="@item.LatLong" data-toggle="m-tooltip" data-placement="right" title="@item.LatLongAddress" data-html="true" data-content="@item.LatLongAddress">
                                                            <i class="fa fa-desktop"></i>
                                                        </span>
                                                    }
                                                    else if (item.SourceUpload.GetValueOrDefault(1) == 2)
                                                    {
                                                        <span class="custom-icon" onclick="copy_tooltip(this)" attr-latlng="@item.LatLong" data-toggle="m-tooltip" data-placement="right" title="@item.LatLongAddress" data-html="true" data-content="@item.LatLongAddress">
                                                            <i class="fa fa-mobile"></i>
                                                        </span>
                                                    }
                                                    else
                                                    {
                                                        <span class="custom-icon" onclick="copy_tooltip(this)" attr-latlng="@item.LatLong" data-toggle="m-tooltip" data-placement="right" title="@item.LatLongAddress" data-html="true" data-content="@item.LatLongAddress">
                                                            <i class="fa fa-users"></i>
                                                        </span>
                                                    }

                                                    @if (item.CreateAt.HasValue)
                                                    {
                                                        <span class="custom-icon" data-toggle="m-tooltip" data-placement="right" title="@item.CreateAt.Value.ToString("dd/MM/yyyy HH:mm:ss")" data-html="true" data-content="@item.CreateAt.Value.ToString("dd/MM/yyyy HH:mm:ss")">
                                                            <i class="fa fa-clock-o"></i>
                                                        </span>
                                                    }

                                                    @if (item.DistanceAddressHomeGoogleMap > 0)
                                                    {
                                                        <span class="custom-icon" data-toggle="m-tooltip" data-placement="right" title="@($"Khoảng cách tới địa chỉ nơi ở tls pick: {item.DistanceAddressHomeGoogleMap}m")" data-html="true" data-content="@($"Khoảng cách tới địa chỉ tls pick: {item.DistanceAddressHomeGoogleMap}m")">
                                                            <i class="fa fa-podcast"></i>
                                                        </span>
                                                    }
                                                    else if (item.DistanceAddressCompanyGoogleMap > 0)
                                                    {
                                                        <span class="custom-icon" data-toggle="m-tooltip" data-placement="right" title="@($"Khoảng cách tới địa chỉ nơi làm việc tls pick: {item.DistanceAddressCompanyGoogleMap}m")" data-html="true" data-content="@($"Khoảng cách tới địa chỉ tls pick: {item.DistanceAddressCompanyGoogleMap}m")">
                                                            <i class="fa fa-podcast"></i>
                                                        </span>
                                                    }

                                                </div>
                                                index2++;
                                            }
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!--end::Portlet-->
        </div>
    </div>
</div>

<script src="~/photoviewer/photoviewer.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('[data-toggle="m-tooltip"]').tooltip();
        //viewerLoading();
    });
    function copy_tooltip(tthis) {
        var copyText = $(tthis).attr('data-content');
        if (copyText != null && copyText != "") {
            var $temp = $("<input>");
            $("body").append($temp);
            $temp.val(copyText).select();
            document.execCommand("copy");
            $temp.remove();
            App.ShowSuccessNotLoad("Copy thành công");
        }

    }
    $('[data-gallery^=photoviewer]').click(function (e) {
        e.preventDefault();
        var items = [],
            options = {
                index: $(this).attr('attr-index'),
                headerToolbar: [
                    'minimize',
                    'maximize',
                    'close'
                ],
                footToolbar: [
                    'prev',
                    'next',
                    'zoomIn',
                    'zoomOut',
                    'fullscreen',
                    'actualSize',
                    'rotateLeft',
                    'rotateRight',
                    'flipVertical',
                    'flipHorizontal'
                ],
                modalWidth: 400,
                modalHeight: 400,
                callbacks: {
                    beforeChange: function (context, index) {
                        console.log(context, index)
                    },
                    changed: function (context, index) {
                        console.log(context, index)
                    }
                }
            };

        var attrPhotoviewer = $(this).attr('data-gallery');
        $("[data-gallery=" + attrPhotoviewer + "]").each(function () {
            items.push({
                src: $(this).attr('href'),
                title: $(this).attr('data-title')
            });
        });
        new PhotoViewer(items, options);
    });
    function viewerLoading() {
        var galley = document.getElementById('box_galley');
        viewer = new Viewer(galley, {
            url: 'data-original',
            title: function (image) {
                return image.alt + ' (' + (this.index + 1) + '/' + this.length + ')';
            },
        });
    }
</script>
