﻿@using LOS.WebApp.Models;
@model LOS.WebApp.Models.Compare.Compare.CMND
@{
    Layout = null;
    var index = 0;
    var index2 = Model.lstFilesRoot.Count();
    var allChild = new List<ProductReview>();
}
<style>
    .custom-icon {
        font-size: 20px;
        cursor: pointer;
        padding: 10px 0px;
    }

    .m-accordion .m-accordion__item .m-accordion__item-head .m-accordion__item-icon > i {
        font-size: 20px;
    }

    .m-accordion .m-accordion__item .m-accordion__item-head .m-accordion__item-title {
        font-size: 15px;
    }

    .m-accordion .m-accordion__item .m-accordion__item-head {
        padding: 10px 2rem;
    }

    .custom-lbl-title {
        text-decoration: underline;
        color: blue;
        font-size: 12px;
        font-family: Tahoma
    }

    .custom-box-parrent {
        border: 1px solid #ccc;
        padding: 5px;
        background-color: #eae5e5;
        text-transform: uppercase;
        color: #17179a;
        font-weight: 600;
    }

    .custome-content {
        padding: 10px;
    }

    .m-portlet .m-portlet__head {
        padding: 0 1.0rem;
    }

    .tab-content {
        padding: 0 1.0rem;
    }
</style>
<link href="~/photoviewer/photoviewer.css" rel="stylesheet" />
<div class="m-content">
    <div class="row">
        <div class="col-md-12">
            <div style="text-align: center;">
                <b style="text-transform: uppercase;">
                    Bước 6
                    <br />
                    ĐĐối chiếu với Tab định giá xe
                </b>
            </div>
            <ul>
                <li>Kiểm tra các thông tin nhập liệu đủ và chính xác.</li>
                <li>Kiểm tra đã thực hiện định giá theo đúng quy định.</li>
            </ul>
        </div>
        <div class="col-lg-6">
            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Ảnh ĐKX
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="tab-content">
                    <div style="margin-bottom: 5px; font-weight:bold; padding-top: calc(0.65rem + 1px);">
                        <span class="title-uppercase">
                            Ảnh ĐKX mặt trước/ sau
                        </span>
                        <i class="la la-angle-double-right" style=" font-size: 15px;"></i>
                        <div data-code-preview="true" data-code-html="true" data-code-js="false">
                            <div class="custom-m-boder-box">
                                <div class="row" style="margin-left: 0px !important; margin-right: 0px !important;">
                                    <div class="row docs-pictures clearfix" name="box_galley" id="box_galley-@index">
                                        @if (Model.lstFilesRoot != null && Model.lstFilesRoot.Count > 0)
                                        {
                                            foreach (var item in Model.lstFilesRoot)
                                            {
                                                <div class="col-lg-6 col-md-6 col-sm-12">
                                                    <a attr-index="@index" data-gallery="photoviewer" data-title="" data-group="a" href="@item.FilePath">
                                                        <img attr-id="@item.Id" class="cus-image-item" style="width: 100%;" data-original="@item.FilePath" src="@(!string.IsNullOrEmpty(item.FileThumb) ? item.FileThumb : item.FilePath)" />
                                                    </a>
                                                    @if (!string.IsNullOrEmpty(item.LatLong))
                                                    {
                                                        <span class="custom-icon" onclick="copy_tooltip(this)" attr-latlng="@item.LatLong" data-toggle="m-tooltip" data-placement="right" title="@item.LatLong" data-html="true" data-content="@item.LatLong">
                                                            <i class="fa fa-map-marker"></i>
                                                        </span>
                                                    }

                                                    @if (item.SourceUpload.GetValueOrDefault(1) == 1)
                                                    {
                                                        <span class="custom-icon" onclick="copy_tooltip(this)" attr-latlng="@item.LatLong" data-toggle="m-tooltip" data-placement="right" title="@item.LatLongAddress" data-html="true" data-content="@item.LatLongAddress">
                                                            <i class="fa fa-desktop"></i>
                                                        </span>
                                                    }
                                                    else if (item.SourceUpload.GetValueOrDefault(1) == 2)
                                                    {
                                                        <span class="custom-icon" onclick="copy_tooltip(this)" attr-latlng="@item.LatLong" data-toggle="m-tooltip" data-placement="right" title="@item.LatLongAddress" data-html="true" data-content="@item.LatLongAddress">
                                                            <i class="fa fa-mobile"></i>
                                                        </span>
                                                    }
                                                    else
                                                    {
                                                        <span class="custom-icon" onclick="copy_tooltip(this)" attr-latlng="@item.LatLong" data-toggle="m-tooltip" data-placement="right" title="@item.LatLongAddress" data-html="true" data-content="@item.LatLongAddress">
                                                            <i class="fa fa-users"></i>
                                                        </span>
                                                    }

                                                    @if (item.CreateAt.HasValue)
                                                    {
                                                        <span class="custom-icon" data-toggle="m-tooltip" data-placement="right" title="@item.CreateAt.Value.ToString("dd/MM/yyyy HH:mm:ss")" data-html="true" data-content="@item.CreateAt.Value.ToString("dd/MM/yyyy HH:mm:ss")">
                                                            <i class="fa fa-clock-o"></i>
                                                        </span>
                                                    }

                                                    @if (item.DistanceAddressHomeGoogleMap > 0)
                                                    {
                                                        <span class="custom-icon" data-toggle="m-tooltip" data-placement="right" title="@($"Khoảng cách tới địa chỉ nơi ở tls pick: {item.DistanceAddressHomeGoogleMap}m")" data-html="true" data-content="@($"Khoảng cách tới địa chỉ tls pick: {item.DistanceAddressHomeGoogleMap}m")">
                                                            <i class="fa fa-podcast"></i>
                                                        </span>
                                                    }
                                                    else if (item.DistanceAddressCompanyGoogleMap > 0)
                                                    {
                                                        <span class="custom-icon" data-toggle="m-tooltip" data-placement="right" title="@($"Khoảng cách tới địa chỉ nơi làm việc tls pick: {item.DistanceAddressCompanyGoogleMap}m")" data-html="true" data-content="@($"Khoảng cách tới địa chỉ tls pick: {item.DistanceAddressCompanyGoogleMap}m")">
                                                            <i class="fa fa-podcast"></i>
                                                        </span>
                                                    }

                                                </div>
                                                index++;
                                            }
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Portlet-->
        </div>
        <div class="col-lg-6">
            <!--begin::Portlet-->
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Thẩm định xe
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="tab-content">
                    @if (ViewBag.AppraiserMotoPrice != null)
                    {
                        var appraiserMotoPrice = ViewBag.AppraiserMotoPrice as AppraiserMotoPriceViewModel;
                        <input type="hidden" id="hdf_CurrentPrice" value="@appraiserMotoPrice.CurrentPrice" />
                        <input type="hidden" value="@appraiserMotoPrice.ProductCreditId" id="hddProductCreditId" />
                        <input type="hidden" value="@appraiserMotoPrice.ProductId" id="hddProductId" />
                        <input type="hidden" value="@appraiserMotoPrice.TypeOwnerShipId" id="hddTypeOwnerShipId" />
                        <input type="hidden" value="@appraiserMotoPrice.ProductDetailId" id="hddLoanProductDetailId" />
                        <input type="hidden" value="@appraiserMotoPrice.LoanBriefId" id="hddLoanBriefId" />

                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="row">
                                    <span class="col-md-4 col-sm-12 col-form-label">Hãng xe:</span>
                                    <span class="col-md-8 col-sm-12 col-form-label fontWeight">
                                        @(appraiserMotoPrice.OldInfomationAppraiserMoto != null ? appraiserMotoPrice.OldInfomationAppraiserMoto.BrandName : "")
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="row">
                                    <span class="col-md-4 col-sm-12 col-form-label">Gói vay:</span>
                                    <span class="col-md-8 col-sm-12 col-form-label fontWeight">
                                        @(appraiserMotoPrice.OldInfomationAppraiserMoto != null ? appraiserMotoPrice.OldInfomationAppraiserMoto.OwnerProductName : "")
                                    </span>
                                </div>
                            </div>


                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="row">
                                    <span class="col-md-4 col-sm-12 col-form-label">Tên xe:</span>
                                    <span class="col-md-8 col-sm-12 col-form-label fontWeight">
                                        @(appraiserMotoPrice.OldInfomationAppraiserMoto != null ? appraiserMotoPrice.OldInfomationAppraiserMoto.ProductName : "")
                                    </span>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="row">
                                    <span class="col-md-4 col-sm-12 col-form-label">Hình thức sở hữu nhà:</span>
                                    <span class="col-md-8 col-sm-12 col-form-label fontWeight">
                                        @(appraiserMotoPrice.OldInfomationAppraiserMoto != null ? appraiserMotoPrice.OldInfomationAppraiserMoto.TypeOwnerShipName : "")
                                    </span>
                                </div>
                            </div>

                            <div class="col-md-12 col-sm-12">
                                <div class="row">
                                    <span class="col-md-4 col-sm-12 col-form-label">Chi tiết gói sản phẩm:</span>
                                    <span class="col-md-8 col-sm-12 col-form-label fontWeight">
                                        @(appraiserMotoPrice.OldInfomationAppraiserMoto != null ? appraiserMotoPrice.OldInfomationAppraiserMoto.ProductDetailName : "")
                                    </span>
                                </div>
                            </div>

                            <div class="col-md-12 col-sm-12">
                                <div class="row">
                                    <span class="col-md-4 col-sm-12 col-form-label">Giá thị trường:</span>
                                    <span class="col-md-8 col-sm-12 col-form-label">
                                        <span id="CurrentPrice" style="color: #FA5858">@appraiserMotoPrice.CurrentPrice.ToString("#,##")</span> VNĐ
                                    </span>
                                </div>
                            </div>

                            <div class="col-md-12 col-sm-12">
                                <div class="row">
                                    <span class="col-md-4 col-sm-12 col-form-label">Số tiền cho vay tối đa:</span>
                                    <span class="col-md-8 col-sm-12 col-form-label">
                                        <span id="MaxPrice" style="color: #FA5858">@appraiserMotoPrice.MaxPriceProduct.ToString("#,##")</span> VNĐ
                                    </span>
                                </div>
                            </div>
                        </div>

                        if (appraiserMotoPrice.ProductReview != null && appraiserMotoPrice.ProductReview.Count > 0)
                        {
                            var lstParrent = appraiserMotoPrice.ProductReview.Where(x => x.ParentId == 0).ToList();
                            <div class="row" id="_MotoPriceCheckList">
                                @if (lstParrent != null && lstParrent.Count > 0)
                                {
                                    foreach (var item in lstParrent)
                                    {
                                        var lstChildren = appraiserMotoPrice.ProductReview.Where(x => x.ParentId == item.Id).ToList();

                                        <div class="col-lg-6 col-md-12">
                                            <div class="col-md-12 custom-box-parrent">
                                                @item.Name
                                                <input type="hidden" class="product-review-parent" id="hdfProductParent_@item.Id" value="@item.Id" />
                                            </div>
                                            <div class="custome-content">
                                                @if (lstChildren != null && lstChildren.Count > 0)
                                                {
                                                    allChild.AddRange(lstChildren);
                                                    foreach (var item2 in lstChildren)
                                                    {
                                                        <div style="font-weight: 600;">
                                                            @item2.Name
                                                        </div>
                                                        <div class="m--margin-left-5 m--margin-top-10">
                                                            <div class="row">
                                                                <div class="col-md-6 col-sm-6">
                                                                    <label class="m-radio m-radio--state-brand">
                                                                        <input disabled="disabled" type="radio" name="radio_children_@item2.Id" attr-state="@item2.State" attr-discount="@item2.MoneyDiscount" attr-id="@item2.Id" value="true" @(item2.IsCheck == true ? "checked=\"checked\"" : "")>
                                                                        Đúng
                                                                        <span></span>
                                                                    </label>
                                                                </div>
                                                                <div class="col-md-6 col-sm-6">
                                                                    <label class="m-radio m-radio--state-brand">
                                                                        <input disabled="disabled" type="radio" name="radio_children_@item2.Id" attr-state="@item2.State" attr-discount="@item2.MoneyDiscount" attr-id="@item2.Id" value="false" @(item2.IsCheck == false ? "checked=\"checked\"" : "")>
                                                                        Sai
                                                                        <span></span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    }
                                }

                                <div class="col-md-12 col-sm-12">
                                    <div class="row">
                                        <span class="col-md-3 col-sm-12 col-form-label">Tiền được vay:</span>
                                        <span class="col-md-9 col-sm-12 col-form-label">
                                            <span id="TotalBorrowMoney" style="color: #FA5858;">0</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="col-md-12 m--align-center">
                            <label style="color: red; font-style: italic">Đơn vay không có xe để thẩm định</label>
                        </div>
                    }
                </div>
            </div>
            <!--end::Portlet-->
        </div>
    </div>
</div>
<script src="~/photoviewer/photoviewer.js"></script>
<script src="~/js/LoanbriefV3/AppraiserPriceMotoModule.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('[data-toggle="m-tooltip"]').tooltip();
        //viewerLoading();

        AppraiserPriceMoto.InitData('@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(allChild))');
        AppraiserPriceMoto.LoadPriceAppraiser(0, false);
    });
    function copy_tooltip(tthis) {
        var copyText = $(tthis).attr('data-content');
        if (copyText != null && copyText != "") {
            var $temp = $("<input>");
            $("body").append($temp);
            $temp.val(copyText).select();
            document.execCommand("copy");
            $temp.remove();
            App.ShowSuccessNotLoad("Copy thành công");
        }

    }
    $('[data-gallery^=photoviewer]').click(function (e) {
        e.preventDefault();
        var items = [],
            options = {
                index: $(this).attr('attr-index'),
                headerToolbar: [
                    'minimize',
                    'maximize',
                    'close'
                ],
                footToolbar: [
                    'prev',
                    'next',
                    'zoomIn',
                    'zoomOut',
                    'fullscreen',
                    'actualSize',
                    'rotateLeft',
                    'rotateRight',
                    'flipVertical',
                    'flipHorizontal'
                ],
                modalWidth: 400,
                modalHeight: 400,
                callbacks: {
                    beforeChange: function (context, index) {
                        console.log(context, index)
                    },
                    changed: function (context, index) {
                        console.log(context, index)
                    }
                }
            };

        var attrPhotoviewer = $(this).attr('data-gallery');
        $("[data-gallery=" + attrPhotoviewer + "]").each(function () {
            items.push({
                src: $(this).attr('href'),
                title: $(this).attr('data-title')
            });
        });
        new PhotoViewer(items, options);
    });
    function viewerLoading() {
        var galley = document.getElementById('box_galley');
        viewer = new Viewer(galley, {
            url: 'data-original',
            title: function (image) {
                return image.alt + ' (' + (this.index + 1) + '/' + this.length + ')';
            },
        });
    }
</script>
