﻿@model List<LOS.DAL.DTOs.LoanBriefDetail>
@{
    ViewData["Title"] = "Init";
    Layout = null;
}


<table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand">
    <thead>
        <tr>
            <th>
                Mã HĐ
            </th>
            <th>
                Tên KH
            </th>
            <th>
                Trạng thái
            </th>
            <th>
                Ngày tạo
            </th>
            <th>
                Lý do hủy
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count > 0)
        {
            int i = 0;
            foreach (var item in Model)
            {
                <tr>
                    <th scope="row">
                        @string.Format("HĐ-{0}", item.LoanBriefId)
                    </th>
                    <td>
                        @item.FullName
                    </td>
                    <td>
                        @if (Enum.IsDefined(typeof(LOS.Common.Extensions.EnumLoanStatus), item.Status))
                        {
                            <span>@LOS.WebApp.Helpers.ExtensionHelper.GetDescription((LOS.Common.Extensions.EnumLoanStatus)item.Status)</span>
                        }
                    </td>
                    <td>
                        @item.CreatedTime.Value.ToString("dd/MM/yyyy HH:mm:ss")
                    </td>
                    <td>
                        @item.LoanBriefComment
                    </td>
                    <td>
                        @if (i > 0)
                        {
                        <label class="m-checkbox m-checkbox--state-brand" style="float: left">
                            <a title="Sử dụng lại thông tin" onclick="ScriptMotobikeModuleJS.GetDataLoanOld(@item.LoanBriefId)">
                                <i class="fa fa-check"></i>                              
                                <span></span>
                            </a>
                        </label>
                        }

                    </td>
                </tr>
                i++;
            }
        }
        else
        {
            <tr>
                <td colspan="5">Không có dữ liệu</td>
            </tr>
        }


    </tbody>
</table>
<script>

</script>