﻿@model LOS.WebApp.Models.LoanbriefScriptViewModel
@using LOS.WebApp.Services;
@using Newtonsoft.Json;
@inject INetworkService _networkService;
@{
    Layout = null;
    var user = ViewBag.User as LOS.DAL.DTOs.UserDetail;
    var ListProvince = ViewBag.ListProvince as List<LOS.DAL.DTOs.ProvinceDetail>;
    var ListLogRequestAi = ViewBag.ListLogRequestAi as List<LOS.DAL.EntityFramework.LogLoanInfoAi>;
    var ListBrandProduct = ViewBag.ListBrandProduct as List<LOS.DAL.DTOs.BrandProductDetail>;
    var ListLoanProduct = ViewBag.ListLoanProduct as List<LOS.DAL.EntityFramework.LoanProduct>;
    var ListLoanPurpose = ViewBag.ListLoanPurpose as List<SelectListItem>;
    var ListRelativeFamilys = ViewBag.ListRelativeFamilys as List<LOS.DAL.DTOs.RelativeFamilyDetail>;
    var ListWaterSupplier = Enum.GetValues(typeof(LOS.Common.Extensions.EnumWaterSupplier)).Cast<LOS.Common.Extensions.EnumWaterSupplier>();
    var lstJob = ViewBag.ListJobs as List<LOS.DAL.DTOs.JobDetail>;
    var ListDocumentBusiness = Enum.GetValues(typeof(LOS.Common.Extensions.DocumentBusiness)).Cast<LOS.Common.Extensions.DocumentBusiness>();
}
<style>
    .custom-m-boder-box {
        border: 1px solid rgba(108, 114, 147, 1) !important;
    }

    .cus-info-header {
        padding-top: 20px;
        padding-left: 35px;
    }

    select.form-control:not([size]):not([multiple]) {
        height: unset;
    }

    .m-form.m-form--group-seperator-dashed .m-form__group {
        border-bottom: none;
    }

    .m-form.m-form--group-seperator-dashed .m-form__group {
        padding-bottom: 10px;
        padding-top: 5px;
    }

    .modal-open .select2-dropdown {
        z-index: 10060;
    }

    .btn-tima {
        background-color: rgba(108, 114, 147, 1);
        border-color: rgba(108, 114, 147, 1);
        color: #fff;
    }

    .btn-cus-default {
        color: rgba(108, 114, 147, 1);
        border-color: rgba(108, 114, 147, 1);
        background-color: #fff;
        padding: 7px 20px !important;
    }

    .error-notify {
        margin-top: 0px !important;
    }

    .row-cus-script {
        border-bottom: 1px solid #e9ecef !important;
        margin-left: 0px;
        margin-right: 0px;
        display: flex;
        padding: 0px !important;
    }

    .cus-input-script {
        border: none !important;
        border-bottom: 1px solid rgba(108, 114, 147, 1) !important;
        border-radius: 0;
        font-size: 14px;
    }

    .cus-border-right {
        border-right: 1px solid #e9ecef;
    }

    #formScriptTelesalesv2 .select2-container--default .select2-selection--single {
        border: none !important;
        border-bottom: solid 1px !important;
        border-radius: 0 !important;
        color: #9CA0B6;
    }

    #formScriptTelesalesv2 .table th, .table td {
        padding: 5px !important
    }

    .label-color-left {
        color: #4747c3 !important;
    }

    .label-color-right {
        color: #ed522e !important;
    }

    .lbl-title {
        text-align: center;
        font-weight: 700;
        padding-top: 10px;
        background-color: #e0e0e0;
    }

    .box-cus-row {
        padding: 10px 15px;
    }

    .lbl-gim-tls {
        color: #4747c3;
        font-size: 14px !important;
        font-style: italic;
        font-weight: 900 !important;
    }
</style>

<div class="modal-content">
    <div class="modal-header" style="padding: 15px;">
        <div class="m-demo-icon__class" style="
        margin-top: 5px;
        margin-left: 10px;
        font-weight: bold
   ">
            THÔNG TIN KHÁCH HÀNG
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: 0px">
            <span aria-hidden="true">
                &times;
            </span>
        </button>
    </div>
    <form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" id="formScriptTelesalesv4">
        <div class="modal-body" style="padding: 25px 40px;" id="box-script">
            <div class="m-portlet__body">
                <input type="hidden" id="hdd_LoanBriefId" name="LoanBriefId" value="@Model.LoanBriefId" />
                <input type="hidden" name="ReMarketingLoanBriefId" value="@Model.ReMarketingLoanBriefId" />
                <input type="hidden" name="CustomerId" value="@Model.CustomerId" />
                <input type="hidden" value="@Model.Phone" name="Phone" />
                <input type="hidden" value="@Model.UtmSource" name="UtmSource" />
                <input type="hidden" name="LoanBriefResidentModel.ResidentType" />
                <input type="hidden" id="hdd_JobDescriptionId" value="@((Model.LoanBriefJobModel != null && Model.LoanBriefJobModel.JobDescriptionId > 0) ? Model.LoanBriefJobModel.JobDescriptionId : 0)" />
                <input type="hidden" id="hdd_TypeOwnerShip" name="LoanBriefQuestionScriptModel.TypeOwnerShip" value="@((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.TypeOwnerShip > 0) ? Model.LoanBriefQuestionScriptModel.TypeOwnerShip : 0)" />
                <input type="hidden" id="hdd_ImcomeType" name="LoanBriefJobModel.ImcomeType" value="@((Model.LoanBriefJobModel != null && Model.LoanBriefJobModel.ImcomeType != null) ? Model.LoanBriefJobModel.ImcomeType : null)" />
                <input type="hidden" id="hdd_JobId" name="LoanBriefJobModel.JobId" value="@((Model.LoanBriefJobModel != null && Model.LoanBriefJobModel.JobId != null) ? Model.LoanBriefJobModel.JobId : null)" />
                <input type="hidden" id="hdd_BusinessPapers" name="LoanBriefJobModel.BusinessPapers" value="@((Model.LoanBriefJobModel != null && Model.LoanBriefJobModel.BusinessPapers != null) ? Model.LoanBriefJobModel.BusinessPapers : null)" />


                <div class="col-12 lbl-title">
                    <label>BƯỚC 1: MỞ ĐẦU</label>
                </div>

                <div class="form-group m-form__group row-cus-script" style="border-top: 1px solid #e9ecef">
                    <div class="col-6 cus-border-right  ">
                        <label class="col-form-label">
                            Khách hàng có nghe máy không ?
                        </label>
                    </div>
                    <div class="col-3" style="margin-top: 10px">
                        <div class="m-radio-inline">
                            <label class="m-radio">
                                <input type="radio" value="true">
                                Có
                                <span></span>
                            </label>
                            <label class="m-radio">
                                <input type="radio" value="false" onclick="ScriptMotobikeModuleJS_v5.InitDisplayCancel(this.value)" @((Model.LoanAutoCall == false && Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.QuestionBorrow != null && Model.LoanBriefQuestionScriptModel.QuestionUseMotobikeGo != null && Model.LoanBriefQuestionScriptModel.QuestionMotobikeCertificate != null) ? "disabled=\"disabled\"" : "")>
                                Không
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group m-form__group row-cus-script">
                    <div class="col-6 cus-border-right  ">
                        <label class="col-form-label"> Em chào anh/chị. Đây có phải số điện thoại của anh/ chị <b>@Model.FullName</b> không ạ?</label>
                    </div>
                    <div class="col-3">
                        <input class="form-control cus-form-control m-input cus-input-script" type="text" name="FullName" value="@Model.FullName">
                    </div>
                </div>

                <div class="form-group m-form__group row-cus-script">
                    <div class="col-6 cus-border-right  ">
                        <label class="col-form-label">
                            Em là <strong>@user.FullName</strong>, gọi cho anh/chị từ sàn kết nối tài chính Tima.
                            Em có nhận được thông tin đăng ký khoản vay của Anh/Chị trên hệ thống Tima,
                            Anh/Chị vui lòng cho em xin ít phút để tư vấn gói vay này cho mình nhé
                            <span style="color: red;">(*)</span>
                        </label>
                    </div>
                    <div class="col-3  " style="margin-top: 10px">
                        <div class="m-radio-inline">
                            <label class="m-radio">
                                <input type="radio" @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.QuestionBorrow == true) ? "checked=\"checked\"" : "") name="LoanBriefQuestionScriptModel.QuestionBorrow" value="true">
                                Có
                                <span></span>
                            </label>
                            <label class="m-radio">
                                <input type="radio" @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.QuestionBorrow == false) ? "checked=\"checked\"" : "") name="LoanBriefQuestionScriptModel.QuestionBorrow" value="false" onclick="ScriptMotobikeModuleJS_v5.InitDisplayCancel(this.value)" @((Model.LoanAutoCall == false && Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.QuestionBorrow != null) ? "disabled=\"disabled\"" : "")>
                                Không
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="col-12 lbl-title">
                    <label>BƯỚC 2: XÁC ĐỊNH XE</label>
                </div>

                <div class="form-group m-form__group row-cus-script">
                    <div class="col-6 cus-border-right">
                        <label class="col-form-label">
                            Dạ, Với gói vay nhanh qua đkx bên em thủ tục rất đơn giản.
                            Anh/chị yên tâm, bên em không giữ xe của mình đâu ạ.
                            Mình vẫn có xe để đi lại bình thường, không biết hiện mình đang đi xe máy gì vậy anh/chị?                         <span style="color: red;">(*)</span>
                        </label>
                    </div>
                    <div class="col-3  " style="margin-top: 10px">
                        <div class="m-radio-inline">
                            <label class="m-radio">
                                <input type="radio" @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.QuestionUseMotobikeGo == true) ? "checked=\"checked\"" : "") name="LoanBriefQuestionScriptModel.QuestionUseMotobikeGo" value="true">
                                Có
                                <span></span>
                            </label>
                            <label class="m-radio">
                                <input type="radio" @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.QuestionUseMotobikeGo == false) ? "checked=\"checked\"" : "") name="LoanBriefQuestionScriptModel.QuestionUseMotobikeGo" value="false" onclick="ScriptMotobikeModuleJS_v5.InitDisplayCancel(this.value)" @((Model.LoanAutoCall == false && Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.QuestionUseMotobikeGo != null) ? "disabled=\"disabled\"" : "")>
                                Không
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group m-form__group row-cus-script">
                    <div class="col-6 cus-border-right">
                        <label class="col-form-label">
                            Anh/Chị cho em xin thêm một vài thông tin về xe của mình nhé. <br />
                            <label style="padding-top: 20px;">
                                Xe của mình đăng ký lần đầu tiên vào năm nào ạ?
                            </label>
                        </label>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-3 label-color-right" style="margin-top: 15px">Hãng xe:</div>
                            <div class="col-9">
                                <select class="form-control cus-form-control m-input m-input--square" id="sl_brand_product" name="LoanBriefPropertyModel.BrandId" onchange="ScriptMotobikeModuleJS_v5.GetProduct(this.value, 0)">
                                    @if (ListBrandProduct != null && ListBrandProduct.Count > 0)
                                    {
                                        <option></option>
                                        foreach (var item in ListBrandProduct)
                                        {
                                            <!option value="@item.Id" @(Model.LoanBriefPropertyModel != null && Model.LoanBriefPropertyModel.BrandId == item.Id ? "selected=\"selected\"" : "")>
                                                @item.Name
                                            </!option>
                                        }
                                    }
                                </select>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-3 label-color-right" style="margin-top: 15px">Tên xe:</div>
                            <div class="col-9">
                                <select class="form-control cus-form-control m-input m-input--square" id="sl_product_name" name="LoanBriefPropertyModel.ProductId" aria-hidden="true" onchange="ScriptMotobikeModuleJS_v5.GetMaxPrice()">
                                    <option></option>
                                </select>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-3" style="margin-top: 15px">Màu xe:</div>
                            <div class="col-9">
                                <input class="form-control cus-form-control m-input cus-input-script" type="text" name="LoanBriefPropertyModel.CarColor" value="@Model.LoanBriefPropertyModel.CarColor">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3" style="margin-top: 15px; margin-bottom: 15px;">Biển số xe:</div>
                            <div class="col-9">
                                <input class="form-control cus-form-control m-input cus-input-script" type="text" name="LoanBriefPropertyModel.PlateNumber" value="@Model.LoanBriefPropertyModel.PlateNumber">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group m-form__group row-cus-script">
                    <div class="col-6 cus-border-right">
                        <label class="col-form-label">
                            Anh/Chị có đứng tên trên ĐKX/Cavet
                        </label>
                    </div>
                    <div class="col-6">
                        <div class="m-radio-inline" style="margin-top: 10px">
                            <label class="m-radio label-color-right">
                                <input type="radio" name="OwnerProduct" onclick="ScriptMotobikeModuleJS_v5.GetMaxPrice()" @(Model.ProductId == LOS.Common.Extensions.EnumProductCredit.MotorCreditType_CC.GetHashCode() ? "checked=\"checked\"" : "") value="1">
                                XM chính chủ
                                <span></span>
                            </label>
                            <label class="m-radio label-color-right">
                                <input type="radio" name="OwnerProduct" onclick="ScriptMotobikeModuleJS_v5.GetMaxPrice()" @(Model.ProductId == LOS.Common.Extensions.EnumProductCredit.MotorCreditType_KCC.GetHashCode() ? "checked=\"checked\"" : "") value="2">
                                XM Không chính chủ
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group m-form__group row-cus-script">
                    <div class="col-6 cus-border-right">
                        <label class="col-form-label">
                            Anh/chị có đang giữ ĐKX/Cavet bản gốc?
                            <span style="color: red;">(*)</span>
                        </label>
                    </div>
                    <div class="col-6">
                        <div class="m-radio-inline" style="margin-top: 10px">
                            <label class="m-radio">
                                <input type="radio" @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.QuestionMotobikeCertificate == true) ? "checked=\"checked\"" : "") name="LoanBriefQuestionScriptModel.QuestionMotobikeCertificate" value="true">
                                Có
                                <span></span>
                            </label>
                            <label class="m-radio">
                                <input type="radio" @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.QuestionMotobikeCertificate == false) ? "checked=\"checked\"" : "") name="LoanBriefQuestionScriptModel.QuestionMotobikeCertificate" value="false" onclick="ScriptMotobikeModuleJS_v5.InitDisplayCancel(this.value)" @((Model.LoanAutoCall == false && Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.QuestionMotobikeCertificate != null) ? "disabled=\"disabled\"" : "")>
                                Không
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group m-form__group row-cus-script">
                    <div class="col-6 cus-border-right">
                        <label class="col-form-label">
                            Khi đi ký hồ sơ, anh/chị có xe máy để bên em kiểm tra hiện trạng xe
                        </label>
                        <br />
                        <label class="lbl-gim-tls">
                            TLS nhớ xác nhận xe đang KHÔNG ở tiệm cầm đồ, KHÔNG cho mượn/đang ở quê/bị người thân giữ...
                        </label>
                    </div>
                    <div class="col-6">
                        <div class="m-radio-inline" style="margin-top: 10px">
                            <label class="m-radio">
                                <input type="radio" value="true" name="LoanBriefQuestionScriptModel.QuestionCheckCurrentStatusMotobike" @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.QuestionCheckCurrentStatusMotobike == true) ? "checked=\"checked\"" : "")>
                                Có
                                <span></span>
                            </label>
                            <label class="m-radio">
                                <input type="radio" value="false" name="LoanBriefQuestionScriptModel.QuestionCheckCurrentStatusMotobike" @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.QuestionCheckCurrentStatusMotobike == false) ? "checked=\"checked\"" : "")>
                                Không
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="col-12 lbl-title">
                    <label>BƯỚC 3: XÁC ĐỊNH NƠI Ở</label>
                </div>

                <div class="form-group m-form__group row-cus-script">
                    <div class="col-6 cus-border-right  ">
                        <label class="col-form-label">
                            Anh/chị cho em xin địa chỉ chính xác nơi ở hiện tại
                            <span style="color: red;">(*)</span>
                        </label>
                    </div>
                    <div class="col-6" style="padding-bottom: 10px;">
                        <div class="row">
                            <div class="col-4">
                                <select class="form-control cus-form-control  m-select2" id="sl_province_addresshome" name="ProvinceId" onchange="ScriptMotobikeModuleJS_v5.GetDistrict(this.value, 0, '#box-script #sl_district_addresshome', '#box-script #sl_ward_addresshome')">
                                    @if (ListProvince != null && ListProvince.Count > 0)
                                    {
                                        <option></option>
                                        foreach (var item in ListProvince)
                                        {
                                            if (item.ProvinceId == Model.ProvinceId)
                                            {
                                                <option value="@item.ProvinceId" selected="selected">
                                                    @item.Name
                                                </option>
                                            }
                                            else
                                            {
                                                <option value="@item.ProvinceId">@item.Name</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-4">
                                <select class="form-control cus-form-control m-input m-input--square" id="sl_district_addresshome" name="DistrictId" tabindex="3" onchange="ScriptMotobikeModuleJS_v5.GetWard(this.value, 0, '#box-script #sl_ward_addresshome')">
                                    <option></option>
                                </select>
                            </div>
                            <div class="col-4">
                                <select class="form-control cus-form-control  m-select2" id="sl_ward_addresshome" name="WardId" tabindex="4" aria-hidden="true">
                                    <option></option>
                                </select>
                            </div>
                        </div>
                        <div>
                            <input class="form-control cus-form-control m-input cus-input-script" type="text" placeholder="Địa chỉ nơi ở" name="LoanBriefResidentModel.Address" onchange="ScriptMotobikeModuleJS_v5.BindToTextbox(this, '#AddressGoogleMap')" value="@Model.LoanBriefResidentModel.Address">
                        </div>
                    </div>
                </div>

                <div class="form-group m-form__group row-cus-script">
                    <div class="col-6 cus-border-right">
                        <label class="col-form-label">
                            Anh/Chị cho em xin địa chỉ chính xác ghi trên SHK/hoặc trên trang đính chính của SHK
                        </label>
                    </div>
                    <div class="col-6 box-group" style="padding-bottom: 10px;">
                        <div class="row">
                            <div class="col-4">
                                <select class="form-control cus-form-control m-input m-input--square" id="sl_province_addresshousehold" name="LoanBriefHouseholdModel.ProvinceId" onchange="ScriptMotobikeModuleJS_v5.GetDistrict(this.value, 0, '#box-script #sl_district_addresshousehold', '#box-script #sl_ward_addresshousehold')">
                                    @if (ListProvince != null && ListProvince.Count > 0)
                                    {
                                        <option></option>
                                        foreach (var item in ListProvince)
                                        {
                                            if (item.ProvinceId == Model.LoanBriefHouseholdModel.ProvinceId)
                                            {
                                                <option value="@item.ProvinceId" selected="selected">
                                                    @item.Name
                                                </option>
                                            }
                                            else
                                            {
                                                <option value="@item.ProvinceId">@item.Name</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-4">
                                <select class="form-control cus-form-control m-input m-input--square" id="sl_district_addresshousehold" name="LoanBriefHouseholdModel.DistrictId" onchange="ScriptMotobikeModuleJS_v5.GetWard(this.value, 0, '#box-script #sl_ward_addresshousehold')">
                                    <option></option>
                                </select>
                            </div>
                            <div class="col-4">
                                <select class="form-control cus-form-control m-input m-input--square" id="sl_ward_addresshousehold" name="LoanBriefHouseholdModel.WardId" aria-hidden="true">
                                    <option></option>
                                </select>
                            </div>
                        </div>
                        <div>
                            <input class="form-control cus-form-control m-input cus-input-script" type="text" placeholder="Địa chỉ hộ khẩu" name="LoanBriefHouseholdModel.Address" value="@Model.LoanBriefHouseholdModel.Address">
                        </div>
                    </div>
                </div>

                <div class="form-group m-form__group row-cus-script">
                    <div class="col-6 cus-border-right  ">
                        <label class="col-form-label">
                            TLS xác định và lựa chọn: Nơi hiện tại có cùng Tỉnh/Thành phố với địa chỉ ghi trên SHK không?
                            <span style="color: red;">(*)</span>
                        </label>
                    </div>
                    <div class="col-6  ">
                        <div class="m-radio-inline" style="margin-top: 10px">
                            <label class="m-radio label-color-right">
                                <input type="radio" value="true" name="LoanBriefQuestionScriptModel.QuestionAddress" onclick="ScriptMotobikeModuleJS_v5.ShowImageAddress(this.value)" @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.QuestionAddress == true) ? "checked=\"checked\"" : "")>
                                Có
                                <span></span>
                            </label>
                            <label class="m-radio label-color-right">
                                <input type="radio" value="false" name="LoanBriefQuestionScriptModel.QuestionAddress" onclick="ScriptMotobikeModuleJS_v5.ShowImageAddress(this.value)" @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.QuestionAddress == false) ? "checked=\"checked\"" : "")>
                                Không
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group m-form__group row-cus-script" id="div-TrungSHK" style="display: none;">
                    <div class="col-6 cus-border-right  ">
                        <label class="col-form-label">
                            Anh/chị vui lòng cung cấp được một trong các giấy tờ sau đây
                        </label>
                    </div>
                    <div class="col-6">
                        <select onchange="ScriptMotobikeModuleJS_v5.ChangeDocumentRelationship(this.value)" class="form-control cus-form-control m-input m-input--square" name="LoanBriefQuestionScriptModel.DocumentCoincideHouseHold" id="sl_DocumentTrungSHK" tabindex="5" aria-hidden="true">
                            <option></option>
                            <!option @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.DocumentCoincideHouseHold == 1) ? "selected=\"selected\"" : "") value="1">1.Sổ hộ khẩu, trong sổ có tên KH</!option>
                            <!option @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.DocumentCoincideHouseHold == 2) ? "selected=\"selected\"" : "") value="2">2.Sổ hộ khẩu, trong sổ chỉ có tên người thân KH</!option>
                            <!option @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.DocumentNoCoincideHouseHold == 3) ? "selected=\"selected\"" : "") value="3">3.Hóa đơn tiền điện/nước mang tên KH</!option>
                            <!option @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.DocumentNoCoincideHouseHold == 4) ? "selected=\"selected\"" : "") value="4">4.Hóa đơn tiền điện/nước mang tên người thân KH</!option>
                            <!option @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.DocumentNoCoincideHouseHold == 5) ? "selected=\"selected\"" : "") value="5">5.Sổ đỏ/Sổ hồng/HĐMB nhà (căn hộ) mang tên KH</!option>
                            <!option @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.DocumentNoCoincideHouseHold == 6) ? "selected=\"selected\"" : "") value="6">6.Sổ đỏ/Sổ hồng/HĐMB nhà (căn hộ) mang tên người thân KH</!option>
                        </select>
                    </div>
                </div>

                <div class="form-group m-form__group row-cus-script" id="div-KhongTrungSHK" style="display: none;">
                    <div class="col-6 cus-border-right  ">
                        <label class="col-form-label">
                            Anh/chị vui lòng cung cấp được một trong các giấy tờ sau đây
                        </label>
                    </div>
                    <div class="col-6">
                        <select onchange="ScriptMotobikeModuleJS_v5.ChangeDocumentRelationship(this.value)" class="form-control cus-form-control m-input m-input--square" name="LoanBriefQuestionScriptModel.DocumentNoCoincideHouseHold" id="sl_DocumentKhongTrungSHK" tabindex="5" aria-hidden="true">
                            <option></option>
                            <!option @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.DocumentNoCoincideHouseHold == 7) ? "selected=\"selected\"" : "") value="7">7.Sổ tạm trú tạm vắng trên 6 tháng</!option>
                            <!option @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.DocumentNoCoincideHouseHold == 8) ? "selected=\"selected\"" : "") value="8">8.Sổ HK thuộc KVHT của Tima</!option>
                            <!option @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.DocumentNoCoincideHouseHold == 9) ? "selected=\"selected\"" : "") value="9">9.KH không cung cấp được giấy tờ nào</!option>
                            <!option @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.DocumentNoCoincideHouseHold == 10) ? "selected=\"selected\"" : "") value="10">10.Sổ BHXH (Trên sổ BHXH có địa chỉ công ty nơi KH làm việc)</!option>
                            <!option @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.DocumentNoCoincideHouseHold == 11) ? "selected=\"selected\"" : "") value="11">11. Nơi ở cùng tỉnh/TP thuôc KVHT, nhưng địa chỉ SHK ngoài KVHT</!option>
                            <!option @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.DocumentNoCoincideHouseHold == 12) ? "selected=\"selected\"" : "") value="12">12. Nơi ở cùng tỉnh/TP, SHK cùng thuộc KVHT, nhưng mqh KH-chủ hộ kg thỏa QĐSP</!option>
                            <!option @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.DocumentNoCoincideHouseHold == 13) ? "selected=\"selected\"" : "") value="13">13. Nơi ở cùng tỉnh/TP, SHK cùng thuộc KVHT, nhưng KH kg cung cấp được ảnh SHK</!option>

                        </select>
                    </div>
                </div>

                <div class="form-group m-form__group row-cus-script div-BillElectrictyAndWaterId" style="display: none;">
                    <div class="col-6 cus-border-right">
                        <label class="col-form-label">
                            Thông tin hóa đơn điện nước
                        </label>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-3" style="margin-top: 15px">Mã hóa đơn điện:</div>
                            <div class="col-6">
                                <input class="form-control cus-form-control m-input cus-input-script" id="txt-BillElectricityId" placeholder="Mã hóa đơn điện" type="text" name="LoanBriefResidentModel.BillElectricityId" value="@Model.LoanBriefResidentModel.BillElectricityId">
                            </div>
                            <div class="col-3" style="margin-top: 10px;">
                                <button class="btn btn-tima" id="btnCheckElectricity" type="button" onclick="ScriptMotobikeModuleJS_v5.CheckElectricity()">Kiểm tra</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3" style="margin-top: 15px">Mã hóa đơn nước:</div>
                            <div class="col-6">
                                <input class="form-control cus-form-control m-input cus-input-script" id="txt-BillWaterId" placeholder="Mã hóa đơn nước" type="text" name="LoanBriefResidentModel.BillWaterId" value="@Model.LoanBriefResidentModel.BillWaterId">
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-3" style="margin-top: 15px">Nhà cung cấp nước:</div>
                            <div class="col-6">
                                <select class="form-control cus-form-control m-input m-input--square" id="sl_water_supplier" name="LoanBriefQuestionScriptModel.WaterSupplier" tabindex="5" aria-hidden="true">
                                    <option></option>
                                    @if (ListWaterSupplier != null)
                                    {
                                        @foreach (var item in ListWaterSupplier)
                                        {
                                            if (LOS.Common.Helpers.ExtentionHelper.GetName((LOS.Common.Extensions.EnumWaterSupplier)item) == Model.LoanBriefQuestionScriptModel.WaterSupplier)
                                            {
                                                <option selected="selected" value="@LOS.Common.Helpers.ExtentionHelper.GetName((LOS.Common.Extensions.EnumWaterSupplier)item)">@LOS.Common.Helpers.ExtentionHelper.GetDescription((LOS.Common.Extensions.EnumWaterSupplier)item)</option>
                                            }
                                            else
                                            {
                                                <option value="@LOS.Common.Helpers.ExtentionHelper.GetName((LOS.Common.Extensions.EnumWaterSupplier)item)">@LOS.Common.Helpers.ExtentionHelper.GetDescription((LOS.Common.Extensions.EnumWaterSupplier)item)</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-3" style="margin-top: 10px; margin-bottom: 10px;">
                                <button class="btn btn-tima" id="btnCheckWater" type="button" onclick="ScriptMotobikeModuleJS_v5.CheckWater()">Kiểm tra</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group m-form__group row-cus-script">
                    <div class="col-12" id="div-response-checkbillelectricty" style="margin-top: 15px;">
                        @if (ListLogRequestAi != null && ListLogRequestAi.Count > 0)
                        {
                            var lstLogCheckBillElectricity = ListLogRequestAi.Where(x => x.ServiceType == (int)LOS.Common.Extensions.ServiceTypeAI.CheckBillElectricityAI && x.IsExcuted == (int)LOS.Common.Extensions.EnumLogLoanInfoAiExcuted.Excuted).OrderByDescending(x => x.CreatedAt).ToList();
                            if (lstLogCheckBillElectricity != null && lstLogCheckBillElectricity.Count > 0)
                            {
                                if (!string.IsNullOrEmpty(lstLogCheckBillElectricity[0].Response))
                                {
                                    var responeLogCheckBillElectricity = JsonConvert.DeserializeObject<DataCheckElectricityAI>(lstLogCheckBillElectricity[0].Response);
                                    <div class="custom-m-boder-box m-demo__preview">
                                        <label for="example-email-input" class="col-12 col-form-label" onclick="ScriptMotobikeModuleJS_v5.ShowAndHideElectricity()" style="cursor: pointer;">
                                            Mã hóa đơn điện
                                        </label>

                                        <div class="m-portlet m-portlet--bordered m-portlet--bordered-semi m-portlet--rounded" id="div-Electricity" style="margin-bottom: 0px !important;">
                                            <div class="m-portlet__body" style="padding-bottom: 10px !important">
                                                @if (responeLogCheckBillElectricity.info != null)
                                                {
                                                    <div class="form-group m-form__group  row" style="padding-bottom: 0px !important;">
                                                        <label for="example-email-input" class="col-2 col-form-label">
                                                            Địa chỉ:
                                                        </label>
                                                        <div class="col-4" style="padding-top: 10px;">
                                                            <span>@responeLogCheckBillElectricity.info.address</span>
                                                        </div>
                                                        <label for="example-email-input" class="col-2 col-form-label">
                                                            Khách hàng:
                                                        </label>
                                                        <div class="col-4" style="padding-top: 10px;">
                                                            <span>@responeLogCheckBillElectricity.info.name</span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group m-form__group row" style="padding-bottom: 0px !important;">
                                                        <label for="example-email-input" class="col-2 col-form-label">
                                                            Mã công ty:
                                                        </label>
                                                        <div class="col-4" style="padding-top: 10px;">
                                                            <span>@responeLogCheckBillElectricity.info.companyName</span>
                                                        </div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="col-12" style="padding-top: 15px; color: red; font-style: italic; text-align: center;">
                                                        <label>Không có dữ liệu </label>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>

                <div class="form-group m-form__group row-cus-script">
                    <div class="col-12" id="div-response-checkbillwater" style="margin-top: 15px;">
                        @if (ListLogRequestAi != null && ListLogRequestAi.Count > 0)
                        {
                            var lstLogCheckBillWater = ListLogRequestAi.Where(x => x.ServiceType == (int)LOS.Common.Extensions.ServiceTypeAI.CheckBillWaterAI && x.IsExcuted == (int)LOS.Common.Extensions.EnumLogLoanInfoAiExcuted.Excuted).OrderByDescending(x => x.CreatedAt).ToList();
                            if (lstLogCheckBillWater != null && lstLogCheckBillWater.Count > 0)
                            {
                                if (!string.IsNullOrEmpty(lstLogCheckBillWater[0].Response))
                                {
                                    var responeLogCheckBillWater = JsonConvert.DeserializeObject<DataCheckBillWaterAI>(lstLogCheckBillWater[0].Response);
                                    <div class="custom-m-boder-box m-demo__preview">
                                        <label for="example-email-input" class="col-12 col-form-label" onclick="ScriptMotobikeModuleJS_v5.ShowAndHideWater()" style="cursor: pointer;">
                                            Mã hóa đơn nước
                                        </label>
                                        <div class="m-portlet m-portlet--bordered m-portlet--bordered-semi m-portlet--rounded" id="div-Water" style="margin-bottom: 0px !important;">
                                            <div class="m-portlet__body" style="padding-bottom: 10px !important">
                                                @if (responeLogCheckBillWater.info != null)
                                                {
                                                    <div class="form-group m-form__group row" style="padding-bottom: 0px !important;">
                                                        <label for="example-email-input" class="col-2 col-form-label">
                                                            Địa chỉ:
                                                        </label>
                                                        <div class="col-4" style="padding-top: 10px;">
                                                            <span>@responeLogCheckBillWater.info.address</span>
                                                        </div>
                                                        <label for="example-email-input" class="col-2 col-form-label">
                                                            Khách hàng:
                                                        </label>
                                                        <div class="col-4" style="padding-top: 10px;">
                                                            <span>@responeLogCheckBillWater.info.name</span>
                                                        </div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="col-12" style="padding-top: 15px; color: red; font-style: italic; text-align: center;">
                                                        <label>Không có dữ liệu </label>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>

                <div class="form-group m-form__group row-cus-script" id="div-DocmentRelationship" style="display: none;">
                    <div class="col-6 cus-border-right  ">
                        <label class="col-form-label">
                            KH cung cấp được giấy tờ nào sau đây để chứng minh mối quan hệ:
                        </label>
                    </div>
                    <div class="col-6">
                        <select name="LoanBriefQuestionScriptModel.DocmentRelationship" class="form-control cus-form-control m-input m-input--square" id="sl_DocmentRelationship" tabindex="5" aria-hidden="true">
                            <option></option>
                            <!option @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.DocmentRelationship == 1) ? "selected=\"selected\"" : "") value="1">Giấy khai sinh</!option>
                            <!option @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.DocmentRelationship == 2) ? "selected=\"selected\"" : "") value="2">Giấy ĐK kết hôn</!option>
                            <!option @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.DocmentRelationship == 3) ? "selected=\"selected\"" : "") value="3">Sổ hộ khẩu thể hiện mối quan hệ</!option>
                            <!option @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.DocmentRelationship == 4) ? "selected=\"selected\"" : "") value="4">Giấy tờ khác</!option>

                        </select>
                    </div>
                </div>

                <div class="form-group m-form__group row-cus-script">
                    <div class="col-6 cus-border-right">
                        <label class="col-form-label">
                            HÌNH THỨC CƯ TRÚ
                        </label>
                    </div>
                    <div class="col-6 box-group">
                        <label class="col-form-label" id="lbl_type_ownership" style="color: red;"></label>
                    </div>
                </div>


                <div class="col-12 lbl-title">
                    <label>BƯỚC 4: XÁC MINH CÔNG VIỆC</label>
                </div>

                <div class="form-group m-form__group row-cus-script">
                    <div class="col-12 cus-border-right" style="text-align: center;">
                        <label class="col-form-label">
                            Anh/Chị cho em xin thêm một số thông tin về công việc để em hoàn thiện hồ sơ cho mình nhé
                        </label>
                    </div>
                </div>

                <div class="form-group m-form__group row-cus-script">
                    <div class="col-6 cus-border-right  ">
                        <label class="col-form-label">
                            Công việc hiện tại
                        </label>
                    </div>
                    <div class="col-6">
                        <select class="form-control cus-form-control m-input m-input--square" id="sl_JobDescriptionId" name="LoanBriefJobModel.JobDescriptionId">
                            @if (lstJob != null && lstJob.Count > 0)
                            {
                                <option></option>
                                foreach (var item in lstJob)
                                {
                                    if (Model.LoanBriefJobModel != null && Model.LoanBriefJobModel.JobDescriptionId != null
                                        && Model.LoanBriefJobModel.JobDescriptionId == item.JobId)
                                    {
                                        <!option value="@item.JobId" selected="selected">
                                            @item.Name
                                        </!option>
                                    }
                                    else
                                    {
                                        <!option value="@item.JobId">
                                            @item.Name
                                        </!option>
                                    }

                                }
                            }
                        </select>
                    </div>
                </div>

                <div class="form-group m-form__group row-cus-script">
                    <div class="col-6 cus-border-right">
                        <label class="col-form-label" id="lbl_TitleNameCompany">
                            Tên công ty/tổ chức:
                        </label>
                    </div>
                    <div class="col-6">
                        <input class="form-control cus-form-control m-input cus-input-script" id="txt_CompanyName" type="text" name="LoanBriefJobModel.CompanyName" value="@Model.LoanBriefJobModel.CompanyName">
                    </div>
                </div>

                <div class="form-group m-form__group row-cus-script">
                    <div class="col-6 cus-border-right">
                        <label class="col-form-label" id="lbl_AddressCompany">
                            Địa chỉ nơi đến làm việc/kinh doanh hàng ngày:
                        </label>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-4">
                                <select class="form-control cus-form-control m-input m-input--square" id="sl_province_work_company" name="LoanBriefJobModel.CompanyProvinceId" onchange="ScriptMotobikeModuleJS_v5.GetDistrict(this.value, 0, '#box-script #sl_district_work_company', '#box-script #sl_ward_work_company')">
                                    @if (ListProvince != null && ListProvince.Count > 0)
                                    {
                                        <option></option>
                                        foreach (var item in ListProvince)
                                        {
                                            <!option value="@item.ProvinceId" @(Model.LoanBriefJobModel != null && Model.LoanBriefJobModel.CompanyProvinceId == item.ProvinceId ? "selected=\"selected\"" : "")>
                                                @item.Name
                                            </!option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-4">
                                <select class="form-control cus-form-control m-input m-input--square" id="sl_district_work_company" name="LoanBriefJobModel.CompanyDistrictId" onchange="ScriptMotobikeModuleJS_v5.GetWard(this.value, 0, '#box-script #sl_ward_work_company')">
                                    <option></option>
                                </select>
                            </div>
                            <div class="col-4">
                                <select class="form-control cus-form-control m-input m-input--square" id="sl_ward_work_company" name="LoanBriefJobModel.CompanyWardId" aria-hidden="true">
                                    <option></option>
                                </select>
                            </div>
                        </div>
                        <div style="margin-top: 10px">
                            <input class="form-control cus-form-control m-input cus-input-script" type="text" placeholder="Địa chỉ chi tiết" onchange="ScriptMotobikeModuleJS_v5.BindToTextbox(this, '#AddressComapanyGoogleMap')" name="LoanBriefJobModel.CompanyAddress" value="@Model.LoanBriefJobModel.CompanyAddress">
                        </div>
                    </div>
                </div>

                <div class="form-group m-form__group row-cus-script">
                    <div class="col-6 cus-border-right">
                        <label class="col-form-label">
                            Nơi làm việc/kinh doanh có địa điểm cố định
                        </label>
                    </div>
                    <div class="col-6 box-cus-row">
                        <div class="m-radio-inline">
                            <label class="m-radio">
                                <input type="radio" value="true" name="LoanBriefQuestionScriptModel.QuestionBusinessLocation" @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.QuestionBusinessLocation == true) ? "checked=\"checked\"" : "")>
                                Có
                                <span></span>
                            </label>
                            <label class="m-radio">
                                <input type="radio" value="false" name="LoanBriefQuestionScriptModel.QuestionBusinessLocation" @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.QuestionBusinessLocation == false) ? "checked=\"checked\"" : "")>
                                Không
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>


                <div class="form-group m-form__group row-cus-script">
                    <div class="col-6 cus-border-right">
                        <label class="col-form-label">
                            Tình trạng làm việc/kinh doanh
                        </label>
                    </div>
                    <div class="col-6 box-cus-row">
                        <div class="m-radio-inline">
                            <label class="m-radio">
                                <input type="radio" value="true" name="LoanBriefQuestionScriptModel.BusinessStatus" @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.BusinessStatus == true) ? "checked=\"checked\"" : "")>
                                Đang làm việc/hoạt động
                                <span></span>
                            </label>
                            <label class="m-radio">
                                <input type="radio" value="false" name="LoanBriefQuestionScriptModel.BusinessStatus" @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.BusinessStatus == false) ? "checked=\"checked\"" : "")>
                                Đã nghỉ việc/tạm dừng hoạt động
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group m-form__group row-cus-script">
                    <div class="col-6 cus-border-right">
                        <label class="col-form-label">
                            Tham gia BHXH
                        </label>
                    </div>
                    <div class="col-6 box-cus-row">
                        <div class="m-radio-inline">
                            <label class="m-radio label-color-right">
                                <input type="radio" value="true" onclick="ScriptMotobikeModuleJS_v5.GetMaxPrice()" name="LoanBriefJobModel.CompanyInsurance" @((Model.LoanBriefJobModel != null && Model.LoanBriefJobModel.CompanyInsurance == true) ? "checked=\"checked\"" : "")>
                                Có
                                <span></span>
                            </label>
                            <label class="m-radio label-color-right">
                                <input type="radio" value="false" onclick="ScriptMotobikeModuleJS_v5.GetMaxPrice()" name="LoanBriefJobModel.CompanyInsurance" @((Model.LoanBriefJobModel != null && Model.LoanBriefJobModel.CompanyInsurance == false) ? "checked=\"checked\"" : "")>
                                Không
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group m-form__group row-cus-script">
                    <div class="col-6 cus-border-right">
                        <label class="col-form-label" id="lbl_TotalIncome">
                            Thu nhập/tháng:
                        </label>
                    </div>
                    <div class="col-6  ">
                        <input style="text-align: right;" class="form-control cus-form-control m-input cus-input-script inputAmountVND" type="text" placeholder="" id="txtTotalIncome" name="LoanBriefJobModel.TotalIncome" value="@(Model.LoanBriefJobModel.TotalIncome.HasValue ? Model.LoanBriefJobModel.TotalIncome.Value.ToString("###,0") : "0")">
                    </div>
                </div>

                <div class="form-group m-form__group row-cus-script">
                    <div class="col-6 cus-border-right  ">
                        <label class="col-form-label">
                            Hình thức làm việc và nhận lương
                        </label>
                    </div>
                    <div class="col-6  ">
                        <select class="form-control cus-form-control m-input m-input--square" id="sl_TypeJob" name="LoanBriefQuestionScriptModel.TypeJob" onchange="ScriptMotobikeModuleJS_v5.ChangeTypeJob(this.value)">
                            <option></option>
                            <!option @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.TypeJob == 1) ? "selected=\"selected\"" : "") value="1">Lương chuyển khoản</!option>
                            <!option @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.TypeJob == 2) ? "selected=\"selected\"" : "") value="2">Lương tiền mặt</!option>
                            <!option @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.TypeJob == 3) ? "selected=\"selected\"" : "") value="3">Kinh doanh có ĐK</!option>
                            <!option @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.TypeJob == 4) ? "selected=\"selected\"" : "") value="4">Kinh doanh không có ĐK và làm tự do</!option>
                            <!option @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.TypeJob == 5) ? "selected=\"selected\"" : "") value="5">Tài xế/Shipper</!option>
                        </select>
                    </div>
                </div>

                <div class="form-group m-form__group row-cus-script" id="div-LuongCK" style="display: none;">
                    <div class="col-6 cus-border-right  ">
                        <label class="col-form-label">
                            Anh/chị vui lòng cung cấp ảnh một trong các giấy tờ sau
                        </label>
                    </div>
                    <div class="col-6  ">
                        <select class="form-control cus-form-control m-input m-input--square" id="sl_DocumentLuongCK" name="LoanBriefQuestionScriptModel.DocumentSalaryBankTransfer" onchange="ScriptMotobikeModuleJS_v5.GetMaxPrice()">
                            <option></option>
                            <!option @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.DocumentSalaryBankTransfer == 1) ? "selected=\"selected\"" : "") value="1">Tin nhắn lương SMS tháng gần nhất</!option>
                            <!option @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.DocumentSalaryBankTransfer == 2) ? "selected=\"selected\"" : "") value="2">Sao kê lương trên Internet banking/Mobile banking tháng gần nhất</!option>
                            <!option @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.DocumentSalaryBankTransfer == 3) ? "selected=\"selected\"" : "") value="3">Sao kê lương bản cứng có dấu đỏ của ngân hàng tháng gần nhất</!option>
                            <!option @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.DocumentSalaryBankTransfer == 4) ? "selected=\"selected\"" : "") value="4">Sổ BHXH/ thông tin BHXH trên web</!option>
                        </select>
                    </div>
                </div>

                <div class="form-group m-form__group row-cus-script" id="div-LuongTM" style="display: none;">
                    <div class="col-6 cus-border-right  ">
                        <label class="col-form-label">
                            Anh/chị vui lòng cung cấp ảnh một trong các giấy tờ sau
                        </label>
                    </div>
                    <div class="col-6">
                        <select class="form-control cus-form-control m-input m-input--square" id="sl_DocumentLuongTM" name="LoanBriefQuestionScriptModel.DocumetSalaryCash" onchange="ScriptMotobikeModuleJS_v5.GetMaxPrice()">
                            <option></option>
                            <!option @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.DocumetSalaryCash == 1) ? "selected=\"selected\"" : "") value="1">Ảnh chụp HĐLĐ có dấu đỏ của công ty, còn hiệu lực tối thiểu 3 tháng</!option>
                            <!option @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.DocumetSalaryCash == 2) ? "selected=\"selected\"" : "") value="2">Sổ BHXH/ thông tin BHXH trên web</!option>
                        </select>
                    </div>
                </div>

                <div class="form-group m-form__group row-cus-script div-TuKinhDoanh" style="display: none;">
                    <div class="col-6 cus-border-right  ">
                        <label class="col-form-label">
                            Anh/chị vui lòng cung cấp ảnh một trong các giấy tờ sau
                        </label>
                    </div>
                    <div class="col-6 box-cus-row">
                        <select class="form-control cus-form-control m-input m-input--square" id="sl_DocumentBusiness" name="LoanBriefQuestionScriptModel.DocumentBusiness" onchange="ScriptMotobikeModuleJS_v5.GetMaxPrice()">
                            @if (ListDocumentBusiness != null)
                            {
                                <option></option>
                                @foreach (var item in ListDocumentBusiness)
                                {
                                    if (Model.LoanBriefQuestionScriptModel != null
                                        && Model.LoanBriefQuestionScriptModel.DocumentBusiness != null
                                        && Model.LoanBriefQuestionScriptModel.DocumentBusiness.Value == Convert.ToInt32(item))
                                    {
                                        <option selected="selected" value="@Convert.ToInt32(item)">@LOS.Common.Helpers.ExtentionHelper.GetDescription((LOS.Common.Extensions.DocumentBusiness)item)</option>
                                    }
                                    else
                                    {
                                        <option value="@Convert.ToInt32(item)">@LOS.Common.Helpers.ExtentionHelper.GetDescription((LOS.Common.Extensions.DocumentBusiness)item)</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                </div>

                <div class="form-group m-form__group row-cus-script div-TuKinhDoanh" style="display: none;">
                    <div class="col-6 cus-border-right  ">
                        <label class="col-form-label">
                            Biển hiệu
                        </label>
                    </div>
                    <div class="col-6 box-cus-row">
                        <div class="m-radio-inline">
                            <label class="m-radio">
                                <input type="radio" @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.Signs == true) ? "checked=\"checked\"" : "") name="LoanBriefQuestionScriptModel.Signs" value="true" onclick="ScriptMotobikeModuleJS_v5.GetMaxPrice()">
                                Có
                                <span></span>
                            </label>
                            <label class="m-radio">
                                <input type="radio" @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.Signs == false) ? "checked=\"checked\"" : "") name="LoanBriefQuestionScriptModel.Signs" value="false" onclick="ScriptMotobikeModuleJS_v5.GetMaxPrice()">
                                Không
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group m-form__group row-cus-script div-TaiXeCongNghe" style="display: none;">
                    <div class="col-6 cus-border-right">
                        <label class="col-form-label">
                            Tài khoản mượn hay chính chủ
                        </label>
                    </div>
                    <div class="col-6">
                        <div class="m-radio-inline box-cus-row">
                            <label class="m-radio">
                                <input type="radio" @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.AccountDriver == true) ? "checked=\"checked\"" : "") name="LoanBriefQuestionScriptModel.AccountDriver" value="true" onclick="ScriptMotobikeModuleJS_v5.GetMaxPrice()">
                                Chính chủ
                                <span></span>
                            </label>
                            <label class="m-radio">
                                <input type="radio" @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.AccountDriver == false) ? "checked=\"checked\"" : "") name="LoanBriefQuestionScriptModel.AccountDriver" value="false" onclick="ScriptMotobikeModuleJS_v5.GetMaxPrice()">
                                Mượn tài khoản
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group m-form__group row-cus-script div-TaiXeCongNghe" style="display: none;">
                    <div class="col-6 cus-border-right">
                        <label class="col-form-label">
                            Tháng/năm bắt đầu chạy
                        </label>
                    </div>
                    <div class="col-6">
                        <input class="form-control cus-form-control m-input cus-input-script" type="text" name="LoanBriefQuestionScriptModel.StartWokingJob" value="@(Model.LoanBriefQuestionScriptModel != null ? Model.LoanBriefQuestionScriptModel.StartWokingJob : "")">
                    </div>
                </div>

                <div class="form-group m-form__group row-cus-script div-TaiXeCongNghe" style="display: none;">
                    <div class="col-6 cus-border-right">
                        <label class="col-form-label">
                            KH có cung cấp được Ảnh app tài khoản chứng minh doanh thu trong ít nhất 4 tuần gần đây không?
                        </label>
                    </div>
                    <div class="col-6">
                        <div class="m-radio-inline box-cus-row">
                            <label class="m-radio">
                                <input type="radio" @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.QuestionImageAppAccountRevenue == true) ? "checked=\"checked\"" : "") name="LoanBriefQuestionScriptModel.QuestionImageAppAccountRevenue" value="true" onclick="ScriptMotobikeModuleJS_v5.GetMaxPrice()">
                                Có
                                <span></span>
                            </label>
                            <label class="m-radio">
                                <input type="radio" @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.QuestionImageAppAccountRevenue == false) ? "checked=\"checked\"" : "") name="LoanBriefQuestionScriptModel.QuestionImageAppAccountRevenue" value="false" onclick="ScriptMotobikeModuleJS_v5.GetMaxPrice()">
                                Không
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group m-form__group row-cus-script div-CommentDetailJob" style="display: none;">
                    <div class="col-6 cus-border-right">
                        <label class="col-form-label">
                            Comment khác (nếu có)
                        </label>
                    </div>
                    <div class="col-6 box-cus-row">
                        <textarea rows="4" style="width: 100%;" name="LoanBriefQuestionScriptModel.CommentJob">@(Model.LoanBriefQuestionScriptModel != null ? Model.LoanBriefQuestionScriptModel.CommentJob : "")</textarea>
                    </div>
                </div>

                <div class="col-12 lbl-title">
                    <label>BƯỚC 5: CHỐT NHU CẦU VAY</label>
                </div>

                <div class="form-group m-form__group row-cus-script">
                    <div class="col-6 cus-border-right">
                        <label class="col-form-label">
                            - Với thông tin nơi ở, việc làm và đời xe như trên, bên em có thể xét cho anh/chị vay
                            số tiền từ tối đa là <span style="color: red;" id="txtMaxPrice">0</span> triệu VND - trong 12 tháng.<br />
                            - Số tiền vay cụ thể, bạn CVKD sẽ thông báo với anh sau khi kiểm tra bản gốc ĐKX
                            và hiện trạng thực tế của xe. Bên em sẽ luôn cố gắng hỗ trợ để anh vay được số tiền tối đa.<br />
                            - Em ví dụ, nếu điều kiện xe của anh thỏa mãn vay số tiền là: <span style="color: red;" id="txtMaxPrice2">0</span>  triệu thì số tiền cả gốc và lãi như sau:
                        </label>
                    </div>
                    <div class="col-6">
                        <input class="form-control cus-form-control m-input cus-input-script inputAmountVND" type="text" id="txtLoanAmount" name="LoanAmount" value="@(Model.LoanAmount > 0 ? Model.LoanAmount.ToString("###,0") : "0")" style="text-align: right;">
                        <div class="col-12 box-cus-row row" style="padding-top: 65px;">
                            <div class="col-6">
                                <button class="btn btn-tima" type="button" style="padding: 7px 30px;" onclick="ScriptMotobikeModuleJS_v5.ShowInterestTool()">Kiểm tra</button>
                            </div>
                            <div class="col-6" style="text-align: right;">
                                <button class="btn btn-tima" type="button" style="padding: 7px 30px;" onclick="ScriptMotobikeModuleJS_v5.HideInterestTool()">Ẩn lãi phí</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group m-form__group row-cus-script">
                    <div class="col-12" id="box-interesttool" style="margin-top: 15px;">
                    </div>
                </div>
                <div class="form-group m-form__group row-cus-script">
                    <div class="col-6 cus-border-right">
                        <label class="col-form-label">
                            Mục đích vay
                        </label>
                    </div>
                    <div class="col-6">
                        <select class="form-control cus-form-control m-input m-input--square" name="LoanPurpose" id="sl_LoanPurpose">
                            <option></option>
                            @if (ListLoanPurpose != null && ListLoanPurpose.Count > 0)
                            {
                                <option></option>
                                foreach (var item in ListLoanPurpose)
                                {
                                    if (Convert.ToInt32(item.Value) == Model.LoanPurpose)
                                    {
                                        <option value="@item.Value" selected="selected">
                                            @item.Text
                                        </option>
                                    }
                                    else
                                    {
                                        <!option value="@item.Value" @(Convert.ToInt32(item.Value) == 2 ? "selected=\"selected\"" : "")>
                                            @item.Text
                                        </!option>
                                    }
                                }
                            }
                        </select>
                    </div>
                </div>

                <div class="form-group m-form__group row-cus-script">
                    <div class="col-6 cus-border-right">
                        <label class="col-form-label">
                            Hình thức thanh toán
                        </label>
                    </div>
                    <div class="col-6">
                        <select class="form-control cus-form-control m-input m-input--square" id="sl_RateType" name="RateTypeId">
                            <option></option>
                            @if (ListLoanProduct != null && ListLoanProduct.Any(x => x.LoanProductId == Model.ProductId) && ListLoanProduct.Where(x => x.LoanProductId == Model.ProductId).FirstOrDefault().TypeProductId == 1)
                            {
                                <!option value="@((int)LOS.Common.Extensions.EnumRateType.DuNoGiamDan)" @(Model.RateTypeId == (int)LOS.Common.Extensions.EnumRateType.DuNoGiamDan ? "selected=\"selected\"" : "")>Dư nợ giảm dần</!option>
                            }
                            else
                            {
                                <!option value="@((int)LOS.Common.Extensions.EnumRateType.TatToanCuoiKy)" @(Model.RateTypeId == (int)LOS.Common.Extensions.EnumRateType.TatToanCuoiKy ? "selected=\"selected\"" : "")>Tất toán cuối kỳ</!option>
                                <!option value="@((int)LOS.Common.Extensions.EnumRateType.DuNoGiamDan)" @(Model.RateTypeId == (int)LOS.Common.Extensions.EnumRateType.DuNoGiamDan ? "selected=\"selected\"" : "")>Dư nợ giảm dần</!option>
                            }
                        </select>
                    </div>
                </div>



                <div class="form-group m-form__group row-cus-script">
                    <div class="col-6 cus-border-right">
                        <label class="col-form-label">
                            Khoản vay của mình sẽ được khấu trừ 5% phí bảo hiểm nhé,
                            trong trường hợp xảy ra các rủi ro không đáng có,
                            bảo hiểm sẽ thực hiện chi trả thay anh/ chị, không ảnh hưởng tới những người thân của mình.
                        </label>
                    </div>
                    <div class="col-4">
                        <div class="m-checkbox-list" style="margin-top: 10px">
                            <label class="m-checkbox m-checkbox--state-brand" style="text-align: left !important;">
                                <input @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.AdvisoryDeductInsurance == true) ? "checked=\"checked\"" : "") type="checkbox" value="true" name="LoanBriefQuestionScriptModel.AdvisoryDeductInsurance">
                                Đã tư vấn
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group m-form__group row-cus-script">
                    <div class="col-6 cus-border-right">
                        <label class="col-form-label">
                            Khi làm hồ sơ vay, bên em sẽ giữ lại bản gốc ĐKX/Cavet xe,
                            và cấp cho mình một giấy lưu hành xe để mình thuận tiện tham gia giao thông.
                            Khi nào mình tất toán, bên em sẽ gửi lại ĐK gốc ạ.
                        </label>
                    </div>
                    <div class="col-4">
                        <div class="m-checkbox-list" style="margin-top: 10px;">
                            <label class="m-checkbox m-checkbox--state-brand" style="text-align: left !important;">
                                <input @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.AdvisoryKeepRegisteredMotobike == true) ? "checked=\"checked\"" : "") type="checkbox" value="true" name="LoanBriefQuestionScriptModel.AdvisoryKeepRegisteredMotobike">
                                Đã tư vấn
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group m-form__group row-cus-script">
                    <div class="col-6 cus-border-right">
                        <label class="col-form-label">
                            Để bảo mật khoản vay, bên em sẽ giải ngân vào tài khoản của anh/chị
                            Anh/Chị đã có tài khoản ở ngân hàng nào chưa ạ?
                        </label>
                    </div>
                    <div class="col-6">
                        <div class="m-radio-inline" style="margin-top: 10px">
                            <label class="m-radio">
                                <input type="radio" @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.QuestionAccountBank == true) ? "checked=\"checked\"" : "") name="LoanBriefQuestionScriptModel.QuestionAccountBank" value="true">
                                Đã có sẵn
                                <span></span>
                            </label>
                            <label class="m-radio">
                                <input type="radio" @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.QuestionAccountBank == false) ? "checked=\"checked\"" : "") name="LoanBriefQuestionScriptModel.QuestionAccountBank" value="false">
                                Chưa có, Tls đã báo khách hàng đi mở TKNN
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="col-12 lbl-title">
                    <label>BƯỚC 6: THÔNG TIN TRƯỚC KHI ĐẨY LEAD</label>
                </div>
                <div class="form-group m-form__group row-cus-script">
                    <div class="col-6 cus-border-right">
                        <label class="col-form-label">Anh/chị vui lòng xác nhận lại số điện thoại đăng ký vay</label>
                    </div>
                    <div class="col-3 box-cus-row">
                        <input class="form-control cus-form-control m-input cus-input-script" type="text" id="txtPhoneSearch" value="@Model.Phone">
                    </div>
                    <div class="col-3 box-cus-row">
                        <button class="btn  btn-tima" type="button" style="padding: 7px 30px;" onclick="ScriptMotobikeModuleJS_v5.GetLoanBrief($('#txtPhoneSearch').val())">Kiểm tra</button>
                    </div>
                </div>

                <div id="loading" style="left:50%;margin-top: -2%;position:fixed;display:none;">
                    <img src="~/img/loading1.gif">
                </div>

                <div class="form-group m-form__group row-cus-script">
                    <div class="col-10 offset-1" id="box-loanbrief-search" style="margin-top: 15px;">

                    </div>
                </div>

                <div class="form-group m-form__group row-cus-script">
                    <div class="col-6 cus-border-right  ">
                        <label class="col-form-label">
                            Anh/chị xác nhận lại  giúp em số CMND
                            <span style="color: red;">(*)</span>
                        </label>
                    </div>
                    <div class="col-3  ">
                        <input class="form-control cus-form-control m-input cus-input-script" type="text" name="NationalCard" value="@Model.NationalCard">
                    </div>
                </div>

                <div class="form-group m-form__group row-cus-script">
                    <div class="col-6 cus-border-right  ">
                        <label class="col-form-label">Anh/Chị cho em xin ngày tháng năm sinh <span style="color: red;">(*)</span></label>
                    </div>
                    <div class="col-3  ">
                        <div class="input-group date">
                            <input type="text" class="form-control cus-form-control m-input cus-input-script cus-datepicker" id="txtBirthDay" name="sBirthDay" placeholder="Ngày sinh" value="@Model.sBirthDay" onchange="ScriptMotobikeModuleJS_v5.InitChangeBirday(this.value)">
                            <i class="fa fa-calendar" style="padding-top: 3%;font-size: 15pt; border-bottom: 1px solid rgba(108, 114, 147, 1)"></i>
                        </div>
                    </div>
                </div>

                <div class="form-group m-form__group row-cus-script">
                    <div class="col-6 cus-border-right  ">
                        <label class="col-form-label">Giới tính</label>
                    </div>
                    <div class="col-3  ">
                        <div class="m-radio-inline" style="margin-top: 10px">
                            <label class="m-radio">
                                <input type="radio" @(Model.Gender == 0 ? "checked=\"checked\"" : "") name="Gender" value="0">
                                Nam
                                <span></span>
                            </label>
                            <label class="m-radio">
                                <input type="radio" name="Gender" @(Model.Gender == 1 ? "checked=\"checked\"" : "") value="1">
                                Nữ
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group m-form__group row-cus-script">
                    <div class="col-6 cus-border-right">
                        <label class="col-form-label">
                            <span style="color: #4747c3; font-weight: 700;">Telesales nhắc khách hàng các lưu ý khi ký hồ sơ:</span> <br />
                            1. Mang theo bản gốc CMT/CCCD để CVKD kiểm tra<br />
                            2. M ang theo xe máy để CVKD kiểm tra<br />
                            3. Mang theo bản gốc ĐKX/CAVET của xe máy trên để CVKD lưu giữ tại Tima<br />
                            4. CVKD khi thẩm định hồ sơ, nếu điều kiện thực tế của anh/chị khác với thông tin khai trên thì CVKD
                            có thể yêu cầu bổ sung thêm giấy tờ. Anh/chị vui lòng hỗ trợ cung cấp thêm cho bên em nhé
                        </label>
                    </div>
                    <div class="col-6 box-cus-row">
                        <div class="m-checkbox-list" style="margin-top: 10px">
                            <label class="m-checkbox m-checkbox--state-brand" style="text-align: left !important;">
                                <input @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.AdvisoryKeepRegisteredMotobike == true) ? "checked=\"checked\"" : "") type="checkbox" value="true" name="LoanBriefQuestionScriptModel.RemindCustomerDocument">
                                Đã tư vấn
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>

                @if (ViewBag.HomeNetwork == (int)LOS.Common.Extensions.HomeNetWorkMobile.Viettel || ViewBag.HomeNetwork == (int)LOS.Common.Extensions.HomeNetWorkMobile.Mobi)
                {
                    <div class="form-group m-form__group row-cus-script">
                        <div class="col-6 cus-border-right  ">
                            @if (ViewBag.HomeNetwork == (int)LOS.Common.Extensions.HomeNetWorkMobile.Viettel)
                            {
                                <label class="col-form-label">
                                    Anh/ Chị vui lòng soạn tin nhắn theo đúng cú pháp: TIMA Y1 gửi 5788 ( miễn phí)
                                    để được hỗ trợ duyệt giải ngân nhanh nhất.
                                    <span style="font-size: 12px; color: #ADB0C2;width: 100%; float: left">
                                        (Viettel)
                                    </span>
                                </label>
                            }
                            else
                            {
                                <label class="col-form-label">
                                    Anh/ Chị vui lòng soạn tin nhắn theo đúng cú pháp: DK TIMA gửi 90032 ( miễn phí)
                                    để được hỗ trợ duyệt giải ngân nhanh nhất.
                                    <span style="font-size: 12px; color: #ADB0C2;width: 100%; float: left">
                                        (Mobifone)
                                    </span>
                                </label>
                            }
                        </div>
                        <div class="col-3  ">
                            <div class="m-checkbox-list" style="margin-top: 10px">
                                <label class="m-checkbox m-checkbox--state-brand" style="text-align: left !important;">
                                    <input type="checkbox" value="true" @(Model.IsTrackingLocation == true ? "checked=\"checked\"" : "") name="IsTrackingLocation">
                                    Location Sim
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                }


                @if (Model.LoanBriefId > 0)
                {
                    <div class="row" style="border: none; padding-top: 25px" id="box-group-action">
                        <div class="col-6">
                            <button type="button" class="btn btn-cus-default" style="width: 100%" onclick="ScriptMotobikeModuleJS_v5.CancelLoanBrief(@Model.LoanBriefId)" id="btnRefuse">
                                Không duyệt
                            </button>
                        </div>
                        <div class="col-6">
                            <button type="button" class="btn btn-tima" id="btnScriptSave" onclick="ScriptMotobikeModuleJS_v5.SubmitForm()" style="width: 100%">
                                Lưu thông tin
                            </button>
                        </div>
                    </div>
                }
                else
                {
                    <div class="row" style="border: none; padding-top: 25px" id="box-group-action">
                        <div class="col-6">
                            <button type="button" data-dismiss="modal" class="btn btn-cus-default" style="width: 100%">
                                Đóng
                            </button>
                        </div>
                        <div class="col-6">
                            <button type="button" class="btn btn-tima" id="btnScriptSave" onclick="ScriptMotobikeModuleJS_v5.SubmitCreateLoanBrief()" style="width: 100%">
                                Tạo đơn vay
                            </button>
                        </div>
                    </div>
                }

            </div>
        </div>
    </form>
</div>

<script src="~/js/ScriptTelesales/ScriptMotobikeModuleJS_v5.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
<script type="text/javascript">
    $(document).ready(function () {
         $('.cus-datepicker').datepicker({
            todayBtn: "linked",
            clearBtn: false,
            clearBtn: false,
            todayHighlight: true,
            orientation: "bottom left",
            format: 'dd/mm/yyyy',
            templates: {
                leftArrow: '<i class="la la-angle-left"></i>',
                rightArrow: '<i class="la la-angle-right"></i>'
            }
        });
        ScriptMotobikeModuleJS_v5.Init();
        //Thông tin nơi ở
        ScriptMotobikeModuleJS_v5.GetDistrict('@Model.ProvinceId', '@Model.DistrictId', '#box-script #sl_district_addresshome', '#box-script #sl_ward_addresshome');
        ScriptMotobikeModuleJS_v5.GetWard('@Model.DistrictId', '@Model.WardId', '#box-script #sl_ward_addresshome');
        //Thông tin hộ khẩu
        ScriptMotobikeModuleJS_v5.GetDistrict('@Model.LoanBriefHouseholdModel.ProvinceId', '@Model.LoanBriefHouseholdModel.DistrictId', '#box-script #sl_district_addresshousehold', '#box-script #sl_ward_addresshousehold');
        ScriptMotobikeModuleJS_v5.GetWard('@Model.LoanBriefHouseholdModel.DistrictId', '@Model.LoanBriefHouseholdModel.WardId','#box-script #sl_ward_addresshousehold');
        ScriptMotobikeModuleJS_v5.GetProduct('@Model.LoanBriefPropertyModel.BrandId', '@Model.LoanBriefPropertyModel.ProductId');
        //Thông tin công ty
        ScriptMotobikeModuleJS_v5.GetDistrict('@Model.LoanBriefJobModel.CompanyProvinceId', '@Model.LoanBriefJobModel.CompanyDistrictId', '#box-script #sl_district_work_company', '#box-script #sl_ward_work_company')
        ScriptMotobikeModuleJS_v5.GetWard('@Model.LoanBriefJobModel.CompanyDistrictId', '@Model.LoanBriefJobModel.CompanyWardId','#box-script #sl_ward_work_company');
        //Load định giá xe ra kịch bản
        ScriptMotobikeModuleJS_v5.InitPriceMoto('@Model.LoanBriefPropertyModel.ProductId', '@Model.LoanBriefQuestionScriptModel.TypeOwnerShip', '@Model.LoanBriefJobModel.JobId', '@Model.LoanBriefJobModel.ImcomeType', '@Model.LoanBriefJobModel.CompanyInsurance', '@Model.LoanBriefJobModel.BusinessPapers', '@Model.ProductId', '@Model.LoanBriefId');
        //Load chứng từ công việc
        ScriptMotobikeModuleJS_v5.InitTypeJob('@Model.LoanBriefQuestionScriptModel.TypeJob');

        App.LibraryMoney();
        App.ValidCustom();
    });
</script>