﻿@model LOS.WebApp.Models.LoanbriefScriptViewModel
@using LOS.WebApp.Services;
@using System.Text.Json;
@using LOS.DAL.EntityFramework;
@inject INetworkService _networkService;
@{
    Layout = null;
    var user = ViewBag.User as LOS.DAL.DTOs.UserDetail;
    var ListProvince = ViewBag.ListProvince as List<LOS.DAL.DTOs.ProvinceDetail>;
    var ListBrandProduct = ViewBag.ListBrandProduct as List<LOS.DAL.DTOs.BrandProductDetail>;
    var ListLoanProduct = ViewBag.ListLoanProduct as List<LOS.DAL.EntityFramework.LoanProduct>;
    var ListLoanPurpose = ViewBag.ListLoanPurpose as List<SelectListItem>;
    var lstJob = ViewBag.ListJobs as List<LOS.DAL.DTOs.JobDetail>;
    var lstInfomationProductDetail = ViewBag.ListInfomationProductDetail as List<LOS.DAL.DTOs.ProductDetailModel>;
    var ListLogRequestAi = ViewBag.ListLogRequestAi as List<LOS.DAL.EntityFramework.LogLoanInfoAi>;
}
<style>
    .custom-m-boder-box {
        border: 1px solid rgba(108, 114, 147, 1) !important;
    }

    .cus-info-header {
        padding-top: 20px;
        padding-left: 35px;
    }

    select.form-control:not([size]):not([multiple]) {
        height: unset;
    }

    .m-form.m-form--group-seperator-dashed .m-form__group {
        border-bottom: none;
    }

    .m-form.m-form--group-seperator-dashed .m-form__group {
        padding-bottom: 10px;
        padding-top: 5px;
    }

    .modal-open .select2-dropdown {
        z-index: 10060;
    }

    .btn-tima {
        background-color: rgba(108, 114, 147, 1);
        border-color: rgba(108, 114, 147, 1);
        color: #fff;
    }

    .btn-cus-default {
        color: rgba(108, 114, 147, 1);
        border-color: rgba(108, 114, 147, 1);
        background-color: #fff;
        padding: 7px 20px !important;
    }

    .error-notify {
        margin-top: 0px !important;
    }

    .row-cus-script {
        border-bottom: 1px solid #e9ecef !important;
        margin-left: 0px;
        margin-right: 0px;
        display: flex;
        padding: 0px !important;
    }

    .cus-input-script {
        border: none !important;
        border-bottom: 1px solid rgba(108, 114, 147, 1) !important;
        border-radius: 0;
        font-size: 14px;
    }

    .cus-border-right {
        border-right: 1px solid #e9ecef;
    }

    #formScriptTelesalesv2 .select2-container--default .select2-selection--single {
        border: none !important;
        border-bottom: solid 1px !important;
        border-radius: 0 !important;
        color: #9CA0B6;
    }

    #formScriptTelesalesv2 .table th, .table td {
        padding: 5px !important;
    }

    .label-color-left {
        color: #18adf4 !important;
    }

    .label-color-right {
        color: #ed522e !important;
    }

    .lbl-title {
        text-align: center;
        font-weight: 700;
        padding-top: 10px;
        background-color: #e0e0e0;
    }

    .box-cus-row {
        padding: 10px 15px;
    }

    .lbl-gim-tls {
        font-size: 12px !important;
        font-style: italic;
        font-weight: 900 !important;
    }
</style>

<div class="modal-content">
    <div class="modal-header" style="padding: 15px;">
        <div class="m-demo-icon__class" style="
        margin-top: 5px;
        margin-left: 10px;
        font-weight: bold
   ">
            THÔNG TIN KHÁCH HÀNG
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: 0px">
            <span aria-hidden="true">
                &times;
            </span>
        </button>
    </div>
    <form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" id="formScriptTelesalesv6">
        <div class="modal-body" style="padding: 0px 40px; padding-bottom: 25px;" id="box-script">
            <div class="m-portlet__body">
                <input type="hidden" id="hdd_LoanBriefId" name="LoanBriefId" value="@Model.LoanBriefId" />
                <input type="hidden" name="ReMarketingLoanBriefId" value="@Model.ReMarketingLoanBriefId" />
                <input type="hidden" name="CustomerId" value="@Model.CustomerId" />
                <input type="hidden" value="@Model.Phone" name="Phone" />
                <input type="hidden" value="@Model.UtmSource" name="UtmSource" />
                <input type="hidden" id="hdd_TypeOwnerShip" name="LoanBriefResidentModel.ResidentType" value="@((Model.LoanBriefResidentModel != null && Model.LoanBriefResidentModel.ResidentType > 0) ? Model.LoanBriefResidentModel.ResidentType : 0)" />
                <input type="hidden" id="hdd_ImcomeType" name="LoanBriefJobModel.ImcomeType" value="@((Model.LoanBriefJobModel != null && Model.LoanBriefJobModel.ImcomeType != null) ? Model.LoanBriefJobModel.ImcomeType : null)" />
                <input type="hidden" id="hdd_BusinessPapers" name="LoanBriefJobModel.BusinessPapers" value="@((Model.LoanBriefJobModel != null && Model.LoanBriefJobModel.BusinessPapers != null) ? Model.LoanBriefJobModel.BusinessPapers : null)" />
                <input type="hidden" id="hdd_MaxPrice" value="0" name="LoanBriefQuestionScriptModel.MaxPrice" />
                <input type="hidden" id="hdd_Appraiser" value="@(Model.LoanBriefQuestionScriptModel !=null && Model.LoanBriefQuestionScriptModel.Appraiser.HasValue ? Model.LoanBriefQuestionScriptModel.Appraiser : 0)" />
                <input type="hidden" id="hdd_DocumentBusiness" value="@(Model.LoanBriefQuestionScriptModel !=null && Model.LoanBriefQuestionScriptModel.DocumentBusiness.HasValue ? Model.LoanBriefQuestionScriptModel.DocumentBusiness : 0)" />
                <input type="hidden" id="hdd_ChangePercentInsurance" value="@(Model.IsChangeInsurance == true ? "1": "0")" />
                <input type="hidden" id="hdd_DetailProduct" value="@Model.ProductDetailId" />
                <input type="hidden" name="TypeRemarketing" value="@Model.TypeRemarketing" />

                @if (Model.LoanBriefId > 0)
                {
                    <div class="row" style="border: none;" id="box-group-action">
                        <div class="col-6">
                            <button type="button" class="btn btn-tima" style="width: 100%" onclick="ScriptMotobikeModuleJS_v6.CancelLoanBrief(@Model.LoanBriefId)" id="btnRefuse">
                                Hủy
                            </button>
                        </div>
                        <div class="col-6">
                            <button type="button" class="btn btn-tima" id="btnScriptSave" onclick="ScriptMotobikeModuleJS_v6.SubmitForm()" style="width: 100%">
                                Lưu thông tin
                            </button>
                        </div>
                    </div>
                }
                <div class="col-12 lbl-title">
                    <label>BƯỚC 1: XÁC ĐỊNH CÁC YẾU TỐ QLF</label>
                </div>

                <div class="form-group m-form__group row-cus-script">
                    <div class="col-6 cus-border-right  ">
                        <label class="col-form-label">
                            Em chào anh/chị <b>@Model.FullName</b>.
                            Em là <strong>@user.FullName</strong>, gọi cho anh/chị từ sàn kết nối tài chính Tima.
                            Em có nhận được đơn đăng ký vay của mình trên hệ thống Tima,
                            Vui lòng cho em xin ít phút để tư vấn gói vay này nhé
                        </label>
                    </div>
                    <div class="col-3">
                        <input class="form-control cus-form-control m-input cus-input-script" type="text" name="FullName" value="@Model.FullName">
                    </div>
                </div>



                <div class="form-group m-form__group row-cus-script">
                    <div class="col-6 cus-border-right">
                        <label class="col-form-label">Anh/chị vui lòng xác nhận lại số điện thoại đăng ký vay</label>
                    </div>
                    <div class="col-3">
                        <input class="form-control cus-form-control m-input cus-input-script" type="text" id="txtPhoneSearch" value="@Model.Phone">
                    </div>
                    @if (Model.ReMarketingLoanBriefId == null)
                    {
                        <div class="col-3">
                            <button class="btn  btn-tima" type="button" style="padding: 7px 30px;" onclick="ScriptMotobikeModuleJS_v6.GetLoanBrief($('#txtPhoneSearch').val())">Kiểm tra</button>
                        </div>
                    }
                </div>

                <div class="form-group m-form__group row-cus-script" id="div-loanbrief-check" style="display: none;">
                    <div class="col-10 offset-1" id="box-loanbrief-search">
                    </div>
                </div>

                <div class="form-group m-form__group row-cus-script">
                    <div class="col-6 cus-border-right  ">
                        <label class="col-form-label">
                            Anh/chị xác nhận lại  giúp em số CMND
                            <span style="color: red;">(*)</span>
                        </label>
                    </div>
                    <div class="col-3">
                        <input class="form-control cus-form-control m-input cus-input-script" type="text" name="NationalCard" value="@Model.NationalCard">
                    </div>
                    <div class="col-3">
                        <div class="m-radio-inline" style="margin-top: 10px">
                            <label class="m-radio">
                                <input type="radio" @(Model.Gender == 0 ? "checked=\"checked\"" : "") name="Gender" value="0">
                                Nam
                                <span></span>
                            </label>
                            <label class="m-radio">
                                <input type="radio" name="Gender" @(Model.Gender == 1 ? "checked=\"checked\"" : "") value="1">
                                Nữ
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group m-form__group row-cus-script">
                    <div class="col-6 cus-border-right  ">
                        <label class="col-form-label">1. Khách hàng sinh ngày tháng năm nào? <span style="color: red;">(*)</span></label>
                    </div>
                    <div class="col-3  ">
                        <div class="input-group date">
                            <input type="text" class="form-control cus-form-control m-input cus-input-script cus-datepicker" id="txtBirthDay" name="sBirthDay" placeholder="Ngày sinh" value="@Model.sBirthDay" onchange="ScriptMotobikeModuleJS_v6.InitChangeBirday(this.value)">
                            <i class="fa fa-calendar" style="padding-top: 3%;font-size: 15pt; border-bottom: 1px solid rgba(108, 114, 147, 1)"></i>
                        </div>
                    </div>
                </div>

                <div class="form-group m-form__group row-cus-script">
                    <div class="col-6 cus-border-right">
                        <label class="col-form-label">
                            2. Khách hàng có nghe máy không?
                            <span style="color: red;">(*)</span>
                        </label>
                    </div>
                    <div class="col-3" style="margin-top: 10px">
                        <div class="m-radio-inline">
                            <label class="m-radio">
                                <input type="radio" value="true" name="QuestionNotCall">
                                Có
                                <span></span>
                            </label>
                            <label class="m-radio">
                                <input type="radio" value="false" name="QuestionNotCall">
                                Không
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group m-form__group row-cus-script">
                    <div class="col-6 cus-border-right  ">
                        <label class="col-form-label">
                            3. Khách hàng có nhu cầu vay không?
                            <span style="color: red;">(*)</span>
                        </label>
                    </div>
                    <div class="col-3  " style="margin-top: 10px">
                        <div class="m-radio-inline">
                            <label class="m-radio">
                                <input type="radio" @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.QuestionBorrow == true) ? "checked=\"checked\"" : "") name="LoanBriefQuestionScriptModel.QuestionBorrow" value="true">
                                Có
                                <span></span>
                            </label>
                            <label class="m-radio">
                                <input type="radio" @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.QuestionBorrow == false) ? "checked=\"checked\"" : "") name="LoanBriefQuestionScriptModel.QuestionBorrow" value="false">
                                Không
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group m-form__group row-cus-script">
                    <div class="col-6 cus-border-right  ">
                        <label class="col-form-label">
                            4. Khách hàng có thuộc khu vực hỗ trợ không? <span style="color: blue;">(*)</span>
                        </label>
                    </div>
                    <div class="col-6">
                        <div class="m-radio-inline" style="margin-top: 10px">
                            <label class="m-radio" style="color: blue;">
                                <input type="radio" value="true" name="LoanBriefQuestionScriptModel.QuestionSupportArea" @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.QuestionSupportArea == true) ? "checked=\"checked\"" : "") onclick="ScriptMotobikeModuleJS_v6.InitDisplayCancel(this.value)">
                                Có
                                <span></span>
                            </label>
                            <label class="m-radio" style="color: blue;">
                                <input type="radio" value="false" name="LoanBriefQuestionScriptModel.QuestionSupportArea" @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.QuestionSupportArea == false) ? "checked=\"checked\"" : "") onclick="ScriptMotobikeModuleJS_v6.InitDisplayCancel(this.value)" @*@((Model.LoanAutoCall == false && Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.QuestionSupportArea != null) ? "disabled=\"disabled\"" : "")*@>
                                Không
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group m-form__group row-cus-script">
                    <div class="col-6 cus-border-right">
                        <label class="col-form-label">
                            5. Khách hàng có xe máy không?
                            <span style="color: blue;">(*)</span>
                        </label>
                    </div>
                    <div class="col-3" style="margin-top: 10px">
                        <div class="m-radio-inline">
                            <label class="m-radio" style="color: blue;">
                                <input type="radio" @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.QuestionUseMotobikeGo == true) ? "checked=\"checked\"" : "") name="LoanBriefQuestionScriptModel.QuestionUseMotobikeGo" value="true">
                                Có
                                <span></span>
                            </label>
                            <label class="m-radio" style="color: blue;">
                                <input type="radio" @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.QuestionUseMotobikeGo == false) ? "checked=\"checked\"" : "") name="LoanBriefQuestionScriptModel.QuestionUseMotobikeGo" value="false" onclick="ScriptMotobikeModuleJS_v6.InitDisplayNoMotobike(this.name)" @((Model.LoanAutoCall == false && Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.QuestionUseMotobikeGo != null) ? "disabled=\"disabled\"" : "")>
                                Không
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group m-form__group row-cus-script">
                    <div class="col-6 cus-border-right">
                        <label class="col-form-label">
                            6. Khách hàng có bản gốc ĐKX/Cavet không?
                            <span style="color: red;">(*)</span>
                        </label>
                    </div>
                    <div class="col-6">
                        <div class="m-radio-inline" style="margin-top: 10px">
                            <label class="m-radio">
                                <input type="radio" @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.QuestionMotobikeCertificate == true) ? "checked=\"checked\"" : "") name="LoanBriefQuestionScriptModel.QuestionMotobikeCertificate" value="true">
                                Có
                                <span></span>
                            </label>
                            <label class="m-radio">
                                <input type="radio" @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.QuestionMotobikeCertificate == false) ? "checked=\"checked\"" : "") name="LoanBriefQuestionScriptModel.QuestionMotobikeCertificate" value="false">
                                Không
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>


                <div class="form-group m-form__group row-cus-script">
                    <div class="col-6 cus-border-right  ">
                        <label class="col-form-label label-color-left">
                            Khách hàng thuộc KT1 hay KT3?
                        </label>
                    </div>
                    <div class="col-6">
                        <div class="m-radio-inline" style="margin-top: 10px">
                            <label class="m-radio label-color-right">
                                <input type="radio" value="true" @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.QuestionAddressCoincideAreaSupport == true) ? "checked=\"checked\"" : "") name="LoanBriefQuestionScriptModel.QuestionAddressCoincideAreaSupport" onclick="ScriptMotobikeModuleJS_v6.ChangeAddressCoincideAreaSupport(this.value)">
                                KT1
                                <span></span>
                            </label>
                            <label class="m-radio label-color-right">
                                <input type="radio" value="false" @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.QuestionAddressCoincideAreaSupport == false) ? "checked=\"checked\"" : "") name="LoanBriefQuestionScriptModel.QuestionAddressCoincideAreaSupport" onclick="ScriptMotobikeModuleJS_v6.ChangeAddressCoincideAreaSupport(this.value)">
                                KT3
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group m-form__group row-cus-script">
                    <div class="col-6 cus-border-right">
                        <label class="col-form-label label-color-left">
                            Khách hàng có giấy tờ chứng minh công việc không?
                        </label>
                    </div>
                    <div class="col-6">
                        <div class="m-radio-inline" style="margin-top: 10px">
                            <label class="m-radio">
                                <input type="radio" @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.QuestionDocumentJob == true) ? "checked=\"checked\"" : "") name="LoanBriefQuestionScriptModel.QuestionDocumentJob" value="true">
                                Có
                                <span></span>
                            </label>
                            <label class="m-radio">
                                <input type="radio" @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.QuestionDocumentJob == false) ? "checked=\"checked\"" : "") name="LoanBriefQuestionScriptModel.QuestionDocumentJob" value="false">
                                Không
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group m-form__group row-cus-script">
                    <div class="col-6 cus-border-right">
                        <label class="col-form-label">
                            HÌNH THỨC CƯ TRÚ
                        </label>
                    </div>
                    <div class="col-6 box-group">
                        <label class="col-form-label" id="lbl_type_ownership" style="color: red;"></label>
                    </div>
                </div>

                <div class="col-12 lbl-title">
                    <label>BƯỚC 2: XÁC ĐỊNH NƠI Ở</label>
                </div>

                @*<div class="form-group m-form__group row-cus-script">
            <div class="col-6 cus-border-right  ">
                <label class="col-form-label">
                    Anh/chị cho em hỏi mình có nhu cầu vay bao nhiêu để em tư vấn gói vay cho mình phù hợp ạ?
                </label>
            </div>
            <div class="col-3">
                <input class="form-control cus-form-control m-input cus-input-script inputAmountVND" type="text" id="txtLoanAmountFirst" name="LoanBriefQuestionScriptModel.LoanAmountFirst" value="@(Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.LoanAmountFirst.HasValue ? Model.LoanBriefQuestionScriptModel.LoanAmountFirst.Value.ToString("###,0") : "0")">
            </div>
        </div>*@

                <div class="form-group m-form__group row-cus-script">
                    <div class="col-6 cus-border-right">
                        <label class="col-form-label">
                            Địa chỉ sổ hộ khẩu của anh/chị là?
                        </label>
                    </div>
                    <div class="col-6 box-group">
                        <div class="row">
                            <div class="col-4">
                                <select class="form-control cus-form-control m-input m-input--square" id="sl_province_addresshousehold" name="LoanBriefHouseholdModel.ProvinceId" onchange="ScriptMotobikeModuleJS_v6.GetDistrict(this.value, 0, '#box-script #sl_district_addresshousehold', '#box-script #sl_ward_addresshousehold')">
                                    @if (ListProvince != null && ListProvince.Count > 0)
                                    {
                                        <option></option>
                                        foreach (var item in ListProvince)
                                        {
                                            if (item.ProvinceId == Model.LoanBriefHouseholdModel.ProvinceId)
                                            {
                                                <option value="@item.ProvinceId" selected="selected">
                                                    @item.Name
                                                </option>
                                            }
                                            else
                                            {
                                                <option value="@item.ProvinceId">@item.Name</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-4">
                                <select class="form-control cus-form-control m-input m-input--square" id="sl_district_addresshousehold" name="LoanBriefHouseholdModel.DistrictId" onchange="ScriptMotobikeModuleJS_v6.GetWard(this.value, 0, '#box-script #sl_ward_addresshousehold')">
                                    <option></option>
                                </select>
                            </div>
                            <div class="col-4">
                                <select class="form-control cus-form-control m-input m-input--square" id="sl_ward_addresshousehold" name="LoanBriefHouseholdModel.WardId" aria-hidden="true">
                                    <option></option>
                                </select>
                            </div>
                        </div>
                        <div>
                            <input class="form-control cus-form-control m-input cus-input-script" type="text" placeholder="Địa chỉ hộ khẩu" name="LoanBriefHouseholdModel.Address" value="@Model.LoanBriefHouseholdModel.Address">
                        </div>
                    </div>
                </div>

                <div class="form-group m-form__group row-cus-script">
                    <div class="col-6 cus-border-right  ">
                        <label class="col-form-label">
                            Địa chỉ nơi ở hiện tại của anh chị là?
                            <span style="color: red;">(*)</span>
                        </label>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-4">
                                <select class="form-control cus-form-control  m-select2" id="sl_province_addresshome" name="ProvinceId" onchange="ScriptMotobikeModuleJS_v6.GetDistrict(this.value, 0, '#box-script #sl_district_addresshome', '#box-script #sl_ward_addresshome')">
                                    @if (ListProvince != null && ListProvince.Count > 0)
                                    {
                                        <option></option>
                                        foreach (var item in ListProvince)
                                        {
                                            if (item.ProvinceId == Model.ProvinceId)
                                            {
                                                <option value="@item.ProvinceId" selected="selected">
                                                    @item.Name
                                                </option>
                                            }
                                            else
                                            {
                                                <option value="@item.ProvinceId">@item.Name</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-4">
                                <select class="form-control cus-form-control m-input m-input--square" id="sl_district_addresshome" name="DistrictId" tabindex="3" onchange="ScriptMotobikeModuleJS_v6.GetWard(this.value, 0, '#box-script #sl_ward_addresshome')">
                                    <option></option>
                                </select>
                            </div>
                            <div class="col-4">
                                <select class="form-control cus-form-control  m-select2" id="sl_ward_addresshome" name="WardId" tabindex="4" aria-hidden="true">
                                    <option></option>
                                </select>
                            </div>
                        </div>
                        <div>
                            <input class="form-control cus-form-control m-input cus-input-script" type="text" placeholder="Địa chỉ nơi ở" name="LoanBriefResidentModel.Address" onchange="ScriptMotobikeModuleJS_v6.BindToTextbox(this, '#AddressGoogleMap')" value="@Model.LoanBriefResidentModel.Address">
                        </div>
                        <div>
                            <input class="form-control cus-form-control m-input cus-input-script" type="text" placeholder="Địa chỉ nơi ở trên bản đồ" name="LoanBriefResidentModel.AddressGoogleMap" id="AddressGoogleMap" value="@(string.IsNullOrEmpty(Model.LoanBriefResidentModel.AddressGoogleMap) ? Model.LoanBriefResidentModel.Address : Model.LoanBriefResidentModel.AddressGoogleMap)">
                        </div>

                        <div class="row">
                            <div class="col-3">
                                <button class="btn  btn-tima" type="button" style="padding: 7px 30px; width: 100%" onclick="GoogleMapModule.SearchLocation('#boxGoogleMapAddress', '#AddressGoogleMap', '#boxCoordinateAddress')">Bản đồ</button>
                            </div>
                            <div class="col-9">
                                <input class="form-control cus-form-control m-input cus-input-script" type="text" name="LoanBriefResidentModel.AddressLatLng" value="@Model.LoanBriefResidentModel.AddressLatLng" placeholder="Kinh độ, vĩ độ" id="boxCoordinateAddress">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group m-form__group row-cus-script" id="boxGoogleMapAddress" style="height: 500px; margin: 15px 0px; display: none">
                </div>


                <div class="col-12 lbl-title">
                    <label>BƯỚC 3: XÁC ĐỊNH XE</label>
                </div>



                <div class="form-group m-form__group row-cus-script">
                    <div class="col-6 cus-border-right">
                        <label class="col-form-label">
                            Với gói vay nhanh qua đkx bên em thủ tục rất đơn giản.
                            Anh/chị yên tâm, bên em không giữ xe của mình đâu ạ.
                            Mình vẫn có xe để đi lại bình thường, không biết hiện mình đang đi xe máy gì vậy anh/chị?<br />
                            <label style="padding-top: 20px;">
                                Xe của mình đăng ký lần đầu tiên vào năm nào ạ?
                            </label>
                        </label>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-3 label-color-right" style="margin-top: 15px">Hãng xe:</div>
                            <div class="col-9">
                                <select class="form-control cus-form-control m-input m-input--square" id="sl_brand_product" name="LoanBriefPropertyModel.BrandId" onchange="ScriptMotobikeModuleJS_v6.GetProduct(this.value, 0)">
                                    @if (ListBrandProduct != null && ListBrandProduct.Count > 0)
                                    {
                                        <option></option>
                                        foreach (var item in ListBrandProduct)
                                        {
                                            <!option value="@item.Id" @(Model.LoanBriefPropertyModel != null && Model.LoanBriefPropertyModel.BrandId == item.Id ? "selected=\"selected\"" : "")>
                                                @item.Name
                                            </!option>
                                        }
                                    }
                                </select>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-3 label-color-right" style="margin-top: 15px">Tên xe:</div>
                            <div class="col-9">
                                <select class="form-control cus-form-control m-input m-input--square" id="sl_product_name" name="LoanBriefPropertyModel.ProductId" aria-hidden="true" onchange="ScriptMotobikeModuleJS_v6.GetMaxPrice()">
                                    <option></option>
                                </select>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-3" style="margin-top: 15px">Màu xe:</div>
                            <div class="col-9">
                                <input class="form-control cus-form-control m-input cus-input-script" type="text" name="LoanBriefPropertyModel.CarColor" value="@Model.LoanBriefPropertyModel.CarColor">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3" style="margin-top: 15px; margin-bottom: 15px;">Biển số xe:</div>
                            <div class="col-9">
                                <input class="form-control cus-form-control m-input cus-input-script" type="text" name="LoanBriefPropertyModel.PlateNumber" value="@Model.LoanBriefPropertyModel.PlateNumber">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group m-form__group row-cus-script">
                    <div class="col-6 cus-border-right">
                        <label class="col-form-label">
                            Hình thức sở hữu xe
                        </label>
                    </div>
                    <div class="col-6">
                        <select class="form-control cus-form-control m-input m-input--square" id="sl_ProductId" name="ProductId" onchange="ScriptMotobikeModuleJS_v6.ShowProductDetail()">
                            <option></option>
                            <!option value="@(LOS.Common.Extensions.EnumProductCredit.MotorCreditType_CC.GetHashCode())" @(Model.ProductId == (int)LOS.Common.Extensions.EnumProductCredit.MotorCreditType_CC ? "selected=\"selected\"" : "")>XM chính chủ</!option>
                            <!option value="@(LOS.Common.Extensions.EnumProductCredit.MotorCreditType_KCC.GetHashCode())" @(Model.ProductId == (int)LOS.Common.Extensions.EnumProductCredit.MotorCreditType_KCC ? "selected=\"selected\"" : "")>XM không chính chủ</!option>
                            <!option value="@(LOS.Common.Extensions.EnumProductCredit.MotorCreditType_KGT.GetHashCode())" @(Model.ProductId == (int)LOS.Common.Extensions.EnumProductCredit.MotorCreditType_KGT ? "selected=\"selected\"" : "")>XM không giấy tờ</!option>
                        </select>
                    </div>
                </div>


                @*<div class="form-group m-form__group row-cus-script">
            <div class="col-6 cus-border-right">
                <label class="col-form-label">
                    Khi đi ký hồ sơ, anh/chị có xe máy để bên em kiểm tra hiện trạng xe
                </label>
                <br />
                <label class="lbl-gim-tls">
                    TLS nhớ xác nhận xe đang KHÔNG ở tiệm cầm đồ, KHÔNG cho mượn/đang ở quê/bị người thân giữ...
                </label>
            </div>
            <div class="col-6">
                <div class="m-radio-inline" style="margin-top: 10px">
                    <label class="m-radio">
                        <input type="radio" value="true" name="LoanBriefQuestionScriptModel.QuestionCheckCurrentStatusMotobike" @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.QuestionCheckCurrentStatusMotobike == true) ? "checked=\"checked\"" : "")>
                        Có
                        <span></span>
                    </label>
                    <label class="m-radio">
                        <input type="radio" value="false" name="LoanBriefQuestionScriptModel.QuestionCheckCurrentStatusMotobike" @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.QuestionCheckCurrentStatusMotobike == false) ? "checked=\"checked\"" : "")>
                        Không
                        <span></span>
                    </label>
                </div>
            </div>
        </div>*@




                <div class="col-12 lbl-title">
                    <label>BƯỚC 4: TƯ VẤN CHI TIẾT GÓI VAY</label>
                </div>

                <div class="form-group m-form__group row-cus-script">
                    <div class="col-6 cus-border-right ">
                        <label class="col-form-label ">
                            TLS lựa chọn các gói vay phù hợp với điều kiện của KH
                        </label>
                    </div>
                    <div class="col-6">
                        <select class="form-control cus-form-control m-input m-input--square" id="sl_InfomationProductDetail" name="ProductDetailId" onchange="ScriptMotobikeModuleJS_v6.ChangeProductDetail(this.value)">
                            @if (lstInfomationProductDetail != null && lstInfomationProductDetail.Count > 0)
                            {
                                <option></option>
                                @if (Model.ProductDetailId.HasValue && (Model.ProductDetailId == (int)LOS.Common.Extensions.InfomationProductDetail.LO_KT1_KSHK_5tr || Model.ProductDetailId == (int)LOS.Common.Extensions.InfomationProductDetail.LO_KT3_KTN_5tr || Model.ProductDetailId == (int)LOS.Common.Extensions.InfomationProductDetail.LO_KT1_KSHK_12tr || Model.ProductDetailId == (int)LOS.Common.Extensions.InfomationProductDetail.LO_KT1_12tr))
                                {
                                    foreach (var item in lstInfomationProductDetail)
                                    {
                                        if (Model.ProductDetailId.HasValue && Model.ProductDetailId == item.InfomationProductDetailId)
                                        {
                                            <option value="@item.InfomationProductDetailId" selected="selected">@item.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@item.InfomationProductDetailId">@item.Name</option>
                                        }
                                    }
                                }
                                else
                                {
                                    foreach (var item in lstInfomationProductDetail.Where(x => x.InfomationProductDetailId != (int)LOS.Common.Extensions.InfomationProductDetail.LO_KT1_KSHK_5tr && x.InfomationProductDetailId != (int)LOS.Common.Extensions.InfomationProductDetail.LO_KT3_KTN_5tr && x.InfomationProductDetailId != (int)LOS.Common.Extensions.InfomationProductDetail.LO_KT1_12tr && x.InfomationProductDetailId != (int)LOS.Common.Extensions.InfomationProductDetail.LO_KT1_KSHK_12tr).ToList())
                                    {
                                        if (Model.ProductDetailId.HasValue && Model.ProductDetailId == item.InfomationProductDetailId)
                                        {
                                            <option value="@item.InfomationProductDetailId" selected="selected">@item.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@item.InfomationProductDetailId">@item.Name</option>
                                        }
                                    }
                                }
                            }
                        </select>
                        <div class="col-12 m--padding-top-5">
                            <div class="m-radio-inline" id="div-is-appraiser">
                                @if (Model.ProductDetailId.HasValue)
                                {
                                    var objInfomationProductDetail = lstInfomationProductDetail.Where(x => x.InfomationProductDetailId == Model.ProductDetailId && x.ProductId == Model.ProductId).FirstOrDefault();
                                    if (objInfomationProductDetail != null)
                                    {
                                        @Html.Raw(objInfomationProductDetail.Appraiser);
                                    }
                                }
                            </div>
                        </div>
                        <div class="col-12 m--padding-top-5" id="div-is-job-document" style="@(Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.DocumentBusiness.HasValue ? "" : "display: none;")">
                            <select class="form-control cus-form-control m-input m-input--square" id="sl_job_document" name="LoanBriefQuestionScriptModel.DocumentBusiness">
                                @if (Model.ProductDetailId.HasValue)
                                {
                                    var objInfomationProductDetail = lstInfomationProductDetail.Where(x => x.InfomationProductDetailId == Model.ProductDetailId && x.ProductId == Model.ProductId).FirstOrDefault();
                                    if (objInfomationProductDetail != null)
                                    {
                                        @Html.Raw(objInfomationProductDetail.JobDocument);
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-12 m--padding-top-5 m--padding-bottom-5" style="font-weight: 600;" id="div-description">
                            @if (Model.ProductDetailId.HasValue)
                            {
                                var objInfomationProductDetail = lstInfomationProductDetail.Where(x => x.InfomationProductDetailId == Model.ProductDetailId && x.ProductId == Model.ProductId).FirstOrDefault();
                                if (objInfomationProductDetail != null)
                                {
                                    @Html.Raw(objInfomationProductDetail.Description);
                                }
                            }
                        </div>
                    </div>
                </div>

                <div class="form-group m-form__group row-cus-script">
                    <div class="col-6 cus-border-right">
                        <label class="col-form-label">
                            Với những thông tin nơi ở và đời xe như trên, bên em có thể xét cho anh/chị vay số tiền tối đa là
                            <span style="color: red;" id="txtMaxPrice">0</span> triệu VND
                        </label>
                    </div>
                    <div class="col-6">
                        <input class="form-control cus-form-control m-input cus-input-script inputAmountVND" type="text" id="txtLoanAmount" name="LoanAmount" value="@(Model.LoanAmount > 0 ? Model.LoanAmount.ToString("###,0") : "0")" style="text-align: right;">
                    </div>
                </div>

                <div class="form-group m-form__group row-cus-script">
                    <div class="col-6 cus-border-right">
                        <label class="col-form-label">
                            Mục đích vay
                        </label>
                    </div>
                    <div class="col-6">
                        <select class="form-control cus-form-control m-input m-input--square" name="LoanPurpose" id="sl_LoanPurpose">
                            <option></option>
                            @if (ListLoanPurpose != null && ListLoanPurpose.Count > 0)
                            {
                                <option></option>
                                foreach (var item in ListLoanPurpose)
                                {
                                    if (Convert.ToInt32(item.Value) == Model.LoanPurpose)
                                    {
                                        <option value="@item.Value" selected="selected">
                                            @item.Text
                                        </option>
                                    }
                                    else
                                    {
                                        <!option value="@item.Value" @(Convert.ToInt32(item.Value) == 2 ? "selected=\"selected\"" : "")>
                                            @item.Text
                                        </!option>
                                    }
                                }
                            }
                        </select>
                    </div>
                </div>

                <div class="form-group m-form__group row-cus-script">
                    <div class="col-6 cus-border-right">
                        <label class="col-form-label">
                            Hình thức thanh toán
                        </label>
                    </div>
                    <div class="col-6">
                        <select class="form-control cus-form-control m-input m-input--square" id="sl_RateType" name="RateTypeId">
                            <option></option>
                            <!option value="@((int)LOS.Common.Extensions.EnumRateType.TatToanCuoiKy)" @(Model.RateTypeId == (int)LOS.Common.Extensions.EnumRateType.TatToanCuoiKy ? "selected=\"selected\"" : "")>Tất toán cuối kỳ</!option>
                            <!option value="@((int)LOS.Common.Extensions.EnumRateType.DuNoGiamDan)" @(Model.RateTypeId == (int)LOS.Common.Extensions.EnumRateType.DuNoGiamDan ? "selected=\"selected\"" : "")>Dư nợ giảm dần</!option>
                        </select>
                    </div>
                </div>

                <div class="form-group m-form__group row-cus-script">
                    <div class="col-6 cus-border-right">
                        <label class="col-form-label">
                            Thời gian vay
                        </label>
                    </div>
                    <div class="col-6">
                        <select class="form-control cus-form-control m-input m-input--square" id="sl_LoanTime" name="LoanTime">
                            <option></option>
                            <!option value="6" @(Model.LoanTime == 6 ? "selected=\"selected\"" : "")>6 tháng</!option>
                            <!option value="12" @(Model.LoanTime == 12 ? "selected=\"selected\"" : "")>12 tháng</!option>
                        </select>
                    </div>
                </div>

                <div class="form-group m-form__group row-cus-script">
                    <div class="col-6 cus-border-right">
                        <label class="col-form-label">
                            Khoản vay của mình sẽ được khấu trừ

                            @if (Model.IsChangeInsurance == true
                 && (Model.ProductId == (int)LOS.Common.Extensions.EnumProductCredit.MotorCreditType_KCC
                     || Model.ProductId == (int)LOS.Common.Extensions.EnumProductCredit.MotorCreditType_KGT))
                            {
                                <span style="font-weight:bold; color: red;" id="txtPercentInsurance">8%</span>
                            }
                            else
                            {
                                <span style="font-weight:bold; color: red;" id="txtPercentInsurance">5%</span>
                            }
                            phí bảo hiểm nhé,
                            trong trường hợp xảy ra các rủi ro không đáng có,
                            bảo hiểm sẽ thực hiện chi trả thay anh/ chị, không ảnh hưởng tới những người thân của mình.
                        </label>
                    </div>
                    <div class="col-4">
                        <div class="m-checkbox-list" style="margin-top: 10px">
                            <label class="m-checkbox m-checkbox--state-brand" style="text-align: left !important;">
                                <input @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.AdvisoryDeductInsurance == true) ? "checked=\"checked\"" : "") type="checkbox" value="true" name="LoanBriefQuestionScriptModel.AdvisoryDeductInsurance">
                                Đã tư vấn
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group m-form__group row-cus-script">
                    <div class="col-6 cus-border-right">
                        <label class="col-form-label">
                            Khi làm hồ sơ vay, bên em sẽ giữ lại bản gốc ĐKX/CAVET xe,
                            và cấp cho mình một giấy lưu hành xe để mình thuận tiện tham gia giao thông.
                            Khi nào mình tất toán, bên em sẽ gửi lại ĐK gốc ạ.
                        </label>
                    </div>
                    <div class="col-4">
                        <div class="m-checkbox-list" style="margin-top: 10px;">
                            <label class="m-checkbox m-checkbox--state-brand" style="text-align: left !important;">
                                <input @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.AdvisoryKeepRegisteredMotobike == true) ? "checked=\"checked\"" : "") type="checkbox" value="true" name="LoanBriefQuestionScriptModel.AdvisoryKeepRegisteredMotobike">
                                Đã tư vấn
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group m-form__group row-cus-script">
                    <div class="col-6 cus-border-right">
                        <label class="col-form-label">
                            Để bảo mật khoản vay, bên em sẽ giải ngân vào tài khoản của anh/chị
                            Anh/Chị đã có tài khoản ở ngân hàng nào chưa ạ?
                        </label>
                    </div>
                    <div class="col-6">
                        <div class="m-radio-inline" style="margin-top: 10px">
                            <label class="m-radio">
                                <input type="radio" @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.QuestionAccountBank == true) ? "checked=\"checked\"" : "") name="LoanBriefQuestionScriptModel.QuestionAccountBank" value="true">
                                Đã có sẵn
                                <span></span>
                            </label>
                            <label class="m-radio">
                                <input type="radio" @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.QuestionAccountBank == false) ? "checked=\"checked\"" : "") name="LoanBriefQuestionScriptModel.QuestionAccountBank" value="false">
                                Chưa có, Tls đã báo khách hàng đi mở TKNN
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="col-12 lbl-title">
                    <label>BƯỚC 5: KÊ KHAI THÔNG TIN CÔNG VIỆC</label>
                </div>

                <div class="form-group m-form__group row-cus-script">
                    <div class="col-12 cus-border-right" style="text-align: center;">
                        <label class="col-form-label">
                            Anh/Chị cho em xin thêm một số thông tin về công việc để em hoàn thiện hồ sơ cho mình nhé
                        </label>
                    </div>
                </div>

                <div class="form-group m-form__group row-cus-script">
                    <div class="col-6 cus-border-right  ">
                        <label class="col-form-label">
                            Công việc
                        </label>
                    </div>
                    <div class="col-6">
                        <select class="form-control cus-form-control m-input m-input--square" id="sl_JobDescriptionId" name="LoanBriefJobModel.JobDescriptionId">
                            @if (lstJob != null && lstJob.Count > 0)
                            {
                                <option></option>
                                foreach (var item in lstJob)
                                {
                                    if (Model.LoanBriefJobModel != null && Model.LoanBriefJobModel.JobDescriptionId != null
                                        && Model.LoanBriefJobModel.JobDescriptionId == item.JobId)
                                    {
                                        <!option value="@item.JobId" selected="selected">
                                            @item.Name
                                        </!option>
                                    }
                                    else
                                    {
                                        <!option value="@item.JobId">
                                            @item.Name
                                        </!option>
                                    }

                                }
                            }
                        </select>
                    </div>
                </div>

                <div class="form-group m-form__group row-cus-script">
                    <div class="col-6 cus-border-right  ">
                        <label class="col-form-label">
                            Loại nghề nghiệp
                        </label>
                    </div>
                    <div class="col-6  ">
                        <select class="form-control cus-form-control m-input m-input--square" id="sl_JobId" name="LoanBriefJobModel.JobId">
                            <option></option>
                            <!option @((Model.LoanBriefJobModel != null && Model.LoanBriefJobModel.JobId == 123) ? "selected=\"selected\"" : "") value="123">Làm thuê hưởng lương</!option>
                            <!option @((Model.LoanBriefJobModel != null && Model.LoanBriefJobModel.JobId == 124) ? "selected=\"selected\"" : "") value="124">Tự kinh doanh</!option>
                            <!option @((Model.LoanBriefJobModel != null && Model.LoanBriefJobModel.JobId == 125) ? "selected=\"selected\"" : "") value="125">Shiper/Tài xế công nghệ</!option>
                            <!option @((Model.LoanBriefJobModel != null && Model.LoanBriefJobModel.JobId == 126) ? "selected=\"selected\"" : "") value="126"> Làm tự do</!option>
                        </select>
                    </div>
                </div>

                <div class="form-group m-form__group row-cus-script">
                    <div class="col-6 cus-border-right">
                        <label class="col-form-label" id="lbl_TitleNameCompany">
                            Tên công ty/tổ chức:
                        </label>
                    </div>
                    <div class="col-6">
                        <input class="form-control cus-form-control m-input cus-input-script" id="txt_CompanyName" type="text" name="LoanBriefJobModel.CompanyName" value="@Model.LoanBriefJobModel.CompanyName">
                    </div>
                </div>

                <div class="form-group m-form__group row-cus-script">
                    <div class="col-6 cus-border-right">
                        <label class="col-form-label" id="lbl_AddressCompany">
                            Địa chỉ nơi đến làm việc/kinh doanh hàng ngày:
                        </label>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-4">
                                <select class="form-control cus-form-control m-input m-input--square" id="sl_province_work_company" name="LoanBriefJobModel.CompanyProvinceId" onchange="ScriptMotobikeModuleJS_v6.GetDistrict(this.value, 0, '#box-script #sl_district_work_company', '#box-script #sl_ward_work_company')">
                                    @if (ListProvince != null && ListProvince.Count > 0)
                                    {
                                        <option></option>
                                        foreach (var item in ListProvince)
                                        {
                                            <!option value="@item.ProvinceId" @(Model.LoanBriefJobModel != null && Model.LoanBriefJobModel.CompanyProvinceId == item.ProvinceId ? "selected=\"selected\"" : "")>
                                                @item.Name
                                            </!option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-4">
                                <select class="form-control cus-form-control m-input m-input--square" id="sl_district_work_company" name="LoanBriefJobModel.CompanyDistrictId" onchange="ScriptMotobikeModuleJS_v6.GetWard(this.value, 0, '#box-script #sl_ward_work_company')">
                                    <option></option>
                                </select>
                            </div>
                            <div class="col-4">
                                <select class="form-control cus-form-control m-input m-input--square" id="sl_ward_work_company" name="LoanBriefJobModel.CompanyWardId" aria-hidden="true">
                                    <option></option>
                                </select>
                            </div>
                        </div>
                        <div style="margin-top: 10px">
                            <input class="form-control cus-form-control m-input cus-input-script" type="text" placeholder="Địa chỉ chi tiết" onchange="" name="LoanBriefJobModel.CompanyAddress" value="@Model.LoanBriefJobModel.CompanyAddress">
                        </div>
                    </div>
                </div>

                <div class="form-group m-form__group row-cus-script">
                    <div class="col-6 cus-border-right">
                        <label class="col-form-label" id="lbl_TotalIncome">
                            Thu nhập/tháng:
                        </label>
                    </div>
                    <div class="col-6  ">
                        <input style="text-align: right;" class="form-control cus-form-control m-input cus-input-script inputAmountVND" type="text" placeholder="" id="txtTotalIncome" name="LoanBriefJobModel.TotalIncome" value="@(Model.LoanBriefJobModel.TotalIncome.HasValue ? Model.LoanBriefJobModel.TotalIncome.Value.ToString("###,0") : "0")">
                    </div>
                </div>



                <div class="col-12 lbl-title">
                    <label>THÔNG TIN TRƯỚC KHI ĐẨY LEAD</label>
                </div>

                <div class="form-group m-form__group row-cus-script">
                    <div class="col-12 cus-border-right" style="text-align: center; color: #4747c3; font-weight: 700;">
                        <label class="col-form-label" style="color: #4747c3; font-weight: 700;">
                            Anh/ chị lưu ý chuẩn bị giúp em:
                        </label>
                    </div>
                </div>

                <div class="form-group m-form__group row-cus-script">
                    <div class="col-6 cus-border-right  ">
                        <label class="col-form-label">1. Bản gốc CMND/CCCD/Hộ chiếu</label>
                    </div>
                    <div class="col-3  ">
                        <div class="m-radio-inline" style="margin-top: 10px">
                            <label class="m-radio">
                                <input type="radio" value="true" name="LoanBriefQuestionScriptModel.QuestionOriginCardNumber" @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.QuestionOriginCardNumber == true) ? "checked=\"checked\"" : "")>
                                Có
                                <span></span>
                            </label>
                            <label class="m-radio">
                                <input type="radio" value="false" name="LoanBriefQuestionScriptModel.QuestionOriginCardNumber" @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.QuestionOriginCardNumber == false) ? "checked=\"checked\"" : "")>
                                Không
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group m-form__group row-cus-script">
                    <div class="col-6 cus-border-right  ">
                        <label class="col-form-label">
                            2. Bản gốc ĐKX/Cavet xe
                        </label>
                    </div>
                    <div class="col-6  ">
                        <div class="m-radio-inline" style="margin-top: 10px">
                            <label class="m-radio">
                                <input type="radio" value="true" @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.QuestionImageRegistrationBook == true) ? "checked=\"checked\"" : "") name="LoanBriefQuestionScriptModel.QuestionImageRegistrationBook">
                                Có
                                <span></span>
                            </label>
                            <label class="m-radio">
                                <input type="radio" value="false" @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.QuestionImageRegistrationBook == false) ? "checked=\"checked\"" : "") name="LoanBriefQuestionScriptModel.QuestionImageRegistrationBook">
                                Không
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>


                <div class="form-group m-form__group row-cus-script">
                    <div class="col-6 cus-border-right  ">
                        <label class="col-form-label">3. Đảm bảo chắc chắn có xe máy bên cạnh</label>
                    </div>
                    <div class="col-3  ">
                        <div class="m-radio-inline" style="margin-top: 10px">
                            <label class="m-radio">
                                <input type="radio" value="true" name="LoanBriefQuestionScriptModel.QuestionOriginCavet" @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.QuestionOriginCavet == true) ? "checked=\"checked\"" : "")>
                                Có
                                <span></span>
                            </label>
                            <label class="m-radio">
                                <input type="radio" value="false" name="LoanBriefQuestionScriptModel.QuestionOriginCavet" @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.QuestionOriginCavet == false) ? "checked=\"checked\"" : "")>
                                Không
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group m-form__group row-cus-script">
                    <div class="col-6 cus-border-right  ">
                        <label class="col-form-label">4. Ảnh chụp SHK hoặc bản photo/công chứng</label>
                    </div>
                    <div class="col-3  ">
                        <div class="m-radio-inline" style="margin-top: 10px">
                            <label class="m-radio">
                                <input type="radio" value="true" name="LoanBriefQuestionScriptModel.QuestionMotobikeNearby" @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.QuestionMotobikeNearby == true) ? "checked=\"checked\"" : "")>
                                Có
                                <span></span>
                            </label>
                            <label class="m-radio">
                                <input type="radio" value="false" name="LoanBriefQuestionScriptModel.QuestionMotobikeNearby" @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.QuestionMotobikeNearby == false) ? "checked=\"checked\"" : "")>
                                Không
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group m-form__group row-cus-script">
                    <div class="col-6 cus-border-right">
                        <label class="col-form-label">
                            5. Sau khi e hoàn thiện hồ sơ, anh/chị sẽ nhận đc 1 tin nhắn trong đó có số ĐT của bạn CVKD liên hệ ký hs cho anh/chị.
                            Mình vui lòng giữ liên lạc, bạn sẽ liên hệ với a/c trong vòng 15 phút nhé!
                        </label>
                    </div>
                    <div class="col-6">
                        <div class="m-checkbox-list" style="margin-top: 10px">
                            <label class="m-checkbox m-checkbox--state-brand" style="text-align: left !important;">
                                <input @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.AdvisoryKeepRegisteredMotobike == true) ? "checked=\"checked\"" : "") type="checkbox" value="true" name="LoanBriefQuestionScriptModel.RemindCustomerDocument">
                                Đã tư vấn
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>

                @if (ViewBag.HomeNetwork == (int)LOS.Common.Extensions.HomeNetWorkMobile.Viettel || ViewBag.HomeNetwork == (int)LOS.Common.Extensions.HomeNetWorkMobile.Mobi)
                {
                    <div class="form-group m-form__group row-cus-script">
                        <div class="col-6 cus-border-right  ">
                            @if (ViewBag.HomeNetwork == (int)LOS.Common.Extensions.HomeNetWorkMobile.Viettel)
                            {
                                <label class="col-form-label">
                                    Anh/ Chị vui lòng soạn tin nhắn theo đúng cú pháp: TIMA Y1 gửi 5788 ( miễn phí)
                                    để được hỗ trợ duyệt giải ngân nhanh nhất.
                                    <span style="font-size: 12px; color: #ADB0C2;width: 100%; float: left">
                                        (Viettel)
                                    </span>
                                </label>
                            }
                            else
                            {
                                <label class="col-form-label">
                                    Anh/ Chị vui lòng soạn tin nhắn theo đúng cú pháp: DK TIMA gửi 90032 ( miễn phí)
                                    để được hỗ trợ duyệt giải ngân nhanh nhất.
                                    <span style="font-size: 12px; color: #ADB0C2;width: 100%; float: left">
                                        (Mobifone)
                                    </span>
                                </label>
                            }
                        </div>
                        <div class="col-3  ">
                            <div class="m-checkbox-list" style="margin-top: 10px">
                                <label class="m-checkbox m-checkbox--state-brand" style="text-align: left !important;">
                                    <input type="checkbox" value="true" @(Model.IsTrackingLocation == true ? "checked=\"checked\"" : "") name="IsTrackingLocation">
                                    Location Sim
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                }

                @if (Model.LoanBriefId > 0 && (ListLogRequestAi == null || !ListLogRequestAi.Any(x => x.ServiceType == (int)LOS.Common.Extensions.ServiceTypeAI.RuleCheck)))
                {
                    <div class="form-group m-form__group row-cus-script">
                        <div class="col-12" style="text-align: center;">
                            <a href="javascript:;" class="btn btn-tima" id="btn-request-ai" onclick="ScriptMotobikeModuleJS_v6.CallAI()">Kiểm tra dữ liệu AI</a>
                        </div>
                    </div>
                }

                @if (Model.LoanBriefId > 0)
                {
                    <div class="row" style="border: none; padding-top: 25px" id="box-group-action">
                        <div class="col-6">
                            <button type="button" class="btn btn-cus-default" style="width: 100%" onclick="ScriptMotobikeModuleJS_v6.CancelLoanBrief(@Model.LoanBriefId)" id="btnRefuse">
                                Hủy
                            </button>
                        </div>
                        <div class="col-6">
                            <button type="button" class="btn btn-tima" id="btnScriptSave" onclick="ScriptMotobikeModuleJS_v6.SubmitForm()" style="width: 100%">
                                Lưu thông tin
                            </button>
                        </div>
                    </div>
                }
                else
                {
                    <div class="row" style="border: none; padding-top: 25px" id="box-group-action">
                        <div class="col-6">
                            <button type="button" data-dismiss="modal" class="btn btn-cus-default" style="width: 100%">
                                Đóng
                            </button>
                        </div>
                        <div class="col-6">
                            <button type="button" class="btn btn-tima" id="btnScriptSave" onclick="ScriptMotobikeModuleJS_v6.SubmitCreateLoanBrief()" style="width: 100%">
                                Tạo đơn vay
                            </button>
                        </div>
                    </div>
                }

            </div>
        </div>
    </form>
</div>

<script src="~/js/ScriptTelesales/ScriptMotobikeModuleJS_v6.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
<script type="text/javascript">
    $(document).ready(function () {
        ScriptMotobikeModuleJS_v6.Init();
        //Thông tin nơi ở
        ScriptMotobikeModuleJS_v6.GetDistrict('@Model.ProvinceId', '@Model.DistrictId', '#box-script #sl_district_addresshome', '#box-script #sl_ward_addresshome');
        ScriptMotobikeModuleJS_v6.GetWard('@Model.DistrictId', '@Model.WardId', '#box-script #sl_ward_addresshome');
        //Thông tin hộ khẩu
        ScriptMotobikeModuleJS_v6.GetDistrict('@Model.LoanBriefHouseholdModel.ProvinceId', '@Model.LoanBriefHouseholdModel.DistrictId', '#box-script #sl_district_addresshousehold', '#box-script #sl_ward_addresshousehold');
        ScriptMotobikeModuleJS_v6.GetWard('@Model.LoanBriefHouseholdModel.DistrictId', '@Model.LoanBriefHouseholdModel.WardId','#box-script #sl_ward_addresshousehold');
        ScriptMotobikeModuleJS_v6.GetProduct('@Model.LoanBriefPropertyModel.BrandId', '@Model.LoanBriefPropertyModel.ProductId');
        //Thông tin công ty
        ScriptMotobikeModuleJS_v6.GetDistrict('@Model.LoanBriefJobModel.CompanyProvinceId', '@Model.LoanBriefJobModel.CompanyDistrictId', '#box-script #sl_district_work_company', '#box-script #sl_ward_work_company');
        ScriptMotobikeModuleJS_v6.GetWard('@Model.LoanBriefJobModel.CompanyDistrictId', '@Model.LoanBriefJobModel.CompanyWardId', '#box-script #sl_ward_work_company');
        //Load ra định giá xe
        ScriptMotobikeModuleJS_v6.InitMaxPrice('@Model.LoanBriefPropertyModel.ProductId', '@Model.LoanBriefId', '@Model.LoanBriefQuestionScriptModel.MaxPrice', '@Model.ProductId', '@Model.ProductDetailId');
        ScriptMotobikeModuleJS_v6.InitOwnerShip('@Model.LoanBriefResidentModel.ResidentType');

        App.LibraryMoney();
        App.ValidCustom();
    });
</script>
