﻿@model LOS.WebApp.Models.LoanBriefScriptItem
@using LOS.WebApp.Services;
@inject INetworkService _networkService;
@{
    ViewData["Title"] = "Init";
    Layout = null;
    var user = ViewBag.User as LOS.DAL.DTOs.UserDetail;
    var lstOwnershipXMKCC = Enum.GetValues(typeof(LOS.Common.Extensions.EnumOwnershipXMKCC)).Cast<LOS.Common.Extensions.EnumOwnershipXMKCC>();
    var TypeProduct = Model.ListLoanProduct.Where(x => x.LoanProductId == Model.ProductId).FirstOrDefault().TypeProductId;
}
<style>
    .custom-m-boder-box {
        border: 1px solid rgba(108, 114, 147, 1) !important;
    }

    .cus-info-header {
        padding-top: 20px;
        padding-left: 35px;
    }

    select.form-control:not([size]):not([multiple]) {
        height: unset;
    }

    .m-form.m-form--group-seperator-dashed .m-form__group {
        border-bottom: none;
    }

    .m-form.m-form--group-seperator-dashed .m-form__group {
        padding-bottom: 10px;
        padding-top: 5px;
    }

    .modal-open .select2-dropdown {
        z-index: 10060;
    }

    .btn-tima {
        background-color: rgba(108, 114, 147, 1);
        border-color: rgba(108, 114, 147, 1);
        color: #fff;
    }

    .btn-cus-default {
        color: rgba(108, 114, 147, 1);
        border-color: rgba(108, 114, 147, 1);
        background-color: #fff;
        padding: 7px 20px !important;
    }

    .error-notify {
        margin-top: 0px !important;
    }

    .row-cus-script {
        border-bottom: 1px solid #e9ecef !important;
        margin-left: 0px;
        margin-right: 0px;
        display: flex;
        padding: 0px !important;
    }

    .cus-input-script {
        border: none !important;
        border-bottom: 1px solid rgba(108, 114, 147, 1) !important;
        border-radius: 0;
        font-size: 14px;
    }

    .cus-border-right {
        border-right: 1px solid #e9ecef;
        text-align: right;
    }

    .box-cus-row {
        padding: 10px 15px;
    }

    #formScriptTelesales .select2-container--default .select2-selection--single {
        border: none !important;
        border-bottom: solid 1px !important;
        border-radius: 0 !important;
        color: #9CA0B6;
    }

    #formScriptTelesales .table th, .table td {
        padding: 5px !important
    }
</style>

<div class="modal-content">

    <div class="modal-header" style="padding: 15px;">
        <div class="m-demo-icon__class" style="margin-top: 5px; margin-left: 10px; font-weight: bold">
            THÔNG TIN KHÁCH HÀNG
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: 0px">
            <span aria-hidden="true">
                &times;
            </span>
        </button>
    </div>

    <form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" id="formScriptTelesales">
        <div class="cus-info-header">
            <span style="font-weight: bold; margin-left: 10px">
                Kiểm tra thông tin đơn vay
            </span>
        </div>
        <div class="modal-body" style="padding: 25px 40px;" id="box-script">
            <div class="m-portlet__body">
                <input type="hidden" id="hdd_LoanBriefId" name="LoanBriefId" value="@Model.LoanBriefId" />
                <input type="hidden" name="Customer.CustomerId" value="@Model.Customer.CustomerId" />
                <input type="hidden" name="LoanBriefJob.LoanBriefJobId" value="@Model.LoanBriefJob.LoanBriefJobId" />
                <input type="hidden" name="LoanBriefHousehold.LoanBriefHouseholdId" value="@Model.LoanBriefHousehold.LoanBriefHouseholdId" />
                <input type="hidden" name="LoanBriefJob.LoanBriefJobId" value="@Model.LoanBriefJob.LoanBriefJobId" />
                <input type="hidden" name="LoanBriefProperty.LoanBriefPropertyId" value="@Model.LoanBriefProperty.LoanBriefPropertyId" />
                <input type="hidden" name="LoanBriefResident.LoanBriefResidentId" value="@Model.LoanBriefResident.LoanBriefResidentId" />
                <input type="hidden" value="@Model.Customer.Phone" name="Customer.Phone" />
                <input type="hidden" name="ActionTelesales" id="txtActionTelesales" value="0" />

                <div class="form-group m-form__group row-cus-script" style="border-top: 1px solid #e9ecef">
                    <div class="col-6 cus-border-right box-cus-row">
                        <label class="col-form-label"> Em chào anh/chị. Đây có phải số điện thoại của anh/ chị <b>@Model.Customer.FullName</b> không ạ?</label>
                    </div>
                    <div class="col-3 box-cus-row">
                        <input class="form-control cus-form-control m-input cus-input-script" type="text" name="Customer.FullName" value="@Model.Customer.FullName">
                    </div>
                    <div class="col-3 box-cus-row" style="margin-top: 10px">
                        <div class="m-radio-inline">
                            <label class="m-radio">
                                <input type="radio" onclick="ScriptMotobikeModuleJS.ChangeOptionPhone(1)" name="optionPhone" value="1">
                                Có
                                <span></span>
                            </label>
                            <label class="m-radio">
                                <input type="radio" name="optionPhone" onclick="ScriptMotobikeModuleJS.ChangeOptionPhone(0)" value="0">
                                Không
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group m-form__group row-cus-script" id="boxConfirmAcceptTeles" style="display: none">
                    <div class="col-6 cus-border-right box-cus-row">
                        <label class="col-form-label"> Em là <b>@user.FullName</b> gọi từ phòng CSKH của công ty tư vấn tài chính Tima. Em có nhận được đơn đăng ký vay của Anh/chị. Anh/Chị vui lòng cho em xin ít phút để xác nhận lại một số thông tin theo quy định của Công ty nhé</label>
                    </div>
                    <div class="col-3 box-cus-row" style="padding-top: 10px">
                        <select class="form-control cus-form-control m-input m-input--square" id="ddl_StatusCall" onchange="ScriptMotobikeModuleJS.ChangeStautsAccept(this.value)">
                            <option>Trạng thái</option>
                            <option value="1">Đồng ý</option>
                            <option value="2">Từ chối</option>
                            <option value="3">Hẹn gọi lại</option>
                        </select>
                    </div>
                </div>
                <div id="boxConfirmLocate" style="display: none">
                    <div class="row" style="text-align: center; font-weight: bold">
                        <label class="col-form-label col-8 offset-2" style="text-align: center; padding: 15px; color: red;">
                            Trong thời gian vay, Tima sẽ hỗ trợ lắp đặt hoàn toàn miễn phí 1 thiết bị GPS thế hệ mới, giúp anh/ chị bảo quản xe của mình và nếu trường hợp xe bị thất lạc thì thiết bị sẽ giúp anh/ chị tìm lại xe thuận tiện hơn.
                        </label>
                    </div>

                    <div class="row" style="text-align: center; font-weight: bold">
                        <label class="col-form-label col-8 offset-2" style="text-align: center; padding: 15px; color: red;">
                            Thiết bị có thiết kế nhỏ gọn, bí mật nên đảm bảo an toàn trong mọi tình huống. Anh/ chị hoàn toàn yên tâm vì bên em cam kết lắp đặt nhanh chóng, không ảnh hưởng gì đến xe và bảo mật khoản vay 100%.
                        </label>
                    </div>
                    <div class="form-group m-form__group row-cus-script" style="border-top: 1px solid #e9ecef">
                        <div class="col-6 cus-border-right box-cus-row">
                            <label class="col-form-label">
                                Anh/chị có đồng ý lắp định vị không ạ ?
                            </label>
                        </div>
                        <div class="col-6 box-cus-row">
                            <div class="m-checkbox-list" style="margin-top: 10px;">
                                <label class="m-checkbox m-checkbox--state-brand" style="float: left">
                                    @if (Model.IsLocate == true)
                                    {
                                        <input type="checkbox" checked="checked" onchange="ScriptMotobikeModuleJS.ChangeOptionLocate(this)" value="true" name="IsLocate">
                                    }
                                    else
                                    {
                                        <input type="checkbox" value="true" onchange="ScriptMotobikeModuleJS.ChangeOptionLocate(this)" name="IsLocate">
                                    }
                                    Có gắn
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>


                <div id="boxLoanBriefInfo" style="display: none">
                    <div class="form-group m-form__group row-cus-script">
                        <div class="col-6 cus-border-right box-cus-row">
                            <label class="col-form-label">Anh/ chị vui lòng xác nhận lại số điện thoại đăng ký vay của mình ạ?</label>
                        </div>
                        <div class="col-3 box-cus-row">
                            <input class="form-control cus-form-control m-input cus-input-script" type="text" id="txtPhoneSearch" value="@Model.Customer.Phone">
                        </div>
                        <div class="col-3 box-cus-row">
                            <button class="btn  btn-tima" type="button" style="padding: 7px 30px;" onclick="ScriptMotobikeModuleJS.GetLoanBrief($('#txtPhoneSearch').val())">Kiểm tra</button>
                        </div>
                    </div>

                    <div id="loading" style="left:50%;margin-top: -2%;position:fixed;display:none;">
                        <img src="~/img/loading1.gif">
                    </div>
                    <div class="form-group m-form__group row-cus-script">

                        <div class="col-10 offset-1" id="box-loanbrief-search" style="margin-top: 15px;">

                        </div>
                    </div>

                    <div class="form-group m-form__group row-cus-script">
                        <div class="col-6 cus-border-right box-cus-row">
                            <label class="col-form-label">Ngày sinh khách khai báo trước đó :</label>
                        </div>
                        <div class="col-3 box-cus-row">
                            <div class="input-group date">
                                <input type="text" class="form-control cus-form-control m-input cus-input-script cus-datepicker" id="txtBirthDay" name="sBirthDay" placeholder="Ngày sinh" value="@(Model.Customer.Dob != null ? Model.Customer.Dob.Value.ToString("dd/MM/yyyy") : "")">
                                <i class="fa fa-calendar" style="padding-top: 3%;font-size: 15pt; border-bottom: 1px solid rgba(108, 114, 147, 1)"></i>
                            </div>
                        </div>
                    </div>

                    <div class="form-group m-form__group row-cus-script">
                        <div class="col-6 cus-border-right box-cus-row">
                            <label class="col-form-label">Giới tính :</label>
                        </div>
                        <div class="col-3 box-cus-row">
                            <div class="m-radio-inline" style="margin-top: 10px">
                                <label class="m-radio">
                                    <input type="radio" @(Model.Customer.Gender == 0 ? "checked=\"checked\"" : "") name="Customer.Gender" value="0">
                                    Nam
                                    <span></span>
                                </label>
                                <label class="m-radio">
                                    <input type="radio" name="Customer.Gender" @(Model.Customer.Gender == 1 ? "checked=\"checked\"" : "") value="1">
                                    Nữ
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group m-form__group row-cus-script">
                        <div class="col-6 cus-border-right box-cus-row">
                            <label class="col-form-label">
                                Anh/chị vui lòng đọc giúp em số CMND/CCCD của mình ạ?:
                                <span style="font-size: 12px; color: #ADB0C2;width: 100%; float: left">
                                    Số cmt khách khai báo trước đó :
                                </span>
                            </label>
                        </div>
                        <div class="col-3 box-cus-row">
                            <input class="form-control cus-form-control m-input cus-input-script" type="text" name="Customer.NationalCard" value="@Model.Customer.NationalCard">
                        </div>
                    </div>

                    <div class="form-group m-form__group row-cus-script" style="display: none;">
                        <div class="col-6 cus-border-right box-cus-row">
                            <label class="col-form-label">
                                Hiện tại và trước đây mình vẫn dùng số CMND/CCCD này đúng không ạ?
                                <br />
                                Anh/chị còn sử dụng số CMND/CCCD nào khác không ạ?
                            </label>
                        </div>
                        <div class="col-3 box-cus-row">
                            <input class="form-control cus-form-control m-input cus-input-script" type="text" name="Customer.NationCardPlace" value="@Model.Customer.NationCardPlace">
                        </div>
                    </div>
                    <div class="form-group m-form__group row-cus-script">
                        <div class="col-6 cus-border-right box-cus-row">
                            <label class="col-form-label">
                                Anh/chị hiện có xe máy không ạ?
                            </label>
                        </div>
                        <div class="col-6 box-cus-row">
                            <div class="m-radio-inline" style="margin-top: 10px">
                                <label class="m-radio">
                                    <input type="radio" name="MotobikeAvaiable" value="1">
                                    Có
                                    <span></span>
                                </label>
                                <label class="m-radio">
                                    <input type="radio" name="MotobikeAvaiable" value="0">
                                    Không
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group m-form__group row-cus-script">
                        <div class="col-6 cus-border-right box-cus-row">
                            <label class="col-form-label">
                                Đăng ký xe của anh/ chị hiện đang đứng tên ai ?
                            </label>
                        </div>
                        <div class="col-6 box-cus-row">
                            <div class="m-radio-inline" style="margin-top: 10px">
                                <label class="m-radio">
                                    <input type="radio" name="OwnerProduct" onclick="ScriptMotobikeModuleJS.GetMaxPrice()" @(Model.ProductId == LOS.Common.Extensions.EnumProductCredit.MotorCreditType_CC.GetHashCode() ? "checked=\"checked\"" : "") value="1">
                                    XM chính chủ
                                    <span></span>
                                </label>
                                <label class="m-radio">
                                    <input type="radio" name="OwnerProduct" onclick="ScriptMotobikeModuleJS.GetMaxPrice()" @(Model.ProductId == LOS.Common.Extensions.EnumProductCredit.MotorCreditType_KCC.GetHashCode() ? "checked=\"checked\"" : "") value="2">
                                    XM Không chính chủ
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group m-form__group row-cus-script" id="div-FormRepurchase">
                        <div class="col-6 cus-border-right box-cus-row">
                            <label class="col-form-label">
                                Hình thức Anh/ chị mua lại xe là gì ạ ?
                            </label>
                        </div>
                        <div class="col-6 box-cus-row">
                            <select class="form-control cus-form-control  m-select2" id="sl_formrepurchase_xmkcc" name="LoanBriefProperty.FormRepurchase">
                                <option value="0">Chọn hình thức mua lại</option>
                                @foreach (var item in lstOwnershipXMKCC)
                                {
                                    if (Model.LoanBriefProperty.FormRepurchase == (int)item)
                                    {
                                        <option value="@((int)item)" selected="selected">@LOS.Common.Helpers.ExtentionHelper.GetDescription(item)</option>
                                    }
                                    else
                                    {
                                        <option value="@((int)item)">@LOS.Common.Helpers.ExtentionHelper.GetDescription(item)</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-group m-form__group row-cus-script">
                        <div class="col-6 cus-border-right box-cus-row">
                            <label class="col-form-label">
                                Anh/ chị có giữ đăng ký xe bản gốc không ?
                            </label>
                        </div>
                        <div class="col-6 box-cus-row">
                            <div class="m-radio-inline" style="margin-top: 10px">
                                <label class="m-radio">
                                    <input type="radio" name="MotobikeCertificate" value="1">
                                    Có
                                    <span></span>
                                </label>
                                <label class="m-radio">
                                    <input type="radio" name="MotobikeCertificate" value="0">
                                    Không
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>



                    <div class="form-group m-form__group row-cus-script">
                        <div class="col-6 cus-border-right box-cus-row">
                            <label class="col-form-label">
                                Anh/chị đọc chính xác giúp em địa chỉ nơi ở hiện tại ạ?
                                <br />
                                Anh/chị đang sống cùng với ai ạ?
                            </label>
                        </div>
                        <div class="col-6 box-cus-row">
                            <label class="col-form-label" style="font-weight: bold">Địa chỉ nơi ở khách hàng khai báo trước đó</label>
                            <div class="row">
                                <div class="col-4 box-group">
                                    <select class="form-control cus-form-control  m-select2" id="sl_province_addresshome" name="LoanBriefResident.ProvinceId" onchange="ScriptMotobikeModuleJS.GetDistrict(this.value, 0, '#box-script #sl_district_addresshome', '#box-script #sl_ward_addresshome')">
                                        @if (Model != null && Model.ListProvince != null && Model.ListProvince.Count > 0)
                                        {
                                            <option></option>
                                            foreach (var item in Model.ListProvince)
                                            {
                                                if (item.ProvinceId == Model.LoanBriefResident.ProvinceId)
                                                {
                                                    <option value="@item.ProvinceId" selected="selected">
                                                        @item.Name
                                                    </option>
                                                }
                                                else
                                                {
                                                    <option value="@item.ProvinceId">@item.Name</option>
                                                }
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="col-4 box-group">
                                    <select class="form-control cus-form-control m-input m-input--square" id="sl_district_addresshome" name="LoanBriefResident.DistrictId" tabindex="3" onchange="ScriptMotobikeModuleJS.GetWard(this.value, 0, '#box-script #sl_ward_addresshome')">
                                        <option></option>
                                    </select>
                                </div>
                                <div class="col-4 box-group">
                                    <select class="form-control cus-form-control  m-select2" id="sl_ward_addresshome" name="LoanBriefResident.WardId" tabindex="4" aria-hidden="true">
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                            <div style="margin-top: 10px">
                                <input class="form-control cus-form-control m-input cus-input-script" type="text" placeholder="Địa chỉ nơi ở" name="LoanBriefResident.Address" onchange="ScriptMotobikeModuleJS.BindToTextbox(this, '#AddressGoogleMap')" value="@Model.LoanBriefResident.Address">
                            </div>
                            <div style="margin-top: 10px">
                                <input class="form-control cus-form-control m-input cus-input-script" type="text" placeholder="Địa chỉ nơi ở trên bản đồ" name="LoanBriefResident.AddressGoogleMap" id="AddressGoogleMap" value="@(string.IsNullOrEmpty(Model.LoanBriefResident.AddressGoogleMap) ? Model.LoanBriefResident.Address : Model.LoanBriefResident.AddressGoogleMap)">
                            </div>

                            <div class="row" style="margin-top: 10px">
                                <div class="col-3">
                                    <button class="btn  btn-tima" type="button" style="padding: 7px 30px; width: 100%" onclick="GoogleMapModule.SearchLocation('#boxGoogleMapAddress', '#AddressGoogleMap', '#boxCoordinateAddress')">Bản đồ</button>
                                </div>
                                <div class="col-9">
                                    <input class="form-control cus-form-control m-input cus-input-script" type="text" name="LoanBriefResident.AddressLatLng" value="@Model.LoanBriefResident.AddressLatLng" placeholder="Kinh độ, vĩ độ" id="boxCoordinateAddress">
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="form-group m-form__group row-cus-script" id="boxGoogleMapAddress" style="height: 500px; margin: 15px 0px; display: none">

                    </div>

                    <div class="form-group m-form__group row-cus-script">
                        <div class="col-6 cus-border-right box-cus-row">
                            <label class="col-form-label">
                                Anh/chị đọc chính xác giúp em địa chỉ hộ khẩu ạ?
                            </label>
                        </div>
                        <div class="col-6 box-cus-row">
                            <label class="col-form-label" style="font-weight: bold">Địa chỉ hộ khẩu khách hàng khai báo trước đó</label>
                            <div class="row">
                                <div class="col-4">
                                    <select class="form-control cus-form-control m-select2" id="sl_province_addresshousehold" name="LoanBriefHousehold.ProvinceId" onchange="ScriptMotobikeModuleJS.GetDistrict(this.value, 0, '#box-script #sl_district_addresshousehold', '#box-script #sl_ward_addresshousehold')">
                                        @if (Model != null && Model.ListProvince != null && Model.ListProvince.Count > 0)
                                        {
                                            <option></option>
                                            foreach (var item in Model.ListProvince)
                                            {
                                                if (item.ProvinceId == Model.LoanBriefHousehold.ProvinceId)
                                                {
                                                    <option value="@item.ProvinceId" selected="selected">
                                                        @item.Name
                                                    </option>
                                                }
                                                else
                                                {
                                                    <option value="@item.ProvinceId">@item.Name</option>
                                                }
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="col-4">
                                    <select class="form-control cus-form-control m-input m-input--square" id="sl_district_addresshousehold" name="LoanBriefHousehold.DistrictId" onchange="ScriptMotobikeModuleJS.GetWard(this.value, 0, '#box-script #sl_ward_addresshousehold')">
                                        <option></option>
                                    </select>
                                </div>
                                <div class="col-4">
                                    <select class="form-control cus-form-control m-select2" id="sl_ward_addresshousehold" name="LoanBriefHousehold.WardId" aria-hidden="true">
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                            <div style="margin-top: 10px">
                                <input class="form-control cus-form-control m-input cus-input-script" type="text" placeholder="Địa chỉ hộ khẩu" name="LoanBriefHousehold.Address" value="@Model.LoanBriefHousehold.Address">
                            </div>
                        </div>
                    </div>

                    <div class="form-group m-form__group row-cus-script">
                        <div class="col-6 cus-border-right box-cus-row">
                            <label class="col-form-label">
                                Anh/chị cung cấp giúp em thông tin công việc hiện tại của anh/chị ạ: <br />
                                Anh/chị đang làm nghề gì ? vị trí ( mô tả qua về công việc)?,
                                thời gian làm công việc hiện tại bao lâu rồi ạ? Địa chỉ nơi làm việc hiện tại đang ở đâu ạ?
                            </label>
                        </div>
                        <div class="col-6 box-cus-row">
                            <label class="col-form-label" style="font-weight: bold">Thông tin công việc hiện tại khai báo trước đó</label>
                            <div class="row">
                                <div class="col-4" style="margin-top: 10px">Nghề nghiệp:</div>
                                <div class="col-8">
                                    <select class="form-control cus-form-control m-select2" id="sl_jobId" name="LoanBriefJob.JobId">
                                        @if (Model != null && Model.ListJobs != null && Model.ListJobs.Count > 0)
                                        {
                                            <option></option>
                                            foreach (var item in Model.ListJobs)
                                            {
                                                <!option value="@item.JobId" @(item.JobId == Model.LoanBriefJob.JobId ? "selected=\"selected\"" : "")>
                                                    @item.Name
                                                </!option>
                                            }
                                        }
                                    </select>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-4" style="margin-top: 10px">Vị trí:</div>
                                <div class="col-8">
                                    <input class="form-control cus-form-control m-input cus-input-script" type="text" name="LoanBriefJob.Description" value="@Model.LoanBriefJob.Description">
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-4" style="margin-top: 10px">Tên công ty:</div>
                                <div class="col-8">
                                    <input class="form-control cus-form-control m-input cus-input-script" type="text" name="LoanBriefJob.CompanyName" value="@Model.LoanBriefJob.CompanyName">
                                </div>
                            </div>
                            <label class="col-form-label" style="font-weight: bold">Địa chỉ</label>
                            <div class="row">
                                <div class="col-4">
                                    <select class="form-control cus-form-control m-select2" id="sl_province_work_company" name="LoanBriefJob.CompanyProvinceId" onchange="ScriptMotobikeModuleJS.GetDistrict(this.value, 0, '#box-script #sl_district_work_company', '#box-script #sl_ward_work_company')">
                                        @if (Model != null && Model.ListProvince != null && Model.ListProvince.Count > 0)
                                        {
                                            <option></option>
                                            foreach (var item in Model.ListProvince)
                                            {
                                                <!option value="@item.ProvinceId" @(Model.LoanBriefJob.CompanyProvinceId == item.ProvinceId ? "selected=\"selected\"" : "")>@item.Name</!option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="col-4">
                                    <select class="form-control cus-form-control m-input m-input--square" id="sl_district_work_company" name="LoanBriefJob.CompanyDistrictId" onchange="ScriptMotobikeModuleJS.GetWard(this.value, 0, '#box-script #sl_ward_work_company')">
                                        <option></option>
                                    </select>
                                </div>
                                <div class="col-4">
                                    <select class="form-control cus-form-control m-select2" id="sl_ward_work_company" name="LoanBriefJob.CompanyWardId" aria-hidden="true">
                                        <option></option>
                                    </select>
                                </div>
                            </div>

                            <div style="margin-top: 10px">
                                <input class="form-control cus-form-control m-input cus-input-script" type="text" placeholder="Địa chỉ chi tiết" onchange="ScriptMotobikeModuleJS.BindToTextbox(this, '#AddressComapanyGoogleMap')" name="LoanBriefJob.CompanyAddress" value="@Model.LoanBriefJob.CompanyAddress">
                            </div>
                            <div style="margin-top: 10px">
                                <input class="form-control cus-form-control m-input cus-input-script" type="text" placeholder="Địa chỉ công ty trên bản đồ" name="LoanBriefJob.CompanyAddressGoogleMap" id="AddressComapanyGoogleMap" value="@(string.IsNullOrEmpty(Model.LoanBriefJob.CompanyAddressGoogleMap) ? Model.LoanBriefJob.CompanyAddress : Model.LoanBriefJob.CompanyAddressGoogleMap)">
                            </div>

                            <div class="row" style="margin-top: 10px">
                                <div class="col-3">
                                    <button class="btn  btn-tima" type="button" style="padding: 7px 30px; width: 100%" onclick="GoogleMapModule.SearchLocation('#boxGoogleMapCompanyAddress', '#AddressComapanyGoogleMap', '#boxCoordinateCompanyAddress')">Bản đồ</button>
                                </div>
                                <div class="col-9">
                                    <input class="form-control cus-form-control m-input cus-input-script" name="LoanBriefJob.CompanyAddressLatLng" value="@Model.LoanBriefJob.CompanyAddressLatLng" type="text" id="boxCoordinateCompanyAddress">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group m-form__group row-cus-script" id="boxGoogleMapCompanyAddress" style="height: 500px; margin: 15px 0px; display: none">

                    </div>

                    @if (Model.ListLogRequestAi == null || !Model.ListLogRequestAi.Any(x => x.ServiceType == (int)LOS.Common.Extensions.ServiceTypeAI.RuleCheck))
                    {
                        <div class="form-group m-form__group row-cus-script">
                            <div class="col-12 box-cus-row" style="text-align: center;">
                                <a href="javascript:;" class="btn btn-tima" id="btn-request-ai" onclick="ScriptMotobikeModuleJS.CallAI()">Kiểm tra dữ liệu AI</a>
                            </div>
                        </div>
                    }

                    <div>
                        <div class="col-md-12" style="text-align: center; padding: 15px; color: red;">
                            <span style="font-size: 1rem;">Xác nhận lead qualify</span>
                        </div>

                        <div class="col-md-12 row" style="border-bottom: 1px solid #e9ecef; padding-bottom: 10px;">
                            <div class="col-md-3"></div>
                            <div class="col-md-9 row">
                                <div class="col-md-6 m-checkbox-list" style="margin-top: 10px;">
                                    <label class="m-checkbox m-checkbox--state-brand" style="font-size: 1rem; text-align:left;">
                                        <input type="checkbox" value="true" @(Model.CheckLeadQualify != null && Model.CheckLeadQualify.NeedLoan == true ? "checked=\"checked\"" : "") onchange="ScriptMotobikeModuleJS.ChangeOptionQualify(this,@((int)LOS.Common.Extensions.EnumCheckQualify.NeedLoan))" id="cb_NeedLoan">
                                        Có nhu cầu vay
                                        <span></span>
                                    </label>
                                </div>
                                <div class="col-md-6 m-checkbox-list" style="margin-top: 10px;">
                                    <label class="m-checkbox m-checkbox--state-brand" style="font-size: 1rem; text-align:left;">
                                        <input type="checkbox" value="true" @(Model.CheckLeadQualify != null && Model.CheckLeadQualify.InAge == true ? "checked=\"checked\"" : "") onchange="ScriptMotobikeModuleJS.ChangeOptionQualify(this,@((int)LOS.Common.Extensions.EnumCheckQualify.InAge))" id="cb_InAge">
                                        Trong độ tuổi cho vay (20 - 60 tuổi)
                                        <span></span>
                                    </label>
                                </div>
                                <div class="col-md-6 m-checkbox-list" style="margin-top: 10px;">
                                    <label class="m-checkbox m-checkbox--state-brand" style="font-size: 1rem;text-align:left;">
                                        <input type="checkbox" value="true" @(Model.CheckLeadQualify != null && Model.CheckLeadQualify.InAreaSupport == true ? "checked=\"checked\"" : "") onchange="ScriptMotobikeModuleJS.ChangeOptionQualify(this,@((int)LOS.Common.Extensions.EnumCheckQualify.InAreaSupport))" id="cb_InAreaSupport">
                                        Trong khu vực Tima hỗ trợ (HN, HCM)
                                        <span></span>
                                    </label>
                                </div>
                                <div class="col-md-6 m-checkbox-list" style="margin-top: 10px;">
                                    <label class="m-checkbox m-checkbox--state-brand" style="font-size: 1rem;text-align:left;">
                                        <input type="checkbox" value="true" @(Model.CheckLeadQualify != null && Model.CheckLeadQualify.HaveMotobike == true ? "checked=\"checked\"" : "") onchange="ScriptMotobikeModuleJS.ChangeOptionQualify(this,@((int)LOS.Common.Extensions.EnumCheckQualify.HaveMotobike))" id="cb_HaveMotobike">
                                        Có xe máy
                                        <span></span>
                                    </label>
                                </div>
                                <div class="col-md-6 m-checkbox-list" style="margin-top: 10px;">
                                    <label class="m-checkbox m-checkbox--state-brand" style="font-size: 1rem;text-align:left;">
                                        <input type="checkbox" value="true" @(Model.CheckLeadQualify != null && Model.CheckLeadQualify.HaveOriginalVehicleRegistration == true ? "checked=\"checked\"" : "") onchange="ScriptMotobikeModuleJS.ChangeOptionQualify(this,@((int)LOS.Common.Extensions.EnumCheckQualify.HaveOriginalVehicleRegistration))" id="cb_HaveOriginalVehicleRegistration">
                                        Có đăng ký xe bản gốc
                                        <span></span>
                                    </label>
                                </div>
                                <div class="col-md-6 m-checkbox-list" style="margin-top: 10px;">
                                    <label class="m-checkbox m-checkbox--state-brand" style="font-size: 1rem; color: red;text-align:left;">
                                        <input type="checkbox" value="true" @(Model.CheckLeadQualify != null && Model.CheckLeadQualify.NoQualify == true ? "checked=\"checked\"" : "") onchange="ScriptMotobikeModuleJS.ChangeOptionQualify(this,@((int)LOS.Common.Extensions.EnumCheckQualify.NoQualify))" id="cb_NoQualify">
                                        Không đạt tiêu chí qualify
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <input type="hidden" id="hdd_ValueCheckQualify" name="ValueCheckQualify" value="@(Model.ValueCheckQualify.HasValue ? Model.ValueCheckQualify : 0)" />
                        </div>
                    </div>


                    @*<div class="form-group m-form__group row-cus-script">
                            <div class="col-6 cus-border-right box-cus-row">
                                <label class="col-form-label">Thời gian sống :</label>
                            </div>
                            <div class="col-3 box-cus-row">
                                <select class="form-control cus-form-control m-input m-input--square" name="LoanBriefResident.LivingTime" id="sl_LivingTime">
                                    <option></option>
                                    <!option value="1" @(Model.LoanBriefResident.LivingTime == 1 ? "selected=\"selected\"" : "")>Dưới 1 năm</!option>
                                    <!option value="2" @(Model.LoanBriefResident.LivingTime == 2 ? "selected=\"selected\"" : "")>1 -3 năm</!option>
                                    <!option value="3" @(Model.LoanBriefResident.LivingTime == 3 ? "selected=\"selected\"" : "")>3 - 10 năm</!option>
                                    <!option value="4" @(Model.LoanBriefResident.LivingTime == 4 ? "selected=\"selected\"" : "")>Hơn 10 năm</!option>
                                    <!option value="5" @(Model.LoanBriefResident.LivingTime == 5 ? "selected=\"selected\"" : "")>Dưới 6 tháng</!option>
                                    <!option value="6" @(Model.LoanBriefResident.LivingTime == 6 ? "selected=\"selected\"" : "")>6 tháng</!option>
                                    <!option value="7" @(Model.LoanBriefResident.LivingTime == 7 ? "selected=\"selected\"" : "")>Từ 7-12 tháng</!option>
                                    <!option value="8" @(Model.LoanBriefResident.LivingTime == 8 ? "selected=\"selected\"" : "")>Từ 12-36 tháng</!option>
                                    <!option value="9" @(Model.LoanBriefResident.LivingTime == 9 ? "selected=\"selected\"" : "")>Từ 36-72 tháng</!option>
                                    <!option value="10" @(Model.LoanBriefResident.LivingTime == 10 ? "selected=\"selected\"" : "")>Trên 72 tháng</!option>
                                </select>
                            </div>
                        </div>*@

                    @if (Model.HomeNetwork == (int)LOS.Common.Extensions.HomeNetWorkMobile.Viettel || Model.HomeNetwork == (int)LOS.Common.Extensions.HomeNetWorkMobile.Mobi)
                    {
                        <div class="form-group m-form__group row-cus-script">
                            <div class="col-6 cus-border-right box-cus-row">
                                @if (Model.HomeNetwork == (int)LOS.Common.Extensions.HomeNetWorkMobile.Viettel)
                                {
                                    <label class="col-form-label">
                                        Sau cuộc gọi này, bên em sẽ gửi tới số điện thoại của anh/ chị 1 tin nhắn xác nhận lại các thông tin địa chỉ đã khai báo. Anh/ Chị vui lòng soạn tin nhắn theo đúng cú pháp: TIMA Y1 gửi 5788 ( miễn phí) để được hỗ trợ duyệt giải ngân nhanh nhất.
                                        @*Anh/ chị có đồng ý cung cấp dữ liệu vị trí :*@
                                        <span style="font-size: 12px; color: #ADB0C2;width: 100%; float: left">
                                            (Viettel)
                                        </span>
                                    </label>
                                }
                                else
                                {
                                    <label class="col-form-label">
                                        Sau cuộc gọi này, bên em sẽ gửi tới số điện thoại của anh/ chị 1 tin nhắn xác nhận lại các thông tin địa chỉ đã khai báo. Anh/ Chị vui lòng soạn tin nhắn theo đúng cú pháp: DK TIMA gửi 90032 ( miễn phí) để được hỗ trợ duyệt giải ngân nhanh nhất.
                                        @*Anh/ chị có đồng ý cung cấp dữ liệu vị trí :*@
                                        <span style="font-size: 12px; color: #ADB0C2;width: 100%; float: left">
                                            (Mobifone)
                                        </span>
                                    </label>
                                }
                            </div>
                            <div class="col-3 box-cus-row">
                                <div class="m-checkbox-list" style="margin-top: 10px">
                                    <label class="m-checkbox m-checkbox--state-brand">
                                        <input type="checkbox" value="true" @(Model.IsTrackingLocation == true ? "checked=\"checked\"" : "") name="IsTrackingLocation">
                                        Location Sim
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    }

                    @*<div class="row" style="text-align: center; font-weight: bold">
                            <label class="col-form-label col-10 offset-1" style="text-align: center; padding: 15px;">Sau cuộc gọi này, hệ thống sẽ gửi tới anh chị tin nhắn xác nhận lại các thông tin địa chỉ anh/ chị vừa khai báo . Anh/ Chị vui lòng soạn tin nhắn theo đúng cú pháp đã hướng dẫn: TIMA Y1 gửi 5788 ( miễn phí) để được hỗ trợ duyệt giải ngân nhanh nhất.</label>
                        </div>*@
                    <div class="form-group m-form__group row-cus-script" style="border-top: 1px solid #e9ecef">
                        <div class="col-6 cus-border-right box-cus-row">
                            <label class="col-form-label">
                                Anh/ chị cung cấp lại giúp em thông tin về xe của mình ạ: <br />
                                Hãng xe? Tên xe ? Đời xe?
                            </label>
                        </div>
                        <div class="col-6 box-cus-row">
                            <label class="col-form-label" style="font-weight: bold">Thông tin xe khai báo trước đó</label>
                            <div class="row">
                                <div class="col-4" style="margin-top: 10px">Hãng xe:</div>
                                <div class="col-8">
                                    <select class="form-control cus-form-control m-select2" id="sl_brand_product" name="LoanBriefProperty.BrandId" onchange="ScriptMotobikeModuleJS.GetProduct(this.value, 0)">
                                        @if (Model != null && Model.ListBrandProduct != null && Model.ListBrandProduct.Count > 0)
                                        {
                                            <option></option>
                                            foreach (var item in Model.ListBrandProduct)
                                            {
                                                <!option value="@item.Id" @(Model.LoanBriefProperty.BrandId == item.Id ? "selected=\"selected\"" : "")>@item.Name</!option>
                                            }
                                        }
                                    </select>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-4" style="margin-top: 10px">Tên xe:</div>
                                <div class="col-8">
                                    <select class="form-control cus-form-control m-select2" id="sl_product_name" name="LoanBriefProperty.ProductId" aria-hidden="true" onchange="ScriptMotobikeModuleJS.GetMaxPrice()">
                                        <option></option>
                                    </select>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="form-group m-form__group row-cus-script">
                        <div class="col-6 cus-border-right box-cus-row">
                            <label class="col-form-label">
                                Nhà anh/ chị hiện đang ở là Thuê hay đứng tên sở hữu của ai? <br />
                                Người đó có mối quan hệ như thế nào với anh/ chị ạ?
                            </label>
                        </div>
                        <div class="col-4 box-cus-row box-group">
                            <select class="form-control cus-form-control m-select2" id="sl_TypeOwnerShip" name="LoanBriefResident.ResidentType" tabindex="5" aria-hidden="true" onchange="ScriptMotobikeModuleJS.GetMaxPrice()">
                                <option></option>
                                @*<!option value="1" @(Model.LoanBriefResident.ResidentType == 1 ? "selected=\"selected\"" : "")>Nhà chính chủ</!option>*@
                                <!option value="2" @(Model.LoanBriefResident.ResidentType == 2 ? "selected=\"selected\"" : "")>Đồng sở hữu</!option>
                                @*<!option value="3" @(Model.LoanBriefResident.ResidentType == 3 ? "selected=\"selected\"" : "")>Đứng tên họ hàng</!option>*@
                                <!option value="4" @(Model.LoanBriefResident.ResidentType == 4 ? "selected=\"selected\"" : "")>Thuê</!option>
                                <!option value="6" @(Model.LoanBriefResident.ResidentType == 6 ? "selected=\"selected\"" : "")>Nhà sở hữu</!option>
                                <!option value="7" @(Model.LoanBriefResident.ResidentType == 7 ? "selected=\"selected\"" : "")>Đứng tên bố mẹ</!option>
                                <!option value="8" @(Model.LoanBriefResident.ResidentType == 8 ? "selected=\"selected\"" : "")>Đứng tên vợ/ chồng</!option>

                            </select>
                        </div>
                    </div>


                    <div class="form-group m-form__group row-cus-script">
                        <div class="col-6 cus-border-right box-cus-row">
                            <label class="col-form-label">
                                Thu nhập bình quân 1 tháng của anh/chị là bao nhiêu ạ?
                            </label>
                        </div>
                        <div class="col-6 box-cus-row">
                            <label class="col-form-label" style="font-weight: bold">Thu nhập khai báo trước đó</label>
                            <div class="row">
                                <div class="col-8">
                                    <input style="text-align: right;" class="form-control cus-form-control m-input cus-input-script inputAmountVND" type="text" placeholder="" id="txtTotalIncome" name="LoanBriefJob.TotalIncome" value="@(Model.LoanBriefJob.TotalIncome.HasValue ? Model.LoanBriefJob.TotalIncome.Value.ToString("###,0") : "0")">
                                </div>
                            </div>
                        </div>
                    </div>

                    @*<div class="form-group m-form__group row-cus-script">
                            <div class="col-6 cus-border-right box-cus-row">
                                <label class="col-form-label">Hình thức nhận lương:</label>
                            </div>
                            <div class="col-3 box-cus-row">
                                <div class="m-radio-inline" style="margin-top: 10px">
                                    <label class="m-radio">
                                        <input type="radio" @(Model.LoanBriefJob.ImcomeType == 1 ? "checked=\"checked\"" : "") name="LoanBriefJob.ImcomeType" value="1">
                                        Tiền mặt
                                        <span></span>
                                    </label>
                                    <label class="m-radio">
                                        <input type="radio" name="LoanBriefJob.ImcomeType" @(Model.LoanBriefJob.ImcomeType == 2 ? "checked=\"checked\"" : "") value="2">
                                        Chuyển khoản
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>*@

                    <div class="form-group m-form__group row-cus-script">
                        <div class="col-6 cus-border-right box-cus-row">
                            <label class="col-form-label">
                                Anh/ chị cung cấp giúp em 1 số điện thoại người thân và 1 số điện thoại bạn bè/ đồng nghiệp để liên hệ trong trường hợp khi tiến hành GN hoặc gửi trả lại đăng ký xe bên em không gọi được cho anh/chị.
                            </label>
                        </div>
                        <div class="col-6 box-cus-row">
                            <div class="row">
                                <div class="col-4" style="margin-top: 10px">Tên:</div>
                                <div class="col-8">
                                    <input class="form-control cus-form-control m-input cus-input-script" type="text" name="LoanBriefRelationship[0].FullName" value="@(Model.LoanBriefRelationship.ToList() != null && Model.LoanBriefRelationship.Count > 0 ? Model.LoanBriefRelationship.ToList()[0].FullName : "")" placeholder="Nhập tên người thân">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4" style="margin-top: 10px">Mối quan hệ:</div>
                                <div class="col-8">
                                    <select class="form-control cus-form-control m-select2" id="sl_relative_family" name="LoanBriefRelationship[0].RelationshipType">
                                        @if (Model != null && Model.ListRelativeFamilys != null && Model.ListRelativeFamilys.Count > 0)
                                        {
                                            <option></option>
                                            foreach (var item in Model.ListRelativeFamilys)
                                            {
                                                <!option value="@item.Id" @(Model.LoanBriefRelationship.ToList() != null && Model.LoanBriefRelationship.Count > 0 && Model.LoanBriefRelationship.ToList()[0].RelationshipType == item.Id ? "selected=\"selected\"" : "")>
                                                    @item.Name
                                                </!option>
                                            }
                                        }
                                    </select>
                                </div>
                                <input type="hidden" value="@(Model.LoanBriefRelationship.ToList() != null && Model.LoanBriefRelationship.Count > 0 ? Model.LoanBriefRelationship.ToList()[0].Id : 0)" name="LoanBriefRelationship[0].Id" />
                            </div>
                            <div class="row">
                                <div class="col-4" style="margin-top: 10px">Điện thoại:</div>
                                <div class="col-8">
                                    <input class="form-control cus-form-control m-input cus-input-script" type="text" name="LoanBriefRelationship[0].Phone" value="@(Model.LoanBriefRelationship.ToList() != null  && Model.LoanBriefRelationship.Count > 0 ? Model.LoanBriefRelationship.ToList()[0].Phone : "")" placeholder="Nhập số ĐT người thân">
                                </div>
                            </div>

                            @if (Model.LoanBriefRelationship.ToList() != null && Model.LoanBriefRelationship.Count > 0)
                            {
                                //Đã gọi nhưng AI chưa trả ra kết quả
                                if (Model.LoanBriefRelationship.ToList()[0].RefPhoneCallRate == null
                                    && Model.ListLogRequestAi.Count(x => x.ServiceType == (int)LOS.Common.Extensions.ServiceTypeAI.RefPhone) > 0)
                                {
                                    <div class="row" id="div-AIresult-CheckPhoneRelationship" style="margin-top: 10px;">
                                        <div class="col-4" style="margin-top: 10px">
                                        </div>
                                        <div class="col-8">
                                            <span style="font-size: 15px;">Kết quả: <i style="color: red;">Đã gửi yêu cầu</i></span>
                                        </div>
                                    </div>
                                }
                                //Sim Viettel
                                else if (_networkService.CheckHomeNetwok(Model.Phone) == (int)LOS.Common.Extensions.HomeNetWorkMobile.Viettel)
                                {
                                    //Người hay liên hệ nhưng kết quả là không liên lạc
                                    if (Model.LoanBriefRelationship.ToList()[0].RefPhoneCallRate == (int)LOS.Common.Extensions.EnumCallRate.NoContact
                                       && Model.LoanBriefRelationship.ToList()[0].RelationshipType == (int)LOS.Common.Extensions.EnumRelativeFamily.HayLienHe)
                                    {

                                        <div class="row" style="margin-top: 10px;" id="div-AIresult-CheckPhoneRelationship">
                                            <div class="col-4" style="margin-top: 10px">
                                            </div>
                                            <div class="col-8">
                                                @if (Model.ListLogRequestAi.Count(x => x.ServiceType == (int)LOS.Common.Extensions.ServiceTypeAI.RefPhone) < 3)
                                                {
                                                    <span style="font-size: 15px;">
                                                        Kết quả: <i style="color: red;">
                                                            @LOS.Common.Helpers.ExtentionHelper.GetDescription((LOS.Common.Extensions.EnumCallRate)Model.LoanBriefRelationship.ToList()[0].RefPhoneCallRate)
                                                        </i>
                                                    </span><br />
                                                    <span style="font-size: 15px;">Telesales hỏi khách hàng xin lại số điện thoại thường xuyên liên hệ khác</span>
                                                }
                                                //gọi kiểm tra quá 3 lần
                                                else
                                                {
                                                    <span style="font-size: 15px;">Telesales hỏi khách hàng xin số điện thoại người thân</span>
                                                }
                                            </div>
                                        </div>

                                    }
                                    // có kết quả trả về
                                    else
                                    {
                                        if (Model.LoanBriefRelationship.ToList()[0].RefPhoneCallRate.HasValue && Enum.IsDefined(typeof(LOS.Common.Extensions.EnumCallRate), Model.LoanBriefRelationship.ToList()[0].RefPhoneCallRate))
                                        {
                                            <div class="row" style="margin-top: 10px;" id="div-AIresult-CheckPhoneRelationship">
                                                <div class="col-4" style="margin-top: 10px">
                                                </div>
                                                <div class="col-8">
                                                    <span style="font-size: 15px;">
                                                        Kết quả: <i style="color: red;">
                                                            @LOS.Common.Helpers.ExtentionHelper.GetDescription((LOS.Common.Extensions.EnumCallRate)Model.LoanBriefRelationship.ToList()[0].RefPhoneCallRate)
                                                        </i>
                                                    </span><br />
                                                </div>
                                            </div>
                                        }
                                    }
                                }
                                //Sim Mobi
                                else if (_networkService.CheckHomeNetwok(Model.Phone) == (int)LOS.Common.Extensions.HomeNetWorkMobile.Mobi)
                                {
                                    //Người hay liên hệ nhưng kết quả là không liên lạc
                                    if (Model.LoanBriefRelationship.ToList()[0].RefPhoneCallRate == (int)LOS.Common.Extensions.EnumCallRateMobifone.NoContact
                                       && Model.LoanBriefRelationship.ToList()[0].RelationshipType == (int)LOS.Common.Extensions.EnumRelativeFamily.HayLienHe)
                                    {
                                        <div class="row" style="margin-top: 10px;" id="div-AIresult-CheckPhoneRelationship">
                                            <div class="col-4" style="margin-top: 10px">
                                            </div>
                                            <div class="col-8">
                                                @if (Model.ListLogRequestAi.Count(x => x.ServiceType == (int)LOS.Common.Extensions.ServiceTypeAI.RefPhone) < 3)
                                                {
                                                    <span style="font-size: 15px;">
                                                        Kết quả: <i style="color: red;">
                                                            @LOS.Common.Helpers.ExtentionHelper.GetDescription((LOS.Common.Extensions.HomeNetWorkMobile)Model.LoanBriefRelationship.ToList()[0].RefPhoneCallRate)
                                                        </i>
                                                    </span><br />
                                                    <span style="font-size: 15px;">Telesales hỏi khách hàng xin lại số điện thoại thường xuyên liên hệ khác</span>
                                                }
                                                //gọi kiểm tra quá 3 lần
                                                else
                                                {
                                                    <span style="font-size: 15px;">Telesales hỏi khách hàng xin số điện thoại người thân</span>
                                                }
                                            </div>
                                        </div>

                                    }
                                    // có kết quả trả về
                                    else
                                    {
                                        if (Model.LoanBriefRelationship.ToList()[0].RefPhoneCallRate.HasValue && Enum.IsDefined(typeof(LOS.Common.Extensions.EnumCallRateMobifone), Model.LoanBriefRelationship.ToList()[0].RefPhoneCallRate))
                                        {
                                            <div class="row" style="margin-top: 10px;" id="div-AIresult-CheckPhoneRelationship">
                                                <div class="col-4" style="margin-top: 10px">
                                                </div>
                                                <div class="col-8">
                                                    <span style="font-size: 15px;">Kết quả: <i style="color: red;">@LOS.Common.Helpers.ExtentionHelper.GetDescription((LOS.Common.Extensions.EnumCallRateMobifone)Model.LoanBriefRelationship.ToList()[0].RefPhoneCallRate)</i></span><br />
                                                </div>
                                            </div>
                                        }
                                    }
                                }
                            }

                            <div class="row" id="div-sendResultCheckPhoneRelationshipAI" style="margin-top: 10px;">
                                <div class="col-4" style="margin-top: 10px">
                                </div>
                                <div class="col-8">
                                    <span style="font-size: 15px;">Kết quả: <i style="color: red;">Đã gửi yêu cầu</i></span>
                                </div>
                            </div>

                            <div class="row" style="padding-top: 15px;">
                                <div class="col-4" style="margin-top: 10px">Tên:</div>
                                <div class="col-8">
                                    <input class="form-control cus-form-control m-input cus-input-script" type="text" name="LoanBriefRelationship[1].FullName" value="@(Model.LoanBriefRelationship.ToList() != null && Model.LoanBriefRelationship.Count > 1 ? Model.LoanBriefRelationship.ToList()[1].FullName : "")" placeholder="Nhập tên người thân">
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-4" style="margin-top: 10px">Mối quan hệ:</div>
                                <div class="col-8">
                                    <select class="form-control cus-form-control m-select2" id="sl_relative_family2" name="LoanBriefRelationship[1].RelationshipType">
                                        @if (Model != null && Model.ListRelativeFamilys != null && Model.ListRelativeFamilys.Count > 0)
                                        {
                                            <option></option>
                                            foreach (var item in Model.ListRelativeFamilys)
                                            {
                                                <!option value="@item.Id" @(Model.LoanBriefRelationship.ToList() != null && Model.LoanBriefRelationship.Count > 1 && Model.LoanBriefRelationship.ToList()[1].RelationshipType == item.Id ? "selected=\"selected\"" : "")>
                                                    @item.Name
                                                </!option>
                                            }
                                        }
                                    </select>
                                </div>
                                <input type="hidden" value="@(Model.LoanBriefRelationship.ToList() != null && Model.LoanBriefRelationship.Count > 1 ? Model.LoanBriefRelationship.ToList()[1].Id : 0)" name="LoanBriefRelationship[1].Id" />
                            </div>
                            <div class="row">
                                <div class="col-4" style="margin-top: 10px">Điện thoại:</div>
                                <div class="col-8">
                                    <input class="form-control cus-form-control m-input cus-input-script" type="text" name="LoanBriefRelationship[1].Phone" value="@(Model.LoanBriefRelationship.ToList() != null && Model.LoanBriefRelationship.Count > 1 ? Model.LoanBriefRelationship.ToList()[1].Phone : "")" placeholder="Nhập số ĐT người thân">
                                </div>
                            </div>

                            @if (Model.LoanBriefRelationship.ToList() != null && Model.LoanBriefRelationship.Count > 1)
                            {
                                //Đã gọi nhưng AI chưa trả ra kết quả
                                if (Model.LoanBriefRelationship.ToList()[1].RefPhoneCallRate == null
                                    && Model.ListLogRequestAi.Count(x => x.ServiceType == (int)LOS.Common.Extensions.ServiceTypeAI.RefPhone) > 0)
                                {
                                    <div class="row" id="div-AIresult-CheckPhoneRelationship1" style="margin-top: 10px;">
                                        <div class="col-4" style="margin-top: 10px">
                                        </div>
                                        <div class="col-8">
                                            <span style="font-size: 15px;">Kết quả: <i style="color: red;">Đã gửi yêu cầu</i></span>
                                        </div>
                                    </div>
                                }

                                //Sim Viettel
                                else if (_networkService.CheckHomeNetwok(Model.Phone) == (int)LOS.Common.Extensions.HomeNetWorkMobile.Viettel)
                                {
                                    //Người hay liên hệ nhưng kết quả là không liên lạc
                                    if (Model.LoanBriefRelationship.ToList()[1].RefPhoneCallRate == (int)LOS.Common.Extensions.EnumCallRate.NoContact
                                       && Model.LoanBriefRelationship.ToList()[1].RelationshipType == (int)LOS.Common.Extensions.EnumRelativeFamily.HayLienHe)
                                    {
                                        <div class="row" style="margin-top: 10px;" id="div-AIresult-CheckPhoneRelationship1">
                                            <div class="col-4" style="margin-top: 10px">
                                            </div>
                                            <div class="col-8">
                                                @if (Model.ListLogRequestAi.Count(x => x.ServiceType == (int)LOS.Common.Extensions.ServiceTypeAI.RefPhone) < 3)
                                                {
                                                    <span style="font-size: 15px;">
                                                        Kết quả: <i style="color: red;">
                                                            @LOS.Common.Helpers.ExtentionHelper.GetDescription((LOS.Common.Extensions.EnumCallRate)Model.LoanBriefRelationship.ToList()[0].RefPhoneCallRate)
                                                        </i>
                                                    </span><br />
                                                    <span style="font-size: 15px;">Telesales hỏi khách hàng xin lại số điện thoại thường xuyên liên hệ khác</span>
                                                }
                                                //gọi kiểm tra quá 3 lần
                                                else
                                                {
                                                    <span style="font-size: 15px;">Telesales hỏi khách hàng xin số điện thoại người thân</span>
                                                }
                                            </div>
                                        </div>

                                    }
                                    // có kết quả trả về
                                    else
                                    {
                                        if (Model.LoanBriefRelationship.ToList()[1].RefPhoneCallRate.HasValue && Enum.IsDefined(typeof(LOS.Common.Extensions.EnumCallRate), Model.LoanBriefRelationship.ToList()[1].RefPhoneCallRate))
                                        {
                                            <div class="row" style="margin-top: 10px;" id="div-AIresult-CheckPhoneRelationship1">
                                                <div class="col-4" style="margin-top: 10px">
                                                </div>
                                                <div class="col-8">
                                                    <span style="font-size: 15px;">Kết quả: <i style="color: red;">@LOS.Common.Helpers.ExtentionHelper.GetDescription((LOS.Common.Extensions.EnumCallRate)Model.LoanBriefRelationship.ToList()[1].RefPhoneCallRate)</i></span><br />
                                                </div>
                                            </div>
                                        }

                                    }
                                }
                                //Sim Mobi
                                else if (_networkService.CheckHomeNetwok(Model.Phone) == (int)LOS.Common.Extensions.HomeNetWorkMobile.Mobi)
                                {
                                    //Người hay liên hệ nhưng kết quả là không liên lạc
                                    if (Model.LoanBriefRelationship.ToList()[1].RefPhoneCallRate == (int)LOS.Common.Extensions.EnumCallRateMobifone.NoContact
                                       && Model.LoanBriefRelationship.ToList()[1].RelationshipType == (int)LOS.Common.Extensions.EnumRelativeFamily.HayLienHe)
                                    {
                                        <div class="row" style="margin-top: 10px;" id="div-AIresult-CheckPhoneRelationship1">
                                            <div class="col-4" style="margin-top: 10px">
                                            </div>
                                            <div class="col-8">
                                                @if (Model.ListLogRequestAi.Count(x => x.ServiceType == (int)LOS.Common.Extensions.ServiceTypeAI.RefPhone) < 3)
                                                {
                                                    <span style="font-size: 15px;">
                                                        Kết quả: <i style="color: red;">
                                                            @LOS.Common.Helpers.ExtentionHelper.GetDescription((LOS.Common.Extensions.HomeNetWorkMobile)Model.LoanBriefRelationship.ToList()[1].RefPhoneCallRate)
                                                        </i>
                                                    </span><br />
                                                    <span style="font-size: 15px;">Telesales hỏi khách hàng xin lại số điện thoại thường xuyên liên hệ khác</span>
                                                }
                                                //gọi kiểm tra quá 3 lần
                                                else
                                                {
                                                    <span style="font-size: 15px;">Telesales hỏi khách hàng xin số điện thoại người thân</span>
                                                }
                                            </div>
                                        </div>

                                    }
                                    // có kết quả trả về
                                    else
                                    {
                                        if (Model.LoanBriefRelationship.ToList()[1].RefPhoneCallRate.HasValue && Enum.IsDefined(typeof(LOS.Common.Extensions.EnumCallRateMobifone), Model.LoanBriefRelationship.ToList()[1].RefPhoneCallRate))
                                        {
                                            <div class="row" style="margin-top: 10px;" id="div-AIresult-CheckPhoneRelationship1">
                                                <div class="col-4" style="margin-top: 10px">
                                                </div>
                                                <div class="col-8">
                                                    <span style="font-size: 15px;">Kết quả: <i style="color: red;">@LOS.Common.Helpers.ExtentionHelper.GetDescription((LOS.Common.Extensions.EnumCallRateMobifone)Model.LoanBriefRelationship.ToList()[1].RefPhoneCallRate)</i></span><br />
                                                </div>
                                            </div>
                                        }
                                    }
                                }
                            }

                            <div class="row" id="div-sendResultCheckPhoneRelationshipAI1" style="margin-top: 10px;">
                                <div class="col-4" style="margin-top: 10px">
                                </div>
                                <div class="col-8">
                                    <span style="font-size: 15px;">Kết quả: <i style="color: red;">Đã gửi yêu cầu</i></span>
                                </div>
                            </div>

                            @if ((_networkService.CheckHomeNetwok(Model.Phone) == (int)LOS.Common.Extensions.HomeNetWorkMobile.Viettel
|| _networkService.CheckHomeNetwok(Model.Phone) == (int)LOS.Common.Extensions.HomeNetWorkMobile.Mobi)
&& Model.ListLogRequestAi != null && Model.ListLogRequestAi.Count(x => x.ServiceType == (int)LOS.Common.Extensions.ServiceTypeAI.RefPhone) < 3)
                            {
                                <div class="row" id="div-btnCheckPhoneRelationshipAI">
                                    <div class="col-3" style="margin-top: 10px">
                                        <button class="btn  btn-tima" id="btn_CheckPhoneRelationshipAI" type="button" style="padding: 7px 30px; width: 100%" onclick="ScriptMotobikeModuleJS.SendCheckPhoneRelationshipAI()">Kiểm tra</button>
                                    </div>
                                    <div class="col-9"></div>
                                </div>
                            }
                        </div>
                    </div>


                    @*<div class="form-group m-form__group row-cus-script">
                            <div class="col-6 cus-border-right box-cus-row">
                                <label class="col-form-label">
                                    Anh/ chị đi làm có được ký HĐLĐ không ạ?
                                    <span style="font-size: 12px; color: #ADB0C2;width: 100%; float: left">
                                        (TLS chỉ hỏi khi KH báo làm việc tại các doanh nghiệp/ công ty)
                                    </span>
                                </label>
                            </div>
                            <div class="col-4 box-cus-row">
                                <select class="select2-select-00 full-width-fix select2-offscreen" name="LoanBriefJob.ContractType" id="sl_ContractType">
                                    <option></option>
                                    <!option value="1" @(Model != null && Model.LoanBriefJob.ContractType == 1 ? "selected=\" selected\"" : "")>HĐLĐ 1 năm</!option>
                                    <!option value="2" @(Model != null && Model.LoanBriefJob.ContractType == 2 ? "selected=\" selected\"" : "")>HĐLĐ trên 1 năm</!option>
                                    <!option value="3" @(Model != null && Model.LoanBriefJob.ContractType == 3 ? "selected=\" selected\"" : "")>HĐLĐ 6 tháng</!option>
                                    <!option value="4" @(Model != null && Model.LoanBriefJob.ContractType == 4 ? "selected=\" selected\"" : "")>Không ký HĐLĐ</!option>
                                </select>
                            </div>
                        </div>*@

                    @*<div class="form-group m-form__group row-cus-script">
                            <div class="col-6 cus-border-right box-cus-row">
                                <label class="col-form-label">
                                    Anh/ chị có thể cung cấp được HĐLĐ/ giấy xác nhận lương/ SMS Banking/ Internet banking/ mobile banking/ sao kê lương của 1 tháng gần nhất không ạ?
                                    <span style="font-size: 12px; color: #ADB0C2;width: 100%; float: left">
                                        (TLS chỉ hỏi khi KH báo làm việc tại các doanh nghiệp/ công ty)
                                    </span>
                                </label>
                            </div>
                            <div class="col-4 box-cus-row">
                                <div class="m-radio-inline" style="margin-top: 10px">
                                    <label class="m-radio">
                                        <input type="radio" name="Contract" value="1">
                                        Có
                                        <span></span>
                                    </label>
                                    <label class="m-radio">
                                        <input type="radio" name="Contract" value="0">
                                        Không
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>*@

                    <div class="form-group m-form__group row-cus-script">
                        <div class="col-6 cus-border-right box-cus-row">
                            <label class="col-form-label">
                                Anh/chị dự kiến dùng số tiền vay để phục vụ mục đích gì ạ?
                            </label>
                        </div>
                        <div class="col-4 box-cus-row">
                            <select class="select2-select-00 full-width-fix select2-offscreen" name="LoanPurpose" id="sl_LoanPurpose">
                                <option></option>
                                @if (Model != null && Model.ListLoanPurpose != null && Model.ListLoanPurpose.Count > 0)
                                {
                                    <option></option>
                                    foreach (var item in Model.ListLoanPurpose)
                                    {
                                        if (Convert.ToInt32(item.Value) == Model.LoanPurpose)
                                        {
                                            <option value="@item.Value" selected="selected">
                                                @item.Text
                                            </option>
                                        }
                                        else
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                    </div>

                    <div class="row" style="text-align: center; font-weight: bold">
                        <label class="col-form-label col-10 offset-1" style="text-align: center; padding: 15px; color: red;">
                            Cảm ơn anh/ chị đã cung cấp thông tin ạ. Với đời xe của anh/ chị bên em có thể hỗ trợ cho vay tối đa số tiền là :
                            <span id="txtMaxPrice">@(Model.MaxPriceProduct > 0 ? Model.MaxPriceProduct.ToString("##,#") : "0")</span> VNĐ
                        </label>
                    </div>

                    <div class="form-group m-form__group row-cus-script" style="border-top: 1px solid #e9ecef">
                        <div class="col-6 cus-border-right box-cus-row">
                            <label class="col-form-label">
                                Anh/ chị(@Model.Customer.FullName) muốn đăng ký vay bao nhiêu tiền ạ?
                                <span style="font-size: 12px; color: #ADB0C2;width: 100%; float: left">
                                    Số tiền đăng ký trước đó: @(Model.LoanAmount.HasValue ? Model.LoanAmount.Value.ToString("##,#") : "0")
                                </span>
                            </label>
                        </div>
                        <div class="col-4 box-cus-row">
                            <input class="form-control cus-form-control m-input cus-input-script inputAmountVND" type="text" id="txtLoanAmount" name="LoanAmount" value="@(Model.LoanAmount.HasValue? Model.LoanAmount.Value.ToString("###,0") : "0")" style="text-align: right;">
                        </div>
                    </div>

                    <div class="form-group m-form__group row-cus-script">
                        <div class="col-6 cus-border-right box-cus-row">
                            <label class="col-form-label">
                                Anh/ chị muốn đăng ký vay trong thời hạn bao lâu ạ?
                            </label>
                        </div>
                        <div class="col-4 box-cus-row">
                            <select class="form-control cus-form-control m-input m-input--square" id="sl_LoanTime" name="LoanTime">
                                <option></option>
                                <!option value="1" @(Model.LoanTime == 1 ? "selected=\"selected\"" : "")>1 tháng</!option>
                                <!option value="2" @(Model.LoanTime == 2 ? "selected=\"selected\"" : "")>2 tháng</!option>
                                <!option value="3" @(Model.LoanTime == 3 ? "selected=\"selected\"" : "")>3 tháng</!option>
                                <!option value="6" @(Model.LoanTime == 6 ? "selected=\"selected\"" : "")>6 tháng</!option>
                                <!option value="9" @(Model.LoanTime == 9 ? "selected=\"selected\"" : "")>9 tháng</!option>
                                <!option value="12" @(Model.LoanTime == 12 ? "selected=\"selected\"" : "")>12 tháng</!option>
                                <!option value="18" @(Model.LoanTime == 18 ? "selected=\"selected\"" : "")>18 tháng</!option>
                                <!option value="24" @(Model.LoanTime == 24 ? "selected=\"selected\"" : "")>24 tháng</!option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group m-form__group row-cus-script">
                        <div class="col-6 cus-border-right box-cus-row">
                            <label class="col-form-label">
                                Hình thức thanh toán
                            </label>
                        </div>
                        <div class="col-4 box-cus-row">
                            <select class="form-control cus-form-control m-input m-input--square" id="sl_RateType" name="RateTypeId">
                                <option></option>
                                @if (TypeProduct == 1)
                                {
                                    <!option value="10" @(Model.RateTypeId == 10 ? "selected=\"selected\"" : "")>Dư nợ giảm dần</!option>
                                }
                                else
                                {
                                    <!option value="6" @(Model.RateTypeId == 6 ? "selected=\"selected\"" : "")>Tất toán cuối kỳ</!option>
                                    <!option value="10" @(Model.RateTypeId == 10 ? "selected=\"selected\"" : "")>Dư nợ giảm dần</!option>
                                }


                            </select>
                        </div>
                    </div>

                    <div class="form-group m-form__group row-cus-script">
                        <div class="col-6 cus-border-right box-cus-row">
                            <label class="col-form-label">Với khoản vay này, bên em sẽ giữ lại bản gốc đăng ký xe và hoàn trả khi tất toán khoản vay. Sau khi ký HĐ, nhân viên KD sẽ thu đăng ký xe luôn và gửi lại anh/ chị giấy xác nhận lưu giữ đăng ký xe ( giấy lưu hành xe) để thuận tiện trong việc tham gia giao thông hàng ngày ạ.</label>
                        </div>
                        <div class="col-6 box-cus-row">
                            <div class="m-radio-inline" style="margin-top: 10px">
                                <label class="m-radio">
                                    <input type="radio" name="HoldMotobikeCertificate" value="1">
                                    Đồng ý
                                    <span></span>
                                </label>
                                <label class="m-radio">
                                    <input type="radio" name="HoldMotobikeCertificate" value="0">
                                    Không đồng ý
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="text-align: center; font-weight: bold">
                        <label class="col-form-label col-10 offset-1" style="text-align: center; padding: 15px;">Anh/ chị lưu ý khi giải ngân, hệ thống sẽ tự động khấu trừ 5% phí bảo hiểm khoản vay, trong trường hợp xảy ra các rủi ro không đáng có, bảo hiểm sẽ thực hiện chi trả thay anh/ chị, không ảnh hưởng tới những người thân của mình ạ.</label>
                    </div>

                    <div class="row" style="text-align: center; font-weight: bold">
                        <label class="col-form-label col-10 offset-1" style="text-align: center; padding: 15px;">Em sẽ tạm tính phí bảo hiểm khoản vay cho anh/ chị với giả thuyết hôm nay là ngày giải ngân : (Dựa trên các thông tin TLS đã nhập về : số tiền vay, thời hạn vay, hình thức thanh toán, khu vực thì tự tính ra số tiền bảo hiểm mà khách hàng sẽ bị khấu trừ khi giải ngân).</label>
                    </div>

                    <div class="form-group m-form__group row-cus-script">
                        <div class="col-6 cus-border-right box-cus-row">
                            <label class="col-form-label">Anh/ chị vui lòng chụp ảnh các giấy tờ sau và gửi lại cho em qua zalo để được duyệt khoản vay trong ngày ạ</label>
                        </div>
                        <div class="col-6 box-cus-row">
                            <div class="col-md-12 format-text">
                                <label> + Hai mặt đăng ký xe</label><br>
                            </div>
                            <div class="col-md-12 format-text">
                                <label> + Hai mặt CMT/CCCD</label><br>
                            </div>
                            <div class="col-md-12 format-text">
                                <label> + Ảnh chân dung tay cầm mặt trước CMT</label><br>
                            </div>
                            @*<div class="m-checkbox-list" style="margin-top: 10px">
                                    <label class="m-checkbox m-checkbox--state-brand">
                                        <input type="checkbox" @(Model.LoanBriefDocument != null && Model.LoanBriefDocument.Any(x => x.DocumentId == 1) ? "checked=\"checked\"" : "") value="1" name="ListLoanBriefDocument">
                                        Bản gốc CMT
                                        <span></span>
                                    </label>
                                    <label class="m-checkbox m-checkbox--state-brand">
                                        <input type="checkbox" value="2" @(Model.LoanBriefDocument != null && Model.LoanBriefDocument.Any(x => x.DocumentId == 2) ? "checked=\"checked\"" : "") name="ListLoanBriefDocument">
                                        Bản gốc hộ chiếu
                                        <span></span>
                                    </label>
                                    <label class="m-checkbox m-checkbox--state-brand">
                                        <input type="checkbox" value="3" @(Model.LoanBriefDocument != null && Model.LoanBriefDocument.Any(x => x.DocumentId == 3) ? "checked=\"checked\"" : "") name="ListLoanBriefDocument">
                                        Ảnh chụp/ bản gốc/ Bản photo KT1/KT3- NHÀ THUÊ
                                        <span></span>
                                    </label>
                                </div>*@
                        </div>
                    </div>

                    <div class="form-group m-form__group row-cus-script">
                        <div class="col-6 cus-border-right box-cus-row">
                            <label class="col-form-label">Ghi chú telesales</label>
                        </div>
                        <div class="col-6 box-cus-row">
                            <input class="form-control cus-form-control m-input cus-input-script" type="text" name="LoanBriefComment" value="">
                        </div>
                    </div>

                    <div class="form-group m-form__group row-cus-script">
                        <div class="col-12 box-cus-row" style="text-align: center;">
                            @if (Model.ListLogRequestAi != null && Model.ListLogRequestAi.Any(x => x.ServiceType == (int)LOS.Common.Extensions.ServiceTypeAI.RuleCheck))
                            {
                                <a href="javascript:;" class="btn btn-tima" id="btn-response-ai" onclick="ScriptMotobikeModuleJS.ViewResponseAI(@Model.LoanBriefId)">Kết quả AI</a>
                            }
                            else
                            {
                                <a href="javascript:;" class="btn btn-tima" id="btn-response-ai" onclick="ScriptMotobikeModuleJS.ViewResponseAI(@Model.LoanBriefId)" style="display: none">Kết quả AI</a>
                            }
                        </div>
                    </div>
                    <div class="form-group m-form__group row-cus-script row" id="boxResultAI" style="display: none">
                    </div>

                    @*<div class="row" style="text-align: center; font-weight: bold">
                            <label class="col-form-label col-12" style="text-align: center; padding: 15px;">
                                Sau cuộc gọi này, CVKD của Tima sẽ liên hệ để chốt lịch hẹn qua tư vấn và ký hợp đồng. Anh/ chị lưu ý chuẩn bị đầy đủ các giấy tờ em đã hướng dẫn khi găp CVKD.
                                Để Hồ sơ được duyệt GN sớm,anh/ chị vui lòng chú ý điện thoại để không bỏ lỡ các cuộc gọi đến ạ. Khi cần hỗ trợ thông tin, anh/ chị vui lòng liên hệ tổng đài 190063368.
                                Em cảm ơn, chào anh/ chị ạ.
                            </label>
                        </div>*@
                </div>

                @*<div class="row" style="text-align: center; font-weight: bold; display: none;" id="boxRefuseAcceptCall">
                        <label class="col-form-label col-8 offset-2" style="text-align: center; padding: 15px; color: red;">
                            Dạ, vậy trong thời gian tới, khi nào có nhu cầu cần hỗ trợ vay vốn, anh / chị vui lòng liên hệ lại tổng đài 1900633688 để được tư vấn khoản vay ạ. Em cảm ơn,chào anh/ chị.
                        </label>
                    </div>
                    <div class="row" style="text-align: center; font-weight: bold; display: none;" id="boxPhoneFail">
                        <label class="col-form-label col-8 offset-2" style="text-align: center; padding: 15px; color: red;">
                            Dạ, xin lỗi anh/ chị vì sự nhầm lẫn này ạ. Em xin phép gác máy. Chào anh/ chị ạ.
                        </label>
                    </div>*@
                <button type="button" data-toggle="modal" href="#Modal" class="btn btn-danger" onclick="ScheduleTimeModule.FormScheduleTime(@Model.LoanBriefId)" id="btnAppointment" style="display: none; padding: 5px 10px; margin-top: 15px;">Click hẹn gọi lại</button>
            </div>

            <div class="row" style="border: none; padding-top: 25px" id="box-group-action">
                <div class="col-4">
                    <button type="button" class="btn btn-cus-default" style="width: 100%" onclick="ScriptMotobikeModuleJS.CancelLoanBrief(@Model.LoanBriefId)" id="btnRefuse">
                        Không duyệt
                    </button>
                </div>
                <div class="col-4">
                    <button type="button" class="btn btn-tima" id="btnScriptSave" disabled="disabled" onclick="ScriptMotobikeModuleJS.SubmitForm(1)" style="width: 100%">
                        Lưu thông tin
                    </button>
                </div>
                <div class="col-4">
                    <button type="button" class="btn btn-tima" id="btnScriptSubmit" disabled="disabled" onclick="ScriptMotobikeModuleJS.SubmitForm(2)" style="width: 100%">
                        Tiếp theo
                    </button>
                </div>
            </div>
        </div>
    </form>



</div>
<script src="../js/ScriptTelesales/ScriptMotobikeModuleJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#div-sendResultCheckPhoneRelationshipAI1').hide();
        $('#div-sendResultCheckPhoneRelationshipAI').hide();
         $('.cus-datepicker').datepicker({
            todayBtn: "linked",
            clearBtn: false,
            todayHighlight: true,
            orientation: "bottom left",
            format: 'dd/mm/yyyy',
            templates: {
                leftArrow: '<i class="la la-angle-left"></i>',
                rightArrow: '<i class="la la-angle-right"></i>'
            }
        });
        ScriptMotobikeModuleJS.Init();
        //Thông tin nơi ở
        ScriptMotobikeModuleJS.GetDistrict('@Model.LoanBriefResident.ProvinceId', '@Model.LoanBriefResident.DistrictId', '#box-script #sl_district_addresshome', '#box-script #sl_ward_addresshome');
        ScriptMotobikeModuleJS.GetWard('@Model.LoanBriefResident.DistrictId', '@Model.LoanBriefResident.WardId', '#box-script #sl_ward_addresshome');
        //Thông tin hộ khẩu
        ScriptMotobikeModuleJS.GetDistrict('@Model.LoanBriefHousehold.ProvinceId', '@Model.LoanBriefHousehold.DistrictId', '#box-script #sl_district_addresshousehold', '#box-script #sl_ward_addresshousehold');
        ScriptMotobikeModuleJS.GetWard('@Model.LoanBriefHousehold.DistrictId', '@Model.LoanBriefHousehold.WardId','#box-script #sl_ward_addresshousehold');
        ScriptMotobikeModuleJS.GetProduct('@Model.LoanBriefProperty.BrandId', '@Model.LoanBriefProperty.ProductId');
        //Thông tin công ty
        ScriptMotobikeModuleJS.GetDistrict('@Model.LoanBriefJob.CompanyProvinceId', '@Model.LoanBriefJob.CompanyDistrictId', '#box-script #sl_district_work_company', '#box-script #sl_ward_work_company')
        ScriptMotobikeModuleJS.GetWard('@Model.LoanBriefJob.CompanyDistrictId', '@Model.LoanBriefJob.CompanyWardId','#box-script #sl_ward_work_company');
        //Load định giá xe ra kịch bản
        ScriptMotobikeModuleJS.LoadPriceMoto('@Model.LoanBriefId','@Model.LoanBriefProperty.ProductId','@Model.LoanBriefResident.ResidentType', '@Model.ProductId');
        App.LibraryMoney();
        App.ValidCustom();

    });
</script>



