﻿html, body {
    margin: 0px;
    padding: 0px;
}

@media (min-width: 768px) {
    #custom-form {
        height: auto !important;
        width: 650px;
        margin-top: 280px;
    }

    #custom-form-inner {
        height: auto !important;
        width: 740px;
        margin-top: 280px;
    }

    #custom-form:after {
        content: "";
        display: block;
        height: 50px; /* the footer's total height */
    }

    #form-general {
        width: 650px;
        height: 430px;
        display: flex;
        background-color: rgba(255, 255, 255, 1);
        box-sizing: border-box;
        border-color: rgba(215, 215, 215, 1);
        border-style: solid;
        border-radius: 4px;
        border-width: 1px;
    }


    #form-general-inner {
        width: 900px;
        min-height: 540px;
        display: flex;
        background-color: rgba(255, 255, 255, 1);
        box-sizing: border-box;
        border-color: rgba(215, 215, 215, 1);
        border-style: solid;
        border-radius: 4px;
        border-width: 1px;
    }

    #backgroup-image {
        margin-top: -10%;
    }

    .step-container {
        width: 100%;
        display: inline-block;
        float: left;
        margin-top: 40px;
        text-align: center;
    }
    .btn-small {
        padding: 5px !important;
        text-transform: uppercase;
        color: white;
        background-color: #ed522e;
        width: 100%;
        font-size: 12px;
        font-weight: 700;
    }

    #guide-step3 {
        display: block;
        float: right;
        width: 100%;
    }

        #guide-step3 p {
            margin: 0 !important;
            line-height: 18px;
            text-align: right;
        }
}

@media (min-width: 1024px) {
    #custom-form {
        height: auto !important;
        width: 850px;
        margin-top: 50px;
    }

    #custom-form-inner {
        height: auto !important;
        width: 850px;
        margin-top: 50px;
    }

    #custom-form:after {
        content: "";
        display: block;
        height: 50px; /* the footer's total height */
    }

    #form-general {
        width: 850px;
        height: 430px;
        display: flex;
        background-color: rgba(255, 255, 255, 1);
        box-sizing: border-box;
        border-color: rgba(215, 215, 215, 1);
        border-style: solid;
        border-radius: 4px;
        border-width: 1px;
    }


    #form-general-inner {
        width: 900px;
        min-height: 540px;
        display: flex;
        background-color: rgba(255, 255, 255, 1);
        box-sizing: border-box;
        border-color: rgba(215, 215, 215, 1);
        border-style: solid;
        border-radius: 4px;
        border-width: 1px;
    }

    #backgroup-image {
        margin-top: 0%;
    }

    .step-container {
        width: 100%;
        display: inline-block;
        float: left;
        margin-top: 40px;
        text-align: center;
    }

    .btn-small {
        padding: 5px !important;
        text-transform: uppercase;
        color: white;
        background-color: #ed522e;
        width: 100%;
        font-size: 12px;
        font-weight: 700;
    }

    #guide-step3 {
        display: block;
        float: right;
        width: 100%;
    }

        #guide-step3 p {
            margin: 0 !important;
            line-height: 18px;
            text-align: right;
        }
}

@media (max-width: 767px) {
    .btn-small {
        padding: 5px !important;
        text-transform: uppercase;
        color: white;
        background-color: #ed522e;
        width: 100%;
        font-size: 12px;
        font-weight: 700;
    }
    .step-container {
        width: 100%;
        display: inline-block;
        text-align: center;
        margin-top: 20px;
    }

    #guide-step3 {
        display: block;
        width: 100%;
    }

        #guide-step3 p {
            margin: 0 !important;
            line-height: 18px;
        }

    .wizard-inner {
        margin-left: -30px !important;
    }
}

.image-logo {
    width: 150px;
}

.logo {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.text-title {
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}

.custom-label {
    text-transform: uppercase;
    font-weight: 700;
}

.form-main {
    padding-top: 40px;
}

.btn-tima {
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    background-color: #ed522e;
    width: 100%;
}

.left {
    float: left;
}

.btn-tima2 {
    font-weight: 700;
    color: white;
    background-color: #ed522e;
    width: 100%;
    line-height: 1.0;
}

.text-bold {
    font-weight: 500;
}

.label-upload {
    font-weight: 700;
}

.div-button {
    padding-top: 40px;
}

.progressbar {
    counter-reset: step;
    padding: 0;
}

    .progressbar li {
        float: left;
        list-style: none;
        position: relative;
        text-align: center;
        width: calc(100% / 3);
        z-index: 10;
    }

        .progressbar li:before {
            background: #fff;
            border: 2px solid #bebebe;
            border-radius: 50%;
            color: #bebebe;
            content: counter(step);
            counter-increment: step;
            display: block;
            font-weight: 700;
            height: 30px;
            line-height: 27px;
            margin: 0 auto 10px;
            text-align: center;
            width: 30px;
        }

        .progressbar li:after {
            background: #979797;
            content: '';
            height: 3px;
            left: -50%;
            position: absolute;
            top: 15px;
            width: 100%;
        }

        .progressbar li:first-child:after {
            content: none;
        }

        .progressbar li.active:after,
        .progressbar li.complete:after {
            background: #f56c42;
        }

        .progressbar li.active:before,
        .progressbar li.complete:before {
            background: #f56c42;
            border-color: #f56c42;
            color: #fff;
        }

        .progressbar li.active {
            color: #f56c42;
            font-weight: 700;
        }

        .progressbar li.complete {
            color: #333;
            font-weight: 700;
        }








.grey {
    background-color: #c7c7c7 !important;
}

.preview-container {
    width: 100% !important;
    display: inline-block;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#selfie {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#video {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#step2-button-video-container {
    margin-top: 10px;
}

#step3-button-video-container {
    margin-top: 10px;
    display: none;
}

.input-file-container {
    display: block;
}

.input-file-trigger {
    width: 120px !important;
    text-transform: uppercase;
    color: white;
    background-color: #ed522e;
    width: 25%;
    font-size: 11px;
    font-weight: 700;
    cursor: pointer;
    margin: 0px;
}

.input-file {
    position: absolute;
    top: 0;
    left: 0;
    width: 225px;
    opacity: 0;
    padding: 14px 0;
    cursor: pointer;
}

@keyframes fa-blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
    }
}

.fa-blink {
    -webkit-animation: fa-blink .75s linear infinite;
    -moz-animation: fa-blink .75s linear infinite;
    -ms-animation: fa-blink .75s linear infinite;
    -o-animation: fa-blink .75s linear infinite;
    animation: fa-blink .75s linear infinite;
}
