﻿body {
    margin: 0;
    font-family: "Poppins" !important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

@media (min-width: 768px) {
    #wrapper {
        width: 60%;
    }
}

@media (max-width: 767px) {
}

.image-logo {
    width: 150px;
}

.logo {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}

.title-model {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.title-uppercase {
    text-transform: uppercase;
}

.custom-m-boder-box {
    border-top: 1px solid rgba(108, 114, 147, 1);
    padding-top: 10px;
}

.fontWeight {
    font-weight: 600;
}

.required-detail {
    color: #34bfa3;
}

.red {
    color: red;
}

.center {
    text-align: center;
}

.btn-submit {
    color: white;
    background-color: #ed522e;
    font-size: 13px;
    padding: 8px 24px;
    border: none;
    border-radius: 4px;
    margin-top: 30px;
}

.btn-submit2 {
    color: white;
    background-color: rgba(108, 114, 147, 1);
    font-size: 13px;
    padding: 8px 24px;
    border: none;
    border-radius: 4px;
    margin-top: 30px;
}

.btn-success {
    color: white;
    background-color: #34bfa3;
    font-size: 13px;
    padding: 8px 24px;
    border: none;
    border-radius: 4px;
    margin-top: 30px;
}

.modal-content {
    margin-top: 20px;
}

.btn-retype-opt-disabled {
    color: white;
    background-color: #ddccc8;
    font-size: 13px;
    padding: 8px 24px;
    border: none;
    border-radius: 4px;
    cursor: no-drop;
}

.btn-retype-opt {
    color: white;
    background-color: #ed522e;
    font-size: 13px;
    padding: 8px 24px;
    border: none;
    border-radius: 4px;
}