﻿@{
    ViewData["Title"] = "Thay đổi mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Thay đổi mật khẩu
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" id="change-password-user" method="post" action="/account/ChangePassword">
                <div class="m-portlet__body">
                    <div class="m-alert m-alert--outline alert  alert-success alert-dismissible  m--hide" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                        <span></span>
                    </div>

                    <div class="form-group m-form__group row">
                        <label for="example-password-input" class="col-3 col-form-label">
                            Mật khẩu cũ
                        </label>
                        <div class="col-4">
                            <input class="form-control m-input" type="password" id="CurrentPassword" name="CurrentPassword">
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <label for="example-password-input" class="col-3 col-form-label">
                            Mật khẩu mới
                        </label>
                        <div class="col-4">
                            <input class="form-control m-input" type="password" id="NewPassword" name="NewPassword">
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <label for="example-password-input" class="col-3 col-form-label">
                            Nhập lại mật khẩu mới
                        </label>
                        <div class="col-4">
                            <input class="form-control m-input" type="password" id="ReNewPassword" name="ReNewPassword">
                        </div>
                    </div>
                </div>
                <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                    <div class="m-form__actions">
                        <div class="row">
                            <div class="col-lg-4"></div>
                            <div class="col-lg-4">
                                <button type="submit" class="btn btn-primary" onclick="UsersModule.ChangePassword(this,event);">
                                    Cập nhật
                                </button>
                                <button type="reset" class="btn btn-secondary" onclick="window.location.href='/'">
                                    Hủy
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts
    {
    <script src="/js/App.js" type="text/javascript"></script>
    <script src="~/js/UsersModule.js"></script>
}
