﻿@model LOS.Web.MMO.Models.UserMmoItem
@{
    Layout = null;

}
<style type="text/css">
    .slt-red {
        color: red;
    }
</style>
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
            Thông tin tài khoản @Model.FullName
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
                &times;
            </span>
        </button>

    </div>
    <form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" action="/Users/CreateUser">
        <div class="modal-body">
            <input type="hidden" name="UserId" id="txtUserId" value="@Model.UserId" />
            <div class="m-portlet__body">
                <div class="form-group  row">
                    <div class="col-lg-6 m-form__group">
                        <label>
                            Email <span class="slt-red">(*)</span>
                        </label>
                        <input type="text" class="form-control m-input" id="txtemail" value="@Model.Email" name="Email" placeholder="email">
                    </div>
                    <div class="col-lg-6 m-form__group">
                        <label>
                            Họ tên <span class="slt-red">(*)</span>
                        </label>
                        <input type="text" class="form-control  m-input" id="txtFullName" value="@Model.FullName" name="FullName" placeholder="họ tên">
                    </div>
                </div>
                <div class="form-group  row">
                    <div class="col-lg-6 m-form__group">
                        <label>
                            Địa chỉ
                        </label>
                        <div class="m-input-icon m-input-icon--right">
                            <input type="text" class="form-control m-input" value="@Model.Address" name="Address" placeholder="địa chỉ">
                        </div>
                    </div>
                    <div class="col-lg-6 m-form__group">
                        <label>
                            Số điện thoại <span class="slt-red">(*)</span>
                        </label>
                        <div class="m-input-icon m-input-icon--right">
                            <input type="text" class="form-control m-input" value="@Model.Phone" name="Phone" placeholder="số điện thoại">
                        </div>
                    </div>
                </div>
                <div class="form-group  row">
                    <div class="col-lg-6 m-form__group">
                        <label>
                            Số CMND/Thẻ căn cước <span class="slt-red">(*)</span>
                        </label>
                        <div class="m-input-icon m-input-icon--right">
                            <input type="text" id="id_Cmt" class="form-control m-input" value="@Model.Cmt" name="Cmt" placeholder="số cmt">
                        </div>
                    </div>
                    <div class="col-lg-6 m-form__group">
                        <label>
                            Mã số thuế
                        </label>
                        <div class="m-input-icon m-input-icon--right">
                            <input type="text" class="form-control m-input" value="@Model.TaxCode" name="TaxCode" placeholder="mã số thuế">
                        </div>
                    </div>
                </div>
                <div class="form-group  row">
                    <div class="col-lg-6 m-form__group">
                        <label>
                            Ảnh trước CMT
                        </label>
                        <div class="m-input-icon m-input-icon--right">
                            <input type="file" style="margin-bottom:10px" class="form-control m-input" value="" name="ImageFacedeCmt">
                            <span>
                                <img width="200px" height="auto" src="@Model.FacedeCmt" />
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-6 m-form__group">
                        <label>
                            Ảnh sau CMT
                        </label>
                        <div class="m-input-icon m-input-icon--right">
                            <input type="file" style="margin-bottom:10px" class="form-control m-input" value="" name="ImageBacksideCmt">
                            <span>
                                <img width="200px" height="auto" src="@Model.BacksideCmt" />
                            </span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                Đóng
            </button>
            <button type="button" class="btn btn-primary" onclick="UsersModule.AddUserMmo(this,event);">
                Lưu
            </button>
        </div>
    </form>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        userID = $('#txtUserId').val();
        if (userID > 0) {
            $("#txtemail").prop('disabled', true);
            $("#txtFullName").prop('disabled', true);
        }

        $('#id_Cmt').keypress(function (event) {
            if (event.which != 8 && isNaN(String.fromCharCode(event.which))) {
                event.preventDefault(); //stop character from entering input
            }
        });
    });
</script>




