﻿@model LinkReferModel
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@{
    ViewData["Title"] = "LinkRefer";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string url = Configuration["UrlBanner"];
}
<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Quản lý Link giới thiệu
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <!--begin: Search Form -->
            <div class="form-group m-form__group nav nav-tabs  m-tabs-line">
                <label>
                    Referrals Link
                </label>
            </div>
            <div class="input-group m-input-group m-input-group--pill">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="la la-gear"></i>
                    </span>
                </div>
                <input type="text" class="form-control m-input" value="@Model.ReferralsLink" placeholder="" aria-describedby="basic-addon1">
            </div>
            <p style="font-style:italic; color:#ccc;">Bạn sẽ nhận được hoa hồng 10% số tiền của người đăng ký tham gia hệ thống qua link giới thiệu này!</p>
            <br />
            <div class="form-group m-form__group nav nav-tabs  m-tabs-line">
                <label>
                    Affiliate Link
                </label>
            </div>
            <div class="input-group m-input-group m-input-group--pill">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="la la-gear"></i>
                    </span>
                </div>
                <input type="text" class="form-control m-input" value="@Model.AffiliateLink" placeholder="" aria-describedby="basic-addon1">
            </div>
            <p style="font-style:italic; color:#ccc;">Bạn sẽ nhận được hoa hồng khi có người đăng ký vay qua link này và đơn vay đăng ký được bán thành công trên sàn TIMA!</p>

            <ul class="nav nav-tabs  m-tabs-line" role="tablist">
                <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link active" data-toggle="tab" href="#btabs1" role="tab" aria-selected="false">
                        Banner 728x90
                    </a>
                </li>
                <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link" data-toggle="tab" href="#btabs2" role="tab" aria-selected="false">
                        Banner 336x280
                    </a>
                </li>
                <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link" data-toggle="tab" href="#btabs3" role="tab" aria-selected="false">
                        Banner 300x250
                    </a>
                </li>
                <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link" data-toggle="tab" href="#btabs4" role="tab" aria-selected="false">
                        Banner 120x600
                    </a>
                </li>
                <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link" data-toggle="tab" href="#btabs5" role="tab" aria-selected="false">
                        Banner 160x600
                    </a>
                </li>
                <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link" data-toggle="tab" href="#btabs6" role="tab" aria-selected="false">
                        Banner 468x60
                    </a>
                </li>
            </ul>
            <div class="tab-content">
               
                <div class="tab-pane active" id="btabs1" role="tabpanel">
                    <div class="input-group m-input-group m-input-group--pill m--margin-bottom-10">
                        <a title='Tima vay tien nhanh giai ngan trong ngay' target='_blank' href='@Model.AffiliateLink'>
                            <img src='@Model.Url/img/Vay-Trong-Ngay-728x90.jpg' alt='Tima vay tien nhanh giai ngan trong ngay' />
                        </a>
                        <span class="input-group-addon" id="basic-addon2">
                            <i class="la la-gear"></i>
                        </span>
                        <input type="text" aria-describedby="basic-addon2" class="form-control m-input txtbanner" value="&lt;a title=&#39;Tima vay tien nhanh giai ngan trong ngay&#39; target=&#39;_blank&#39; href=&#39;@Model.AffiliateLink; &gt;&lt;img src=&#39;@Model.Url/img/Vay-Trong-Ngay-728x90.jpg&#39; alt=&#39;Tima vay tien nhanh giai ngan trong ngay&#39; /&gt;&lt;/a&gt;" />

                    </div>
                </div>
                <div class="tab-pane " id="btabs2" role="tabpanel">

                    <div class="input-group m-input-group m-input-group--pill  m--margin-bottom-10">
                        <a title='Tima vay tien nhanh giai ngan trong ngay' target='_blank' href='@Model.AffiliateLink'>
                        <img src='@Model.Url/img/Vay-Trong-Ngay-336x280.jpg' alt='Tima vay tien nhanh giai ngan trong ngay' /></a>
                        <span class="input-group-addon" id="basic-addon2">
                            <i class="la la-gear"></i>
                        </span>
                        <input type="text" aria-describedby="basic-addon2" class="form-control m-input txtbanner" value="&lt;a title=&#39;Tima vay tien nhanh giai ngan trong ngay&#39; target=&#39;_blank&#39; href=&#39;@Model.AffiliateLink; &gt;&lt;img src=&#39;@Model.Url/img/Vay-Trong-Ngay-336x280.jpg&#39; alt=&#39;Tima vay tien nhanh giai ngan trong ngay&#39; /&gt;&lt;/a&gt;" />

                    </div>
                </div>
                <div class="tab-pane " id="btabs3" role="tabpanel">
                    <div class="input-group m-input-group m-input-group--pill  m--margin-bottom-10">
                        <a title='Tima vay tien nhanh giai ngan trong ngay' target='_blank' href='@Model.AffiliateLink'>
                        <img src="@Model.Url/img/Vay-Trong-Ngay-300x250.jpg" alt='Tima vay tien nhanh giai ngan trong ngay' /></a>
                        <span class="input-group-addon" id="basic-addon2">
                            <i class="la la-gear"></i>
                        </span>
                        <input type="text" aria-describedby="basic-addon2" class="form-control m-input txtbanner" value="&lt;a title=&#39;Tima vay tien nhanh giai ngan trong ngay&#39; target=&#39;_blank&#39; href=&#39;@Model.AffiliateLink; &gt;&lt;img src=&#39;@Model.Url/img/Vay-Trong-Ngay-300x250.jpg&#39; alt=&#39;Tima vay tien nhanh giai ngan trong ngay&#39; /&gt;&lt;/a&gt;" />

                    </div>
                </div>
                <div class="tab-pane " id="btabs4" role="tabpanel">
                    <div class="input-group m-input-group m-input-group--pill  m--margin-bottom-10">
                        <a title='Tima vay tien nhanh giai ngan trong ngay' target='_blank' href='@Model.AffiliateLink'>
                            <img src="@Model.Url/img/Vay-Trong-Ngay-120x600.jpg" alt='Tima vay tien nhanh giai ngan trong ngay' />
                        </a>
                        <span class="input-group-addon" id="basic-addon2">
                            <i class="la la-gear"></i>
                        </span>
                        <input type="text" aria-describedby="basic-addon2" class="form-control m-input txtbanner" value="&lt;a title=&#39;Tima vay tien nhanh giai ngan trong ngay&#39; target=&#39;_blank&#39; href=&#39;@Model.AffiliateLink; &gt;&lt;img src=&#39;@Model.Url/img/Vay-Trong-Ngay-120x600.jpg&#39; alt=&#39;Tima vay tien nhanh giai ngan trong ngay&#39; /&gt;&lt;/a&gt;" />
                    </div>
                </div>
                <div class="tab-pane " id="btabs5" role="tabpanel">
                    <div class="input-group m-input-group m-input-group--pill  m--margin-bottom-10">
                        <a title='Tima vay tien nhanh giai ngan trong ngay' target='_blank' href='@Model.AffiliateLink'>
                        <img src='@Model.Url/img/Vay-Trong-Ngay-160x600.jpg' alt='Tima vay tien nhanh giai ngan trong ngay' /></a>
                        <span class="input-group-addon" id="basic-addon2">
                            <i class="la la-gear"></i>
                        </span>
                        <input type="text" aria-describedby="basic-addon2" class="form-control m-input txtbanner" value="&lt;a title=&#39;Tima vay tien nhanh giai ngan trong ngay&#39; target=&#39;_blank&#39; href=&#39;@Model.AffiliateLink; &gt;&lt;img src=&#39;@Model.Url/img/Vay-Trong-Ngay-160x600.jpg&#39; alt=&#39;Tima vay tien nhanh giai ngan trong ngay&#39; /&gt;&lt;/a&gt;" />

                    </div>
                </div>
                <div class="tab-pane " id="btabs6" role="tabpanel">
                    <div class="input-group m-input-group m-input-group--pill">
                        <a title='Tima vay tien nhanh giai ngan trong ngay' target='_blank' href='@Model.AffiliateLink'>
                        <img src='@Model.Url/img/Vay-Trong-Ngay-468x60.jpg' alt='Tima vay tien nhanh giai ngan trong ngay' /></a>
                        <span class="input-group-addon" id="basic-addon2">
                            <i class="la la-gear"></i>
                        </span>
                        <input type="text" aria-describedby="basic-addon2" class="form-control m-input txtbanner" value="&lt;a title=&#39;Tima vay tien nhanh giai ngan trong ngay&#39; target=&#39;_blank&#39; href=&#39;@Model.AffiliateLink; &gt;&lt;img src=&#39;@Model.Url/img/Vay-Trong-Ngay-468x60.jpg&#39; alt=&#39;Tima vay tien nhanh giai ngan trong ngay&#39; /&gt;&lt;/a&gt;" />
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>


@section Scripts
    {
    <script src="/js/App.js" type="text/javascript"></script>
}
