﻿@model LOS.DAL.DTOs.PositionDTO;
@{
    Layout = null;
}
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
            Tạo mới chức danh công việc
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
                &times;
            </span>
        </button>
    </div>
    <form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" action="Login/PostLogin">
        <div class="modal-body">
            <div class="m-portlet__body">
                <div class="form-group m-form__group row">
                    <div class="col-lg-6">
                        <label>
                            Tên chức vụ
                        </label>
                        <input type="text" class="form-control m-input" value="@Model.Name" name="name">
                    </div>
                    <div class="col-lg-6">
                        @*<label>
                                Trạng thái
                            </label>*@
                        @*<input type="checkbox" class="form-control m-input" value="@Model.Status" name="status">*@
                        <div class="form-group">
                            <label>Trạng thái</label>
                        </div>
                        <div class="m-checkbox">
                            <label class="m-checkbox m-checkbox--tick kmt-checkbox--success">
                                <input type="checkbox" checked="checked" value="@Model.Status" id="statusPosition" /> Kích hoạt
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*<input type="text" hidden value="@Model.Status" id="txtStatus"/>*@
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                Đóng
            </button>
            <button type="button" class="btn btn-primary" onclick="PositionModule.AddPosition(this,event);">
                Lưu
            </button>
        </div>
    </form>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        if ($('#txtId').val() > 0) {
            $("#txtpassword").prop('disabled', true);

        }
    });
</script>

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@