﻿<!DOCTYPE html>
<!--
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 4
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Dribbble: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
Renew Support: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<html lang="en">
<!-- begin::Head -->
<head>
    <meta charset="utf-8" />
    <title>
        Tima LOS
    </title>
    <meta name="description" content="Initialized with local json data">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--begin::Web font -->
    @*<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
        <script>
            WebFont.load({
                families: ['Poppins', 'sans-serif'],
                active: function () {
                    sessionStorage.fonts = true;
                }
            });
        </script>*@
    <!--end::Web font -->
    <!--begin::Base Styles -->
    <link href="~/assets/vendors/base/vendors.bundle.css?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS" rel="stylesheet" type="text/css" />
    <link href="~/assets/demo/default/base/style.bundle.css?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS" rel="stylesheet" type="text/css" />
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/bootstrap-switch/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/viewerjs/viewer.css" rel="stylesheet" />
    <link href="~/css/custom.css?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS" rel="stylesheet" />

    @*<link href="~/lib/Datatables/1.10.18/DataTables-1.10.18/css/dataTables.bootstrap4.css" rel="stylesheet" asp-append-version="true" />*@


    <!--end::Base Styles -->
    <link rel="shortcut icon" href="~/favicon.ico" />
</head>
<!-- end::Head -->
<!-- end::Body -->
<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">
    <!-- begin:: Page -->
    <div class="m-grid m-grid--hor m-grid--root m-page">
        @await Component.InvokeAsync("Header")
        <!-- begin::Body -->
        <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
            @await Component.InvokeAsync("LeftMenu")
            <div id="m_aside_right" class="m-grid__item m-grid__item--fluid m-wrapper box-right-open">
                @RenderBody()
            </div>
        </div>
        <!-- end:: Body -->
    </div>

    <footer class="m-grid__item		m-footer ">
        <div class="m-container m-container--fluid m-container--full-height m-page__container">
            <div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">
                <div class="m-stack__item m-stack__item--left m-stack__item--middle m-stack__item--last">
                    <span class="m-footer__copyright">
                        2020 © TIMA support by
                        <a href="https://tech.tima.vn/team" class="m-link" target="_blank">
                            Trung tâm công nghệ
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </footer>

    @Html.AntiForgeryToken()
    <!-- end:: Page -->
    <partial name="~/Views/Modal/MasterModal.cshtml" />
    <!-- begin::Scroll Top -->
    <div class="m-scroll-top m-scroll-top--skin-top" data-toggle="m-scroll-top" data-scroll-offset="500" data-scroll-speed="300">
        <i class="la la-arrow-up"></i>
    </div>
    <!-- end::Scroll Top -->
    <partial name="~/Views/Shared/_PartialModal.cshtml" />

    <!--begin::Base Scripts -->
    <script src="~/assets/vendors/base/vendors.bundle.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS" type="text/javascript"></script>
    <script src="~/assets/demo/default/base/scripts.bundle.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS" type="text/javascript"></script>
    <script src="~/lib/blueimp-md5/js/md5.min.js" type="text/javascript"></script>
    <script src="~/lib/number-format/jshashtable-2.1.js"></script>
    <script src="~/lib/number-format/jquery.numberformatter-1.2.2.min.js"></script>
    <script src="~/js/Env.js" type="text/javascript"></script>
    <script src="~/js/App.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS" type="text/javascript"></script>
    <script src="~/js/Constants.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS" type="text/javascript"></script>
    <script src="~/js/ConvertDate.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/assets/demo/default/custom/components/forms/widgets/bootstrap-datepicker.js"></script>
    <script src="~/assets/demo/default/custom/components/forms/widgets/bootstrap-datetimepicker.js"></script>
    <script src="~/lib/viewerjs/viewer.js"></script>
    @*<script src="~/js/ConfigMenuJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>*@
    <script src="~/js/EnumBase.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>

    <!--end::Base Scripts -->
    @RenderSection("Scripts", required: false)
    <iframe src="/LoanbriefV2/KeepSession" border="0" width="0" height="0"></iframe>
</body>
<!-- end::Body -->
</html>
