﻿@{
    Layout = null;
}
<div class="modal fade" id="modelInitLoanBrief" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="max-width: 70%;" role="document" id="InitLoanBriefBody">
    </div>
</div>

<div class="modal fade" id="modelScriptTelesales" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="max-width: 65%;" role="document" id="ScriptTelesaleBody">

    </div>
</div>
<div class="modal fade" id="modelReLoan" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="max-width: 65%;" role="document" id="ReLoanBody">

    </div>
</div>
<div class="modal fade" id="modelCancelLoanBrief" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" id="CancelLoanBriefBody">

    </div>
</div>
<div class="modal fade" id="modelUploadLoanBriefFiles" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" style="max-width: 65%;" id="UploadLoanBriefFiles">

    </div>
</div>

<div class="modal fade" id="modelDistributingLoanOfHub" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document" style="max-width: 45%;" id="DistributingLoanOfHub">

    </div>
</div>

<div class="modal fade" id="modalGlobal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document" id="bodyModalGlobal">

    </div>
</div>
<div class="modal fade" id="modelDeviceLocation" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="max-width: 80%;" role="document">

        <div class="modal-content">
            <div class="modal-header" style="padding: 15px;">
                <div class="m-demo-icon__class" style="margin-top: 5px; margin-left: 10px; font-weight: bold" id="titleMap">
                    Bản đồ định vị
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: 0px">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <div class="col-12" id="InitDeviceLocationBody">

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalStatusTelesales" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" id="bodyModalStatusTelesales">

    </div>
</div>

<div class="modal fade" id="modalCheckList" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" id="bodyModalCheckList">

    </div>
</div>

<div class="modal fade" id="modalRecording" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="max-width: 65%;" role="document" id="bodyRecording">

    </div>
</div>

<div class="modal fade" id="modalDetailLoanBriefImportFileExcel" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="max-width: 65%;" role="document" id="bodyDetailLoanBriefImportFileExcel">

    </div>
</div>


<div class="modal fade" id="modalRemoveLabelReBorrow" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" id="bodyRemoveLabelReBorrow">
        <div class="modal-content">
            <div class="modal-header" style="padding: 15px;">
                <div class="m-demo-icon__class" style="margin-top: 5px; margin-left: 10px; font-weight: bold" id="_title_RemoveLabelReBorrow">
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: 0px">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" action="" id="formRemoveLabelReBorrow">
                <div class="modal-body" style="padding: 25px 0px;">
                    <input type="hidden" id="hdd_loanbriefId" name="LoanBriefId" value="" />
                    <div class="m-portlet__body">
                        <div class="form-group m-form__group row">
                            <label for="example-email-input" class="col-2 col-form-label">
                                Ghi chú
                            </label>
                            <div class="col-10">
                                <textarea class="form-control cus-form-control m-input" id="txt_CommentRemoveLabelReBorrow" name="CommentRemoveLabelReBorrow" rows="6" placeholder=""></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" style="display: block; text-align: right; border: none; padding: 5px; margin-right: 25px; margin-top: 25px;">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                        <button type="button" class="btn btn-tima" onclick="ReBorrowModuleJS.SubmitForm()" id="btnSaveRemoveLabelReBorrow" style="padding: 10px 45px;">
                            Lưu lại
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="modalCreateLoanCarChild" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" id="CreateLoanCarChildBody">
    </div>
</div>

<div class="modal fade" id="modalVideo" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document" id="bodyModalVideo">

    </div>
</div>

<div class="modal fade" id="modalReturnLoanBrief" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-lg" role="document" id="resultReturnLoanBrief">

    </div>
</div>

<div class="modal fade" id="modalShowNote" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-lg" role="document" id="resultShowNote">

    </div>
</div>

<div class="modal fade" id="modalFormConfirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-lg" role="document" id="resultFormConfirm">

    </div>
</div>

<div class="modal fade" id="modalCheckPhone" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-lg" role="document" id="resultCheckPhone">
    </div>
</div>

<div class="modal fade" id="modalCloseLoan" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" id="bodyModalCloseLoan">

    </div>
</div>