﻿@model LOS.DAL.DTOs.UserDetail
@{
    ViewData["Title"] = "Giác đốc kinh doanh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using LOS.Common.Extensions;
<link href="~/css/form.css?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS" rel="stylesheet" />
<style>

    #dtBusinessSeach tbody {
        padding: 0 !important;
    }

    #linkName:hover {
        text-decoration: none !important;
    }

    .marginleft {
        margin-left: 25px;
    }

    .custom-table-tima > .m-datatable__table > .m-datatable__head .m-datatable__row {
        height: 50px !important;
    }

    .m-portlet .m-portlet__body {
        padding: 0rem 2.2rem;
    }

    .form-group {
        margin-bottom: 0px;
    }

    .m-portlet .m-portlet__body {
        padding-bottom: 20px;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        position: relative;
        padding: 0.65rem 0rem;
        line-height: 1.25;
    }
</style>

<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Giám đốc kinh doanh duyệt
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <div class="m-form m-form--label-align-right m--margin-bottom-10">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <div class="col-lg-2 col-md-4 col-sm-12" style="padding: 10px;">
                                <div class="m-input-icon m-input-icon--left">
                                    <input type="text" class="form-control m-input inputsearch" placeholder="Mã HĐ" id="filterLoanId">
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-4 col-sm-12" style="padding: 10px;">
                                <div class="m-input-icon m-input-icon--left">
                                    <input type="text" class="form-control m-input inputsearch" placeholder="Tên ,SĐT, CMND" id="filterSearch">
                                </div>
                            </div>

                            <div class="col-md-2" style="padding: 10px;">
                                <div class="form-group m-form__group">
                                    <div class="m-form__control">
                                        <select class="form-control m-select2" id="filterTypeLoan">
                                            @if (Model.GroupId == (int)EnumGroupUser.BusinessManagement)
                                            {
                                                <option value="-1">Tất cả</option>
                                                <option value="@EnumBusinessFilter.XM.GetHashCode()">@Description.GetDescription(EnumBusinessFilter.XM)</option>
                                                <option value="@EnumBusinessFilter.Oto.GetHashCode()">@Description.GetDescription(EnumBusinessFilter.Oto)</option>
                                            }
                                            else if (Model.GroupId == (int)EnumGroupUser.ManagerHub)
                                            {
                                                <option value="@EnumBusinessFilter.XM.GetHashCode()">@Description.GetDescription(EnumBusinessFilter.XM)</option>
                                            }


                                        </select>
                                    </div>
                                </div>
                            </div>


                            <div class="col-lg-1 col-md-4 col-sm-12" style="padding: 10px;">
                                <div class="m-form__control">
                                    <a href="javascript:;" class="btn btn-tima" style="cursor:pointer;" id="btnSearch" onclick="">
                                        Tìm kiếm
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="m-form m-form--label-align-right m--margin-bottom-10">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <div class="col-lg-2 col-md-6 col-sm-12" style="padding: 10px;">
                                <div class="m-input-icon m-input-icon--left">
                                    <span style="font-family: 'Poppins Bold', 'Poppins Regular', 'Poppins', sans-serif;font-weight: 700;font-style: normal;color: #6C7293;">Danh sách đơn</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end: Search Form -->
            <hr style="color: #333333;" />
            <table class="m-datatable__table dtform" width="100%" id="dtBusinessSeach"></table>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/BOD/BODModule.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS" type="text/javascript"></script>
    <script src="~/js/BOD/BusinessManagerModule.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS" type="text/javascript"></script>
    <script src="~/js/CommonModalJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/ReturnLoanBriefModule.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            BusinessManagerModule.Init();
        });
    </script>
}

