﻿@{
    Layout = null;
}
<style>
    .cus-input-script {
        border: none !important;
        border-bottom: 1px solid rgba(108, 114, 147, 1) !important;
        border-radius: 0;
        font-size: 14px;
    }
</style>
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="color:#6C7293;">
            Phê duyệt đơn HĐ-@ViewBag.LoanBriefId
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
                ×
            </span>
        </button>
    </div>
    <form class="m-form m-form--fit m-form--label-align-right">
        <div class="modal-body">
            <div class="form-group row">
                <label for="example-text-input" class="col-md-3 col-sm-12 col-form-label">Đồng ý duyệt cho vay :</label>
                <div class="col-md-6">
                    <input type="text" class="form-control cus-form-control m-input cus-input-script inputAmountVND" id="loanAmount" value="@ViewBag.LoanAmount.ToString("##,#")">
                </div>
                <label for="example-text-input" class="col-md-3 col-form-label">VNĐ</label>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-tima" onclick="BODModule.ConfirmLoanBrief(@ViewBag.LoanBriefId);">
                Phê duyệt đơn vay
            </button>
        </div>
    </form>
</div>
<script>
    $(document).ready(function () {
        App.LibraryMoney();

    });
</script>