﻿@{
    ViewData["Title"] = "Cancel";
    Layout = null;
}
<style>
    .btn-tima {
        background-color: rgba(108, 114, 147, 1);
        border-color: rgba(108, 114, 147, 1);
        color: #fff;
    }

    .m-form.m-form--group-seperator-dashed .m-form__group {
        border-bottom: none;
    }

    .m-form.m-form--group-seperator-dashed .m-form__group {
        padding-bottom: 10px;
        padding-top: 5px;
    }

    .cus-form-control {
        font-size: 14px;
    }
</style>
<div class="modal-content">
    <div class="modal-header" style="padding: 15px;">
        <div class="m-demo-icon__class" style="margin-top: 5px; margin-left: 10px; font-weight: bold">
            Ghi chú lý do hủy đơn
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: 0px">
            <span aria-hidden="true">
                &times;
            </span>
        </button>
    </div>
    <form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" action="/LoanBrief/CancelLoanBrief" id="formCancelLoanBrief">
        <div class="modal-body" style="padding: 25px 0px;">
            <div class="m-portlet__body">
                <input type="hidden" name="LoanBriefId" value="@ViewBag.LoanBriefId" />

                <div class="form-group m-form__group row">
                    <label for="example-email-input" class="col-4 col-form-label">
                        Nhóm lý do
                    </label>
                    <div class="col-8">
                        <select class="form-control cus-form-control m-select2" id="sl_ReasonGroup" name="ReasonGroup" onchange="ReasonCancelModuleJS.GetReasonDetail(this.value,0)">
                            <option value="651">1. Không đạt yếu tố form qualified</option>
                        </select>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label for="example-email-input" class="col-4 col-form-label">
                        Lý do chi tiết
                    </label>
                    <div class="col-8">
                        <select class="form-control cus-form-control  m-select2" id="sl_reason_detail" name="ReasonDetail" aria-hidden="true">
                            <option value="658">1.1. Không liên hệ được</option>

                        </select>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label for="example-email-input" class="col-4 col-form-label">
                        Ghi chú
                    </label>
                    <div class="col-8">
                        <textarea class="form-control cus-form-control m-input" id="txtComment" rows="3" placeholder=""></textarea>
                        <span style="width: 100%; float: left; font-weight: bold; display:none">Hủy tự động sau 3 ngày</span>
                    </div>
                </div>
                <input type="hidden" name="CommentCancel" id="txtCommentCancel" />
            </div>
            <div class="modal-footer" style="display: block; text-align: right; border: none; padding: 5px; margin-right: 25px; margin-top: 25px;">
                <button type="button" class="btn btn-tima" onclick="ReasonCancelModuleJS.SubmitForm(event)" id="btnSubmit" style="padding: 10px 45px;">
                    Hủy đơn
                </button>
            </div>
        </div>
    </form>
</div>
<script src="~/js/LoanBrief/ReasonCancelModuleJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
<script type="text/javascript">
    $(document).ready(function () {
        ReasonCancelModuleJS.Init();
    });
</script>