﻿@{
    Layout = null;
}
<div class="modal-content">
    <div class="modal-header" style="padding: 15px;">
        <div class="m-demo-icon__class" style="margin-top: 5px; margin-left: 10px; font-weight: bold">
            Tạo hợp đồng con cho <b style="color: red;">HĐ-@ViewBag.LoanBriefId</b>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: 0px">
            <span aria-hidden="true">
                &times;
            </span>
        </button>
    </div>
    <form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" action="" id="formCreateLoanCarChild">
        <div class="modal-body" style="padding: 25px 0px;">
            <input type="hidden" id="hdd_loanbriefId" name="LoanBriefId" value="@ViewBag.LoanBriefId" />
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label m--margin-top-10">
                    Số tiền
                </label>
                <div class="col-10">
                    <input class="form-control cus-form-control m-input cus-input-script inputAmountVND" type="text" id="LoanAmount" name="LoanAmount" style="text-align: right; border: none !important; border-bottom: 1px solid rgba(108, 114, 147, 1) !important; border-radius: 0; font-size: 14px;">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-tima" onclick="CreateLoanCarChildModel.CreateLoanCarChild(this, event)">
                Tạo đơn
            </button>
        </div>
    </form>
</div>
<script src="~/js/LoanbriefV3/CreateLoanCarChildModue.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
<script type="text/javascript">
    $(document).ready(function () {
        App.LibraryMoney();
    });
</script>