﻿@{
    Layout = null;
}
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="color:#6C7293;">
            Gửi yêu cầu đóng HĐ-@ViewBag.LoanBriefId
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
                ×
            </span>
        </button>
    </div>
    <div class="modal-body">
        @*<div class="row m--padding-bottom-20">
                <div class="col-2">
                    <label class="form-control-label m--padding-top-10" style="color:#6C7293;">
                        Ngày đóng
                    </label>
                </div>
                <div class="col-10">
                    <input type="text" class="form-control cus-form-control m-input cus-input-script cus-datepicker" id="CloseDate">
                </div>
            </div>*@
        <div class="row">
            <div class="col-2">
                <label class="form-control-label m--padding-top-10" style="color:#6C7293;">
                    Nội dung
                </label>
            </div>
            <div class="col-10">
                <textarea class="form-control" id="content"></textarea>
            </div>
        </div>
        <input type="hidden" id="hdd_LoanBriefId_CloseLoan" value="@ViewBag.LoanBriefId" />

    </div>
    <div class="modal-footer">
        <button type="button" onclick="CommonModalJS.CloseLoan();" class="btn btn-primary" style="background: rgba(108, 114, 147, 1);border-color: rgba(108, 114, 147, 1);width: 110px;height: 40px;">
            Gửi
        </button>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('.cus-datepicker').datepicker({
            todayBtn: "linked",
            clearBtn: false,
            clearBtn: false,
            todayHighlight: true,
            orientation: "bottom left",
            format: 'dd/mm/yyyy',
            templates: {
                leftArrow: '<i class="la la-angle-left"></i>',
                rightArrow: '<i class="la la-angle-right"></i>'
            }
        });
    });
</script>