﻿@model List<LOS.DAL.DTOs.LoanByPhoneChange>
@{
    Layout = null;
}
@using LOS.Common.Extensions;
<table class="table m-table m-table--head-bg-brand custom-table-tima">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Mã HĐ
            </th>
            <th>
                Tên Khách Hàng
            </th>
            <th>
                Loại khách hàng
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count > 0)
        {
            var stt = 0;
            foreach (var item in Model)
            {
                stt++;
                <tr>
                    <td>
                        @stt
                    </td>
                    <td>
                        <span>HĐ-@item.LoanBriefId</span><br />
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(item.FullName))
                        {
                            @item.FullName
                        }
                    </td>
                    <td>
                        @if (item.RelationshipType > 0)
                        {
                            <span>@Description.GetDescription((EnumRelativeFamily)item.RelationshipType)</span>
                        }
                        else
                        {
                            <span>Khách hàng vay</span>
                        }

                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="7" class="text-center">
                    <span style="font-size: 18px; color: red;"><i>Không có dữ liệu</i></span>
                </td>
            </tr>
        }
    </tbody>
</table>
