﻿@model LOS.DAL.EntityFramework.ResultEkyc
@{
    Layout = null;
}
<div style="margin-bottom: 5px; font-weight:bold">
    <span class="title-uppercase">
        Thông tin check Ekyc
    </span>
    <i class="la la-angle-double-right" style="font-size: 15px;"></i>
</div>
<div data-code-preview="true" data-code-html="true" data-code-js="false">
    <div class="custom-m-boder-box">
        <div class="row">
            @if (Model.IdValue != null)
            {
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="row">
                        <span class="col-md-6 col-sm-12 col-form-label">Họ tên:</span>
                        <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                            @(Model.FullNameValue != null ? Model.FullNameValue : "")
                        </span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="row">
                        <span class="col-md-6 col-sm-12 col-form-label">Ngày sinh:</span>
                        <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                            @(Model.BirthdayValue != null ? Model.BirthdayValue : "")
                        </span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="row">
                        <span class="col-md-6 col-sm-12 col-form-label">Số CMND:</span>
                        <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                            @(Model.IdValue != null ? Model.IdValue : "")
                        </span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="row">
                        <span class="col-md-6 col-sm-12 col-form-label">Ngày hết hạn:</span>
                        <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                            @(Model.ExpiryValue != null ? Model.ExpiryValue : "")
                        </span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="row">
                        <span class="col-md-6 col-sm-12 col-form-label">Nơi cấp:</span>
                        <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                            @(Model.IssueByValue != null ? Model.IssueByValue : "")
                        </span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="row">
                        <span class="col-md-6 col-sm-12 col-form-label">Ngày cấp:</span>
                        <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                            @(Model.IssueDateValue != null ? Model.IssueDateValue : "")
                        </span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="row">
                        <span class="col-md-6 col-sm-12 col-form-label">Giới tính:</span>
                        <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                            @(Model.GenderValue != null ? Model.GenderValue : "")
                        </span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="row">
                        <span class="col-md-6 col-sm-12 col-form-label">Dân tộc:</span>
                        <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                            @(Model.EthnicityValue != null ? Model.EthnicityValue : "")
                        </span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="row">
                        <span class="col-md-6 col-sm-12 col-form-label">Tôn giáo:</span>
                        <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                            @(Model.ReligionValue != null ? Model.ReligionValue : "")
                        </span>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="row">
                        <span class="col-md-6 col-sm-12 col-form-label">Truy vấn khuôn mặt:</span>
                        <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                            @(Model.FaceQueryMessage != null ? Model.FaceQueryMessage : "")
                        </span>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="row">
                        <span class="col-md-2 col-sm-12 col-form-label">So sánh khuôn mặt:</span>
                        <span class="col-md-10 col-sm-12 col-form-label fontWeight">
                            @(Model.FaceCompareMessage != null ? Model.FaceCompareMessage : "")
                        </span>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="row">
                        <span class="col-md-2 col-sm-12 col-form-label">Địa chỉ:</span>
                        <span class="col-md-10 col-sm-12 col-form-label fontWeight">
                            @(Model.AddressValue != null ? Model.AddressValue : "")
                        </span>
                    </div>
                </div>
            }
            else
            {
                <div class="col-md-12" style="text-align: center;">
                    <p style="font-style: italic; color: red;">Đơn vay chưa được Check Ekyc</p>
                </div>
            }
        </div>
    </div>
</div>
