﻿@model LOS.WebApp.Models.AppraiserMotoPriceViewModel
@{
    Layout = null;
    var allChild = new List<ProductReview>();
}
<style>

    .custom-lbl-title {
        text-decoration: underline;
        color: blue;
        font-size: 12px;
        font-family: Tahoma
    }

    .custom-box-parrent {
        border: 1px solid #ccc;
        padding: 5px;
        background-color: #eae5e5;
        text-transform: uppercase;
        color: #17179a;
        font-weight: 600;
    }

    .custome-content {
        padding: 10px;
    }
</style>

<div class="tab-content">
    @if (Model != null)
    {
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="row">
                    <span class="col-md-6 col-sm-12 col-form-label">Hãng xe:</span>
                    <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                        @(Model.OldInfomationAppraiserMoto != null ? Model.OldInfomationAppraiserMoto.BrandName : "")
                    </span>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="row">
                    <span class="col-md-6 col-sm-12 col-form-label">Gói vay:</span>
                    <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                        @(Model.OldInfomationAppraiserMoto != null ? Model.OldInfomationAppraiserMoto.OwnerProductName : "")
                    </span>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="row">
                    <span class="col-md-6 col-sm-12 col-form-label">Hình thức sở hữu nhà:</span>
                    <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                        @(Model.OldInfomationAppraiserMoto != null ? Model.OldInfomationAppraiserMoto.TypeOwnerShipName : "")
                    </span>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="row">
                    <span class="col-md-6 col-sm-12 col-form-label">Tên xe:</span>
                    <span class="col-md-6 col-sm-12 col-form-label fontWeight">
                        @(Model.OldInfomationAppraiserMoto != null ? Model.OldInfomationAppraiserMoto.ProductName : "")
                    </span>
                </div>
            </div>

            <div class="col-md-8 col-sm-12">
                <div class="row">
                    <span class="col-md-3 col-sm-12 col-form-label">Chi tiết gói sản phẩm:</span>
                    <span class="col-md-9 col-sm-12 col-form-label fontWeight">
                        @(Model.OldInfomationAppraiserMoto != null ? Model.OldInfomationAppraiserMoto.ProductDetailName : "")
                    </span>
                </div>
            </div>
             <div class="col-md-12 col-sm-12">
                <div class="row">
                    <span class="col-md-2 col-sm-12 col-form-label">LTV:</span>
                    <span class="col-md-10 col-sm-12 col-form-label fontWeight">
                      @Model.Ltv%
                    </span>
                </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="row">
                    <span class="col-md-2 col-sm-12 col-form-label">Giá thị trường:</span>
                    <span class="col-md-10 col-sm-12 col-form-label">
                        <span id="CurrentPrice" style="color: #FA5858">@Model.CurrentPrice.ToString("#,##")</span> VNĐ
                    </span>
                </div>
            </div>

            <div class="col-md-12 col-sm-12">
                <div class="row">
                    <span class="col-md-2 col-sm-12 col-form-label">Số tiền cho vay tối đa:</span>
                    <span class="col-md-10 col-sm-12 col-form-label">
                        <span id="MaxPrice" style="color: #FA5858">@Model.MaxPriceProduct.ToString("#,##")</span> VNĐ
                    </span>
                </div>
            </div>
        </div>

        if (Model != null && Model.ProductReview != null && Model.ProductReview.Count > 0)
        {
            var lstParrent = Model.ProductReview.Where(x => x.ParentId == 0).OrderBy(x=>x.Id).ToList();
            <div class="row" id="_MotoPriceCheckList">
                @if (lstParrent != null && lstParrent.Count > 0)
                {
                    foreach (var item in lstParrent)
                    {
                        var lstChildren = Model.ProductReview.Where(x => x.ParentId == item.Id).OrderBy(x=>x.Id).ToList();

                        <div class="col-lg-6 col-md-12">
                            <div class="col-md-12 custom-box-parrent">
                                @item.Name
                                <input type="hidden" class="product-review-parent" id="hdfProductParent_@item.Id" value="@item.Id" />
                            </div>
                            <div class="row custome-content">
                                @if (lstChildren != null && lstChildren.Count > 0)
                                {
                                    allChild.AddRange(lstChildren);
                                    foreach (var item2 in lstChildren)
                                    {
                                        <div class="col-md-12" style="font-weight: 600;">
                                            @item2.Name
                                        </div>
                                        <div class="col-md-12 m--margin-left-10 m--margin-top-10">
                                            <div class="row">
                                                <div class="col-md-3 col-sm-6">
                                                    <label class="m-radio m-radio--state-brand">
                                                        <input type="radio" name="radio_children_@item2.Id" attr-state="@item2.State" attr-discount="@item2.MoneyDiscount" attr-id="@item2.Id" onclick="AppraiserPriceMoto.LoadPriceAppraiser(@item2.Id, true)" value="true" @(item2.IsCheck == true ? "checked=\"checked\"" : "")>
                                                        Đúng
                                                        <span></span>
                                                    </label>
                                                </div>
                                                <div class="col-md-3 col-sm-6">
                                                    <label class="m-radio m-radio--state-brand">
                                                        <input type="radio" name="radio_children_@item2.Id" attr-state="@item2.State" attr-discount="@item2.MoneyDiscount" attr-id="@item2.Id" onclick="AppraiserPriceMoto.LoadPriceAppraiser(@item2.Id, false)" value="false" @(item2.IsCheck == false ? "checked=\"checked\"" : "")>
                                                        Sai
                                                        <span></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    }
                }

                <div class="col-md-12 col-sm-12">
                    <div class="row">
                        <span class="col-md-2 col-sm-12 col-form-label">Tiền được vay:</span>
                        <span class="col-md-10 col-sm-12 col-form-label">
                            <span id="TotalBorrowMoney" style="color: #FA5858;">0</span>
                        </span>
                    </div>
                </div>

                @if (Model != null && Model.UserDetail != null
              && (Model.Status == (int)LOS.Common.Extensions.EnumLoanStatus.APPRAISER_REVIEW
              || Model.Status == (int)LOS.Common.Extensions.EnumLoanStatus.HUB_CHT_APPROVE)
              && (Model.UserDetail.GroupId == (int)LOS.Common.Extensions.EnumGroupUser.StaffHub
              || Model.UserDetail.GroupId == (int)LOS.Common.Extensions.EnumGroupUser.ManagerHub))
                {
                    <div class="col-md-2 col-sm-6 m--padding-10">
                        <a class="btn btn-tima" style="cursor:pointer; color:white;" onclick="AppraiserPriceMoto.SetThamDinhXe('@Model.ProductId', '@Model.LoanBriefId');">
                            Thẩm định
                        </a>
                    </div>
                }
            </div>
        }
    }
    else
    {
        <div class="col-md-12 m--align-center">
            <label style="color: red; font-style: italic">Đơn vay không có xe để thẩm định</label>
        </div>
    }
    <input type="hidden" id="hdf_CurrentPrice" value="@Model.CurrentPrice" />
    <input type="hidden" id="hdf_TotalMoneyDebtCurrent" value="@Model.TotalMoneyDebtCurrent" />
    <input type="hidden" value="@Model.ProductCreditId" id="hddProductCreditId" />
    <input type="hidden" value="@Model.ProductId" id="hddProductId" />
    <input type="hidden" value="@Model.TypeOwnerShipId" id="hddTypeOwnerShipId" />
    <input type="hidden" value="@Model.ProductDetailId" id="hddLoanProductDetailId" />
    <input type="hidden" value="@Model.LoanBriefId" id="hddLoanBriefId" />
    <input type="hidden" value="@Model.TypeRemarketingLtv" id="hddTypeRemarketingLtv" />
     <input type="hidden" value="@Model.Ltv" id="hddLtv" />
</div>

<script type="text/javascript">
    $(document).ready(function () {
        AppraiserPriceMoto.InitData('@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(allChild))');
        AppraiserPriceMoto.LoadPriceAppraiser(0, false);
});
</script>


