﻿@using LOS.WebApp.Models;
@model ResponseCheckBillWaterAI
@{
    Layout = null;
}
@if (Model != null && Model.data != null && Model.data.info != null)
{
    <div class="custom-m-boder-box m-demo__preview">
        <label for="example-email-input" class="col-12 col-form-label" onclick="ScriptMotobikeModuleJS_v4.ShowAndHideWater()" style="cursor: pointer;">
            Mã hóa đơn nước
        </label>
        <div class="m-portlet m-portlet--bordered m-portlet--bordered-semi m-portlet--rounded" id="div-Water" style="margin-bottom: 0px !important;">
            <div class="m-portlet__body" style="padding-bottom: 10px !important">
                <div class="form-group m-form__group row" style="padding-bottom: 0px !important;">
                    <label for="example-email-input" class="col-2 col-form-label">
                        Địa chỉ:
                    </label>
                    <div class="col-4" style="padding-top: 10px;">
                        <span>@Model.data.info.address</span>
                    </div>
                    <label for="example-email-input" class="col-2 col-form-label">
                        Khách hàng:
                    </label>
                    <div class="col-4" style="padding-top: 10px;">
                        <span>@Model.data.info.name</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="col-12">
        <label style="font-size: 15px; font-style: italic; color: red;">Không có dữ liệu</label>
    </div>
}
