﻿@model LOS.DAL.DTOs.LoanBriefBasicInfo
@{
    Layout = null;
    ViewData["Title"] = "Thay đổi số điện thoại";
}
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="color:#6C7293;">
            Đổi Số điện thoại HĐ-@Model.LoanBriefId
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
                ×
            </span>
        </button>
    </div>
    <div class="modal-body" style="padding: 10px 10px;">
        <div class="m-section__content col-12">
            <div class="col-md-12">
                <div class="form-group row">
                    <form id="fChangePhone" style="width:100%;">
                        <div class="col-lg-4 col-md-6 col-sm-12" style="padding: 10px;float:left;">
                            <div class="m-input-icon m-input-icon--left">
                                <input type="text" class="form-control m-input inputsearch" placeholder="Nhập SĐT mới" name="phoneNew">
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-12" style="padding: 10px;float:left;">
                            <div class="m-form__control">
                                <a href="javascript:;" class="btn btn-tima" style="cursor:pointer;" onclick="CheckPhone(this, event)">
                                    Kiểm tra
                                </a>
                            </div>
                        </div>

                        <input type="hidden" value="@Model.LoanBriefId" name="loanBriefId" />
                        <input type="hidden" value="@Model.Phone" name="phoneOld" />
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-12" id="dtLoanbyPhone">

        </div>

    </div>

    <div class="modal-footer">
        <div id="disChangePhone" class="col-lg-2 col-md-6 col-sm-12" style="padding: 10px;float:left;display:none;">
            <div class="m-form__control">
                <a href="javascript:;" class="btn btn-tima" style="cursor:pointer;" onclick="ChangePhone(this, event)">
                    Thay đổi
                </a>
            </div>
        </div>
    </div>
</div>

<script>

    function CheckPhone(btn, e) {
        $('#dtLoanbyPhone').html('');
        $(btn).attr('disabled', true);
        $(btn).addClass('m-loader m-loader--success m-loader--right');
        e.preventDefault();
        var form = $('#fChangePhone');
        form.validate({
            ignore: [],
            rules: {
                'phoneNew': {
                    required: true
                }
            },
            messages: {
                'phoneNew': {
                    required: "Vui lòng nhập số điện thoại"
                }

            },
            invalidHandler: function (e, validation) {
                if (validation.errorList != null && validation.errorList.length > 0) {
                    App.ShowErrorNotLoad(validation.errorList[0].message)
                }
            }
        });
        if (!form.valid()) {
            $(btn).attr('disabled', false);
            $(btn).removeClass('m-loader m-loader--success m-loader--right');
            return false;
        }
        form.ajaxSubmit({
            url: '/LoanBriefV3/CheckPhone',
            method: 'POST',
            success: function (data, status, xhr, $form) {
                $(btn).attr('disabled', false);
                $(btn).removeClass('m-loader m-loader--success m-loader--right');
                if (data != undefined) {
                    if (data.isSuccess == 1) {
                        $('#disChangePhone').css("display", "");
                        $('#dtLoanbyPhone').html(data.html);
                    }
                    else {
                        App.ShowErrorNotLoad(data.message);
                    }
                }
                else {
                    App.ShowErrorNotLoad(data.message);
                }
            },
            error: function () {
            }
        });
    }
    function ChangePhone(btn, e) {
        swal({
            title: '<b>Cảnh báo</b>',
            html: "Bạn có chắc chắn muốn đổi SĐT không?</span>",
            showCancelButton: true,
            confirmButtonText: 'Xác nhận',
            cancelButtonText: 'Hủy',
            onOpen: function () {
                $('.swal2-cancel').width($('.swal2-confirm').width());
            }
        }).then(function (result) {
            if (result.value) {
                $(btn).attr('disabled', true);
                $(btn).addClass('m-loader m-loader--success m-loader--right');
                e.preventDefault();
                var form = $('#fChangePhone');
                form.validate({
                    ignore: [],
                    rules: {
                        'phoneNew': {
                            required: true
                        }
                    },
                    messages: {
                        'phoneNew': {
                            required: "Vui lòng nhập số điện thoại"
                        }

                    },
                    invalidHandler: function (e, validation) {
                        if (validation.errorList != null && validation.errorList.length > 0) {
                            App.ShowErrorNotLoad(validation.errorList[0].message)
                        }
                    }
                });
                if (!form.valid()) {
                    $(btn).attr('disabled', false);
                    $(btn).removeClass('m-loader m-loader--success m-loader--right');
                    return false;
                }

                form.ajaxSubmit({
                    url: '/LoanBriefV3/ChangePhone',
                    method: 'POST',
                    success: function (data, status, xhr, $form) {
                        $(btn).attr('disabled', false);
                        $(btn).removeClass('m-loader m-loader--success m-loader--right');
                        if (data != undefined) {
                            if (data.status == 1) {
                                App.ShowSuccessNotLoad(data.message);
                                App.ReloadData();
                                $('#Modal').modal('hide');
                            }
                            else {
                                App.ShowErrorNotLoad(data.message);
                            }
                        }
                        else {
                            App.ShowErrorNotLoad(data.message);
                        }
                    },
                    error: function () {
                    }
                });
            }
        });
    }
</script>
