﻿@model LOS.WebApp.Models.CheckPhoneViewModel
@{
    Layout = null;
    ViewData["Title"] = "Tool kiểm tra số điện thoại khách hàng";
}
<style>
    #resultCheckPhone {
        margin-top: 10%;
    }

    .modal:nth-of-type(even) {
        z-index: 1052 !important;
    }

    .modal-backdrop.show:nth-of-type(even) {
        z-index: 1051 !important;
    }

    .modal {
        overflow: auto !important;
    }

    .td-bold {
        font-weight: 700;
    }

    .th-color {
        color: white;
        background: rgb(108, 114, 147) !important;
    }
</style>

<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="color:#6C7293;">
            KIỂM TRA SỐ ĐIỆN THOẠI KHÁCH HÀNG & SỐ THAM CHIẾU HĐ-@Model.LoanbriefId
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
                ×
            </span>
        </button>
    </div>
    <div class="modal-body">

        <div>

            <table class="table table-striped m-table table-customer-mobile" width="100%">
                <thead>
                    <tr class="th-color">
                        <th>
                            STT
                        </th>
                        <th>
                            HỌ TÊN
                        </th>
                        <th>
                            MỐI QUAN HỆ
                        </th>
                        <th>
                            MÃ ĐƠN VAY
                        </th>
                        <th>
                            TRẠNG THÁI ĐƠN
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.ListData.Count > 0)
                    {
                        var stt = 0;
                        foreach (var item in Model.ListData)
                        {
                            stt++;
                            <tr>
                                <td>
                                    @stt
                                </td>
                                <td>
                                    @item.FullName
                                </td>
                                <td>
                                    @item.RelationshipName
                                </td>
                                <td>
                                    HĐ-@item.LoanbriefId
                                </td>
                                <td>
                                    @item.LoanStatus
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="5">
                              Không có thông tin
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>