﻿@using LOS.Common.Extensions;
@model LOS.DAL.DTOs.LoanBriefForDetail
@{
    ViewData["Title"] = "Detail";
    Layout = null;
    var motoPriceModel = (MotoPriceModel)ViewBag.MotoPriceModel;
    var user = ViewBag.User as LOS.DAL.DTOs.UserDetail;
}
<style>

    .custom-m-boder-box {
        border-top: 1px solid rgba(108, 114, 147, 1);
        padding-top: 10px;
    }

    .cus-info-header {
        border-bottom: 1px solid #e9ecef;
        padding: 10px;
    }

    #formDetailLoanBrief .select2-container--default .select2-selection--single .select2-selection__rendered {
        padding: 0.52rem 1rem;
        border: 1px solid rgba(108, 114, 147, 1) !important;
    }

    #formDetailLoanBrief .select2-container--default .select2-selection--single {
        border-bottom: none !important;
    }

    select.form-control:not([size]):not([multiple]) {
        height: unset;
    }

    .m-form.m-form--group-seperator-dashed .m-form__group {
        border-bottom: none;
    }

    .m-form.m-form--group-seperator-dashed .m-form__group {
        padding-bottom: 10px;
        padding-top: 5px;
    }

    .modal-open .select2-dropdown {
        z-index: 10060;
    }

    .btn-tima {
        background-color: rgba(108, 114, 147, 1);
        border-color: rgba(108, 114, 147, 1);
        color: #fff;
    }

    .error-notify {
        margin-top: 0px !important;
    }

    .cus-form-control {
        padding: 0.45rem 1rem;
        border: 1px solid rgba(108, 114, 147, 1) !important;
        font-family: none;
        border-radius: 0px;
    }

    #list-tab li {
        width: 100%;
    }

    #formDetailLoanBrief input {
        border: none !important;
    }

    .money-color {
        color: #FA5858 !important;
    }

    .title-uppercase {
        text-transform: uppercase;
    }

    .nav.nav-pills .nav-link.active {
        background: #f7f7fa;
        color: black;
        font-weight: bold;
        border-bottom: 2px solid #ed522e;
        border-radius: 0;
        border-top: 0px;
    }

    .nav.nav-pills, .nav.nav-tabs {
        background: none;
        text-transform: uppercase;
        border-bottom: 1px solid #ccc;
    }

    .nav-link {
        padding: 10px 20px;
    }

    .nav.nav-pills .nav-item, .nav.nav-tabs .nav-item {
        margin-left: 0px;
    }

    .nav.nav-pills .nav-link.active i {
        color: black;
    }

    .col-form-label {
        font-size: 16px;
        line-height: 1;
    }

    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background: #f2f2f2;
    }

    ::-webkit-scrollbar-thumb {
        background: #888;
    }

        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }

    .title-model {
        font-weight: bold;
        font-size: 18px;
        text-align: center;
    }

    .custom-index {
        z-index: 1;
    }

    .nav-link:hover {
        border-radius: unset !important;
        border-top: none;
        border-bottom: none;
    }

    .m-section__content {
        padding-top: 15px;
    }
</style>

<div class="modal-content">
    <div class="m-portlet">
        <div class="modal-header" style="padding: 15px;">
            <div class="m-demo-icon__class title-uppercase col-lg-12 title-model">
                HĐ-@Model.LoanBriefId @Model.FullName
            </div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-left: -25px">
                <span aria-hidden="true">
                    ×
                </span>
            </button>
        </div>

        <ul class="nav nav-tabs nav-pills" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#m_tabs_tong_hop">
                    <i class="fa fa-desktop"></i>
                    Tổng hợp
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#m_tabs_lich_su" onclick="DetailModel.ChangeLoanBriefNote(@Model.LoanBriefId);">
                    <i class="fa fa-history"></i>
                    Lịch sử
                </a>
            </li>
            @if (ViewBag.IsDisplayDoc)
            {
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#m_tabs_chung_tu" onclick="DetailModel.ChangeDocumentFileAll(@Model.LoanBriefId);">
                        <i class="fa fa-image"></i>
                        Chứng từ
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#m_tabs_chi_tiet_chung_tu" onclick="DetailModel.ChangeDetailDocumentFile(@Model.LoanBriefId);">
                        <i class="fa fa-file-image-o"></i>
                        Chi tiết chứng từ
                    </a>
                </li>

            }

            @if (user.UserId == 26464)
            {
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#m_tabs_theo_doi_thiet_bi" onclick="DetailModel.ChangeFollowDevice('@ViewBag.urlEmbedMapTracking')">
                        <i class="fa fa-crosshairs"></i>
                        Theo dõi thiết bị
                    </a>
                </li>
            }
            @if (ViewBag.GroupID != LOS.Common.Extensions.EnumGroupUser.Telesale.GetHashCode() && ViewBag.GroupID != LOS.Common.Extensions.EnumGroupUser.ManagerTelesales.GetHashCode())
            {
                if (Model.IsLocate.GetValueOrDefault(false))
                {
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#m_tabs_theo_doi_thiet_bi" onclick="DetailModel.ChangeFollowDevice('@ViewBag.urlEmbedMapTracking')">
                            <i class="fa fa-crosshairs"></i>
                            Theo dõi thiết bị
                        </a>
                    </li>
                }

                @if (Model.ProductId == (int)EnumProductCredit.MotorCreditType_CC || Model.ProductId == (int)EnumProductCredit.MotorCreditType_KCC
               || Model.ProductId == (int)EnumProductCredit.MotorCreditType_KGT)
                {
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#m_tabs_tham_dinh_xe" onclick="AppraiserPriceMoto.ChangeAppraiserMotoPrice(@Model.LoanBriefId)">
                            <i class="fa fa-motorcycle"></i>
                            Thẩm định xe
                        </a>
                    </li>
                }
            }
        </ul>

        <div class="m-portlet__body" style="padding: 0rem 1.2rem; position: relative;">
            <div id="backdrop"></div>
            <div class="tab-content custom-over">
                <div class="tab-pane active" id="m_tabs_tong_hop" role="tabpanel">
                    <input type="hidden" value="@Model.LoanBriefId" name="LoanBriefId" />
                    <!--Kiểm tra thông tin KH-->
                    @if ((ViewBag.GroupID == (int)EnumGroupUser.StaffHub || ViewBag.GroupID == (int)EnumGroupUser.ManagerHub
                    || ViewBag.GroupID == (int)EnumGroupUser.ApproveEmp || ViewBag.GroupID == (int)EnumGroupUser.ApproveLeader
                    || ViewBag.GroupID == (int)EnumGroupUser.Admin || user.UserId == (int)EnumUser.tvv_test)
                    && (ViewBag.Ekyc != null || ViewBag.EkycNetwork != null || ViewBag.EkycMotobike != null))
                    {
                        @await Html.PartialAsync("../LoanBriefV3/Detail/_CheckInfomationCustomer.cshtml", Model)
                    }
                    @if (ViewBag.LstCancelMomo != null && (user.GroupId == (int)EnumGroupUser.ApproveLeader || user.GroupId == (int)EnumGroupUser.ApproveEmp))
                    {
                        @await Html.PartialAsync("../LoanBriefV3/Detail/_LoanCancelMomo.cshtml", Model)
                    }
                    <!--Thông tin khoản vay-->
                    @await Html.PartialAsync("../LoanBriefV3/Detail/_DeferredPayment.cshtml", Model)
                    <!--Thông tin khách hàng trả chậm-->
                    <!--begin:Thông tin cá nhân-->
                    @await Html.PartialAsync("../LoanBriefV3/Detail/_PersonalInformation.cshtml", Model)
                    <!--end:-->
                    <!--begin:Thông tin tài khoản VA-->
                    @if (Model.Status == (int)EnumLoanStatus.DISBURSED || Model.Status == (int)EnumLoanStatus.FINISH)
                    {
                        @await Html.PartialAsync("../LoanBriefV3/Detail/_VAInfomation.cshtml", Model)
                    }
                    <!--begin:Thông tin check Fraud-->
                    @if (ViewBag.FraudCheck != null)
                    {
                        @await Html.PartialAsync("../LoanBriefV3/Detail/_FraudCheck.cshtml", Model)
                    }
                    <!--end:-->
                    <!--begin:Thông tin doanh nghiệp-->
                    @if (Model.TypeLoanBrief == (int)LOS.Common.Extensions.LoanBriefType.Company && Model.LoanBriefCompany != null)
                    {
                        @await Html.PartialAsync("../LoanBriefV3/Detail/_CompanyInformation.cshtml", Model)
                    }
                    <!--begin:Thông tin Check Ekyc-->
                    @await Html.PartialAsync("../LoanBriefV3/Detail/_Ekyc.cshtml", Model)
                    <!--end:-->
                    <!--begin:Địa chỉ đang ở-->
                    @await Html.PartialAsync("../LoanBriefV3/Detail/_AddressHome.cshtml", Model)
                    <!--end:-->
                    <!--begin:Địa chỉ hộ khẩu-->
                    @await Html.PartialAsync("../LoanBriefV3/Detail/_AddressHousehold.cshtml", Model)
                    <!--end:-->
                    <!--begin:Việc làm-->
                    @await Html.PartialAsync("../LoanBriefV3/Detail/_WorkInformation.cshtml", Model)
                    <!--end:-->
                    @if (Model != null && Model.LoanBriefRelationship != null && Model.LoanBriefRelationship.Count > 0)
                    {
                        <!--begin:Người thân và đồng nghiệp-->
                        @await Html.PartialAsync("../LoanBriefV3/Detail/_RelativesAndColleagues.cshtml", Model)
                        <!--end:-->
                    }
                    <!--begin:HÌnh thức vay-->
                    @await Html.PartialAsync("../LoanBriefV3/Detail/_LoancreditForm.cshtml", Model)
                    <!--end:-->
                    <!--begin:Tài sản-->
                    @await Html.PartialAsync("../LoanBriefV3/Detail/_MotobikeInfomation.cshtml", Model)
                    <!--end:-->
                    <!--begin:Khoản vay-->
                    @await Html.PartialAsync("../LoanBriefV3/Detail/_LoancreditInfomartion.cshtml", Model)
                    <!--end:-->
                    <!--begin:Kiểm tra thông tin CIC-->
                    @await Html.PartialAsync("../LoanBriefV3/Detail/_CICInfomation.cshtml", Model)
                    <!--end:-->
                    <!--begin:Giải ngân-->
                    @await Html.PartialAsync("../LoanBriefV3/Detail/_DisbursementInfomation.cshtml", Model)
                    <!--end:-->
                </div>
                <div class="tab-pane" id="m_tabs_lich_su" role="tabpanel">
                </div>
                <div class="tab-pane" id="m_tabs_chung_tu" role="tabpanel">
                </div>
                <div class="tab-pane" id="m_tabs_chi_tiet_chung_tu" role="tabpanel">
                </div>
                @if (user.UserId == 26464)
                {
                    <div class="tab-pane" id="m_tabs_theo_doi_thiet_bi" role="tabpanel">
                    </div>
                }
                @if (ViewBag.GroupID != LOS.Common.Extensions.EnumGroupUser.Telesale.GetHashCode() && ViewBag.GroupID != LOS.Common.Extensions.EnumGroupUser.ManagerTelesales.GetHashCode())
                {
                    <div class="tab-pane" id="m_tabs_theo_doi_thiet_bi" role="tabpanel">
                    </div>
                    <div class="tab-pane" id="m_tabs_tham_dinh_xe" role="tabpanel">
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="hdd_CheckBuyInsurence" value="@(Model.BuyInsurenceCustomer == true || (Model.LoanBriefProperty != null && Model.LoanBriefProperty.BuyInsuranceProperty == true) ? 1 : 0)" />
<input type="hidden" id="hdd_JobDescriptionId" value="@(Model.LoanBriefJob != null && Model.LoanBriefJob.JobDescriptionId > 0 ? Model.LoanBriefJob.JobDescriptionId : 0)" />
<script src="~/js/LoanbriefV3/DetailsModule.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
<script src="~/js/LoanbriefV3/AppraiserPriceMotoModule.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
<script src="~/js/LoanBrief/CalculatorInsurranceModuleJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
<script src="~/js/LoanBrief/LoancreditInfomationModuleJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
<script src="~/js/LoanBrief/Detail/ReBorrowModule.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
<script type="text/javascript">
    $(document).ready(function () {
        //màn hình điện thoại
        if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
            $('.table-customer-mobile').addClass('table-responsive');
        }

        if (@user.GroupId != GROUP_APPROVE_LEADER && @user.GroupId != GROUP_APPROVE_EMP) {
            jQuery("#m_portlet_tab_1_1 input:radio").attr('disabled', true);
            $('#btnSubmit').css("display", "none");
        }

        if (@Model.Status != LoanStatus.DISBURSED && @Model.Status != LoanStatus.FINISH && @Model.Status != LoanStatus.CANCELED
            && $('#hdd_CheckBuyInsurence').val() == 1) {
             CalculatorInsurranceModuleJS.Init('@Model.LoanAmount', '@Model.LoanTime', '@Model.RateTypeId', '@Model.Frequency', '@Model.RatePercent',  '@Model.LoanBriefId');
        }
        LoancreditInfomationModuleJS.InfomationPayment('@Model.Status', '@Model.NationalCard');
        DetailModel.CalculateInterest('@Model.LoanBriefId', '@Model.LoanAmount', '@Model.LoanTime', '@Model.RateTypeId', '@Model.RatePercent');
        DetailModel.ResultEkyc('@Model.LoanBriefId');


    });
</script>


