﻿@{
    ViewData["Title"] = "Hợp đồng đã giải ngân";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = ViewBag.User as LOS.DAL.DTOs.UserDetail;
    var lstProvince = Enum.GetValues(typeof(LOS.Common.Extensions.EnumCitySearch)).Cast<LOS.Common.Extensions.EnumCitySearch>();
}
<link href="~/css/form.css?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS" rel="stylesheet" />
<style>
    .m-select2 {
        opacity: inherit !important;
    }

    .inputsearch {
        font-size: 13px !important;
    }

    .selectbox {
        width: 13% !important;
        margin-right: 1%;
    }

    .m-portlet .m-portlet__body {
        padding: 0rem 2.2rem;
    }

    .form-group {
        margin-bottom: 0px;
    }

    .m-portlet .m-portlet__body {
        padding-bottom: 20px;
    }
</style>
<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Hợp đồng đã giải ngân
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <!--begin: Search Form -->
            <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <div class="col-md-1">
                                <div class="form-group m-form__group">
                                    <div class="m-input-icon m-input-icon--left">
                                        <input type="text" class="form-control m-input inputsearch" placeholder="Mã HĐ" id="filterLoanId">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group m-form__group">
                                    <div class="m-input-icon m-input-icon--left">
                                        <input type="text" class="form-control m-input inputsearch" placeholder="Tên, SĐT, CMT Khách hàng" id="filterSearch">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group m-form__group">
                                    <div class="m-form__control">
                                        <select class="form-control m-select2" id="filterProvince" style="width: 100%;">
                                            <option value="-1">Tất cả Tỉnh/Thành phố</option>
                                            @foreach (var item in lstProvince)
                                            {
                                                <!option value="@Convert.ToInt32(item)">@LOS.Common.Helpers.ExtentionHelper.GetDescription(item)</!option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group m-form__group">
                                    <div class="m-form__control">
                                        <select class="form-control m-select2" id="filterProduct" style="width: 100%;">
                                            <option></option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group m-form__group">
                                    <div class="m-form__control">
                                        <select class="form-control m-select2" id="filterTopup" style="width: 100%;">
                                            <option value="@LOS.Common.Extensions.FilterTopupDisbursementContract.Topup.GetHashCode()" selected="selected">
                                                HĐ Topup
                                            </option>
                                            @if (user.UserId == (int)LOS.Common.Extensions.EnumUser.spt_hoanpt.GetHashCode())
                                            {
                                                <option value="@LOS.Common.Extensions.FilterTopupDisbursementContract.TlsOff.GetHashCode()">
                                                    HĐ của TLS đã nghỉ
                                                </option>
                                                <option value="@LOS.Common.Extensions.FilterTopupDisbursementContract.CloseLoan.GetHashCode()">
                                                    Đóng HĐ
                                                </option>
                                            }
                                            <option value="@LOS.Common.Extensions.FilterTopupDisbursementContract.DPD.GetHashCode()">
                                                HĐ DPD <= 8
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="input-group date">
                                    <input style="margin-right: -15%;cursor:pointer;color:#9CA0B6;" type="text" class="form-control inputsearch" readonly="" id="filtercreateTime" placeholder="Thời gian tạo">
                                    <i class="fa fa-calendar" style="padding-top: 3%;font-size: 15pt;"></i>
                                </div>
                            </div>

                            <div class="col-md-1">
                                <div class="form-group m-form__group">
                                    <div class="m-form__control">
                                        <a href="javascript:;" class="btn btn-tima" style="cursor:pointer;" id="btnSearch">
                                            Tìm kiếm
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-12 m--padding-top-15">
                        <div class="form-group row">
                            <div class="col-lg-1 col-md-6 col-sm-12">
                                <div class="m-form__control">
                                    <a href="#" class="btn btn-tima" onclick="DisbursementContractModule.CreateLoanTopup(this)">
                                        Tạo đơn Topup/DPD
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr style="color: #333333;" />
            <!--begin: Datatable -->
            <table class="m-datatable__table dtform" width="100%" id="dtDisbursementContract"></table>
        </div>
    </div>
</div>
<partial name="~/Views/LoanBriefV3/Partial/_change_boundtelesale.cshtml" />
@section Scripts
{
    <script src="~/js/LoanbriefV3/DisbursementContractModulesJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/CommonModalJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/LoanBrief/LoanBriefTopup.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            App.Init();
            DisbursementContractModule.InitData(@user.TypeCallService);
            DisbursementContractModule.Init();
        });
    </script>
}

