﻿@using LOS.Common.Extensions;
@model List<LoanBriefNoteViewModel>
@{
    Layout = null;
}
<style>
    .td-bold {
        font-weight: 700;
    }

    .th-color {
        color: white;
        background: rgb(108, 114, 147) !important;
    }
</style>
<div class="m-section__content">
    <table class="table table-striped m-table table-customer-mobile">
        <thead>
            <tr class="th-color">
                <th>Thời gian</th>
                <th>Người thao tác</th>
                <th>Nội dung</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Count > 0)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td style="width: 130px;">@item.CreatedTime.ToString("dd/MM/yyyy HH:mm")</td>
                        <td style="width: 200px;">
                            @item.FullName
                            @if (!string.IsNullOrEmpty(item.ShopName))
                            {
                                <br />
                                <span style="font-size: 10px; color: #1842e0">(@item.ShopName)</span>
                            }
                        </td>
                        <td>@Html.Raw(item.Note)</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
@*<div class="tab-content">
        @if (Model != null && Model.Count > 0)
        {
            foreach (var item in Model)
            {
                var classBoreder = "border-right: 4px solid #f4516c;";
                if (item.GroupId == (int)EnumGroupUser.Telesale || item.GroupId == (int)EnumGroupUser.ManagerTelesales)
                    classBoreder = "border-right: 4px solid #fd7e14;";
                else if (item.GroupId == (int)EnumGroupUser.StaffHub || item.GroupId == (int)EnumGroupUser.ManagerHub)
                    classBoreder = "border-right: 4px solid #34bfa3;";
                else if (item.GroupId == (int)EnumGroupUser.ApproveEmp || item.GroupId == (int)EnumGroupUser.ApproveLeader)
                    classBoreder = "border-right: 4px solid #36a3f7;";
                else if (item.GroupId == (int)EnumGroupUser.FieldSurvey)
                    classBoreder = "border-right: 4px solid #00c5dc;";
                <div class="row m--padding-10" style="border-bottom: 0.07rem dashed #ebedf2;">
                    <div class="col-lg-2 col-md-4 col-sm-12 m--align-center" style="@classBoreder">
                        <span class="cutom-time">
                            @item.CreatedTime.ToString("HH:mm")
                            <br />
                            @item.CreatedTime.ToString("dd/MM/yyyy")
                        </span>
                        <br /><span class="custom-department">(@item.ShopName)</span>
                    </div>
                    <div class="col-lg-10 col-md-8 col-sm-12 custom-content">
                        @(Html.Raw(item.Note))
                        <br />
                        <span class="custom-department">
                            @item.FullName
                        </span>
                    </div>
                </div>
            }
        }
    </div>*@
