﻿
@model LOS.DAL.DTOs.ListFileDetail
@{
    Layout = null;
    var count = 1;
    var user = ViewBag.User as LOS.DAL.DTOs.UserDetail;
}
@using LOS.Common.Extensions;
<style>
    .custom-icon {
        font-size: 20px;
        cursor: pointer;
        padding: 10px 0px;
    }

    .m-accordion .m-accordion__item .m-accordion__item-head .m-accordion__item-icon > i {
        font-size: 20px;
    }

    .m-accordion .m-accordion__item .m-accordion__item-head .m-accordion__item-title {
        font-size: 15px;
    }

    .m-accordion .m-accordion__item .m-accordion__item-head {
        padding: 10px 2rem;
    }
</style>
<link href="~/photoviewer/photoviewer.css" rel="stylesheet" />
<div class="tab-content">
    <div class="m-accordion m-accordion--default m-accordion--solid m-accordion--section  m-accordion--toggle-arrow" role="tablist" id="checkboxes">
        @if (Model.ListDocumentNewV2 != null && Model.ListDocumentNewV2.Count > 0)
        {
            foreach (var item in Model.ListDocumentNewV2)
            {
                var index2 = 0;
                var lstCheck = Model.ListCheckImage.Where(x => x.TypeCheck == LOS.Common.Extensions.EnumCheckLoanInformationType.CheckImage.GetHashCode() && x.DocumentTypeId == item.Id).FirstOrDefault();
                <div class="m-accordion__item">
                    <div class="m-accordion__item-head @(Model.ListLoanBriefFile.Where(x => x.TypeId == item.Id).ToList().Count > 0 ? "" : "collapse")" role="tab" id="m_accordion_7_item_head_@item.Id" data-toggle="collapse" href="#m_accordion_7_item_body_@item.Id" aria-expanded="@(Model.ListLoanBriefFile.Where(x => x.TypeId == item.Id).ToList().Count > 0 ? "false" : "true")">
                        <span class="m-accordion__item-icon">
                            <i class="fa fa-image"></i>
                        </span>
                        @if (user.GroupId == LOS.Common.Extensions.EnumGroupUser.StaffHub.GetHashCode() || user.GroupId == LOS.Common.Extensions.EnumGroupUser.ManagerHub.GetHashCode()
                   || user.GroupId == LOS.Common.Extensions.EnumGroupUser.ApproveEmp.GetHashCode() || user.GroupId == LOS.Common.Extensions.EnumGroupUser.ApproveLeader.GetHashCode())
                        {
                            <span class="m-accordion__item-title" style="width:70%;">
                                @item.Name <span style="font-weight: bold;">(@Model.ListLoanBriefFile.Where(x => x.TypeId == item.Id).ToList().Count)</span>
                            </span>
                            <label class="m-checkbox m-checkbox--bold m-checkbox--state-success" style="padding-right:50px;">
                                <input class="disabled-radio" type="radio" @(lstCheck != null && lstCheck.ResultCheck == true ? "checked=\"checked\"" : "") attr-doctype="@item.Id" attr-description="@item.Name" name="check-@item.Id" value="true">
                                Đúng
                                <span></span>
                            </label>
                            <label class="m-checkbox m-checkbox--bold m-checkbox--state-brand" style="padding-right:50px;">
                                <input class="disabled-radio" type="radio" @(lstCheck != null && lstCheck.ResultCheck == false ? "checked=\"checked\"" : "") attr-doctype="@item.Id" attr-description="@item.Name" name="check-@item.Id" value="false">
                                Sai
                                <span></span>
                            </label>
                        }
                        else
                        {
                            <span class="m-accordion__item-title">
                                @item.Name <span style="font-weight: bold;">(@Model.ListLoanBriefFile.Where(x => x.TypeId == item.Id).ToList().Count)</span>
                            </span>
                        }
                        <span class="m-accordion__item-mode"></span>
                    </div>
                    <div class="m-accordion__item-body collapse @(Model.ListLoanBriefFile.Where(x => x.TypeId == item.Id).ToList().Count > 0 ? "show" : "")" id="m_accordion_7_item_body_@item.Id" role="tabpanel" aria-labelledby="m_accordion_7_item_head_@item.Id" data-parent="#m_accordion_7" style="">
                        <div class="m-accordion__item-content">
                            <div class="row docs-pictures clearfix" name="box_galley" id="box_galley-@item.Id">
                                @foreach (var item2 in item.ListFiles)
                                {
                                    <div class="col-lg-2 col-md-3 col-sm-6">
                                        @if (item2.FilePath.Contains("video"))
                                        {
                                            <video attr-id="@item2.Id" style="width: 100%;" controls>
                                                <source src="@item2.FilePath" type="video/mp4">
                                            </video>
                                            <a data-toggle="modal" href="#Modal" title="Xem chi tiết video" onclick="VideoModuleJS.InitModal(@item2.FilePath)" class="btn-action btn btn-brand m-btn m-btn--icon btn-sm m-btn--icon-only"><i class="fa fa-eye"></i></a>
                                            @if (item2.SourceUpload.GetValueOrDefault(1) == 1)
                                            {
                                                <span class="custom-icon" onclick="copy_tooltip(this)" attr-latlng="@item2.LatLong" data-toggle="m-tooltip" data-placement="right" title="@item2.LatLongAddress" data-html="true" data-content="@item2.LatLongAddress">
                                                    <i class="fa fa-desktop"></i>
                                                </span>
                                            }
                                            else if (item2.SourceUpload.GetValueOrDefault(1) == 2)
                                            {
                                                <span class="custom-icon" onclick="copy_tooltip(this)" attr-latlng="@item2.LatLong" data-toggle="m-tooltip" data-placement="right" title="@item2.LatLongAddress" data-html="true" data-content="@item2.LatLongAddress">
                                                    <i class="fa fa-mobile"></i>
                                                </span>
                                            }
                                            else
                                            {
                                                <span class="custom-icon" onclick="copy_tooltip(this)" attr-latlng="@item2.LatLong" data-toggle="m-tooltip" data-placement="right" title="@item2.LatLongAddress" data-html="true" data-content="@item2.LatLongAddress">
                                                    <i class="fa fa-users"></i>
                                                </span>
                                            }

                                            @if (item2.CreateAt.HasValue)
                                            {
                                                <span class="custom-icon" data-toggle="m-tooltip" data-placement="right" title="@item2.CreateAt.Value.ToString("dd/MM/yyyy HH:mm:ss")" data-html="true" data-content="@item2.CreateAt.Value.ToString("dd/MM/yyyy HH:mm:ss")">
                                                    <i class="fa fa-clock-o"></i>
                                                </span>
                                            }

                                            @if (item2.DistanceAddressHomeGoogleMap > 0)
                                            {
                                                <span class="custom-icon" data-toggle="m-tooltip" data-placement="right" title="@($"Khoảng cách tới địa chỉ nơi ở tls pick: {item2.DistanceAddressHomeGoogleMap}m")" data-html="true" data-content="@($"Khoảng cách tới địa chỉ tls pick: {item2.DistanceAddressHomeGoogleMap}m")">
                                                    <i class="fa fa-podcast"></i>
                                                </span>
                                            }
                                            else if (item2.DistanceAddressCompanyGoogleMap > 0)
                                            {
                                                <span class="custom-icon" data-toggle="m-tooltip" data-placement="right" title="@($"Khoảng cách tới địa chỉ nơi làm việc tls pick: {item2.DistanceAddressCompanyGoogleMap}m")" data-html="true" data-content="@($"Khoảng cách tới địa chỉ tls pick: {item2.DistanceAddressCompanyGoogleMap}m")">
                                                    <i class="fa fa-podcast"></i>
                                                </span>
                                            }
                                            @if (!string.IsNullOrEmpty(item2.LatLong))
                                            {
                                                <span class="custom-icon" onclick="copy_tooltip(this)" attr-latlng="@item2.LatLong" data-toggle="m-tooltip" data-placement="right" title="@item2.LatLong" data-html="true" data-content="@item2.LatLong">
                                                    <i class="fa fa-map-marker"></i>
                                                </span>
                                            }

                                        }
                                        else
                                        {
                                            <a attr-index="@index2" data-gallery="photoviewer_@item.Id" data-title="" data-group="a" href="@item2.FilePath">
                                                <img attr-id="@item2.Id" class="cus-image-item" style="width: 100%;" data-original="@item2.FilePath" src="@(!string.IsNullOrEmpty(item2.FileThumb) ? item2.FileThumb : item2.FilePath)" />
                                            </a>
                                            @if (!string.IsNullOrEmpty(item2.LatLong))
                                            {
                                                <span class="custom-icon" onclick="copy_tooltip(this)" attr-latlng="@item2.LatLong" data-toggle="m-tooltip" data-placement="right" title="@item2.LatLong" data-html="true" data-content="@item2.LatLong">
                                                    <i class="fa fa-map-marker"></i>
                                                </span>
                                            }

                                            @if (item2.SourceUpload.GetValueOrDefault(1) == 1)
                                            {
                                                <span class="custom-icon" onclick="copy_tooltip(this)" attr-latlng="@item2.LatLong" data-toggle="m-tooltip" data-placement="right" title="@item2.LatLongAddress" data-html="true" data-content="@item2.LatLongAddress">
                                                    <i class="fa fa-desktop"></i>
                                                </span>
                                            }
                                            else if (item2.SourceUpload.GetValueOrDefault(1) == 2)
                                            {
                                                <span class="custom-icon" onclick="copy_tooltip(this)" attr-latlng="@item2.LatLong" data-toggle="m-tooltip" data-placement="right" title="@item2.LatLongAddress" data-html="true" data-content="@item2.LatLongAddress">
                                                    <i class="fa fa-mobile"></i>
                                                </span>
                                            }
                                            else
                                            {
                                                <span class="custom-icon" onclick="copy_tooltip(this)" attr-latlng="@item2.LatLong" data-toggle="m-tooltip" data-placement="right" title="@item2.LatLongAddress" data-html="true" data-content="@item2.LatLongAddress">
                                                    <i class="fa fa-users"></i>
                                                </span>
                                            }

                                            @if (item2.CreateAt.HasValue)
                                            {
                                                <span class="custom-icon" data-toggle="m-tooltip" data-placement="right" title="@item2.CreateAt.Value.ToString("dd/MM/yyyy HH:mm:ss")" data-html="true" data-content="@item2.CreateAt.Value.ToString("dd/MM/yyyy HH:mm:ss")">
                                                    <i class="fa fa-clock-o"></i>
                                                </span>
                                            }

                                            @if (item2.DistanceAddressHomeGoogleMap > 0)
                                            {
                                                <span class="custom-icon" data-toggle="m-tooltip" data-placement="right" title="@($"Khoảng cách tới địa chỉ nơi ở tls pick: {item2.DistanceAddressHomeGoogleMap}m")" data-html="true" data-content="@($"Khoảng cách tới địa chỉ tls pick: {item2.DistanceAddressHomeGoogleMap}m")">
                                                    <i class="fa fa-podcast"></i>
                                                </span>
                                            }
                                            else if (item2.DistanceAddressCompanyGoogleMap > 0)
                                            {
                                                <span class="custom-icon" data-toggle="m-tooltip" data-placement="right" title="@($"Khoảng cách tới địa chỉ nơi làm việc tls pick: {item2.DistanceAddressCompanyGoogleMap}m")" data-html="true" data-content="@($"Khoảng cách tới địa chỉ tls pick: {item2.DistanceAddressCompanyGoogleMap}m")">
                                                    <i class="fa fa-podcast"></i>
                                                </span>
                                            }
                                            index2++;
                                        }

                                    </div>

                                }
                            </div>
                        </div>
                    </div>
                </div>
                count++;
            }
        }
    </div>
</div>

<script src="~/photoviewer/photoviewer.js?v=1"></script>
<script src="~/js/Video/VideoModuleJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('[data-toggle="m-tooltip"]').tooltip();
        if (@user.GroupId != GROUP_APPROVE_LEADER && @user.GroupId != GROUP_APPROVE_EMP) {
            jQuery("#m_portlet_tab_1_3 input:radio").attr('disabled', true);
            $('#btn-Submit').css("display", "none");
        }
        //viewerLoading();
    });
    function copy_tooltip(tthis) {
        var copyText = $(tthis).attr('data-content');
        if (copyText != null && copyText != "") {
            var $temp = $("<input>");
            $("body").append($temp);
            $temp.val(copyText).select();
            document.execCommand("copy");
            $temp.remove();
            App.ShowSuccessNotLoad("Copy thành công");
        }

    }
    $('[data-gallery^=photoviewer]').click(function (e) {
        e.preventDefault();
        var items = [],
            options = {
                index: $(this).attr('attr-index'),
                headerToolbar: [
                    'minimize',
                    'maximize',
                    'close'
                ],
                footToolbar: [
                    'prev',
                    'next',
                    'zoomIn',
                    'zoomOut',
                    'fullscreen',
                    'actualSize',
                    'rotateLeft',
                    'rotateRight',
                    'flipVertical',
                    'flipHorizontal'
                ],
                modalWidth: 400,
                modalHeight: 400,
                callbacks: {
                    beforeChange: function (context, index) {
                        console.log(context, index)
                    },
                    changed: function (context, index) {
                        console.log(context, index)
                    }
                }
            };

        var attrPhotoviewer = $(this).attr('data-gallery');
        $("[data-gallery=" + attrPhotoviewer + "]").each(function () {
            items.push({
                src: $(this).attr('href'),
                title: $(this).attr('data-title')
            });
        });
        new PhotoViewer(items, options);
    });
    function viewerLoading() {
        var galley = document.getElementById('box_galley');
        viewer = new Viewer(galley, {
            url: 'data-original',
            title: function (image) {
                return image.alt + ' (' + (this.index + 1) + '/' + this.length + ')';
            },
        });
    }
    function LoadFiles(documentId, count) {
        var loanBriefId = $('#LoanBriefId').val();
        $.ajax({
            type: "GET",
            url: "/LoanBrief/GetFilesView",
            data: {
                'loanbriefId': loanBriefId,
                'documentId': documentId
            },
            dataType: 'json',
            success: function (data) {

                if (data.isSuccess == 1) {
                    $("#box_galley-" + count + "").html('');
                    //console.log(data.html); return;
                    $("#box_galley-" + count + "").html(data.html);
                } else {
                    App.ShowErrorNotLoad(res.message);
                }
            }
        });
    }
</script>
