﻿@model LOS.DAL.DTOs.ListFileDetail
@{
    Layout = null;
    var index = 0;
}
<style>
    .item-border-warning {
        border: 5px solid #ffc241;
    }

    .custom-icon {
        font-size: 20px;
        cursor: pointer;
        padding: 10px 0px;
    }

</style>
<link href="~/photoviewer/photoviewer.css" rel="stylesheet" />

<div class="tab-content">
    @if (Model != null && Model.ListLoanBriefFile != null && Model.ListLoanBriefFile.Count > 0)
    {
        if (!string.IsNullOrEmpty(Model.MessageNotify))
        {
            <div class="col-md-12 alert alert-warning" role="alert">
                <strong>
                    Cảnh báo:
                </strong>
                @Model.MessageNotify
            </div>
        }
        <div class="row docs-pictures clearfix" name="box_galley" id="box_galley_all">
            @foreach (var item in Model.ListLoanBriefFile)
            {
                @if (string.IsNullOrEmpty(item.FilePath)) continue;
            <div class="col-lg-2 col-md-3 col-sm-6">
                @if (item.FilePath.Contains("video"))
                {
                    <video attr-id="@item.Id" style="width: 100%;" controls>
                        <source src="@item.FilePath" type="video/mp4">
                    </video>
                    <a href="javascript:;" title="Xem chi tiết video" onclick="VideoModuleJS.InitModal('@item.FilePath.Replace("\\","/")')">
                        <i style="font-size: 18px; color: black;" class="fa fa-eye"></i>
                    </a>
                    @if (item.SourceUpload.GetValueOrDefault(1) == 1)
                    {
                        <span class="custom-icon" onclick="copy_tooltip(this)" attr-latlng="@item.LatLong" data-toggle="m-tooltip" data-placement="right" title="@item.LatLongAddress" data-html="true" data-content="@item.LatLongAddress">
                            <i class="fa fa-desktop"></i>
                        </span>
                    }
                    else if (item.SourceUpload.GetValueOrDefault(1) == 2)
                    {
                        <span class="custom-icon" onclick="copy_tooltip(this)" attr-latlng="@item.LatLong" data-toggle="m-tooltip" data-placement="right" title="@item.LatLongAddress" data-html="true" data-content="@item.LatLongAddress">
                            <i class="fa fa-mobile"></i>
                        </span>
                    }
                    else
                    {
                        <span class="custom-icon" onclick="copy_tooltip(this)" attr-latlng="@item.LatLong" data-toggle="m-tooltip" data-placement="right" title="@item.LatLongAddress" data-html="true" data-content="@item.LatLongAddress">
                            <i class="fa fa-users"></i>
                        </span>
                    }
                    @if (item.CreateAt.HasValue)
                    {
                        <span class="custom-icon" data-toggle="m-tooltip" data-placement="right" title="@item.CreateAt.Value.ToString("dd/MM/yyyy HH:mm:ss")" data-html="true" data-content="@item.CreateAt.Value.ToString("dd/MM/yyyy HH:mm:ss")">
                            <i class="fa fa-clock-o"></i>
                        </span>
                    }

                    @if (item.DistanceAddressHomeGoogleMap > 0)
                    {
                        <span class="custom-icon" data-toggle="m-tooltip" data-placement="right" title="@($"Khoảng cách tới địa chỉ nơi ở tls pick: {item.DistanceAddressHomeGoogleMap}m")" data-html="true" data-content="@($"Khoảng cách tới địa chỉ tls pick: {item.DistanceAddressHomeGoogleMap}m")">
                            <i class="fa fa-podcast"></i>
                        </span>
                    }
                    else if (item.DistanceAddressCompanyGoogleMap > 0)
                    {
                        <span class="custom-icon" data-toggle="m-tooltip" data-placement="right" title="@($"Khoảng cách tới địa chỉ nơi làm việc tls pick: {item.DistanceAddressCompanyGoogleMap}m")" data-html="true" data-content="@($"Khoảng cách tới địa chỉ tls pick: {item.DistanceAddressCompanyGoogleMap}m")">
                            <i class="fa fa-podcast"></i>
                        </span>
                    }


                    @if (!string.IsNullOrEmpty(item.LatLong))
                    {
                        <span class="custom-icon" onclick="copy_tooltip(this)" attr-latlng="@item.LatLong" data-toggle="m-tooltip" data-placement="right" title="@item.LatLong" data-html="true" data-content="@item.LatLong">
                            <i class="fa fa-map-marker"></i>
                        </span>
                    }
                }
                else
                {
                    <a data-gallery="photoviewer" attr-index="@index" data-title="" data-group="a" href="@item.FilePath">
                        @if (Model.ListImageWarning != null && Model.ListImageWarning.Contains(item.Id))
                        {
                            <img attr-id="@item.Id" class="item-border-warning" data-original="@item.FilePath" src="@(!string.IsNullOrEmpty(item.FileThumb) ? item.FileThumb : item.FilePath)" style="width: 100%" />
                        }
                        else
                        {
                            <img attr-id="@item.Id" data-original="@item.FilePath" src="@(!string.IsNullOrEmpty(item.FileThumb) ? item.FileThumb : item.FilePath)" style="width: 100%" />
                        }

                    </a>

                    @if (item.SourceUpload.GetValueOrDefault(1) == 1)
                    {
                        <span class="custom-icon" onclick="copy_tooltip(this)" attr-latlng="@item.LatLong" data-toggle="m-tooltip" data-placement="right" title="@item.LatLongAddress" data-html="true" data-content="@item.LatLongAddress">
                            <i class="fa fa-desktop"></i>
                        </span>
                    }
                    else if (item.SourceUpload.GetValueOrDefault(1) == 2)
                    {
                        <span class="custom-icon" onclick="copy_tooltip(this)" attr-latlng="@item.LatLong" data-toggle="m-tooltip" data-placement="right" title="@item.LatLongAddress" data-html="true" data-content="@item.LatLongAddress">
                            <i class="fa fa-mobile"></i>
                        </span>
                    }
                    else
                    {
                        <span class="custom-icon" onclick="copy_tooltip(this)" attr-latlng="@item.LatLong" data-toggle="m-tooltip" data-placement="right" title="@item.LatLongAddress" data-html="true" data-content="@item.LatLongAddress">
                            <i class="fa fa-users"></i>
                        </span>
                    }
                    @if (item.CreateAt.HasValue)
                    {
                        <span class="custom-icon" data-toggle="m-tooltip" data-placement="right" title="@item.CreateAt.Value.ToString("dd/MM/yyyy HH:mm:ss")" data-html="true" data-content="@item.CreateAt.Value.ToString("dd/MM/yyyy HH:mm:ss")">
                            <i class="fa fa-clock-o"></i>
                        </span>
                    }
                    @if (item.DistanceAddressHomeGoogleMap > 0)
                    {
                        <span class="custom-icon" data-toggle="m-tooltip" data-placement="right" title="@($"Khoảng cách tới địa chỉ nơi ở tls pick: {item.DistanceAddressHomeGoogleMap}m")" data-html="true" data-content="@($"Khoảng cách tới địa chỉ tls pick: {item.DistanceAddressHomeGoogleMap}m")">
                            <i class="fa fa-podcast"></i>
                        </span>
                    }
                    else if (item.DistanceAddressCompanyGoogleMap > 0)
                    {
                        <span class="custom-icon" data-toggle="m-tooltip" data-placement="right" title="@($"Khoảng cách tới địa chỉ nơi làm việc tls pick: {item.DistanceAddressCompanyGoogleMap}m")" data-html="true" data-content="@($"Khoảng cách tới địa chỉ tls pick: {item.DistanceAddressCompanyGoogleMap}m")">
                            <i class="fa fa-podcast"></i>
                        </span>
                    }
                    @if (!string.IsNullOrEmpty(item.LatLong))
                    {
                        <span class="custom-icon" onclick="copy_tooltip(this)" attr-latlng="@item.LatLong" data-toggle="m-tooltip" data-placement="right" title="@item.LatLong" data-html="true" data-content="@item.LatLong">
                            <i class="fa fa-map-marker"></i>
                        </span>
                    }
                    index++;
                }
            </div>
            }
        </div>
    }
    else
    {
        <div class="col-md-12" style="color: red; text-align: center; font-style: italic;">
            Không có dữ liệu
        </div>
    }
</div>
<script src="~/photoviewer/photoviewer.js?v=2"></script>
<script src="~/js/Video/VideoModuleJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
<script type="text/javascript">
    $(document).ready(function () {
        //viewerLoading();
        $('[data-toggle="m-tooltip"]').tooltip();
    });
    function copy_tooltip(tthis) {
        var copyText = $(tthis).attr('data-content');
        if (copyText != null && copyText != "") {
            var $temp = $("<input>");
            $("body").append($temp);
            $temp.val(copyText).select();
            document.execCommand("copy");
            $temp.remove();
            App.ShowSuccessNotLoad("Copy thành công");
        }

    }
    $('[data-gallery=photoviewer]').click(function (e) {
        e.preventDefault();
        var items = [],
            options = {
                index: $(this).attr('attr-index'),
                headerToolbar: [
                    'minimize',
                    'maximize',
                    'close'
                ],
                footToolbar: [
                    'prev',
                    'next',
                    'zoomIn',
                    'zoomOut',
                    'fullscreen',
                    'actualSize',
                    'rotateLeft',
                    'rotateRight',
                    'flipVertical',
                    'flipHorizontal'
                ],
                modalWidth: 400,
                modalHeight: 400,
                callbacks: {
                    beforeChange: function (context, index) {
                        console.log(context, index)
                    },
                    changed: function (context, index) {
                        console.log(context, index)
                    }
                }
            };
        $('[data-gallery=photoviewer]').each(function () {
            items.push({
                src: $(this).attr('href'),
                title: $(this).attr('data-title')
            });
        });
        new PhotoViewer(items, options);
    });
    function viewerLoading() {
        var galley = document.getElementById('box_galley_all');
        viewer = new Viewer(galley, {
            url: 'data-original',
            title: function (image) {
                return image.alt + ' (' + (this.index + 1) + '/' + this.length + ')';
            },
        });
    }</script>