﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = ViewBag.User as LOS.DAL.DTOs.UserDetail;
}
<link href="~/css/form.css?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS" rel="stylesheet" />
<style>
    #dtLoanBrief tbody {
        padding: 0 !important;
    }
</style>
@*@await Component.InvokeAsync("Breadcrumb", new { ModuleName = "LOAN_BRIEF_MANAGER" })*@
<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Tìm kiếm
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <!--begin: Search Form -->
            <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                <div class="row align-items-center">
                    <div class="col-xl-12 order-2 order-xl-1">
                        <div class="form-group m-form__group row align-items-center">
                            <div class="col-md-1">
                                <div class="form-group m-form__group">
                                    <div class="m-input-icon m-input-icon--left">
                                        <input type="text" class="form-control m-input inputsearch" placeholder="Mã HĐ" id="filterLoanId">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-1">
                                <div class="form-group m-form__group">
                                    <div class="m-input-icon m-input-icon--left">
                                        <input type="text" class="form-control m-input inputsearch" placeholder="Mã TC" id="filterCodeId">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group m-form__group">
                                    <div class="m-input-icon m-input-icon--left">
                                        <input type="text" class="form-control m-input inputsearch" placeholder="Tên/SĐT/CMND/CCCD" id="filterSearch">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group m-form__group">
                                    <div class="m-form__control">
                                        <a href="javascript:;" class="btn btn-tima" style="cursor:pointer;" id="btnSearch">
                                            Tìm kiếm
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>
            </div>
            <!--end: Search Form -->
            <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                <div class="row align-items-center">
                    <div class="col-xl-9 order-2 order-xl-1">
                        <div class="form-group m-form__group row align-items-center">
                            <div class="col-md-2">
                                <div class="form-group m-form__group">
                                    <div class="m-input-icon m-input-icon--left">
                                        <span style="font-family: 'Poppins Bold', 'Poppins Regular', 'Poppins', sans-serif;font-weight: 700;font-style: normal;color: #6C7293;">Danh sách đơn</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <hr style="color: #333333;" />
            <!--begin: Datatable -->
            <table class="m-datatable__table dtform" width="100%" id="dtLoanSeach"></table>
        </div>
    </div>
</div>


@section Scripts
{
    <script src="~/js/LoanbriefV3/LoanbriefSearchModule.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/CommonModalJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/CareSoftModule.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    @*js metech*@
    <script src="~/js/smartdailer/jabberwerx.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/smartdailer/finessenongadget.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/smartdailer/finesseC2CModule.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            LoanbriefSearchModule.InitData(@user.GroupId, @user.TypeCallService);
            LoanbriefSearchModule.Init(@user.GroupId);

            //khởi tạo finesse
            if ('@user.CiscoUsername' != '' && '@user.CiscoPassword' != '' && '@user.CiscoExtension' != '') {
                finesseC2CModule.LoginFinesse('@user.CiscoUsername', '@user.CiscoPassword', '@user.CiscoExtension', 'tima.vn');
            }
        });
    </script>
}

<style>
    div.dropdown-menu.open {
        max-height: 314px !important;
        overflow: hidden;
    }

    ul.dropdown-menu.inner {
        max-height: 260px !important;
        overflow-y: auto;
    }
</style>