﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/form.css?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS" rel="stylesheet" />
@*@await Component.InvokeAsync("Breadcrumb", new { ModuleName = "LOAN_BRIEF_MANAGER" })*@
<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Thêm SDT vào Cisco
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <!--begin: Search Form -->
            <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                <div class="row align-items-center  m-form__group">
                    <div class="col-xl-12 order-2 order-xl-1">
                        <div class="form-group m-form__group row align-items-center">
                            <div class="col-md-2">
                                <div class="form-group m-form__group">
                                    <div class="m-input-icon m-input-icon--left">
                                        <input type="text" class="form-control m-input inputsearch" placeholder="SĐT" id="filterSearch">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group m-form__group">
                                    <div class="m-form__control">
                                        <select class="form-control m-select2" id="filterStatus">
                                            <option selected="selected" value="@LOS.Common.Extensions.EnumStatusPushToCisco.Success.GetHashCode()">
                                                @LOS.Common.Extensions.Description.GetDescription(LOS.Common.Extensions.EnumStatusPushToCisco.Success)
                                            </option>
                                            <option value="@LOS.Common.Extensions.EnumStatusPushToCisco.Fail.GetHashCode()">
                                                @LOS.Common.Extensions.Description.GetDescription(LOS.Common.Extensions.EnumStatusPushToCisco.Fail)
                                            </option>      
                                            <option value="@LOS.Common.Extensions.EnumStatusPushToCisco.CiscoOver.GetHashCode()">
                                                @LOS.Common.Extensions.Description.GetDescription(LOS.Common.Extensions.EnumStatusPushToCisco.CiscoOver)
                                            </option>      
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group m-form__group">
                                    <div class="m-form__control">
                                        <a href="javascript:;" class="btn btn-tima" style="cursor:pointer;" id="btnSearch">
                                            Tìm kiếm
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1 col-sm-6 col-sm-12" style="padding: 10px;">
                                <div class="m-form__control">
                                    <button id="btnCreate" class="btn btn-tima" onclick="PushToCiscoModule.InitModal(0)">
                                        Thêm vào Cisco
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--begin: Datatable -->
            <table class="m-datatable__table dtform" width="100%" id="dtPushToCisco"></table>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/LoanbriefV3/PushToCiscoModule.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            PushToCiscoModule.Init();
        });
    </script>
}

<style>
    div.dropdown-menu.open {
        max-height: 314px !important;
        overflow: hidden;
    }

    ul.dropdown-menu.inner {
        max-height: 260px !important;
        overflow-y: auto;
    }
</style>