﻿@model LOS.DAL.DTOs.LoanBriefInitDetail
@{
    Layout = null;
    ViewData["Title"] = "Tool tính Lãi & Phí";
}
@using LOS.Common.Extensions
<style>
    #formInterest .m-select2 {
        opacity: inherit !important;
        font-family: Arial !important;
        font-weight: 400;
        font-style: normal;
        /*color: rgb(108, 114, 147);*/
        font-size: 11pt;
    }

    #formInterest .form-left {
        float: left;
    }

    #formInterest .form-right {
        float: right;
    }

    #formInterest .m-input, .m-select2 {
        border: none;
        border-bottom: solid 1px #6b6d77;
        border-radius: 0px;
        padding-left: 0;
    }

    #dtInterest th, td {
        font-size: 13px !important;
        padding-left: 10px;
    }

    #divResult {
        max-width: 40%;
    }

    .moneyColor span {
        color: #FA5858 !important;
        text-align: right;
    }

    .dtform span {
        font-family: Poppins, sans-serif;
        font-weight: 400;
        font-style: normal;
        color: rgb(108, 114, 147);
        font-size: 13px;
        letter-spacing: normal;
    }

    #formInterest table th {
        background-color: #A9BCF5;
        background-color: #A9BCF5 !important;
    }

    /*#formInterest table td, th {
        font-size: 14px !important;
        border: solid 1px #D8D8D8 !important;
    }*/
</style>
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="color:#6C7293;">
            Thêm SDT vào Cisco
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
                ×
            </span>
        </button>
    </div>
    <div class="modal-body">
        <form action="/LoanBriefV3/PushToCiscoPost" id="formPushToCisco">
            <div class="col-12">
                <div class="form-group m-form__group row col-12 form-left">
                    <label for="example-text-input" class="col-3 col-form-label">
                        Tên khách hàng:
                    </label>
                    <div class="col-9">
                        <input class="form-control m-input" type="text" name="FullName">
                    </div>
                </div>

                 <div class="form-group m-form__group row col-12 form-left">
                    <label for="example-text-input" class="col-3 col-form-label">
                        SĐT:
                    </label>
                    <div class="col-9">
                        <input class="form-control m-input" type="text" name="Phone">
                    </div>
                </div>


                <div class="form-group m-form__group row col-12 form-right">
                    <button type="button" id="btnSubmit" onclick="PushToCiscoModule.PushToCiscoPost(event)" class="btn btn-primary" style="background: rgba(108, 114, 147, 1);border-color: rgba(108, 114, 147, 1);width: 110px;height: 45px;margin-top: -6px;margin-left: 81%;">
                        Thêm
                    </button>
                </div>
            </div>
        </form>

    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {        
        App.ValidCustom();      
    });
</script>