<template>
    <div id="app" class="container-fluid">      
        <router-view></router-view>   
    </div>
</template>

<script>
    
</script>

<style>
    @import "../assets/vendors/base/vendors.bundle.css";
    @import "../assets/demo/default/base/style.bundle.css";
</style>
