﻿@using LOS.DAL.DTOs;
@using LOS.WebApp.Models;
@using LOS.Common.Extensions;
@model List<PrematureInterestPaymentSchedules>
@{
    Layout = null;
    var strDate = ViewBag.Date;
    var infomationCustomer = ViewBag.InfomationCustomer as List<LoanBriefPrematureInterest>;
    var prematureInterestMoneyCustomer = ViewBag.PrematureInterestMoneyCustomer as PrematureInterestMoneyCustomer;
    var itemPrematureInterestMoneyCustomer = ViewBag.ItemPrematureInterestMoneyCustomer as List<ItemPrematureInterestMoneyCustomer>;
}

<style>
    .moneyColor span {
        color: #FA5858 !important;
        text-align: right;
    }

    .colorMoney {
        color: red;
    }

    .tb-footer {
        background: #eeeea5;
    }

    .moneyTotal {
        color: #FA5858 !important;
        font-weight: 600;
    }
</style>

@if (infomationCustomer.Count > 0 && prematureInterestMoneyCustomer != null)
{
    <div class="m-section__content table-responsive" style="padding: 15px 0px;">
        <table class="table table-bordered table-hover">
            <thead>
                <tr class="text-center">
                    <th>Tên khách hàng</th>
                    <th>Ngày tất toán</th>
                    <th>Số dư khách hàng</th>
                    <th>Mã HĐ</th>
                    <th>Mã TC</th>
                    <th>Định vị</th>
                    <th>Trạng thái</th>
                </tr>
            </thead>
            <tbody>

                <tr class="text-center">
                    <td rowspan="@infomationCustomer.Count" style="vertical-align: middle !important;">@prematureInterestMoneyCustomer.FullName</td>
                    <td rowspan="@infomationCustomer.Count" style="vertical-align: middle !important;">@prematureInterestMoneyCustomer.DateSettlement</td>
                    <td rowspan="@infomationCustomer.Count" class="moneyTotal" style="vertical-align: middle !important;">@prematureInterestMoneyCustomer.CustomerMoney</td>
                    <td>HĐ-@infomationCustomer[0].LoanBriefId</td>
                    <td>TC-@infomationCustomer[0].CodeId</td>
                    <td>
                        @if (infomationCustomer[0].IsLocate == true)
                        {
                            <span>Có gắn</span>
                        }
                        else
                        {
                            <span>Không gắn</span>
                        }
                    </td>
                    <td>
                        @if (infomationCustomer[0].Status == (int)EnumLoanStatus.DISBURSED)
                        {
                            <span>Đã giải ngân</span>
                        }
                        else if (infomationCustomer[0].Status == (int)EnumLoanStatus.FINISH)
                        {
                            <span>Đã tất toán</span>
                        }
                    </td>
                </tr>
                @for (var i = 1; i < infomationCustomer.Count; i++)
                {
                    <tr class="text-center">
                        <td>HĐ-@infomationCustomer[i].LoanBriefId</td>
                        <td>TC-@infomationCustomer[i].CodeId</td>
                        <td>
                            @if (infomationCustomer[i].IsLocate == true)
                            {
                                <span>Có gắn</span>
                            }
                            else
                            {
                                <span>Không gắn</span>
                            }
                        </td>
                        <td>
                            @if (infomationCustomer[i].Status == (int)EnumLoanStatus.DISBURSED)
                            {
                                <span>Đã giải ngân</span>
                            }
                            else if (infomationCustomer[i].Status == (int)EnumLoanStatus.FINISH)
                            {
                                <span>Đã tất toán</span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@if (itemPrematureInterestMoneyCustomer != null && itemPrematureInterestMoneyCustomer.Count > 0)
{
    <div class="m-section__content table-responsive" style="padding-bottom: 15px;">
        <table class="table table-bordered table-hover">
            <thead>
                <tr class="text-center">
                    <th>Mã TC</th>
                    <th>Tiền gốc còn lại</th>
                    <th>Tiền phạt trả trước(8% gốc)</th>
                    <th>Tiền lãi + phí đến khi tất toán</th>
                    <th>Tiền phạt trả chậm</th>
                    <th>Tiền tất toán</th>
                    <th>Tiền KH phải đóng</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in itemPrematureInterestMoneyCustomer)
                {
                    <tr class="text-center">
                        <td>@item.CodeId</td>
                        <td class="moneyTotal">@item.TotalMoneyCurrent.ToString("###,0")</td>
                        <td class="moneyTotal">@item.MoneyFineOriginal.ToString("###,0")</td>
                        <td class="moneyTotal">@item.MoneyInterest.ToString("###,0")</td>
                        <td class="moneyTotal">@item.OtherMoney.ToString("###,0")</td>
                        <td class="moneyTotal">@item.MoneyCloseLoan.ToString("###,0")</td>
                        <td class="moneyTotal">@(item.TotalPaymentCustomer < 0 ? "0" : item.TotalPaymentCustomer.ToString("###,0"))</td>
                    </tr>
                }
                @if (itemPrematureInterestMoneyCustomer.Count > 1)
                {
                    <tr class="tb-footer text-center">
                        <td><b>Tổng</b></td>
                        <td class="moneyTotal">@itemPrematureInterestMoneyCustomer.Sum(x => x.TotalMoneyCurrent).ToString("###,0")</td>
                        <td class="moneyTotal">@itemPrematureInterestMoneyCustomer.Sum(x => x.MoneyFineOriginal).ToString("###,0")</td>
                        <td class="moneyTotal">@itemPrematureInterestMoneyCustomer.Sum(x => x.MoneyInterest).ToString("###,0")</td>
                        <td class="moneyTotal">@itemPrematureInterestMoneyCustomer.Sum(x => x.OtherMoney).ToString("###,0")</td>
                        <td class="moneyTotal">@itemPrematureInterestMoneyCustomer.Sum(x => x.MoneyCloseLoan).ToString("###,0")</td>
                        <td class="moneyTotal">
                            <span>@((itemPrematureInterestMoneyCustomer.Sum(x => x.MoneyCloseLoan) - (Convert.ToInt64(prematureInterestMoneyCustomer.CustomerMoney.Replace(",", "")))).ToString("###,0"))</span>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
}

@if (Model != null && Model.Count > 0)
{
    foreach (var item in Model)
    {
        <div class="col-md-12 text-center m--padding-bottom-10" style="font-weight: 700;font-size: 18px;">@item.CodeId</div>

        <div class="m-section__content table-responsive">
            <table class="table table-bordered m-table m-table--border-brand m-table--head-bg-brand">
                <thead>
                    <tr style="left: 0px;">
                        <th>Ngày bắt đầu</th>
                        <th>Ngày kết thúc</th>
                        <th>Ngày phải thanh toán</th>
                        <th>Ngày đã thanh toán</th>
                        <th>Số ngày trả lãi thực tế</th>
                        <th class="text-right">Trả kỳ</th>
                        <th class="text-right">Gốc</th>
                        <th class="text-right">Tiền lãi</th>
                        <th class="text-right">Phí tư vấn</th>
                        <th class="text-right">Phí dịch vụ</th>
                        <th class="text-right">Phí phạt</th>
                        <th class="text-center">Trạng thái</th>
                    </tr>
                </thead>
                <tbody>
                    @if (item.LstPaymentSchedules != null && item.LstPaymentSchedules.Count > 0)
                    {
                        @foreach (var paymentSchedules in item.LstPaymentSchedules)
                        {
                            <tr>
                                <td>@paymentSchedules.FromDate.ToString("dd/MM/yyyy")</td>
                                <td>@paymentSchedules.ToDate.ToString("dd/MM/yyyy")</td>
                                <td>@paymentSchedules.DaysPayable.ToString("dd/MM/yyyy")</td>
                                <td>
                                    @if (paymentSchedules.PayDate != DateTime.MinValue)
                                    {
                                        @paymentSchedules.PayDate.ToString("dd/MM/yyyy")
                                    }
                                </td>
                                <td>@(Convert.ToInt32((paymentSchedules.DaysPayable - paymentSchedules.FromDate).TotalDays) + 1)</td>
                                <td class="text-right colorMoney">@paymentSchedules.PayMoney.ToString("###,0")</td>
                                <td class="text-right colorMoney">@paymentSchedules.MoneyOriginal.ToString("###,0")</td>
                                <td class="text-right colorMoney">@paymentSchedules.MoneyInterest.ToString("###,0")</td>
                                <td class="text-right colorMoney">@paymentSchedules.MoneyConsultant.ToString("###,0")</td>
                                <td class="text-right colorMoney">@paymentSchedules.MoneyService.ToString("###,0")</td>
                                <td class="text-right colorMoney">@paymentSchedules.OtherMoney.ToString("###,0")</td>
                                <td class="text-center">


                                    @if (paymentSchedules.Done == true)
                                    {
                                        @if (Convert.ToInt32((paymentSchedules.PayDate - paymentSchedules.DaysPayable).TotalDays) > 0)
                                        {
                                            <span class="m-badge m-badge--warning m-badge--wide">
                                                Thanh toán chậm <strong>(@Convert.ToInt32((paymentSchedules.PayDate - paymentSchedules.DaysPayable).TotalDays) ngày)</strong>
                                            </span>
                                        }
                                        else
                                        {
                                            <span class="m-badge m-badge--success m-badge--wide">
                                                Đã thanh toán
                                            </span>
                                        }

                                    }
                                    else
                                    {
                                        @if (Convert.ToInt32((DateTime.Now - paymentSchedules.DaysPayable).TotalDays) > 0)
                                        {
                                            <span class="m-badge m-badge--danger m-badge--wide">
                                                Quá hạn thanh toán
                                            </span>
                                        }
                                        else
                                        {
                                            <span class="m-badge m-badge--danger m-badge--wide">
                                                Chưa thanh toán
                                            </span>
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td class="text-center" colspan="11" style="font-style: italic; color: red;">Không có dữ liệu</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
}


