﻿@model List<LOS.DAL.DTOs.Loanbrief.LoanBriefCheckCavetDetail>
@{
    Layout = null;
}
@using LOS.Common.Extensions;
<style>
    .center {
        text-align: center !important;
    }
</style>
<table class="table m-table m-table--head-bg-brand">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Hợp đồng
            </th>
            <th class="center">
                Gói vay
            </th>
            <th>
                Ngày giải ngân
            </th>
            <th>
                Tình trạng khoản vay
            </th>
            <th>
                Định vị
            </th>
            <th>
                Tình trạng định vị
            </th>
            <th>
                Tình trạng Cà vẹt
            </th>
            <th>
                Đề xuất mượn Cà vẹt
            </th>
             <th>
                Trạng thái đề xuất
            </th>
            <th>
                Thời gian tạo
            </th>
            <th style="width:200px;">
                Mô tả
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count > 0)
        {
            var stt = 0;
            foreach (var item in Model)
            {
                stt++;
                <tr>
                    <td>
                        @stt
                    </td>
                    <td>
                        @item.FullName <br />
                        HĐ-@item.LoanBriefId <br />
                        TC-@item.CodeId
                    </td>
                    <td class="center">
                        @item.ProductName<br />
                        @item.LoanAmount.Value.ToString("n0")
                    </td>
                    <td>
                        @item.DisbursementAt.Value.ToString("dd/MM/yyyy")<br />
                        @item.LoanTime tháng
                    </td>
                    <td>
                        @Description.GetDescription((EnumLoanStatus)item.Status.Value)
                    </td>
                    <td>
                        @(item.IsLocate.GetValueOrDefault(false) == true ? "Có gắn" : "Không gắn")
                    </td>  
                    <td>
                        @item.StatusDevices
                    </td>
                    <td>
                        @item.StatusVehicleRegistration
                    </td>
                    <td>
                        @item.ProposeBorrow
                    </td>
                    <td>
                        @item.StatusPropose
                    </td>
                    <td>
                        @(item.CreatedAt.HasValue ? item.CreatedAt.Value.ToString("dd/MM/yyyy") : "")
                    </td>
                    <td>
                        @item.Description
                    </td>
                </tr>
            }
        }
    </tbody>
</table>