﻿@model List<LOS.DAL.Models.LoanAndRelationNotCancelView>
<table class="table m-table m-table--head-bg-brand">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                HỌ TÊN
            </th>
            <th>
                MỐI QUAN HỆ
            </th>
            <th>
                MÃ ĐƠN VAY
            </th>
            <th>
                TRẠNG THÁI ĐƠN
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count > 0)
        {
            var stt = 0;
            foreach (var item in Model)
            {
                stt++;
                <tr>
                    <td>
                        @stt
                    </td>
                    <td>
                        @item.FullName                       
                    </td>
                    <td>
                        @item.RelationshipName
                    </td>
                    <td>
                        HĐ-@item.LoanbriefId
                    </td>
                    <td>
                        @item.LoanStatus
                    </td>                   
                </tr>
            }
        }
    </tbody>
</table>