﻿@model List<LOS.WebApp.Models.Cisco.Cisco.ListExport>
<table class="table m-table m-table--head-bg-brand">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Đầu số
            </th>
            <th>
                SĐT
            </th>

            <th>
                Phòng ban
            </th>

            <th>
                Tổng thời gian call
            </th>

        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count > 0)
        {
            var stt = 0;
            foreach (var item in Model)
            {
                stt++;
                <tr>
                    <th>
                        @stt
                    </th>
                    <th>
                        @item.Prefix
                    </th>
                    <th>
                        @item.Phone
                    </th>
                    <th>
                        @item.DepartmentName
                    </th>

                    <th>
                        @*@item.CallDuration*@
                        @String.Format("{0:D2}:{1:D2}:{2:D2}", item.Time.Hours, item.Time.Minutes, item.Time.Seconds)
                    </th>
                </tr>
            }
            <tr>
                @{
                    var TotalTime = TimeSpan.FromMilliseconds(ViewBag.CallDuration);
                    var timeStr = String.Format("{0:D2}:{1:D2}:{2:D2}", TotalTime.Hours, TotalTime.Minutes, TotalTime.Seconds);
                }
                <td style="text-align:right;font-size: 20px;" colspan="5">Tổng thời gian: @timeStr</td>
            </tr>
        }
    </tbody>
</table>