﻿@model List<LOS.WebApp.Models.Cisco.Cisco.lstCisco>
<table class="table m-table m-table--head-bg-brand">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                SĐT
            </th>

            <th>
                Bắt đầu
            </th>
            <th>
                Talk time(ms)
            </th>
            <th>
                Người thực hiện
            </th>
            <th>                
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count > 0)
        {
            var stt = 0;
            foreach (var item in Model)
            {
                stt++;
                <tr>
                    <th>
                        @stt
                    </th>
                    <th>
                        @item.PhoneNumber
                    </th>
                    <th>
                        <span>@Convert.ToDateTime(item.StartTime).ToString("dd/MM/yyyy HH:mm:ss")</span>
                    </th>
                    <th>
                        @item.CallDuration
                    </th>
                    <th>
                        @item.AgentUserName
                    </th>
                    <th>
                        <a href="@item.PlayUrl" target="_blank">Mở file</a>
                    </th>
                </tr>
            }
        }
    </tbody>
</table>