﻿@model List<LOS.WebApp.Models.Cisco.Cisco.GetList>
<table class="table m-table m-table--head-bg-brand">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                SĐT
            </th>

            <th>
                Bắt đầu
            </th>
            <th>
                Kết thúc
            </th>
            <th>
                Thời gian gọi
            </th>
            <th>
                Người thực hiện
            </th>
            <th>
                Nhóm
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count > 0)
        {
            var stt = 0;
            foreach (var item in Model)
            {
                stt++;
                <tr>
                    <th>
                        @stt
                    </th>
                    <th>
                        @item.Dnis
                    </th>
                    <th>
                        <span>@LOS.Common.Extensions.ConvertExtensions.UnixTimeStampToDateTime(item.StartTime).ToString("dd/MM/yyyy HH:mm:ss")</span>
                    </th>
                    <th>
                        
                    </th>
                    <th>
                        
                    </th>
                    <th>
                        @item.Agent.DisplayId
                    </th>
                    <th>
                        @item.Group.Name
                    </th>
                    <th>
                        <a asp-controller="LoanBrief" asp-action="CiscoDownload" asp-route-id="@item.Id"><i class="fa fa-download"></i></a>
                    </th>
                </tr>
            }
        }
    </tbody>
</table>