﻿

@model List<RecordItem>
<table class="table m-table m-table--head-bg-brand">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                SĐT
            </th>
            <th>
                IPPhone
            </th>
            <th>
                Trạng thái
            </th>
            <th>
                Bắt đầu
            </th>
            <th>
                Kết thúc
            </th>
            <th>
                Thời gian chờ
            </th>
            <th>
                Thời gian talk
            </th>
            <th>
                Ghi âm
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count > 0)
        {
            var stt = 0;
            foreach (var item in Model)
            {
                stt++;
                <tr>
                    <th>
                        @stt
                    </th>
                    <th>
                        @item.caller
                    </th>
                    <th>
                        @item.agent_id
                    </th>
                    <th>
                        @item.call_status
                    </th>
                    <th>
                        @if (item.start_time.HasValue)
                        {
                            <span>@item.start_time.Value.ToString("dd/MM/yyyy HH:mm:ss")</span>
                        }
                    </th>
                    <th>
                        @if (item.end_time.HasValue)
                        {
                            <span>@item.end_time.Value.ToString("dd/MM/yyyy HH:mm:ss")</span>
                        }
                    </th>
                    <th>
                        @item.wait_time
                    </th>
                    <th>
                        @item.talk_time
                    </th>
                    <th>
                        @if (!string.IsNullOrEmpty(item.path))
                        {
                            <audio controls style="height: 40px;">
                                <source src="@item.path" type="audio/ogg">
                                <source src="@item.path" type="audio/mpeg">
                            </audio>
                        }
                    </th>
                </tr>
            }
        }
    </tbody>
</table>