﻿@model List<LOS.DAL.EntityFramework.LogLoanInfoAi>
@using LOS.Common.Extensions
@using LOS.WebApp.Helpers
<table class="table m-table m-table--head-bg-brand">
    <thead>
        <tr>
            <th>#</th>
            <th>Mã đơn</th>
            <th>Dịch vụ </th>
            <th>RefCode </th>
            <th>FinalResult</th>
            <th>CreatedAt</th>
            <th>UpdatedAt</th>
            <th>Trạng thái </th>
            <th>Retry</th>
            <th>Hủy yêu cầu</th>
            <th>Chức năng</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count > 0)
        {
            var stt = 0;
            foreach (var item in Model)
            {
                stt++;
                <tr>
                    <th>
                        @stt
                    </th>
                    <th>
                        HĐ-@item.LoanbriefId
                    </th>
                    <th>
                        @if (Enum.IsDefined(typeof(ServiceTypeAI), item.ServiceType))
                        {
                            <span>@ExtensionHelper.GetDescription((ServiceTypeAI)item.ServiceType.Value)</span>
                        }
                    </th>
                    <th>
                        @item.RefCode
                    </th>
                    <th>
                        @item.ResultFinal

                    </th>
                    <th>
                        @if (item.CreatedAt.HasValue)
                        {
                            <span>@item.CreatedAt.Value.ToString("dd/MM/yyyy HH:mm:ss")</span>
                        }
                    </th>
                    <th>
                        @if (item.UpdatedAt.HasValue)
                        {
                            <span>@item.UpdatedAt.Value.ToString("dd/MM/yyyy HH:mm:ss")</span>
                        }
                    </th>
                    <th>
                        @if (Enum.IsDefined(typeof(EnumLogLoanInfoAiExcuted), item.IsExcuted))
                        {
                            <span>@ExtensionHelper.GetDescription((EnumLogLoanInfoAiExcuted)item.IsExcuted.Value)</span>
                        }
                    </th>
                    <th>
                        @item.Retry
                    </th>
                    <th>
                        @if (item.IsCancel == 1)
                        {
                            <span>Đã hủy</span>
                        }
                    </th>
                    <th class="text-center">
                        <a href="#" class="btn btn-info m-btn m-btn--icon btn-sm m-btn--icon-only" onclick="ToolModuleJS.DetailLogRequestAI(@item.Id)" title="Chi tiết"><i class="la la-ellipsis-h"></i></a>
                    </th>
                </tr>
            }
        }
    </tbody>
</table>