﻿@using LOS.DAL.DTOs;
@{
    ViewData["Title"] = "Thêm Quận/Huyện và Phường/Xã";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var lstProvince = ViewBag.ListProvince as List<ProvinceDetail>;
    var lstTypeDistrict = Enum.GetValues(typeof(LOS.Common.Extensions.TypeDistrict)).Cast<LOS.Common.Extensions.TypeDistrict>();
    var lstTypeWard = Enum.GetValues(typeof(LOS.Common.Extensions.TypeWard)).Cast<LOS.Common.Extensions.TypeWard>();
}
<link href="~/css/form.css?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS" rel="stylesheet" />
<div class="row">
    <div class="col-md-6">
        <div class="m-content">
            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__body">
                    <div class="form-group m-form__group">
                        <h5 class="modal-title" id="exampleModalLabel" style="color: #6C7293;">
                            Thêm mới Quận/Huyện
                        </h5>
                    </div>
                    <div class="form-group">
                        <form id="formAddDistrict">
                            <div class="form-group m-form__group row col-md-12 form-right">
                                <label for="example-text-input" class="col-md-3 col-sm-12  col-form-label m--margin-top-5">
                                    Thành phố
                                </label>
                                <div class="col-md-6 col-sm-12">
                                    <select class="form-control cus-form-control  m-select2" id="create_province_id" name="ProvinceId">
                                        @if (lstProvince != null && lstProvince.Count > 0)
                                        {
                                            <option></option>
                                            foreach (var item in lstProvince)
                                            {
                                                <option value="@item.ProvinceId">@item.Name</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group m-form__group row col-md-12 form-right">
                                <label for="example-text-input" class="col-md-3 col-sm-12 col-form-label m--margin-top-5">
                                    Chọn Type
                                </label>
                                <div class="col-md-6 col-sm-12">
                                    <select class="form-control cus-form-control  m-select2" id="create_type_district" name="TypeDistrict">
                                        @if (lstTypeDistrict != null)
                                        {
                                            <option></option>
                                            @foreach (var item in lstTypeDistrict)
                                            {
                                                <option value="@(Convert.ToInt32(item))">@LOS.Common.Helpers.ExtentionHelper.GetDescription((LOS.Common.Extensions.TypeDistrict)item)</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group m-form__group row col-md-12 form-right">
                                <label for="example-text-input" class="col-md-3 col-sm-12 col-form-label m--margin-top-5">
                                    Nhập Quận/Huyện
                                </label>
                                <div class="col-md-6 col-sm-12">
                                    <input type="text" class="inputCreate form-control cus-form-control m-input cus-input-script" name="DistrictName" placeholder="Nhập tên Quận/Huyện">
                                </div>
                            </div>
                            <div class="form-group m-form__group row col-md-12 form-right">
                                <label for="example-text-input" class="col-md-3 col-sm-12 col-form-label m--margin-top-5">
                                    Nhập LatLong
                                </label>
                                <div class="col-md-6 col-sm-12">
                                    <input type="text" class="inputCreate form-control cus-form-control m-input cus-input-script" name="LatLong" placeholder="lat, long">
                                </div>
                            </div>
                        </form>
                        <div class="form-group m-form__group row col-md-12 form-right" style="padding-top: 25px;">
                            <button type="button" id="btnSubmit" onclick="AddDistrictAndWardModel.SaveDistrict(this, event)" class="btn btn-primary" style="background: rgba(108, 114, 147, 1);border-color: rgba(108, 114, 147, 1);width: 110px;height: 40px;margin-top: -6px;margin-left: 15px;">
                                Lưu lại
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="m-content">
            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__body">
                    <div class="form-group m-form__group">
                        <h5 class="modal-title" id="exampleModalLabel" style="color: #6C7293;">
                            Thêm mới Phường Xã
                        </h5>
                    </div>
                    <div class="form-group">
                        <form id="formAddWard">
                            <div class="form-group m-form__group row col-md-12 form-right">
                                <label for="example-text-input" class="col-md-3 col-sm-12 col-form-label m--margin-top-5">
                                    Thành phố
                                </label>
                                <div class="col-md-6 col-sm-12">
                                    <select class="form-control cus-form-control m-select2" id="create_province_id_v2" onchange="AddDistrictAndWardModel.GetDistrict(this.value)">
                                        @if (lstProvince != null && lstProvince.Count > 0)
                                        {
                                            <option></option>
                                            foreach (var item in lstProvince)
                                            {
                                                <option value="@item.ProvinceId">@item.Name</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group m-form__group row col-md-12 form-right">
                                <label for="example-text-input" class="col-md-3 col-sm-12 col-form-label m--margin-top-5">
                                    Quận/Huyện
                                </label>
                                <div class="col-md-6 col-sm-12">
                                    <select class="form-control cus-form-control m-select2" id="create_district_id" name="DistrictId">
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group m-form__group row col-md-12 form-right">
                                <label for="example-text-input" class="col-md-3 col-sm-12 col-form-label m--margin-top-5">
                                    Chọn Type
                                </label>
                                <div class="col-md-6 col-sm-12">
                                    <select class="form-control cus-form-control  m-select2" id="create_type_ward" name="TypeWard">
                                        @if (lstTypeWard != null)
                                        {
                                            <option></option>
                                            @foreach (var item in lstTypeWard)
                                            {
                                                <option value="@(Convert.ToInt32(item))">@LOS.Common.Helpers.ExtentionHelper.GetDescription((LOS.Common.Extensions.TypeWard)item)</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group m-form__group row col-md-12 form-right">
                                <label for="example-text-input" class="col-md-3 col-sm-12 col-form-label m--margin-top-5">
                                    Nhập Phường/Xã
                                </label>
                                <div class="col-md-6 col-sm-12">
                                    <input type="text" class="inputCreate form-control cus-form-control m-input cus-input-script" name="WardName" placeholder="Nhập tên Phường/Xã">
                                </div>
                            </div>
                        </form>
                        <div class="form-group m-form__group row col-md-12 form-right" style="padding-top: 25px;">
                            <button type="button" id="btnSubmit" onclick="AddDistrictAndWardModel.SaveWard(this, event)" class="btn btn-primary" style="background: rgba(108, 114, 147, 1);border-color: rgba(108, 114, 147, 1);width: 110px;height: 40px;margin-top: -6px;margin-left: 15px;">
                                Lưu lại
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/Tool/AddDistrictAndWardModuleJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            AddDistrictAndWardModel.Init();
        });
    </script>
}