﻿@{
    ViewData["Title"] = "Tính khoảng cách 2 tọa độ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/form.css?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS" rel="stylesheet" />
<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="col-12">
            <div class="form-group m-form__group">
                <div class="m-input-icon m-input-icon--left" style="padding-top:10px;">
                    <h5 style="color:#6C7293;">
                        Tool tính khoảng cách 2 tọa độ
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-12" style="padding-bottom: 10px;">
            <div class="form-group" style="padding-left: 15px;">
                <form id="formCalculatrRangeLatLng">
                    <div class="form-group m-form__group row col-md-12 form-right">
                        <label for="example-text-input" class="col-md-1 col-sm-12 col-form-label">
                            Từ tọa độ:
                        </label>
                        <div class="col-md-3 col-sm-12">
                            <input class="form-control m-input inputCreate" type="text" name="FromLatLng" id="txt_fromLatLng" placeholder="Nhập tọa độ...">
                        </div>
                    </div>
                    <div class="form-group m-form__group row col-md-12 form-right">
                        <label for="example-text-input" class="col-md-1 col-sm-12 col-form-label">
                            Đến tọa độ:
                        </label>
                        <div class="col-md-3 col-sm-12">
                            <input class="form-control m-input inputCreate" type="text" name="ToLatLng" id="txt_toLatLng" placeholder="Nhập tọa độ...">
                        </div>
                    </div>

                    <div class="form-group m-form__group row col-md-12 form-right">
                        <button type="button" id="btnSubmit" onclick="CalculateRangeLatLng()" class="btn btn-primary" style="background: rgba(108, 114, 147, 1); border-color: rgba(108, 114, 147, 1); margin-top: 5px; margin-left: 15px;">
                            Xem khoảng cách
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="alert alert-brand m-alert m-alert--icon m-alert--air m-alert--square m--margin-bottom-30" role="alert" id="div-result" style="display: none;">
            <div class="m-alert__icon">
                <i class="flaticon-placeholder" id="_icon_result"></i>
            </div>
            <div class="m-alert__text">
                <label id="lbl_result" style="font-size: 18px;"></label>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        function CalculateRangeLatLng() {
            var form = $('#formCalculatrRangeLatLng');
            $('#btnSubmit').attr('disabled', true);
            form.validate({
                ignore: [],
                rules: {
                    FromLatLng: {
                        required: true,
                    },
                    ToLatLng: {
                        required: true,
                    },
                },
                messages: {
                    FromLatLng: {
                        required: "Vui lòng nhập tọa độ",
                    },
                    ToLatLng: {
                        required: "Vui lòng nhập tọa độ",
                    },

                },
                invalidHandler: function (e, validation) {
                    if (validation.errorList != null && validation.errorList.length > 0) {
                        App.ShowErrorNotLoad(validation.errorList[0].message)
                    }
                }
            });

            if (!form.valid()) {
                $('#btnSubmit').attr('disabled', false);
                return;
            }

            form.ajaxSubmit({
                url: '/Tool/CalculatrRangeLatLng',
                method: 'POST',
                success: function (data, status, xhr, $form) {
                    $('#btnSubmit').attr('disabled', false);
                    if (data.data >= 0) {
                        var range = data.data;
                        if (range >= 1000) {
                            range = range / 1000;
                            $('#lbl_result').html('Khoảng cách từ tọa độ : <b>' + $('#txt_fromLatLng').val() + '</b> đến tọa độ <b >' + $('#txt_toLatLng').val() + '</b> là : <b id="_resultRangeLatlng">' + range + ' km</b>');
                        }
                        else {
                            $('#lbl_result').html('Khoảng cách từ tọa độ : <b>' + $('#txt_fromLatLng').val() + '</b> đến tọa độ <b >' + $('#txt_toLatLng').val() + '</b> là : <b id="_resultRangeLatlng">' + range + ' m</b>');
                        }

                        $('#div-result').removeAttr('style', 'display: none;');
                        $('#div-result').addClass('alert-brand');
                        $('#div-result').removeClass('alert-danger');
                        $('#_icon_result').addClass('flaticon-placeholder');
                        $('#_icon_result').removeClass('flaticon-cancel');
                    }
                    else {
                        $('#div-result').removeAttr('style', 'display: none;');
                        $('#_icon_result').removeClass('flaticon-placeholder');
                        $('#div-result').removeClass('alert-brand');
                        $('#div-result').addClass('alert-danger');
                        $('#_icon_result').addClass('flaticon-cancel');
                        $('#lbl_result').html('Tọa độ không chính xác. Vui lòng kiểm tra lại');
                    }
                }
            });
        }

    </script>
}
