﻿
@{
    ViewData["Title"] = "Tool Thay đổi SĐT khách hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/form.css?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS" rel="stylesheet" />
<style>
    .m-portlet .m-portlet__body {
        padding: 0rem 2.2rem;
    }

    .form-group {
        margin-bottom: 0px;
    }

    .m-portlet .m-portlet__body {
        padding-bottom: 20px;
    }

    .nav.nav-pills .nav-link.active {
        background: #f7f7fa;
        color: black;
        font-weight: bold;
        border-bottom: 2px solid #ed522e;
        border-radius: 0;
        border-top: 0px;
    }

    .nav.nav-pills, .nav.nav-tabs {
        background: none;
        text-transform: uppercase;
        border-bottom: 1px solid #ccc;
    }

    .nav-link {
        padding: 10px 20px;
    }

    .nav.nav-pills .nav-item, .nav.nav-tabs .nav-item {
        margin-left: 0px;
    }

    .nav.nav-pills .nav-link.active i {
        color: black;
    }
</style>

<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Tool hỗ trợ cho HĐ
                    </h3>
                </div>
            </div>
        </div>
        <!--begin: Search Form -->
        <ul class="nav nav-tabs nav-pills" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#m_tabs_doi_sdt">
                    <i class="fa fa-desktop"></i>
                    Đổi số điện thoại
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#m_tabs_ky_lai_hd_dien_tu">
                    <i class="fa fa-desktop"></i>
                    Ký lại HĐ điện tử
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#m_tabs_bo_kiem_tra_momo">
                    <i class="fa fa-desktop"></i>
                    Bỏ kiểm tra Momo
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#m_tabs_huy_ky_hd_dien_tu">
                    <i class="fa fa-desktop"></i>
                    Hủy ký HĐ điện tử
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#m_tabs_bo_kiem_tra_ky_thanh_toan">
                    <i class="fa fa-desktop"></i>
                    Bỏ kiểm tra Kỳ thanh toán
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#m_tabs_dong_hop_dong">
                    <i class="fa fa-desktop"></i>
                    Đóng hợp đồng
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#m_tabs_topup">
                    <i class="fa fa-desktop"></i>
                    Kiểm tra và cập nhập có thể Topup
                </a>
            </li>
        </ul>

        <div class="m-portlet__body" style="padding: 0rem 1.2rem; position: relative;">
            <div id="backdrop"></div>
            <div class="tab-content custom-over">

                <div class="tab-pane active" id="m_tabs_doi_sdt" role="tabpanel">
                    <div class="form-group m--padding-bottom-20">
                        <form id="formChangePhone">
                            <div class="form-group m-form__group row col-md-12 form-right">
                                <label for="example-text-input" class="col-md-1 col-sm-12 col-form-label m--margin-top-5">
                                    Mã HĐ
                                </label>
                                <div class="col-md-4 col-sm-12">
                                    <input class="inputCreate form-control cus-form-control m-input cus-input-script" type="text" id="txt_LoanBriefId" name="LoanBriefId" placeholder="Mã HĐ">
                                </div>
                            </div>
                            <div class="form-group m-form__group row col-md-12 form-right">
                                <label for="example-text-input" class="col-md-1 col-sm-12  col-form-label m--margin-top-5">
                                    SĐT mới
                                </label>
                                <div class="col-md-4 col-sm-12">
                                    <input class="inputCreate form-control cus-form-control m-input cus-input-script" type="text" name="Phone" placeholder="SĐT mới">
                                </div>
                            </div>
                            <div class="form-group m-form__group row col-md-12 form-right" style="padding-top: 25px;">
                                <div class="col-md-9">
                                    <button type="button" onclick="ChangePhoneModule.ChangePhone(this, event)" class="btn btn-tima">
                                        Thay đổi
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="tab-pane" id="m_tabs_ky_lai_hd_dien_tu" role="tabpanel">
                    <div class="form-group m--padding-bottom-20">
                        <form id="formReEsign">
                            <div class="form-group m-form__group row col-md-12 form-right">
                                <label for="example-text-input" class="col-md-1 col-sm-12  col-form-label m--margin-top-5">
                                    Mã HĐ
                                </label>
                                <div class="col-md-4 col-sm-12">
                                    <input class="inputCreate form-control cus-form-control m-input cus-input-script" type="text" id="txt_LoanBriefIdEsign" name="LoanBriefId" placeholder="Mã HĐ">
                                </div>
                            </div>
                            <div class="form-group m-form__group row col-md-12 form-right">
                                <label for="example-text-input" class="col-md-1 col-sm-12  col-form-label m--margin-top-5">
                                    Số lần ký tối đa
                                </label>
                                <div class="col-md-4 col-sm-12">
                                    <input class="inputCreate form-control cus-form-control m-input cus-input-script" type="text" id="txtEsignNumber" name="EsignNumber" value="2" placeholder="Số lần ký tối đa">
                                </div>
                            </div>
                            <div class="form-group m-form__group row col-md-12 form-right" style="padding-top: 25px;">
                                <div class="col-md-9">
                                    <button type="button" onclick="ChangePhoneModule.ReEsignCustomer(this, event)" class="btn btn-tima">
                                        Thay đổi
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="tab-pane" id="m_tabs_bo_kiem_tra_momo" role="tabpanel">
                    <div class="form-group m--padding-bottom-20">
                        <form id="formCancelCheckMomo">
                            <div class="form-group m-form__group row col-md-12 form-right">
                                <label for="example-text-input" class="col-md-1 col-sm-12  col-form-label m--margin-top-5">
                                    Mã HĐ
                                </label>
                                <div class="col-md-4 col-sm-12">
                                    <input class="inputCreate form-control cus-form-control m-input cus-input-script" type="text" id="txt_LoanBriefIdCancelCheckMomo" name="LoanBriefId" placeholder="Mã HĐ">
                                </div>
                            </div>
                            <div class="form-group m-form__group row col-md-12 form-right" style="padding-top: 25px;">
                                <div class="col-md-9">
                                    <button type="button" onclick="ChangePhoneModule.CancelCheckMomo(this, event)" class="btn btn-tima">
                                        Thay đổi
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="tab-pane" id="m_tabs_huy_ky_hd_dien_tu" role="tabpanel">
                    <div class="form-group m--padding-bottom-20">
                        <form id="formCancelEsign">
                            <div class="form-group m-form__group row col-md-12 form-right">
                                <label for="example-text-input" class="col-md-1 col-sm-12  col-form-label m--margin-top-5">
                                    Mã HĐ
                                </label>
                                <div class="col-md-4 col-sm-12">
                                    <input class="inputCreate form-control cus-form-control m-input cus-input-script" type="text" id="txt_LoanBriefIdCancelEsign" name="LoanBriefId" placeholder="Mã HĐ">
                                </div>
                                <div class="form-group m-form__group row col-md-12 form-right" style="padding-top: 25px;">
                                    <div class="col-md-9">
                                        <button type="button" onclick="ChangePhoneModule.CancelEsign(this, event)" class="btn btn-tima">
                                            Thay đổi
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="tab-pane" id="m_tabs_bo_kiem_tra_ky_thanh_toan" role="tabpanel">
                    <div class="form-group m--padding-bottom-20">
                        <form id="formCancelCheckPayment">
                            <div class="form-group m-form__group row col-md-12 form-right">
                                <label for="example-text-input" class="col-md-1 col-sm-12  col-form-label m--margin-top-5">
                                    Mã HĐ
                                </label>
                                <div class="col-md-4 col-sm-12">
                                    <input class="inputCreate form-control cus-form-control m-input cus-input-script" type="text" id="txt_LoanBriefIdCancelCheckPayment" name="LoanBriefId" placeholder="Mã HĐ">
                                </div>
                                <div class="form-group m-form__group row col-md-12 form-right" style="padding-top: 25px;">
                                    <div class="col-md-9">
                                        <button type="button" onclick="ChangePhoneModule.CancelCheckPayment(this, event)" class="btn btn-tima">
                                            Thay đổi
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="tab-pane" id="m_tabs_dong_hop_dong" role="tabpanel">
                    <div class="form-group m--padding-bottom-20">
                        <form id="formCloseLoan">
                            <div class="form-group m-form__group row col-md-12 form-right">
                                <label for="example-text-input" class="col-md-1 col-sm-12  col-form-label m--margin-top-5">
                                    Mã HĐ
                                </label>
                                <div class="col-md-4 col-sm-12">
                                    <input class="inputCreate form-control cus-form-control m-input cus-input-script" type="text" id="txt_LoanBriefIdCloseLoan" name="LoanBriefId" placeholder="Mã HĐ">
                                </div>
                                <div class="form-group m-form__group row col-md-12 form-right" style="padding-top: 25px;">
                                    <div class="col-md-9">
                                        <button type="button" onclick="ChangePhoneModule.CloseLoan(this, event)" class="btn btn-tima">
                                            Thay đổi
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="tab-pane" id="m_tabs_topup" role="tabpanel">
                    <div class="form-group m--padding-bottom-20">
                        <form id="formTopup">
                            <div class="form-group m-form__group row col-md-12 form-right">
                                <label for="example-text-input" class="col-md-1 col-sm-12  col-form-label m--margin-top-5">
                                    Mã HĐ
                                </label>
                                <div class="col-md-4 col-sm-12">
                                    <input class="inputCreate form-control cus-form-control m-input cus-input-script" type="text" id="txt_LoanBriefIdTopup" name="LoanBriefId" placeholder="Mã HĐ">
                                </div>
                                <div class="form-group m-form__group row col-md-12 form-right" style="padding-top: 25px;">
                                    <div class="col-md-9">
                                        <button type="button" onclick="ChangePhoneModule.CheckAndUpdateLoanTopup(this, event)" class="btn btn-tima">
                                            Thay đổi
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/Tool/ChangePhoneModuleJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            App.ValidCustom();
        });

    </script>
}