﻿@{
    ViewData["Title"] = "Tool kiểm tra thông tin cavet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/form.css?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS" rel="stylesheet" />
<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        TOOL KIỂM TRA THÔNG TIN CAVET
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <!--begin: Search Form -->
            <div class="m-form m-form--label-align-right m--margin-bottom-30">
                <div class="row align-items-center">
                    <form id="formCheckPhone" style="width: 100%">
                        <div class="col-xl-12 order-2 order-xl-1">
                            <div class="form-group m-form__group row align-items-center">

                                <div class="col-md-2">
                                    <div class="form-group m-form__group">
                                        <div class="m-input-icon m-input-icon--left">
                                            <input type="text" class="form-control m-input inputsearch" placeholder="CMND,SĐT" id="txtCavetSearch">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="form-group m-form__group">
                                        <div class="m-form__control">
                                            <a href="javascript:;" class="btn btn-tima" style="cursor:pointer;" id="btnSearch" onclick="ToolModuleJS.CheckCavet()">
                                                Tìm kiếm
                                            </a>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <hr style="color: #333333;" />
            <!--begin: Datatable -->
            <div id="dtCheckCavet">

            </div>

        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/Tool/ToolModuleJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
}