﻿@{
    ViewData["Title"] = "Nghe lại file ghi âm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/form.css?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS" rel="stylesheet" />
<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__body">
            <!--begin: Search Form -->
            <div class="m-form m-form--label-align-right m--margin-bottom-30">
                <div class="row align-items-center">
                    <form id="formRecordCisco" style="width: 100%">
                        <div class="col-xl-12 order-2 order-xl-1">
                            <div class="form-group m-form__group row align-items-center">
                                @*<div class="col-md-4">
                                        <div class="m-form__group m-form__group--inline">
                                            <div class="m-form__label">
                                                <label>
                                                    Status:
                                                </label>
                                            </div>
                                            <div class="m-form__control">

                                            </div>
                                        </div>
                                        <div class="d-md-none m--margin-bottom-10"></div>
                                    </div>*@

                                <div class="col-md-2">
                                    <div class="input-group date">
                                        <input style="margin-right: -15%;cursor:pointer;color:#9CA0B6;" type="text" name="timerange" class="form-control inputsearch" readonly="" id="filtercreateTimeCisco" placeholder="Thời gian tạo">
                                        <i class="fa fa-calendar" style="padding-top: 3%;font-size: 15pt;"></i>
                                    </div>
                                </div>
                                @*<div class="selectbox">
                                    <div class="form-group m-form__group">
                                        <div class="m-form__control">
                                            <select class="form-control m-select2" name="type" id="filterType">
                                                <option selected="selected" value="1">Caresoft</option>
                                                <option value="2">Cisco</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>*@
                                <div class="col-md-2">
                                    <div class="form-group m-form__group">
                                        <div class="m-form__control">
                                            <a href="javascript:;" class="btn btn-tima" style="cursor:pointer;" id="btnSearch" onclick="ToolModuleJS.SearchRecordCisco()">
                                                Tìm kiếm
                                            </a>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <hr style="color: #333333;" />
            <!--begin: Datatable -->
            <div id="dtRecordCisco">

            </div>

        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/Tool/ToolModuleJS.js?v=1"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            App.LibraryMoney();
            //ToolModuleJS.SearchRecordCisco();
        });
    </script>
}