﻿@{
    ViewData["Title"] = "Gen New Otp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/form.css?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS" rel="stylesheet" />
<style>

    .m-portlet .m-portlet__body {
        padding: 0rem 2.2rem;
    }

    .form-group {
        margin-bottom: 0px;
    }

    .m-portlet .m-portlet__body {
        padding-bottom: 20px;
    }
</style>
<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Gen new otp
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <!--begin: Search Form -->
            <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                <div class="row align-items-center">
                    <div class="col-xl-12 order-2 order-xl-1">
                        <form id="formGenNewOtp">
                            <div class="form-group row col-md-12">
                                <label for="example-text-input" style="text-align: left;" class="col-md-1 col-sm-12 col-form-label m--margin-top-5">
                                    Tài khoản:
                                </label>
                                <div class="col-md-3 col-sm-12">
                                    <input class="form-control m-input inputCreate" type="text" id="txt_TextSearch" name="TextSearch" placeholder="Nhập tên tài khoản hoặc email">
                                </div>
                            </div>
                            <div class="form-group m-form__group row col-md-12 form-right" style="padding-top: 25px;">
                                <button type="button" id="btnSubmit" onclick="GenNewOtpModel.GenNewOtp(this)" class="btn btn-primary" style="background: rgba(108, 114, 147, 1);border-color: rgba(108, 114, 147, 1);width: 110px;height: 40px;margin-top: -6px;margin-left: 15px;">
                                    Gen Otp
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="col-xl-12 order-2 order-xl-1 m--padding-top-20">
                        <div class="form-group row col-md-12">
                            <label class="col-md-12" id="_responce"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts
{
    <script src="~/js/Tool/GenNewOtpModuleJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
}
