﻿@model LOS.DAL.EntityFramework.LogLoanInfoAi
@{
    Layout = null;
}
@using LOS.Common.Extensions
@using LOS.WebApp.Helpers
@using Newtonsoft.Json

<div class="col-md-3 form-group m-form__group row">
    <label for="example-text-input" class="col-12 col-form-label"><span class="span-titel-custom">Mã đơn: </span> HĐ-@Model.LoanbriefId</label>
</div>
<div class="col-md-3 form-group m-form__group row">
    <label for="example-text-input" class="col-12 col-form-label">
        <span class="span-titel-custom">Dịch vụ: </span>

        @if (Enum.IsDefined(typeof(ServiceTypeAI), Model.ServiceType))
        {
            <span>@ExtensionHelper.GetDescription((ServiceTypeAI)Model.ServiceType.Value)</span>
        }
    </label>
</div>

<div class="col-md-3 form-group m-form__group row">
    <label for="example-text-input" class="col-12 col-form-label">
        <span class="span-titel-custom">RefCode: </span> @Model.RefCode
    </label>
</div>

<div class="col-md-3 form-group m-form__group row">
    <label for="example-text-input" class="col-12 col-form-label">
        <span class="span-titel-custom">ResultFinal: </span> @Model.ResultFinal
    </label>
</div>

<div class="col-md-3 form-group m-form__group row">
    <label for="example-text-input" class="col-12 col-form-label">
        <span class="span-titel-custom">Ngày tạo: </span> @Model.CreatedAt.Value.ToString("dd/MM/yyyy HH:mm:ss")
    </label>
</div>

<div class="col-md-3 form-group m-form__group row">
    <label for="example-text-input" class="col-12 col-form-label">
        <span class="span-titel-custom">Cập nhật: </span>
        @if (Model.UpdatedAt != null && Model.UpdatedAt != DateTime.MinValue)
        {
            <span>@Model.UpdatedAt.Value.ToString("dd/MM/yyyy HH:mm:ss")</span>
        }
    </label>
</div>

<div class="col-md-3 form-group m-form__group row">
    <label for="example-text-input" class="col-12 col-form-label">
        <span class="span-titel-custom">HomeNetWok: </span> @Model.HomeNetwok
    </label>
</div>

<div class="col-md-3 form-group m-form__group row">
    <label for="example-text-input" class="col-12 col-form-label">
        <span class="span-titel-custom">Trạng thái: </span>
        @if (Enum.IsDefined(typeof(EnumLogLoanInfoAiExcuted), Model.IsExcuted))
        {
            <span>@ExtensionHelper.GetDescription((EnumLogLoanInfoAiExcuted)Model.IsExcuted.Value)</span>
        }
    </label>
</div>

<div class="col-md-6 form-group m-form__group row">
    <label for="example-text-input" class="col-12 col-form-label">
        <span class="span-titel-custom">Url: </span> @Model.Url
    </label>
</div>

<div class="col-md-6 form-group m-form__group row">
    <label for="example-text-input" class="col-12 col-form-label">
        @if (Model.IsCancel == 1)
        {
            <span style="color: red;">Đã xóa</span>
        }
    </label>
</div>

<div class="col-md-12 form-group m-form__group row">
    <label for="example-text-input" class="col-12 col-form-label">
        <span class="span-titel-custom">Token: </span> <span class="col-12" style="word-break: break-all;">@Model.Token</span>
    </label>
</div>

@if (!string.IsNullOrEmpty(Model.Request))
{
    <div class="col-md-12 form-group m-form__group row">
        <label for="example-text-input" class="col-12 col-form-label">
            <span class="span-titel-custom">Request: </span><br />

            <textarea class="col-md-12" rows="10">@JsonConvert.DeserializeObject(Model.Request)</textarea>
        </label>
    </div>
}

@if (!string.IsNullOrEmpty(Model.ResponseRequest))
{
    <div class="col-md-12 form-group m-form__group row">
        <label for="example-text-input" class="col-12 col-form-label">
            <span class="span-titel-custom">ResponseRequest: </span>

            <textarea class="col-md-12" rows="10">@JsonConvert.DeserializeObject(Model.ResponseRequest)</textarea>
        </label>
    </div>
}

@if (!string.IsNullOrEmpty(Model.Response))
{
    <div class="col-md-12 form-group m-form__group row">
        <label for="example-text-input" class="col-12 col-form-label">
            <span class="span-titel-custom">Response: </span>

            <textarea class="col-md-12" rows="20">@JsonConvert.DeserializeObject(Model.Response)</textarea>
        </label>
    </div>
}

