﻿@model LOS.DAL.EntityFramework.LogCallApi
@{
    Layout = null;
}
@using LOS.Common.Extensions
@using LOS.WebApp.Helpers
@using Newtonsoft.Json

<div class="col-md-3 form-group m-form__group row">
    <label for="example-text-input" class="col-12 col-form-label"><span class="span-titel-custom">Mã đơn: </span> HĐ-@Model.LoanBriefId</label>
</div>
<div class="col-md-3 form-group m-form__group row">
    <label for="example-text-input" class="col-12 col-form-label">
        <span class="span-titel-custom">Dịch vụ: </span>

        @if (Enum.IsDefined(typeof(ActionCallApi), Model.ActionCallApi))
        {
            <span>@ExtensionHelper.GetDescription((ActionCallApi)Model.ActionCallApi.Value)</span>
        }
    </label>
</div>

<div class="col-md-3 form-group m-form__group row">
    <label for="example-text-input" class="col-12 col-form-label">
        @if (Model.CreatedAt.HasValue && Model.CreatedAt != DateTime.MinValue)
        {
            <span class="span-titel-custom">Ngày tạo: </span> @Model.CreatedAt.Value.ToString("dd/MM/yyyy HH:mm:ss")
        }
    </label>
</div>

<div class="col-md-3 form-group m-form__group row">
    <label for="example-text-input" class="col-12 col-form-label">
        <span class="span-titel-custom">Cập nhật: </span>
        @if (Model.ModifyAt.HasValue && Model.ModifyAt != DateTime.MinValue)
        {
            <span>@Model.ModifyAt.Value.ToString("dd/MM/yyyy HH:mm:ss")</span>
        }
    </label>
</div>

<div class="col-md-12 form-group m-form__group row">
    <label for="example-text-input" class="col-12 col-form-label">
        <span class="span-titel-custom">LinkCallApi: </span>
        @if (!string.IsNullOrEmpty(Model.LinkCallApi))
        {
            <span>
                @Model.LinkCallApi
            </span>
        }
    </label>
</div>

<div class="col-md-12 form-group m-form__group row">
    <label for="example-text-input" class="col-12 col-form-label">
        <span class="span-titel-custom">Token: </span>
        @if (!string.IsNullOrEmpty(Model.TokenCallApi))
        {
            <span style="word-break: break-all;">
                @Model.TokenCallApi
            </span>
        }
    </label>
</div>

@if (!string.IsNullOrEmpty(Model.Input))
{
    <div class="col-md-12 form-group m-form__group row">
        <label for="example-text-input" class="col-12 col-form-label">
            <span class="span-titel-custom">Input: </span><br />

            <textarea class="col-md-12" rows="10">@JsonConvert.DeserializeObject(Model.Input)</textarea>
        </label>
    </div>
}

@if (!string.IsNullOrEmpty(Model.Output))
{
    <div class="col-md-12 form-group m-form__group row">
        <label for="example-text-input" class="col-12 col-form-label">
            <span class="span-titel-custom">Output: </span><br />

            <textarea class="col-md-12" rows="10">@JsonConvert.DeserializeObject(Model.Output)</textarea>
        </label>
    </div>
}

