﻿
@{
    ViewData["Title"] = "Tool lấy OTP khách hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using LOS.Common.Extensions;
<style>
    .m-form__group {
        border-bottom: none !important;
        padding: 10px 0px 10px 0px !important;
    }

    .col-form-label {
        text-align: left !important;
    }
</style>
<link href="~/css/form.css?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS" rel="stylesheet" />
<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__body">
            <div class="col-12">
                <div class="form-group m-form__group">
                    <h5 class="modal-title" id="exampleModalLabel" style="color: #6C7293;">
                        Tool lấy OTP khách hàng
                    </h5>
                </div>
            </div>
            <form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" id="formGetOTP">
                <div class="col-12">

                    <div class="form-group m-form__group row col-md-5 col-sm-12 form-left">
                        <label for="example-text-input" class="col-md-3 col-sm-12 col-form-label">
                            Mã HĐ/SĐT:
                        </label>
                        <div class="col-md-8 col-sm-12">
                            <input class="form-control m-input" type="text" id="txt_Search" placeholder="Mã HĐ/SĐT" style="border-width: 0px; border-bottom: solid 1px; border-radius: 0 !important; text-align: left; font-size: 15px; ">
                        </div>
                    </div>

                    <div class="form-group m-form__group row col-md-5 col-sm-12 form-left">
                        <label for="example-text-input" class="col-md-3 col-sm-12 col-form-label">
                            Loại OTP
                        </label>
                        <div class="col-md-8 col-sm-12">
                            <select class="form-control cus-form-control m-select2" id="sl_TypeOtp" style="width: 100%">
                                <option value="0">--Chọn loại OTP--</option>
                                <option value="@TypeOtp.VerifyPhone.GetHashCode()">@Description.GetDescription(TypeOtp.VerifyPhone)</option>
                                <option value="@TypeOtp.VerifyEsignCustomer.GetHashCode()">@Description.GetDescription(TypeOtp.VerifyEsignCustomer) </option>

                            </select>
                        </div>
                    </div>

                    <div class="form-group m-form__group row col-md-5 col-sm-12 form-left" id="dis-OTP" style="display:none;">
                        <label for="example-text-input" class="col-md-3 col-sm-12 col-form-label">
                            OTP:
                        </label>
                        <div class="col-md-8 col-sm-12">
                            <label style="padding-top: 3px; font-weight: 600; font-size: 20px;" id="lbl_Otp"></label>
                        </div>
                    </div>


                    <div class="form-group m-form__group row col-6 form-right">
                        <button type="button" id="btnSubmit" onclick="GetOTP(event)" class="btn btn-primary" style="background: rgba(108, 114, 147, 1);border-color: rgba(108, 114, 147, 1);width: 110px;height: 40px;margin-top: -6px;margin-left: 22.6%;">
                            Lấy OTP
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#sl_TypeOtp").select2();
        });
        var GetOTP = function (e) {
            var search = $("#txt_Search").val();
            var type = $("#sl_TypeOtp").val();
            if (search == "" || search == null) {
                App.ShowErrorNotLoad('Bạn phải nhập mã đơn vay hoặc SĐT');
                return;
            }
            if (type == 0) {
                App.ShowErrorNotLoad('Bạn phải chọn loại OTP');
                return;
            }

            $('#btnSubmit').attr('disabled', true);
            $.ajax({
                url: '/Tool/GetOTPCustomer',
                method: 'POST',
                data: { search: search, type: type },
                success: function (data) {
                    $('#btnSubmit').attr('disabled', false);
                    if (data.status == 1) {
                        App.ShowSuccessNotLoad(data.message);
                        $('#lbl_Otp').text(data.otp);
                        $('#dis-OTP').css("display","");
                    }
                    else {
                        App.ShowErrorNotLoad(data.message);
                        //$('#formGetOTP').trigger("reset");
                        $('#dis-OTP').css("display", "none");
                    }
                }
            });
        }
    </script>
}