﻿
@{
    ViewData["Title"] = "Tra cứu Log Call Api";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var lstActionCallApi = Enum.GetValues(typeof(LOS.Common.Extensions.ActionCallApi)).Cast<LOS.Common.Extensions.ActionCallApi>();
}

<link href="~/css/form.css?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS" rel="stylesheet" />
<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__body">
            <!--begin: Search Form -->
            <div class="m-form m-form--label-align-right m--margin-bottom-30">
                <div class="row align-items-center">
                    <form id="formLogCallApi" style="width: 100%">
                        <div class="col-xl-12 order-2 order-xl-1">
                            <div class="form-group m-form__group row align-items-center">
                                <div class="col-md-2">
                                    <div class="form-group m-form__group">
                                        <div class="m-input-icon m-input-icon--left">
                                            <input type="text" class="form-control m-input inputsearch numberOnly" name="loanbriefId" placeholder="Mã đơn vay" id="loanbriefId">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="input-group">
                                        <select class="form-control cus-form-control m-input m-input--square" name="actionCallApi" id="ddl_ActionCallApi">
                                            <option value="-1">Loại hành động</option>
                                            @foreach (var item in lstActionCallApi)
                                            {
                                                <option value="@((int)item)">@LOS.Common.Helpers.ExtentionHelper.GetDescription(item)</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group m-form__group">
                                        <div class="m-form__control">
                                            <a href="javascript:;" class="btn btn-tima" style="cursor:pointer;" id="btnSearch" onclick="ToolModuleJS.SearchLogCallApi()">
                                                Tìm kiếm
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <hr style="color: #333333;" />
            <!--begin: Datatable -->
            <div id="dtLogCallApi">

            </div>

        </div>
    </div>
</div>
<partial name="~/Views/Tool/Partial/_detal_LogCallApi.cshtml" />
@section Scripts
{
    <script src="~/js/Tool/ToolModuleJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#ddl_ActionCallApi').select2();
        });
    </script>
}

