﻿@model List<LOS.DAL.EntityFramework.LogCallApi>
@using LOS.Common.Extensions
@using LOS.WebApp.Helpers
@{
    Layout = null;
}
    <table class="table m-table m-table--head-bg-brand">
        <thead>
            <tr>
                <th class="text-center">#</th>
                <th class="text-center">Mã đơn</th>
                <th class="text-center">Hành động </th>
                <th class="text-center">CreatedAt</th>
                <th class="text-center">UpdatedAt</th>
                <th class="text-center">Chức năng</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Count > 0)
            {
                var stt = 0;
                foreach (var item in Model)
                {
                    stt++;
                    <tr>
                        <th class="text-center">
                            @stt
                        </th>
                        <th class="text-center">
                            HĐ-@item.LoanBriefId
                        </th>
                        <th class="text-center">
                            @if (Enum.IsDefined(typeof(ActionCallApi), item.ActionCallApi))
                            {
                                <span>@ExtensionHelper.GetDescription((ActionCallApi)item.ActionCallApi.Value)</span>
                            }
                        </th>
                        <th class="text-center">
                            @if (item.CreatedAt.HasValue)
                            {
                                <span>@item.CreatedAt.Value.ToString("dd/MM/yyyy HH:mm:ss")</span>
                            }
                        </th>
                        <th class="text-center">
                            @if (item.ModifyAt.HasValue)
                            {
                                <span>@item.ModifyAt.Value.ToString("dd/MM/yyyy HH:mm:ss")</span>
                            }
                        </th> 
                        <th class="text-center">
                            <a href="#" class="btn btn-info m-btn m-btn--icon btn-sm m-btn--icon-only" onclick="ToolModuleJS.DetailLogCallApi(@item.Id)" title="Chi tiết"><i class="la la-ellipsis-h"></i></a>
                        </th>
                    </tr>
                }
            }
        </tbody>
    </table>