﻿@{
    ViewData["Title"] = "Tool hỗ trợ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/form.css?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS" rel="stylesheet" />
<style>
    #linkName:hover {
        text-decoration: none !important;
    }

    .marginleft {
        margin-left: 25px;
    }

    .m-portlet .m-portlet__body {
        padding: 0rem 2.2rem;
    }

    .form-group {
        margin-bottom: 0px;
    }

    .m-portlet .m-portlet__body {
        padding-bottom: 20px;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        position: relative;
        padding: 0.65rem 0rem;
        line-height: 1.25;
    }
</style>
<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Tool hỗ trợ
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <!--begin: Search Form -->
            <div class="m-form m-form--label-align-right m--margin-bottom-10">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">

                            <div class="col-lg-2 col-md-6 col-sm-12" style="padding: 10px;">
                                <div class="m-form__control">
                                    <select class="form-control m-input m-select2" id="sl_TypeAction">
                                        <option></option>
                                        <option value="1">Khôi phục lại đơn Topup</option>
                                        <option value="2">Kiểm tra và cập nhật đơn có thể Topup</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6 col-sm-12" style="padding: 10px;">
                                <div class="m-input-icon m-input-icon--left">
                                    <input class="inputCreate form-control cus-form-control m-input cus-input-script" type="text" id="txt_LoanBriefIdLoanTopup" name="LoanBriefId" placeholder="Mã HĐ">
                                </div>
                            </div>
                            <div class="col-lg-1 col-md-6 col-sm-12" style="padding: 15px;">
                                <div class="m-form__control">
                                    <a href="#" class="btn btn-tima" onclick="ToolManageTelesaleSupportModule.UpdateLoanTopup(this, event)">
                                        Cập nhập
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/Tool/ToolManageTelesaleSupportModulesJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            App.ValidCustom();
            ToolManageTelesaleSupportModule.Init();
        });
    </script>
}
