﻿@{
    ViewData["Title"] = "Chuyển trạng thái luồng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/form.css?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS" rel="stylesheet" />
<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__body">
            <!--begin: Search Form -->
            <div class="m-form m-form--label-align-right m--margin-bottom-30">
                <div class="row align-items-center">
                    <form id="formLogRequestAi" style="width: 100%">
                        <div class="col-xl-12 order-2 order-xl-1">
                            <div class="form-group m-form__group row align-items-center">
                                <div class="col-md-2 col-sm-12">
                                    <div class="form-group m-form__group">
                                        <div class="m-input-icon m-input-icon--left">
                                            <input type="text" class="form-control m-input inputsearch numberOnly" name="loanbriefId" placeholder="Mã đơn vay" id="loanbriefId">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2  col-sm-12">
                                    <div class="input-group">
                                        <select class="form-control cus-form-control m-input m-input--square" name="actionPipeline" id="ddl_ActionPipeline">
                                            <option value="-1">Loại thao tác</option>
                                            <option value="1">Đẩy bước tiếp theo</option>
                                            <option value="2">
                                                Trả lại bước trước
                                            </option>
                                            <option value="3">Reset luồng từ đầu</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2  col-sm-12">
                                    <div class="form-group m-form__group">
                                        <div class="m-form__control">
                                            <a href="javascript:;" class="btn btn-tima" style="cursor:pointer;" id="btnSearch" onclick="ToolPipelineModuleJS.OnChangePipeline()">
                                                Cập nhật
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="~/js/Tool/ToolPipelineModuleJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#ddl_ActionPipeline').select2();
        });
    </script>
}