﻿@{
    ViewData["Title"] = "Cập nhập lại trạng thái đơn bán cho đối tác";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/form.css?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS" rel="stylesheet" />
<style>

    .m-portlet .m-portlet__body {
        padding: 0rem 2.2rem;
    }

    .form-group {
        margin-bottom: 0px;
    }

    .m-portlet .m-portlet__body {
        padding-bottom: 20px;
    }
</style>
<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Cập nhập lại trạng thái đơn bán cho đối tác
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <!--begin: Search Form -->
            <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                <div class="row align-items-center">
                    <div class="col-xl-12 order-2 order-xl-1">
                        <form id="formGenNewOtp">
                            <div class="form-group row col-md-12">
                                <label for="example-text-input" style="text-align: left;" class="col-md-1 col-sm-12 col-form-label m--margin-top-5">
                                    Mã Id:
                                </label>
                                <div class="col-md-3 col-sm-12">
                                    <input class="form-control m-input inputCreate" type="text" id="txt_lstId" name="" placeholder="">
                                </div>
                            </div>
                            <div class="form-group m-form__group row col-md-12 form-right" style="padding-top: 25px;">
                                <button type="button" id="btnSubmit" onclick="Update()" class="btn btn-primary" style="background: rgba(108, 114, 147, 1);border-color: rgba(108, 114, 147, 1);width: 110px;height: 40px;margin-top: -6px;margin-left: 15px;">
                                    Cập nhập
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">
        function Update() {
            var lstId = $('#txt_lstId').val();
            if (lstId == null || lstId == '' || lstId == undefined) {
                App.ShowErrorNotLoad('Nhập Id vào đi pạn');
                return;
            }
            $.ajax({
                type: "POST",
                url: "/Tool/UpdateStatusPushLoanToLender",
                beforeSend: function () {
                    $.blockUI({
                        message: '<div class="m-blockui "><span style="font-size: 15px;">Please wait...</span><span><div class="m-loader  m-loader--success m-loader--lg"></div></span></div>',
                    });
                },
                data: { lstId: lstId },
                success: function (data) {
                    $.unblockUI();
                    if (data.status == 1) {
                        App.ShowSuccessNotLoad("Cập nhập thành công");
                        $('#txt_lstId').val('');
                    } else {
                        App.ShowErrorNotLoad(data.message);
                        return;
                    }
                }
            });
        }
    </script>
}
