﻿@model LOS.DAL.DTOs.LoanInfoCompare
@{
    Layout = null;
}
@using LOS.Common.Extensions;
<style>
    .m-wizard.m-wizard--1 .m-wizard__head {
        margin: -2rem 0 1rem 0;
    }

    .m-wizard.m-wizard--1.m-wizard--success .m-wizard__steps .m-wizard__step.m-wizard__step--current .m-wizard__step-info .m-wizard__step-number > span {
        background-color: rgba(108, 114, 147, 1);
    }

    .m-wizard.m-wizard--1.m-wizard--success .m-wizard__steps .m-wizard__step.m-wizard__step--done .m-wizard__step-info .m-wizard__step-number > span {
        background-color: rgba(108, 114, 147, 1);
    }

    .m-wizard.m-wizard--1.m-wizard--success .m-wizard__steps .m-wizard__step.m-wizard__step--done .m-wizard__step-info .m-wizard__step-number > span {
        background-color: rgba(108, 114, 147, 1);
    }

    .m-wizard.m-wizard--1 .m-wizard__head .m-wizard__nav .m-wizard__steps .m-wizard__step .m-wizard__step-info .m-wizard__step-number > span {
        width: 2rem;
        height: 2rem;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
    }

        .m-wizard.m-wizard--1 .m-wizard__head .m-wizard__nav .m-wizard__steps .m-wizard__step .m-wizard__step-info .m-wizard__step-number > span > span {
            font-size: 1rem;
            font-weight: 500;
        }

    .m-wizard.m-wizard--1 .m-wizard__head .m-wizard__nav .m-wizard__steps .m-wizard__step .m-wizard__step-line > span {
        margin-left: 0.8rem;
        margin-right: 0.7rem;
        width: 9rem;
        height: 0.3rem;
        display: block;
        -webkit-border-radius: 0.6rem;
        -moz-border-radius: 0.6rem;
        border-radius: 0.6rem;
    }

    .m-form .m-form__actions {
        padding: 10px;
    }
</style>
<div class="m-wizard m-wizard--1 m-wizard--success m-wizard--step-first" id="m_wizard">
    <!--begin: Message container -->
    <div class="m-portlet__padding-x">
        <!-- Here you can put a message or alert -->
    </div>
    <!--end: Message container -->
    <!--begin: Form Wizard Head -->
    <div class="m-wizard__head m-portlet__padding-x">
        <!--begin: Form Wizard Nav -->
        <div class="m-wizard__nav">
            <div class="m-wizard__steps">
                <div class="row" style="padding-left: 80px;">
                    <div class="col-lg-2 col-md-2 col-sm-12"></div>
                    <div class="col-lg-2 col-md-2 col-sm-12">
                        <div class="m-wizard__step m-wizard__step--current" data-wizard-target="#m_wizard_form_step_1">
                            <div class="m-wizard__step-info">
                                <a href="#" class="m-wizard__step-number" onclick="CompareModule.LoadDataCMND(@Model.LoanBriefId, 1);">
                                    <span>
                                        <span>
                                            1
                                        </span>
                                    </span>
                                </a>
                                <div class="m-wizard__step-line">
                                    <span></span>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-12">
                        <div class="m-wizard__step" data-wizard-target="#m_wizard_form_step_2">
                            <div class="m-wizard__step-info">
                                <a href="#" class="m-wizard__step-number" onclick="CompareModule.LoadDataCMND(@Model.LoanBriefId, 2);">
                                    <span>
                                        <span>
                                            2
                                        </span>
                                    </span>
                                </a>
                                <div class="m-wizard__step-line">
                                    <span></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-12">
                        <div class="m-wizard__step" data-wizard-target="#m_wizard_form_step_3">
                            <div class="m-wizard__step-info">
                                <a href="#" class="m-wizard__step-number" onclick="CompareModule.LoadDataCMND(@Model.LoanBriefId, 3);">
                                    <span>
                                        <span>
                                            3
                                        </span>
                                    </span>
                                </a>
                                <div class="m-wizard__step-line">
                                    <span></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-12">
                        <div class="m-wizard__step" data-wizard-target="#m_wizard_form_step_4">
                            <div class="m-wizard__step-info">
                                <a href="#" class="m-wizard__step-number" onclick="CompareModule.LoadDataCMND(@Model.LoanBriefId, 4);">
                                    <span>
                                        <span>
                                            4
                                        </span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--end: Form Wizard Nav -->
    </div>
    <!--end: Form Wizard Head -->
    <!--begin: Form Wizard Form-->
    <div class="m-wizard__form">
        <!--
            1) Use m-form--label-align-left class to alight the form input lables to the right
            2) Use m-form--state class to highlight input control borders on form validation
        -->
        <form class="m-form m-form--label-align-left- m-form--state-" id="m_form" novalidate="novalidate">
            <!--begin: Form Body -->
            <div class="m-portlet__body" id="result_cmnd">
                <!--begin: Form Wizard Step 1-->
                <div class="m-wizard__form-step m-wizard__form-step--current" id="m_wizard_form_step_1">
                </div>
                <!--end: Form Wizard Step 1-->
                <!--begin: Form Wizard Step 2-->
                <div class="m-wizard__form-step" id="m_wizard_form_step_2">

                </div>
                <!--end: Form Wizard Step 2-->
                <!--begin: Form Wizard Step 3-->
                <div class="m-wizard__form-step" id="m_wizard_form_step_3">

                </div>
                <!--end: Form Wizard Step 3-->
                <!--begin: Form Wizard Step 4-->
                <div class="m-wizard__form-step" id="m_wizard_form_step_4">

                </div>
                <!--end: Form Wizard Step 4-->
            </div>
            <!--end: Form Body -->
            <!--begin: Form Actions -->
            <div class="m-portlet__foot m-portlet__foot--fit">
                <div class="m-form__actions m-form__actions">
                    <div class="row">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-4 m--align-left">
                            <a href="#" onclick="CompareModule.LoadDataCMND(@Model.LoanBriefId,-1);" class="btn btn-secondary m-btn m-btn--custom m-btn--icon" data-wizard-action="prev">
                                <span>
                                    <i class="la la-arrow-left"></i>
                                    &nbsp;&nbsp;
                                    <span>
                                        Quay lại
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="col-lg-4 m--align-right">
                            <a href="#" onclick="CompareModule.LoadDataDKX(@Model.LoanBriefId,1,@EnumDocumentType.Motorbike_Registration_Certificate.GetHashCode(),true);" class="btn btn-primary m-btn m-btn--custom m-btn--icon" data-wizard-action="submit">
                                <span>
                                    <i class="la la-check"></i>
                                    &nbsp;&nbsp;
                                    <span>
                                        Tiếp tục
                                    </span>
                                </span>
                            </a>
                            
                            <a href="#" onclick="CompareModule.LoadDataCMND(@Model.LoanBriefId,0);" class="btn btn-tima" data-wizard-action="next">
                                <span>
                                    <span>
                                        Tiếp tục
                                    </span>
                                    &nbsp;&nbsp;
                                    <i class="la la-arrow-right"></i>
                                </span>
                            </a>
                        </div>
                        <div class="col-lg-2"></div>
                    </div>
                </div>
            </div>
            <!--end: Form Actions -->
        </form>
    </div>
    <!--end: Form Wizard Form-->
</div>

<script src="~/assets/demo/default/custom/components/forms/wizard/wizard.js?v=1" type="text/javascript"></script>

