﻿@model LOS.DAL.DTOs.LoanInfoCompare
@{
    Layout = null;
}


<!--begin: Form Wizard-->
<div class="m-wizard m-wizard--1 m-wizard--success m-wizard--step-between" id="m_wizard">
    <!--begin: Message container -->
    <div class="m-portlet__padding-x">
        <!-- Here you can put a message or alert -->
    </div>
    <!--end: Message container -->
    <!--begin: Form Wizard Head -->
    <div class="m-wizard__head m-portlet__padding-x" style="margin: 30px 0px 10px 0px;">
        <!--begin: Form Wizard Progress -->
        @*<div class="m-wizard__progress">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: calc(25% + 28px);"></div>
                </div>
            </div>*@
        <!--end: Form Wizard Progress -->
        <!--begin: Form Wizard Nav -->
        <div class="m-wizard__nav" style="display:none;">
            <div class="m-wizard__steps">
                <div class="m-wizard__step m-wizard__step--done m-wizard__step--current" data-wizard-target="#m_wizard_form_step_1">
                    <div class="m-wizard__step-info">
                        <a href="#" class="m-wizard__step-number">
                            <span>
                                <span>
                                    1
                                </span>
                            </span>
                        </a>
                        <div class="m-wizard__step-line">
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end: Form Wizard Nav -->
    </div>
    <!--end: Form Wizard Head -->
    <!--begin: Form Wizard Form-->
    <div class="m-wizard__form">
        <!--
            1) Use m-form--label-align-left class to alight the form input lables to the right
            2) Use m-form--state class to highlight input control borders on form validation
        -->
        <form class="m-form m-form--label-align-left- m-form--state-" id="m_form" novalidate="novalidate">
            <!--begin: Form Body -->
            <div class="m-portlet__body" id="result_zaloface">
                <!--begin: Form Wizard Step 1-->
                <div class="m-wizard__form-step m-wizard__form-step--current" id="m_wizard_form_step_1">

                </div>
                <!--end: Form Wizard Step 1-->
            </div>
            <!--end: Form Body -->
            <!--begin: Form Actions -->
            <div class="m-portlet__foot m-portlet__foot--fit">
                <div class="m-form__actions m-form__actions">
                    <div class="row">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-4 m--align-left">

                        </div>
                        <div class="col-lg-4 m--align-right">
                            <a href="#" onclick="CompareModule.LoadDataApprove(@Model.LoanBriefId,1,true);" class="btn btn-primary m-btn m-btn--custom m-btn--icon" data-wizard-action="submit">
                                <span>
                                    <i class="la la-check"></i>
                                    &nbsp;&nbsp;
                                    <span>
                                        Tiếp tục
                                    </span>
                                </span>
                            </a>

                        </div>
                        <div class="col-lg-2"></div>
                    </div>
                </div>
            </div>
            <!--end: Form Actions -->
        </form>
    </div>
    <!--end: Form Wizard Form-->
</div>
<!--end: Form Wizard-->
<script src="~/assets/demo/default/custom/components/forms/wizard/wizard.js?v=1" type="text/javascript"></script>
