﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="shortcut icon" href="~/favicon.ico" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/custom.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container-fluid" id="custom-form">
        <div class="col-md-12" id="form-general">
            <div class="col-md-12 form-user">
                <div class="logo">
                    <img class="image-logo" src="~/images/logo-tima.png" />
                </div>
                @RenderBody()
            </div>
        </div>
    </div>
    <div id="backgroup-image">
        <img src="~/images/backgroup.png" style="width: 100%;" />
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/notify/jquery.noty.js"></script>
    <script src="~/js/notify/themes/default.js"></script>
    <script src="~/js/notify/layouts/top.js"></script>
    <script src="~/js/App.js?v=@WebTimaCare.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    
    <script type="text/javascript">
        if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
            $('#backgroup-image').attr('style', 'display: none;');
            $('.text-title').removeClass('col-md-12');
            $('.form-main').removeClass('col-md-12');
            $('.div-button').removeClass('col-md-12');
            $('.form-user').removeClass('col-md-12');
        }
        else {
            $('#backgroup-image').removeAttr('style', 'display: none;');
            $('.text-title').addClass('col-md-12');
            $('.form-main').addClass('col-md-12');
            $('.div-button').addClass('col-md-12');
            $('.form-user').addClass('col-md-12');
        }
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
