﻿@{
    Layout = null;
    var TitleForm = "";
    if (ViewBag.Type == 1)
        TitleForm = "Tạo phiếu thu";
    if (ViewBag.Type == 2)
        TitleForm = "Tạo phiếu chi";
}
<style>
    .modal-xl {
        max-width: 1236px;
    }

    .m-form .m-form__group {
        margin-bottom: 0 !important;
        padding-bottom: 0 !important;
        padding-top: 0 !important;
    }

    .input-group-addon {
        color: #575962;
        border-color: #ebedf2;
        background-color: #f4f5f8;
        padding-top: 14px;
        padding-bottom: 0;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        align-items: center;
        justify-content: center;
    }
</style>

<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="color:#6C7293;">
            @TitleForm
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
                ×
            </span>
        </button>
    </div>
    <form class="m-form m-form--fit m-form--label-align-right" id="form_createInvoice">
        <div class="modal-body">
            <div class="m-form m-form--fit m-form--label-align-right">
                <div class="m-portlet__body">
                    <div class="form-group m-form__group row">
                        <label for="example-text-input" class="col-lg-3 col-sm-12 col-12 col-form-label font-weight-bold">
                            Tìm khách hàng
                        </label>
                        <div class="col-lg-6 col-sm-8 col-8">
                            <div class="m-input-icon m-input-icon--left">
                                <input class="form-control m-input" id="txt_SearchInfoCustomer_SearchText" placeholder="Nhập đúng tên  hoặc số điện thoại hoặc số CMT khách hàng" type="text">
                                <span class="m-input-icon__icon m-input-icon__icon--left">
                                    <span>
                                        <i class="la la-search"></i>
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-4 col-4" style="padding-left:0">
                            <div class="m-input-icon m-input-icon--left">
                                <a href="#" class="btn btn-info m-btn m-btn--air" id="btnSearchInfoCustomer_modal">
                                    <span>
                                        <i class="fa fa-search"></i>
                                        <span>
                                            Tìm kiếm
                                        </span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div id="div_SearchInfoCustomer" style="display:none">
                        <h6>
                            <i class="m-portlet__head-text">
                                <i class="fa fa-user"></i> Thông tin khách hàng
                            </i>
                        </h6>
                        <div class="d-md-none"></div>
                        <div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space  m--margin-bottom-5 m--margin-top-5"></div>
                        <div class="col-md-12 col-lg-12 col-xl-12" style="border-right:none;">
                            <!--begin:: Widgets/Stats2-1 -->
                            <div class="table-responsive-sm">
                                <table id="tblCustomerInfo" class="ui celled table hover tima-table-style  unstackable" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th class="text-center">STT</th>
                                            <th>Tên khách hàng</th>
                                            <th>Mã hợp đồng</th>
                                            <th>Số CMT</th>
                                            <th class="text-center">Ngày giải ngân</th>
                                            <th class="text-center">Ngày phải đóng lãi</th>
                                            <th class="text-right">Số tiền gốc còn lại</th>
                                            <th>Đối tác cho vay</th>
                                        </tr>
                                    </thead>
                                </table>
                                <!--end:: Widgets/Stats2-1 -->
                            </div>
                        </div>
                    </div>
                    <br>
                    <div id="div_FormCreateInvoiceForCustomer">
                        <h6>
                            <i class="m-portlet__head-text">
                                <i class="fa fa-file-text"></i> Điền thông tin phiếu thu
                            </i>
                        </h6>
                        <div class="d-md-none "></div>
                        <div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space m--margin-bottom-5 m--margin-top-10"></div>
                        <div class="form-group m-form__group row">
                            <label for="example-text-input" class="col-lg-3 col-sm-12 col-12 col-form-label font-weight-bold">
                                Mã hợp đồng
                            </label>
                            <label class="col-lg-9 col-sm-12 col-12 col-form-label text-left" id="lbl_CreateInvoiceForCustomer_ContactCode">-</label>
                        </div>
                        <div class="form-group m-form__group row">
                            <label for="example-text-input" class="col-lg-3 col-sm-12 col-12 col-form-label font-weight-bold">
                                Tên khách hàng
                            </label>
                            <label class="col-lg-9 col-sm-12 col-12 col-form-label text-left" id="lbl_CreateInvoiceForCustomer_CustomerName">-</label>
                        </div>
                        <div class="form-group m-form__group row">
                            <label for="example-text-input" class="col-lg-3 col-sm-12 col-12 col-form-label font-weight-bold">
                                Khách hàng ở cửa hàng
                            </label>
                            <label class="col-lg-9 col-sm-12 col-12 col-form-label text-left" id="lbl_CreateInvoiceForCustomer_ShopName">-</label>
                        </div>
                        <div class="form-group m-form__group row">
                            <label for="example-text-input" class="col-lg-3 col-sm-12 col-12 col-form-label font-weight-bold">
                                Loại phiếu
                            </label>
                            <label class="col-lg-9 col-sm-12 col-12 col-form-label text-left">
                                <span class="m-badge m-badge--brand m-badge--wide m-badge--rounded" style="font-size: 13px;" id="lbl_CreateInvoiceForCustomer_TypeInvoice">-</span>

                            </label>
                        </div>
                        <div class="form-group m-form__group row hiddenDiv" id="formSuggetMoney">
                            <label for="example-text-input" class="col-lg-3 col-sm-12 col-12 col-form-label font-weight-bold">
                                Chọn nhanh số tiền theo kỳ
                            </label>
                            <div class="col-lg-6 col-sm-12 col-12" id="divSuggetMoney">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label for="example-text-input" class="col-lg-3 col-sm-12 col-12 col-form-label font-weight-bold">
                                Số tiền <span class="text-danger">*</span>
                            </label>
                            <div class="col-lg-4 col-sm-12 col-12">
                                <div class="input-group m-input-group">
                                    <input type="text" class="form-control m-input  " id="txt_CreateInvoiceForCustomer_TotalMoney" name="txt_CreateInvoiceForCustomer_TotalMoney" value="0" data-toggle="tooltip" data-placement="top">
                                    <span class="input-group-addon">
                                        <i class="text-black" style="color: black !important;">VNĐ</i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group m-form__group row" style="margin-top: 10px;">
                            <label for="example-text-input" class="col-lg-3 col-sm-12 col-12 col-form-label font-weight-bold">
                                Nội dung <span class="text-danger">*</span>
                            </label>
                            <div class="col-lg-6 col-sm-12 col-12">
                                <textarea class="form-control m-input " rows="3" id="txt_CreateInvoiceForCustomer_Note" name="txt_CreateInvoiceForCustomer_Note"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <!--end::Form-->
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnCloseModalInvoiceForCustomer">
                Đóng lại
            </button>
            <button type="button" class="btn m-btn btn-primary" id="btnSaveInvoiceForCustomer" disabled="disabled">
                Lưu lại
            </button>
        </div>
    </form>
</div>

<script>
    $(document).ready(function () {
        App.LibraryMoney();

    });
</script>
