﻿@model List<LOS.DAL.EntityFramework.ScheduleTime>
@{
    Layout = null;
}

<div class="modal-content">
    <div class="modal-header">

        <h5 class="modal-title" id="exampleModalLabel" style="color:#6C7293;">
            Danh sách lịch hẹn HĐ-@Model[0].LoanBriefId
        </h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
                ×
            </span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group m-form__group row">
                
                @if (Model != null && Model.Count > 0)
                {
                    int i = 1;
                    foreach (var item in Model)
                    {
                        <span style="width:100%;">
                            <span class="m-list-timeline__badge m-list-timeline__badge--success"></span> Thời gian từ: <b>@item.StartTime.Value.ToString("dd/MM/yyyy HH:mm") - @item.EndTime.Value.ToString("dd/MM/yyyy HH:mm")</b>. 
                            <b>@item.UserFullName</b> hẹn gặp khách <b>@item.CusName</b> với nội dung: <b>@Html.Raw(item.Note)</b>
                        </span>
                        <hr style="width:100%;" />
                        i++;
                    }
                }

            </div>
        </form>
    </div>
</div>