﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*@await Component.InvokeAsync("Breadcrumb", new { ModuleName = "LOAN_BRIEF_MANAGER" })*@
<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Danh sách phiếu thu chi
                    </h3>
                </div>
            </div>
        </div>

        <div class="m-portlet__body">
            <!--begin: Search Form -->
            <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                <div class="row align-items-center">
                    <div class="col-xl-12 order-2 order-xl-1">
                        <div class="form-group m-form__group row align-items-center">
                            <div class="col-md-2">
                                <div class="form-group m-form__group">
                                    <label for="exampleInputEmail1">
                                        Mã phiếu
                                    </label>
                                    <input type="text" class="form-control m-input m-input--solid" id="txtSearchText" aria-describedby="emailHelp" placeholder="Tìm theo mã phiếu">
                                    @*<span class="m-form__help">
                                        <i class="la la-search"></i>
                                    </span>*@
                                </div>
                            </div>


                            <div class="col-md-2">
                                <div class="form-group m-form__group">
                                    <label for="exampleSelect1">
                                        Loại phiếu:
                                    </label>
                                    <select class="form-control m-input m-input--solid" id="sl_InvoiceType">
                                        <option selected="selected" value="-1">--Tất cả--</option>
                                        <option value="0">Phiếu chờ kế toán xác nhận</option>
                                        <option value="1">Phiếu thu</option>
                                        <option value="2">Phiếu chi</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group m-form__group">
                                    <label for="exampleSelect1">
                                        Loại phiếu chi tiết:
                                    </label>
                                    <select class="form-control m-input m-input--solid" id="sl_InvoiceTypeDetail">
                                        <option selected="selected" value="-1">--Tất cả loại phiếu chi tiết--</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group m-form__group">
                                    <label for="exampleSelect1">
                                        Thời gian tạo:
                                    </label>
                                    <input style="margin-right: -15%;cursor:pointer;color:#9CA0B6;width:95%;float: left;" type="text" class="form-control m-input m-input--solid" id="filtercreateTime" placeholder="Thời gian tạo">
                                    <i class="fa fa-calendar" style="margin-right: 6%;padding-top: 4%;width: 5%;float: right;"></i>
                                </div>
                            </div>




                            <div class="col-md-2">
                                <div class="form-group m-form__group">
                                    <label for="exampleSelect1">
                                    </label>
                                    <div class="m-form__control">
                                        <a href="javascript:;" style="cursor:pointer;" id="btnSearch">
                                            <img src="~/img/search.png" alt="Tìm kiếm" style="height: 38px;" />
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>
            </div>
            <!--end: Search Form -->
            <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                <div class="row align-items-center">
                    <div class="col-xl-9 order-2 order-xl-1">
                        <div class="form-group m-form__group row align-items-center">

                            <div>
                                <div class="form-group m-form__group">
                                    <div class="m-input-icon m-input-icon--left">
                                        <a href="#modal" data-toggle="modal" class="btn btn-brand m-btn m-btn--air" onclick="InvoiceModule.CreateInvoice(1)">
                                            <span>
                                                <i class="fa fa-plus"></i>
                                                <span>
                                                    Tạo phiếu thu
                                                </span>
                                            </span>
                                        </a>
                                        <a href="#modal" data-toggle="modal" class="btn btn-brand m-btn m-btn--air" onclick="InvoiceModule.CreateInvoice(2)">
                                            <span>
                                                <i class="fa fa-plus"></i>
                                                <span>
                                                    Tạo phiếu chi
                                                </span>
                                            </span>
                                        </a>
                                    </div>

                                </div>
                            </div>




                        </div>
                    </div>

                </div>
            </div>

            <hr style="color: #333333;" />
            <!--begin: Datatable -->
            <table class="m-datatable__table dtform" width="100%" id="dtInvoice"></table>
        </div>
    </div>
</div>

<partial name="~/Views/Modal/CreateInvoiceModal.cshtml" />
<script src="~/js/InvoiceModule.js"></script>
@section Scripts
{

    <script type="text/javascript">
        $(document).ready(function () {
            App.Init();
            //ApproveEmpModule.Init();
            //ApproveEmpModule.GetUserByGroupId($("#GroupId").val());
        });
    </script>
}

<style>
    div.dropdown-menu.open {
        max-height: 314px !important;
        overflow: hidden;
    }

    ul.dropdown-menu.inner {
        max-height: 260px !important;
        overflow-y: auto;
    }
</style>