﻿@model List<LOS.DAL.DTOs.ShopDetail>
@{
    ViewData["Title"] = "Theo dõi dư nợ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/form.css?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS" rel="stylesheet" />
<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Theo dõi dư nợ
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <!--begin: Search Form -->
            <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                <div class="row align-items-center">
                    <div class="col-xl-10 order-2 order-xl-1">
                        <div class="form-group m-form__group row align-items-center">
                            <div class="col-md-2">
                                <div class="form-group m-form__group">
                                    <div class="m-form__control">
                                        <select class="form-control cus-form-control m-input m-input--square" id="sl_Hub" multiple="multiple">
                                            @*<option value="0">Tất cả Hub</option>*@
                                            @if (Model != null && Model.Count > 0)
                                            {
                                                foreach (var item in Model)
                                                {
                                                    <option value="@item.ShopId">@item.Name</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>

                            @*<div class="col-md-2">
                                <div class="form-group m-form__group">
                                    <div class="m-form__control">
                                        <input type="text" class="form-control cus-form-control m-input inputsearch cus-datepicker" id="filterDate" placeholder="Chọn ngày">
                                    </div>
                                </div>
                            </div>*@

                            <div class="col-md-1">
                                <div class="form-group m-form__group">
                                    <div class="m-form__control">
                                        <a href="javascript:;" class="btn btn-tima" id="btnSearch" style="cursor:pointer;">
                                            Tìm kiếm
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!--end: Search Form -->
            <!--begin: Datatable -->
            <table class="m-datatable__table dtform" width="100%" id="tbLoanDebt"></table>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="~/js/Hub/ListLoanDebtModule.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            App.Init();
            ListLoanDebtModule.Init();
        });
    </script>
}

