﻿@model LOS.DAL.Object.Loanbrief.ProposeExceptionsInit
@{
    Layout = null;
    ViewData["Title"] = "Trình ngoại lệ";
}
<style>
    #divResult {
        width: 600px !important;
    }

    span {
        font-size: 14px !important;
    }

    .col-form-label {
        font-size: 15px !important;
        font-family: Arial !important;
        color: #6C7293;
    }
</style>
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="color:#6C7293;">
            Trình ngoại lệ HĐ - @Model.LoanBriefId
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
                ×
            </span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group m-form__group row">
                <label for="example-text-input" class="col-3 col-form-label">
                    Lý do:
                </label>
                <div class="col-9">
                    <select class="form-control m-select2" id="sl_Exception" onchange="ChangeOption(this.value)">
                        <option value="0">Chọn lý do</option>
                        @if (Model.DocumentException != null && Model.DocumentException.Count > 0)
                        {
                            foreach (var item in Model.DocumentException)
                            {
                                <!option @(Model.ProposeExceptions != null && Model.ProposeExceptions.DocId.GetValueOrDefault(0) > 0 && Model.ProposeExceptions.DocId == item.Id ? "selected=\"selected\"" : "") value="@item.Id">@item.Name</!option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="form-group m-form__group row" id="disException" style="@(Model.ProposeExceptions != null && Model.ProposeExceptions.Money.GetValueOrDefault(0) > 0 ? "display:none;" : "")">
                <label for="example-text-input" class="col-3 col-form-label">
                    Lý do chi tiết:
                </label>
                <div class="col-9" style="float:right;">
                    <select class="form-control m-select2" id="sl_ExceptionChild">
                        @if (Model.ProposeExceptions != null && Model.ProposeExceptions.ChildDocId.GetValueOrDefault(0) > 0)
                        {
                            <option></option>
                            <option value="@Model.ProposeExceptions.ChildDocId" selected="selected">
                                @Model.ProposeExceptions.ChildDocName
                            </option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-group m-form__group row" id="disMoney" style="@(Model.ProposeExceptions != null && Model.ProposeExceptions.Money.GetValueOrDefault(0) > 0 ? "display:block;" : "display:none;")">
                <label for="example-text-input" class="col-3 col-form-label">
                    Số tiền cho vay:
                </label>
                <div class="col-9" style="float:right;">
                    @if (Model.ProposeExceptions != null && Model.ProposeExceptions.Money.GetValueOrDefault(0) > 0)
                    {
                        <input class="form-control cus-form-control m-input inputAmountVND" type="text" id="txtLoanAmount" value="@Model.ProposeExceptions.Money.Value.ToString("n0")" style="text-align: right;">
                    }
                    else
                    {
                        <input class="form-control cus-form-control m-input inputAmountVND" type="text" id="txtLoanAmount" style="text-align: right;">
                    }

                </div>
            </div>

            <div class="form-group m-form__group row">
                <label for="example-text-input" class="col-3 col-form-label">
                    Comment:
                </label>
                <div class="col-9">
                    @*<textarea class="form-control" id="content" rows="7" placeholder="Comment"></textarea>*@
                    <textarea id="content">@(Model.ProposeExceptions != null && !string.IsNullOrEmpty(Model.ProposeExceptions.Note) ? Model.ProposeExceptions.Note : "")</textarea>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer" style="margin-top:-4%;border-top:none;">
        <button type="button" onclick="ProposeExc();" id="btnProp" class="btn btn-primary" style="background: rgba(108, 114, 147, 1);border-color: rgba(108, 114, 147, 1);width: 110px;height: 40px;">
            Xác nhận
        </button>
    </div>
</div>
<input type="hidden" value="@Model.LoanBriefId" id="LoanBriefId" />

@*<script src="~/assets/demo/default/custom/components/forms/widgets/bootstrap-select.js"></script>*@
<script src="~/ckeditor/ckeditor.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
<script>
    $(document).ready(function () {
        $("#sl_ExceptionChild").select2({
            dropdownParent: $("#Modal"),
            placeholder: "Lý do chi tiết"
        });
        $("#sl_Exception").select2({
            dropdownParent: $("#Modal"),
            placeholder: "Lý do"
        });
        CKEDITOR.replace("content");
        App.LibraryMoney();
    });
    function ProposeExc() {
        var loanBriefId = $("#LoanBriefId").val();
        var docId = $("#sl_Exception").val();
        if (docId == 0) {
            App.ShowErrorNotLoad('Vui lòng chọn lý do');
            return;
        }
        var docName = $("#sl_Exception option:selected").text();
        var childDocName = "";
        var childDocId = 0;

        var money = 0;
        if (docId == ExceptionRoot.DK_khac_quy_dinh || docId == ExceptionRoot.CT_khac_quy_dinh || docId == ExceptionRoot.Thieu_chung_tu) {
            if ($("#sl_ExceptionChild").val() == 0) {
                App.ShowErrorNotLoad('Vui lòng chọn lý do chi tiết');
                return;
            }
            childDocId = $("#sl_ExceptionChild").val();
            childDocName = $("#sl_ExceptionChild option:selected").text();

        }
        else if (docId == ExceptionRoot.Vuot_ti_le) {
            if ($("#txtLoanAmount").val() == "" || $("#txtLoanAmount").val() == 0) {
                App.ShowErrorNotLoad('Vui lòng nhập số tiền cho vay');
                return;
            }
            money = $("#txtLoanAmount").val().replace(/,/g, '');
        }

        var note = CKEDITOR.instances['content'].getData();
        if (note == "" || note == undefined) {
            App.ShowErrorNotLoad('Vui lòng nhập nội dung đề xuất ngoại lệ');
            return;
        }
        if (childDocId == null)
            childDocId = 0;
        var formData = {
            LoanBriefId: parseInt(loanBriefId),
            Note: note,
            DocId: parseInt(docId),
            DocName: docName,
            ChildDocId: parseInt(childDocId),
            ChildDocName: childDocName,
            Money: parseFloat(money)
        };
        console.log(formData);
        LoanBriefHubModuleJS.ProposeExceptionsPost(formData);
    }
    function ChangeOption(val) {

        if (val == ExceptionRoot.DK_khac_quy_dinh || val == ExceptionRoot.CT_khac_quy_dinh || val == ExceptionRoot.Thieu_chung_tu) {
            $('#disException').css("display", "");
            $('#disMoney').css("display", "none");
            $.ajax({
                url: "/Hub/GetListDocumentExceptions",
                type: 'GET',
                data: { parentId: val },
                success: function (data) {
                    if (data.status == 1 && data.data.length > 0) {
                        var html = `<option value="0">Chọn lý do chi tiết</option>`;
                        for (var i = 0; i < data.data.length; i++) {
                            html += `<option value="${data.data[i].id}">${data.data[i].name}</option>`;
                        }
                        if (html != '')
                            htmlSelect = html;
                        $("#sl_ExceptionChild").html(html);
                        $("#sl_ExceptionChild").select2({
                            placeholder: "Lý do chi tiết"
                        });
                    }

                }
            });
        }
        else if (val == ExceptionRoot.Vuot_ti_le) {
            $("#disException").css("display", "none");
            $("#disMoney").css("display", "block");
        } else {
            $("#disException").css("display", "none");
            $("#disMoney").css("display", "none");
        }


    }
</script>
