﻿@using LOS.Common.Extensions
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = ViewBag.User as LOS.DAL.DTOs.UserDetail;
    var ListProvince = ViewBag.ListProvince as List<LOS.DAL.DTOs.ProvinceDetail>;
}
<link href="~/css/form.css?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS" rel="stylesheet" />
<style>
    #dtLoanBrief tbody {
        padding: 0 !important;
    }

    #linkName:hover {
        text-decoration: none !important;
    }

    .filter {
        float: left;
        margin-top: 30px;
        height: 40px;
        margin-bottom: 0px;
    }

    .filterSpan {
        font-family: 'Poppins Bold', 'Poppins Regular', 'Poppins', sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 12px;
        color: #6C7293;
    }

    .marginleft {
        margin-left: 25px;
    }

    .filter-active {
        border-bottom: solid 2px #6C7293;
    }

    .filter-a {
        cursor: pointer;
    }

    .filter-border-button {
        border-bottom: 2px solid #716aca;
    }

    .custom-table-tima > .m-datatable__table > .m-datatable__head .m-datatable__row {
        height: 50px !important;
    }
</style>
@*@await Component.InvokeAsync("Breadcrumb", new { ModuleName = "LOAN_BRIEF_MANAGER" })*@
<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head" style="height: 40px !important;">
            <div class="m-portlet__head-caption">
            </div>
        </div>
        <div class="m-portlet__body">
            <!--begin: Search Form -->
            <div class="m-form m-form--label-align-right m--margin-bottom-30">
                <div class="row align-items-center">
                    <div class="col-xl-12 order-2 order-xl-1">
                        <div class="form-group m-form__group row align-items-center">
                            <div class="col-md-2">
                                <div class="form-group m-form__group">
                                    <div class="m-input-icon m-input-icon--left">
                                        <input type="text" class="form-control m-input inputsearch" placeholder="Họ tên" id="filterName">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group m-form__group">
                                    <div class="m-input-icon m-input-icon--left">
                                        <input type="text" class="form-control m-input inputsearch" placeholder="Số điện thoại" id="filterPhone">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group m-form__group">
                                    <select class="form-control m-select2" id="filterProvince">
                                        @if (ListProvince != null && ListProvince.Count > 0)
                                        {
                                            <option value="0">--Tất cả--</option>
                                            foreach (var item in ListProvince)
                                            {
                                                <option value="@item.ProvinceId">@item.Name</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!--end: Search Form -->
            <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                <div class="row align-items-center">
                    <div class="col-xl-9 order-2 order-xl-1">
                        <div class="form-group m-form__group row align-items-center">
                            <div class="col-md-3">
                                <div class="form-group m-form__group">
                                    <div class="m-input-icon m-input-icon--left">
                                        <span style="font-family: 'Poppins Bold', 'Poppins Regular', 'Poppins', sans-serif;font-weight: 700;font-style: normal;color: #6C7293;">Danh sách liên hệ khách hàng</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <div class="form-group m-form__group">
                                    <div class="m-form__control">
                                        <a href="javascript:;" id="btnCreate" class="btn btn-tima-default" onclick="ContactCustomerModule.Create(0)">
                                            <i class="fa fa-plus"></i>
                                            Tạo liên hệ
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr style="color: #333333;" />
            <!--begin: Datatable -->
            <table class="m-datatable__table dtform" width="100%" id="dtContactCustomer"></table>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="~/js/LoanBrief/AddressHouseholdModuleJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/LoanBrief/MotobikeInfomationModuleJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/LoanBrief/WorkInformationModuleJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/CommonModalJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/CareSoftModule.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/smartdailer/finessenongadget.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/smartdailer/finesseC2CModule.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>

    <script src="~/js/ContactCustomer/ContactCustomerModule.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            ContactCustomerModule.InitData(@user.GroupId, @user.TypeCallService);
            ContactCustomerModule.Init();
        });
    </script>
}

<style>
    div.dropdown-menu.open {
        max-height: 314px !important;
        overflow: hidden;
    }

    ul.dropdown-menu.inner {
        max-height: 260px !important;
        overflow-y: auto;
    }
</style>