﻿@model LOS.WebApp.Models.ContactCustomer.ContactCustomerViewModel
@{
    ViewData["Title"] = "Init";
    Layout = null;
    var user = ViewBag.User as LOS.DAL.DTOs.UserDetail;
    var ListProvince = ViewBag.ListProvince as List<LOS.DAL.DTOs.ProvinceDetail>;
    var ListJobs = ViewBag.ListJobs as List<LOS.DAL.DTOs.JobDetail>;
    var ListBrandProduct = ViewBag.ListBrandProduct as List<LOS.DAL.DTOs.BrandProductDetail>;
}
<style>
    .custom-m-boder-box {
        border: 1px solid rgba(108, 114, 147, 1) !important;
    }

    .cus-info-header {
        border-bottom: 1px solid #e9ecef;
        padding: 10px;
    }

    #formInitContactCustomer .select2-container--default .select2-selection--single .select2-selection__rendered {
        padding: 0.52rem 1rem;
        border: 1px solid rgba(108, 114, 147, 1) !important;
    }

    #formInitContactCustomer .select2-container--default .select2-selection--single {
        border-bottom: none !important;
    }

    select.form-control:not([size]):not([multiple]) {
        height: unset;
    }

    .m-form.m-form--group-seperator-dashed .m-form__group {
        border-bottom: none;
    }

    .m-form.m-form--group-seperator-dashed .m-form__group {
        padding-bottom: 10px;
        padding-top: 5px;
    }

    .modal-open .select2-dropdown {
        z-index: 10060;
    }

    .btn-tima {
        background-color: rgba(108, 114, 147, 1);
        border-color: rgba(108, 114, 147, 1);
        color: #fff;
    }

    .error-notify {
        margin-top: 0px !important;
    }

    .cus-form-control {
        padding: 0.45rem 1rem;
        border: 1px solid rgba(108, 114, 147, 1) !important;
        font-family: none;
        border-radius: 0px;
    }

    #formAddLoanBrief .white {
        background: #f2f3f8 !important;
    }
</style>
<div class="modal-content">
    <div class="modal-header" style="padding: 15px;border-bottom:none !important;margin-bottom:-30px;">
        <div class="m-portlet__head-tools">
            <ul class="nav nav-tabs m-tabs-line m-tabs-line--primary m-tabs-line--2x" role="tablist">
                <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link active" data-toggle="tab" href="#" role="tab">
                        <i class="fa fa-plus"></i>
                        @if (Model.ContactId > 0)
                        {
                            <span>Thông tin liên hệ khách hàng @Model.FullName</span>
                        }
                        else
                        {
                            <span>Tạo liên hệ</span>
                        }

                    </a>
                </li>
            </ul>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: 0px">
            <span aria-hidden="true">
                &times;
            </span>
        </button>
    </div>
    <form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" action="/ContactCustomer/InitContactCustomer" id="formInitContactCustomer">
        <div class="modal-body" style="padding: 25px 40px;">
            <div class="m-portlet__body">
                <div class="tab-content">
                    <div class="tab-pane active" id="CreateLoan" role="tabpanel">
                        <hr />
                        <div class="m-section__content">
                            <div style="margin-bottom: 5px; font-weight:bold">
                                <span>
                                    Cập nhật thông tin liên hệ khách hàng
                                </span>
                                <i class="la la-angle-double-right" style="font-size: 15px;"></i>
                            </div>
                            <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
                                <div class="custom-m-boder-box m-demo__preview">
                                    <input type="hidden" value="@Model.ContactId" name="ContactId" />
                                    <div class="form-group m-form__group row">
                                        <label for="example-email-input" class="col-2 col-form-label">
                                            Họ tên:
                                        </label>
                                        <div class="col-4 box-group">
                                            <input class="form-control cus-form-control m-input" type="text" name="FullName" value="@Model.FullName">
                                        </div>
                                        <label for="example-email-input" class="col-2 col-form-label">
                                            Số điện thoại:
                                        </label>
                                        <div class="col-4">
                                            @if (Model.ContactId > 0)
                                            {
                                                <input class="form-control cus-form-control m-input numberOnly" type="text" name="Phone" disabled value="@Model.Phone">
                                            }
                                            else
                                            {
                                                <input class="form-control cus-form-control m-input numberOnly" type="text" name="Phone" value="@Model.Phone">
                                            }
                                        </div>
                                    </div>

                                    <div class="form-group m-form__group row">
                                        <label for="example-email-input" class="col-2 col-form-label">
                                            Thành phố:
                                        </label>
                                        <div class="col-4 m-form__group-sub">
                                            <select class="form-control cus-form-control m-select2" id="sl_province_addresshousehold" name="ProvinceId" onchange="AddressHouseholdModuleJS.GetDistrict(this.value, 0)">
                                                @if (ListProvince != null && ListProvince.Count > 0)
                                                {
                                                    <option></option>
                                                    foreach (var item in ListProvince)
                                                    {
                                                        if (item.ProvinceId == Model.ProvinceId)
                                                        {
                                                            <option value="@item.ProvinceId" selected="selected">
                                                                @item.Name
                                                            </option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@item.ProvinceId">@item.Name</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <label for="example-email-input" class="col-2 col-form-label">
                                            Quận/ huyện:
                                        </label>
                                        <div class="col-4 box-group m-form__group-sub">
                                            <select class="form-control cus-form-control m-input m-input--square" id="sl_district_addresshousehold" name="DistrictId" onchange="AddressHouseholdModuleJS.GetWard(this.value, 0)">
                                                <option></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <label for="example-email-input" class="col-2 col-form-label">
                                            Phường/ xã:
                                        </label>
                                        <div class="col-4">
                                            <select class="form-control cus-form-control m-select2" id="sl_ward_addresshousehold" name="WardId" aria-hidden="true">
                                                <option></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <label for="example-email-input" class="col-2 col-form-label">
                                            Nghề nghiệp:
                                        </label>
                                        <div class="col-4">
                                            <select class="form-control cus-form-control m-select2" id="sl_jobId" name="JobId">
                                                @if (ListJobs != null && ListJobs.Count > 0)
                                                {
                                                    <option></option>
                                                    foreach (var item in ListJobs)
                                                    {
                                                        <!option value="@item.JobId" @(item.JobId == Model.JobId ? "selected=\"selected\"" : "")>@item.Name</!option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <label for="example-email-input" class="col-2 col-form-label">
                                            Thu nhập:
                                        </label>
                                        <div class="col-4">
                                            <input class="form-control cus-form-control m-input inputAmountVND" style="text-align: right;" type="text" name="Income" id="txtTotalIncome" value="@(Model.Income ==null ? "0" : Model.Income.Value.ToString("##,#"))">
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <label for="example-email-input" class="col-2 col-form-label">
                                            Có xe hay không:
                                        </label>
                                        <div class="col-4">
                                            <div class="m-radio-inline">
                                                <label class="m-radio">
                                                    <input type="radio" name="HaveCarsOrNot" @(Model.HaveCarsOrNot == false ? "checked=\"checked\"" : "") value="@false">
                                                    Không
                                                    <span></span>
                                                </label>
                                                <label class="m-radio">
                                                    <input type="radio" @(Model.HaveCarsOrNot == true ? "checked=\"checked\"" : "") name="HaveCarsOrNot" value="@true">
                                                    Có
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group m-form__group row">
                                        <label for="example-email-input" class="col-2 col-form-label">
                                            Hãng xe:
                                        </label>
                                        <div class="col-4">
                                            <select class="form-control cus-form-control m-select2" id="sl_brand_product" name="BrandProductId" onchange="MotobikeInfomationModuleJS.GetProduct(this.value, 0)">
                                                @if (ListBrandProduct != null && ListBrandProduct.Count > 0)
                                                {
                                                    <option></option>
                                                    foreach (var item in ListBrandProduct)
                                                    {
                                                        <!option value="@item.Id" @(Model.BrandProductId == item.Id ? "selected=\"selected\"" : "")>@item.Name</!option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <label for="example-email-input" class="col-2 col-form-label">
                                            Tên xe:
                                        </label>
                                        <div class="col-4">
                                            <select class="form-control cus-form-control m-select2" id="sl_product_name" name="ProductId" aria-hidden="true">
                                                <option></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <hr />
                        <div style="text-align:center;">
                            <button type="button" class="btn btn-tima" onclick="ContactCustomerModule.Save(event)" id="btnSubmit" style="padding: 10px 45px;">
                                Lưu thông tin
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>


<script type="text/javascript">
    $(document).ready(function () {
    AddressHouseholdModuleJS.Init();
    WorkInformationModuleJS.Init();
    MotobikeInfomationModuleJS.Init();
    MotobikeInfomationModuleJS.GetProduct('@Model.BrandProductId', '@Model.ProductId');
    AddressHouseholdModuleJS.GetDistrict('@Model.ProvinceId', '@Model.DistrictId');
    AddressHouseholdModuleJS.GetWard('@Model.DistrictId', '@Model.WardId');
    MotobikeInfomationModuleJS.GetProduct('@Model.BrandProductId', '@Model.ProductId');
    App.LibraryMoney();
    App.ValidCustom();
             $('#txtTotalIncome').keypress(function (event) {
            if (event.which != 8 && isNaN(String.fromCharCode(event.which))) {
                event.preventDefault(); //stop character from entering input
            }

        });
});
</script>



