﻿@{
    var LstStatusAff = ViewBag.LstStatusAff;
    ViewData["Title"] = "Quản lý đơn vay giới thiệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Quản lý đơn vay giới thiệu
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <!--begin: Search Form -->
            <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                <div class="row align-items-center">
                    <div class="col-xl-8 order-2 order-xl-1">
                        <div class="form-group m-form__group row align-items-center">
                            <div class="col-md-3">
                                <div class="form-group m-form__group">
                                    <label>
                                        Ngày tạo
                                    </label>
                                    <div class="m-form__control">
                                        <input type="text" class="form-control" id="filtercreateTime" readonly="" placeholder="từ ngày đến ngày">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group m-form__group">
                                    <label>
                                        Tìm kiếm
                                    </label>
                                    <div class="m-input-icon m-input-icon--left">
                                        <input type="text" class="form-control m-input" placeholder="Tìm kiếm..." id="filterName">
                                        <span class="m-input-icon__icon m-input-icon__icon--left">
                                            <span>
                                                <i class="la la-search"></i>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end: Search Form -->
            <!--begin: Datatable -->
            <table class="m-datatable" width="100%"></table>
        </div>
    </div>
</div>
<div class="modal fade" id="m_modal_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" id="modelUserMmo">

    </div>
</div>
@section Scripts
    {
    <script src="/js/App.js" type="text/javascript"></script>
    <script src="~/js/ReporLoanRegisterOfUserMmo.js"></script>
}