﻿.error-notify{
    color: red;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.required-red {
    color: red;
}
.box-right-open {
    margin-left: 250px;
}
.box-right-close {
    margin-left: 80px;
}

.required-detail {
    color: #34bfa3;
}

/* Extra small devices (less than 768px) */
@media (max-width: 767px) {
    #InitLoanBriefBody{
        max-width: 100% !important;
    }
    .modal .modal-content .modal-body{
        padding: 0px !important;
    }

    .div_tls_statistical{
        text-align: left !important;
    }
}
@media (min-width: 767px) {
   
}


/* Small devices (less than 992px) */
@media (max-width: 991px) {
   
}

/* Medium devices (less than 1200px) */
@media (max-width: 1199px) {
    #InitLoanBriefBody {
        max-width: 70%;
    }
   
}
@media only screen and (max-width: 480px) {
    .box-right-open {
        margin-left: 0px;
    }

    .box-right-close {
        margin-left: 0px;
    }
}
