﻿.inputsearch {
    font-size: 14px !important;
    color: #9CA0B6;
    font-family: 'Poppins Italic', 'Poppins Regular', 'Poppins', sans-serif;
    font-weight: 400;
    font-style: italic;
    border-width: 0px;
    border-bottom: solid 1px;
    border-radius: 0 !important;
    text-align: left;
    padding-left: 0 !important;
}

.m-datatable__table {
    font-family: Arial !important;
}

.select2-selection__placeholder {
    font-style: italic;
    font-family: 'Poppins Italic', 'Poppins Regular', 'Poppins', sans-serif;
    font-weight: 400;
    font-style: italic;
    color: #9CA0B6;
}

.select2-container--default .select2-selection--multiple, .select2-container--default .select2-selection--single {
    border: none !important;
    border-bottom: solid 1px !important;
    border-radius: 0 !important;
    color: #9CA0B6;
}

.selectbox {
    width: 11% !important;
    margin-right: 1%;
}

.select2-container {
    width: 100% !important;
}

.chuyen-ho-tro {
    cursor: pointer;
    border-width: 0px;
    color: white;
    background-color: rgba(108, 114, 147, 1);
    width: 142px;
    height: 38px;
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
}

.dtform span {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(108, 114, 147);
    font-size: 13px;
    letter-spacing: normal;
}

.dtform .m-datatable__cell {
    vertical-align: middle;
    padding: 10px 10px;
    font-size: 1rem;
}

.dtform .btn-action {
    width: 30px !important;
    height: 30px !important;
    background-color: white !important;
    border-color: #6C7293;
    margin: 3px !important;
}

    .dtform .btn-action i {
        font-size: 15px !important;
        color: #6C7293;
    }

.dtform .m-checkbox {
    padding-left: 20px !important;
    margin-bottom: 0px !important;
    /*margin-left: 35%;*/
}

/*.dtform .m-checkbox span {
    margin-left: 14px;
}*/
.blockMsg{
    background: none !important;
    border: none !important;
}
.m-blockui {
    background: none !important;
}
    .m-blockui span{
        color: white !important;
    }

.inputCreate {
    font-size: 14px !important;
    color: black;
    font-family: 'Poppins Italic', 'Poppins Regular', 'Poppins', sans-serif;
    font-weight: 400;
    font-style: italic;
    border-width: 0px;
    border-bottom: solid 1px;
    border-radius: 0 !important;
    text-align: left;
    padding-left: 15px !important;
}

.dtform .fullname {
    color: #03071E;
    font-size:13px;
    font-weight:bold;
}
.dtform .countcall {
    color: #999999 !important;
    font-size:12px !important;
}
.dtform .district {
    color: #03071E !important;
    font-size: 13px !important;
}
.dtform .loanBriefId,.datetime {
    color: #03071E !important;
    font-size: 13px !important;
}
.dtform .box-call {
    width:30px !important;
}
.dtform .item-icon-phone {
    background: #304BE2;
    color: #ffffff;
}
.dtform .network-home {
    color: #221F1F;
    font-size: 12px;
}
.dtform .money {
    color: #EE4323;
}
.detail-status-telesales {
    color: #808080 !important;
    font-size: 10px !important;
}
.selectbox2 {
    width: 14% !important;
    margin-right: 1%;
}