﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  /*margin-bottom: 60px;*/
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

.border-left-black {
	border-left: 1px solid #2a2a2a;
}

.border-right-black {
	border-right: 1px solid #2a2a2a;
}

.border-blr {
	border-bottom: 1px solid #d1d1d1 !important;
	border-left: 1px solid #d1d1d1 !important;
	border-right: 1px solid #d1d1d1 !important;
}

.border-l {	
	border-left: 1px solid #d1d1d1 !important;
}

.border-all {
	border: 1px solid #d1d1d1 !important;
}

.bound {
	color: #ffb822;
}

.district {
	color: #505050;
	font-size: 14px;
	padding:0px;
	margin:0px;
}

.province {
	color: #808080;
	font-size: 12px;
	padding: 0px;
	margin: 0px;
}