﻿@{
    ViewData["Title"] = "Chi tiết Log Request AI";
    Layout = null;
}
<style>
    .span-titel-custom {
        font-weight: 900;
    }
</style>
<div class="modal fade" id="modal_detail_logrequestai" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="max-width: 1550px;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="header_detail_logrequestai">Chi tiết Log Request AI </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-12 order-2 order-xl-1 row" id="tbl_detail_logrequestai"></div>
            </div>       
        </div>
    </div>
</div>

