﻿@model LOS.DAL.DTOs.GroupDetail
@{
    Layout = null;
}
@using LOS.Common.Extensions

@if (Model.ListPermissionAction != null && Model.ListPermissionAction.Count > 0)
{
    foreach (var item in Model.ListPermissionAction)
    {
        <div class="action-value-container" style="margin-bottom:5px;">
            <div class="row" style="margin:0;">
                <div class="m-input-icon m-input-icon--right col-lg-4" style="padding-right:0!important;">
                    <select class="form-control m-bootstrap-select m_selectpicker col-lg-12 float-left property">
                        <option value="0">
                            Chọn trạng thái đơn
                        </option>
                        @foreach (var property in ViewBag.LoanStatus)
                        {
                            if (item.LoanStatus == property.Status)
                            {
                                <option selected="selected" value="@(property.Status)">
                                    @property.Description
                                </option>
                            }
                            else
                            {
                                <option value="@(property.Status)">
                                    @property.Description
                                </option>
                            }

                        }
                    </select>
                </div>
                <div class="m-input-icon m-input-icon--right col-lg-7" style="padding-right:0!important;">
                    <div class="valueContainer">
                        <div class="m-checkbox-inline" style="margin-top: 7px; float: left;">
                            <label class="m-checkbox">
                                <input type="checkbox" @(item.Value > 0 && ((int)EnumActionUser.Edit & item.Value.Value) == (int)EnumActionUser.Edit ? "checked=\"checked\"" : "") value="@EnumActionUser.Edit.GetHashCode()">Sửa đơn vay
                                <span></span>
                            </label>
                            <label class="m-checkbox">
                                <input type="checkbox" @(item.Value > 0 && ((int)EnumActionUser.Script & item.Value.Value) == (int)EnumActionUser.Script ? "checked=\"checked\"" : "") value="@EnumActionUser.Script.GetHashCode()"> Kịch bản
                                <span></span>
                            </label>
                            <label class="m-checkbox">
                                <input type="checkbox" @(item.Value > 0 && ((int)EnumActionUser.PushLoan & item.Value.Value) == (int)EnumActionUser.PushLoan ? "checked=\"checked\"" : "") value="@EnumActionUser.PushLoan.GetHashCode()"> Đẩy đơn
                                <span></span>
                            </label>
                            <label class="m-checkbox">
                                <input type="checkbox" @(item.Value > 0 && ((int)EnumActionUser.BackLoan & item.Value.Value) == (int)EnumActionUser.BackLoan ? "checked=\"checked\"" : "") value="@EnumActionUser.BackLoan.GetHashCode()"> Trả đơn
                                <span></span>
                            </label>
                            <label class="m-checkbox">
                                <input type="checkbox" @(item.Value > 0 && ((int)EnumActionUser.Cancel & item.Value.Value) == (int)EnumActionUser.Cancel ? "checked=\"checked\"" : "") value="@EnumActionUser.Cancel.GetHashCode()"> Hủy đơn
                                <span></span>
                            </label>
                            <label class="m-checkbox">
                                <input type="checkbox" @(item.Value > 0 && ((int)EnumActionUser.Upload & item.Value.Value) == (int)EnumActionUser.Upload ? "checked=\"checked\"" : "") value="@EnumActionUser.Upload.GetHashCode()"> Upload
                                <span></span>
                            </label>
                            <label class="m-checkbox">
                                <input type="checkbox" @(item.Value > 0 && ((int)EnumActionUser.ComfirmCancel & item.Value.Value) == (int)EnumActionUser.ComfirmCancel ? "checked=\"checked\"" : "") value="@EnumActionUser.ComfirmCancel.GetHashCode()"> Phê duyệt hủy
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1" style="padding-right: 0px;">
                    <a href="javascript:;" class="btn btn-danger m-btn m-btn--icon btn-sm m-btn--icon-only" style="float: right; margin-right: 10px; margin-top: 5px;" onclick="GroupPermissionJS.RemoveActionPermission(this)">
                        <i class="la la-trash"></i>
                    </a>
                </div>
            </div>
        </div>
    }
}
else
{
    <div class="action-value-container" style="margin-bottom:5px;">
        <div class="row" style="margin:0;">
            <div class="m-input-icon m-input-icon--right col-lg-4" style="padding-right:0!important;">
                <select class="form-control m-bootstrap-select m_selectpicker col-lg-12 float-left property">
                    <option value="0">
                        Chọn trạng thái đơn
                    </option>
                    @foreach (var property in ViewBag.LoanStatus)
                    {
                        <option value="@(property.Status)">
                            @property.Description
                        </option>
                    }
                </select>
            </div>
            <div class="m-input-icon m-input-icon--right col-lg-7" style="padding-right:0!important;">
                <div class="valueContainer">
                    <div class="m-checkbox-inline" style="margin-top: 7px; float: left;">
                        <label class="m-checkbox">
                            <input type="checkbox" value="@EnumActionUser.Edit.GetHashCode()">Sửa đơn vay
                            <span></span>
                        </label>
                        <label class="m-checkbox">
                            <input type="checkbox" value="@EnumActionUser.Script.GetHashCode()"> Kịch bản
                            <span></span>
                        </label>
                        <label class="m-checkbox">
                            <input type="checkbox" value="@EnumActionUser.PushLoan.GetHashCode()"> Đẩy đơn
                            <span></span>
                        </label>
                        <label class="m-checkbox">
                            <input type="checkbox" value="@EnumActionUser.BackLoan.GetHashCode()"> Trả đơn
                            <span></span>
                        </label>
                        <label class="m-checkbox">
                            <input type="checkbox" value="@EnumActionUser.Cancel.GetHashCode()"> Hủy đơn
                            <span></span>
                        </label>
                        <label class="m-checkbox">
                            <input type="checkbox" value="@EnumActionUser.Upload.GetHashCode()"> Upload
                            <span></span>
                        </label>
                        <label class="m-checkbox">
                            <input type="checkbox" value="@EnumActionUser.ComfirmCancel.GetHashCode()"> Phê duyệt hủy
                            <span></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-lg-1" style="padding-right: 0px;">
                <a href="javascript:;" class="btn btn-danger m-btn m-btn--icon btn-sm m-btn--icon-only" style="float: right; margin-right: 10px; margin-top: 5px;" onclick="GroupPermissionJS.RemoveActionPermission(this)">
                    <i class="la la-trash"></i>
                </a>
            </div>
        </div>
    </div>
}
