﻿@model LOS.DAL.DTOs.GroupDetail
@{
    Layout = null;
}
@if (Model.ListCondition != null && Model.ListCondition.Count > 0)
{
    for (var i = 0; i < Model.ListCondition.Count; i++)
    {
        var item = Model.ListCondition[i];
        <div class="condition-value-container" data-index="@i" style="margin-bottom:5px;">
            <div class="row" style="margin:0;">
                <div class="m-input-icon m-input-icon--right col-lg-4" style="padding-right:0!important;">
                    <select class="form-control m-bootstrap-select m_selectpicker col-lg-12 float-left property" onchange="GroupPermissionJS.OnConditionPropertyChanged(this);">
                        <option value="0">
                            Chọn thuộc tính
                        </option>
                        @foreach (var property in ViewBag.Properties)
                        {
                            if (property.PropertyId == item.PropertyId)
                            {
                                <option selected="selected" value="@(property.PropertyId)"> @property.Name</option>
                            }
                            else
                            {
                                <option value="@(property.PropertyId)"> @property.Name</option>
                            }
                        }
                    </select>
                </div>
                <div class="m-input-icon m-input-icon--right col-lg-2" style="padding-right:0!important;">
                    <select class="form-control m-bootstrap-select m_selectpicker col-lg-12 float-left conditionOperator">
                        <!option value="EQUAL" @(item.Operator == "EQUAL" ? "selected=\"selected\"" : "")>=</!option>
                        <!option value="LESS_THAN" @(item.Operator == "LESS_THAN" ? "selected=\"selected\"" : "")>&lt;</!option>
                        <!option value="LESS_THAN_EQUAL" @(item.Operator == "LESS_THAN_EQUAL" ? "selected=\"selected\"" : "")>&lt;=</!option>
                        <!option value="GREATHER_THAN" @(item.Operator == "GREATHER_THAN" ? "selected=\"selected\"" : "")>></!option>
                        <!option value="GREATHER_THAN_EQUAL" @(item.Operator == "GREATHER_THAN_EQUAL" ? "selected=\"selected\"" : "")>>=</!option>
                        <!option value="IN" @(item.Operator == "IN" ? "selected=\"selected\"" : "")>Chứa</!option>
                        <!option value="NOT_IN" @(item.Operator == "NOT_IN" ? "selected=\"selected\"" : "")>Không chứa</!option>
                    </select>
                </div>
                <div class="m-input-icon m-input-icon--right col-lg-5" style="padding-right:0!important;">
                    <div class="valueContainer">
                        <!-- Phụ thuộc vào type để generate đúng loại -->
                        @await Component.InvokeAsync("Property", new { PropertyId = item.PropertyId, value = item.Value })
                    </div>
                </div>
                <div class="m-input-icon m-input-icon--right col-lg-1" style="padding-right:0!important;">
                    <a href="javascript:;" class="btn btn-danger m-btn m-btn--icon btn-sm m-btn--icon-only" style="float: right; margin-right: 10px; margin-top: 5px;" onclick="GroupPermissionJS.RemoveConditionProperty(this)">
                        <i class="fa fa-trash"></i>
                    </a>
                </div>
            </div>
        </div>
    }
}
else
{
    <div class="condition-value-container" data-index="0" style="margin-bottom:5px;">
        <div class="row" style="margin:0;">
            <div class="m-input-icon m-input-icon--right col-lg-4" style="padding-right:0!important;">
                <select class="form-control m-bootstrap-select m_selectpicker col-lg-12 float-left property" onchange="GroupPermissionJS.OnConditionPropertyChanged(this);">
                    <option value="0">
                        Chọn thuộc tính
                    </option>
                    @foreach (var property in ViewBag.Properties)
                    {
                        <option value="@(property.PropertyId)">
                            @property.Name
                        </option>
                    }
                </select>
            </div>
            <div class="m-input-icon m-input-icon--right col-lg-2" style="padding-right:0!important;">
                <select class="form-control m-bootstrap-select m_selectpicker col-lg-12 float-left conditionOperator">
                    <option value="EQUAL">=</option>
                    <option value="LESS_THAN">&lt;</option>
                    <option value="LESS_THAN_EQUAL">&lt;=</option>
                    <option value="GREATHER_THAN">></option>
                    <option value="GREATHER_THAN_EQUAL">>=</option>
                    <option value="IN">Chứa</option>
                    <option value="NOT_IN">Không chứa</option>
                </select>
            </div>
            <div class="m-input-icon m-input-icon--right col-lg-5" style="padding-right:0!important;">
                <div class="valueContainer">
                    <!-- Phụ thuộc vào type để generate đúng loại -->
                </div>
            </div>
            <div class="m-input-icon m-input-icon--right col-lg-1" style="padding-right:0!important;">
                <a href="javascript:;" class="btn btn-danger m-btn m-btn--icon btn-sm m-btn--icon-only" style="float: right; margin-right: 10px; margin-top: 5px;" onclick="GroupPermissionJS.RemoveConditionProperty(this)">
                    <i class="la la-trash"></i>
                </a>
            </div>
        </div>
    </div>
}
