﻿@model LOS.WebApp.Models.LoanbriefViewModel
@{
    var ListProvinceSupport = ViewBag.ListProvinceSupport as List<LOS.DAL.DTOs.ProvinceDetail>;
    var user = ViewBag.User as LOS.DAL.DTOs.UserDetail;
    var ListWaterSupplier = Enum.GetValues(typeof(LOS.Common.Extensions.EnumWaterSupplier)).Cast<LOS.Common.Extensions.EnumWaterSupplier>();
    var ListLoanPurpose = LOS.WebApp.Helpers.ExtensionHelper.GetEnumToList(typeof(LOS.Common.Extensions.EnumLoadLoanPurpose));
}
<div class="m-section__content">
    <div style="margin-bottom: 5px; font-weight:bold">
        <span>
            Địa chỉ đang ở
        </span>
        <i class="la la-angle-double-right" style="font-size: 15px;"></i>
    </div>
    <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
        <input type="hidden" name="LoanBriefResidentModel.LoanBriefResidentId" value="@Model.LoanBriefResidentModel.LoanBriefResidentId" />
        <div class="custom-m-boder-box m-demo__preview">
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Thành phố:
                </label>
                <div class="col-4 box-group m-form__group-sub">
                    @if (!ViewBag.ChangeAddressHome)
                    {
                        <select class="form-control cus-form-control  m-select2" id="sl_province_addresshome" name="ProvinceId">
                            <option value="@Model.ProvinceId" selected="selected">
                                @Model.ProvinceName
                            </option>
                        </select>
                    }
                    else
                    {
                        <select class="form-control cus-form-control  m-select2" id="sl_province_addresshome" name="ProvinceId" onchange="AddressHomeModuleJS.GetDistrict(this.value, 0)">
                            @if (ListProvinceSupport != null && ListProvinceSupport.Count > 0)
                            {
                                <option></option>
                                foreach (var item in ListProvinceSupport)
                                {
                                    if (item.ProvinceId == Model.ProvinceId)
                                    {
                                        <option value="@item.ProvinceId" selected="selected">
                                            @item.Name
                                        </option>
                                    }
                                    else
                                    {
                                        <option value="@item.ProvinceId">@item.Name</option>
                                    }
                                }
                            }
                        </select>
                    }

                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Quận/ huyện:
                </label>
                <div class="col-4 box-group m-form__group-sub">
                    @if (!ViewBag.ChangeAddressHome)
                    {
                        <select class="form-control cus-form-control  m-select2" id="sl_district_addresshome" name="DistrictId">
                            <option></option>
                            <option value="@Model.DistrictId" selected="selected">
                                @Model.DistrictName
                            </option>
                        </select>
                    }
                    else
                    {
                        <select class="form-control cus-form-control  m-select2" id="sl_district_addresshome" name="DistrictId" tabindex="3" onchange="AddressHomeModuleJS.GetWard(this.value, 0)">
                            <option></option>
                        </select>
                    }

                </div>
            </div>

            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Phường/ xã:
                </label>
                <div class="col-4 box-group">
                   @* @if (!ViewBag.ChangeAddressHome)
                    {
                        <select class="form-control cus-form-control  m-select2" id="sl_ward_addresshome" name="WardId">
                            <option></option>
                            <option value="@Model.WardId" selected="selected">
                                @Model.WardName
                            </option>
                        </select>
                    }
                    else
                    {*@
                        <select class="form-control cus-form-control  m-select2" id="sl_ward_addresshome" name="WardId" tabindex="4" aria-hidden="true">
                            <option></option>
                        </select>
                    @*}*@
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Hình thức cư trú:
                </label>
                <div class="col-4 box-group">
                    <select class="form-control cus-form-control m-select2" id="sl_TypeOwnerShip" name="LoanBriefResidentModel.ResidentType" tabindex="5" aria-hidden="true" onchange="LoancreditFormModuleJS.ShowProductDetail()">
                        <option></option>
                        <!option value="@LOS.Common.Extensions.EnumTypeofownership.KT1.GetHashCode()" @(Model.LoanBriefResidentModel.ResidentType == LOS.Common.Extensions.EnumTypeofownership.KT1.GetHashCode() ? "selected=\"selected\"" : "")>KT1</!option>
                        <!option value="@LOS.Common.Extensions.EnumTypeofownership.KT3.GetHashCode()" @(Model.LoanBriefResidentModel.ResidentType == LOS.Common.Extensions.EnumTypeofownership.KT3.GetHashCode() ? "selected=\"selected\"" : "")>KT3</!option>
                    </select>
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Thời gian sống
                </label>
                <div class="col-4">
                    <select class="form-control cus-form-control m-input m-input--square" name="LoanBriefResidentModel.LivingTime" id="sl_LivingTime">
                        <option></option>
                        <!option value="1" @(Model.LoanBriefResidentModel.LivingTime == 1 ? "selected=\"selected\"" : "")>Dưới 1 năm</!option>
                        <!option value="2" @(Model.LoanBriefResidentModel.LivingTime == 2 ? "selected=\"selected\"" : "")>1 -3 năm</!option>
                        <!option value="3" @(Model.LoanBriefResidentModel.LivingTime == 3 ? "selected=\"selected\"" : "")>3 - 10 năm</!option>
                        <!option value="4" @(Model.LoanBriefResidentModel.LivingTime == 4 ? "selected=\"selected\"" : "")>Hơn 10 năm</!option>
                        <!option value="5" @(Model.LoanBriefResidentModel.LivingTime == 5 ? "selected=\"selected\"" : "")>Dưới 6 tháng</!option>
                        <!option value="6" @(Model.LoanBriefResidentModel.LivingTime == 6 ? "selected=\"selected\"" : "")>6 tháng</!option>
                        <!option value="7" @(Model.LoanBriefResidentModel.LivingTime == 7 ? "selected=\"selected\"" : "")>Từ 7-12 tháng</!option>
                        <!option value="8" @(Model.LoanBriefResidentModel.LivingTime == 8 ? "selected=\"selected\"" : "")>Từ 12-36 tháng</!option>
                        <!option value="9" @(Model.LoanBriefResidentModel.LivingTime == 9 ? "selected=\"selected\"" : "")>Từ 36-72 tháng</!option>
                        <!option value="10" @(Model.LoanBriefResidentModel.LivingTime == 10 ? "selected=\"selected\"" : "")>Trên 72 tháng</!option>
                    </select>
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Mã hóa đơn điện:
                </label>
                <div class="col-4 box-group">
                    <input class="form-control cus-form-control m-input cus-input-script" style="background:none !important;" type="text" placeholder="Mã hóa đơn điện" name="LoanBriefResidentModel.BillElectricityId" value="@Model.LoanBriefResidentModel.BillElectricityId">
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Múc đích vay:
                </label>
                <div class="col-4 box-group">
                    <select class="form-control cus-form-control m-select2" id="sl_LoanPurpose" name="LoanPurpose" tabindex="5" aria-hidden="true">
                        <option></option>
                        @if (ListLoanPurpose != null && ListLoanPurpose.Count > 0)
                        {
                            <option></option>
                            @foreach (var item in ListLoanPurpose)
                            {
                                if (Convert.ToInt32(item.Value) == Model.LoanPurpose)
                                {
                                    <option value="@item.Value" selected="selected">
                                        @item.Text
                                    </option>
                                }
                                else
                                {
                                    <!option value="@item.Value" @(Convert.ToInt32(item.Value) == 2 ? "selected=\"selected\"" : "")>
                                        @item.Text
                                    </!option>
                                }
                            }
                        }
                    </select>
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Mã hóa đơn nước:
                </label>
                <div class="col-4 box-group">
                    <input class="form-control cus-form-control m-input cus-input-script" style="background:none !important;" type="text" placeholder="Mã hóa đơn nước" name="LoanBriefResidentModel.BillWaterId" value="@Model.LoanBriefResidentModel.BillWaterId">
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Nhà cung cấp:
                </label>
                <div class="col-4 box-group">
                    <select class="form-control cus-form-control m-select2" id="sl_water_supplier" name="LoanBriefQuestionScriptModel.WaterSupplier" tabindex="5" aria-hidden="true">
                        <option></option>
                        @if (ListWaterSupplier != null)
                        {
                            @foreach (var item in ListWaterSupplier)
                            {
                                if (LOS.Common.Helpers.ExtentionHelper.GetName((LOS.Common.Extensions.EnumWaterSupplier)item) == Model.LoanBriefQuestionScriptModel.WaterSupplier)
                                {
                                    <option selected="selected" value="@LOS.Common.Helpers.ExtentionHelper.GetName((LOS.Common.Extensions.EnumWaterSupplier)item)">@LOS.Common.Helpers.ExtentionHelper.GetDescription((LOS.Common.Extensions.EnumWaterSupplier)item)</option>
                                }
                                else
                                {
                                    <option value="@LOS.Common.Helpers.ExtentionHelper.GetName((LOS.Common.Extensions.EnumWaterSupplier)item)">@LOS.Common.Helpers.ExtentionHelper.GetDescription((LOS.Common.Extensions.EnumWaterSupplier)item)</option>
                                }
                            }
                        }
                    </select>
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Địa chỉ đang ở:
                </label>
                <div class="col-10">
                    <textarea class="form-control cus-form-control m-input" name="LoanBriefResidentModel.Address" id="txtHomeAddress" rows="3" placeholder="">@Model.LoanBriefResidentModel.Address</textarea>
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Địa chỉ trên CMT:
                </label>
                <div class="col-10">
                    <textarea class="form-control cus-form-control m-input" name="LoanBriefResidentModel.AddressNationalCard" id="txtHomeAddressNationalCard" rows="3" placeholder="">@Model.LoanBriefResidentModel.AddressNationalCard</textarea>
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Tọa độ KH chia sẻ
                </label>
                <div class="col-10">
                    <input class="form-control cus-form-control m-input" type="text" name="LoanBriefResidentModel.CustomerShareLocation" value="@Model.LoanBriefResidentModel.CustomerShareLocation">
                </div>
            </div>

            @if (ViewBag.PickLCT)
            {
                @*Bản đồ*@
                <div class="form-group m-form__group row-cus-script" style="text-align:center;">
                    <div class="col-12 cus-border-right box-cus-row">
                        <label class="col-form-label" style="font-weight: bold">
                            Địa chỉ nơi ở
                        </label>
                    </div>
                    <div class="col-12 box-cus-row">
                        <div>
                            <input class="form-control cus-form-control m-input cus-input-script" style="background:none !important;" type="text" placeholder="Địa chỉ nơi ở trên bản đồ" name="LoanBriefResidentModel.AddressGoogleMap" id="AddressGoogleMap" value="@(string.IsNullOrEmpty(Model.LoanBriefResidentModel.AddressGoogleMap) ? Model.LoanBriefResidentModel.Address : Model.LoanBriefResidentModel.AddressGoogleMap)">
                        </div>

                        <div class="row" style="margin-top: 10px">
                            <div class="col-3">
                                <button class="btn  btn-tima" type="button" style="padding: 7px 30px; width: 100%" onclick="GoogleMapModule.SearchLocationInit('#boxGoogleMapAddress', '#AddressGoogleMap', '#boxCoordinateAddress')">Bản đồ</button>
                            </div>
                            <div class="col-9">
                                <input class="form-control cus-form-control m-input cus-input-script" style="background:none !important;" type="text" name="LoanBriefResidentModel.AddressLatLng" value="@Model.LoanBriefResidentModel.AddressLatLng" placeholder="Kinh độ, vĩ độ" id="boxCoordinateAddress">
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px">
                            <div class="col-9"></div>
                            <div class="col-3">
                                <button class="btn btn-tima" type="button" style="padding: 7px 30px; width: 100%;" onclick="GoogleMapModule.HideGoogleMapAddressNew('#boxGoogleMapAddress')">Ẩn bản đồ</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group m-form__group row-cus-script" id="boxGoogleMapAddress" style="height: 500px; margin: 15px 0px; display: none">
                </div>
            }
            else
            {
                <input type="hidden" name="LoanBriefResidentModel.AddressGoogleMap" value="@(string.IsNullOrEmpty(Model.LoanBriefResidentModel.AddressGoogleMap) ? Model.LoanBriefResidentModel.Address : Model.LoanBriefResidentModel.AddressGoogleMap)">
                <input type="hidden" name="LoanBriefResidentModel.AddressLatLng" value="@Model.LoanBriefResidentModel.AddressLatLng">
            }

        </div>
    </div>
</div>

