﻿@model LOS.WebApp.Models.LoanbriefViewModel

<div class="m-section__content" id="CarDisplay">
    <div style="margin-bottom: 5px; font-weight:bold">
        <span>
            Tài sản
        </span>
        <i class="la la-angle-double-right" style="font-size: 15px;"></i>
    </div>
    <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
        <div class="custom-m-boder-box m-demo__preview">
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Hãng xe:
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input" type="text" name="LoanBriefPropertyModel.CarManufacturer" value="@Model.LoanBriefPropertyModel.CarManufacturer" placeholder="">
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Tên xe:
                </label>
                <div class="col-4" style="padding-top: 10px">
                    <input class="form-control cus-form-control m-input" type="text" name="LoanBriefPropertyModel.CarName" value="@Model.LoanBriefPropertyModel.CarName" placeholder="">
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Biển số xe:
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input" type="text" name="LoanBriefPropertyModel.PlateNumberCar" value="@(Model.LoanBriefPropertyModel != null && Model.LoanBriefPropertyModel.PlateNumberCar != null ? Model.LoanBriefPropertyModel.PlateNumberCar : "")" />
                </div>

                <label for="example-email-input" class="col-2 col-form-label">
                    Xe gắn định vị:
                </label>
                <div class="col-4" style="padding-top: 10px">
                    <div class="m-checkbox-list">
                        <label class="m-checkbox m-checkbox--state-brand">
                            <input type="checkbox" @(Model.IsLocate == true ? "checked=\"checked\"" : "") value="true" name="IsLocateCar">
                            Có gắn
                            <span></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Giá trước thẩm định:
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input inputAmountVND" style="text-align: right;" type="text" id="txt_LoanAmountExpertiseLast" name="LoanAmountExpertise" value="@(Model.LoanAmountExpertise != null ? Model.LoanAmountExpertise.Value.ToString("###,0") : "0")" />
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Giá sau thẩm định:
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input inputAmountVND" style="text-align: right;" type="text" id="txt_LoanAmountExpertiseLast" name="LoanAmountExpertiseLast" value="@(Model.LoanAmountExpertiseLast !=null ? Model.LoanAmountExpertiseLast.Value.ToString("###,0"): "0")" />
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Số khung:
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input" type="text" id="txt_car_chassis" value="@(Model.LoanBriefPropertyModel != null && Model.LoanBriefPropertyModel.Chassis != null ? Model.LoanBriefPropertyModel.Chassis : "")" />
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Số máy:
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input" type="text" id="txt_car_engine" value="@(Model.LoanBriefPropertyModel != null && Model.LoanBriefPropertyModel.Engine != null ? Model.LoanBriefPropertyModel.Engine : "")" />
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Mô tả:
                </label>
                <div class="col-10">
                    <textarea class="form-control cus-form-control m-input" name="LoanBriefPropertyModel.Description" rows="3">@(Model.LoanBriefPropertyModel != null && Model.LoanBriefPropertyModel.Description != null ? Model.LoanBriefPropertyModel.Description : "")</textarea>
                </div>
            </div>
        </div>
    </div>
</div>