﻿@model LOS.WebApp.Models.LoanbriefViewModel
@*<div class="m-section__content">
    <div style="margin-bottom: 5px; font-weight:bold">
        <span>
            Kiểm tra thông tin CIC
        </span>
        <i class="la la-angle-double-right" style="font-size: 15px;"></i>
    </div>
    <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
        <div class="custom-m-boder-box m-demo__preview">
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Kiểm tra CIC
                </label>
                <div class="col-4" style="padding-top: 10px">
                    <div class="m-checkbox-list">
                        <label class="m-checkbox m-checkbox--state-brand">
                            <input type="checkbox" @(Model.IsCheckCic == true ? "checked=\"checked\"" : "") value="true" name="IsCheckCic">
                            Có kiểm tra
                            <span></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@