﻿@model LOS.WebApp.Models.LoanbriefViewModel
<div class="m-section__content">
    <div style="margin-bottom: 5px; font-weight:bold">
        <span>
            Thông tin doanh nghiệp
        </span>
        <i class="la la-angle-double-right" style="font-size: 15px;"></i>
    </div>
    <input type="hidden" name="LoanBriefCompanyModel.LoanBriefId" value="@Model.LoanBriefCompanyModel.LoanBriefId" />
    <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
        <div class="custom-m-boder-box m-demo__preview">
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Tên doanh nghiệp:
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input" type="text" name="LoanBriefCompanyModel.CompanyName" value="@Model.LoanBriefCompanyModel.CompanyName" placeholder="">
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Ngành nghề kinh doanh:
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input" type="text" name="LoanBriefCompanyModel.CareerBusiness" value="@Model.LoanBriefCompanyModel.CareerBusiness" placeholder="">
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Ngày cấp giấy CNĐKD/CNĐKND
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input cus-datepicker" type="text" name="LoanBriefCompanyModel.sBusinessCertificationDate" value="@(Model.LoanBriefCompanyModel.sBusinessCertificationDate)">
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Nơi cấp giấy CNĐKD/CNĐKND:
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input" type="text" name="LoanBriefCompanyModel.BusinessCertificationAddress" placeholder="" value="@Model.LoanBriefCompanyModel.BusinessCertificationAddress">
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Trụ sở theo đăng ký kinh doanh
                </label>
                <div class="col-10">
                    <textarea class="form-control cus-form-control m-input" rows="3" name="LoanBriefCompanyModel.HeadOffice" placeholder="">@Model.LoanBriefCompanyModel.HeadOffice</textarea>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Địa chỉ kinh doanh hiện tại:
                </label>
                <div class="col-10">
                    <textarea class="form-control cus-form-control m-input" rows="3" name="LoanBriefCompanyModel.Address" placeholder="">@Model.LoanBriefCompanyModel.Address</textarea>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Cổ đông góp vốn nhiều nhất:
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input" type="text" name="LoanBriefCompanyModel.CompanyShareholder" id="" value="@Model.LoanBriefCompanyModel.CompanyShareholder">
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Ngày sinh:
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input cus-datepicker" type="text" name="LoanBriefCompanyModel.sBirthdayShareholder" id="" value="@(Model.LoanBriefCompanyModel.sBirthdayShareholder)">
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Số CMND/CCCD/Hộ Chiếu:
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input" type="text" name="LoanBriefCompanyModel.CardNumberShareholder" id="" value="@Model.LoanBriefCompanyModel.CardNumberShareholder">
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Nơi sinh:
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input" type="text" name="LoanBriefCompanyModel.PlaceOfBirthShareholder" id="" value="@Model.LoanBriefCompanyModel.PlaceOfBirthShareholder">
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Ngày cấp:
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input cus-datepicker" type="text" name="LoanBriefCompanyModel.sCardNumberShareholderDate" id=""  value="@(Model.LoanBriefCompanyModel.sCardNumberShareholderDate)">
                </div>

            </div>
        </div>
    </div>
</div>