﻿@model LOS.WebApp.Models.LoanbriefViewModel
@{
    var ListBank = ViewBag.ListBank as List<LOS.DAL.DTOs.BankDetail>;
}
<div class="m-section__content">
    <div style="margin-bottom: 5px; font-weight:bold">
        <span>
            Xác nhận giao dịch đảm bảo
        </span>
        <i class="la la-angle-double-right" style="font-size: 15px;"></i>
    </div>

    <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
        <div class="custom-m-boder-box m-demo__preview">

            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Xác nhận
                </label>
                <div class="col-4" style="padding-top: 10px">
                    <div class="m-checkbox-list">
                        <label class="m-checkbox m-checkbox--state-brand">
                            <input type="checkbox" @(Model.IsTransactionsSecured == true ? "checked=\"checked\"" : "") value="true" name="IsTransactionsSecured">
                            Đã tạo giao dịch đảm bảo
                            <span></span>
                        </label>
                    </div>
                </div>

                <label for="example-email-input" class="col-2 col-form-label">
                    Mã GDĐB
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input" type="text" name="NoticeNumber" placeholder="">
                </div>
            </div>

        </div>
    </div>
</div>
