﻿@using LOS.DAL.EntityFramework;
@using LOS.Common.Extensions;
@model LOS.WebApp.Models.LoanbriefViewModel
@{
    var ListLoanProduct = ViewBag.ListLoanProduct as List<LoanProduct>;
    var user = ViewBag.User as LOS.DAL.DTOs.UserDetail;
    var lstInfomationProductDetail = ViewBag.ListInfomationProductDetail as List<LOS.DAL.DTOs.ProductDetailModel>;

    var checkInsuranceProperty = true;
}

<div class="m-section__content">
    <div style="margin-bottom: 5px; font-weight:bold">
        <span>
            Hình thức vay
        </span>
        <i class="la la-angle-double-right" style="font-size: 15px;"></i>
    </div>
    <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
        <div class="custom-m-boder-box m-demo__preview">
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Gói vay:
                </label>
                <div class="col-4 box-group">
                    <select class="form-control cus-form-control m-select2" id="sl_loan_product" name="ProductId" onchange="LoadInfomationModuleJS.ChangeProduct(this.value)">
                        @if (ListLoanProduct != null && ListLoanProduct.Count > 0)
                        {
                            <option></option>
                            foreach (var item in ListLoanProduct)
                            {

                                if (Model.ProductType == (int)LOS.Common.Extensions.EnumTypeProduct.SmallProduct)
                                {
                                    if (item.TypeProductId == (int)LOS.Common.Extensions.EnumTypeProduct.SmallProduct)
                                    {
                                        if (Model.ProductId == item.LoanProductId)
                                        {
                                            <option value="@item.LoanProductId" attr-type-product="@Model.ProductType" selected="selected">@item.Name</option>
                                        }
                                        //Nếu là nhóm của hub và telesale thì cho phép thay đổi gói vay
                                        else if (user.GroupId == (int)LOS.Common.Extensions.EnumGroupUser.Telesale || user.GroupId == (int)LOS.Common.Extensions.EnumGroupUser.ManagerTelesales
                                            || user.GroupId == (int)LOS.Common.Extensions.EnumGroupUser.StaffHub || user.GroupId == (int)LOS.Common.Extensions.EnumGroupUser.ManagerHub)
                                        {
                                            if (item.Status == 1)
                                            {
                                                <option value="@item.LoanProductId" attr-type-product="@item.TypeProductId">@item.Name</option>
                                            }

                                        }
                                    }
                                }
                                else if (item.LoanProductId == Model.ProductId)
                                {
                                    <option value="@item.LoanProductId" selected="selected">@item.Name</option>
                                    continue;
                                }
                            }
                        }
                    </select>
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Hình thức tính lãi:
                </label>
                <div class="col-4">
                    <select class="form-control cus-form-control m-input m-input--square" id="sl_RateType" name="RateTypeId" onchange="CalculatorRateMoneyModuleJS.ChangeRateType()">
                        <option></option>
                        @*Sản phẩm vay nhanh => cho phép tất toán cuối ký
                            Sản phẩm lớn => cho phép tất toán cuối kỳ
                            Thêm mới đơn vay => hiển thị cả 2*@
                        @if (Model.RateTypeId > 0)
                        {
                            if (Model.ProductId == (int)LOS.Common.Extensions.EnumProductCredit.LoanFastMoto_CC
                                || Model.ProductId == (int)LOS.Common.Extensions.EnumProductCredit.LoanFastMoto_KCC
                                || Model.ProductType == 2 || Model.LoanBriefId == 0
                                || Model.ProductDetailId == (int)LOS.Common.Extensions.InfomationProductDetail.KT1_KSHK_4tr
                                || Model.ProductDetailId == (int)LOS.Common.Extensions.InfomationProductDetail.KT1_KGT_4tr
                                || Model.ProductDetailId == (int)LOS.Common.Extensions.InfomationProductDetail.KT3_KTN_4tr
                                || Model.ProductDetailId == (int)LOS.Common.Extensions.InfomationProductDetail.KT3_KGT_4tr
                                || Model.ProductDetailId == (int)LOS.Common.Extensions.InfomationProductDetail.XMCC_KT1_5tr
                                || Model.ProductDetailId == (int)LOS.Common.Extensions.InfomationProductDetail.XMCC_KT3_5tr)
                            {
                                <!option value="@LOS.Common.Extensions.EnumRateType.TatToanCuoiKy.GetHashCode()" @(Model.RateTypeId == LOS.Common.Extensions.EnumRateType.RateMonthADay.GetHashCode() || Model.RateTypeId == LOS.Common.Extensions.EnumRateType.TatToanCuoiKy.GetHashCode() ? "selected=\"selected\"" : "")>Tất toán cuối kỳ</!option>
                            }
                            <!option value="@LOS.Common.Extensions.EnumRateType.DuNoGiamDan.GetHashCode()" @(Model.RateTypeId == LOS.Common.Extensions.EnumRateType.RateAmortization30Days.GetHashCode() || Model.RateTypeId == LOS.Common.Extensions.EnumRateType.DuNoGiamDan.GetHashCode() ? "selected=\"selected\"" : "")>Dư nợ giảm dần</!option>
                        }
                        else
                        {
                            if (Model.ProductId == (int)LOS.Common.Extensions.EnumProductCredit.LoanFastMoto_CC
                                || Model.ProductId == (int)LOS.Common.Extensions.EnumProductCredit.LoanFastMoto_KCC
                                || Model.ProductType == 2 || Model.LoanBriefId == 0
                                || Model.ProductDetailId == (int)LOS.Common.Extensions.InfomationProductDetail.KT1_KSHK_4tr
                                || Model.ProductDetailId == (int)LOS.Common.Extensions.InfomationProductDetail.KT1_KGT_4tr
                                || Model.ProductDetailId == (int)LOS.Common.Extensions.InfomationProductDetail.KT3_KTN_4tr
                                || Model.ProductDetailId == (int)LOS.Common.Extensions.InfomationProductDetail.KT3_KGT_4tr
                                || Model.ProductDetailId == (int)LOS.Common.Extensions.InfomationProductDetail.XMCC_KT1_5tr
                                || Model.ProductDetailId == (int)LOS.Common.Extensions.InfomationProductDetail.XMCC_KT3_5tr)
                            {
                                <option value="@LOS.Common.Extensions.EnumRateType.TatToanCuoiKy.GetHashCode()">Tất toán cuối kỳ</option>
                            }
                            <option value="@LOS.Common.Extensions.EnumRateType.DuNoGiamDan.GetHashCode()" selected="selected">Dư nợ giảm dần</option>
                        }

                    </select>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    <span>Gói vay chi tiết:</span>
                </label>
                <div class="col-4">
                    <select class="form-control cus-form-control m-input m-input--square" id="sl_InfomationProductDetail" name="ProductDetailId" onchange="LoancreditFormModuleJS.ShowInfomationProductDetail(this.value)">
                        @if (lstInfomationProductDetail != null && lstInfomationProductDetail.Count > 0)
                        {
                            <option></option>
                            foreach (var item in lstInfomationProductDetail)
                            {
                                if (Model.ProductDetailId.HasValue && Model.ProductDetailId == item.InfomationProductDetailId)
                                {
                                    <option value="@item.InfomationProductDetailId" selected="selected">@item.Name</option>
                                }
                                else
                                {
                                    <option value="@item.InfomationProductDetailId">@item.Name</option>
                                }
                            }
                        }
                    </select>
                </div>

                <div id="disInsuranceProperty" class="col-6" style="display: @(checkInsuranceProperty == true ? "block" : "none");">
                    <label for="example-email-input" class="col-4 col-form-label" style="float:left;">
                        Mua bảo hiểm tài sản:
                    </label>
                    <div class="col-6" style="float:left;padding-left: 10px;">
                        <div class="m-checkbox-list" style="margin-top: 8px;">
                            <label class="m-checkbox m-checkbox--state-brand">
                                <input type="checkbox" name="LoanBriefPropertyModel.BuyInsuranceProperty" value="true" @(Model.LoanBriefPropertyModel != null && Model.LoanBriefPropertyModel.BuyInsuranceProperty == true ? "checked=\"checked\"" : "")>
                                Có mua
                                <span></span>
                            </label>

                        </div>
                    </div>
                </div>

            </div>

            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    <span>LTV:</span>
                </label>
                <div class="col-4">
                    <select class="form-control cus-form-control m-input m-input--square" id="sl_Ltv" name="Ltv">

                    </select>
                </div>

            </div>
        </div>
    </div>
</div>
<input type="hidden" id="checkInsuranceProperty" value="@(checkInsuranceProperty == true ? 1:0)" />



