﻿@model LOS.WebApp.Models.LoanbriefViewModel
@{
    var user = ViewBag.User as LOS.DAL.DTOs.UserDetail;
}
<div class="m-section__content">
    <div style="margin-bottom: 5px; font-weight:bold">
        <span>
            Khoản vay
        </span>
        <i class="la la-angle-double-right" style="font-size: 15px;"></i>
    </div>
    <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
        <div class="custom-m-boder-box m-demo__preview">
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Tiền đại lý cho vay:
                </label>
                <div class="col-4" style="padding-top: 10px">
                    <span>0</span>VNĐ
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Khách hàng mua bảo hiểm
                </label>
                <div class="col-4" style="padding-top: 10px">
                    <div class="m-checkbox-list">
                        <label class="m-checkbox m-checkbox--state-brand">
                            <input type="checkbox" @(Model.BuyInsurenceCustomer == true || Model.BuyInsurenceCustomer == null ? "checked=\"checked\"" : "") value="true" name="BuyInsurenceCustomer">
                            Có mua
                            <span></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Tiền khách cần vay:
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input inputAmountVND" type="text" name="LoanAmount" id="txtLoanAmount" onchange="CalculatorRateMoneyModuleJS.OnchangeMoneyCal(this.value)" value="@(Model.LoanAmount > 0 ? Model.LoanAmount.ToString("##,#") : "")" style="text-align: right;">
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Phí bảo hiểm:
                </label>
                <div class="col-4" style="padding-top: 10px">
                    <span id="FeeInsurrance"></span>
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Thời gian vay:
                </label>
                <div class="col-4 box-group">
                    <select class="form-control cus-form-control m-input m-input--square" id="sl_LoanTime" name="LoanTime" onchange="LoancreditInfomationModuleJS.ChangeLoanTime(this.value)">
                        @if (Model.ProductType == (int)LOS.Common.Extensions.EnumTypeProduct.SmallProduct)
                        {

                            if ((Model.LoanBriefId > 0
                            && (user.GroupId == (int)LOS.Common.Extensions.EnumGroupUser.ApproveEmp
                            || user.GroupId == (int)LOS.Common.Extensions.EnumGroupUser.ApproveLeader))
                            || Model.ProductId == (int)LOS.Common.Extensions.EnumProductCredit.LoanFastMoto_CC
                            || Model.ProductId == (int)LOS.Common.Extensions.EnumProductCredit.LoanFastMoto_KCC
                            || Model.ProductDetailId == (int)LOS.Common.Extensions.InfomationProductDetail.KT1_KSHK_4tr
                            || Model.ProductDetailId == (int)LOS.Common.Extensions.InfomationProductDetail.KT1_KGT_4tr
                            || Model.ProductDetailId == (int)LOS.Common.Extensions.InfomationProductDetail.KT3_KTN_4tr
                            || Model.ProductDetailId == (int)LOS.Common.Extensions.InfomationProductDetail.KT3_KGT_4tr
                            || Model.ProductDetailId == (int)LOS.Common.Extensions.InfomationProductDetail.XMCC_KT1_5tr
                            || Model.ProductDetailId == (int)LOS.Common.Extensions.InfomationProductDetail.XMCC_KT3_5tr)
                            {
                                <!option value="6" @(Model.LoanTime == LOS.Common.Extensions.EnumLoanTime.SixMonth.GetHashCode() ? "selected=\"selected\"" : "")>6 tháng</!option>
                                <!option value="12" @(Model.LoanTime == LOS.Common.Extensions.EnumLoanTime.TwentyMonth.GetHashCode() ? "selected=\"selected\"" : "")>12 tháng</!option>
                            }
                            else
                            {
                                if (Model.LoanTime == LOS.Common.Extensions.EnumLoanTime.OneMonth.GetHashCode())
                                {
                                    <!option value="1" @(Model.LoanTime == LOS.Common.Extensions.EnumLoanTime.OneMonth.GetHashCode() ? "selected=\"selected\"" : "")>1 tháng</!option>
                                }
                                else if (Model.LoanTime == LOS.Common.Extensions.EnumLoanTime.ThreeMonth.GetHashCode())
                                {
                                    <!option value="3" @(Model.LoanTime == LOS.Common.Extensions.EnumLoanTime.ThreeMonth.GetHashCode() ? "selected=\"selected\"" : "")>3 tháng</!option>
                                }
                                else if (Model.LoanTime == LOS.Common.Extensions.EnumLoanTime.SixMonth.GetHashCode())
                                {
                                    if (Model.TypeRemarketing == LOS.Common.Extensions.EnumTypeRemarketing.IsTopUp.GetHashCode())
                                    {
                                        <option value="12">12 tháng</option>
                                    }
                                    else
                                    {
                                          <!option value="6" @(Model.LoanTime == LOS.Common.Extensions.EnumLoanTime.SixMonth.GetHashCode() ? "selected=\"selected\"" : "")>6 tháng</!option>
                                    }
                                }
                                else if (Model.LoanTime == LOS.Common.Extensions.EnumLoanTime.NineMonth.GetHashCode())
                                {
                                    <!option value="9" @(Model.LoanTime == LOS.Common.Extensions.EnumLoanTime.NineMonth.GetHashCode() ? "selected=\"selected\"" : "")>9 tháng</!option>
                                }
                                else if (Model.LoanTime == LOS.Common.Extensions.EnumLoanTime.TwentyMonth.GetHashCode())
                                {
                                    <!option value="12" @(Model.LoanTime == LOS.Common.Extensions.EnumLoanTime.TwentyMonth.GetHashCode() ? "selected=\"selected\"" : "")>12 tháng</!option>
                                    @*if (Model.TypeRemarketing == LOS.Common.Extensions.EnumTypeRemarketing.IsTopUp.GetHashCode())
                                    {
                                        <option value="6">6 tháng</option>
                                    }*@
                                }
                            }

                        }
                        else
                        {
                            <!option value="3" @(Model.LoanTime == LOS.Common.Extensions.EnumLoanTime.ThreeMonth.GetHashCode() ? "selected=\"selected\"" : "")>3 tháng</!option>
                            <!option value="6" @(Model.LoanTime == LOS.Common.Extensions.EnumLoanTime.SixMonth.GetHashCode() ? "selected=\"selected\"" : "")>6 tháng</!option>
                            <!option value="9" @(Model.LoanTime == LOS.Common.Extensions.EnumLoanTime.NineMonth.GetHashCode() ? "selected=\"selected\"" : "")>9 tháng</!option>
                            <!option value="12" @(Model.LoanTime == LOS.Common.Extensions.EnumLoanTime.TwentyMonth.GetHashCode() ? "selected=\"selected\"" : "")>12 tháng</!option>
                        }
                    </select>
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Ngày đăng ký
                </label>
                <div class="col-4" style="padding-top: 10px">
                    @DateTime.Now.ToString("dd/MM/yyyy")
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Chu kỳ đóng lãi
                </label>
                <div class="col-4">
                    <select class="form-control cus-form-control m-input m-input--square" id="sl_Frequency" name="Frequency">
                        <option></option>
                        <option value="@LOS.Common.Extensions.EnumFrequency.OneMonth.GetHashCode()" selected="selected">Hàng tháng</option>
                    </select>
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Ngày tất toán:
                    <span style="font-size: 10px; color: #ADB0C2;width: 100%; float: left">
                        (Dự kiến)
                    </span>
                </label>
                <div class="col-4" style="padding-top: 10px" id="txtfinishLoan">
                    @(Model.ToDate != null ? Model.ToDate.Value.ToString("dd/MM/yyyy") : "")
                </div>
            </div>


            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Số kỳ trả:
                </label>
                <div class="col-4" style="padding-top: 10px">
                    <span id="txtTotalLoanTime">@Model.LoanTime</span> kỳ
                </div>
                @*<label for="example-email-input" class="col-2 col-form-label">
                    Phí bảo hiểm
                    <span style="font-size: 10px; color: #ADB0C2;width: 100%; float: left">
                    (Dự kiến)
                    </span>
                    </label>
                    <div class="col-4" style="padding-top: 10px">
                    <span id="FeeInsurrance"></span>
                    </div>*@
                <label for="example-email-input" class="col-2 col-form-label">
                    Tổng phí dịch vụ:
                    <span style="font-size: 10px; color: #ADB0C2;width: 100%; float: left">
                        (Dự kiến)
                    </span>
                </label>
                <div class="col-4" style="padding-top: 10px">
                    <span>0</span>VNĐ
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Lãi Phí trả hàng tháng:
                    <span style="font-size: 10px; color: #ADB0C2;width: 100%; float: left">
                        (K/Tr/Ngày)
                    </span>
                </label>
                <div class="col-4" style="padding-top: 10px">
                    <input class="form-control cus-form-control m-input inputAmountVND" readonly="readonly" type="text" name="RateMoney" id="RateMoney" onkeyup="CalculatorRateMoneyModuleJS.Calculator(this.value)" value="@(Model.RateMoney != null ? Model.RateMoney.Value.ToString("##,#") : "2700")" />
                    <span id="Percent"></span>
                    <input type="hidden" id="RatePercent" name="RatePercent" value="@(Model.RatePercent != null ? Model.RatePercent.ToString() : "98.55")" />
                </div>
                @*<label for="example-email-input" class="col-2 col-form-label">
                    Tổng phí dịch vụ:
                    <span style="font-size: 10px; color: #ADB0C2;width: 100%; float: left">
                    (Dự kiến)
                    </span>
                    </label>
                    <div class="col-4" style="padding-top: 10px">
                    <span>0</span>VNĐ
                    </div>*@
            </div>


            @*<div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                Tiền tất toán:
                <span style="font-size: 10px; color: #ADB0C2;width: 100%; float: left">
                (Dự kiến)
                </span>
                </label>
                <div class="col-4" style="padding-top: 10px">
                <span>0</span> VNĐ
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                Tổng tiền lãi
                <span style="font-size: 10px; color: #ADB0C2;width: 100%; float: left">
                (Dự kiến)
                </span>
                </label>
                <div class="col-4" style="padding-top: 10px">
                <span>0</span>VNĐ
                </div>
                </div>*@
        </div>
    </div>
</div>