﻿@model LOS.WebApp.Models.LoanbriefViewModel
@{
    var ListBrandProduct = ViewBag.ListBrandProduct as List<LOS.DAL.DTOs.BrandProductDetail>;
}

<div class="m-section__content" id="MotoDisplay">
    <div style="margin-bottom: 5px; font-weight:bold">
        <span>
            Tài sản
        </span>
        <i class="la la-angle-double-right" style="font-size: 15px;"></i>
    </div>
    <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
        <input type="hidden" value="@Model.LoanBriefPropertyModel.LoanBriefPropertyId" name="LoanBriefPropertyModel.LoanBriefPropertyId" />
        <div class="custom-m-boder-box m-demo__preview">
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Hãng xe:
                </label>
                <div class="col-4">
                    <select class="form-control cus-form-control m-select2" id="sl_brand_product" name="LoanBriefPropertyModel.BrandId" onchange="MotobikeInfomationModuleJS.GetProduct(this.value, 0)">
                        @if (ListBrandProduct != null && ListBrandProduct.Count > 0)
                        {
                            <option></option>
                            foreach (var item in ListBrandProduct)
                            {
                                <!option value="@item.Id" @(Model.LoanBriefPropertyModel.BrandId == item.Id ? "selected=\"selected\"" : "")>@item.Name</!option>
                            }
                        }
                    </select>
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Giá trước thẩm định:
                </label>
                <div class="col-4" style="padding-top: 10px">
                    <span>0</span>VNĐ
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Tên xe:
                </label>
                <div class="col-4">
                    <select class="form-control cus-form-control m-select2" id="sl_product_name" name="LoanBriefPropertyModel.ProductId" aria-hidden="true">
                        <option></option>
                    </select>
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Giá sau thẩm định:
                </label>
                <div class="col-4" style="padding-top: 10px">
                    <span>0</span>VNĐ
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Biển số xe:
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input" type="text" name="LoanBriefPropertyModel.PlateNumber" value="@(Model.LoanBriefPropertyModel != null && Model.LoanBriefPropertyModel.PlateNumber != null ? Model.LoanBriefPropertyModel.PlateNumber : "")" />
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Xe gắn định vị:
                </label>
                <div class="col-4" style="padding-top: 10px">
                    <div class="m-checkbox-list">
                        <label class="m-checkbox m-checkbox--state-brand">
                            <input type="checkbox" @(Model.IsLocate == true ? "checked=\"checked\"" : "") value="true" name="IsLocate">
                            Có gắn
                            <span></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Số khung:
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input" type="text" name="LoanBriefPropertyModel.Chassis" id="txt_chassis" value="@(Model.LoanBriefPropertyModel != null && Model.LoanBriefPropertyModel.Chassis != null ? Model.LoanBriefPropertyModel.Chassis : "")" />
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Số máy:
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input" type="text" name="LoanBriefPropertyModel.Engine" id="txt_engine" value="@(Model.LoanBriefPropertyModel != null && Model.LoanBriefPropertyModel.Engine != null ? Model.LoanBriefPropertyModel.Engine : "")" />
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Họ tên chủ xe:
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input" type="text" name="LoanBriefPropertyModel.OwnerFullName" value="@(Model.LoanBriefPropertyModel != null && Model.LoanBriefPropertyModel.OwnerFullName != null ? Model.LoanBriefPropertyModel.OwnerFullName : "")" />
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Số đăng ký xe:
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input" type="text" name="LoanBriefPropertyModel.MotobikeCertificateNumber" value="@(Model.LoanBriefPropertyModel != null && Model.LoanBriefPropertyModel.MotobikeCertificateNumber != null ? Model.LoanBriefPropertyModel.MotobikeCertificateNumber : "")" />
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Ngày đăng ký xe:
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input" type="text" name="LoanBriefPropertyModel.MotobikeCertificateDate" id="txt_motobike_certificate_date" value="@(Model.LoanBriefPropertyModel != null && Model.LoanBriefPropertyModel.MotobikeCertificateDate != null ? Model.LoanBriefPropertyModel.MotobikeCertificateDate : "")" />
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Nơi cấp đăng ký xe:
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input" type="text" name="LoanBriefPropertyModel.MotobikeCertificateAddress" value="@(Model.LoanBriefPropertyModel != null && Model.LoanBriefPropertyModel.MotobikeCertificateAddress != null ? Model.LoanBriefPropertyModel.MotobikeCertificateAddress : "")" />
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Thu đăng ký xe sau:
                </label>
                <div class="col-4" style="padding-top: 10px">
                    <div class="m-checkbox-list">
                        <label class="m-checkbox m-checkbox--state-brand">
                            <input type="checkbox" @(Model.LoanBriefPropertyModel.PostRegistration == true ? "checked=\"checked\"" : "") value="true" name="LoanBriefPropertyModel.PostRegistration">
                            <span></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>