﻿@using LOS.WebApp.Services;
@inject INetworkService _networkService;
@model LOS.WebApp.Models.LoanbriefViewModel
@{
    var ListPlatformType = ViewBag.ListPlatformType as List<LOS.DAL.DTOs.PlatformTypeDetail>;
    var objUser = ViewBag.User as LOS.DAL.DTOs.UserDetail;
    var lstHomeNetwork = Enum.GetValues(typeof(LOS.Common.Extensions.HomeNetWorkMobile)).Cast<LOS.Common.Extensions.HomeNetWorkMobile>();
}
<div class="m-section__content">
    <div style="margin-bottom: 5px; font-weight:bold">
        <span>
            Thông tin cá nhân
        </span>
        <i class="la la-angle-double-right" style="font-size: 15px;"></i>
    </div>
    <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
        <div class="custom-m-boder-box m-demo__preview">
            <input type="hidden" name="CustomerId" value="@Model.CustomerId" />
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Nguồn đơn:
                </label>
                <div class="col-4 box-group">
                    <select class="form-control cus-form-control m-select2" id="sl_PlatformType" name="PlatformType" onchange="PersonalInformationModuleJS.ChangePlatformType(this.value)">
                        @if (ListPlatformType != null && ListPlatformType.Count > 0)
                        {
                            <option></option>

                            foreach (var item in ListPlatformType)
                            {
                                //sửa đơn vay
                                if (Model.LoanBriefId > 0)
                                {
                                    if (item.Id == Model.PlatformType)
                                    {
                                        <!option value="@item.Id" selected="selected">
                                            @item.Name
                                        </!option>
                                    }
                                    else if (Model.PlatformType == 0)
                                    {
                                        if (item.IsEnable == true)
                                        {
                                            <!option value="@item.Id">
                                                @item.Name
                                            </!option>
                                        }
                                    }
                                }
                                //tạo mới đơn vay
                                else
                                {
                                    if (item.IsEnable == true)
                                    {
                                        <!option value="@item.Id">
                                            @item.Name
                                        </!option>
                                    }
                                }
                            }
                        }
                    </select>
                    <input style="margin-top: 5px;display:none;" id="PresenterCode" name="PresenterCode" value="@(Model.PresenterCode != null? Model.PresenterCode : "")" class="form-control cus-form-control m-input" type="text" placeholder="Mã người giới thiệu">
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Loại đơn:
                </label>
                <div class="col-4">
                    <select class="form-control cus-form-control m-input m-input--square" name="TypeLoanBrief" id="typeCustomer" onchange="PersonalInformationModuleJS.ChangeTypeCustomer(this.value)">
                        <!option value="1" @(Model.TypeLoanBrief == 1 ? "selected=\"selected\"" : "")>
                            Cá nhân
                        </!option>
                        <!option value="2" @(Model.TypeLoanBrief == 2 ? "selected=\"selected\"" : "")>
                            Doanh nghiệp
                        </!option>
                    </select>
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Họ tên:
                </label>
                <div class="col-4 m-form__group-sub">
                    <input class="form-control cus-form-control m-input" type="text" name="FullName" value="@Model.FullName" placeholder="Nhập họ tên" @(Model.LoanBriefId > 0 && !string.IsNullOrEmpty(Model.CustomerModel.EsignAgreementId) ? "readonly=\"readonly\"" : "")>
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Số điện thoại:
                </label>
                <div class="col-4 box-group m-form__group-sub">
                    @if (Model.LoanBriefId > 0)
                    {
                        <input class="form-control cus-form-control m-input" type="text" value="@LOS.WebApp.Helpers.Ultility.HidePhone(Model.Phone)" disabled="disabled">
                        <input type="hidden" value="@Model.Phone" name="Phone" />
                    }
                    else
                    {
                        <input class="form-control cus-form-control m-input numberOnly" type="text" name="Phone" value="@Model.Phone" placeholder="">
                    }
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Số CMND 1:
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input numberOnly" type="text" name="NationalCard" value="@Model.NationalCard" @(Model.LoanBriefId > 0 && !string.IsNullOrEmpty(Model.CustomerModel.EsignAgreementId) ? "readonly=\"readonly\"" : "")>
                </div>
                <label for="example-email-input " class="col-2 col-form-label">
                    Số điện thoại khác:
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input numberOnly" type="text" name="PhoneOther" value="@Model.PhoneOther">
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Số CMND 2:
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input numberOnly" type="text" name="NationCardPlace" value="@Model.NationCardPlace">
                </div>
                <label for="example-email-input " class="col-2 col-form-label">
                    Chia sẻ location SIM:
                    <span style="font-size: 10px; color: #ADB0C2;width: 100%; float: left">
                        (Viettel + Mobifone)
                    </span>
                </label>
                <div class="col-4" style="padding-top: 10px">
                    <div class="m-checkbox-list col-4" style="float: left;">
                        <label class="m-checkbox m-checkbox--state-brand">
                            <input type="checkbox" value="true" @(Model.IsTrackingLocation == true ? "checked=\"checked\"" : "") name="IsTrackingLocation">
                            Có chia sẻ
                            <span></span>
                        </label>
                    </div>
                    <select style="margin-top: -5px; float: right;" class="form-control cus-form-control m-input m-input--square col-8" name="HomeNetwork" id="homeNetwork">
                        <option value="0">Chọn nhà mạng</option>
                        @foreach (var item in lstHomeNetwork)
                        {
                            if (Model.HomeNetwork == null || Model.HomeNetwork == 0)
                            {
                                Model.HomeNetwork = _networkService.CheckHomeNetwok(Model.Phone);
                            }
                            if (Model.HomeNetwork == Convert.ToInt32(item))
                            {
                                <option value="@(Convert.ToInt32(item))" selected="selected">@LOS.Common.Helpers.ExtentionHelper.GetDescription((LOS.Common.Extensions.HomeNetWorkMobile)item)</option>
                            }
                            else
                            {
                                <option value="@(Convert.ToInt32(item))">@LOS.Common.Helpers.ExtentionHelper.GetDescription((LOS.Common.Extensions.HomeNetWorkMobile)item)</option>
                            }
                        }
                    </select>

                </div>

            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Passport:
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input" placeholder="Hộ chiếu" type="text" name="Passport" value="@Model.Passport">
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Sim có chính chủ
                </label>
                <div class="col-4" style="padding-top: 10px">
                    <div class="m-checkbox-list">
                        <label class="m-checkbox m-checkbox--state-brand">
                            <input type="checkbox" @(Model.IsSim == true ? "checked=\"checked\"" : "") value="true" name="IsSim">
                            Chính chủ
                            <span></span>
                        </label>
                    </div>
                </div>
            </div>
            @if (objUser.GroupId == (int)LOS.Common.Extensions.EnumGroupUser.ManagerTelesales)
            {
                <div class="form-group m-form__group row">

                    <label for="example-email-input" class="col-2 col-form-label">
                        Telesales:
                    </label>
                    <div class="col-4">
                        <select class="form-control cus-form-control m-select2" id="sl_BoundTelesaleId" name="BoundTelesaleId">
                        </select>
                    </div>
                </div>
            }

            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Giới tính:
                </label>
                <div class="col-4">
                    <div class="m-radio-inline">
                        <label class="m-radio">
                            <input type="radio" @(Model.Gender == 0 ? "checked=\"checked\"" : "") name="Gender" value="0">
                            Nam
                            <span></span>
                        </label>
                        <label class="m-radio">
                            <input type="radio" name="Gender" @(Model.Gender == 1 ? "checked=\"checked\"" : "") value="1">
                            Nữ
                            <span></span>
                        </label>
                    </div>
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Ngày sinh:
                </label>
                <div class="col-4">
                    @*id="birthDayCus"*@
                    <input class="form-control cus-form-control m-input" autocomplete="off" type="text" name="sBirthDay" placeholder="dd/MM/yyyy" id="birthDayCus" value="@(Model.sBirthDay)">
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Số bảo hiểm:
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input" type="text" name="CustomerModel.InsurenceNumber" value="@Model.CustomerModel.InsurenceNumber">
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Facebook:
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input" type="text" name="CustomerModel.FacebookAddress" value="@Model.CustomerModel.FacebookAddress">
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Email:
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input" type="text" name="Email" value="@Model.Email">
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Ghi chú bảo hiểm:
                </label>
                <div class="col-10">
                    <textarea class="form-control cus-form-control m-input" name="CustomerModel.InsurenceNote" rows="3" placeholder="Nhập ghi chú bảo hiểm, ngày hết hạn...">@Model.CustomerModel.InsurenceNote</textarea>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    A/C có gia đình chưa:
                </label>
                <div class="col-4">
                    <div class="m-radio-inline">
                        <label class="m-radio">
                            <input type="radio" @(Model.CustomerModel.IsMerried == 0 ? "checked=\"checked\"" : "") name="CustomerModel.IsMerried" value="0">
                            Chưa có
                            <span></span>
                        </label>
                        <label class="m-radio">
                            <input type="radio" @(Model.CustomerModel.IsMerried == 1 ? "checked=\"checked\"" : "") name="CustomerModel.IsMerried" value="1">
                            Đã có
                            <span></span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    A/C có mấy cháu:
                </label>
                <div class="col-10">
                    <div class="m-radio-inline">
                        <label class="m-radio">
                            <input type="radio" @(Model.CustomerModel.NumberBaby == 0 ? "checked=\"checked\"" : "") name="CustomerModel.NumberBaby" value="0">
                            Chưa có
                            <span></span>
                        </label>
                        <label class="m-radio">
                            <input type="radio" @(Model.CustomerModel.NumberBaby == 1 ? "checked=\"checked\"" : "") name="CustomerModel.NumberBaby" value="1">
                            1 cháu
                            <span></span>
                        </label>
                        <label class="m-radio">
                            <input type="radio" @(Model.CustomerModel.NumberBaby == 2 ? "checked=\"checked\"" : "") name="CustomerModel.NumberBaby" value="2">
                            2 cháu
                            <span></span>
                        </label>
                        <label class="m-radio">
                            <input type="radio" @(Model.CustomerModel.NumberBaby == 3 ? "checked=\"checked\"" : "") name="CustomerModel.NumberBaby" value="3">
                            >= 3 cháu
                            <span></span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    A/C đang sống cùng ai:
                </label>
                <div class="col-10">
                    <div class="m-radio-inline">
                        <label class="m-radio">
                            <input type="radio" @(Model.LoanBriefResidentModel.LivingWith == 0 ? "checked=\"checked\"" : "") name="LoanBriefResidentModel.LivingWith" value="0">
                            Chung với bố mẹ
                            <span></span>
                        </label>
                        <label class="m-radio">
                            <input type="radio" @(Model.LoanBriefResidentModel.LivingWith == 1 ? "checked=\"checked\"" : "") name="LoanBriefResidentModel.LivingWith" value="1">
                            Riêng với vợ con
                            <span></span>
                        </label>
                        <label class="m-radio">
                            <input type="radio" @(Model.LoanBriefResidentModel.LivingWith == 2 ? "checked=\"checked\"" : "") name="LoanBriefResidentModel.LivingWith" value="2">
                            Riêng một mình
                            <span></span>
                        </label>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<input type="hidden" id="hdd_GroupId" value="@objUser.GroupId" />
