﻿@model LOS.WebApp.Models.LoanbriefViewModel
@{
    var ListJobs = ViewBag.ListJobs as List<LOS.DAL.DTOs.JobDetail>;
    var ListRelativeFamilys = ViewBag.ListRelativeFamilys as List<LOS.DAL.DTOs.RelativeFamilyDetail>;
}
<div class="m-section__content">
    <div style="margin-bottom: 5px; font-weight:bold">
        <span>
            Người thân - Đồng nghiệp
        </span>
        <i class="la la-angle-double-right" style="font-size: 15px;"></i>
    </div>
    <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
        <div class="custom-m-boder-box m-demo__preview">
            <input type="hidden" name="LoanBriefRelationshipModels[0].Id" value="@(Model.LoanBriefRelationshipModels != null && Model.LoanBriefRelationshipModels.Count > 0 ? Model.LoanBriefRelationshipModels.ToList()[0].Id : 0)" />

            <div class="row" style="margin-top: -15px;">
                <label for="example-email-input" class="col-2 col-form-label" style="font-weight: bold; float: left;">
                    Thông tin chủ hộ
                </label>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Khách hàng là chủ hộ
                </label>
                <div class="col-10 padding-top" style="padding-top: 5px;">
                    <div class="m-radio-inline">
                        <label class="m-radio">
                            <input type="radio" name="LoanBriefQuestionScriptModel.QuestionHouseOwner" @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.QuestionHouseOwner == true) ? "checked=\"checked\"" : "") value="true" onclick="RelativeInfomationModuleJS.ChangeInfomationHouseOwner(this.value)">
                            Đúng
                            <span></span>
                        </label>
                        <label class="m-radio">
                            <input type="radio" name="LoanBriefQuestionScriptModel.QuestionHouseOwner" @((Model.LoanBriefQuestionScriptModel != null && Model.LoanBriefQuestionScriptModel.QuestionHouseOwner == false) ? "checked=\"checked\"" : "") value="false" onclick="RelativeInfomationModuleJS.ChangeInfomationHouseOwner(this.value)">
                            Sai
                            <span></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group m-form__group row infomationHouseOwner">
                <label for="example-email-input" class="col-2 col-form-label">
                    Mối quan hệ:
                </label>
                <div class="col-4">
                    <select class="form-control cus-form-control m-input m-input--square" id="sl_relative_house_owner" name="LoanBriefHouseholdModel.RelationshipHouseOwner" style="width: 100%">
                        @if (ListRelativeFamilys != null && ListRelativeFamilys.Count > 0)
                        {
                            <option></option>
                            foreach (var item in ListRelativeFamilys)
                            {
                                <!option value="@item.Id" @(Model.LoanBriefHouseholdModel != null && Model.LoanBriefHouseholdModel.RelationshipHouseOwner == item.Id ? "selected=\"selected\"" : "")>
                                    @item.Name
                                </!option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="form-group m-form__group row infomationHouseOwner">
                <label for="example-email-input" class="col-2 col-form-label">
                    Họ và tên:
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input cus-input-script" type="text" name="LoanBriefHouseholdModel.FullNameHouseOwner" value="@(Model.LoanBriefHouseholdModel != null ? Model.LoanBriefHouseholdModel.FullNameHouseOwner : "")" placeholder="Nhập tên chủ hộ">
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Năm sinh:
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input cus-input-script" type="text" name="LoanBriefHouseholdModel.BirdayHouseOwner" value="@(Model.LoanBriefHouseholdModel != null ? Model.LoanBriefHouseholdModel.BirdayHouseOwner : "")" placeholder="Nhập năm sinh chủ hộ">
                </div>
            </div>

            <div class="row">
                <label for="example-email-input" class="col-2 col-form-label" style="font-weight: bold; float: left;">
                    Người thân thứ nhất
                </label>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Mối quan hệ:
                </label>
                <div class="col-4">
                    <select class="form-control cus-form-control m-select2" id="sl_relative_family" name="LoanBriefRelationshipModels[0].RelationshipType">
                        @if (ListRelativeFamilys != null && ListRelativeFamilys.Count > 0)
                        {
                            <option></option>
                            foreach (var item in ListRelativeFamilys)
                            {
                                <!option value="@item.Id" @(Model.LoanBriefRelationshipModels.ToList() != null && Model.LoanBriefRelationshipModels.Count > 0 && Model.LoanBriefRelationshipModels.ToList()[0].RelationshipType == item.Id ? "selected=\"selected\"" : "")>@item.Name</!option>
                            }
                        }
                    </select>

                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Họ tên:
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input" type="text" name="LoanBriefRelationshipModels[0].FullName" value="@(Model.LoanBriefRelationshipModels.ToList() != null && Model.LoanBriefRelationshipModels.Count > 0 ? Model.LoanBriefRelationshipModels.ToList()[0].FullName : "")" placeholder="Nhập tên người thân">
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Số ĐT người thân:
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input numberOnly" type="text" name="LoanBriefRelationshipModels[0].Phone" value="@(Model.LoanBriefRelationshipModels.ToList() != null  && Model.LoanBriefRelationshipModels.Count > 0 ? Model.LoanBriefRelationshipModels.ToList()[0].Phone : "")" placeholder="Nhập số ĐT người thân">
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Địa chỉ cư chú người thân:
                </label>
                <div class="col-10">
                    <textarea class="form-control cus-form-control m-input" name="LoanBriefRelationshipModels[0].Address" rows="3" placeholder="Nhập địa chỉ cư trú người thân">@(Model.LoanBriefRelationshipModels.ToList() != null && Model.LoanBriefRelationshipModels.Count > 0 ? Model.LoanBriefRelationshipModels.ToList()[0].Address : "")</textarea>
                </div>
            </div>

            <input type="hidden" name="LoanBriefRelationshipModels[1].Id" value="@(Model.LoanBriefRelationshipModels != null && Model.LoanBriefRelationshipModels.Count > 1 ? Model.LoanBriefRelationshipModels.ToList()[1].Id : 0)" />
            <div class="row" style="margin-top: -15px;">
                <label for="example-email-input" class="col-2 col-form-label" style="font-weight: bold; float: left;">
                    Người thân thứ hai
                </label>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Mối quan hệ:
                </label>
                <div class="col-4">
                    <select class="form-control cus-form-control m-select2" id="sl_relative_family2" name="LoanBriefRelationshipModels[1].RelationshipType">
                        @if (ListRelativeFamilys != null && ListRelativeFamilys.Count > 0)
                        {
                            <option></option>
                            foreach (var item in ListRelativeFamilys)
                            {
                                <!option value="@item.Id" @(Model.LoanBriefRelationshipModels.ToList() != null && Model.LoanBriefRelationshipModels.Count > 1 && Model.LoanBriefRelationshipModels.ToList()[1].RelationshipType == item.Id ? "selected=\"selected\"" : "")>@item.Name</!option>
                            }
                        }
                    </select>

                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Họ tên:
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input" type="text" name="LoanBriefRelationshipModels[1].FullName" value="@(Model.LoanBriefRelationshipModels.ToList() != null && Model.LoanBriefRelationshipModels.Count > 1 ? Model.LoanBriefRelationshipModels.ToList()[1].FullName : "")" placeholder="Nhập tên người thân">
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Số ĐT người thân:
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input numberOnly" type="text" name="LoanBriefRelationshipModels[1].Phone" value="@(Model.LoanBriefRelationshipModels.ToList() != null && Model.LoanBriefRelationshipModels.Count > 1 ? Model.LoanBriefRelationshipModels.ToList()[1].Phone : "")" placeholder="Nhập số ĐT người thân">
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Địa chỉ cư chú người thân:
                </label>
                <div class="col-10">
                    <textarea class="form-control cus-form-control m-input" name="LoanBriefRelationshipModels[1].Address" rows="3" placeholder="Nhập địa chỉ cư trú người thân">@(Model.LoanBriefRelationshipModels.ToList() != null && Model.LoanBriefRelationshipModels.Count > 1 ? Model.LoanBriefRelationshipModels.ToList()[1].Address : "")</textarea>
                </div>
            </div>

            <input type="hidden" name="LoanBriefRelationshipModels[2].Id" value="@(Model.LoanBriefRelationshipModels != null && Model.LoanBriefRelationshipModels.Count > 2 ? Model.LoanBriefRelationshipModels.ToList()[2].Id : 0)" />
            <div class="row" style="margin-top: -15px;">
                <label for="example-email-input" class="col-2 col-form-label" style="font-weight: bold; float: left;">
                    Người thân thứ ba
                </label>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Mối quan hệ:
                </label>
                <div class="col-4">
                    <select class="form-control cus-form-control m-select2" id="sl_relative_family3" name="LoanBriefRelationshipModels[2].RelationshipType">
                        @if (ListRelativeFamilys != null && ListRelativeFamilys.Count > 0)
                        {
                            <option></option>
                            foreach (var item in ListRelativeFamilys)
                            {
                                <!option value="@item.Id" @(Model.LoanBriefRelationshipModels.ToList() != null && Model.LoanBriefRelationshipModels.Count > 2 && Model.LoanBriefRelationshipModels.ToList()[2].RelationshipType == item.Id ? "selected=\"selected\"" : "")>@item.Name</!option>
                            }
                        }
                    </select>

                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Họ tên:
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input" type="text" name="LoanBriefRelationshipModels[2].FullName" value="@(Model.LoanBriefRelationshipModels.ToList() != null && Model.LoanBriefRelationshipModels.Count > 2 ? Model.LoanBriefRelationshipModels.ToList()[2].FullName : "")" placeholder="Nhập tên người thân">
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Số ĐT người thân:
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input numberOnly" type="text" name="LoanBriefRelationshipModels[2].Phone" value="@(Model.LoanBriefRelationshipModels.ToList() != null && Model.LoanBriefRelationshipModels.Count > 2 ? Model.LoanBriefRelationshipModels.ToList()[2].Phone : "")" placeholder="Nhập số ĐT người thân">
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Địa chỉ cư chú người thân:
                </label>
                <div class="col-10">
                    <textarea class="form-control cus-form-control m-input" name="LoanBriefRelationshipModels[2].Address" rows="3" placeholder="Nhập địa chỉ cư trú người thân">@(Model.LoanBriefRelationshipModels.ToList() != null && Model.LoanBriefRelationshipModels.Count > 2 ? Model.LoanBriefRelationshipModels.ToList()[2].Address : "")</textarea>
                </div>
            </div>

            <input type="hidden" name="LoanBriefRelationshipModels[3].Id" value="@(Model.LoanBriefRelationshipModels != null && Model.LoanBriefRelationshipModels.Count > 3 ? Model.LoanBriefRelationshipModels.ToList()[3].Id : 0)" />
            <div class="row" style="margin-top: -15px;">
                <label for="example-email-input" class="col-2 col-form-label" style="font-weight: bold; float: left;">
                    Người thân thứ tư
                </label>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Mối quan hệ:
                </label>
                <div class="col-4">
                    <select class="form-control cus-form-control m-select2" id="sl_relative_family4" name="LoanBriefRelationshipModels[3].RelationshipType">
                        @if (ListRelativeFamilys != null && ListRelativeFamilys.Count > 0)
                        {
                            <option></option>
                            foreach (var item in ListRelativeFamilys)
                            {
                                <!option value="@item.Id" @(Model.LoanBriefRelationshipModels.ToList() != null && Model.LoanBriefRelationshipModels.Count > 3 && Model.LoanBriefRelationshipModels.ToList()[3].RelationshipType == item.Id ? "selected=\"selected\"" : "")>@item.Name</!option>
                            }
                        }
                    </select>

                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Họ tên:
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input" type="text" name="LoanBriefRelationshipModels[3].FullName" value="@(Model.LoanBriefRelationshipModels.ToList() != null && Model.LoanBriefRelationshipModels.Count > 3 ? Model.LoanBriefRelationshipModels.ToList()[3].FullName : "")" placeholder="Nhập tên người thân">
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Số ĐT người thân:
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input numberOnly" type="text" name="LoanBriefRelationshipModels[3].Phone" value="@(Model.LoanBriefRelationshipModels.ToList() != null && Model.LoanBriefRelationshipModels.Count > 3 ? Model.LoanBriefRelationshipModels.ToList()[3].Phone : "")" placeholder="Nhập số ĐT người thân">
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Địa chỉ cư chú người thân:
                </label>
                <div class="col-10">
                    <textarea class="form-control cus-form-control m-input" name="LoanBriefRelationshipModels[3].Address" rows="3" placeholder="Nhập địa chỉ cư trú người thân">@(Model.LoanBriefRelationshipModels.ToList() != null && Model.LoanBriefRelationshipModels.Count > 3 ? Model.LoanBriefRelationshipModels.ToList()[3].Address : "")</textarea>
                </div>
            </div>
        </div>
    </div>
</div>