﻿@model LOS.WebApp.Models.LoanbriefViewModel
@{
    var ListJobs = ViewBag.ListJobs as List<LOS.DAL.DTOs.JobDetail>;
    var ListProvince = ViewBag.ListProvince as List<LOS.DAL.DTOs.ProvinceDetail>;
}
<div class="m-section__content">
    <div style="margin-bottom: 5px; font-weight:bold">
        <span>
            Việc làm
        </span>
        <i class="la la-angle-double-right" style="font-size: 15px;"></i>
    </div>
    <div class="m-demo" data-code-preview="true" data-code-html="true" data-code-js="false">
        <input type="hidden" name="LoanBriefJobModel.LoanBriefJobId" value="@Model.LoanBriefJobModel.LoanBriefJobId" />
        <input type="hidden" id="hdd_JobDescriptionId" value="@((Model.LoanBriefJobModel != null && Model.LoanBriefJobModel.JobDescriptionId > 0) ? Model.LoanBriefJobModel.JobDescriptionId : 0)" />
        <div class="custom-m-boder-box m-demo__preview">
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Nghề nghiệp:
                </label>
                <div class="col-4">
                    <select class="form-control cus-form-control m-select2" id="sl_jobId" name="LoanBriefJobModel.JobId" onchange="WorkInformationModuleJS.ChangeTypeJob(this.value)">
                        @*@if (ListJobs != null && ListJobs.Count > 0)
                    {
                        <option></option>
                        foreach (var item in ListJobs)
                        {
                            <!option value="@item.JobId" @(item.JobId == Model.LoanBriefJobModel.JobId ? "selected=\"selected\"" : "")>@item.Name</!option>
                        }
                    }*@
                        <option></option>
                        <!option @((Model.LoanBriefJobModel != null && Model.LoanBriefJobModel.JobId == 123) ? "selected=\"selected\"" : "") value="123">Đi làm hưởng lương</!option>
                        <!option @((Model.LoanBriefJobModel != null && Model.LoanBriefJobModel.JobId == 124) ? "selected=\"selected\"" : "") value="124">Tự kinh doanh</!option>
                        <!option @((Model.LoanBriefJobModel != null && Model.LoanBriefJobModel.JobId == 125) ? "selected=\"selected\"" : "") value="125">Làm tài xế công nghệ</!option>
                        <!option @((Model.LoanBriefJobModel != null && Model.LoanBriefJobModel.JobId == 126) ? "selected=\"selected\"" : "") value="126"> Làm tự do</!option>
                    </select>
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Tên công ty:
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input" type="text" name="LoanBriefJobModel.CompanyName" value="@Model.LoanBriefJobModel.CompanyName" placeholder="Nhập tên công ty">
                </div>
            </div>

            <div class="form-group m-form__group row" id="div-nganhnghe">
                <label for="example-email-input" class="col-2 col-form-label">
                    Ngành nghề:
                </label>
                <div class="col-4">
                    <select class="form-control cus-form-control m-select2" id="sl_JobDescriptionId" name="LoanBriefJobModel.JobDescriptionId">
                    </select>
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Số ĐT công ty:
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input numberOnly" type="text" name="LoanBriefJobModel.CompanyPhone" value="@Model.LoanBriefJobModel.CompanyPhone" placeholder="Nhập số ĐT công ty">
                </div>
                <label for="example-email-input" class="col-2 col-form-label">
                    Mã số thuế Công ty:
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input" type="text" name="LoanBriefJobModel.CompanyTaxCode" value="@Model.LoanBriefJobModel.CompanyTaxCode" placeholder="Nhập mã số thuế công ty">
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Địa chỉ công ty:
                </label>
                <div class="col-4">
                    <select class="form-control cus-form-control m-select2" id="sl_province_work_company" name="LoanBriefJobModel.CompanyProvinceId" onchange="WorkInformationModuleJS.GetDistrict(this.value, 0)">
                        @if (ListProvince != null && ListProvince.Count > 0)
                        {
                            <option></option>
                            foreach (var item in ListProvince)
                            {
                                <!option value="@item.ProvinceId" @(Model.LoanBriefJobModel.CompanyProvinceId == item.ProvinceId ? "selected=\"selected\"" : "")>@item.Name</!option>
                            }
                        }
                    </select>
                </div>

                <label for="example-email-input" class="col-2 col-form-label">
                    Quận/ Huyện:
                </label>
                <div class="col-4">
                    <select class="form-control cus-form-control m-input m-input--square" id="sl_district_work_company" name="LoanBriefJobModel.CompanyDistrictId" onchange="WorkInformationModuleJS.GetWard(this.value, 0)">
                        <option></option>
                    </select>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Phường/ xã:
                </label>
                <div class="col-4">
                    <select class="form-control cus-form-control m-select2" id="sl_ward_work_company" name="LoanBriefJobModel.CompanyWardId" aria-hidden="true">
                        <option></option>
                    </select>
                </div>

                <label for="example-email-input" class="col-2 col-form-label" id="lbl_CompanyInsurance" style="@(Model.LoanBriefJobModel.JobId != 123 ? "display: none;" : "")">
                    BHXH/BHYT cho nhân viên:
                </label>
                <div class="col-4" id="div_CompanyInsurance" style="@(Model.LoanBriefJobModel.JobId != 123 ? "display: none;" : "")">
                    <div class="m-radio-inline">
                        <label class="m-radio label-color-right">
                            <input type="radio" value="true" name="LoanBriefJobModel.CompanyInsurance" @(Model.LoanBriefJobModel.CompanyInsurance == true ? "checked=\"checked\"" : "")>
                            Có mua
                            <span></span>
                        </label>
                        <label class="m-radio label-color-right">
                            <input type="radio" value="false" name="LoanBriefJobModel.CompanyInsurance" @(Model.LoanBriefJobModel.CompanyInsurance == false ? "checked=\"checked\"" : "")>
                            Không mua
                            <span></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Địa chỉ chính xác:
                </label>
                <div class="col-10">
                    <textarea class="form-control cus-form-control m-input" id="txtWorkAddress" name="LoanBriefJobModel.CompanyAddress" rows="3" placeholder="Nhập địa chỉ chính xác. Ví dụ: 275 Nguyễn Trãi">@Model.LoanBriefJobModel.CompanyAddress</textarea>
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Thu nhập:
                    <span style="font-size: 10px; color: #ADB0C2;width: 100%; float: left">
                        khách hàng cung cấp
                    </span>
                </label>
                <div class="col-4">
                    <input class="form-control cus-form-control m-input inputAmountVND" style="text-align: right;" type="text" name="LoanBriefJobModel.TotalIncome" id="txtTotalIncome" value="@(Model.LoanBriefJobModel.TotalIncome.HasValue ? Model.LoanBriefJobModel.TotalIncome.Value.ToString("##,#") : "0")">
                </div>


                <label for="example-email-input" class="col-2 col-form-label" id="lbl_ImcomeType" style="@(Model.LoanBriefJobModel.JobId != 123 ? "display: none;" : "")">
                    Hình thức nhận lương:
                    <span style="font-size: 10px; color: #ADB0C2;width: 100%; float: left">
                        khách hàng cung cấp
                    </span>
                </label>
                <div class="col-4" id="div_ImcomeType" style="@(Model.LoanBriefJobModel.JobId != 123 ? "display: none;" : "")">
                    <select class="form-control cus-form-control m-input m-input--square" name="LoanBriefJobModel.ImcomeType" id="sl_work_ReceivingMoney">
                        <option></option>
                        <!option value="@LOS.Common.Extensions.EnumImcomeType.ChuyenKhoan.GetHashCode()" @(Model.LoanBriefJobModel.ImcomeType == (int)LOS.Common.Extensions.EnumImcomeType.ChuyenKhoan ? "selected=\"selected\"" : "")>
                            Nhận lương chuyển khoản
                        </!option>
                        <!option value="@LOS.Common.Extensions.EnumImcomeType.TienMat.GetHashCode()" @(Model.LoanBriefJobModel.ImcomeType == (int)LOS.Common.Extensions.EnumImcomeType.TienMat ? "selected=\"selected\"" : "")>
                            Nhận lương tiền mặt
                        </!option>
                    </select>
                </div>


                <label for="example-email-input" class="col-2 col-form-label" id="lbl_WorkLocation" style="@(Model.LoanBriefJobModel.JobId != 126 ? "display: none;" : "")">
                    Địa điểm làm việc:
                </label>
                <div class="col-4" id="div_WorkLocation" style="@(Model.LoanBriefJobModel.JobId != 126 ? "display: none;" : "")">
                    <div class="m-radio-inline" style="margin-top: 10px;">
                        <label class="m-radio label-color-right">
                            <input type="radio" value="true" name="LoanBriefJobModel.WorkLocation" @(Model.LoanBriefJobModel.WorkLocation == true ? "checked=\"checked\"" : "")>
                            Cố định
                            <span></span>
                        </label>
                        <label class="m-radio label-color-right">
                            <input type="radio" value="false" name="LoanBriefJobModel.WorkLocation" @(Model.LoanBriefJobModel.WorkLocation == false ? "checked=\"checked\"" : "")>
                            Không cố định
                            <span></span>
                        </label>
                    </div>
                </div>



                <label for="example-email-input" class="col-2 col-form-label" id="lbl_BusinessPapers" style="@(Model.LoanBriefJobModel.JobId != 124 ? "display: none;" : "")">
                    Giấy tờ kinh doanh:
                </label>
                <div class="col-4" id="div_BusinessPapers" style="@(Model.LoanBriefJobModel.JobId != 124 ? "display: none;" : "")">
                    <div class="m-radio-inline" style="margin-top: 10px;">
                        <label class="m-radio label-color-right">
                            <input type="radio" value="true" name="LoanBriefJobModel.BusinessPapers" @(Model.LoanBriefJobModel.BusinessPapers == true ? "checked=\"checked\"" : "")>
                            Có
                            <span></span>
                        </label>
                        <label class="m-radio label-color-right">
                            <input type="radio" value="false" name="LoanBriefJobModel.BusinessPapers" @(Model.LoanBriefJobModel.BusinessPapers == false ? "checked=\"checked\"" : "")>
                            Không
                            <span></span>
                        </label>
                    </div>
                </div>


            </div>
            <div class="form-group m-form__group row">
                <label for="example-email-input" class="col-2 col-form-label">
                    Vị trí:
                </label>
                <div class="col-10">
                    <textarea class="form-control cus-form-control m-input" name="LoanBriefJobModel.Description" rows="3" placeholder="Mô tả vị trí công việc">@Model.LoanBriefJobModel.Description</textarea>
                </div>
            </div>
            @if (ViewBag.PickLCT)
            {
                @*Bản đồ*@
                <div class="form-group m-form__group row-cus-script" style="text-align:center;">
                    <div class="col-12 cus-border-right box-cus-row">
                        <label class="col-form-label" style="font-weight: bold">
                            Địa chỉ nơi làm việc
                        </label>
                    </div>
                    <div class="col-12 box-cus-row">
                        <div>
                            <input class="form-control cus-form-control m-input cus-input-script" style="background:none !important;" type="text" placeholder="Địa chỉ nơi làm việc trên bản đồ" name="LoanBriefJobModel.CompanyAddressGoogleMap" id="WorkAddressGoogleMap" value="@(string.IsNullOrEmpty(Model.LoanBriefJobModel.CompanyAddressGoogleMap) ? Model.LoanBriefJobModel.CompanyAddress : Model.LoanBriefJobModel.CompanyAddressGoogleMap)">
                        </div>

                        <div class="row" style="margin-top: 10px">
                            <div class="col-3">
                                <button class="btn  btn-tima" type="button" style="padding: 7px 30px; width: 100%" onclick="GoogleMapModule.SearchLocationWorkAddress('#boxGoogleMapWorkAddress', '#WorkAddressGoogleMap', '#boxCoordinateWorkAddress')">Bản đồ</button>
                            </div>
                            <div class="col-9">
                                <input class="form-control cus-form-control m-input cus-input-script" style="background:none !important;" type="text" name="LoanBriefJobModel.CompanyAddressLatLng" value="@Model.LoanBriefJobModel.CompanyAddressLatLng" placeholder="Kinh độ, vĩ độ" id="boxCoordinateWorkAddress">
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px">
                            <div class="col-9"></div>
                            <div class="col-3">
                                <button class="btn btn-tima" type="button" style="padding: 7px 30px; width: 100%;" onclick="GoogleMapModule.HideGoogleMapAddressNew('#boxGoogleMapWorkAddress')">Ẩn bản đồ</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group m-form__group row-cus-script" id="boxGoogleMapWorkAddress" style="height: 500px; margin: 15px 0px; display: none">
                </div>
            }
            else
            {
                <input type="hidden" name="LoanBriefJobModel.CompanyAddressGoogleMap" value="@(string.IsNullOrEmpty(Model.LoanBriefJobModel.CompanyAddressGoogleMap) ? Model.LoanBriefJobModel.CompanyAddress : Model.LoanBriefJobModel.CompanyAddressGoogleMap)">
                <input type="hidden" name="LoanBriefJobModel.CompanyAddressLatLng" value="@Model.LoanBriefJobModel.CompanyAddressLatLng">
            }
        </div>
    </div>
</div>