﻿@model List<LOS.DAL.DTOs.PipelineDTO>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@inject System.Net.Http.IHttpClientFactory clientFactory
@*@await Component.InvokeAsync("Breadcrumb", new { ModuleName = "PIPELINE_MANAGER" })*@
@if (Model != null && Model.Count > 0)
{
	@foreach (var pipeline in Model)
	{
		<div class="m-content">
			<div class="m-portlet m-portlet--mobile m-portlet--collapse pipeline-container" data-portlet="true">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text">
								@pipeline.Name
							</h3>
						</div>
					</div>
					<div class="m-portlet__head-tools">
						<ul class="m-portlet__nav">
							<li class="m-portlet__nav-item">
								<a class="m-portlet__nav-link m-portlet__nav-link--icon" onclick="PipelineModule.DeletePipeline(@(pipeline.PipelineId),'@(pipeline.Name)');">
									<i class="la la-close"></i>
								</a>
							</li>
							<li class="m-portlet__nav-item">
								<a class="m-portlet__nav-link m-portlet__nav-link--icon" onclick="PipelineModule.ShowCreateUpdatePipelineModal(@(pipeline.PipelineId));">
									<i class="la la-edit"></i>
								</a>
							</li>
							<li class="m-portlet__nav-item">
								<a data-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
									<i class="la la-angle-up"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="m-portlet__body">
					<div class="m-scrollable" data-scrollbar-shown="true" data-axis="xy" data-scrollable="true" data-height="500">
						<div style="width: 4000px;" class="portlet-container" id="m_sortable_portlets">
							@foreach (var section in pipeline.Sections)
							{
								if (section.IsShow.HasValue && section.IsShow.Value)
								{
									<div class="m-portlet m-portlet--mobile m--margin-left-10 section-portlet m-portlet--bordered m-scrollable m-portlet--sortable" data-order="@(section.Order)" data-id="@(section.SectionId)" data-scrollbar-shown="true" data-scrollable="true" data-max-height="400" data-portlet="true">
										<div class="m-portlet__head m-portlet__head_sortable">
											<div class="m-portlet__head-caption">
												<div class="m-portlet__head-title">
													<h5 class="m-portlet__head-text m-portlet__head-text-inner">
														<span class="section-order">@(section.Order)</span>.<span>@(section.Name)</span>
													</h5>
												</div>
											</div>
											<div class="m-portlet__head-tools">
												<ul class="m-portlet__nav">
													<li class="m-portlet__nav-item">
														<a class="m-portlet__nav-link m-portlet__nav-link--icon" onclick="PipelineModule.DeleteSection(@(section.SectionId),'@(section.Name)')">
															<i class="la la-close"></i>
														</a>
													</li>
													<li class="m-portlet__nav-item">
														<a class="m-portlet__nav-link m-portlet__nav-link--icon" onclick="PipelineModule.ShowCreateUpdateSectionModal(@(pipeline.PipelineId),@(section.SectionId));">
															<i class="la la-edit"></i>
														</a>
													</li>
													<li class="m-portlet__nav-item">
														<a data-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
															<i class="la la-angle-up"></i>
														</a>
													</li>
												</ul>
											</div>
										</div>
										<div class="m-portlet__body " style="margin:0px;padding:0px;">
											@foreach (var detail in section.Details)
											{
												if (detail.IsShow.HasValue && detail.IsShow.Value)
												{
													<div class="m-portlet m-portlet--mobile m--margin-left-10 m-portlet--bordered m-portlet--collapse" data-portlet="true" style="margin-bottom:0px;">
														<div class="m-portlet__head ">
															<div class="m-portlet__head-caption">
																<div class="m-portlet__head-title">
																	<h5 class="m-portlet__head-text m-portlet__head-text-inner">
																		@(section.Order + "." + detail.Step + ". " + detail.Name)
																	</h5>
																</div>
															</div>
															<div class="m-portlet__head-tools">
																<ul class="m-portlet__nav">
																	<li class="m-portlet__nav-item">
																		<a class="m-portlet__nav-link m-portlet__nav-link--icon" onclick="PipelineModule.DeleteSectionDetail(@(detail.SectionId),@(detail.SectionDetailId),'@(detail.Name)')">
																			<i class="la la-close"></i>
																		</a>
																	</li>
																	<li class="m-portlet__nav-item">
																		<a class="m-portlet__nav-link m-portlet__nav-link--icon" onclick="PipelineModule.ShowSectionDetailModal(@(pipeline.PipelineId),@(section.SectionId), @(detail.SectionDetailId));">
																			<i class="la la-edit"></i>
																		</a>
																	</li>
																	<li class="m-portlet__nav-item">
																		<a data-portlet-tool="toggle" class="m-portlet__nav-link m-portlet__nav-link--icon">
																			<i class="la la-angle-up"></i>
																		</a>
																	</li>
																</ul>
															</div>
														</div>
														<div class="m-portlet__body " style="margin:0px;padding:0px;display:none;">
															<div class="m--padding-5" style="background-color:#0094ff">
																<p>Giá trị khởi tạo: </p>
																@if (detail.Actions.Where(x => x.Type == 1) != null && detail.Actions.Where(x => x.Type == 1).Count() > 0)
																{
																	@foreach (var action in detail.Actions.Where(x => x.Type == 1))
																	{
																		<p>@(action.Property.Name + " >> " + LOS.WebApp.Helpers.Ultility.GetValue(action.Value, action.Property.LinkObject,"", clientFactory))</p>
																	}
																}
																else
																{
																	<span>Không có giá trị</span>
																}
															</div>
															<div class="m--padding-5" style="background-color:#0094ff">
																<p>Giá trị trả về: </p>
																@if (detail.Actions.Where(x => x.Type == 2) != null && detail.Actions.Where(x => x.Type == 2).Count() > 0)
																{
																	@foreach (var action in detail.Actions.Where(x => x.Type == 2))
																	{
																		<p>@(action.Property.Name + " >> " + LOS.WebApp.Helpers.Ultility.GetValue(action.Value, action.Property.LinkObject,"", clientFactory))</p>
																	}
																}
																else
																{
																	<span>Không có giá trị</span>
																}
															</div>
															<div>
																<div class="m--padding-5" style="background-color:#4cff00">
																	<p> Điều kiện duyệt : </p>
																	<div style="background-color:#4cff00;margin:0px;">
																		@if (detail.Approves != null && detail.Approves.Count() > 0)
																		{
																			int c = 1;
																			foreach (var approve in detail.Approves)
																			{
																				@if (approve.Conditions != null && approve.Conditions.Count() > 0)
																				{
																					@foreach (var condition in approve.Conditions)
																					{
																						<p>@(c + "." + condition.Property.Name + " " + LOS.WebApp.Helpers.Ultility.GetOperatorValue(condition.Operator) + " " + LOS.WebApp.Helpers.Ultility.GetValue(condition.Value, condition.Property.LinkObject,"", clientFactory))</p>
																					}
																					<span>Chuyển đến >> @(approve != null ? approve.Approve.Name : "Không có")</span>
																				}
																				else
																				{
																					<br />
																					<p>@(c + ". Không yêu cầu điều kiện")</p>
																					<span>Chuyển đến >> @(approve != null ? approve.Approve.Name : "Không có")</span>
																				}
																				c++;
																			}
																		}
																		else
																		{
																			<span>Không có</span>
																		}
																	</div>
																</div>
																<div class="m--padding-5" style="background-color:#ff6a00">
																	<p>Hành động trả về : </p>
																	<span>Chuyển đến -> @(detail.Return != null ? detail.Return.Name : "Không có")</span>
																</div>
																<div class="m--padding-5" style="background-color:#ff0000">
																	<p>Hành động không duyệt : </p>
																	<span>Chuyển đến -> @(detail.Disapprove != null ? detail.Disapprove.Name : "Không có")</span>
																</div>
															</div>
														</div>
													</div>
												}
											}
											<div class="m-portlet m-portlet--mobile m--margin-left-10 m-portlet--bordered" style="cursor:pointer;" data-portlet="true" onclick="PipelineModule.ShowSectionDetailModal(@(pipeline.PipelineId),@(section.SectionId), 0);">
												<div class="m-portlet__head">
													<div class="m-portlet__head-caption">
														<div class="m-portlet__head-title">
															<h5 class="m-portlet__head-text m-portlet__head-text-inner">
																Thêm hành động mới
															</h5>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								}
							}
							<div class="m-portlet m-portlet--mobile m--margin-left-10 m-portlet--bordered" style="cursor:pointer;" data-portlet="true" onclick="PipelineModule.ShowCreateUpdateSectionModal(@(pipeline.PipelineId), 0)">
								<div class="m-portlet__head">
									<div class="m-portlet__head-caption">
										<div class="m-portlet__head-title">
											<h5 class="m-portlet__head-text m-portlet__head-text-inner">
												Thêm bộ phận mới
											</h5>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	}
}

<div class="m-content row">
	<div class="m-portlet m-portlet--mobile" data-portlet="true" style="width:320px;margin-left:10px;cursor:pointer;" onclick="PipelineModule.ShowCreateUpdatePipelineModal(0);">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<h3 class="m-portlet__head-text">
						Thêm kịch bản mới
					</h3>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="modalContent">
</div>

@section Scripts
{
	<script src="~/assets/vendors/custom/jquery-ui/jquery-ui.bundle.js" type="text/javascript"></script>
	<script src="/assets/demo/default/custom/components/portlets/draggable.js" type="text/javascript"></script>
	<script src="/js/PipelineModule.js" type="text/javascript"></script>
}
<style>

	p {
		line-height: 12px;
	}

	.portlet-container {
		width: 4000px;
		max-height: 400px;
		min-height: 120px;
	}

	.section-portlet {
		width: 320px;
		max-height: 800px;
	}

	.m-portlet__head-text-inner {
		font-size: 14px !important;
	}

	.m-content {
		padding: 10px !important;
	}

	#m_sortable_portlets > div {
		float: left;
	}
</style>