﻿@model LOS.WebApp.Models.Users.UserItem;
@{
    ViewData["Title"] = "Quản lý tài khoản";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    /* Change the white to any color ;) */
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px white inset !important;
    }
</style>
<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Thông tin  tài khoản
                    </h3>
                </div>
            </div>
        </div>
        <!--begin: Search Form -->
        <div class="m-portlet m-portlet--tab">
            <!--begin::Form-->
            <form class="m-form m-form--fit m-form--label-align-right">
                <input type="hidden" name="UserId" id="txtuserId" value="@Model.UserId" />
                <input type="hidden" value="" name="lstMenu" id="lstMenu" />
                <input type="hidden" id="txtGroupID" value="@Model.GroupId" />
                <input type="hidden" id="txtStatus" value="@Model.Status" />
                <div class="m-portlet__body row">
                    <div class="col-lg-5">
                        <div class="form-group m-form__group row">
                            <label class="col-lg-5 col-form-label">
                                Tên tài khoản:
                            </label>
                            <div class="col-lg-7">
                                <input type="text" class="form-control m-input" name="Username" autocomplete="autocomplete_off_hack_xfr4!k" value="@Model.Username" id="txtusername" placeholder="Tên tài khoản">
                                <span class="m-form__help">
                                </span>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-5 col-form-label">
                                Email:
                            </label>
                            <div class="col-lg-7">
                                <input type="text" value="@Model.Email" class="form-control m-input" name="Email" placeholder="Email">
                                <span class="m-form__help">
                                </span>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-5 col-form-label">
                                Nhóm:
                            </label>
                            <div class="col-lg-7">
                                <select class="form-control m-input m-select2" name="GroupId" id="ddl_GroupID" data-live-search="true">
                                    <option value=""> --Chọn nhóm tài khoản--</option>
                                    @foreach (var item in Model.ListGroup)
                                    {
                                        <option value="@item.GroupId"> @item.GroupName</option>
                                    }
                                </select>
                                <span class="m-form__help" style="display:none">
                                </span>
                            </div>
                        </div>
                        @if (Model.UserId == 0)
                        {
                            <div class="form-group m-form__group row">
                                <label class="col-lg-5 col-form-label">
                                    Mật khẩu:
                                </label>
                                <div class="col-lg-7">
                                    <input type="password" autocomplete="off" class="form-control m-input" value="@Model.Password" id="txtpassword" name="Password" placeholder="Password" />
                                    <span class="m-form__help">
                                    </span>
                                </div>
                            </div>
                        }
                        <div class="form-group m-form__group row">
                            <label class="col-lg-5 col-form-label">
                                Hub:
                            </label>
                            <div class="col-lg-7">
                                <select class="form-control m-input m-select2" multiple="multiple" name="HubIds" id="ddl_HubId">
                                    <option value=""> --Chọn hub--</option>
                                    @foreach (var item in Model.ListAllHub)
                                    {
                                        @if (Model.ListHub != null && Model.ListHub.Any(x => x.ShopId == item.ShopId))
                                        {
                                            <option value="@item.ShopId" selected="selected"> @item.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@item.ShopId"> @item.Name</option>
                                        }
                                    }
                                </select>
                                <span class="m-form__help" style="display:none">
                                </span>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-5 col-form-label">
                                Ipphone:
                            </label>
                            <div class="col-lg-7">
                                <input type="text" value="@Model.Ipphone" class="form-control m-input" name="Ipphone" placeholder="Ipphone">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-5 col-form-label">
                                CiscoUsername:
                            </label>
                            <div class="col-lg-7">
                                <input type="text" value="@Model.CiscoUsername" class="form-control m-input" name="CiscoUsername" placeholder="CiscoUsername">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group m-form__group row">
                            <label class="col-lg-2 col-form-label">
                                Họ tên
                            </label>
                            <div class="col-lg-7">
                                <input type="text" class="form-control m-input" value="@Model.FullName" name="FullName" placeholder="Họ tên">
                                <span class="m-form__help">
                                </span>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-2 col-form-label">
                                Số điện thoại
                            </label>
                            <div class="col-lg-7">
                                <input type="text" class="form-control m-input" value="@Model.Phone" name="Phone" placeholder="Số điện thoại">
                                <span class="m-form__help">
                                </span>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-2 col-form-label">
                                Trạng thái
                            </label>
                            <div class="col-lg-7">
                                <div class="m-radio-inline">
                                    <label class="m-radio m-radio--solid">
                                        <input type="radio" name="Status" value="1">
                                        Kích hoạt
                                        <span></span>
                                    </label>
                                    <label class="m-radio m-radio--solid">
                                        <input type="radio" name="Status" value="0">
                                        Khóa
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-2 col-form-label">
                                Tổng đài
                            </label>
                            <div class="col-lg-7">
                                <select class="form-control m-input m-select2" name="TypeCallService" id="ddl_TypeCallService">
                                    <option value=""> --Tổng đài call--</option>
                                    <!option value="@LOS.Common.Extensions.EnumTypeCallService.Caresoft.GetHashCode()" @(Model.TypeCallService == LOS.Common.Extensions.EnumTypeCallService.Caresoft.GetHashCode() ? "selected=\"selected\"" : "")>
                                        Caresoft
                                    </!option>
                                    <!option value="@LOS.Common.Extensions.EnumTypeCallService.Metech.GetHashCode()" @(Model.TypeCallService == LOS.Common.Extensions.EnumTypeCallService.Metech.GetHashCode() ? "selected=\"selected\"" : "")>
                                        Metech
                                    </!option>
                                </select>
                                <span class="m-form__help" style="display:none">
                                </span>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-2 col-form-label">
                                CiscoExtension:
                            </label>
                            <div class="col-lg-7">
                                <input type="text" value="@Model.CiscoExtension" class="form-control m-input" name="CiscoExtension" placeholder="CiscoExtension">
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                            <label class="col-lg-2 col-form-label">
                                CiscoPassword:
                            </label>
                            <div class="col-lg-7">
                                <input type="text" value="@Model.CiscoPassword" class="form-control m-input" name="CiscoPassword" placeholder="CiscoPassword">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group  m-form__group row ">
                    <div class="col-4">
                        <div class="m-portlet m-portlet--tab" style="margin-bottom: 15px !important;">
                            <div class="m-portlet__head" style="height:0!important">
                                <div class="m-portlet__head-caption">
                                    <div class="m-portlet__head-title">
                                        <div style="margin: 15px 5px;">
                                            <i class="la la-gear">Phân quyền menu</i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="m-portlet__body">
                                <div class="form-group m-form__group">
                                    <div id="m_tree_3" class="tree-demo"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="m-portlet m-portlet--tab" style="margin-bottom: 15px !important;">
                            <div class="m-portlet__head" style="height:0!important">
                                <div class="m-portlet__head-caption">
                                    <div class="m-portlet__head-title">
                                        <div style="margin: 15px 5px;">
                                            <i class="la la-gear">Phân quyền truy cập</i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="m-portlet__body">
                                <div class="form-group m-form__group" id="boxActionPermisson" style="padding: 0px;">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__foot m-portlet__foot--fit">
                    <div class="m-form__actions">
                        <div class="row" style="float: right;">
                            <a href="/user-manager.html" id="btn btn-tima-default" class="btn btn-secondary" style="margin-right: 15px;">
                                Hủy
                            </a>
                            <button type="reset" class="btn btn-tima" onclick="UserModule.AddUser(this,event);">
                                Lưu
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts
    {
    <script src="/js/App.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS" type="text/javascript"></script>
    <script src="/js/User/UserModule.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#ddl_HubId").select2({
                placeholder: "Chọn hub",
                width: '100%'
            });
            //$('#ddl_TypeCallService,#ddl_GroupID').selectpicker();
            var userfield, passfield;
            // Wait for the document to load, then call the clear function.
            window.addEventListener('load', function () {
                // Get the fields we want to clear.
                userfield = document.getElementById('txtusername');
                passfield = document.getElementById('txtpassword');
                // Clear the fields again after a very short period of time, in case the auto-complete is delayed.
                if ($('#txtuserId').val() == 0) {
                    userfield.value = '';
                    passfield.value = '';
                    setTimeout(function () { userfield.value = ''; passfield.value = ''; }, 5);
                    setTimeout(function () { userfield.value = ''; passfield.value = ''; }, 5);
                }

            }, false);
            $('input[name=Status][value=1]').attr('checked', true);
            if ($('#txtuserId').val() > 0) {
                $("#txtpassword").prop('disabled', true);
                $('#ddl_GroupID').val($('#txtGroupID').val());
                if ($('#txtStatus').val() == 0) {
                    $('input[name=Status][value=0]').attr('checked', true);
                }
            }
            var userid = $('#txtuserId').val();

            UserModule.GetMenuByUser(userid);
            UserModule.GetActionPermisson(userid);
            $('#ddl_TypeCallService,#ddl_GroupID').selectpicker();

        });
        $(document).on('click', '#btn_Huy', function () {
            window.location.href = '/user-manager.html';
        })
        $(document).on('change', '#ddl_GroupID', function () {
            var groupId = $(this).val();
            $("#ddl_GroupID-error").hide();
            UserModule.GetMenuByGroup(groupId);
            $('#errorGroupId').hide();
            var userid = $('#txtuserId').val();
            UserModule.GetActionPermissonGroup(groupId);
            //UserModule.GetActionPermissonByGroup(groupId);
        })

    </script>
}



