﻿@model LOS.WebApp.Models.UserViewModel
@{
    ViewData["Title"] = "Quản lý tài khoản";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/form.css?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS" rel="stylesheet" />
<style>

    #tbUser tbody {
        padding: 0 !important;
    }

    #linkName:hover {
        text-decoration: none !important;
    }

    .marginleft {
        margin-left: 25px;
    }

    .custom-table-tima > .m-datatable__table > .m-datatable__head .m-datatable__row {
        height: 50px !important;
    }

    .m-portlet .m-portlet__body {
        padding: 0rem 2.2rem;
    }

    .form-group {
        margin-bottom: 0px;
    }

    .m-portlet .m-portlet__body {
        padding-bottom: 20px;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        position: relative;
        padding: 0.65rem 0rem;
        line-height: 1.25;
    }
</style>
<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Danh sách tài khoản
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <!--begin: Search Form -->
            <div class="m-form m-form--label-align-right m--margin-bottom-10">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <div class="col-lg-2 col-md-6 col-sm-12" style="padding: 10px;">
                                <div class="m-input-icon m-input-icon--left">
                                    <input type="text" class="form-control m-input inputsearch" placeholder="Tìm kiếm" id="filterName">
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-6 col-sm-12" style="padding: 10px;">
                                <div class="m-form__control">
                                    <select class="form-control m-select2" id="filterGroup">
                                        <option value="-1">Tất cả nhóm tài khoản</option>
                                        @if (Model != null && Model.ListGroup != null)
                                        {
                                            foreach (var item in Model.ListGroup)
                                            {
                                                <option value="@item.GroupId">
                                                    @item.GroupName
                                                </option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-6 col-sm-12" style="padding: 10px;">
                                <div class="m-form__control">
                                    <select class="form-control m-select2" id="filterStatus">
                                        <option value="-1">Tất cả trạng thái</option>
                                        <option value="@((int)LOS.Common.Extensions.EnumStatusBase.Active)">@LOS.Common.Extensions.Description.GetDescription(LOS.Common.Extensions.EnumStatusBase.Active)</option>
                                        <option value="@((int)LOS.Common.Extensions.EnumStatusBase.Locked)">@LOS.Common.Extensions.Description.GetDescription(LOS.Common.Extensions.EnumStatusBase.Locked)</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12" style="padding: 10px; text-align: end;">
                                <div class="m-form__control">
                                    <a id="btnCreate" href="/user" class="btn btn-tima" onclick="InitLoanBrief.Create(0)">
                                        Tạo mới tài khoản
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end: Search Form -->

            <hr style="color: #333333;" />
            <table class="m-datatable__table dtform" width="100%" id="tbUser"></table>
        </div>
    </div>
</div>

<div class="modal fade" id="m_modal_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" id="modelUser">

    </div>
</div>

<div class="modal fade" id="modalPermissionData" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" id="bodyPermissionData" style="max-width: 60%;">

    </div>
</div>

<div class="modal fade" id="modalPermissionApiUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" id="bodyPermissionApiUser" style="max-width: 80%;">

    </div>
</div>

<div class="modal fade" id="modalConfigCiscoMobile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" id="bodyConfigCiscoMobile">

    </div>
</div>

@section Scripts
{
    <script src="/js/User/UserModule.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            UserModule.Init();
        });
    </script>
}
