﻿@model LOS.WebApp.Models.UserViewModel
@{
    ViewData["Title"] = "Quản lý tài khoản";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/form.css?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS" rel="stylesheet" />
<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Danh sách tài khoản
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <!--begin: Search Form -->
            <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                <div class="row align-items-center">
                    <div class="col-xl-8 order-2 order-xl-1">
                        <div class="form-group m-form__group row align-items-center">
                            <div class="col-md-3">
                                <div class="form-group m-form__group">
                                    <label>
                                        Nhóm tài khoản :
                                    </label>
                                    <div class="m-form__control">
                                        <select class="form-control m-bootstrap-select" id="filterGroup">
                                            <option value="-1">
                                                Tất cả
                                            </option>
                                            @if (Model != null && Model.ListGroup != null)
                                            {
                                                foreach (var item in Model.ListGroup)
                                                {
                                                    <option value="@item.GroupId">
                                                        @item.GroupName
                                                    </option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group m-form__group">
                                    <label>
                                        Trạng thái :
                                    </label>
                                    <div class="m-form__control">
                                        <select class="form-control m-bootstrap-select" id="filterStatus">
                                            <option value="-1">
                                                Tất cả
                                            </option>
                                            <option value="1">
                                                Đã kích hoạt
                                            </option>
                                            <option value="0">
                                                Chưa kích hoạt
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group m-form__group">
                                    <label>
                                        Tìm kiếm
                                    </label>
                                    <div class="m-input-icon m-input-icon--left">
                                        <input type="text" class="form-control m-input" placeholder="Tìm kiếm..." id="filterName">
                                        <span class="m-input-icon__icon m-input-icon__icon--left">
                                            <span>
                                                <i class="la la-search"></i>
                                            </span>
                                        </span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 order-1 order-xl-2 m--align-right">
                        <a href="#" class="btn btn-success m-btn m-btn--icon" onclick="UserModuleManager.LoadInforAccountTima(0)" data-toggle="modal" data-target="#modal_create_account_tima">
                            <span>
                                <i class="la la-cart-plus"></i>
                                <span>
                                    Tạo tài khoản
                                </span>
                            </span>
                        </a>
                        <div class="m-separator m-separator--dashed d-xl-none"></div>
                    </div>
                </div>
            </div>
            <table class="m-datatable" width="100%" id="tbUserManager"></table>
        </div>
    </div>
</div>
<partial name="~/Views/Users/Partial/_create_account_of_tima.cshtml" />
@section Scripts
    {
    <script src="~/js/User/user-manager.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            UserModuleManager.Init();
            App.ValidCustom();
        });
    </script>
}

