﻿@{
    ViewData["Title"] = "Cảnh báo đổi mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    ._image_logo {
        width: 200px;
        padding-top: 30px;
    }

    .lbl_title {
        font-size: 25px;
        text-transform: uppercase;
        font-weight: bold;
    }

    .padding-top-30 {
        padding-top: 30px;
    }

    .padding-top-20 {
        padding-top: 20px;
    }

    .padding-top-70 {
        padding-top: 70px;
    }

    .padding-top-50 {
        padding-top: 50px;
    }

    .lbl_Content {
    }

    .lbl_custom {
        padding-top: 15px;
    }

    .input_custom {
        border: none;
        border-bottom: 1px solid rgba(0,0,0,.12);
        display: block;
        font-size: 16px;
        font-family: Helvetica,Arial,sans-serif;
        margin: 0;
        padding: 4px 0;
        width: 100%;
        background: 0 0;
        outline: none;
    }

        .input_custom:focus,
        .input_custom:active {
            border-color: transparent;
            border-bottom: 1px solid #ed522e;
        }

    .span_danger {
        color: red;
        font-weight: 600;
    }

    .custome-label-warning {
        font-size: 15px;
            font-style: italic;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="container text-center">
                <img class="_image_logo" src="~/images/logo.png" alt="logo" />
            </div>
        </div>

        <div class="col-md-12 padding-top-70">
            <div class="container text-center">
                <label class="col-md-12 lbl_title">Cảnh báo</label>
                <label class="col-md-12 lbl_Content">
                    Để đảm bảo tính bảo mật của hệ thống Anh(chị) vui lòng đổi lại mật khẩu truy cập
                </label>
            </div>
            <div class="container padding-top-30">
                <div class="row offset-md-3">
                    <label class="col-md-3 lbl_custom">Mật khẩu cũ <span class="span_danger">*</span></label>
                    <div class="col-md-5">
                        <input class="input_custom" type="password" id="txt_password_old" />
                    </div>

                </div>
                <div class="row offset-md-3">
                    <label class="col-md-3 lbl_custom">Mật khẩu mới <span class="span_danger">*</span></label>
                    <div class="col-md-5">
                        <input class="input_custom" type="password" id="txt_password_new" />
                    </div>
                </div>
                <div class="row offset-md-3">
                    <label class="col-md-3 lbl_custom">Nhập lại mật khẩu <span class="span_danger">*</span></label>
                    <div class="col-md-5">
                        <input class="input_custom" type="password" id="txt_password_new_retype" />
                    </div>
                </div>
            </div>
            <div class="container padding-top-20">
                <div class="row offset-md-3">
                    <label class="col-md-3"></label>
                    <div class="col-md-5" style="text-align: end; ">
                        <button class="btn btn-primary btn-submit" onclick="LoginModule.ChangPasswordV2(this,event)">Lưu lại</button>
                    </div>
                </div>
            </div>
            <div class="container padding-top-30">
                <div class="row offset-md-3">
                    <label class="col-md-8 custome-label-warning" id="_check_8_ki_tu">
                        1. Độ dài tối thiểu là 8 ký tự
                    </label>
                </div>
                <div class="row offset-md-3">
                    <label class="col-md-8 custome-label-warning" id="_check_chu_va_so">
                        2. Bao gồm cả chữ và số
                    </label>
                </div>
                <div class="row offset-md-3">
                    <label class="col-md-8 custome-label-warning" id="_check_khac_mat_khau_cu">
                        3. Phải khác mật khẩu hiện tại
                    </label>
                </div>
                <div class="row offset-md-3">
                    <label class="col-md-8 custome-label-warning" id="_check_ki_tu_dac_biet">
                        4. Có ít nhất một ký tự đặc biệt sau: @("@#$%^&+=<>`{}")
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
