﻿@{
    ViewData["Title"] = "Tima";
}


<style>

    input, button {
        box-shadow: none !important;
    }

    .error-notify {
        font-size: 14px !important;
    }
</style>


<div class="root container-fluid">
    <div class="root-container row">
        <div class="col-lg-4 col-md-12 col-xs-12">
            <div class="container logo-wrapper">
                <div class="row align-items-center">
                    <div class="col-md-12 col-xs-12">
                        <img src="~/images/logo.png" alt="logo" width="100%" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-12 col-xs-12 login-wrapper">
            <div class="container" style="height: 100%">
                <div class="row align-items-center" style="height: 100%">
                    <div class="col-xl-8 col-lg-8 col-md-12 col-xs-12">
                        <form class="login-form" method="post" action="Home/LoginPost">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Tên đăng nhập</label>
                                <input type="text" class="form-control" id="Username" name="Username" placeholder="Username">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Mật khẩu</label>
                                <input type="password" class="form-control" id="Password" name="Password" placeholder="Password">
                            </div>
                            @*<div class="form-group div-otp" style="display: none;">
                                    <label>Mã OTP</label>
                                    <input type="number" class="form-control" id="Otp" name="Otp" placeholder="Mã OTP" min="100000" max="999999">
                                </div>*@
                            <button type="submit" class="btn btn-primary btn-submit m-loader m-loader--light m-loader--right" id="login_submit" onclick="LoginModule.Login(this,event);" disabled="disabled" style="cursor: no-drop;">Đăng nhập <i id="_btn_otp_loading" class=""></i></button>
                            @*<button type="submit" class="btn btn-primary btn-submit div-otp" id="login_check_otp" style="display: none;" onclick="LoginModule.CheckOTP(this)">Xác nhận <i id="_btn_confirm_loading" class=""></i></button>*@

                            <p class="text-center lost-password">
                                Bạn Quên mật khẩu? Hãy truy cập <a href="/lay-lai-mat-khau.html">tại đây</a>!
                            </p>
                            @*<p class="text-center text-or">
                                    <span>Hoặc</span>
                                </p>
                                <button type="button" class="btn-primary btn-login-with-google">
                                    <img src="~/images/gmail.png"
                                         alt="GMAIL" /> Đăng nhập với GMAIL
                                </button>*@
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dot">
        <img src="~/images/dot.png" alt="dot">
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            App.Init();
            $('#login_submit').attr('style', 'cursor: pointer;');
            $('#login_submit').removeAttr('disabled', 'disabled');
        });
    </script>
}
