﻿@{
    ViewData["Title"] = "Lấy lại mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    ._image_logo {
        width: 200px;
        padding-top: 30px;
    }

    .lbl_title {
        font-size: 25px;
        text-transform: uppercase;
        font-weight: bold;
    }

    .padding-top-30 {
        padding-top: 30px;
    }

    .padding-top-20 {
        padding-top: 20px;
    }

    .padding-top-70 {
        padding-top: 70px;
    }

    .padding-top-50 {
        padding-top: 50px;
    }

    .lbl_Content {
    }

    .lbl_custom {
        padding-top: 15px;
    }

    .input_custom {
        border: none;
        border-bottom: 1px solid rgba(0,0,0,.12);
        display: block;
        font-size: 16px;
        font-family: Helvetica,Arial,sans-serif;
        margin: 0;
        padding: 4px 0;
        width: 100%;
        background: 0 0;
        outline: none;
    }

        .input_custom:focus,
        .input_custom:active {
            border-color: transparent;
            border-bottom: 1px solid #ed522e;
        }

    .span_danger {
        color: red;
        font-weight: 600;
    }

    .custome-label-warning {
        font-size: 15px;
        font-style: italic;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="container text-center">
                <img class="_image_logo" src="~/images/logo.png" alt="logo" />
            </div>
        </div>

        <div class="col-md-12 padding-top-70">
            <div class="container text-center">
                <label class="col-md-12 lbl_title">Lấy lại mật khẩu</label>
            </div>
            <div class="container padding-top-30">
                <input type="hidden" id="hdd_UserId" />
                <div class="row offset-md-3">
                    <label class="col-md-3 lbl_custom">Tài khoản <span class="span_danger">*</span></label>
                    <div class="col-md-5">
                        <input class="input_custom" type="text" id="txt_username" />
                    </div>
                </div>
                <div class="row offset-md-3 div_otp" style="display: none;">
                    <label class="col-md-3 lbl_custom">Mã OTP <span class="span_danger">*</span></label>
                    <div class="col-md-5">
                        <input class="input_custom" type="text" id="txt_otp" />
                    </div>
                </div>
            </div>
            <div class="container padding-top-20">
                <div class="row offset-md-3">
                    <label class="col-md-3"></label>
                    <div class="col-md-5" style="text-align: end; ">
                        <button class="btn btn-primary btn-submit" onclick="LoginModule.SendRequireResetPass(this)" id="btn_send_require">Gửi yêu cầu <i id="_btn_send_require_loading" class=""></i></button>
                        <button class="btn btn-primary btn-submit" onclick="LoginModule.ConfirmOtpResetPass(this)" id="btn_submit" style="display: none;">Xác nhận <i id="_btn_confirm_otp_loading" class=""></i></button>
                    </div>
                </div>
            </div>
            <div class="container padding-top-30">
                <div class="row offset-md-3">
                    <label class="col-md-8 custome-label-warning" id="_check_8_ki_tu">
                        B1. Nhập đúng tài khoản của bạn.
                    </label>
                </div>
                <div class="row offset-md-3">
                    <label class="col-md-8 custome-label-warning" id="_check_chu_va_so">
                        B2. Lấy mã OTP trên email bạn đã đăng ký tài khoản để xác nhận.
                    </label>
                </div>
                <div class="row offset-md-3">
                    <label class="col-md-8 custome-label-warning" id="_check_khac_mat_khau_cu">
                        B3. Mật khẩu mới sẽ được gửi về tài khoản của bạn.
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
