﻿@model SSO.EntityFramework.User
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hệ thống quản lý Tima.vn</title>
    <link href="~/assets/demo/default/base/style.bundle.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/styles.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .dropbtn {
            color: black;
            padding: 16px;
            font-size: 16px;
            border: none;
        }

        .dropdown_toggle {
            position: relative;
            display: inline-block;
            width: 100%;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

                .dropdown-content a:hover {
                    background-color: #ddd;
                }

        .dropdown_toggle:hover .dropdown-content {
            display: block;
        }

        .m-topbar__userpic {
            display: flow-root;
            vertical-align: middle;
            text-align: center;
            margin: 0 auto;
        }

        .img-user-info {
            display: block;
            vertical-align: middle;
            max-width: 41px !important;
        }
    </style>
</head>
<body>
    <div class="index container-fluid">
        <div class="index-container row">
            <div class="m-stack__item m-stack__item--fluid m-header-head" id="m_header_nav" style="width:100%;">
                <div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general">
                    <div class="half" style="width: 160px">
                        <div class="dropdown_toggle">
                            <div class=" dropbtn">
                                <span class="m-topbar__userpic">
                                    <img style="float: right" src="/assets/app/media/img/users/user4.jpg" class="img-user-info" alt="">
                                    <span style="float:right; padding-top: 10px; padding-right: 10px">@Model.Username</span>
                                </span>
                            </div>
                            <div class="dropdown-content">
                                <a href="/doi-mat-khau.html" title="Đổi mật khẩu">
                                    Đổi mật khẩu
                                </a>
                                <a href="/logout.html" id="btn_logout">
                                    &nbsp;&nbsp;&nbsp;Đăng xuất&nbsp;&nbsp;&nbsp;
                                </a>
                            </div>
                        </div>
                    </div>
                    @*<div class="m-stack__item m-topbar__nav-wrapper">
                            <ul class="m-topbar__nav m-nav m-nav--inline">
                                <li class="m-nav__item m-topbar__user-profile m-topbar__user-profile--img m-dropdown m-dropdown--medium m-dropdown--arrow m-dropdown--header-bg-fill m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light" data-dropdown-toggle="click" aria-expanded="true">
                                    <a href="#" class="m-nav__link m-dropdown__toggle">
                                        <span class="m-topbar__userpic">
                                            <span style="float:left; padding-top: 10px; padding-right: 10px">@Model.Username</span>
                                            <img style="float: right" src="/assets/app/media/img/users/user4.jpg" class="m--img-rounded m--marginless m--img-centered" alt="">
                                        </span>
                                    </a>
                                    <div class="m-dropdown__wrapper">
                                        <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust" style="left: auto; right: 42px;"></span>
                                        <div class="m-dropdown__inner">
                                            <div class="m-dropdown__header m--align-center" style="background: url(/assets/app/media/img/misc/user_profile_bg.jpg); background-size: cover;">
                                                <div class="m-card-user m-card-user--skin-dark">
                                                    <div class="m-card-user__pic">
                                                        <img src="/assets/app/media/img/users/user4.jpg" class="m--img-rounded m--marginless" alt="">
                                                    </div>
                                                    <div class="m-card-user__details">
                                                        <span class="m-card-user__name m--font-weight-500">

                                                        </span>
                                                        <a href="" class="m-card-user__email m--font-weight-300 m-link">
                                                            @Model.Username
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="m-dropdown__body">
                                                <div class="m-dropdown__content">
                                                    <ul class="m-nav m-nav--skin-light">
                                                        <li class="m-nav__separator m-nav__separator--fit"></li>
                                                        <li class="m-nav__item">
                                                            <div class="col-md-12 row">
                                                                <div class="col-md-6">
                                                                    <a href="/doi-mat-khau.html" title="Đổi mật khẩu" class="btn m-btn--pill btn-secondary m-btn m-btn--label-brand m-btn--bolder">
                                                                        Đổi mật khẩu
                                                                    </a>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <a href="/logout.html" class="btn m-btn--pill btn-secondary m-btn m-btn--label-brand m-btn--bolder" id="btn_logout">
                                                                        &nbsp;&nbsp;&nbsp;Đăng xuất&nbsp;&nbsp;&nbsp;
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>*@
                </div>
            </div>
            <div class="col-12">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <img src="~/images/logo.png" alt="logo" width="180" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <h1>HỆ THỐNG QUẢN LÝ TIMA.VN</h1>
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        @if (Model.IsValidOtp == true && ViewBag.CheckOtp != true)
                        {
                            <a href="#" onclick="SendOtp(@Model.Id, '@Model.Email', '@ViewBag.LOS')">
                                <div class="app">
                                    <i class="icon icon-los"></i>
                                    <div class="site-name">
                                        <h3>los.tima.vn</h3>
                                        <h4>Truy cập</h4>
                                    </div>
                                    <div class="dot">
                                        <img src="~/images/dot.png" alt="dot">
                                    </div>
                                </div>
                            </a>
                        }
                        else
                        {
                            <a onclick="RedirectUrl('@ViewBag.LOS')">
                                <div class="app">
                                    <i class="icon icon-los"></i>
                                    <div class="site-name">
                                        <h3>los.tima.vn</h3>
                                        <h4>Truy cập</h4>
                                    </div>
                                    <div class="dot">
                                        <img src="~/images/dot.png" alt="dot">
                                    </div>
                                </div>
                            </a>
                        }
                        <a onclick="RedirectUrl('@ViewBag.ERP')">
                            <div class="app">
                                <i class="icon icon-erp"></i>
                                <div class="site-name">
                                    <h3>erp.tima.vn</h3>
                                    <h4>Truy cập</h4>
                                </div>
                                <div class="dot">
                                    <img src="~/images/dot.png" alt="dot">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
@*<partial name="~/Views/Shared/_ChangePassword.cshtml" />*@
<partial name="~/Views/Shared/_Otp.cshtml" />
<script src="~/js/jquery-3.6.0.min.js"></script>
<script src="~/js/jquery.form.js"></script>
<script src="~/js/jquery.validate.min.js"></script>
<script src="~/js/toastr.min.js"></script>
<script src="~/js/bootstrap.js"></script>
<script src="~/js/App.js"></script>
@*<script src="~/assets/vendors/base/vendors.bundle.js" type="text/javascript"></script>
    <script src="~/assets/demo/default/base/scripts.bundle.js" type="text/javascript"></script>*@
<script type="text/javascript">
    $(document).ready(function () {
        var isMobile = /iPhone|iPad|iPod|Android/i.test(navigator.userAgent);
        if (isMobile) {
            $('a[target="_blank"]').removeAttr('target');
        }
    });

    function SendOtp(userId, email, linkLos) {
        $('#txt_link_los').val(linkLos);
        $('#txt_userId').val(userId);
        if (email == '' || email == null || email == undefined) {
            $('#_title_otp').html('Vui lòng liên hệ với phòng kỹ thuật để lấy OTP');
        }
        else {
            $('#_title_otp').html('Nhập mã gồm 6 chữ số chúng tôi đã gửi tới email: <span id="_txtemail" style="color: #4285f4">' + email + '</span>');
            $.ajax({
                type: "POST",
                url: "/Home/CheckSendOtp",
                data: { userId: userId, email: email },
                success: function (data) {
                    if (data.status == 2) {
                       // window.location.href = linkLos + "/redirect?token=" + '@Model.Token';
                       linkLos = linkLos + "/redirect?token=" + '@Model.Token';
                       window.open(linkLos, '_blank').focus();
                    }
                },
                traditional: true
            });
        }
        $('#modal_otp').modal("show");
    }

    function CheckOTP(btn) {
        $('#_btn_confirm_loading').addClass("fa fa-spinner fa-spin");
        $(btn).attr('disabled', true);
        var otp = $('#Otp').val();
        if (otp == null || otp == '' || otp == undefined) {
            App.ShowErrorNotLoad("Mã OTP không được để trống");
            $(btn).removeAttr('disabled', true);
            $('#_btn_confirm_loading').removeClass("fa fa-spinner fa-spin");
            return false;
        }
        var userId = $('#txt_userId').val();
        var linkLos = $('#txt_link_los').val();
        $.ajax({
            type: "POST",
            url: "/Home/CheckOTP",
            data: { userId: userId, otp: otp },
            success: function (data) {
                $(btn).removeAttr('disabled', true);
                $('#_btn_confirm_loading').removeClass("fa fa-spinner fa-spin");
                if (data.status == 1) {
                    $('#modal_otp').modal('hide');
                   // window.location.href = linkLos + "/redirect?token=" + data.token;
                    linkLos = linkLos + "/redirect?token=" + data.token;
                    window.open(linkLos, '_blank').focus();
                }
                else if (data.status == -1) {
                    $('#_txt_error').removeAttr('style', 'display: none;');
                    setTimeout(function () {
                        location.href = '../logout.html';
                    }, 2000);
                }
                else {
                    $('#_txt_error').removeAttr('style', 'display: none;');
                    $('#_txt_error').attr('style', 'color: red; font-style: italic;');
                    $('#_txt_error').html(data.message);
                }
            },
            traditional: true
        });
    }

    function RedirectUrl(url) {
        //window.location.href = url + "/redirect?token=" + '@Model.Token';
        url= url + "/redirect?token=" + '@Model.Token';
        window.open(url, '_blank').focus();
    }
</script>
