﻿@{
    Layout = null;
}
<style>
    .m-font-danger {
        color: red;
    }
</style>
<div class="modal fade" id="modal_change_password" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Đổi mật khẩu </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form class="m-form m-form--fit m-form--label-align-right" id="form_change_password">
                <div class="modal-body">
                    <div class="m-portlet__body">

                        <div class="form-group m-form__group row">
                            <label for="example-text-input" class="col-4 col-form-label">Mật khẩu cũ <span class="m-font-danger">*</span></label>
                            <div class="col-8">
                                <input type="password" class="form-control m-input m-input--air" name="txt_change_pasword_old" id="txt_change_pasword_old" placeholder="Nhập mật khẩu cũ">
                            </div>
                        </div>

                        <div class="form-group m-form__group row" id="div-password">
                            <label for="example-text-input" class="col-4 col-form-label">Mật khẩu mới <span class="m-font-danger">*</span></label>
                            <div class="col-8">
                                <input type="password" class="form-control m-input m-input--air" name="txt_change_pasword_new" id="txt_change_pasword_new" placeholder="Nhập mật khẩu mới">
                            </div>
                        </div>

                        <div class="form-group m-form__group row">
                            <label for="example-text-input" class="col-4 col-form-label">Nhập lại mật khẩu mới <span class="m-font-danger">*</span></label>
                            <div class="col-8">
                                <input type="password" class="form-control m-input m-input--air" name="txt_change_pasword_new_retype" id="txt_change_pasword_new_retype" placeholder="Nhập lại mật khẩu mới">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary" onclick="LoginModule.ChangePassword(this,event);">Lưu lại</button>
                </div>
            </form>
        </div>
    </div>
</div>
