﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - SSO</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/styles.css" type="text/css">
    <link href="~/assets/vendors/base/vendors.bundle.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body style="background:#F2F3F8 0% 0% no-repeat padding-box;">
    @RenderBody()

    @Html.AntiForgeryToken()

    <partial name="~/Views/Shared/_MasterModal.cshtml" />
    <!--begin::Base Scripts -->
    <script src="~/js/jquery-3.6.0.min.js"></script>
    <script src="~/js/jquery.form.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/toastr.min.js"></script>
    <script src="/js/LoginModule.js?v=100" type="text/javascript"></script>
    <script src="~/js/App.js?v=100"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
