﻿@{
    Layout = null;
}

<div class="modal fade show" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-lg" role="document" id="divResult">
        
    </div>
</div>