﻿@{
    Layout = null;
}
<style>

    .txtOtp {
        border: none;
        border-bottom: 1px solid rgba(0,0,0,.12);
        display: block;
        font-size: 16px;
        font-family: Helvetica,Arial,sans-serif;
        margin: 0;
        padding: 4px 0;
        width: 100%;
        background: 0 0;
        outline: none;
    }

        .txtOtp:focus,
        .txtOtp:active {
            border-color: transparent;
            border-bottom: 1px solid #ed522e;
        }
</style>
<div class="modal fade" id="modal_otp" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Mã OTP </h5>
                <button type="button" class="close" data-dismiss="modal">x</button>
            </div>
            <form class="m-form m-form--fit m-form--label-align-right">
                <input type="hidden" id="txt_token" />
                <input type="hidden" id="txt_link_los" />
                <input type="hidden" id="txt_userId" />
                <div class="modal-body">
                    <div class="col-md-12 form-group row">
                        <label class="form-control-label col-md-12" style="padding-bottom: 10px; font-size: 15px;" id="_title_otp"></label>
                        <div class="col-md-12">
                            <input class="txtOtp col-md-8" placeholder="Mã 6 chữ số" id="Otp" name="Otp" min="100000" max="999999" />
                        </div>
                    </div>
                    <label class="form-control-label col-md-12" id="_txt_error" style="display: none;"></label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary" onclick="CheckOTP(this)">Xác nhận <i id="_btn_confirm_loading"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>
