﻿@using LOS.DAL.DTOs;
@using LOS.Common.Extensions;
@{
    Layout = null;
    var lstProvince = ViewBag.ListProvince as List<ProvinceDetail>;
    var lstTypeWard = Enum.GetValues(typeof(TypeWard)).Cast<TypeWard>();
}
<style>
    .m-font-danger {
        color: red;
    }
</style>
<div class="modal fade" id="modal_create_ward" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="header_create_ward">Tạo mới Phường/Xã </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form class="m-form m-form--fit m-form--label-align-right" id="form_create_ward">
                <div class="modal-body">
                    <input type="hidden" name="WardId" id="hdd_WardId" value="0" />
                    <div class="form-group row">
                        <div class="col-md-6 col-sm-12">
                            <label for="example-text-input" class="col-form-label">Thành phố <span class="m-font-danger">*</span></label>
                            <select class="form-control m-input m-select2" name="ProvinceId" id="sl_create_province" onchange="ManageWardModule.ChangeDistrict(this.value, '#sl_create_district')">
                                <option></option>
                                @foreach (var item in lstProvince)
                                {
                                    <option value="@item.ProvinceId">@(Description.GetDescription((TypeProvince)item.Type) + " " + item.Name)</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label for="example-text-input" class="col-form-label">Quận/Huyện <span class="m-font-danger">*</span></label>
                            <select class="form-control m-input m-select2" id="sl_create_district" name="DistrictId">
                                <option></option>
                            </select>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label for="example-text-input" class="col-form-label">Tên Phường/Xã <span class="m-font-danger">*</span></label>
                            <input type="text" class="form-control m-input inputsearch" name="Name" id="txt_create_name" placeholder="Nhập tên Phường/Xã">
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label for="example-text-input" class="col-form-label">Loại <span class="m-font-danger">*</span></label>
                            <select class="form-control m-input m-select2" name="Type" id="sl_create_type">
                                <option></option>
                                @foreach (var item in lstTypeWard)
                                {
                                    <option value="@(Convert.ToInt32(item))">@(Description.GetDescription(item))</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-tima-default" data-dismiss="modal">
                        Đóng
                    </button>
                    <button type="button" class="btn btn-tima" onclick="ManageWardModule.AddOrUpdate(this)">
                        Lưu lại
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

