﻿@using LOS.DAL.DTOs;
@using LOS.Common.Extensions;
@{
    Layout = null;
    var lstProvince = ViewBag.ListProvince as List<ProvinceDetail>;
    var lstTypeDistrict = Enum.GetValues(typeof(TypeDistrict)).Cast<TypeDistrict>();
}
<style>
    .m-font-danger {
        color: red;
    }
</style>
<div class="modal fade" id="modal_create_district" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="header_create_district">Tạo mới Quận/Huyện </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form class="m-form m-form--fit m-form--label-align-right" id="form_create_district">
                <div class="modal-body">
                    <input type="hidden" name="DistrictId" id="hdd_DistrictId" value="0" />
                    <div class="form-group row">
                        <div class="col-md-6 col-sm-12">
                            <label for="example-text-input" class="col-form-label">Thành phố <span class="m-font-danger">*</span></label>
                            <select class="form-control m-input m-select2" name="ProvinceId" id="sl_create_province">
                                <option></option>
                                @foreach (var item in lstProvince)
                                {
                                    <option value="@item.ProvinceId">@(Description.GetDescription((TypeProvince)item.Type) + " " + item.Name)</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label for="example-text-input" class="col-form-label">Tên Quận/Huyện <span class="m-font-danger">*</span></label>
                            <input type="text" class="form-control m-input inputsearch" name="Name" id="txt_create_name" placeholder="Nhập tên Quận/Huyện">
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label for="example-text-input" class="col-form-label">Lat Long</label>
                            <input type="text" class="form-control m-input inputsearch" name="LatLong" id="txt_create_latlong" placeholder="Nhập Lat, Long">
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label for="example-text-input" class="col-form-label">Loại <span class="m-font-danger">*</span></label>
                            <select class="form-control m-input m-select2" name="Type" id="sl_create_type">
                                <option></option>
                                @foreach (var item in lstTypeDistrict)
                                {
                                    <option value="@(Convert.ToInt32(item))">@(Description.GetDescription(item))</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label for="example-text-input" class="col-form-label">Hỗ trợ </label>
                            <div class="m-checkbox-list">
                                <label class="m-checkbox m-checkbox--state-brand" style="font-size: 1rem;">
                                    <input type="checkbox" value="true" id="cb_IsApply" name="IsApply">
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-tima-default" data-dismiss="modal">
                        Đóng
                    </button>
                    <button type="button" class="btn btn-tima" onclick="ManageDistrictModule.AddOrUpdate(this)">
                        Lưu lại
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

