﻿@model LOS.DAL.DTOs.UserDetail
<!-- BEGIN: Header -->
@if (Model != null)
{
<header class="m-grid__item    m-header " data-minimize-offset="200" data-minimize-mobile-offset="200">
    <div class="m-container m-container--fluid m-container--full-height">
        <div class="m-stack m-stack--ver m-stack--desktop">
            <!-- BEGIN: Brand -->
            <div class="m-stack__item m-brand  m-brand--skin-dark ">
                <div class="m-stack m-stack--ver m-stack--general">
                    <div class="m-stack__item m-stack__item--middle m-brand__logo">
                        <a href="~/trang-chu.html" class="m-brand__logo-wrapper">
                            <img alt="" src="~/img/logo_tima.svg" width="100" />
                        </a>
                    </div>
                    <div class="m-stack__item m-stack__item--middle m-brand__tools">
                        <!-- BEGIN: Left Aside Minimize Toggle -->
                        <a href="javascript:;" id="m_aside_left_minimize_toggle" class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-desktop-inline-block">
                            <span></span>
                        </a>
                        <!-- END -->
                        <!-- BEGIN: Responsive Aside Left Menu Toggler -->
                        <a href="javascript:;" id="m_aside_left_offcanvas_toggle" class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-tablet-and-mobile-inline-block">
                            <span></span>
                        </a>
                        <!-- END -->
                        <!-- BEGIN: Responsive Header Menu Toggler -->
                        <a id="m_aside_header_menu_mobile_toggle" href="javascript:;" class="m-brand__icon m-brand__toggler m--visible-tablet-and-mobile-inline-block">
                            <span></span>
                        </a>
                        <!-- END -->
                        <!-- BEGIN: Topbar Toggler -->
                        <a id="m_aside_header_topbar_mobile_toggle" href="javascript:;" class="m-brand__icon m--visible-tablet-and-mobile-inline-block">
                            <i class="flaticon-more"></i>
                        </a>
                        <!-- BEGIN: Topbar Toggler -->
                    </div>
                </div>
            </div>
            <!-- END: Brand -->
            <div class="m-stack__item m-stack__item--fluid m-header-head" id="m_header_nav">
                <!-- BEGIN: Horizontal Menu -->
                <button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-dark " id="m_aside_header_menu_mobile_close_btn">
                    <i class="la la-close"></i>
                </button>
                <div id="m_header_menu" class="m-header-menu m-aside-header-menu-mobile m-aside-header-menu-mobile--offcanvas  m-header-menu--skin-light m-header-menu--submenu-skin-light m-aside-header-menu-mobile--skin-dark m-aside-header-menu-mobile--submenu-skin-dark ">
                    @if (Model.ShopGlobal > 0)
                        {
                    @*<ul class="m-menu__nav  m-menu__nav--submenu-arrow ">
                            <li class="m-menu__item m-menu__item--submenu m-menu__item--rel m-menu__item--open-dropdown" data-menu-submenu-toggle="click" data-redirect="true" aria-haspopup="true">
                                <a href="#" class="m-menu__link m-menu__toggle">
                                    <i class="m-menu__link-icon flaticon-placeholder-1"></i>
                                    <span class="m-menu__link-text">
                                        @Model.ShopGlobalName
                                    </span>
                                </a>

                            </li>
                        </ul>*@
                    <ul class="m-menu__nav  m-menu__nav--submenu-arrow ">
                        <li class="m-menu__item m-menu__item--submenu m-menu__item--rel" data-menu-submenu-toggle="click" data-redirect="true" aria-haspopup="true">
                            <a href="#" class="m-menu__link m-menu__toggle">
                                <i class="m-menu__link-icon flaticon-placeholder-1"></i>
                                <span class="m-menu__link-text">
                                    @Model.ShopGlobalName
                                </span>
                            </a>
                            @if (Model.ListShop != null && Model.ListShop.Count > 1)
                                    {
                            <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left">
                                <span class="m-menu__arrow m-menu__arrow--adjust" style="left: 73px;"></span>
                                @if(Model.ListShop.Count > 10){
                                <ul class="m-menu__subnav" style="height: 400px; overflow: scroll">
                                    @foreach(var item in Model.ListShop)
                                                {
                                                    if (item.ShopId != Model.ShopGlobal)
                                                    {
                                    <li class="m-menu__item " aria-haspopup="true">
                                        <a href="#" class="m-menu__link " onclick="UserModule.ChangeShopGlobal(@item.ShopId, '@item.Name')">
                                            <i class="m-menu__link-icon flaticon-placeholder-1"></i>
                                            <span class="m-menu__link-text">
                                                @item.Name
                                            </span>
                                        </a>
                                    </li>
                                                    }
                                                }
                                </ul>
                                            }else{
                                <ul class="m-menu__subnav">
                                    @foreach (var item in Model.ListShop)
                                                {
                                                    if (item.ShopId != Model.ShopGlobal)
                                                    {
                                    <li class="m-menu__item " aria-haspopup="true">
                                        <a href="#" class="m-menu__link " onclick="UserModule.ChangeShopGlobal(@item.ShopId, '@item.Name')">
                                            <i class="m-menu__link-icon flaticon-placeholder-1"></i>
                                            <span class="m-menu__link-text">
                                                @item.Name
                                            </span>
                                        </a>
                                    </li>
                                                    }
                                                }
                                </ul>
                                            }

                                @*<ul class="m-menu__subnav" @( Model.ListShop.Count > 10 ? "stype=\"height: 400px; overflow: scroll\"":"")>*@


                            </div>
                                    }
                        </li>
                    </ul>
                        }

                </div>
                <!-- END: Horizontal Menu -->								<!-- BEGIN: Topbar -->
                <div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general">
                    <div class="m-stack__item m-topbar__nav-wrapper">
                        <ul class="m-topbar__nav m-nav m-nav--inline">
                            <li class="m-nav__item m-topbar__user-profile m-topbar__user-profile--img  m-dropdown m-dropdown--medium m-dropdown--arrow m-dropdown--header-bg-fill m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light" data-dropdown-toggle="click">
                                <a href="#" class="m-nav__link m-dropdown__toggle">
                                    <span class="m-topbar__userpic">
                                        <span style="float:left; padding-top: 10px; padding-right: 10px">@Model.Username</span>
                                        <img style="float: right" src="~/assets/app/media/img/users/user4.jpg" class="m--img-rounded m--marginless m--img-centered" alt="" />
                                    </span>
                                </a>
                                <div class="m-dropdown__wrapper">
                                    <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                    <div class="m-dropdown__inner">
                                        <div class="m-dropdown__header m--align-center" style="background: url(/assets/app/media/img/misc/user_profile_bg.jpg); background-size: cover;">
                                            <div class="m-card-user m-card-user--skin-dark">
                                                <div class="m-card-user__pic">
                                                    <img src="~/assets/app/media/img/users/user4.jpg" class="m--img-rounded m--marginless" alt="" />
                                                </div>
                                                <div class="m-card-user__details">
                                                    <span class="m-card-user__name m--font-weight-500">
                                                        @Model.FullName
                                                    </span>
                                                    <a href="" class="m-card-user__email m--font-weight-300 m-link">
                                                        @Model.Email
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="m-dropdown__body">
                                            <div class="m-dropdown__content">
                                                <ul class="m-nav m-nav--skin-light">
                                                    <li class="m-nav__section m--hide">
                                                        <span class="m-nav__section-text">
                                                            Section
                                                        </span>
                                                    </li>
                                                    <li class="m-nav__item">
                                                        <a href="~/my-profile.html" class="m-nav__link">
                                                            <i class="m-nav__link-icon flaticon-profile-1"></i>
                                                            <span class="m-nav__link-title">
                                                                <span class="m-nav__link-wrap">
                                                                    <span class="m-nav__link-text">
                                                                        My Profile
                                                                    </span>
                                                                </span>
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li class="m-nav__separator m-nav__separator--fit"></li>
                                                    <li class="m-nav__item">
                                                        <div class="col-md-12 row">
                                                            <div class="col-md-6">
                                                                <a href="#" class="btn m-btn--pill btn-secondary m-btn m-btn--label-brand m-btn--bolder" data-toggle="modal" data-target="#modal_change_information_user" id="btn_update_infomation_user" onclick="UserModule.ChangeInformation(@Model.UserId, '@Model.FullName', '@Model.Phone', '@Model.Email', '@Model.TypeCallService', '@Model.Ipphone', '@Model.CiscoUsername', '@Model.CiscoPassword', '@Model.CiscoExtension' )">
                                                                    &nbsp;&nbsp;&nbsp;Cập nhập&nbsp;&nbsp;&nbsp;
                                                                </a>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <a href="~/logout.html" onclick="UserModule.Logout()" class="btn m-btn--pill btn-secondary m-btn m-btn--label-brand m-btn--bolder" id="btn_logout">
                                                                    &nbsp;&nbsp;&nbsp;Đăng xuất&nbsp;&nbsp;&nbsp;
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- END: Topbar -->
            </div>
        </div>
    </div>
</header>
}
<!-- END: Header -->
<partial name="~/Views/Users/Partial/_change_password.cshtml" />
<partial name="~/Views/Users/Partial/_change_infomation_user.cshtml" />
<script src="~/js/User/UserModule.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
