﻿@model LOS.WebApp.Models.Groups.GroupItem
@{
    ViewData["Title"] = "Quản lý menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="m-content" id="box-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Thông tin nhóm tài khoản
                    </h3>
                </div>
            </div>
        </div>
        <!--begin: Search Form -->
        <div class="m-portlet m-portlet--tab">
            <!--begin::Form-->
            <form class="m-form m-form--fit m-form--label-align-right">
                <input type="hidden" value="@Model.GroupId" name="GroupId" id="txtGroupID" />
                <input type="hidden" value="" name="lstMenu" id="lstMenu" />
                <div class="m-portlet__body">
                    <div class="form-group m-form__group row">
                        <label for="example-text-input" class="col-2 col-form-label">
                            Tên nhóm tài khoản
                        </label>
                        <div class="col-3">
                            <input class="form-control m-input" type="text" name="GroupName" value="@Model.GroupName" placeholder="Nhóm tài khoản">
                        </div>
                        <label for="example-text-input" class="col-1 col-form-label">
                            Mô tả
                        </label>
                        <div class="col-3">
                            <input class="form-control m-input" value="@Model.Description" name="Description" placeholder="Mô tả" type="text">
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <label for="example-text-input" class="col-2 col-form-label">
                            Đường dẫn mặc định
                        </label>
                        <div class="col-3">
                            <input class="form-control m-input" type="text" value="@Model.DefaultPath" name="DefaultPath" placeholder="/">
                        </div>
                    </div>
                </div>
                @*<div class="m-portlet__body" id="div_tree" style="">*@
                <div class="form-group  m-form__group row " style="min-height: 100px">
                    <div class="col-4">
                        <div class="m-portlet m-portlet--tab" style="margin-bottom: 15px !important;">
                            <div class="m-portlet__head" style="height:0!important">
                                <div class="m-portlet__head-caption">
                                    <div class="m-portlet__head-title">
                                        <div style="margin: 15px 5px;">
                                            <i class="la la-gear">Phân quyền menu</i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="m-portlet__body">
                                <div class="form-group m-form__group">
                                    <div id="m_tree_3" class="tree-demo"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="m-portlet m-portlet--tab" style="margin-bottom: 15px !important;">
                            <div class="m-portlet__head" style="height:0!important">
                                <div class="m-portlet__head-caption">
                                    <div class="m-portlet__head-title">
                                        <div style="margin: 15px 5px;">
                                            <i class="la la-gear">Phân quyền truy cập</i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="m-portlet__body">
                                <div class="form-group m-form__group" id="boxActionPermisson" style="padding: 0px;">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__foot m-portlet__foot--fit">
                    <div class="m-form__actions">
                        <div class="row" style="float: right;">
                            <a href="/group-manager.html" id="btn btn-tima-default" class="btn btn-secondary" style="margin-right: 15px;">
                                Hủy
                            </a>
                            <button type="reset" class="btn btn-tima" onclick="GroupModule.AddGroup(this,event);">
                                Lưu
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts
    {
    <script src="~/js/GroupModule.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var groupid = $('#txtGroupID').val();
            GroupModule.GetData(groupid);
            GroupModule.GetActionPermisson(groupid);
        });
        $(document).on('click', '#btn_Huy', function () {
            window.location.href = '/group-manager.html';
        })
    </script>
}

