﻿@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/form.css?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS" rel="stylesheet" />
<style>

    #tableMenu tbody {
        padding: 0 !important;
    }

    #linkName:hover {
        text-decoration: none !important;
    }

    .marginleft {
        margin-left: 25px;
    }

    .custom-table-tima > .m-datatable__table > .m-datatable__head .m-datatable__row {
        height: 50px !important;
    }

    .m-portlet .m-portlet__body {
        padding: 0rem 2.2rem;
    }

    .form-group {
        margin-bottom: 0px;
    }

    .m-portlet .m-portlet__body {
        padding-bottom: 20px;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        position: relative;
        padding: 0.65rem 0rem;
        line-height: 1.25;
    }
</style>
<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Danh sách nhóm tài khoản
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <!--begin: Search Form -->
            <div class="m-form m-form--label-align-right m--margin-bottom-10">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <div class="col-lg-3 col-md-6 col-sm-12" style="padding: 10px;">
                                <div class="m-input-icon m-input-icon--left">
                                    <input type="text" class="form-control m-input inputsearch" placeholder="Tìm kiếm" id="filterName">
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-12 col-sm-12" style="padding: 10px; text-align: end;">
                                <div class="m-form__control">
                                    <a href="/group" class="btn btn-tima">
                                        Tạo nhóm tài khoản
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end: Search Form -->
            <hr style="color: #333333;" />
            <table class="m-datatable__table dtform" width="100%" id="tbManageGroup"></table>

        </div>
    </div>
</div>
<div class="modal fade" id="m_modal_Group" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" id="modelGroup">

    </div>
</div>
<div class="modal fade" id="modalPermissionData" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" id="bodyPermissionData" style="max-width: 60%;">

    </div>
</div>
<div class="modal fade" id="modalPermissionApi" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" id="bodyPermissionApiUser">

    </div>
</div>
<div class="modal fade" id="modalPermissionApiGroup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" id="bodyPermissionApiGroup" style="max-width: 80%;">

    </div>
</div>
@section Scripts
{
    <script src="~/js/GroupModule.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            GroupModule.Init();
        });
    </script>
}

