﻿@model LOS.WebApp.Models.RemarketingTlsViewModel
@using LOS.Common.Extensions;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/form.css?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS" rel="stylesheet" />
<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Khởi tạo lại đơn remarketing
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <!--begin: Search Form -->
            <div class="row align-items-center">
                <div class="col-xl-12 order-2 order-xl-1">
                    <div class="m-form__group form-group row">
                        <div class="col-md-2">
                            <label>
                                Trạng thái
                            </label>
                            <select class="form-control m-select2" id="filterStatus" onchange="RemarketingTlsModule.ChangeStatus(this.value)">
                                <option value="@((int)EnumLoanStatus.CANCELED)" selected>@Description.GetDescription(EnumLoanStatus.CANCELED)</option>
                            </select>
                        </div>

                        <div class="col-md-2">
                            <label>
                                Lý do hủy
                            </label>
                            <select class="form-control m-select2" id="filterAction" onchange="RemarketingTlsModule.ChangeDetailReason(this.value)">
                                <option selected value="-1">Tất cả</option>
                                <option value="-2">Lý do hủy của Hub</option>
                                @if (Model != null && Model.ListReasonGroup != null)
                                {
                                    foreach (var item in Model.ListReasonGroup)
                                    {
                                        <option value="@item.Id">@item.Reason</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label>
                                Lý do hủy chi tiết
                            </label>
                            <select class="form-control m-select2" id="filterDetailReson">
                                <option selected value="-1">Tất cả</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label>
                                Ngày hủy đơn
                            </label>
                            <div class="input-group date">
                                <input style="margin-right: -15%;cursor:pointer;color:#9CA0B6;" type="text" class="form-control inputsearch" readonly="" id="filterCancelTime" placeholder="Thời gian hủy đơn">
                                <i class="fa fa-calendar" style="padding-top: 3%;font-size: 15pt;"></i>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label>
                                Ngày tạo đơn
                            </label>
                            <div class="input-group date">
                                <input style="margin-right: -15%;cursor:pointer;color:#9CA0B6;" type="text" class="form-control inputsearch" readonly="Chọn ngày" id="filterTime">
                                <i class="fa fa-calendar" style="padding-top: 3%;font-size: 15pt;"></i>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label>
                                Thành phố
                            </label>
                            <select class="form-control m-select2" id="filterProvince">
                                <option></option>
                                <option value="-1" selected>Tất cả</option>
                                <option value="@((int)EnumProvince.HaNoi)">@LOS.Common.Helpers.ExtentionHelper.GetDescription(EnumProvince.HaNoi)</option>
                                <option value="@((int)EnumProvince.HCM)">@LOS.Common.Helpers.ExtentionHelper.GetDescription(EnumProvince.HCM)</option>
                                <option value="@((int)EnumProvince.BacNinh)">@LOS.Common.Helpers.ExtentionHelper.GetDescription(EnumProvince.BacNinh)</option>
                                <option value="@((int)EnumProvince.HaiDuong)">@LOS.Common.Helpers.ExtentionHelper.GetDescription(EnumProvince.HaiDuong)</option>
                                <option value="@((int)EnumProvince.VinhPhuc)">@LOS.Common.Helpers.ExtentionHelper.GetDescription(EnumProvince.VinhPhuc)</option>
                                <option value="@((int)EnumProvince.BinhDuong)">@LOS.Common.Helpers.ExtentionHelper.GetDescription(EnumProvince.BinhDuong)</option>
                                <option value="@((int)EnumProvince.BacGiang)">@LOS.Common.Helpers.ExtentionHelper.GetDescription(EnumProvince.BacGiang)</option>
                            </select>
                        </div>
                    </div>
                    <div class="m-form__group form-group row m--padding-top-10">
                        <div class="col-md-2">
                            <label>
                                UtmSource
                            </label>
                            <input type="text" class="form-control m-input inputsearch" placeholder="utm_source" id="filterUtmSource">
                        </div>
                        <div class="col-md-2">
                            <label>
                                Mã HĐ/ Số điện thoại
                            </label>
                            <input type="text" class="form-control m-input inputsearch" id="filterTextSearch" placeholder="Mã HĐ/ Số điện thoại">
                        </div>

                        <div class="col-md-2 m--padding-top-30">
                            <div>
                                <a href="javascript:;" class="btn btn-tima" style="cursor:pointer;" id="btnSearch">
                                    Tìm kiếm
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="m-form__group form-group row">
                        <div class="col-md-4">
                            <a href="javascript:;" class="btn btn-tima" style="cursor:pointer;" onclick="RemarketingTlsModule.ReCreateLoanbrief()">
                                Khởi tạo lại
                            </a>
                            <a href="javascript:;" class="btn btn-tima" style="cursor:pointer;" onclick="RemarketingTlsModule.ReCreateLoanbriefAll()">
                                Khởi tạo lại tất cả
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!--begin: Datatable -->
            <table class="m-datatable__table dtform tableCheckAll" width="100%" id="dtListLoan"></table>
        </div>
    </div>
</div>


@section Scripts
{
    <script src="~/js/CareSoftModule.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/Remarketing/RemarketingTlsModule.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>
    <script src="~/js/CommonModalJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            RemarketingTlsModule.Init();
            App.Init();
        });

    </script>
}
