﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/form.css?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS" rel="stylesheet" />
@*@await Component.InvokeAsync("Breadcrumb", new { ModuleName = "LOAN_BRIEF_MANAGER" })*@
<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Remarketing đơn
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <!--begin: Search Form -->
            <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                <div class="row align-items-center">
                    <div class="col-xl-12 order-2 order-xl-1">
                        <div class="form-group m-form__group row align-items-center">

                            <div class="selectbox">
                                <div class="form-group m-form__group">
                                    <div class="m-form__control">
                                        <select class="form-control m-select2" id="filterAction">
                                            <option></option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="selectbox">
                                <div class="form-group m-form__group">
                                    <div class="m-form__control">
                                        <select class="form-control m-select2" id="filterProvince">
                                            <option value="@LOS.Common.Extensions.EnumCitySearch.HN.GetHashCode()">Hà Nội</option>
                                            <option value="@LOS.Common.Extensions.EnumCitySearch.HCM.GetHashCode()">Hồ Chí Minh</option>
                                            <option value="@LOS.Common.Extensions.EnumCitySearch.BN.GetHashCode()">Bắc Ninh</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="selectbox">
                                <div class="form-group m-form__group">
                                    <div class="m-form__control">
                                        <select class="form-control m-select2" id="filterProduct">
                                            <option></option>
                                        </select>
                                    </div>
                                </div>
                            </div>


                            <div style="width:12%;margin-right:1%;">
                                <div class="input-group date">
                                    <input style="margin-right: -15%;cursor:pointer;color:#9CA0B6;" type="text" class="form-control inputsearch" readonly="" id="filtercreateTime" placeholder="Thời gian tạo">
                                    <i class="fa fa-calendar" style="padding-top: 3%;font-size: 15pt;"></i>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group m-form__group">
                                    <div class="m-form__control">
                                        <a href="javascript:;" style="cursor:pointer;" id="btnSearch">
                                            <img src="~/img/search.png" alt="Tìm kiếm" style="height: 38px;" />
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>
            </div>
            <!--end: Search Form -->
            <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                <div class="row align-items-center">
                    <div class="col-xl-9 order-2 order-xl-1">
                        <div class="form-group m-form__group row align-items-center">
                            <div class="col-md-2">
                                <div class="form-group m-form__group">
                                    <div class="m-input-icon m-input-icon--left">
                                        <span style="font-family: 'Poppins Bold', 'Poppins Regular', 'Poppins', sans-serif;font-weight: 700;font-style: normal;color: #6C7293;">Danh sách đơn</span>
                                    </div>
                                </div>
                            </div>


                            <div>
                                <div class="form-group m-form__group">
                                    <div class="m-form__control">
                                        <button type="button" class="chuyen-ho-tro" onclick="RemarketingModule.CloneLoan();">
                                            Khởi tạo lại
                                        </button>
                                    </div>

                                </div>
                            </div>

                         


                        </div>
                    </div>

                </div>
            </div>

            <hr style="color: #333333;" />
            <!--begin: Datatable -->
            <table class="m-datatable__table dtform" width="100%" id="dtRemarketing"></table>
        </div>
    </div>
</div>


@section Scripts
{
    <script src="/js/RemarketingModule.js" type="text/javascript"></script>
  
    <script type="text/javascript">
        $(document).ready(function () {
            RemarketingModule.Init();
        });
    </script>
}

<style>
    div.dropdown-menu.open {
        max-height: 314px !important;
        overflow: hidden;
    }

    ul.dropdown-menu.inner {
        max-height: 260px !important;
        overflow-y: auto;
    }
</style>