﻿@model List<LOS.DAL.DTOs.ShopDetail>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = ViewBag.User as LOS.DAL.DTOs.UserDetail;
}
<link href="~/css/form.css?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS" rel="stylesheet" />
@*@await Component.InvokeAsync("Breadcrumb", new { ModuleName = "LOAN_BRIEF_MANAGER" })*@
<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Danh sách đơn vay
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <!--begin: Search Form -->
            <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">                
                <div class="row align-items-center  m-form__group">
                    <div class="col-xl-12 order-2 order-xl-1">
                        <div class="row align-items-center">

                            <div class="col-md-2">
                                <div class="form-group m-form__group">
                                    <div class="m-form__control">
                                        <select class="form-control m-select2" id="sl_ListHub">
                                            <option></option>
                                            @if (Model != null && Model.Count > 0)
                                            {
                                                foreach (var item in Model)
                                                {
                                                    <option value="@item.ShopId">@item.Name</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="form-group m-form__group">
                                    <div class="m-form__control">
                                        <button type="button" class="btn btn-tima" onclick="RemarketingCarModule.ChangeSupport()">
                                            Chuyển hỗ trợ
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end: Search Form -->
            <!--<div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                <div class="row align-items-center">
                    <div class="col-xl-9 order-2 order-xl-1">
                        <div class="form-group m-form__group row align-items-center">
                            <div class="col-md-2  col-sm-12">
                                <div class="form-group m-form__group">
                                    <div class="m-input-icon m-input-icon--left">
                                        <span style="font-family: 'Poppins Bold', 'Poppins Regular', 'Poppins', sans-serif;font-weight: 700;font-style: normal;color: #6C7293;">Danh sách đơn</span>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-3 col-sm-12">
                                <div class="form-group m-form__group">
                                    <div class="m-form__control">
                                        <select class="form-control" id="filterApprove">
                                            <option></option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="form-group m-form__group">
                                    <div class="m-form__control">
                                        <button type="button" class="chuyen-ho-tro" onclick="ApproveEmpModule.ChangeSupport();">
                                            Chuyển hỗ trợ
                                        </button>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <hr style="color: #333333;" />-->
            <!--begin: Datatable -->
            <table class="m-datatable__table dtform" width="100%" id="dtRemarketingCar"></table>
        </div>
    </div>
</div>

@section Scripts
{

    <script src="~/js/RemarketingCarModule.js" type="text/javascript"></script>
    <script src="~/js/CommonModalJS.js?v=@LOS.WebApp.Helpers.Constants.CONSTANTS_VERSION_JS"></script>   

    <script type="text/javascript">
        $(document).ready(function () {
            RemarketingCarModule.Init();
            App.Init();
        });
    </script>
}
